<template>
  <div>

    <page-header />

    <!-- wrapper -->
    <page-body />
    <!-- /wrapper -->

  </div>
</template>
 

<script>
import pageHeader from "./components/page_header.vue";
import pageBody from "./components/page_body.vue";

export default {
  components: {
    pageHeader,
    pageBody
  }
}
</script>

<style src="./invoice_app.scss" lang="scss"></style>
