// /* invoice-terms */
// .invoice-terms {
//   padding: 35px 20px 30px 20px;
//   border-bottom: 1px solid #77787e;

//   &__col {
//     width: 45%;
//   }

//   &__line {
//     margin-bottom: 20px;
//   }

//   &__title {
//     color: hsla(0, 0%, 100%, 0.6);
//     margin-bottom: 10px;
//   }
// }

// /* app-invoice__invoice-buttons */
// .app-invoice__invoice-buttons {
//   &_right {
//     display: flex;
//     justify-content: flex-end;
//   }

//   &_button-send {
//     width: 190px !important;
//   }
// }

// .app-invoice-invoice-details {
//   display: flex;
//   justify-content: space-around;
//   padding-top: 30px;

//   &__col {
//     width: 25%;
//   }

//   tr td {
//     vertical-align: top;
//     padding-bottom: 30px;
//   }

//   tr td:first-child {
//     color: hsla(0, 0%, 100%, 0.6);
//     width: 45%;
//   }

//   tr td:nth-child(2n) {
//     padding-left: 25px;
//   }
// }

// /* app-invoice-account-info */
// .app-invoice-account-info {
//   width: 40%;
//   display: flex;
//   justify-content: space-between;

//   &__id {
//     font-size: 18px;
//     color: hsla(0, 0%, 100%, 0.6);
//   }

//   &__account-link {
//     font-size: 24px;
//     color: rgb(0, 180, 250) !important;
//     font-weight: 300 !important;
//   }

//   &__adress {
//     font-size: 18px;
//     margin-top: 10px;
//   }
// }

// /* invoice-create-item-form */
// .invoice-create-item-form {
//   &__line {
//     margin-bottom: 25px;
//     text-align: left;

//     &_last {
//       margin-bottom: 10px;
//     }
//   }

//   &__title {
//     display: block;
//     text-align: left;
//   }

//   &__col {
//     width: 47%;
//     text-align: left;
//   }
// }

// // Styles for uneditable inputs

// .sortable-chosen {
//   background-color: #75777d;
//   transition: background-color .3s ease-in-out;
// }

// .app-detailed {
//   &_input {
//     &--disabled {
//       background-color: #30323a;
//       box-shadow: none;
//       width: 100%;
//       border: 1px solid #30323a;
//       padding: 0 12px 0 0;
//       color: #fff;
//       font-size: 16px;
//       font-weight: 300;
//       font-family: Lato, sans-serif;
//       transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s,
//         padding ease-in-out 0.15s;
//       box-sizing: border-box;

//       &:hover {
//         cursor: pointer;
//       }
//     }
//     &--focused {
//       font-size: 16px;
//       box-sizing: border-box;
//       font-weight: 300;
//       font-family: Lato, sans-serif;
//       padding: 6px 12px;
//       padding-right: 0;
//       transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
//       padding: ease-in-out 0.15s;
//     }
//   }
// }

// //end invoice styles

// /* invoice-create-item-form */
// .invoice-create-item-form {
//   &__line {
//     margin-bottom: 25px;
//     text-align: left;

//     &_last {
//       margin-bottom: 10px;
//     }
//   }

//   &__title {
//     display: block;
//     text-align: left;
//   }

//   &__col {
//     width: 47%;
//     text-align: left;
//   }
// }
