{% extends 'form_div_layout.html.twig' %}

{%- block form_row -%}
        {{- form_errors(form) -}}
        {{- form_widget(form) -}}
        {{- form_label(form) -}}
{%- endblock form_row -%}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
                {%- for error in errors -%}
                        {{ error.message }} <br>
                {%- endfor -%}
    {%- endif -%}
{%- endblock form_errors -%}
