{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}
    <div class="app-main__page-title app-wrapper">
        <div class="app-main__page-title-name">Global update of Inspections Due Dates</div>
    </div>
    <div class="app-form app-form--flex app-form--bordered">
        <div class="app-form-header">Update Inspection Due Dates</div>
        {% if success | length %}
            <div class="app-service-label app-status-label--yellow">{{ success.done }} inspection(s) were updated</div>
            {% if success.allCount != 0 %}
                <div class="app-service-label app-status-label--yellow">&nbsp {{ success.allCount - success.done }} inspection(s) left</div>
            {% endif %}
        {% endif %}
        {% if failMessage %}
            <div class="app-service-label app-status-label--red">'Select Year From' should not be equal 'Select Year To'</div>
        {% endif %}
        {{ form_start(form, { 'attr' : { 'class' : "app-form--wide" }}) }}
            <div class="form-group">
                <label>Select Inspection Service:<span class="app-required-label">*</span></label>
                {{ form_widget(form.named, { 'attr' : { 'class' : "selectpicker form-control" }}) }}
            </div>
            <div class="form-group">
                <label>Select Target Month:<span class="app-required-label">*</span></label>
                {{ form_widget(form.months, { 'attr' : { 'class' : "selectpicker form-control" }}) }}
            </div>
            <div class="app-wrapper">
                <div class="app-form-dropdown--medium form-group">
                    <label>Select Year From:<span class="app-required-label">*</span></label>
                    {{ form_widget(form.year, { 'attr' : { 'class' : "selectpicker form-control" }}) }}
                </div>
                <div class="app-form-input--medium form-group">
                    <label>Select Year To:</label>
                    {{ form_widget(form.yearTo, { 'attr' : { 'class' : "selectpicker form-control" }}) }}
                </div>
            </div>
            <div class="app-form-button--right">
                <button type="submit" class="app-form-button btn " autocomplete="off">UPDATE</button>
                <a href="{{ path('admin_dashboard') }}" class="app-form-button app-form-button--grey app-form-button--indent btn">CANCEL</a>
            </div>
        </form>
    </div>
{% endblock %}