{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}
			<div class="app-main__page-title app-wrapper">
				<div class="app-main__page-title-name">Backflow Gauges</div>
				<div class="app-wrapper">
					<div class="app-common-information__data">{{ equipmentList.results | length }}
						<span class="app-font--small">Gauges</span>
					</div>
				</div>
			</div>
			{% if  equipmentList.results | length %}
				<div class="app-data">
					<table class="table app-data__table app-bordered--shadow">
						<thead>
						<tr class="app-color--inactive">
							<th colspan="2"></th>
							<th>Make</th>
							<th>Model</th>
							<th>Serial Number</th>
							<th>Last Calibrated Date</th>
							<th>Next Calibration Date</th>
							<th>Company Supplied Gauge</th>
							<th>Used By</th>
						</tr>
						</thead>
						<tbody>
							{% for equipment in  equipmentList.results %}
								<tr>
									<td></td>
									<td class="contractors-table__icon-block contractors-table__icon-block--gauge"> 
										<div>
										<img src="{{ asset('bundles/admin/dist/images/equipment-white.svg')}}" class="app-contractor-users-gauges__view-icon">
										</div>
									</td>
									<td>
										{{ equipment.make is defined ? equipment.make : "-"}}
									</td>
									<td>
										{{ equipment.model is defined ? equipment.model : "-"}}
									</td>
									<td>{{ equipment.serialNumber is defined ? equipment.serialNumber : "-"}}</td>
									<td>
										{% if not equipment.lastCalibratedDate %}
											<span class="app-color--inactive app-device-styles_table--no-data">No Date</span>
											<img class="app-contact-list__warning app-contact-list__warning--middle" alt="warning image" src="{{ asset('bundles/admin/dist/images/warning.svg')}}">
										{% else%}
											{{ equipment.lastCalibratedDate | date("m.d.Y") }}
										{% endif %}
									</td>
									<td>

										{% if not equipment.nextCalibratedDate %}
											<span class="app-color--inactive app-device-styles_table--no-data">No Date</span>
											<img class="app-contact-list__warning app-contact-list__warning--middle" alt="warning image" src="{{ asset('bundles/admin/dist/images/warning.svg')}}">
										{% elseif date(equipment.nextCalibratedDate) > date("now") %}
											{{ equipment.nextCalibratedDate | date("m.d.Y") }}
										{% else %}
											<span class="app-color--inactive app-device-styles_table--no-data">{{ equipment.nextCalibratedDate | date("m.d.Y") }}</span>
											<img class="app-contact-list__warning app-contact-list__warning--middle" alt="warning image" src="{{ asset('bundles/admin/dist/images/warning.svg')}}">
										{% endif %}
									</td>
									<td>{{ equipment.companySuppliedGauge ? "Yes" : "No"}}</td>
									<td>
										{% if equipment.contractorUser is  defined and equipment.contractorUser %}
											<img src="/bundles/admin/dist/images/contractor_user.svg" class="app-devices-table__service-img_company-icon" />
											<a href="{{ path('admin_contractor_user_view', {'contractorUser': equipment.contractorUser.id }) }}" target="_blank" class="app-link__select">
												{{ equipment.contractorUser.user.firstName ? equipment.contractorUser.user.firstName : ""}}
												{{ equipment.contractorUser.user.lastName ? " "~equipment.contractorUser.user.lastName : "" }}
											</a>
										{% else %}
											-
										{% endif %}
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				{% if equipmentList.pagesCount is defined and equipmentList.pagesCount > 1 %}
					<div class="pagination app-bordered--shadow">
						<a class="app-pagination-arrow{{ equipmentList.currentPage == 1 ? ' disabled' : '' }}" href="{{ path('admin_equipment_list', {
							'page' : equipmentList.currentPage - 1,
						}) }}">«</a>
						{% for i in range(1, equipmentList.pagesCount) %}
							<a {% if equipmentList.currentPage == i %} class="app-active-page" {% endif %} href="{{ path('admin_equipment_list', {
								'page' : i,
							}) }}">{{ i }}</a>
						{% endfor %}
						<a class="app-pagination-arrow{{ equipmentList.currentPage == equipmentList.pagesCount ? ' disabled' : '' }}" href="{{ path('admin_equipment_list', {
							'page' : equipmentList.currentPage + 1,
						}) }}">»</a>
					</div>
				{% endif %}
			{% else %}
				<div class="app-data__not-found">No equipment available</div>
			{% endif %}
{% endblock %}