<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    {#<meta name="viewport" content="width=device-width, initial-scale=1.0">#}
    <meta name="application-name" content="Web Starter Kit">
    <meta name="theme-color" content="#000000">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link href="{{ asset('bundles/admin/dist/styles/main.css?18.07.2017v.1')}}" rel="stylesheet">

    <title>ABFP Admin Panel</title>

</head>

<body>
    {% block body %}

    {% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.1/jquery.validate.min.js"></script>

    <!-- build:js /scripts/login.min.js -->
    <script src="{{ asset('bundles/admin/dist/scripts/login.min.js')}}"></script>
    <!-- endbuild -->
</body>

</html>
