<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="">
    <meta name="application-name" content="Web Starter Kit">
    <meta name="theme-color" content="#000000">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    <link href="{{ asset('bundles/admin/dist/styles/main.css?18.07.2017v.1.1')}}" rel="stylesheet">
    <link rel="stylesheet" media="all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait)" href="{{ asset('bundles/admin/dist/styles/ipad-portrait.css')}}"/>
    <link rel="stylesheet" media="all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape)" href="{{ asset('bundles/admin/dist/styles/ipad-landscape.css')}}" />
    <link href="{{ asset('bundles/admin/dist/styles/jquery-ui.min.css')}}" rel="stylesheet">
    <link href="{{ asset('bundles/admin/dist/styles/jquery-ui.theme.min.css')}}" rel="stylesheet">
    <script src="https://cdn.ckeditor.com/4.7.3/full/ckeditor.js"></script>

    {% block additionalStyles %}{% endblock %}
    
    {% block headerScripts %}
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    {% endblock %}

    <title>ABFP Admin Panel</title>
</head>

<body>

    {# Start navigation block #}
    {{ include('AdminBundle:layouts/partial:nav.html.twig') }}
    {# End navigation block #}

    <header class="app-header">
        <a class="app-header__logo" href="{{ path('admin_dashboard') }}">
            <img class="app-header__logo-img" alt="logo image" src="{{ asset('bundles/admin/dist/images/logo_header.png')}}">
        </a>
        <div class="app-header__logout">
            <div class="app-header__logout-name">{{ app.user.firstName ~ " " ~ app.user.lastName }}</div>
            <a class="app-header__logout-img" href="{{ path('fos_user_security_logout') }}">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     width="22.365px" height="19.25px" viewBox="0 0 22.365 19.25" enable-background="new 0 0 22.365 19.25" xml:space="preserve">
                        <g>
                            <path fill="#FFFFFF" d="M6.125,0h7c0.245,0,0.452,0.085,0.621,0.254S14,0.63,14,0.875v1.75c0,0.245-0.085,0.452-0.254,0.621
                            C13.577,3.416,13.37,3.5,13.125,3.5H5.25c-0.479,0-0.89,0.172-1.233,0.516C3.672,4.36,3.5,4.772,3.5,5.25V14
                            c0,0.479,0.172,0.89,0.517,1.234C4.36,15.578,4.771,15.75,5.25,15.75h7.875c0.245,0,0.452,0.085,0.621,0.254S14,16.38,14,16.625
                            v1.75c0,0.245-0.085,0.452-0.254,0.621c-0.169,0.169-0.376,0.254-0.621,0.254h-7c-1.925,0-3.428-0.54-4.506-1.619
                            C0.539,16.552,0,15.05,0,13.125v-7C0,4.2,0.539,2.698,1.619,1.619C2.697,0.54,4.2,0,6.125,0z M16.415,4.078l5.67,4.97
                            c0.187,0.164,0.28,0.356,0.28,0.578s-0.094,0.414-0.28,0.578l-5.67,4.97c-0.187,0.164-0.345,0.216-0.473,0.158
                            c-0.128-0.058-0.192-0.21-0.192-0.455V12.25h-4.375c-0.245,0-0.452-0.084-0.621-0.254c-0.169-0.169-0.254-0.376-0.254-0.621v-3.5
                            c0-0.245,0.085-0.452,0.254-0.621S11.13,7,11.375,7h4.375V4.375c0-0.245,0.064-0.396,0.192-0.455
                            C16.07,3.862,16.228,3.914,16.415,4.078z" />
                        </g>
                    </svg>
            </a>
        </div>
    </header>

    <div class="app-main">
        {% block body %}

        {% endblock %}
    </div>

    <input type="hidden" id="access_token" value="{{ app.user.accessToken }}">

    {% block footerScripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="{{ asset('bundles/admin/dist/scripts/jquery-ui.min.js')}}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.1/jquery.validate.min.js"></script>
        <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>      
        <!-- build:js /scripts/login.min.js -->
        <script src="{{ asset('bundles/admin/dist/scripts/scroll.js')}}"></script>
        <script src="{{ asset('bundles/admin/dist/scripts/load-image.all.min.js')}}"></script>
        <script src="{{ asset('bundles/admin/dist/scripts/jquery.maskedinput.min.js')}}"></script>
        <script src="{{ asset('bundles/admin/dist/scripts/autoNumeric.min.js')}}"></script>
        <script src="{{ asset('bundles/admin/dist/scripts/main.js?18.07.2017v.1')}}"></script>
        <script defer src="{{ asset('bundles/admin/dist/scripts/map.js?18.07.2017v.2')}}"></script>
        <!-- endbuild -->
    {% endblock %}
    {% block additionalScripts %}{% endblock %}
</body>