{% extends 'AdminBundle:Channel:form.html.twig' %}

{% block formHead %}
    <div class="app-main__page-title-name">Adding {{ channelNamed.name }} Compliance Channel to {{ department.name }} at
        <img class="app-link__icon" src="{{ asset('bundles/admin/dist/images/municipalities.svg')}}" alt="image account">
        <a href="{{ path('admin_municipality_view', {'municipality': department.municipality.id}) }}" target="_blank" class="app-link__title">{{ department.municipality.name }}</a>
    </div>
{% endblock %}

{% block formPaymentInfo %}
    <div class="app-wrapper">
        <div class="app-form-input--third form-group">
            {{ form_label(form.uploadFee) }}
            {{ form_widget(form.uploadFee, {'attr': {'class': "form-control mozilla-input app-validation-currency", 'placeholder': 'Upload Fee'}}) }}
        </div>
        <div class="app-form-input--third form-group">
            {{ form_label(form.processingFee) }}
            {{ form_widget(form.processingFee, {'attr': {'class': "form-control mozilla-input app-validation-currency", 'placeholder': 'Processing Fee'}}) }}
        </div>

        <div class="app-form-input--third form-group">
            <label>Fees Basis:</label>
            <div class="app-service-form__text-field form-control">{{ form.vars.value.feesBasis.name}}</div>
        </div>
    </div>
{% endblock %}