{% extends 'AdminBundle:Channel:department_channel_create.html.twig' %}

{% block formHead %}
    <div class="app-main__page-title-name">Update {{ channelNamed.name }} Compliance Channel to {{ department.name }} at
        <img class="app-link__icon" src="{{ asset('bundles/admin/dist/images/municipalities.svg')}}" alt="image account">
        <a href="{{ path('admin_municipality_view', {'municipality': department.municipality.id}) }}" target="_blank" class="app-link__title">{{ department.municipality.name }}</a>
    </div>
{% endblock %}

                    {% block formButton %}
                        <button data-update="Yes" type="submit" class="app-form-button btn ">UPDATE</button>
                    {% endblock %}