{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}
        <div class="app-main__page-title app-wrapper">
            {% block formHead %}{% endblock %}
        </div>

        <div class="app-form app-form--flex app-form--bordered">
            <div class="app-form-header">Compliance Channel information</div>
            {{ form_start(form, {'attr': {'class': 'app-form--wide', 'id': 'channelForm', 'autocomplete': 'off', 'novalidate': 'novalidate', 'enctype': 'multipart/form-data'}}) }}
                {% for field in form.fields %}
                    {% if  field.children.value is defined %}
                        <div class="form-group">
                            <label>Send to:</label>
                            <input type="text"
                                   id="{{ field.children.value.vars.id is defined ? field.children.value.vars.id : '' }}"
                                   name="{{ field.children.value.vars.full_name is defined ? field.children.value.vars.full_name : '' }}"
                                   value="{{ field.children.value.vars.value ? field.children.value.vars.value : '' }}"
                                   placeholder="{{ field.vars.value.field.name is defined ? field.vars.value.field.name : '' }}"
                                   class="form-control mozilla-input{{ field.vars.value.field.validation is defined ? ' '~field.vars.value.field.validation.name : '' }}"/>
                        </div>
                    {% elseif field.children.entityValue is defined %}
                        {% set child = field.children.entityValue.children %}
                        <div class="form-group">
                            <label>Address:<span class="app-required-label">*</span></label>
                            <input type="text" name="{{ child.address.vars.full_name is defined and child.address.vars.full_name ? child.address.vars.full_name : '' }}"
                                   id="{{ child.address.vars.id is defined and child.address.vars.id ? child.address.vars.id : '' }}"
                                   class="form-control mozilla-input app-validation-maxLength100"
                                   placeholder="Address"
                                   required="required"
                                   value="{{ child.address.vars.value ? child.address.vars.value : '' }}">
                        </div>
                        <div class="app-wrapper">
                            <div class="app-form-input--medium form-group">
                                <label>City:<span class="app-required-label">*</span></label>
                                <input type="text" name="{{ child.city.vars.full_name is defined and child.city.vars.full_name ? child.city.vars.full_name : '' }}"
                                       id="{{ child.city.vars.id is defined and child.city.vars.id ? child.city.vars.id : '' }}"
                                       class="form-control mozilla-input app-validation-maxLength50"
                                       placeholder="City"
                                       required="required"
                                       value="{{ child.city.vars.value ? child.city.vars.value : '' }}">
                            </div>
                            <div class="app-wrapper app-wrapper--half">
                                <div class="app-form-input--big form-group">
                                    <label>State:<span class="app-required-label">*</span></label>

                                    <select name="{{ child.state.vars.full_name is defined and child.state.vars.full_name ? child.state.vars.full_name : '' }}"
                                            id="{{ child.state.vars.id is defined and child.state.vars.id ? child.state.vars.id : '' }}"
                                            class="selectpicker mozilla-input form-control"
                                            tabindex=""
                                            required="required">
                                        <option value="0" disabled selected>{{ child.state.vars.placeholder }}</option>
                                        {% for choice in child.state.vars.choices %}
                                            <option value="{{ choice.data.id }}" {{ (child.state.vars.value and child.state.vars.value == choice.value) ? 'selected' : ''  }}>{{ choice.data.name }}</option>
                                        {% endfor %}
                                    </select>

                                </div>
                                <div class="app-form-input--small form-group">
                                    <label>Zip:<span class="app-required-label">*</span></label>
                                    <input type="text" name="{{ child.zip.vars.full_name is defined and child.zip.vars.full_name ? child.zip.vars.full_name : '' }}"
                                           id="{{ child.zip.vars.id is defined and child.zip.vars.id ? child.zip.vars.id : '' }}"
                                           class="form-control mozilla-input"
                                           placeholder="Zip"
                                           required="required"
                                           value="{{ child.zip.vars.value ? child.zip.vars.value : '' }}">
                                </div>
                            </div>
                        </div>

                    {% endif %}
                {% endfor %}
                {% block formPaymentInfo %}{% endblock %}
                <div class="app-wrapper app-wrapper--custom-half">
                    {% block defaultCheckbox %}
                        <div class="app-form-input--third form-group">
                            {{ form_widget(form.isDefault) }}
                            {% if form.isDefault.vars.checked is not defined %}
                                <input type="checkbox"  disabled="disabled" checked id="department_channel_isDefault" name="department_channel" class="app-checkbox-input" value="1">
                            {% endif %}
                            {{ form_label(form.isDefault) }}
                        </div>
                    {% endblock %}

                    {% block feesWillVary %}
                        <div class="app-form-input--third form-group">
                        {{ form_widget(form.feesWillVary) }}
                        {% if form.feesWillVary.vars.checked is not defined %}
                            <input type="checkbox"  disabled="disabled" checked id="department_channel_feesWillVary" name="department_channel" class="app-checkbox-input" value="1">
                        {% endif %}
                            {{ form_label(form.feesWillVary)}}
                        </div>
                    {% endblock %}
                </div>

                <div class="app-form-button--right">
                    {% block formButton %}
                        <button type="submit" class="app-form-button btn ">CREATE</button>
                    {% endblock %}
                    {% block backButton %}
                        <a href="{{ path('admin_municipality_view', {'municipality': department.municipality.id}) }}" class="app-form-button app-form-button--grey app-form-button--indent btn">CANCEL</a>
                    {% endblock %}
                </div>
            {{ form_end(form, {'render_rest': false}) }}
        </div>
        <div class="app-form-error"></div>

        <!-- Modal -->
    {{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
        'modalId' : 'channelModal',
        'message' : 'Are you sure you want to add this Compliance Channel?',
        'dataSubmit' : 'Yes'
    }) }}
{% endblock %}
