{% if channels | length %}
    <div class="municipalities-channel-table">
        <table class="app-data__table app-data__table--dark app-contractor-users-licenses-table app-view--max-width">
            <thead>
                <tr class="app-color--inactive">
                    <th>Channel</th>
                    <th>Send to</th>
                    <th>Upload Fee</th>
                    <th>Processing Fee</th>
                    <th>Fees Basis</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for channel in channels %}
                {% if not channel.deleted %}
                    <tr>
                        {% if channel.isDefault %}
                            <td>
                                <span class="app-line--right-text">
                                    {{ channel.named.name ?? "-" }}
                                </span>
                                <span class="label label-success app-label">Default</span>
                            </td>
                        {% else %}
                            <td class="app-word-breack">{{  channel.named.name ?? "-" }}</td>
                        {% endif %}
                        <td class="app-word-breack municipalities-channel-table__sendto">
                            {% if channel.named.alias == "mail" %}
                                {{ channel.fields[0].entityValue ?  channel.fields[0].entityValue | address : "-"}}
                            {% elseif channel.named.alias == "email" %}
                                {% if  channel.fields[0].value %}
                                    <a class="app-link__select" href="mailto:{{ channel.fields[0].value | url_format }}">{{ channel.fields[0].value ?  channel.fields[0].value : "-"}}
                                    </a>
                                {% else %}
                                    -
                                {% endif %}
                            {% elseif channel.named.alias == "fax" %}
                                {{ channel.fields[0].value ?  channel.fields[0].value | phone : "-"}}
                            {% elseif channel.named.alias == "upload" %}
                                {% if  channel.fields[0].value %}
                                    <a class="app-link__select" href="{{ channel.fields[0].value | url_format }}" target="_blank">{{ channel.fields[0].value ?  channel.fields[0].value : "-"}}
                                    </a>
                                {% else %}
                                    -
                                {% endif %}
                            {% else %}
                                {{ channel.fields | length and channel.fields[0].value ?  channel.fields[0].value : "-"}}
                            {% endif %}
                        </td>
                        {% if channel.feesWillVary %}
                            <td>*</td>
                            <td>*</td>
                            <td>*</td>
                        {% else %}
                            <td>{{ channel.uploadFee ? "$"~channel.uploadFee | money_format : "-"}}</td>
                            <td>{{ channel.processingFee ? "$"~channel.processingFee | money_format : "-"}}</td>
                            <td>{{ channel.feesBasis ? channel.feesBasis.name : "-"}}</td>
                        {% endif %}
                        <td class="app-contractor-users-licenses-table__icons">
                            <a href="{{ path("admin_department_channel_update", {'departmentChannel': channel.id}) }}">
                                <img src="/bundles/admin/dist/images/edit.svg" alt="" class="app-contractor-users-licenses-table__icons_edit">
                            </a>
                        </td>
                        <td class="app-contractor-users-licenses-table__icons">
                            {% if not channel.isDefault %}
                                <a href="#" data-link="{{ path('admin_departmentChannel_delete', {'departmentChannel': channel.id }) }}" class="app-modal-link"  data-toggle="modal" data-target="#deleteChannelModal">
                                    <img src="/bundles/admin/dist/images/delete.svg" class="app-contractor-users-licenses-table__icons_delete">
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <div class="municipalities-department-no-content app-color--inactive">No Channels Yet</div>
{% endif %}