{% extends '@Admin/Letter/send_repair.html.twig' %}

{% block emailBody %}
    <p>Dear Client,</p>

    Attached you will find a proposal to correct the deficiencies located at your property. Also included is any upload fees if required. If you have technical questions, contact the technical representative located in the PDF below. Please review and contact us if you would like to move forward with scheduling.

    <p>Sincerely,<br />
        American Backflow & Fire Prevention Team</p> 

{% endblock %}
