{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}
    <div class="app-main__page-title app-wrapper">
        <div class="app-main__page-title-name">Clients</div>
        <div class="app-wrapper">
            <div class="app-common-information__data">{{ accountCount }}
                <span class="app-common-information__data-name">Accounts</span>
                <div class="app-common-information__plus-container">
                    <a href="{{ path('admin_account_create') }}" class="btn app-common-information__plus">
                        <div class="app-common-information__plus--horizontal"></div>
                        <div class="app-common-information__plus--vertical"></div>
                    </a>
                </div>
            </div>
            <div class="app-common-information__data">{{ contactPersonCount }}
                <span class="app-common-information__data-name">Contacts</span>
                <div class="app-common-information__plus-container">
                    <a href="{{ path('admin_contact_person_create') }}" class="btn app-common-information__plus">
                        <div class="app-common-information__plus--horizontal"></div>
                        <div class="app-common-information__plus--vertical"></div>
                    </a>
                </div>
            </div>
            <div class="app-common-information__data">{{ companyCount }}
                <span class="app-common-information__data-name">Companies</span>
                <div class="app-common-information__plus-container">
                    <a href="{{ path('admin_company_create') }}" class="btn app-common-information__plus">
                        <div class="app-common-information__plus--horizontal"></div>
                        <div class="app-common-information__plus--vertical"></div>
                    </a>
                </div>
            </div>
        </div>   
    </div>

    <form id="searchForm" method="get">
        <input type="hidden" name="tab" value="{{ (app.request.query.get("tab") == null) ? '1' : app.request.query.get("tab") }}">
        <div class="app-search-panel app-wrapper app-wrapper--wide">
            <div class="app-search-panel__container">
                <i class="glyphicon glyphicon-search app-search-panel__icon-search"></i>
                <input type="hidden" name="advanced" class="form-control" value={{ app.request.query.get('advanced') is defined ? app.request.query.get('advanced') : 0 }} />
                <input name="searchPhrase" type="search" class="form-control app-search-panel__input app-bordered--shadow" placeholder="Search" value="{{ app.request.query.get('searchPhrase') }}" />
                <svg class="app-search-panel__icon-settings {{ app.request.query.get('advanced') == 1 ? 'app-search-panel__icon-settings--active' : '' }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="18px" height="18px" viewBox="0 0 18 18" enable-background="new 0 0 18 18" xml:space="preserve">
						<path d="M17.4,4C17.953,4,18,3.552,18,3c0-0.553-0.047-1-0.6-1H9v2H17.4z M0.6,2C0.049,2,0,2.447,0,3
						c0,0.552,0.049,1,0.6,1H4V2H0.6z M8,5.399v-4.8C8,0.046,7.552,0,7,0L6,0C5.447,0,5,0.046,5,0.599V5.4C5,5.95,5.447,6,6,6h1
						C7.552,6,8,5.95,8,5.399z M7,17.399v-4.801C7,12.046,6.552,12,6,12H5c-0.553,0-1,0.046-1,0.599V17.4C4,17.95,4.447,18,5,18h1
						C6.552,18,7,17.95,7,17.399z M12,12c0.552,0,1-0.05,1-0.601v-4.8C13,6.046,12.552,6,12,6h-1c-0.553,0-1,0.046-1,0.599V11.4
						c0,0.55,0.447,0.6,1,0.6H12z M17.4,10c0.553,0,0.6-0.448,0.6-1c0-0.553-0.047-1-0.6-1H14v2H17.4z M0.6,8C0.049,8,0,8.447,0,9
						c0,0.552,0.049,1,0.6,1H9V8H0.6z M17.4,16c0.553,0,0.6-0.448,0.6-1c0-0.553-0.047-1-0.6-1H8v2H17.4z M0.6,14C0.049,14,0,14.447,0,15
						c0,0.552,0.049,1,0.6,1H3v-2H0.6z" />
			    </svg>
            </div>
            <button type="submit" class="btn app-search-panel__button app-bordered--shadow">SEARCH</button>
        </div>
        <div id="app-toggle-block" class="app-wrapper--wide {{ app.request.query.get('advanced') == 1 ? '' : "app-toggle-block--inactive" }}">
				<div class="app-search-options app-wrapper app-wrapper--middle">
					<div class="app-search-options__wrapper">
						<div class="app-search-options__title">Companies search</div>
                        <div class="app-wrapper app-wrapper--wrap">
                            <div>
                                <div class="app-checkbox">
                                    <input class="app-checkbox-input" type="checkbox" id="company-search-in-notes" name="cn_s_in_notes" {{ (app.request.query.get("cn_s_in_notes") is defined and app.request.query.get("cn_s_in_notes") == 1) or app.request.query.get('searchPhrase') == null ? 'checked' : '' }} value="1" />
                                    <label class="app-checkbox-label" for="company-search-in-notes">Search in notes</label>
                                </div>
                            </div>
                        </div>
					</div>
					<div class="app-search-options__wrapper">
						<div class="app-search-options__title">Contacts search</div>
                        <div class="app-wrapper app-wrapper--wrap">
                            <div>
                                <div class="app-checkbox">
                                    <input class="app-checkbox-input" type="checkbox" id="contacts-search-in-notes" name="c_s_in_notes" {{ (app.request.query.get("c_s_in_notes") is defined and app.request.query.get("c_s_in_notes") == 1) or app.request.query.get('searchPhrase') == null ? 'checked' : '' }} value="1" />
                                    <label class="app-checkbox-label" for="contacts-search-in-notes">Search in notes</label>
                                </div>
                                <div class="app-checkbox">
                                    <input class="app-checkbox-input" type="checkbox" id="contacts-search-cod" name="c_s_cod" {{ (app.request.query.get("c_s_cod") is defined and app.request.query.get("c_s_cod") == 1) ? 'checked' : '' }} value="1" />
                                    <label class="app-checkbox-label" for="contacts-search-cod">COD (Collect On Delivery) only</label>
                                </div>
                            </div>
                        </div>
					</div>
					<div class="app-search-options__wrapper">
						<div class="app-search-options__title">Accounts search</div>
						<div class="app-wrapper app-wrapper--wrap">
							<div>
								<div class="app-checkbox">
									<input class="app-checkbox-input" type="checkbox" id="accounts-search-active-clients" name="clientType[0]" {{ (app.request.query.get("clientType")[0] is defined and app.request.query.get("clientType")[0] == 'active') or app.request.query.get('searchPhrase') == null ? 'checked' : '' }} value="active" />
									<label class="app-checkbox-label" for="accounts-search-active-clients">Active clients</label>
								</div>
								<div class="app-checkbox">
									<input class="app-checkbox-input" type="checkbox" id="accounts-search-inactive-clients" name="clientType[1]" {{ (app.request.query.get("clientType")[1] is defined and app.request.query.get("clientType")[1] == 'inactive') or app.request.query.get('searchPhrase') == null ? 'checked' : '' }} value="inactive" />
									<label class="app-checkbox-label" for="accounts-search-inactive-clients">Inactive clients</label>
								</div>
								<div class="app-checkbox">
									<input class="app-checkbox-input" type="checkbox" id="accounts-search-potential-clients" name="clientType[3]" {{ (app.request.query.get("clientType")[3] is defined and app.request.query.get("clientType")[3] == 'potential') or app.request.query.get('searchPhrase') == null ? 'checked' : '' }} value="potential" />
									<label class="app-checkbox-label" for="accounts-search-potential-clients">Potential clients</label>
								</div>
							</div>
							<div>
								<div class="app-checkbox">
									<input class="app-checkbox-input" type="checkbox" id="accounts-search-in-notes" name="a_s_in_notes" {{ app.request.query.get('a_s_in_notes') == 1 or app.request.query.get('searchPhrase') == null ? 'checked' : '' }} value="1" />
									<label class="app-checkbox-label" for="accounts-search-in-notes">Search in notes</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
    </form>

    {% if searchResult is not null %}
        <div class="app-data">
            <ul class="nav nav-tabs">
                <li id="tab1" class="{{ (app.request.query.get("tab") == null or app.request.query.get("tab") == '1') ? 'active' : '' }}"><a data-toggle="tab" href="#panel1">Accounts ({{ searchResult.accounts.count is defined ? searchResult.accounts.count : 0 }})</a></li>
                <li id="tab2" class="{{ (app.request.query.get("tab") is defined and app.request.query.get("tab") == '2') ? 'active' : '' }}"><a data-toggle="tab" href="#panel2">Contacts ({{ searchResult.contacts.count is defined ? searchResult.contacts.count : 0 }})</a></li>
                <li id="tab3" class="{{ (app.request.query.get("tab") is defined and app.request.query.get("tab") == '3') ? 'active' : '' }}"><a data-toggle="tab" href="#panel3">Companies ({{ searchResult.companies.count is defined ? searchResult.companies.count : 0 }})</a></li>
            </ul>
            <div class="tab-content">
                <div id="panel1" class="tab-pane fade {{ (app.request.query.get("tab") == null or app.request.query.get("tab") == '1') ? 'in active' : '' }}">
                    {% if searchResult.accounts.results is defined and searchResult.accounts.count > 0 %}
                        <table class="table app-data__table app-bordered--shadow app-table-radius">
                            <thead class="app-data__table-header">
                            <tr>
                                <th></th>
                                <th></th>
                                <th>ID</th>
                                <th>Account Name</th>
                                <th>Address</th>
                                <th>City</th>
                                <th>State</th>
                                <th>Zip</th>
                                <th colspan="2">Linked to</th>
                                <th class="app-data__table-cell--min">Client Type</th>
                                {#<th class="app-data__table-header--backflow app-data__table-header--img"></th>
                                <th class="app-data__table-header--fire app-data__table-header--img"></th>
                                <th class="app-data__table-header--plumbing app-data__table-header--img"></th>
                                <th class="app-data__table-header--alarm app-data__table-header--img"></th>#}
                            </tr>
                            </thead>
                            <tbody >
                            {#<tr class="app-data__table-row--close">#}
                            {#<td class="app-data__table-data app-data__table-data--arrow-bottom clickable" data-toggle="collapse" data-target=".row1"></td>#}
                            {#<td class="app-data__table-data app-data__table-data--group"></td>#}
                            {#<td>2565</td>#}
                            {#<td>Shops of Ukraine</td>#}
                            {#<td>36-40 N. Apple</td>#}
                            {#<td>Chicago</td>#}
                            {#<td>IL</td>#}
                            {#<td>60052</td>#}
                            {#<td>10</td>#}
                            {#<td>15</td>#}
                            {#<td>10</td>#}
                            {#<td class="app-data__table-data app-data__table-data--location"></td>#}
                            {#</tr>#}
                            {#<tr class="collapse row1">#}
                            {#<td></td>#}
                            {#<td></td>#}
                            {#<td>2565</td>#}
                            {#<td>Shops of Ukraine</td>#}
                            {#<td>36-40 N. Apple</td>#}
                            {#<td>Chicago</td>#}
                            {#<td>IL</td>#}
                            {#<td>60052</td>#}
                            {#<td>10</td>#}
                            {#<td>15</td>#}
                            {#<td>10</td>#}
                            {#<td class="app-data__table-data app-data__table-data--location"></td>#}
                            {#</tr>#}

                            {% for account in searchResult.accounts.results %}
                                <tr class="app-data__table-row--close">
                                    <td class="app-data__table-data"></td>
                                    <td class="app-data__table-data {{account.deleted ? 'app-deleted' : ''}}">
                                        <img src="/bundles/admin/dist/images/{{ account.type.alias == 'account' ? 'site.svg' : 'group_site.svg'}}" class="app-data__table-data--icon">
                                    </td>
                                    <td class="{{account.deleted ? 'app-deleted' : ''}}">{{ account.id }}</td>
                                    <td class="app-word-breack">
                                        <a class="app-link__select app-line--right-text {{account.deleted ? 'app-deleted' : ''}}" href="{{ path('admin_account_get', {'accountId': account.id}) }}">{{ account.name }}</a>
                                        {% if account.deleted %}<span class="label label-danger app-label">Deleted</span>{% endif %}
                                    </td>
                                    <td class="app-word-breack {{account.deleted ? 'app-deleted' : ''}}">{{ account.address.address ? account.address.address : "-" }}</td>
                                    <td class="{{account.deleted ? 'app-deleted' : ''}}">{{ account.address.city ? account.address.city : "-"}}</td>
                                    <td class="{{account.deleted ? 'app-deleted' : ''}}">{{ account.address.state ? account.address.state.code : "-"}}</td>
                                    <td class="{{account.deleted ? 'app-deleted' : ''}}">{{ account.address.zip or account.address.zip == 0 ? account.address.zip : "-" }}</td>
                                    <td class="app-link__icon--company {{account.deleted or (account.parent.deleted is defined and account.parent.deleted) ? 'app-deleted' : ''}}">
                                        {%  if account.parent %}
                                            <img src="/bundles/admin/dist/images/group_site.svg" alt="image account" class="app-data__table-data--icon">
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td class="app-no-padding--left app-word-breack {{account.deleted ? 'app-deleted' : ''}}">
                                        {%  if account.parent %}
                                            <a class="app-link__select app-line--right-text {{account.parent.deleted ? 'app-deleted' : ''}}" href="{{ path('admin_account_get', {'accountId': account.parent.id}) }}" target="_blank">{{ account.parent.name }}</a>
                                            {% if account.parent.deleted %}<span class="label label-danger app-label">Deleted</span>{% endif %}
                                        {% endif %}
                                    </td>
                                    <td class="{{account.deleted ? 'app-deleted' : ''}}">{{ account.clientType.name ? account.clientType.name : "-" }}</td>
                                    {#<td class="app-data__table-cell--center {{account.deleted ? 'app-deleted' : ''}}">0</td>
                                    <td class="app-data__table-cell--center {{account.deleted ? 'app-deleted' : ''}}">0</td>
                                    <td class="app-data__table-cell--center {{account.deleted ? 'app-deleted' : ''}}">0</td>
                                    <td class="app-data__table-cell--center {{account.deleted ? 'app-deleted' : ''}}">0</td>#}
                                    {#<td class="app-data__table-data app-data__table-data--location"></td>#}
                                </tr>
                            {%endfor%}

                            </tbody>
                        </table>
                    {% endif %}

                    {% if searchResult.accounts.pagesCount is defined and searchResult.accounts.pagesCount > 1 %}
                        <div class="pagination app-bordered--shadow">
                            <a class="app-pagination-arrow {{ searchResult.accounts.currentPage == 1 ? 'disabled' : '' }}" href="{{ path('admin_account_search', {
                                'a_page': searchResult.accounts.currentPage - 1,
                                'c_page': app.request.query.get('c_page'),
                                'cn_page': app.request.query.get('cn_page'),
                                'searchPhrase': app.request.query.get('searchPhrase'),
                                "advanced": app.request.query.get('advanced'),
                                "clientType": app.request.query.get('clientType'),
                                "a_s_in_notes": app.request.query.get('a_s_in_notes'),
                                "c_s_in_notes": app.request.query.get('c_s_in_notes'),
                                "c_s_cod": app.request.query.get('c_s_cod'),
                                "cn_s_in_notes": app.request.query.get('cn_s_in_notes'),
                                "tab": '1'
                            }) }}">&laquo;</a>

                            {% for i in range(1, searchResult.accounts.pagesCount) %}
                                <a class="{{ searchResult.accounts.currentPage == i ? 'app-active-page' : '' }}"
                                   href="{{ path('admin_account_search', {
                                       'a_page': i,
                                       'c_page': app.request.query.get('c_page'),
                                       'cn_page': app.request.query.get('cn_page'),
                                       'searchPhrase': app.request.query.get('searchPhrase'),
                                       "advanced": app.request.query.get('advanced'),
                                       "clientType": app.request.query.get('clientType'),
                                       "a_s_in_notes": app.request.query.get('a_s_in_notes'),
                                       "c_s_in_notes": app.request.query.get('c_s_in_notes'),
                                       "c_s_cod": app.request.query.get('c_s_cod'),
                                       "cn_s_in_notes": app.request.query.get('cn_s_in_notes'),
                                       "tab": '1'
                                   }) }}">{{ i }}</a>
                            {% endfor %}

                            <a class="app-pagination-arrow {{ searchResult.accounts.currentPage >= searchResult.accounts.pagesCount ? 'disabled' : '' }}" href="{{ path('admin_account_search', {
                                'a_page': searchResult.accounts.currentPage + 1,
                                'c_page': app.request.query.get('c_page'),
                                'cn_page': app.request.query.get('cn_page'),
                                'searchPhrase': app.request.query.get('searchPhrase'),
                                "advanced": app.request.query.get('advanced'),
                                "clientType": app.request.query.get('clientType'),
                                "a_s_in_notes": app.request.query.get('a_s_in_notes'),
                                "c_s_in_notes": app.request.query.get('c_s_in_notes'),
                                "c_s_cod": app.request.query.get('c_s_cod'),
                                "cn_s_in_notes": app.request.query.get('cn_s_in_notes'),
                                "tab": '1'
                            }) }}">&raquo;</a>
                        </div>
                    {% endif %}

                    {% if searchResult.accounts.message is defined %}
                        <div class="app-data__not-found app-bordered--shadow">{{ searchResult.accounts.message }}</div>
                    {% endif %}
                </div>
                <div id="panel2" class="tab-pane fade {{ app.request.query.get("tab") == '2' ? 'in active' : '' }}">
                    {% if searchResult.contacts.results is defined and searchResult.contacts.count > 0 %}
                        <table class="table app-data__table app-bordered--shadow app-table-radius">
                            <thead class="app-data__table-header">
                            <tr>
                                <th></th>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Title</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Cell</th>
                                <th>Fax</th>
                                <th>COD only</th>
                            </tr>
                            </thead>
                            <tbody >
                                {% for contact in searchResult.contacts.results %}
                                    <tr class="app-data__table-row--close app-word-breack">
                                        <td class="app-data__table-data app-data__table-data--contact {{contact.deleted ? 'app-deleted' : ''}}"></td>
                                        <td class="{{contact.deleted ? 'app-deleted' : ''}}">{{ contact.id }}</td>
                                        <td class="app-word-breack">
                                            <a class="app-link__select app-line--right-text {{contact.deleted ? 'app-deleted' : ''}}" href="{{ path('admin_contact_person_get', {'contactPerson': contact.id}) }}">{{ contact.firstName }} {{ contact.lastName }}</a>
                                            {% if contact.deleted %}<span class="label label-danger app-label">Deleted</span>{% endif %}
                                        </td>
                                        <td class="app-word-breack {{contact.deleted ? 'app-deleted' : ''}}">{{ contact.title ? contact.title : "-"}}</td>
                                        <td class="app-word-breack {{contact.deleted ? 'app-deleted' : ''}}">
                                            {% if contact.email %}
                                                <a href="{{ "mailto:" ~ contact.email }}" class="app-link__select">{{ contact.email }}</a>
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                        <td class="{{contact.deleted ? 'app-deleted' : ''}}">{{ contact.phone ?  contact.phone | phone : "-" }} {{ contact.phone and contact.ext ? 'Ext.: ' ~ contact.ext : '' }}</td>
                                        <td class="{{contact.deleted ? 'app-deleted' : ''}}">{{ contact.cell ? contact.cell | phone : "-" }}</td>
                                        <td class="{{contact.deleted ? 'app-deleted' : ''}}">{{ contact.fax ? contact.fax | phone : "-" }}</td>
                                        <td class="{{contact.deleted ? 'app-deleted' : ''}}">{{ contact.cod ? 'YES' : '-' }}</td>
                                    </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                    {% endif %}

                    {% if searchResult.contacts.pagesCount is defined and searchResult.contacts.pagesCount > 1 %}
                        <div class="pagination app-bordered--shadow">
                            <a class="app-pagination-arrow {{ searchResult.contacts.currentPage == 1 ? 'disabled' : '' }}" href="{{ path('admin_account_search', {
                                'cn_page': searchResult.contacts.currentPage - 1,
                                'a_page': app.request.query.get('a_page'),
                                'c_page': app.request.query.get('c_page'),
                                'searchPhrase': app.request.query.get('searchPhrase'),
                                "advanced": app.request.query.get('advanced'),
                                "clientType": app.request.query.get('clientType'),
                                "a_s_in_notes": app.request.query.get('a_s_in_notes'),
                                "c_s_in_notes": app.request.query.get('c_s_in_notes'),
                                "c_s_cod": app.request.query.get('c_s_cod'),
                                "cn_s_in_notes": app.request.query.get('cn_s_in_notes'),
                                "tab": '2'
                            }) }}">&laquo;</a>

                            {% for i in range(1, searchResult.contacts.pagesCount) %}
                                <a class="{{ searchResult.contacts.currentPage == i ? 'app-active-page' : '' }}"
                                   href="{{ path('admin_account_search', {
                                       'cn_page': i,
                                       'a_page': app.request.query.get('a_page'),
                                       'c_page': app.request.query.get('c_page'),
                                       'searchPhrase': app.request.query.get('searchPhrase'),
                                       "advanced": app.request.query.get('advanced'),
                                       "clientType": app.request.query.get('clientType'),
                                       "a_s_in_notes": app.request.query.get('a_s_in_notes'),
                                       "c_s_in_notes": app.request.query.get('c_s_in_notes'),
                                       "c_s_cod": app.request.query.get('c_s_cod'),
                                       "cn_s_in_notes": app.request.query.get('cn_s_in_notes'),
                                       "tab": '2'
                                   }) }}">{{ i }}</a>
                            {% endfor %}

                            <a class="app-pagination-arrow {{ searchResult.contacts.currentPage >= searchResult.contacts.pagesCount ? 'disabled' : '' }}" href="{{ path('admin_account_search', {
                                'cn_page': searchResult.contacts.currentPage + 1,
                                'a_page': app.request.query.get('a_page'),
                                'c_page': app.request.query.get('c_page'),
                                'searchPhrase': app.request.query.get('searchPhrase'),
                                "advanced": app.request.query.get('advanced'),
                                "clientType": app.request.query.get('clientType'),
                                "a_s_in_notes": app.request.query.get('a_s_in_notes'),
                                "c_s_in_notes": app.request.query.get('c_s_in_notes'),
                                "c_s_cod": app.request.query.get('c_s_cod'),
                                "cn_s_in_notes": app.request.query.get('cn_s_in_notes'),
                                "tab": '2'
                            }) }}">&raquo;</a>
                        </div>
                    {% endif %}

                    {% if searchResult.contacts.message is defined %}
                        <div class="app-data__not-found app-bordered--shadow">{{ searchResult.contacts.message }}</div>
                    {% endif %}
                </div>

                <div id="panel3" class="tab-pane fade {{ (app.request.query.get("tab") is defined and app.request.query.get("tab") == '3') ? 'in active' : '' }}">
                    {% if searchResult.companies.results is defined and searchResult.companies.count > 0 %}
                        <table class="table app-data__table app-bordered--shadow app-table-radius">
                            <thead class="app-data__table-header">
                            <tr>
                                <th></th>
                                <th>ID</th>
                                <th>Company Name</th>
                                <th>Address</th>
                                <th>City</th>
                                <th>State</th>
                                <th>Zip</th>
                                <th>Website</th>
                            </tr>
                            </thead>
                            <tbody >
                            {% for company in searchResult.companies.results %}
                                <tr class="app-data__table-row--close">
                                    <td class="app-data__table-data app-data__table-data--company {{company.deleted ? 'app-deleted' : ''}}"></td>
                                    <td class="{{company.deleted ? 'app-deleted' : ''}}">{{ company.id }}</td>
                                    <td class="app-word-breack">
                                        <a class="app-link__select app-line--right-text {{company.deleted ? 'app-deleted' : ''}}" href="{{ path('admin_company_get', {'company': company.id}) }}">{{ company.name }}</a>
                                        {% if company.deleted %}<span class="label label-danger app-label">Deleted</span>{% endif %}
                                    </td>
                                    <td class="app-word-breack {{company.deleted ? 'app-deleted' : ''}}">{{ company.address.address ? company.address.address : "-" }}</td>
                                    <td class="app-word-breack {{company.deleted ? 'app-deleted' : ''}}">{{ company.address.city ? company.address.city : "-" }}</td>
                                    <td class="{{company.deleted ? 'app-deleted' : ''}}">{{ company.address.state ? company.address.state.code : "-" }}</td>
                                    <td class="app-word-breack {{company.deleted ? 'app-deleted' : ''}}">{{ company.address.zip is not null ? company.address.zip : "-" }}</td>
                                    <td class="app-word-breack {{company.deleted ? 'app-deleted' : ''}}">
                                        {% if company.website %}
                                            <a class="app-link__select" href="{{ company.website | url_format }}" target="_blank">{{ company.website }}</a>
                                        {% else %}-{% endif %}
                                    </td>
                                </tr>
                            {%endfor%}
                            </tbody>
                        </table>
                    {% endif %}

                    {% if searchResult.companies.pagesCount is defined and searchResult.companies.pagesCount > 1 %}
                        <div class="pagination app-bordered--shadow">
                            <a class="app-pagination-arrow {{ searchResult.companies.currentPage == 1 ? 'disabled' : '' }}" href="{{ path('admin_account_search', {
                                'c_page': searchResult.companies.currentPage - 1,
                                'a_page': app.request.query.get('a_page'),
                                'cn_page': app.request.query.get('cn_page'),
                                'searchPhrase': app.request.query.get('searchPhrase'),
                                "advanced": app.request.query.get('advanced'),
                                "clientType": app.request.query.get('clientType'),
                                "a_s_in_notes": app.request.query.get('a_s_in_notes'),
                                "c_s_in_notes": app.request.query.get('c_s_in_notes'),
                                "c_s_cod": app.request.query.get('c_s_cod'),
                                "cn_s_in_notes": app.request.query.get('cn_s_in_notes'),
                                "tab": '3'
                            }) }}">&laquo;</a>

                            {% for i in range(1, searchResult.companies.pagesCount) %}
                                <a class="{{ searchResult.companies.currentPage == i ? 'app-active-page' : '' }}"
                                   href="{{ path('admin_account_search', {
                                       'c_page': i,
                                       'a_page': app.request.query.get('a_page'),
                                       'cn_page': app.request.query.get('cn_page'),
                                       'searchPhrase': app.request.query.get('searchPhrase'),
                                       "advanced": app.request.query.get('advanced'),
                                       "clientType": app.request.query.get('clientType'),
                                       "a_s_in_notes": app.request.query.get('a_s_in_notes'),
                                       "c_s_in_notes": app.request.query.get('c_s_in_notes'),
                                       "c_s_cod": app.request.query.get('c_s_cod'),
                                       "cn_s_in_notes": app.request.query.get('cn_s_in_notes'),
                                       "tab": '3'
                                   }) }}">{{ i }}</a>
                            {% endfor %}

                            <a class="app-pagination-arrow {{ searchResult.companies.currentPage >= searchResult.companies.pagesCount ? 'disabled' : '' }}" href="{{ path('admin_account_search', {
                                'c_page': searchResult.companies.currentPage + 1,
                                'a_page': app.request.query.get('a_page'),
                                'cn_page': app.request.query.get('cn_page'),
                                'searchPhrase': app.request.query.get('searchPhrase'),
                                "advanced": app.request.query.get('advanced'),
                                "clientType": app.request.query.get('clientType'),
                                "a_s_in_notes": app.request.query.get('a_s_in_notes'),
                                "c_s_in_notes": app.request.query.get('c_s_in_notes'),
                                "c_s_cod": app.request.query.get('c_s_cod'),
                                "cn_s_in_notes": app.request.query.get('cn_s_in_notes'),
                                "tab": '3'
                            }) }}">&raquo;</a>
                        </div>
                    {% endif %}

                    {% if searchResult.companies.message is defined %}
                        <div class="app-data__not-found app-bordered--shadow">{{ searchResult.companies.message }}</div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}