{% extends 'AdminBundle:ContactPerson:form.html.twig' %}

{% block formHead %}<div class="app-main__page-title-name">New Contact Person Registration</div>{% endblock %}

{% block formButton %}
    <button type="submit" class="app-form-button btn ">CREATE</button>
{% endblock %}

