{% extends 'AdminBundle:ContactPerson:form.html.twig' %}

{% block formHead %}<div class="app-main__page-title-name">New Contact Person Registration</div>{% endblock %}

{% block formButton %}
    <button type="submit" class="app-form-button btn ">CREATE</button>
{% endblock %}
{% block buttonCancel %}
    <a href="{{ path("admin_workorder_edit_general_info", {"workorder": workorder.id}) }}" class="app-form-button app-form-button--grey app-form-button--indent btn">CANCEL</a>
{% endblock %}
