{% extends 'AdminBundle:ContactPerson:form.html.twig' %}

{% block formHead %}
    <div class="app-main__page-title-name app-link__header--contact-form">Create New Contact Person to Link it to
        <img class="app-link__icon" src="{{account.type.alias == 'group account' ? asset('bundles/admin/dist/images/group_site.svg') : asset('bundles/admin/dist/images/site.svg')}}" alt="image account">
    </div>
    <div class="app-link__title--contact-form">
        <a href="{{ path('admin_account_get', {'accountId': account.id}) }}" target="_blank" class="app-link__title">{{ account.name }}</a>
    </div>
{% endblock %}

{% block formButton %}
    <button type="submit" class="app-form-button btn ">CREATE</button>
{% endblock %}
{% block buttonCancel %}
    <a href="{{ path('admin_account_search_contact_person_for_select', {'account': account.id}) }}" class="app-form-button app-form-button--grey app-form-button--indent btn">CANCEL</a>
{% endblock %}

