{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}
    <div class="app-main__page-title app-wrapper">
        {% block formHead %}{% endblock %}
    </div>
    

    <div class="app-form app-form--flex app-form--bordered">
        <div class="app-form-header">General Contact Person Information</div>
        {{ form_start(form, {'attr': {'id': 'contactForm', 'class':'app-form--wide', 'novalidate': 'novalidate', 'autocomplete': 'off'}}) }}
            <div class="app-wrapper">
                <div class="app-form-input--medium form-group">
                    <label>First Name:<span class="app-required-label">*</span></label>
                    {{ form_widget(form.contactPerson.firstName, {'attr': {'placeholder': 'First Name', 'class': 'app-capitalize form-control mozilla-input'}}) }}
                </div>
                <div class="app-form-input--medium form-group">
                    <label>Last Name:</label>
                    {{ form_widget(form.contactPerson.lastName, {'attr': {'placeholder': 'Last Name', 'class': 'app-capitalize form-control mozilla-input'}}) }}
                </div>
            </div>
            <div class="app-wrapper">
                <div class="app-form-input--medium form-group">
                    <label>Title:</label>
                    {{ form_widget(form.contactPerson.title, {'attr': {'placeholder': 'Title', 'class': 'app-capitalize form-control mozilla-input'}}) }}
                </div>
                <div class="app-form-input--medium form-group">
                    <label>E-mail:</label>
                    {{ form_widget(form.contactPerson.email, {'attr': {'placeholder': 'email@email.com', 'class': 'form-control mozilla-input'}}) }}
                </div>
            </div>
            <div class="app-wrapper">
                <div class="app-wrapper app-wrapper--half">
                    <div class="app-form-input--big form-group">
                        <label>Phone:</label>
                        {{ form_widget(form.contactPerson.phone, {'attr': {'placeholder': '(XXX) XXX-XXXX', 'class': 'app-validation-phone form-control mozilla-input'}}) }}
                    </div>
                    <div class="app-form-input--small form-group">
                        <label>Ext:</label>
                        {{ form_widget(form.contactPerson.ext, {'attr': {'placeholder': '123', 'class': 'app-validation-digits form-control mozilla-input'}}) }}
                    </div>
                </div>
                <div class="app-form-input--medium form-group">
                    <label>Cell:</label>
                    {{ form_widget(form.contactPerson.cell, {'attr': {'placeholder': '(XXX) XXX-XXXX', 'class': 'app-validation-phone form-control mozilla-input'}}) }}
                </div>
            </div>
            <div class="app-wrapper">
                <div class="app-form-input--medium form-group">
                    <label>Fax:</label>
                    {{ form_widget(form.contactPerson.fax, {'attr': {'placeholder': '(XXX) XXX-XXXX', 'class': 'app-validation-phone form-control mozilla-input'}}) }}
                </div>
                <div class="app-form-input--medium form-group">
                    <div class="app-checkbox app-checkbox--indent-big-top app-checkbox--indent-left">
                        {{ form_widget(form.contactPerson.cod, {'attr': {'class': 'app-checkbox-input'}}) }}
                        <label class="app-checkbox-label app-color--white app-color--white" for="contact_person_form_contactPerson_cod">COD (Collect On Delivery) only</label>
                    </div>
                </div>
            </div>
            <div class="form-group app-account-addition-form__group app-contacts-form--temp">
                <label>Notes:</label>
                {{ form_widget(form.contactPerson.notes, {'attr': {'name': 'notes', 'placeholder': 'Notes', 'class': 'app-form__textarea--small form-control mozilla-input'}}) }}
            </div>
            <div class="form-group app-contacts-form__group">
                <label>Personal Address:</label>
                {{ form_widget(form.contactPerson.personalAddress.address, {'attr': {'placeholder': 'Mailing Address', 'class': 'app-capitalize form-control mozilla-input'}}) }}
            </div>
            <div class="app-wrapper app-account-addition-form__group">
              <div class="app-form-input--medium form-group">
                {{ form_widget(form.contactPerson.personalAddress.city, {'attr': {'placeholder': 'City', 'class': 'app-capitalize form-control mozilla-input'}}) }}
             </div>
             <div class="app-wrapper app-wrapper--half">
                <div class="app-form-input--big form-group">
                    {{ form_widget(form.contactPerson.personalAddress.state, {'attr': {'class': 'selectpicker form-control mozilla-input'}}) }}
                </div>
                <div class="app-form-input--small form-group">
                    {{ form_widget(form.contactPerson.personalAddress.zip, {'attr': {'placeholder': 'Zip', 'class': 'form-control mozilla-input'}}) }}
                </div>
              </div>
            </div>
            <div class="form-group app-contacts-form__group">
                <a id="copyToBillAddress" class="app-link__select app-link__select_float-right" href="#"
                   data-original-title="" title="">Copy from Personal Address</a>
                <label>Billing address for sending invoices:</label>
                {{ form_widget(form.billingAddress.address, {'attr': {'name': 'addressLine1', 'placeholder':
                    'Address (up to 3 lines)', 'class': 'app-form__textarea--medium form-control', 'rows': '3',
                    'wrap': 'off'}}) }}
            </div>
            <div class="app-wrapper app-account-addition-form__group">
                <div class="app-form-input--medium form-group">
                    {{ form_widget(form.billingAddress.city, {'attr': {'placeholder': 'City', 'class': 'app-capitalize form-control mozilla-input'}}) }}
                </div>
                <div class="app-wrapper app-wrapper--half">
                    <div class="app-form-input--big form-group">
                        {{ form_widget(form.billingAddress.state, {'attr': {'class': 'selectpicker form-control mozilla-input'}}) }}
                    </div>
                    <div class="app-form-input--small form-group">
                        {{ form_widget(form.billingAddress.zip, {'attr': {'placeholder': 'Zip', 'class': 'form-control mozilla-input'}}) }}
                    </div>
                </div>
            </div>
            <div class="app-form-button--right">
                {% block buttonSubmit %}
                    <button type="submit" class="app-form-button btn ">CREATE</button>
                {% endblock %}
                {% block buttonCancel %}
                    <a href="{{ previousPage ?? path('admin_account_search') }}" class="app-form-button app-form-button--grey app-form-button--indent btn">CANCEL</a>
                {% endblock %}
            </div>
        {{ form_end(form) }}
    </div>
    <!-- Modal -->
    {{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
        'modalId' : 'contactModal',
        'message' : app.request.attributes.get('_route') == 'admin_contact_person_create' ?
        'Are you sure you want to create this Account Contact Person?' :
        'Are you sure you want to add this Account Contact Person to the Account?',
        'dataSubmit' : 'Yes'
    }) }}
{% endblock %}
