{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}
    <div class="app-main__page-title app-wrapper">
        <div class="app-link__header--company app-main__page-title-name">Link Company to
            <img class="app-link__icon" src="{{ asset('bundles/admin/dist/images/contact.svg')}}" alt="image contact">
        </div>
        <div class="app-link__title--company"><a href="{{ path('admin_contact_person_get', {'contactPerson': contactPerson.id}) }}" target="_blank" class="app-link__title">{{ contactPerson.firstName }} {{ contactPerson.lastName }}</a>
        </div>
    </div>
    
    <div class="app-link__container app-form--bordered">
        <div class="app-form-header">Search and select Company</div>
        <div class="app-link__wrapper">
            <form id="searchForm" method="get">
                <input type="hidden" name="cn_s_in_notes" value="1">
                <div class="app-search-panel app-wrapper">
                    <div class="app-link__search-input app-search-panel__container">
                        <i class="glyphicon glyphicon-search app-search-panel__icon-search"></i>
                        <input name="searchPhrase" type="search" class="form-control app-search-panel__input" placeholder="Search Company" value="{{ app.request.query.get('searchPhrase') }}"/>
                    </div>
                    <button type="submit" class="app-link__search-button btn app-search-panel__button">SEARCH</button>
                </div>
            </form>
            <div class="app-data">
                {% if searchResult.results is defined and searchResult.count > 0 %}
                    <div class="app-link__result app-save-space">Search results: {{ searchResult.count }}</div>
                    <table class="table app-data__table app-bordered">
                        <thead class="app-data__table-header">
                            <tr>
                                <th></th>
                                <th>ID</th>
                                <th>Company Name</th>
                                <th>Address</th>
                                <th>Website</th>
                                <th class="app-data__table-cell--center"></th>
                            </tr>
                        </thead>
                        <tbody >
                            {% for company in searchResult.results %}
                                <tr>
                                    <td class="app-data__table-data app-data__table-data--company {{company.deleted ? 'app-deleted' : ''}}"></td>
                                    <td class="{{company.deleted ? 'app-deleted' : ''}}">{{ company.id }}</td>
                                    <td class="app-word-breack">
                                        <a href="{{ path('admin_company_get', {'company': company.id}) }}" target="_blank" class="app-link__select app-line--right-text {{company.deleted ? 'app-deleted' : ''}}">{{ company.name }}</a>
                                        {% if company.deleted %}<span class="label label-danger app-label">Deleted</span>{% endif %}
                                    </td>
                                    <td class="app-word-breack {{company.deleted ? 'app-deleted' : ''}}">{{ company.address | address }}</td>
                                    <td class="app-word-breack">
                                        <a class="app-link__select" href="{{ company.website | url_format  }}" target="_blank">{{ company.website }}</a>
                                    </td>
                                    <td class="app-data__table-cell--center">
                                        {% if not company.deleted %}
                                            <a data-link="{{ path('admin_contact_person_company_select', {'contactPerson': contactPerson.id, 'company': company.id}) }}" href="#" class="app-link__table-button btn app-modal-link" data-target="#selectCompany" data-toggle="modal">Select</a>
                                        {% endif %}
                                    </td>

                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
                {% if searchResult.message is defined %}
                    <div class="app-data__not-found app-bordered">{{ searchResult.message }}</div>
                {% endif %}
                <div class="app-wrapper">
                    <div>
                        {% if searchResult.pagesCount is defined and searchResult.pagesCount > 1 %}
                            <div class="pagination app-bordered">
                                <a class="app-pagination-arrow {{ searchResult.currentPage == 1 ? 'disabled' : '' }}" href="{{ path('admin_contact_person_search_company_for_select', {
                                    'contactPerson': contactPerson.id,
                                    'c_page': searchResult.currentPage - 1,
                                    'searchPhrase': app.request.query.get('searchPhrase'),
                                    "cn_s_in_notes": app.request.query.get('cn_s_in_notes')
                                }) }}">&laquo;</a>

                                {% for i in range(1, searchResult.pagesCount) %}
                                    <a class="{{ searchResult.currentPage == i ? 'app-active-page' : '' }}"
                                    href="{{ path('admin_contact_person_search_company_for_select', {
                                        'contactPerson': contactPerson.id,
                                        'c_page': i,
                                        'searchPhrase': app.request.query.get('searchPhrase'),
                                        "cn_s_in_notes": app.request.query.get('cn_s_in_notes')
                                    }) }}">{{ i }}</a>
                                {% endfor %}

                                <a class="app-pagination-arrow {{ searchResult.currentPage >= searchResult.pagesCount ? 'disabled' : '' }}" href="{{ path('admin_contact_person_search_company_for_select', {
                                    'contactPerson': contactPerson.id,
                                    'c_page': searchResult.currentPage + 1,
                                    'searchPhrase': app.request.query.get('searchPhrase'),
                                    "cn_s_in_notes": app.request.query.get('cn_s_in_notes')
                                }) }}">&raquo;</a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="app-wrapper">
                        <a href="{{ path('admin_company_create_and_linked_to_contact_person', {'contactPerson': contactPerson.id}) }}" class="app-form-button app-link__button app-link__button--wide app-form-button--indent btn">Create New Company</a>
                        <a href="{{ path('admin_contact_person_get', {'contactPerson': contactPerson.id}) }}" class="app-form-button app-link__button app-form-button--indent btn">CANCEL</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <!-- Modal -->
    {{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
        'modalId' : 'selectCompany',
        'message' : 'Are you sure you want to link the Company to the Contact Person?',
        'buttonYes' : 'modalYes',
        'buttonYesHref' : '#'
    }) }}
{% endblock %}
