{% extends 'AdminBundle:ContactPerson:form.html.twig' %}

{% block formHead %}<div class="app-main__page-title-name">Update Contact Person Information</div>{% endblock %}

{% block buttonSubmit %}
    <button id="contact_update" data-update="Yes" type="submit" class="app-form-button btn ">UPDATE</button>
     <!-- Modal -->
    {{ include('AdminBundle:layouts/dialogs:infoDialog.html.twig', {
        'modalId' : 'noUpdateModal'
    }) }}
{% endblock %}

{% block buttonCancel %}
	<a href="{{ path('admin_contact_person_get', { 'contactPerson': form.vars.value.contactPerson.id }) }}" class="app-form-button app-form-button--grey app-form-button--indent btn">CANCEL</a>
{% endblock %}