{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}
    <div class="app-main__page-title app-wrapper">
        <div class="app-main__page-title-name">
            Link Fire Alarm Control Panel (FACP) to
            <img class="app-link__icon" src="{{ asset('/bundles/admin/dist/images/'~rootDevice.named.category.icon) }}" alt="image account">
            <span>

        <a href="{{ path('admin_device_view', { 'device' : rootDevice.id }) }}" target="_blank" class="app-link__title">{{ rootDevice.named.name }}</a>
      </span>
        </div>
    </div>
    <div class="app-link__container app-form--bordered">
        <div class="app-form-header">Select Alarm Device</div>
        <div class="app-link__wrapper">
            {% if alarmPanels is defined and alarmPanels|length %}
                <table class="table app-data__table app-bordered">
                    <tbody>
                        {% for alarmDevice in alarmPanels %}
                            <tr>
                                <td colspan="2">
                                    <div class="app-wrapper">
                                        <div>
                                            <img class="app-line--right-text " src="{{ asset('/bundles/admin/dist/images/') ~ alarmDevice.named.category.icon }}">
                                            <a href="{{ path('admin_device_view', {'device' : alarmDevice.id}) }}" target="_blank" class="app-link__select app-font--bold app-line--align">{{ alarmDevice.named.name }}</a>
                                            <span class="app-devices-table__device-info app-line--align"> - {{ alarmDevice | deviceInfo | raw  }}</span>
                                        </div>
                                    </div>
                                </td>
                                <td align="right">
                                    <a href="#" data-link="{{ path('admin_device_alarm_panel', {'device':rootDevice.id, 'panel':alarmDevice.id, }) }}" data-target="#selectAlarmModal" class="app-modal-alarm-link app-link__table-button btn app-modal-link" data-toggle="modal">Select</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="app-data__not-found app-no-padding">No Alarm Panels on Site</div>
            {% endif %}
            <div class="app-wrapper app-data">
                <div></div>
                <a href="{{ path('admin_device_view', {'device' : rootDevice.id}) }}" class="app-form-button app-link__button app-form-button--indent btn">CANCEL</a>
            </div>
        </div>
    </div>

    <!-- Modal -->
    {{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
        'modalId' : 'selectAlarmModal',
        'message' : 'Are you sure you want to link the Alarm Panel to the Device?',
        'buttonYesHref' : "#",
        'oneClick' : 'Yes'
    }) }}
{% endblock %}