{% extends 'AdminBundle:Device:form.html.twig' %}

{% block formHead %}
                    Adding
                    <img class="app-link__icon app-link__icon--top" title="{{ deviceNamed.category.name }}" src="{{ asset('bundles/admin/dist/images/'~deviceNamed.category.icon) }}" alt="image contact">
                    {{ deviceNamed.name }} to
                    {% if account.type.alias == 'account' %}
                        <img class="app-link__icon" src="/bundles/admin/dist/images/site.svg" alt="image contact">
                    {% else %}
                        <img class="app-link__icon" src="/bundles/admin/dist/images/group_site.svg" alt="image contact">
                    {% endif %}
                    <a class="app-link__title" target="_blank" href="{{ path('admin_account_get',{'accountId': account.id}) }}">{{ account.name }}</a>
{% endblock %}
{% block formButton %}
    <button type="submit" class="app-form-button btn ">CREATE</button>
{% endblock %}

