<tr device-type="show{{ type | capitalize }}" type="show{{ type | capitalize }}" class="app-devices-table__device-type {{ showDevision <= 0 ? 'row-show' : '' }}" style="{{ showDevision <= 0 ? 'display: none;' : '' }}">
    <td class="app-division-row__arrow-container">
        <div class="app-text--align-right">
        {% if account.countsDevices[type ~ 'AndDeleted'] > 0 %}
            <a href="#" toggle-service="toggle-service" device="device-{{ type }}{{ account.id }}" show-service="true" check="show{{ type | capitalize  }}" id="service-{{ type }}{{ account.id }}" service-accountDevice="account-device{{ account.id }}" service-accountService="account-service{{ account.id }}" class="app-data__table-data app-division-row__arrow-styles arrow-clickable app-data__table-data--arrow-bottom link-preventDefault" ><span data-countServices="{{ account.countsServices[type ~ 'AndDeleted'] }}" data-countDevices="{{ account.countsDevices[type ~ 'AndDeleted'] }}"></span></a>
        {% endif %}
        </div>
    </td>
    <td colspan="18" class="app-division-row--left-indent">
        <div class="app-wrapper">
            {% block devisionTitle %}{% endblock %}
            <div class="app-division-row__counters app-line--right-text">
                <span class="app-division-row__counters-block">
                {% if account.countsDevices[type] is not defined or (account.countsDevices[type] <= 0 and account.countsDevices[type ~ 'AndDeleted'] == 0) %}
                    <span>No Devices</span>
                {% elseif account.countsDevices[type] <= 0 and account.countsDevices[type ~ 'AndDeleted'] > 0 %}
                    Devices: <span data-countAll="{{ account.countsDevices[type ~ 'AndDeleted'] }}" class="app-font--inherit">0</span>
                {% else %}
                    Devices: <span data-countAll="{{ account.countsDevices[type ~ 'AndDeleted'] }}" class="app-font--inherit">{{ account.countsDevices[type] }}</span>

                {% endif %}
                </span>
                <span class="app-division-row__counters-block">
                {% if account.countsServices[type] is not defined or (account.countsServices[type] <= 0 and account.countsServices[type ~ 'AndDeleted'] == 0) %}
                    <span >No Services</span>
                {% elseif account.countsServices[type] <= 0 and account.countsServices[type ~ 'AndDeleted'] > 0 %}
                    Services: <span data-countAll="{{ account.countsServices[type ~ 'AndDeleted'] }}" class="app-font--inherit">0</span>
                {% else %}
                    Services: <span data-countAll="{{ account.countsServices[type ~ 'AndDeleted'] }}" class="app-font--inherit">{{ account.countsServices[type] }}</span>
                {% endif %}
                </span>
            </div>
        </div>
    </td>
</tr>

<tr device-type="show{{ type | capitalize }}" id="header{{ type | capitalize }}{{ account.id }}" service-header="service-header" class="app-color--opacity30 app-devices-table__header-service">
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>Service Name</td>
    <td>Comments</td>
    <td>Fee</td>
    <td>Frequency</td>
    <td>Last Test</td>
    <td>Inspection Due</td>
    <td colspan="2" class="app-devices-table__header-company">Company last tested</td>
    <td>Probable Contractor's Test Fee</td>
    <td>Status</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>

{% if devicesForCategory %}
    {% include '@Admin/Device/list.html.twig' with {
    'devices': devicesForCategory,
    'type': type,
    'account': account,
    'show': show is defined ? true : false,
    'deviceLevel' : 0,
    'countsServices' : account.countsServices.all
    } %}
{% else %}

{% endif %}