<div class="app-devices-table__filter-gag">
    {% if (account.type.alias == 'account' and account.countsDevices.allAndDeleted) or (account.type.alias == 'group account' and account.children | length) %}
        <div class="app-devices-table__filter app-wrapper app-bordered--shadow">
            <div>
                <div class="app-devices-table__checkbox">
                    <input count-devices="{{ account.countsDevices.backflow }}" count-services="{{ account.countsServices.backflow }}"
                           count-devicesAll="{{ account.countsDevices.backflowAndDeleted }}" count-servicesAll="{{ account.countsServices.backflowAndDeleted }}"
                           class="app-checkbox-input" device="device" id="showBackflow" type="checkbox" {{ account.countsDevices.backflowAndDeleted ? 'checked' : '' }}>
                    <label class="app-checkbox-label" for="showBackflow">Show Backflow</label>
                </div>
                <div class="app-devices-table__checkbox">
                    <input count-devices="{{ account.countsDevices.fire }}" count-services="{{ account.countsServices.fire }}"
                           count-devicesAll="{{ account.countsDevices.fireAndDeleted }}" count-servicesAll="{{ account.countsServices.fireAndDeleted }}"
                           class="app-checkbox-input" device="device" id="showFire" type="checkbox" {{ account.countsDevices.fireAndDeleted ? 'checked' : '' }}>
                    <label class="app-checkbox-label" for="showFire">Show Fire</label>
                </div>
                <div class="app-devices-table__checkbox">
                    <input count-devices="{{ account.countsDevices.plumbing }}" count-services="{{ account.countsServices.plumbing }}"
                           count-devicesAll="{{ account.countsDevices.plumbingAndDeleted }}" count-servicesAll="{{ account.countsServices.plumbingAndDeleted }}"
                           class="app-checkbox-input" device="device" id="showPlumbing" type="checkbox" {{ account.countsDevices.plumbingAndDeleted ? 'checked' : '' }}>
                    <label class="app-checkbox-label" for="showPlumbing">Show Plumbing</label>
                </div>
                <div class="app-devices-table__checkbox">
                    <input count-devices="{{ account.countsDevices.alarm }}" count-services="{{ account.countsServices.alarm }}"
                           count-devicesAll="{{ account.countsDevices.alarmAndDeleted }}" count-servicesAll="{{ account.countsServices.alarmAndDeleted }}"
                           class="app-checkbox-input" device="device" id="showAlarm" type="checkbox" {{ account.countsDevices.alarmAndDeleted ? 'checked' : '' }}>
                    <label class="app-checkbox-label" for="showAlarm">Show Alarm</label>
                </div>
            </div>
            <div>
                {% if account.countsServices.countUnderRetestOpportunityServices %}
                    <a href="{{ path('admin_change_inspections_information', {'account' : account.id}) }}" class="app-link__table-button app-devices-table__button btn" data-edit-multiple-inspections>Edit multiple Inspections</a>
                {% endif %}
                <span no-devices="no-devices" class="{{ account.countsDevices.all ? 'app-display--none' : '' }} app-linChange Inspections information atk__table-button app-devices-table__button app-line--align btn link-preventDefault app-link__table-button--gray" data-count-device-button>No Devices</span>
                <a href="#" id="all-devices" show-device="true" class="{{ account.countsDevices.all ? '' : 'app-display--none' }} app-link__table-button app-devices-table__button btn link-preventDefault" data-count-device-button>All Devices: <span data-countAll="{{ account.countsDevices.allAndDeleted }}" id="deviceCount" class="app-font--inherit">{{ account.countsDevices.all }}</span></a>
                <span no-services="no-services" class="{{ account.countsServices.all ? 'app-display--none' : '' }} app-link__table-button app-devices-table__button app-line--align btn link-preventDefault app-link__table-button--gray" data-count-services-button>No Services</span>
                <a href="#" id="all-services" show-service="true" class="{{ account.countsServices.all ? '' : 'app-display--none' }} app-link__table-button app-devices-table__button btn link-preventDefault" data-count-services-button>All Services: <span data-countAll="{{ account.countsServices.allAndDeleted }}" id="serviceCount" class="app-font--inherit">{{ account.countsServices.all }}</span></a>
            </div>
        </div>
    {% endif %}
</div>

{% if (account.type.alias == 'account' and account.countsDevices.allAndDeleted) or (account.type.alias == 'group account' and account.children | length) %}
    <div>
        <table class="table app-data__table app-data__table--hidden app-devices-table app-bordered--shadow tableWithDataArray" data-workorders="{{ workordersByAccount }}" id="deviceTable">
            <tbody>
            {% block listDevicesAndServices %}{% endblock %}
            </tbody>
        </table>
        <div>
            <div class="app-data__not-found app-bordered--shadow" id="select-division">
                Please select at least one division
            </div>
        </div>
    </div>
{% else %}
    <div class="app-devices-table__container">
        <div class="app-data__not-found app-bordered--shadow {{account.children.count() == 0 ? 'app-devices-table__not-found' : ''}}">{% block message %}{% endblock %}</div>
    </div>
{% endif %}