{% extends 'AdminBundle:Device:devices_and_services.html.twig' %}

{% block listDevicesAndServices %}
    {% for childAccount in account.children %}
        <!--account row-->
        <tr class="app-devider-row">
            <td colspan="19"></td>
        </tr>
        <tr>
            <td colspan="19" class="app-account-row">
                <div class="app-wrapper">
                    <div class="app-wrapper">
                        <img class="app-account-site__name {{childAccount.deleted ? 'app-deleted' : ''}}" src="/bundles/admin/dist/images/site.svg">
                        <div class="app-font--medium app-font--bold">
                            <a class="app-link__select app-link__title {{childAccount.deleted ? 'app-deleted' : ''}}" href="{{ path('admin_account_get', {'accountId': childAccount.id}) }}">{{ childAccount.name }}</a>
                            {{ childAccount | is_message('no_municipality_compliance_channel_backflow') | raw }}
                            {{ childAccount | is_message('site_has_own_authorizer') | raw }}
                            {{ childAccount | is_message('service_no_fee') | raw }}
                            {{ childAccount | is_message('authorizer_invalid_address') | raw }}
                            <span class="app-color--inactive app-font--medium-s app-line--right-text {{childAccount.deleted ? 'app-deleted' : ''}}"> - {{ childAccount.address | address }}</span>
                            {% if childAccount.deleted %}<span class="label label-danger app-label">Deleted</span>{% endif %}
                            <a data-link="{{ path('admin_account_parent_clear', {'account': childAccount.id, 'parentAccountId': account.id}) }}" href="#" data-toggle="modal"  class="app-link__delete app-modal-link" data-target="#unLinkSiteConfirm">
                                <img class="app-account-site__delete" alt="image delete" src="{{ asset('bundles/admin/dist/images/delete.svg') }}">
                            </a>
                        </div>
                    </div>

                    <div class="app-wrapper--align-self app-devices-table__device-counters">
                        <span no-devices-account="account-device{{ childAccount.id }}"
                              class="{{ childAccount.countsDevices.all ? 'app-display--none' : '' }} app-link__table-button app-devices-table__button app-line--align btn link-preventDefault app-link__table-button--gray">
                            No Devices
                        </span>
                        <a href="#" account-device="account-device" id="account-device{{ childAccount.id }}"
                           service="account-service{{ childAccount.id }}" show-device="true"
                           class="{{ childAccount.countsDevices.all ? '' : 'app-display--none' }} app-link__table-button app-devices-table__button app-line--align btn link-preventDefault">
                            Site Devices:
                            <span data-countAll="{{ childAccount.countsDevices.allAndDeleted }}"
                                  class="app-font--inherit" count-devices-account="count-devices-account"
                                  showBackflow="{{ childAccount.countsDevices.backflow }}"
                                  showFire="{{ childAccount.countsDevices.fire }}"
                                  showPlumbing="{{ childAccount.countsDevices.plumbing }}"
                                  showAlarm="{{ childAccount.countsDevices.alarm }}"
                                  showBackflowAll="{{ childAccount.countsDevices.backflowAndDeleted }}"
                                  showFireAll="{{ childAccount.countsDevices.fireAndDeleted }}"
                                  showPlumbingAll="{{ childAccount.countsDevices.plumbingAndDeleted }}"
                                  showAlarmAll="{{ childAccount.countsDevices.alarmAndDeleted }}">
                                {{ childAccount.countsDevices.all }}
                            </span>
                        </a>

                        <span no-services-account="account-service{{ childAccount.id }}" class="{{ childAccount.countsServices.all ? 'app-display--none' : '' }} app-link__table-button app-devices-table__button app-line--align btn link-preventDefault app-link__table-button--gray">No Services</span>
                        <a href="#" account-service="account-service" id="account-service{{ childAccount.id }}" device="account-device{{ childAccount.id }}" show-service="true" class="{{ childAccount.countsServices.all ? '' : 'app-display--none' }} app-link__table-button app-devices-table__button app-line--align btn link-preventDefault">Site Services: <span data-countAll="{{ childAccount.countsServices.allAndDeleted }}" class="app-font--inherit" count-services-account="count-services-account" showBackflow="{{ childAccount.countsServices.backflow }}" showFire="{{ childAccount.countsServices.fire }}" showPlumbing="{{ childAccount.countsServices.plumbing }}" showAlarm="{{ childAccount.countsServices.alarm }}" showBackflowAll="{{ childAccount.countsServices.backflowAndDeleted }}" showFireAll="{{ childAccount.countsServices.fireAndDeleted }}" showPlumbingAll="{{ childAccount.countsServices.plumbingAndDeleted }}" showAlarmAll="{{ childAccount.countsServices.alarmAndDeleted }}">{{ childAccount.countsServices.all }}</span></a>
                    </div>
                </div>
            </td>
        </tr>
        <!--end account row-->
        {% include '@Admin/Device/devision_backflow.html.twig' with {'devicesForCategory': childAccount.devicesByCategories.backflow, 'account': childAccount, 'type': 'backflow', 'showDevision': account.countsDevices.backflow } %}
        {% include '@Admin/Device/devision_fire.html.twig' with {'devicesForCategory': childAccount.devicesByCategories.fire, 'account': childAccount, 'type': 'fire', 'showDevision': account.countsDevices.fire } %}
        {% include '@Admin/Device/devision_plumbing.html.twig' with {'devicesForCategory': childAccount.devicesByCategories.plumbing, 'account': childAccount, 'type': 'plumbing', 'showDevision': account.countsDevices.plumbing } %}
        {% include '@Admin/Device/devision_alarm.html.twig' with {'devicesForCategory': childAccount.devicesByCategories.alarm, 'account': childAccount, 'type': 'alarm', 'showDevision': account.countsDevices.alarm } %}
    {% endfor %}
{% endblock %}

{% block message %}
    No sites added
{% endblock %}
