{% extends 'AdminBundle:Device:devision.html.twig' %}

{% block devisionTitle %}
    <div>
        <img class="app-line--right-text" src="{{ asset('bundles/admin/dist/images/backflow.svg') }}">
        <span class="app-color--inactive app-devices-table__device-title app-line--align">Backflow Devices and Services <span class="app-color--inactive app-font--bold">- Munic./Proc. fees:</span>
            {% if (municipalityProcessingFee[account.id]['backflow'] is defined) and (municipalityProcessingFee[account.id]['backflow'] is not null) %}
                {% if municipalityProcessingFee[account.id]['backflow']['feesWillVary'] %}
                    * / *
                {% else %}
                    {{ municipalityProcessingFee[account.id]['backflow']['uploadFee'] ? '$'~municipalityProcessingFee[account.id]['backflow']['uploadFee'] : '-' }}/{{ municipalityProcessingFee[account.id]['backflow']['processingFee'] ? '$'~municipalityProcessingFee[account.id]['backflow']['processingFee'] :'-' }}
                {% endif %}
            {% else %}
                -/-
            {% endif %}</span>
    </div>
{% endblock %}