{% extends 'AdminBundle:Device:devices_and_services.html.twig' %}

{% block listDevicesAndServices %}
    <tr class="app-devider-row">
            <td colspan="18"></td>
    </tr>
    {% include '@Admin/Device/devision_backflow.html.twig' with {'devicesForCategory': account.devicesByCategories.backflow, 'type': 'backflow', 'account': account, 'showDevision': account.countsDevices.backflowAndDeleted } %}
    {% include '@Admin/Device/devision_fire.html.twig' with {'devicesForCategory': account.devicesByCategories.fire, 'type': 'fire', 'account': account, 'showDevision': account.countsDevices.fireAndDeleted } %}
    {% include '@Admin/Device/devision_plumbing.html.twig' with {'devicesForCategory': account.devicesByCategories.plumbing, 'type': 'plumbing', 'account': account, 'showDevision': account.countsDevices.plumbingAndDeleted } %}
    {% include '@Admin/Device/devision_alarm.html.twig' with {'devicesForCategory': account.devicesByCategories.alarm, 'type': 'alarm', 'account': account, 'showDevision': account.countsDevices.alarmAndDeleted } %}
{% endblock %}

{% block message %}
    No Devices and Services 
{% endblock %}