{% extends 'AdminBundle:Device:devision.html.twig' %}

{% block devisionTitle %}
    <div>
        <img class="app-line--right-text" src="{{ asset('bundles/admin/dist/images/fire.svg') }}">
        <span class="app-color--inactive app-devices-table__device-title app-line--align">Fire Devices and Services <span class="app-color--inactive app-font--bold">- Munic./Proc. fees:</span>
            {% if municipalityProcessingFee[account.id]['fire'] is defined and municipalityProcessingFee[account.id]['fire'] is not null %}
                {% if municipalityProcessingFee[account.id]['fire']['feesWillVary'] %}
                    * / *
                {% else %}
                    {{ municipalityProcessingFee[account.id]['fire']['uploadFee'] ? '$'~municipalityProcessingFee[account.id]['fire']['uploadFee'] : '-' }}/{{ municipalityProcessingFee[account.id]['fire']['processingFee'] ? '$'~municipalityProcessingFee[account.id]['fire']['processingFee'] :'-' }}
                {% endif %}
            {% else %}
                -/-
            {% endif %}</span>
    </div>
{% endblock %}