{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}
	<div class="app-main__page-title app-wrapper">
		<div class="app-main__page-title-name">
            {% block formHead %}
				Link
				<img class="app-link__icon" title="{{ deviceNamed.category.name }}" src="{{ asset('bundles/admin/dist/images/'~deviceNamed.category.icon) }}" alt="image contact">
				<a class="app-link__title app-role__title" href="#">{{ deviceNamed.name }}</a> to
                {% if account.type.alias == 'account' %}
					<img class="app-link__icon" src="/bundles/admin/dist/images/site.svg" alt="image contact">
                {% else %}
					<img class="app-link__icon" src="/bundles/admin/dist/images/group_site.svg" alt="image contact">
                {% endif %}
				<a class="app-link__title" target="_blank" href="{{ path('admin_account_get',{'accountId': account.id}) }}">{{ account.name }}</a>
            {% endblock %}
		</div>
	</div>

	<div class="app-form app-form--device app-form--flex app-form--bordered">
		<div class="app-form-header">Device Information</div>
		<div class="app-device-form__wrapper">
            {{ form_start(form, {'attr': {'id': 'deviceForm', 'autocomplete': 'off', 'novalidate': 'novalidate', 'enctype': 'multipart/form-data'}}) }}
			<div class="app-wrapper">
				<div class="app-device-form__wrapper-column">
					<div class="form-group">
						<label>Device Photo:</label>
						<input type="hidden" name="forceDeleteImage" id="forceDeleteImage" value="">
						<input class="app-device-form__img-input" type="file" name="{{ form.children.photo.vars.full_name }}" id="imgUpload" />
						<div id="imgPlace" class="imgTrigger app-device-form__img{{ form.vars.value.device.photo ? "" : " app-device-form__img-place" }}">
							<a href="#" id="browseImg" class="app-device-form__img-link app-link__select link-preventDefault"{{ form.vars.value.device.photo ? 'style="display:none;"' : "" }}>Browse Image</a>
							<a id="imgDelete" class="app-device-form__img-delete" data-toggle="modal" data-target="deleteImage"{{ form.vars.value.device.photo ? 'style="display:inline;"' : "" }}>
								<img alt="image delete" src="{{ asset('/bundles/admin/dist/images/delete.svg')}}" >
							</a>
							<div id="imgContent" class="app-device-form__img-content{{ form.vars.value.device.photo ? " app-view--max-size" : "" }}">
                                {% if form.vars.value.device.photo %}
									<div style="background-image: url({{ form.vars.value.device.photo }});" class="app-device-form__img_background"></div>
                                {% endif %}
							</div>
						</div>
						<div id="uploadError"{% if (form.photo.vars.errors | length > 0) %} class="app-submit-error app-device-form__img-error"{% endif %}>
                            {{ form_errors(form.photo) }}
						</div>
					</div>
					<div class="form-group">
                        {{ form_label(form.device.location) }}
                        {{ form_widget(form.device.location, {'attr': {'class': "form-control mozilla-input", 'name': 'location', 'placeholder': 'Location'}}) }}
					</div>
					<div class="form-group">
                        {{ form_label(form.device.status) }}
                        {{ form_widget(form.device.status, {'attr': {'class': "selectpicker form-control mozilla-input", 'name': 'status'}}) }}
					</div>
					<div class="form-group">
                        {{ form_label(form.device.comments) }}
                        {{ form_widget(form.device.comments, {'attr': {'class': "form-control mozilla-input app-device-form__textarea", 'name': 'comments', 'placeholder': 'Comment'}}) }}
					</div>
					<div class="form-group">
                        {{ form_label(form.device.noteToTester) }}
                        {{ form_widget(form.device.noteToTester, {'attr': {'class': "form-control mozilla-input app-device-form__textarea", 'name': 'notes', 'placeholder': 'Notes'}}) }}
					</div>
				</div>
				<div class="app-device-form__wrapper-column">
					{% if not form.device.fields | length %}
						<div class="app-data__not-found app-device-form__no-fields">No specific fields</div>
					{% endif %}
                    {% for field in form.device.fields %}
						<div class="form-group">
							<label>{{ field.vars.value.field.name is defined ? field.vars.value.field.name : '' }}:</label>
                            {% if  field.children.value is defined %}
								<input type="text" id="{{ field.children.value.vars.id is defined ? field.children.value.vars.id : '' }}" name="{{ field.children.value.vars.full_name is defined ? field.children.value.vars.full_name : '' }}" value="{{ field.children.value.vars.value or field.children.value.vars.value == '0' ? field.children.value.vars.value : '' }}" placeholder="{{ field.vars.value.field.name is defined ? field.vars.value.field.name : '' }}" class="dynamic-form-element app-validation-dynamicFields form-control mozilla-input{{ field.vars.value.field.validation ? ' '~field.vars.value.field.validation.name : '' }}"/>
                            {% elseif field.children.optionValue is defined %}
								<select name="{{ field.children.optionValue.vars.full_name is defined ? field.children.optionValue.vars.full_name : '' }}" id="{{ field.children.optionValue.vars.id is defined ? field.children.optionValue.vars.id : '' }}" class="selectpicker form-control mozilla-input dynamic-form-element">
                                    {% if  field.children.optionValue.vars.placeholder is defined %}
										<option value="">{{ field.children.optionValue.vars.placeholder }}</option>
                                    {% endif %}
                                    {% for choice in field.children.optionValue.vars.choices %}
										<option {{ ((field.children.optionValue.vars.value and field.children.optionValue.vars.value == choice.value) or (not field.children.optionValue.vars.value and choice.data.selectDefault)) ? 'selected' : ''  }} value="{{ choice.value }}">{{ choice.label }}{{ choice.data.selectDefault ? " (default)" : "" }}</option>
                                    {% endfor %}
								</select>
                            {% endif %}
						</div>
                    {% endfor %}
				</div>
			</div>
			<div class="app-form-button--right app-device-form__wrapper-button">
                {% block formButton %}
					<button type="submit" class="app-form-button btn ">CREATE</button>
                {% endblock %}
                {% block backButton %}
					{% if form.device.vars.data.parent  %}
						<a href="{{ path('admin_device_view', {'device': form.device.vars.data.parent.id}) }}" class="app-form-button app-form-button--grey app-form-button--indent btn">CANCEL</a>
					{% else %}
						<a href="{{ path('admin_account_get', {'accountId': account.id}) }}" class="app-form-button app-form-button--grey app-form-button--indent btn">CANCEL</a>
               		{% endif %}
                {% endblock %}

			</div>
            {{ form_end(form, {'render_rest': false}) }}
		</div>
	</div>
	<div class="app-form-error"></div>

	{{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
		'modalId' : 'deleteImage',
		'message' : 'Are you sure you want to delete this Device image?',
		'buttonYesId' : 'imgDelButton'
	}) }}

	{{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
	    'modalId' : 'deviceModal',
	    'message' : 'Are you sure you want to create this Device and add it to the Site Account?',
		'dataSubmit' : 'Yes'
	}) }}

{% endblock %}