{#<!--header row-->#}
{#<tr device-type="showAlarm" class="app-color--inactive app-devices-table__header-service row-show">#}
    {#<td></td>#}
    {#<td></td>#}
    {#<td></td>#}
    {#<td></td>#}
    {#<td class="app-data__table-cell--center">Service ID</td>#}
    {#<td>Service Name</td>#}
    {#<td>Fee</td>#}
    {#<td>Frequency</td>#}
    {#<td>Last Test</td>#}
    {#<td>Inspection Due</td>#}
    {#<td>Company last tested</td>#}
    {#<td>Last Test Fee</td>#}
    {#<td></td>#}
    {#<td></td>#}
{#</tr>#}
{#<!--end header row-->#}
{% for device in devices|sort_by(=> _.named.sort, 'DESC') %}
    {% include '@Admin/Device/row_device_for_list.html.twig' with {'device': device, 'type': type, 'account': account, 'show': show, 'countsServices' : countsServices} %}
    {% include '@Admin/Service/list.html.twig' with {'services': device.services, 'device': device, 'serviceRowClose': serviceRowClose is defined ? serviceRowClose : 'true'} %}

    {% for subDevice in device.children|sort_by(=> _.named.sort, 'DESC') %}
        {% include '@Admin/Device/row_device_for_list.html.twig' with {'device': subDevice, 'type': type, 'account': account, 'show': show} %}
        {% include '@Admin/Service/list.html.twig' with {'services': subDevice.services, 'device': subDevice, 'serviceRowClose': serviceRowClose is defined ? serviceRowClose : 'true'} %}

        {% for subSubDevice in subDevice.children|sort_by(=> _.named.sort, 'DESC') %}
            {% include '@Admin/Device/row_device_for_list.html.twig' with {'device': subSubDevice, 'type': type, 'account': account, 'show': show} %}
            {% include '@Admin/Service/list.html.twig' with {'services': subSubDevice.services, 'device': subSubDevice, 'serviceRowClose': serviceRowClose is defined ? serviceRowClose : 'true'} %}
        {% endfor %}
    {% endfor %}
{% endfor %}