{% for item in deviceCollection %}
    <tr>
        <td colspan="12">
            <div class="app-wrapper app-notice-form__table-device">
                <div>
                    {% if item.level == 1 %}
                        <div class="app-repare-proposal__circle"></div>
                    {% elseif item.level == 2 %}
                        <div class="app-repare-proposal__circle"></div><div class="app-repare-proposal__circle"></div>
                    {% endif %}

                    <img class="app-line--right-text"
                         src={{ asset('bundles/admin/dist/images/'~item.device.named.category.icon) }} alt="{{ item.device.named.category.alias }}">
                    <span class="app-line--align {{ item.device.deleted ? 'app-deleted' : ''}}">
                                                <a class="app-link__select app-link__title" href="{{ path('admin_device_view', {'device' : item.device.id}) }}">{{ item.device.title }}</a>
                                                <span class="app-color--inactive">{{ (item.device.comments) ? '- '~ item.device.comments : '' }}</span>
                                            </span>
                    <span class="app-devices-table__device-info app-line--align {{ item.device.deleted ? 'app-deleted' : ''}}">- {{ item.device | deviceInfo(true, true) | raw }}</span>
                    {% if item.device.deleted %}<span class="label label-danger">Deleted</span>{% endif %}
                </div>
            </div>
        </td>
    </tr>

    {% if item.services | length %}
        {% for service in item.services %}
            <tr class="{{ service.deleted ? 'app-deleted' : ''}}">
                <td></td>
                <td class="app-no-padding--right">
                    <img class="app-devices-table__service-img"
                         src={{ asset('bundles/admin/dist/images/service.svg') }}>
                </td>
                <td class="app-no-padding--left app-word-breack">
                    {{ service.named is defined ? service.named.name : 'No name' }}
                </td>
                <td class="app-word-breack">{{ (service.comment) ? service.comment : '-' }}</td>
                <td>{{ service.named is not null and service.named.frequency is not null ? service.named.frequency.name : '-' }}</td>
                <td>{{ service.inspectionDue | date('m/d/Y') }}</td>
                <td>${{ service.fixedPrice | money_format(service.fixedPrice) }}</td>
                <td>
                    {{ service | get_view_result_for_service_municipality_fee(item.deviceRepairInfo) }}
                </td>
                <td>{{ service | get_subtotal_fee(item.deviceRepairInfo) }}</td>
                {% if not proposal.frozen %}
                    <td>
                        <a href="#" data-link="{{ path('admin_delete_service_from_retest_notice', {'service': service.id}) }}"
                           data-target="#deleteServiceFromRetestNotice"
                           data-toggle="modal"
                           class="app-modal-link app-link__table-button app-proposal-logs__button--red btn app-workorder-form__skip-reset-button">
                            Skip Service
                        </a>
                    </td>
                    <td class="app-workorder-form__button-table">
                        <a href="#" data-link="{{ path('admin_service_reset_next_time', {'service': service.id, 'proposal': proposal.id }) }}"
                           data-target="#resetServiceFromTheRetestNotice"
                           data-toggle="modal"
                           class="app-modal-link app-link__table-button app-proposal-logs__button--red btn app-workorder-form__skip-reset-button">
                            Reset Service
                        </a>
                    </td>
                {% else %}
                    <td></td>
                    <td></td>
                {% endif %}
            </tr>
        {% endfor %}
    {% endif %}

    {% if item.subDevices | length %}
        {% include '@Admin/Device/row_device_with_inspections.html.twig' with {'deviceCollection': item.subDevices} %}
    {% endif %}
{% endfor %}