{% for item in deviceCollection %}
    <tr class="app-repare-proposal__row--service app-repare-proposal__table-border">
        <td></td>
        <td colspan="7">
            <div class="app-wrapper">
                <div>
                    {% if item.level == 1 %}
                        <div class="app-repare-proposal__circle"></div>
                    {% elseif item.level == 2 %}
                        <div class="app-repare-proposal__circle"></div><div class="app-repare-proposal__circle"></div>
                    {% endif %}

                    <img class="app-line--right-text"
                         src={{ asset('bundles/admin/dist/images/' ~ item.device.named.category.icon) }}
                         alt="{{ item.device.named.category.alias }}">

                    <span class="app-line--align {{ item.device.deleted ? 'app-deleted' : ''}}">
                        <a class="app-link__select app-link__title" href="{{ path('admin_device_view', {'device' : item.device.id}) }}">{{ item.device.title }}</a>
                        <span class="app-color--inactive">{{ (item.device.comments) ? '- '~ item.device.comments | raw : '' }}</span>
                    </span>
                    <span class="app-devices-table__device-info app-line--align {{ item.device.deleted ? 'app-deleted' : ''}}">- {{ item.device | deviceInfo(true, true) | raw }}</span>
                    {% if item.device.deleted %}<span class="label label-danger">Deleted</span>{% endif %}
                </div>
            </div>
        </td>
        <td class="app-repare-proposal__delete-button-wrapper">
            {% if item.services and not proposal.frozen %}
                <a href="#" data-link="{{ path('admin_delete_repair_from_proposal', {'proposal': proposal.id, 'device': item.device.id}) }}" class="app-modal-link" data-toggle="modal" data-target="#deleteDevicefromProposal">
                    <img class="app-icon--delete" alt="image delete" src="/bundles/admin/dist/images/delete.svg">
                </a>
            {% endif %}
        </td>
        <td></td>
    </tr>

    {% if item.isInspections %}
        <tr class="app-repare-proposal__row--header app-repare-proposal__table-border">
            <td></td>
            <td>Inspections</td>
            <td width="15%">Regulatory Reference</td>
            <td width="15%">Inspection Due</td>
            <td width="15%">Service Fee</td>
            <td colspan="2">Munic and. Proc. Fee</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        {% for service in item.services if service.named.frequency %}
            <tr class="app-repare-proposal__row--service app-repare-proposal__table-border">
                <td></td>
                <td class="app-word-breack">
                    {{ service.named.name ?? '-' }}
                </td>
                <td width="15%">{{ (service.contractorService.reference is defined and service.contractorService.reference) ? service.contractorService.reference : '-' }}</td>
                <td width="15%">{{ service.inspectionDue | date('m/d/Y') }}</td>
                <td width="15%">{{ service.fixedPrice ? '$' ~ service.fixedPrice | money_format : '-'}}</td>
                <td colspan="2">{{ service | get_view_result_for_service_municipality_fee(item.deviceRepairInfo) }}</td>
                {% if not proposal.frozen %}
                    <td class="app-workorder-form__button-table app-text--align-right">
                        <a href="#" data-link="{{ path('admin_service_reset_next_time', {'service': service.id, 'proposal': proposal.id }) }}"
                           data-target="#resetServiceFromTheRetestNotice"
                           data-toggle="modal"
                           class="app-modal-link app-link__select--red">
                            Reset
                        </a>
                    </td>
                    <td class="app-repare-proposal__delete-button-wrapper">
                        <a href="#" data-link="{{ path('admin_delete_service_from_retest_notice', {'service': service.id}) }}"
                           data-target="#deleteServiceFromRetestNotice"
                           data-toggle="modal"
                           class="app-modal-link">
                            <img class="app-icon--delete" alt="image delete" title="Skip Service" src="/bundles/admin/dist/images/delete.svg">
                        </a>
                    </td>
                {% else %}
                    <td></td>
                    <td></td>
                {% endif %}
                <td></td>
            </tr>
        {% endfor %}
    {% endif %}

    {% if item.isRepairs %}
        <tr class="app-repare-proposal__row--header app-repare-proposal__table-border">
            <td></td>
            <td>Repairs</td>
            <td class="app-data-table__th_width_35per">Deficiency to fix</td>
            <td width="15%">Deficiency found on</td>
            <td width="15%">Munic and. Proc. Fee</td>
            <td colspan="2"></td>
            {% if not proposal.frozen %}
                <td>
                </td>
                <td class="app-repare-proposal__table-icon">
                    <div class="app-repare-proposal__data--indent">
                        <a href="{{ path('admin_edit_repair_proposals', {'proposal' : proposal.id, 'device' : item.device.id}) }}" data-link="#" class="app-modal-link" data-toggle="modal" data-target="#">
                            <img src="/bundles/admin/dist/images/edit.svg">
                        </a>
                    </div>
                </td>
            {% else %}
                <td></td>
                <td></td>
            {% endif %}
            <td></td>
        </tr>

        {% for service in item.services if not service.named.frequency %}
            <tr class="app-repare-proposal__row--service app-repare-proposal__table-border {{ service.deleted ? 'app-deleted' : ''}}">
                <td></td>
                <td class="app-word-breack">
                    {{ service.named is defined ? service.named.name : 'No name' }}
                </td>
                <td width="15%" class="app-word-breack">
                    {% if not service.named.deficiency and service.comment %}
                        {{ service.comment | ucfirst }}
                    {% elseif service.named.deficiency and service.comment %}
                        {{ service.named.deficiency }}{{ ". " ~ service.comment | ucfirst }}
                    {% else %}
                        {{ service.named.deficiency ? service.named.deficiency : '-' }}
                    {% endif %}
                </td>
                <td width="15%">{{ service.inspectionDue is defined and service.inspectionDue is not null ? service.inspectionDue | date('m/d/Y') : '-' }}</td>
                <td width="15%">{{ service | get_view_result_for_service_municipality_fee(item.deviceRepairInfo) }}</td>
                <td colspan="2"></td>
                <td class="app-repare-proposal__table-icon">
                    {% if not proposal.frozen %}
                        <div class="app-repare-proposal__data--indent">
                            <a href="#" data-toggle="modal" data-target="#editRepairServiceComment" data-action="{{ path('admin_edit_repair_service_comment', {'service': service.id}) }}" data-comment="{{ service.comment }}" class="app-link__select app-link__select--nowrap app-modal-link app-line--right-text"
                            > <img src="{{ asset('bundles/admin/dist/images/edit.svg') }}"></a>
                        </div>
                    {% endif %}
                </td>
                <td class="app-repare-proposal__delete-button-wrapper">
                    {% if not proposal.frozen %}
                        <a href="#" data-link="{{ path('admin_delete_repair_service_from_proposal', {'service': service.id}) }}" class="app-modal-link" data-toggle="modal" data-target="#deleteServiceFromProposal">
                            <img class="app-icon--delete" alt="image delete" src="/bundles/admin/dist/images/delete.svg">
                        </a>
                    {% endif %}
                </td>
                <td></td>
            </tr>
        {% endfor %}
    {% endif %}

    {% if item.isRepairs or item.isInspections %}
        <tr class="app-repare-proposal__row--info app-repare-proposal__row--service">
            <td></td>
            <td colspan="3">
                <table class="app-repare-proposal__data--table app-repare-proposal__data--info">
                    {% if item.isRepairs %}
                        <tr>
                            <td>Repair Comments:</td>
                            <td>{{ item.deviceRepairInfo.comments ? item.deviceRepairInfo.comments | raw : '-' }}</td>
                        </tr>
                        <tr>
                            <td>Special Repair Notifications:</td>
                            <td>{{ item.deviceRepairInfo.specialNotification.name ?? '-' }}</td>
                        </tr>
                    {% endif %}

                    {% if item.isInspections %}
                        <tr>
                            <td>Inspection Estimated Time:</td>
                            <td>{{ item.deviceRepairInfo.inspectionEstimationTime ?? '0' }} {% if item.deviceRepairInfo.inspectionEstimationTime <= 1  %} work-hour {% else %} work-hours {% endif %}</td>
                        </tr>
                    {% endif %}

                    {% if item.isRepairs %}
                        <tr>
                            <td>Repair Estimated Time:</td>
                            <td>{{ item.deviceRepairInfo.estimationTime ?? '0' }} {% if item.deviceRepairInfo.estimationTime <= 1  %} work-hour {% else %} work-hours {% endif %}</td>
                        </tr>
                    {% endif %}
                </table>
            </td>
            <td colspan="2">
                <table class="app-repare-proposal__data--table app-repare-proposal__data--prices">
                    {% if item.isRepairs %}
                        <tr>
                            <td>Repair parts and labor price:</td>
                            <td>{{ item.deviceRepairInfo ? '$' ~ item.deviceRepairInfo.price | money_format : 0 }}</td>
                        </tr>
                    {% endif %}

                    {% if item.isInspections %}
                        <tr>
                            <td>Subtotal Inspections Fee:</td>
                            <td>{{ item.deviceRepairInfo.inspectionPrice ? '$' ~ item.deviceRepairInfo.inspectionPrice | money_format : '$0' }}</td>
                        </tr>
                    {% endif %}

                    <tr class="app-repare-proposal__data--total">
                        <td>Subtotal Munic. and Proc. fees:</td>
                        <td>{{ item.deviceRepairInfo | get_view_result_for_device_info_sub_total_mun_and_proc_fee }}</td>
                    </tr>
                    <tr>
                        <td>Device Total:</td>
                        <td>{{ item.deviceRepairInfo | get_device_total }}</td>
                    </tr>
                </table>
            </td>
            <td colspan="3">
                <div class="app-repare-proposal__data--indent">
                    {% if item.device.photo and item.device.photo | length > 5 %}
                        <div class="device-block-width_img app-repare-proposal__img--section device-block-width_background-property app-detailed__new-tab-img-wrapper" style="background-image: url({{ path("admin_device_image_view", {'device' : item.device.id }) }}?{{ item.device.dateUpdate | date("U") }})"><a href="{{ path("admin_device_image_view", {'device' : item.device.id }) }}?{{ item.device.dateUpdate | date("U") }}" class="app-link__new-tab-img" target="_blank"></a></div>
                    {% else %}
                        <div class="device-block-width_img app-repare-proposal__img--section app-repare-proposal__img--placeholder">
                            <div class="app-color--inactive device-block-width__no-data app-repare-proposal__img--no-data">
                                <span>No Photo</span>
                                <img class="app-contact-list__warning" alt="warning image" src="/bundles/admin/dist/images/warning.svg">
                            </div>
                        </div>
                    {% endif %}
                </div>
            </td>
            <td></td>
        </tr>
    {% endif %}

    <tr class="app-devider-row">
        <td colspan="10"></td>
    </tr>

    {% if item.subDevices | length %}
        {% include '@Admin/Device/row_device_with_inspections_and_repairs.html.twig' with {'deviceCollection': item.subDevices} %}
    {% endif %}

{% endfor %}