{#<!--general service-->#}
{#<tr device-type="show{{ type | capitalize }}" general-device="device-{{ type }}{{ account.id }}"  general-service="service-{{ type }}{{ account.id }}" general-device-account="account-device{{ account.id }}" service-account="account-service{{ account.id }}" type="general-service" {{ show ? '' : 'row-close="true"' }} class="row-show">#}
    {#<td parent="parent" id="parent-device{{ device.id }}" class="app-data__table-data app-data__table-data--arrow-bottom arrow-clickable"></td>#}
    {#<td colspan="14">#}
        {#<div class="app-wrapper">#}
            {#<div>#}
                {#<img class="app-line--right-text" src="{{ asset('bundles/admin/dist/images/service.svg') }}">#}
                {#<span class="app-line--align">General Services for Site</span>#}
            {#</div>#}
            {#<div class="app-line--right-text">#}
                {#<span class="app-line--align">Services: 0</span>#}
            {#</div>#}
        {#</div>#}
    {#</td>#}
{#</tr>#}
{#<!--end general service-->#}

<tr device-type="show{{ type | capitalize }}" device="device-{{ type }}{{ account.id }}" service="service-{{ type }}{{ account.id }}" type="device" device-account="account-device{{ account.id }}" service-account="account-service{{ account.id }}" {{ show ? '' : 'row-close="true"' }} class="row-show">
    <td></td>
    <td></td>
    {# <td parent="parent" id="parent-device{{ device.id }}" class="app-data__table-data {{ device.services | length > 0 ? 'arrow-clickable app-data__table-data--arrow-bottom' : 'app-data__table-data--arrow-gray' }}"></td> #}
    {% if device.parent %}
        <td class="app-devices-table__dash-cell">
            <div class="app-devices-table__dash"></div>
        </td>
    {% endif %}
    {% if deviceLevel == 0 and device.parent.parent is defined and device.parent.parent %}
        <td class="app-devices-table__dash-cell">
            <div class="app-devices-table__dash"></div>
        </td>
    {% endif %}
    <td colspan="17">
        <div class="app-wrapper">
            <div>
                <img class="app-line--right-text {{ device.deleted ? 'app-deleted' : ''}}" src="{{ asset('bundles/admin/dist/images/' ~ device.named.category.icon) }}">
                <a href="{{ path('admin_device_view', {'device': device.id }) }}" target="_blank" class="app-link__select app-font--bold app-line--align {{ device.deleted ? 'app-deleted' : ''}}">{{ device.title }}</a>
                <span class="app-devices-table__device-info app-line--align {{ device.deleted ? 'app-deleted' : ''}}">- {{ device | deviceInfo | raw }}</span>
                {% if device.deleted %}<span class="label label-danger">Deleted</span>{% endif %}
            </div>
            <div class="app-wrapper">
                {% if not device.deleted %}
                    {% if not ownerAccount | is_block_adding_device_to_proposal(device.named.category, false) %}
                        <a href="{{ path('admin_create_repair_proposals', {'device' : device.id}) }}" class="app-link__select app-font--bold app-line--align app-line--right-text app-cursor--pointer">Add Repair to PP</a>
                    {% else %}
                        <a class="app-link__select app-font--bold app-line--align app-line--right-text app-cursor--pointer" data-toggle="modal" data-target="#confirmAddToProposal">Add Repair to PP</a>
                    {% endif %}

                    {% if not ownerAccount | is_block_adding_device_to_proposal(device.named.category, false) %}
                        <a href="{{ path('admin_add_repair_to_workorder', {'device': device.id}) }}" class="app-link__select app-font--bold app-line--align app-line--right-text app-cursor--pointer"
                        > Add Repair to WO</a>
                    {% else %}
                        <a class="app-link__select app-font--bold app-line--align app-line--right-text app-cursor--pointer" data-toggle="modal" data-target="#confirmAddDeviceToWorkorder">Add Repair to WO</a>
                    {% endif %}
                {% endif %}
            </div>
            {# <div class="app-line--right-text {{ device.deleted ? 'app-deleted' : ''}}">
                <span class="app-division-row__counters-block app-line--align">
                    {% set countServices = 0 %}
                    {% for service in device.services if service.deleted == 0 %}
                        {% set countServices = countServices+1 %}
                    {% endfor %}
                    Services: {{ countServices }}
                </span>
            </div> #}
        </div>
    </td>
</tr>



