{% for item in deviceCollection %}
    <tr class="app-repare-proposal__row--service app-repare-proposal__table-border">
        <td></td>
        <td colspan="12">
            <div class="app-wrapper">
                <div>
                    {% if item.level == 1 %}
                        <div class="app-repare-proposal__circle"></div>
                    {% elseif item.level == 2 %}
                        <div class="app-repare-proposal__circle"></div><div class="app-repare-proposal__circle"></div>
                    {% endif %}

                    <img class="app-line--right-text"
                         src={{ asset('bundles/admin/dist/images/' ~ item.device.named.category.icon) }}
                         alt="{{ item.device.named.category.alias }}">

                    <span class="app-line--align {{ item.device.deleted ? 'app-deleted' : ''}}">
                        <a class="app-link__select app-link__title" href="{{ path('admin_device_view', {'device' : item.device.id}) }}">{{ item.device.title }}</a>
                        <span class="app-color--inactive">{{ (item.device.comments) ? '- '~ item.device.comments : '' }}</span>
                    </span>

                    {#{% if workorder.isFrozen %}#}
                        {#<span class="app-devices-table__device-info app-line--align {{ device_item.device.deleted ? 'app-deleted' : ''}}">- {{ device_item.device.ownerEntity | deviceInfo | raw }}</span>#}
                    {#{% else %}#}
                        {#<span class="app-devices-table__device-info app-line--align {{ device_item.device.deleted ? 'app-deleted' : ''}}">- {{ device_item.device | deviceInfo | raw }}</span>#}
                    {#{% endif %}#}

                    <span class="app-devices-table__device-info app-line--align {{ item.device.deleted ? 'app-deleted' : ''}}">- {{ item.device | deviceInfo(true, true) | raw }}</span>
                    {% if item.device.deleted %}<span class="label label-danger">Deleted</span>{% endif %}
                </div>
            </div>
        </td>
        <td></td>
        <td></td>
    </tr>

    {% if item.isInspections %}
        <tr class="app-repare-proposal__row--header app-repare-proposal__table-border">
            <td></td>
            <td colspan="2">Inspections</td>
            <td>Comments</td>
            <td>Inspection Due</td>
            <td>Service Fee</td>
            <td>Munic and. Proc. Fee</td>
            <td>Result</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        {% for service in item.services if service.named.frequency %}
            <tr class="app-repare-proposal__row--service app-repare-proposal__table-border">
                <td></td>
                <td colspan="2" class="app-word-breack">
                    {{ service.named.name ?? '-' }}
                    {% if service.addedFromIos %}<span class="label label-warning">Added from iOS</span>{% endif %}
                </td>
                <td>{{ service.comment ?? '-' }}</td>
                <td>{{ service.inspectionDue | date('m/d/Y') }}</td>
                <td>{{ service.fixedPrice ? '$' ~ service.fixedPrice | money_format : '-'}}</td>
                <td>{{ service | get_view_result_for_service_municipality_fee(item.deviceRepairInfo) }}</td>
                <td>
                    {% if service.lastReport %}
                        <span class="app-report-status--{{ service.lastReport.status.alias | lower }}">{{ service.lastReport.status.name | upper }}</span>
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td colspan="3">
                    {% if service.lastReport and service.lastReport.fileReport %}
                        <a href="{{ service.lastReport.fileReport }}" class="app-link__select" target="_blank" >View Report</a>
                    {% elseif service.lastReport == false and workorder.isFrozen == false and service.named.isNeedSendMunicipalityReport %}
                        <a href="#"
                           data-target="#finishServiceReportModal"
                           data-toggle="modal"
                           class="app-link__select app-link__select--red app-modal-action"
                           data-link="{{ path('admin_create_report_for_service', {'service': service.id}) }}">
                            Finish Service
                        </a>
                    {% elseif service.lastReport == false and workorder.isFrozen == false and not service.named.isNeedSendMunicipalityReport %}
                        <a href="#"
                           data-toggle="modal"
                           data-target="#finishSimpleService"
                           class="app-link__select app-link__select--red app-modal-link"
                           data-link="{{ path('admin_finish_simple_service', {'service': service.id}) }}">
                            Finish Service
                        </a>
                    {% endif %}

                    {% if service.lastReport and not service.lastReport.fileReport and service.named.name == "Annual Backflow Inspection" %}
                        <a href="{{ path('admin_text_report_information', {'report': service.lastReport.id}) }}" class="app-link__select" target="_blank" >View Report (Text)</a>
                    {% endif %}
                </td>
                <td>
                    {% if service.lastReport and workorder.isFrozen == false %}
                        <a href="#"
                           data-target="#finishServiceReportModal"
                           data-toggle="modal"
                           class="app-link__select app-modal-action"
                           data-link="{{ path('admin_update_report_for_service', {'service': service.id}) }}">
                            Update
                        </a>
                    {% endif %}
                </td>
                <td></td>
                <td></td>
                <td></td>                
            </tr>
        {% endfor %}
    {% endif %}

    {% if item.isRepairs %}
        <tr class="app-repare-proposal__row--header app-repare-proposal__table-border">
            <td></td>
            <td colspan="2">Repairs</td>
            <td class="app-data-table__th_width_35per">Deficiency to fix</td>
            <td>Deficiency found on</td>
            <td>Munic and. Proc. Fee</td>
            <td>Result</td>
            <td></td>
            <td class="app-repare-proposal__table-icon"></td>
            <td class="app-repare-proposal__table-icon">
                <div class="app-repare-proposal__data--indent"></div>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        {% for service in item.services if not service.named.frequency %}
            <tr class="app-repare-proposal__row--service app-repare-proposal__table-border {{ service.deleted ? 'app-deleted' : ''}}">
                <td></td>
                <td colspan="2" class="app-word-breack">
                    {{ service.named is defined ? service.named.name : 'No name' }}
                    {% if service.addedFromIos %}<span class="label label-warning">Added from iOS</span>{% endif %}
                </td>
                <td class="app-data-table__th_width_35per app-word-breack">
                    {% if not service.named.deficiency and service.comment %}
                        {{ service.comment | ucfirst }}
                    {% elseif service.named.deficiency and service.comment %}
                        {{ service.named.deficiency }}{{ ". " ~ service.comment | ucfirst }}
                    {% else %}
                        {{ service.named.deficiency ? service.named.deficiency : '-' }}
                    {% endif %}
                </td>
                <td>{{ service.inspectionDue is defined and service.inspectionDue is not null ? service.inspectionDue | date('m/d/Y') : '-' }}</td>
                <td>{{ service | get_view_result_for_service_municipality_fee(item.deviceRepairInfo) }}</td>
                <td>
                    {% if service.lastReport %}
                        <span class="app-report-status--{{ service.lastReport.status.alias | lower }}">{{ service.lastReport.status.name | upper }}</span>
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td class="" colspan="3">
                    {% if service.lastReport and service.lastReport.fileReport %}
                        <a href="{{ service.lastReport.fileReport }}" class="app-link__select" target="_blank" >View Report</a>
                    {% elseif service.lastReport == false and workorder.isFrozen == false and service.named.isNeedSendMunicipalityReport %}
                        <a href="#"
                           data-target="#finishServiceReportModal"
                           data-toggle="modal"
                           class="app-link__select app-link__select--red app-modal-action"
                           data-link="{{ path('admin_create_report_for_service', {'service': service.id}) }}">
                            Finish Service
                        </a>
                    {% elseif service.lastReport == false and workorder.isFrozen == false and not service.named.isNeedSendMunicipalityReport %}
                        <a href="#"
                           data-toggle="modal"
                           data-target="#finishSimpleService"
                           class="app-link__select app-link__select--red app-modal-link"
                           data-link="{{ path('admin_finish_simple_service', {'service': service.id}) }}">
                            Finish Service
                        </a>
                    {% endif %}
                </td>
                <td>
                    {% if service.lastReport and service.lastReport.fileReport and workorder.isFrozen == false and service.named.isNeedSendMunicipalityReport %}
                        <a href="#"
                           data-target="#finishServiceReportModal"
                           data-toggle="modal"
                           class="app-link__select app-modal-action"
                           data-link="{{ path('admin_update_report_for_service', {'service': service.id}) }}">
                            Update
                        </a>
                    {% endif %}
                </td>
                <td>
                    {# EDIT REPAIR SERVICE COMMENT! #}
                    {% if workorder.isFrozen == false %}
                        <a href="#" data-toggle="modal" data-target="#editRepairServiceComment" data-action="{{ path('admin_edit_repair_service_comment', {'service': service.id}) }}" data-comment="{{ service.comment }}" class="app-link__select app-link__select--nowrap app-modal-link app-line--right-text"
                        > <img src="{{ asset('bundles/admin/dist/images/edit.svg') }}"></a>
                    {% endif %}
                </td>
            <td></td>
            <td></td>
            <td></td>
            </tr>
        {% endfor %}
    {% endif %}

    {% if item.isRepairs or item.isInspections %}
        <tr class="app-repare-proposal__row--info app-repare-proposal__row--service">
            <td></td>
            <td colspan="3">
                <table class="app-repare-proposal__data--table app-repare-proposal__data--info">
                    {% if item.isRepairs %}
                        <tr>
                            <td>Repair Comments:</td>
                            <td>{{ item.deviceRepairInfo.repairComments ? item.deviceRepairInfo.repairComments | raw : '-' }}</td>
                        </tr>
                        <tr>
                            <td>Special Repair Notifications:</td>
                            <td>{{ item.deviceRepairInfo.repairSpecialNotification ? item.deviceRepairInfo.repairSpecialNotification.name : '-' }}</td>
                        </tr>
                    {% endif %}

                    {% if item.isInspections %}
                        <tr>
                            <td>Inspection Estimated Time:</td>
                            <td>{{ item.deviceRepairInfo.inspectionEstimationTime ?? '0' }} {% if item.deviceRepairInfo.inspectionEstimationTime <= 1 %} work hour {% else %} work hours{% endif %}</td>
                        </tr>
                    {% endif %}

                    {% if item.isRepairs %}
                        <tr>
                            <td>Repair Estimated Time:</td>
                            <td>{{ item.deviceRepairInfo.repairEstimationTime ?? '0' }} {% if item.deviceRepairInfo.repairEstimationTime <= 1 %} work hour {% else %} work hours{% endif %}</td>
                        </tr>
                    {% endif %}
                </table>
            </td>
            <td colspan="10">
                <table class="app-repare-proposal__data--table app-repare-proposal__data--prices">
                    <tbody>
                    <tr>
                        <td>
                            <table class="app-repare-proposal__data--inner-table">
                                <tbody>
                                    {% if item.isRepairs %}
                                        <tr>
                                            <td>Repair parts and labor price:</td>
                                            <td>{{ item.deviceRepairInfo.repairPartsAndLabourPrice ? '$' ~ item.deviceRepairInfo.repairPartsAndLabourPrice | money_format : '$0' }}</td>
                                        </tr>
                                    {% endif %}

                                    {% if item.isInspections %}
                                        <tr>
                                            <td>Subtotal Inspections Fee:</td>
                                            <td>{{ item.deviceRepairInfo.subtotalInspectionsFee ? '$' ~ item.deviceRepairInfo.subtotalInspectionsFee | money_format : '$0' }}</td>
                                        </tr>
                                    {% endif %}

                                    <tr class="app-repare-proposal__data--total">
                                        <td>Subtotal Munic. and Proc. fees:</td>
                                        <td>{{ item.deviceRepairInfo | get_view_result_for_device_info_sub_total_mun_and_proc_fee }}</td>
                                    </tr>
                                    <tr>
                                        <td>Device Total:</td>
                                        <td>{{ item.deviceRepairInfo | get_device_total }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td>
                            <div class="app-repare-proposal__data--indent">
                                {% if item.device.photo and item.device.photo | length > 5 %}
                                    <div class="device-block-width_img app-repare-proposal__img--section device-block-width_background-property app-detailed__new-tab-img-wrapper" style="background-image: url({{ path("admin_device_image_view", {'device' : item.device.id }) }}?{{ item.device.dateUpdate | date("U") }})"><a href="{{ path("admin_device_image_view", {'device' : item.device.id }) }}?{{ item.device.dateUpdate | date("U") }}" class="app-link__new-tab-img" target="_blank"></a></div>
                                {% else %}
                                    <div class="device-block-width_img app-repare-proposal__img--section app-repare-proposal__img--placeholder">
                                        <div class="app-color--inactive device-block-width__no-data app-repare-proposal__img--no-data">
                                            <span>No Photo</span>
                                            <img class="app-contact-list__warning" alt="warning image" src="/bundles/admin/dist/images/warning.svg">
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
            <td></td>
        </tr>
    {% endif %}

    <tr class="app-devider-row">
        <td colspan="15"></td>
    </tr>

    {% if item.subDevices | length %}
        {% include '@Admin/Device/row_device_for_workorder.html.twig' with {'deviceCollection': item.subDevices} %}
    {% endif %}
{% endfor %}