{% for item in deviceCollection %}
    <tr class="app-repare-proposal__row--service app-repare-proposal__table-border">
        <td></td>
        <td colspan="8">
            <div class="app-wrapper">
                <div>
                    {# Circle for fire subdevices #}
                    {% if item.level == 1 %}
                        <div class="app-repare-proposal__circle"></div>
                    {% elseif item.level == 2 %}
                        <div class="app-repare-proposal__circle"></div><div class="app-repare-proposal__circle"></div>
                    {% endif %}
                    {#  #}
                    <img class="app-line--right-text"
                         src={{ asset('bundles/admin/dist/images/'~item.device.named.category.icon) }} alt="{{ item.device.named.category.alias }}">
                    <span class="app-line--align {{ item.device.deleted ? 'app-deleted' : ''}}">
                                            <a class="app-link__select app-link__title" href="{{ path('admin_device_view', {'device' : item.device.id}) }}">{{ item.device.title }}</a>
                                            <span class="app-color--inactive">{{ (item.device.comments) ? '- '~ item.device.comments : '' }}</span>
                                        </span>
                    <span class="app-devices-table__device-info app-line--align {{ item.device.deleted ? 'app-deleted' : ''}}">- {{ item.device | deviceInfo(true, true) | raw }}</span>
                    {% if item.device.deleted %}<span class="label label-danger">Deleted</span>{% endif %}
                </div>
            </div>
        </td>
        <td></td>
    </tr>

    {% if item.services | length %}
        <tr class="app-repare-proposal__row--header app-repare-proposal__table-border">
            <td></td>
            <td>Repairs</td>
            <td width="15%">Deficiency to fix</td>
            <td width="15%">Deficiency found on</td>
            <td width="15%">Munic and. Proc. Fee</td>
            <td colspan="2"></td>
            {% if not proposal.frozen %}
                <td class="app-repare-proposal__table-icon">
                    <a href="#" data-link="{{ path('admin_delete_repair_from_proposal', {'proposal': proposal.id, 'device': item.device.id}) }}" class="app-modal-link" data-toggle="modal" data-target="#deleteDevicefromProposal">
                        <img class="app-icon--delete" alt="image delete" src="/bundles/admin/dist/images/delete.svg">
                    </a>
                </td>
                <td class="app-repare-proposal__table-icon">
                    <div class="app-repare-proposal__data--indent">
                        <a href="{{ path('admin_edit_repair_proposals', {'proposal' : proposal.id, 'device' : item.device.id}) }}" data-link="#" class="app-modal-link" data-toggle="modal" data-target="#">
                            <img src="/bundles/admin/dist/images/edit.svg">
                        </a>
                    </div>
                </td>
            {% else %}
                <td></td>
                <td></td>
            {% endif %}
            <td></td>
        </tr>

        {% for service in item.services %}
            <tr class="app-repare-proposal__row--service app-repare-proposal__table-border {{ service.deleted ? 'app-deleted' : ''}}">
                <td></td>
                <td class="app-word-breack">
                    {{ service.named is defined ? service.named.name : 'No name' }}
                </td>
                <td width="15%">{{ service.named is defined and service.named.deficiency is not null ? service.named.deficiency : '-' }}</td>
                <td width="15%">{{ service.inspectionDue is defined and service.inspectionDue is not null ? service.inspectionDue | date('m/d/Y') : '-' }}</td>
                <td width="15%">{{ (service.departmentChannel | municipality_fee) and service.named.isNeedMunicipalityFee ? '$' ~ (service.departmentChannel | municipality_fee) | money_format : '-'}}</td>
                <td colspan="2"></td>
                <td></td>
                <td>
                    {% if not proposal.frozen %}
                        <a href="#" data-link="{{ path('admin_delete_repair_service_from_proposal', {'service': service.id}) }}" class="app-modal-link" data-toggle="modal" data-target="#deleteServiceFromProposal">
                            <img class="app-icon--delete" alt="image delete" src="/bundles/admin/dist/images/delete.svg">
                        </a>
                    {% endif %}
                </td>
                <td></td>
            </tr>
        {% endfor %}

        <tr class="app-repare-proposal__row--info app-repare-proposal__row--service">
            <td></td>
            <td colspan="3">
                <table class="app-repare-proposal__data--table app-repare-proposal__data--info">
                    <tr>
                        <td>Repair Comments:</td>
                        <td>{{ item.deviceRepairInfo.comments ? item.deviceRepairInfo.comments | raw : '-' }}</td>
                    </tr>
                    <tr>
                        <td>Special Repair Notifications:</td>
                        <td>{{ item.deviceRepairInfo.specialNotification.name ?? '-' }}</td>
                    </tr>
                    <tr>
                        <td>Repair Estimated Time:</td>
                        <td>{{ item.deviceRepairInfo.estimationTime }} {% if item.deviceRepairInfo.estimationTime <= 1 %} work hour{% else %} work hours{% endif %}</td>
                    </tr>
                </table>
            </td>
            <td colspan="2">
                <table class="app-repare-proposal__data--table app-repare-proposal__data--prices">
                    <tr>
                        <td>Repair parts and labor price:</td>
                        <td>{{ item.deviceRepairInfo ? '$' ~ item.deviceRepairInfo.price | money_format : 0 }}</td>
                    </tr>
                    <tr class="app-repare-proposal__data--total">
                        <td>Subtotal Munic. and Proc. fees:</td>
                        <td>{{ item.deviceRepairInfo ? '$' ~ item.deviceRepairInfo.subtotalMunicAndProcFee | money_format : 0 }}</td>
                    </tr>
                    <tr>
                        <td>Device Total:</td>
                        <td>{{ item.deviceRepairInfo ? '$' ~ item.deviceRepairInfo.deviceTotal | money_format : 0 }}</td>
                    </tr>
                </table>
            </td>
            <td colspan="3">
                <div class="app-repare-proposal__data--indent">
                    {% if item.device.photo and item.device.photo | length > 5 %}
                        <div class="device-block-width_img app-repare-proposal__img--section device-block-width_background-property app-detailed__new-tab-img-wrapper" style="background-image: url({{ path('admin_device_image_view', {'device' : item.device.id }) }}?{{ item.device.dateUpdate | date("U") }})"><a href="{{ path('admin_device_image_view', {'device' : item.device.id }) }}?{{ item.device.dateUpdate | date("U") }}" class="app-link__new-tab-img" target="_blank"></a></div>
                    {% else %}
                        <div class="device-block-width_img app-repare-proposal__img--section app-repare-proposal__img--placeholder">
                            <div class="app-color--inactive device-block-width__no-data app-repare-proposal__img--no-data">
                                <span>No Photo</span>
                                <img class="app-contact-list__warning" alt="warning image" src="/bundles/admin/dist/images/warning.svg">
                            </div>
                        </div>
                    {% endif %}
                </div>
            </td>
            <td></td>
        </tr>
    {% endif %}

    <tr class="app-devider-row">
        <td colspan="10"></td>
    </tr>

    {% if item.subDevices | length %}
        {% include '@Admin/Device/row_device_with_repairs.html.twig' with {'deviceCollection': item.subDevices} %}
    {% endif %}
{% endfor %}