{% extends 'AdminBundle:Device:form.html.twig' %}

{% block formHead %}
                    Update
                    <img class="app-link__icon app-link__icon--top" title="{{ device.named.category.name }}" src="{{ asset('bundles/admin/dist/images/'~ device.named.category.icon) }}" alt="image contact">
                    {{  device.named.name }}
{% endblock %}
{% block formButton %}
    <button id="device_update" type="submit" data-update="Yes" class="app-form-button btn ">UPDATE</button>
    <!-- Modal -->
    {{ include('AdminBundle:layouts/dialogs:infoDialog.html.twig', {
        'modalId' : 'noUpdateModal'
    }) }}
{% endblock %}
{% block backButton %}
    <a href="{{ path('admin_device_view', {'device': device.id}) }}" class="app-form-button app-form-button--grey app-form-button--indent btn">CANCEL</a>
{% endblock %}



