{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}
    <div class="app-wrapper">
        <div class="app-device-styles">
            <div class="app-detailed__wrapper">
                <div class="app-wrapper">

                    <div class="app-detailed__info device-block-width">
                        <div class="app-detailed__info__data-id app-device__info__data-id app-save-space app-color--inactive app-device-id-indent">{{ device.named.category.name ?? 'No data' }} Device ID - {{ device.id }} {% if device.oldDeviceId %}(Old {{ device.oldDeviceId }}{% if device.sourceEntity %}, Source: {{ device.sourceEntity }}{% endif %}){% endif %} {% if device.deleted %} <span class="label label-danger">Deleted</span>{% endif %}</div>
                        <div class="app-wrapper">
                            <div class="app-detailed__info__img app-detailed__info__img--device correct-position-site-img app-proposal-add__device-icon {{device.deleted ? ' app-deleted' : ''}}"
                                    style="background-image: url('{{ asset('bundles/admin/dist/images/' ~ device.named.category.icon) }}');"
                            ></div>
                            <div class="app-detailed__info__data app-device__info__data app-wrapper">
                                <div class="app-detailed__info__data-contacts app-no-padding--bottom">
                                    <div class="app-detailed__info__data-title app-device__info__data-title app-cut-string {{device.deleted ? ' app-deleted' : ''}}">{{ device.title }}</div>

                                    {% for parent in parentsDevice %}
                                        <div class="app-detailed__info__data-address app-device-styles__sub-title-text {{parent.deleted ? ' app-deleted' : ''}}">
                                            <div class="app-device-styles__after-title-block-dynamic">Part of</div>
                                            <div class="app-device-styles__after-title-block app-device-styles__ico--title" style="background-image: url('{{ asset('bundles/admin/dist/images/' ~ parent.named.category.icon) }}');">
                                                &nbsp
                                            </div>
                                            <div class="app-device-styles__after-title-block-dynamic app-device-styles__after-title-block_styling-link">
                                                <a href="{{ path('admin_device_view', {'device': parent.id}) }}" class="app-link__select app-line--right-text">{{ parent.named.name }}</a>
                                                {% if parent.deleted %}<span class="label label-danger app-label">Deleted</span>{% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}

                                    <div class="app-detailed__info__data-address app-device-styles__sub-title-text app-cut-string {{ device.account.deleted ? 'app-deleted' : '' }}">
                                        <div class="app-device-styles__after-title-block">at</div>
                                        <div class="app-device-styles__after-title-block app-device-styles__ico--title app-device-styles__ico--title-small">
                                            &nbsp
                                        </div>
                                        <div class="app-device-styles__after-title-block app-device-styles__after-title-block_styling-link">
                                            <a href="{{ path('admin_account_get', {'accountId': device.account.id}) }}" class="app-link__select app-line--right-text">{{ device.account.name ?? 'No Data' }}</a>
                                            {% if device.account.deleted %}
                                                <span class="label label-danger app-label">Deleted</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="app-device-styles__sub-title-text app-device-styles__sub-title-text_address {{device.deleted ? 'app-deleted' : ''}}">{{ device.account.address| address }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="device-block-width">
                        <div class="app-wrapper">
                            <div class="app-cut-string app-view--max-width device-block-width_height app-no-padding content-account">
                                <table class="app-device-styles_table-note app-display--none {{device.deleted ? ' app-deleted' : ''}}" data-remove>
                                    {% for row in device.fields %}
                                            <tr>
                                                <td class="app-word-breack">
                                                    {{ row.field.name }}:
                                                </td>
                                                <td class="app-word-breack">
                                                    {% if row.value or row.value == '0' %}
                                                        {{ row.value }}
                                                    {% elseif row.optionValue %}
                                                        {{ row.optionValue.optionValue }}
                                                    {% else %}
                                                        <span class="app-color--inactive app-device-styles_table--no-data">No Data</span>
                                                        <img class="app-contact-list__warning app-contact-list__warning--middle" alt="warning image" src="/bundles/admin/dist/images/warning.svg">
                                                    {% endif %}
                                                </td>
                                            </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                    <div
                        {% if device.photo and device.photo | length > 5 %}
                            class="device-block-width device-block-width_img device-block-width_background-property app-detailed__new-tab-img-wrapper {{device.deleted ? ' app-deleted' : ''}}"
                            style="background-image: url({{ path("admin_device_image_view", {'device' : device.id}) }}?{{ device.dateUpdate | date("U") }})"
                        {% else %}
                            class="device-block-width device-block-width_img {{device.deleted ? ' app-deleted' : ''}}"
                        {% endif %}
                    >
                        {% if device.photo is defined and device.photo | length > 5 %}
                            <a href="{{ path("admin_device_image_view", {'device' : device.id }) }}?{{ device.dateUpdate | date("U") }}" class="app-link__new-tab-img" target="_blank"></a>
                        {% else %}
                            <div class="app-color--inactive device-block-width__no-data">
                                <span>No Photo</span>
                                <img class="app-contact-list__warning app-contact-list__warning--large" alt="warning image" src="/bundles/admin/dist/images/warning.svg">
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="app-wrapper app-device-styles__second-info">
                    <div class="app-detailed__info device-block-notes">
                        <table class="app-device-styles_table {{device.deleted ? ' app-deleted' : ''}}">
                            <tr>
                                <td>Location:</td>
                                <td>
                                    {% if device.location %}
                                        {{ device.location }}
                                    {% else %}
                                        <span class="app-color--inactive app-device-styles_table--no-data">No Data</span>
                                        <img class="app-contact-list__warning app-contact-list__warning--middle" alt="warning image" src="/bundles/admin/dist/images/warning.svg">
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>Status:</td>
                                <td>
                                    {% if device.status %}
                                        {{ device.status.name }}
                                    {% else %}
                                        <span class="app-color--inactive app-device-styles_table--no-data">No Data</span>
                                        <img class="app-contact-list__warning app-contact-list__warning--middle" alt="warning image" src="/bundles/admin/dist/images/warning.svg">
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                {% if device.named.alias != 'fire_alarm_control_panel' %}
                                <td>Alarm Panel:</td>
                                <td>
                                    {% if device.alarmPanel is null %}
                                        <span class="app-color--inactive app-line--padding-right">Not Selected</span>
                                        {% if device.deleted != 1  %}
                                        <a class="app-link__select app-word-breack--normal" href="{{ path('admin_device_alarm_panel',{'device' : device.id}) }}">
                                            Select
                                        </a>
                                        {% endif %}
                                    {% elseif device.alarmPanel %}
                                        <img class="app-device-styles_table--no-data" src="{{ asset
                                            ('/bundles/admin/dist/images/fire.svg') }}">
                                        <a class="app-link__select" href="{{ path('admin_device_view', {'device': device.alarmPanel.id}) }}">{{ device.alarmPanel.named.name }}</a>
                                        <a href="" class="app-link__delete app-line--padding-left" data-toggle="modal" data-target="#deleteAlarmModal"> <img alt="image delete" src="{{ asset('bundles/admin/dist/images/delete.svg') }}"></a>
                                    {% endif %}
                                </td>
                                {% endif %}
                            </tr>
                        </table>
                    </div>
                    <div class="device-block-notes">
                        <div class="{{device.deleted ? ' app-deleted' : ''}}">
                            <div class="app-account-main__notes-title app-device-styles__note_wrap-title app-no-padding--left">Note to Tester:
                            </div>
                            <div class="app-word-breack device-block-notes_min-height notes-account-content previos-class {{ device.noteToTester ? '' : ' app-color--inactive' }}">
                                <span class="app-save-space app-display--none" data-remove>{{ device.noteToTester ?? 'No Notes' }}</span>

                            </div>
                        </div>
                    </div>
                    <div class="device-block-notes">
                        <div class="{{device.deleted ? ' app-deleted' : ''}}">
                            <div class="app-account-main__notes-title app-device-styles__note_wrap-title app-no-padding--left">Comments:</div>
                            <div class="app-word-breack device-block-notes_min-height notes-account-content previos-class {{ device.comments ? '' : ' app-color--inactive' }}">
                                <span class="app-save-space app-display--none" data-remove>{{ device.comments  ? device.comments | raw() : 'No Comments' }}</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="app-device-styles__last-edited {{ device.deleted ? ' app-deleted' : ''}}">
                {% if deviceHistory.dateUpdate is defined %}
                    Last edited: {{ deviceHistory.dateUpdate | date('m/d/Y h:i A') }} by
                    <span class="app-device-styles__last-edited_uderline-text">
                    {{ deviceHistory.author.firstName ~ ' ' ~ deviceHistory.author.lastName }}
                </span>
                {% else %}
                    Last edited: {{ device.dateUpdate | date('m/d/Y h:i A') }}
                {% endif %}
            </div>
                <div class="app-detailed__button-container">
                    <a target="_blank" href="{{ path('admin_service_list_by_history_of_service', {'device': device.id}) }}" class="app-detailed__button app-detailed__button--blue app-detailed__button--shadow btn">View Services History</a>
                    {#<a class="app-detailed__button app-detailed__button--blue app-detailed__button--shadow btn">Create Proposal</a>
                              <a class="app-detailed__button app-detailed__button--blue app-detailed__button--shadow btn">WO History</a>
                              <a class="app-detailed__button app-detailed__button--blue app-detailed__button--shadow btn">Proposals History</a>#}
                    {% if not device.deleted %}
                        <a class="app-detailed__button app-detailed__button--red app-detailed__button--shadow btn" data-toggle="modal" data-target="#deleteDeviceModal">Delete</a>
                        <a href="{{ path('admin_device_update', {'device': device.id}) }}" class="app-detailed__button app-detailed__button--blue app-detailed__button--shadow btn">Edit</a>
                    {% endif %}
                </div>
        </div>
        <div class="app-device-styles-equipment {{device.deleted ? ' app-deleted' : ''}}">
            <div class="app-detailed__addition__content app-device-styles-equipment_height">
                <div class="app-detailed__addition__container__title">Equipment</div>
                <div class="app-device-styles-equipment__content app-scrollbar">
                    <div class="app-account-addition__details__wrapper">No equipment</div>
                    {#<table class="app-device-styles-equipment__table">
                        <tr>
                            <td>M1HM</td>
                            <td>
                                <div class="app-device-styles-equipment__table_delete">
                                    <img src="../images/delete.svg" alt="">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>M1HM 1 1/8</td>
                            <td>
                                <div class="app-device-styles-equipment__table_delete">
                                    <img src="../images/delete.svg" alt="">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>M2HM 1 3/4</td>
                            <td>
                                <div class="app-device-styles-equipment__table_delete">
                                    <img src="../images/delete.svg" alt="">
                                </div>
                            </td>
                        </tr>
                    </table>#}
                </div>
            </div>
            {#<div class="app-detailed__button-container">
                <a class="app-detailed__button app-detailed__button--blue app-detailed__button--shadow btn">Add</a>
            </div>#}
        </div>
    </div>

    {{ include('AdminBundle:Opportunity:flash_messages.html.twig', {"app.session": app.session}) }}

    <div class="app-account-site {{device.deleted ? 'app-deleted' : ''}}">
        <div class="app-account-site__container">
            <ul class="nav nav-tabs">
                <li id="tab1" class="active"><a data-toggle="tab" href="#panel1">Inspections ({{ inspections | length }})</a></li>
                <li id="tab2" class=""><a data-toggle="tab" href="#panel2">Repairs and Deficiencies ({{ repairs | length }})</a></li>
                <li id="tab3" class="10"><a data-toggle="tab" href="#panel3">Subdevices ({{ device.children | length }})</a></li>
            </ul>
            <div class="tab-content">
                <div id="panel1" class="tab-pane fade in active">
                    <div class="app-wrapper app-filter-form app-filter-form--small app-bordered--shadow">
                        <div></div>
                        <div class="app-filter-form__button-container">
                            {% if not device.deleted %}
                                <a href="{{ path('admin_service_create', {'device': device.id}) }}" class="app-detailed__button app-detailed__button--blue app-filter-form__button btn">Add Inspection</a>
                            {% endif %}
                        </div>
                    </div>
                    {% if inspections is not empty %}
                        <table class="table app-data__table app-bordered--shadow app-table-radius app-data__table-haveFilter">
                            <thead class="app-data__table-header">
                                <tr>
                                    <th class="app-device-styles_table--free"></th>
                                    <th>Inspections Name</th>
                                    <th>Comment</th>
                                    <th>Fee</th>
                                    <th>Last Test</th>
                                    <th>Inspection Due</th>
                                    <th colspan="2">Company Last Tested</th>
                                    <th>Last Test Fee</th>
                                    <th>Inspections Status</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for inspection in inspections %}
                                    <!--inspection row-->
                                    <tr class="{{ inspection.deleted ? 'app-deleted' : ''}}">
                                        <td class="app-device-styles_table--free"></td>
                                        <td>{{ inspection.named.name }}</td>
                                        <td>{{ inspection.comment ? inspection.comment : '-' }}</td>
                                        <td>{{ inspection.fixedPrice ? '$' ~ inspection.fixedPrice | money_format : '-' }}</td>
                                        <td>{{ inspection.lastTested ? inspection.lastTested | date("m/d/Y") : '-' }}</td>
                                        <td>{{ inspection.inspectionDue | date("m/d/Y") }}</td>
                                        <td class="app-no-padding--right app-link__table-icon">
                                            {% if inspection.companyLastTested %}
                                                <img class="app-link__table-icon" src="/bundles/admin/dist/images/contractor.svg" alt="image company">
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                        <td class="app-word-breack">
                                            {% if inspection.companyLastTested %}
                                                <a href="{{ path('admin_contractor_view', {'contractor' : inspection.companyLastTested.id}) }}" target="_blank" class="app-link__select">{{ inspection.companyLastTested.name }}</a>
                                            {% endif %}
                                        </td>
                                        <td>{{ inspection.probableFee ? '$' ~ inspection.probableFee : '-' }}</td>
                                        <td class="app-devices-table__label">
                                            <span class="app-service-label {{ inspection.status.cssClass }}">{{ inspection.status.name ?? '' }}</span>
                                        <td class="app-devices-table__dash-cell app-text--align-right">
                                            {% if not inspection.deleted and inspection.status.alias not in ['omitted', 'discarded'] %}
                                                <a href="{{ path('admin_service_update', {'service': inspection.id}) }}"
                                                data-service-canUpdate="{{ inspection.status.alias in ['under_retest_notice', 'under_workorder', 'under_proposal'] ? 'false' : 'true' }}"
                                                class="checkOnUpdateService">
                                                    <img src="{{ asset('bundles/admin/dist/images/edit.svg') }}">
                                                </a>
                                            {% endif %}
                                        </td>
                                        <td class="app-devices-table__nav-icons app-text--align-center">
                                            {% if not inspection.deleted and inspection.status.alias not in ['omitted', 'discarded'] %}
                                                <a href="#" data-link="{{ path('admin_service_delete', {'service': inspection.id}) }}"
                                                class="app-modal-link checkOnDeleteService"
                                                {% if inspection.status.alias in ['under_retest_notice', 'under_workorder', 'under_proposal']%}
                                                    data-service-canDelete="false"
                                                {% else %}
                                                    data-toggle="modal"
                                                    data-target="#deleteServiceModal"
                                                {% endif %}>
                                                    <img alt="image delete" src="{{ asset('bundles/admin/dist/images/delete.svg') }}">
                                                </a>
                                            {% endif %}
                                        </td>
                                        <td class="app-devices-table__nav-icons app-text--align-center">
                                            {% if inspection.status.alias in ['under_retest_opportunity'] and not inspection.deleted %}
                                                <a href="#" data-toggle="modal" data-target="#omitModal" data-link="{{ path('admin_omit_service', {'service': inspection.id}) }}" class="app-link__select app-modal-link app-line--right-text"
                                                >Omit</a>
                                            {% elseif inspection.status.alias in ['omitted', 'discarded'] %}
                                                <a href="#" data-toggle="modal" data-target="#restoreModal" data-link="{{ path('admin_restore_service', {'service': inspection.id}) }}" class="app-link__select app-modal-link app-line--right-text"
                                                >Restore</a>
                                            {% endif %}
                                        </td>
                                        <td class="app-devices-table__nav-icons app-text--align-center">
                                            {% if inspection.status.alias in ['under_retest_opportunity'] and not inspection.deleted %}
                                                {% if contacts.primary is defined and contacts.primary | length > 0 %}
                                                    <a href="#" data-toggle="modal" data-target="#addInspectionToProposalModal" data-link="{{ path('admin_add_inspection_to_proposal', {'service': inspection.id}) }}" class="app-link__select app-link__select--nowrap app-modal-link app-line--right-text"
                                                    >Add to PP</a>
                                                {% else %}
                                                    <a href="#" data-toggle="modal" data-target="#confirmQuickAddInspectionToProposalAuthorizerError" class="app-link__select app-link__select--nowrap app-modal-link app-line--right-text"
                                                    >Add to PP</a>
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                        <td class="app-devices-table__nav-icons app-text--align-center">
                                            {% if inspection.status.alias in ['under_retest_opportunity'] and not inspection.deleted %}
                                                {% if contacts.primary is defined and contacts.primary | length > 0 %}
                                                    <a href="#" data-toggle="modal" data-target="#addInspectionToWOForm" data-action="{{ path('admin_add_inspection_to_workorder', {'service': inspection.id}) }}" class="app-link__select app-link__select--nowrap app-modal-link app-line--right-text transferAction"
                                                    > Add to WO</a>
                                                {% else %}
                                                    <a href="#" data-toggle="modal" data-target="#confirmQuickAddInspectionToWorkorderAuthorizerError" class="app-link__select app-link__select--nowrap app-modal-link app-line--right-text"
                                                    >Add to WO</a>
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <!--end inspection row -->
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <div class="app-data__not-found app-bordered--shadow">No Inspections</div>
                    {% endif %}
                </div>
                <div id="panel2" class="tab-pane fade">
                    <div class="app-wrapper app-filter-form app-filter-form--small app-bordered--shadow">
                        <div></div>
                        <div class="app-filter-form__button-container app-device-button-container-deficiencies">
                            {% if not device.deleted %}
                                {% if not ownerAccount | is_block_adding_device_to_proposal(device.named.category, false) %}
                                    <a href="{{ path('admin_create_repair_proposals', {'device' : device.id}) }}" class="app-detailed__button app-detailed__button--blue app-filter-form__button btn">Add Repair to PP</a>
                                {% else %}
                                    <a class="app-detailed__button app-detailed__button--blue app-filter-form__button btn" data-toggle="modal" data-target="#confirmAddToProposal">Add Repair to PP</a>
                                {% endif %}

                                {% if not ownerAccount | is_block_adding_device_to_proposal(device.named.category, false) %}
                                    <a href="{{ path('admin_add_repair_to_workorder', {'device': device.id}) }}" class="app-detailed__button app-detailed__button--blue app-filter-form__button btn"
                                    > Add Repair to WO</a>
                                {% else %}
                                    <a class="app-detailed__button app-detailed__button--blue app-filter-form__button btn" data-toggle="modal" data-target="#confirmAddDeviceToWorkorder">Add Repair to WO</a>
                                {% endif %}
                                <a href="{{ path('admin_non_frequency_service', {'device': device.id}) }}" class="app-detailed__button app-detailed__button--blue app-filter-form__button btn">Add Deficiencies</a>
                            {% endif %}
                        </div>
                    </div>
                    {% if repairs is not empty %}
                        <table class="table app-data__table app-bordered--shadow app-table-radius app-data__table-haveFilter">
                            <thead class="app-data__table-header">
                                <tr>
                                    <th class="app-device-styles_table--free"></th>
                                    <th>Recommended Repairs</th>
                                    <th class="app-data-table__th_width_45per">Deficiency to fix</th>
                                    <th>Date Suggested</th>
                                    <th>Status</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for repair in repairs %}
                                    <tr>
                                        <td></td>
                                        <td>{{ repair.named.name }}</td>
                                        <td class="app-word-breack">{{ repair.named.deficiency }}{{ repair.comment ?
                                            ". " ~ repair.comment |
                                            ucfirst : '' }}</td>
                                        <td>{{ repair.inspectionDue | date("m/d/Y") }}</td>
                                        <td>
                                            <span class="app-service-label {{ repair.status.cssClass }}">{{ repair.status.name ?? '' }}</span>
                                        </td>
                                        <td class="app-devices-table__dash-cell app-text--align-right">
                                            {% if repair | can_edit_repair_service_comment %}
                                                <a href="#" data-toggle="modal" data-target="#editRepairServiceComment" data-action="{{ path('admin_edit_repair_service_comment', {'service': repair.id}) }}" data-comment="{{ repair.comment }}" class="app-link__select app-link__select--nowrap app-modal-link app-line--right-text"
                                                > <img src="{{ asset('bundles/admin/dist/images/edit.svg') }}"></a>
                                            {% endif %}

                                            {% if repair | blocked_edit_repair_service_comment_under_proposal %}
                                                <a href="#" class="app-link__select app-link__select--nowrap app-modal-link app-line--right-text" data-toggle="modal" data-target="#blockedEditRepairUnderProposal">
                                                    <img src="{{ asset('bundles/admin/dist/images/edit.svg') }}">
                                                </a>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if repair.status.alias != 'discarded' and repair.status.alias in ['repair_opportunity'] %}
                                                <a href="#" data-toggle="modal" data-target="#discardModal" data-link="{{ path('admin_discard_service', {'service': repair.id}) }}" class="app-link__select app-modal-link app-line--right-text"
                                                >Discard</a>
                                            {% elseif repair.status.alias in ['omitted', 'discarded'] %}
                                                <a href="#" data-toggle="modal" data-target="#restoreModal" data-link="{{ path('admin_restore_service', {'service': repair.id}) }}" class="app-link__select app-modal-link app-line--right-text"
                                                >Restore</a>
                                            {% endif %}
                                        </td>
                                        {# <td>
                                           <a href="#" data-link="{{ path('admin_service_delete', {'service': repair.id}) }}"
                                            class="app-modal-link checkOnDeleteService"
                                                    {% if repair.status.alias == 'under_retest_notice' or  repair.status.alias == 'under_workorder'%}
                                                data-service-canDelete="false"
                                            {% else %}
                                                data-toggle="modal"
                                                data-target="#deleteServiceModal"
                                                    {% endif %}>
                                                <img alt="image delete" src="{{ asset('bundles/admin/dist/images/delete.svg') }}">
                                            </a>
                                        </td> #}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <div class="app-data__not-found app-bordered--shadow">No Repairs and Deficiencies</div>
                    {% endif %}
                </div>
                <div id="panel3" class="tab-pane fade">
                    {% if subDevicesNamed is not empty and not device.deleted %}
                        <div class="app-wrapper app-filter-form app-filter-form--small app-bordered--shadow">
                            <div></div>
                            <div class="app-filter-form__button-container">
                                <a class="app-detailed__button app-detailed__button--blue btn"
                                data-target="#addDevice" data-toggle="modal">Add Subdevice</a>
                            </div>
                        </div>
                    {% endif %}
                    {% if device.subDevicesCount %}
                    <table class="table app-data__table app-data__table--hidden app-devices-table--subdevices app-bordered--shadow tableWithDataArray" data-workorders="{{ suitableWOsForCreationBySubDevices }}">
                        <tbody >
                            <tr class="app-color--opacity30 app-devices-table__header-service">
                                <td></td>
                               <td></td>
                                <td></td>
                                <td></td>
                                <td>Service Name</td>
                                <td>Comments</td>
                                <td>Fee</td>
                                <td>Frequency</td>
                                <td>Last Test</td>
                                <td>Inspection Due</td>
                                <td colspan="2" class="app-devices-table__header-company">Company last tested</td>
                                <td>Probable Contractor's Test Fee</td>
                                <td>Status</td>
                                <td></td>
                                <td></td>
                            </tr>

                            {% include '@Admin/Device/list.html.twig' with {
                                'devices': device.children,
                                'type': device.named.category.alias,
                                'account': device.account,
                                'show': true,
                                'deviceLevel' : device.deviceLevel,
                                'countsServices' : device.allServicesCount,
                                'serviceRowClose' : false
                            } %}
                        </tbody>
                    </table>
                    {% else %}
                        <div class="app-data__not-found app-bordered--shadow">No Subdevices</div>
                    {% endif %}
                </div>
            <div>
        </div>
        {#<div class="app-account-site__container">#}
        {#<div class="app-data__not-found app-bordered--shadow">No Subdevices and Services</div>#}
        {#</div>#}
    </div>

    <!-- Modal -->
    {{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
        'modalId' : 'deleteDeviceModal',
        'message' : 'Are you sure you want to delete this Device?',
        'buttonYesHref' : path('admin_device_delete', {'device': device.id}),
        'oneClick' : 'Yes'
    }) }}

    <!--Modal for device adding-->
    {{ include('AdminBundle:layouts/dialogs:selectDeviceDialog.html.twig', {
        'modalId' : 'addDevice',
        'message' : 'Please select Subdevice to add:',
        'modalFormId' : 'selectDeviceForm',
        'selectName' : 'deviceName',
        'defaultSelectOption' : {'value' : '', 'text' : 'Select Device'},
        'optionsArray' : subDevicesNamed
    }) }}

    <!-- Modal Delete Service-->
    {{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
        'modalId' : 'deleteServiceModal',
        'message' : 'Are you sure you want to delete this Service?',
        'buttonYes' : 'modalYes',
        'buttonYesHref' : '#',
        'oneClick' : 'Yes'
    }) }}
    <!-- End Modal Delete Service-->

    <!-- Modal Check on Upddate Service-->
        {{ include('AdminBundle:layouts/dialogs:infoDialog.html.twig', {
        'modalId' : 'updateServiceError',
        'message' : 'This service is under a Retest Notice or Proposal or Workorder so you can not edit it.'
        }) }}
    <!-- End Modal Check on Upddate Service-->

    <!-- Modal Check on Delete Service-->
        {{ include('AdminBundle:layouts/dialogs:infoDialog.html.twig', {
        'modalId' : 'deleteServiceError',
        'message' : 'This service is under a Retest Notice or Proposal or Workorder so you can not delete it.'
        }) }}
    <!-- End Modal Check on Delete Service-->

    <!-- Modal Delete Alarm-->
    {{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
        'modalId' : 'deleteAlarmModal',
        'message' : 'Are you sure you want to unlink the Alarm Panel from the Device?',
        'buttonYesHref' : path('admin_device_detach_alarm_panel', {'device': device.id})
    }) }}
    <!-- End Modal Delete Alarm -->

    <!-- Modal Omit Service -->
    {{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
        'modalId' : 'omitModal',
        'message' : 'Are you sure you want to Omit this Service?',
        'buttonYes' : 'modalYes',
        'oneClick' : 'Yes'
    }) }}
    <!-- End Modal Omit Service -->

    <!-- Modal Discard Service -->
    {{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
        'modalId' : 'discardModal',
        'message' : 'Are you sure you want to Discard this Service?',
        'buttonYes' : 'modalYes',
        'buttonYesHref' : '#',
        'oneClick' : 'Yes'
    }) }}
    <!-- End Modal Discard Service -->

    <!-- Modal Restore Service -->
    {{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
        'modalId' : 'restoreModal',
        'message' : 'Are you sure you want to Restore this Service?',
        'buttonYes' : 'modalYes',
        'buttonYesHref' : '#',
        'oneClick' : 'Yes'
    }) }}
    <!-- End Modal Restore Service -->

    <!-- Modal Confirm Popup Add to Proposal -->
    {{ include('AdminBundle:layouts/dialogs:infoDialog.html.twig', {
        'modalId' : 'confirmAddToProposal',
        'message' : 'Some information about Account Authorizer or Municipality Compliance Channel is missing for the account. Please add missing information before adding device to Proposal.'
    }) }}
    <!-- End Modal Confirm Popup Add to Proposal -->

    <!-- Modal Confirm Popup Add to Workorder -->
    {{ include('AdminBundle:layouts/dialogs:infoDialog.html.twig', {
        'modalId' : 'confirmAddDeviceToWorkorder',
        'message' : 'Some information about Account Authorizer or Municipality Compliance Channel is missing for the account. Please add missing information before adding device to Workorder.'
    }) }}
    <!-- End Modal Confirm Popup Add to Workorder -->

    <!-- Modal Add Service to Proposal -->
    {{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
        'modalId' : 'addInspectionToProposalModal',
        'message' : 'Are you sure you want to Add this Service to Proposal?',
        'buttonYes' : 'modalYes',
        'oneClick' : 'Yes'
    }) }}
    <!-- End Modal Add Service to Proposal -->

    <!-- Modal Confirm Popup to Create Proposal from Inspection -->
    {{ include('AdminBundle:layouts/dialogs:infoDialog.html.twig', {
        'modalId' : 'confirmQuickAddInspectionToProposalAuthorizerError',
        'message' : 'Some information about Account Authorizer is missing for the account. Please add missing information before adding to Proposal.'
    }) }}
    <!-- End Modal Confirm Popup to Create Proposal from Inspection -->

    <!-- Modal Confirm Popup to Create Workorder from Inspection -->
    {{ include('AdminBundle:layouts/dialogs:infoDialog.html.twig', {
        'modalId' : 'confirmQuickAddInspectionToWorkorderAuthorizerError',
        'message' : 'Some information about Account Authorizer is missing for the account. Please add missing information before adding to Workorder.'
    }) }}
    <!-- End Modal Confirm Popup to Create Workorder from Inspection -->

    <!-- Modal Add Inspection to Workorder -->
    {{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
        'modalId' : 'selectWorkorderForInspection',
        'message' : 'Are you sure you want to Add this Inspection to Workorder?',
        'buttonYes' : 'modalYes',
        'oneClick' : 'Yes'
    }) }}
    <!-- End Modal Add Inspection to Workorder -->

    <!-- Modal Confirm Error Popup to Add Service To WO -->
    {{ include('AdminBundle:layouts/dialogs:infoDialog.html.twig', {
        'modalId' : 'confirmAddServiceToWoError',
        'message' : 'No WorkOrders are available to be added this service.'
    }) }}
    <!-- End Modal Confirm Error Popup to Add Service To WO -->

    <!-- Modal Form Add Inspection to WO -->
    {{ include('AdminBundle:layouts/dialogs:createWoFromInspectionDialog.html.twig', {
        'modalId' : 'addInspectionToWOForm',
        'modalFormMethod' : 'post',
        'message' : 'Please select target Workorder to add inspection to:',
        'modalFormId' : 'createWOFromInspection',
        'selectName' : 'workorder[workorderId]',
        'workordersArray' : suitableWOsForCreation
    }) }}

    <!-- Modal Form Add Inspection to WO -->
    {{ include('AdminBundle:layouts/dialogs:createWoFromInspectionsListDialog.html.twig', {
        'modalId' : 'addInspectionToWOFormFromList',
        'modalFormMethod' : 'post',
        'message' : 'Please select target Workorder to add inspection to:',
        'modalFormId' : 'createWOFromInspectionsList',
        'selectName' : 'workorder[workorderId]'
    }) }}
    <!-- End Modal Form Add Inspection to WO -->

    <!-- Modal Form Change repair service comment -->
    {{ include('AdminBundle:layouts/dialogs:changeRepairServiceCommentDialog.html.twig', {
        'modalId' : 'editRepairServiceComment',
        'modalFormMethod' : 'post',
        'modalFormId' : 'createWOFromInspectionsList',
    }) }}
    <!-- End Modal Form Change repair service comment -->

    <!-- Modal Blocked Popup to edit repair service under proposal -->
    {{ include('AdminBundle:layouts/dialogs:infoDialog.html.twig', {
        'modalId' : 'blockedEditRepairUnderProposal',
        'message' : 'You can not edit this Service as Proposal as it was added to "Sent via Mail/Email"'
    }) }}
    <!-- End Modal Blocked Popup to edit repair service under proposal -->

{% endblock %}