<p>Dear Client,</p>

<p>According to our records, some required inspections for backflow prevention devices within your property are now PAST DUE.</p>

<p>Understanding what this means:<br />
State and local regulations require backflow prevention devices to be tested annually to ensure the public drinking water is safe and free from contamination sources. These tests and inspections prove that your device(s) are working properly and you are provided with the proper documentation.  Each municipality will enforce these regulations differently. Here are the most popular ways of enforcement you may experience in near future.
<ul style="list-style-type: decimal;">
    <li>Water disconnection notice-You will receive a letter in the mail or a door hanger on the front door notifying you have a certain number of days remaining before water disconnection happens.</li>
    <li>The municipal authority will issue you a fine, sometimes as high as $500.00.</li>
    <li>You will receive a summons to court for failure to comply with local ordinances.</li>
</ul>

<p>Is is important when partnering with a licensed contractor for these inspection(s), to make sure they file the appropriate paperwork in a timely manner with the municipal representative to avoid
    any actions listed above. If testing and certification has been completed, please call our office so we can update your account.</p>

<p>Sincerely,<br />
    American Backflow & Fire Prevention Team</p>
