<p>RE: {{ proposal.account.address | address }}</p>

<p>Dear Client,</p>

<p>According to our records, required fire safety inspections at your property are now PAST DUE.</p>

<p>Please read notice below to understand what this means. Understanding required codes and the importance of inspection(s), your insurance company, the NFPA and AHJ.</p>

<p>The fire protection industry has complex regulations and ever-changing rules for residential and commercial applications. These differ from facility to facility. The specific code applicable to your facility is determined from three regulatory bodies - the NFPA, the AHJ and your insurance company.</p>

<p>The National Fire Protection Association (NFPA), is an non-profit international organization that continues development and publishes the standards related to fire protection for all different types of facilities. These ever changing standards set by the NFPA is to minimize the risk of fire and its effects to life and property.</p>

<p>Your building’s authority having jurisdiction, or AHJ, is the local municipal agent, often a fire marshal, responsible for enforcing codes and standards set by the NFPA and how they relate to your geographical location. These can be contradicting, confusing and go beyond NFPA global standards. These complexities should be taken into consideration when partnering with a fire protection contractor.</p>

<p>Last but most importantly, your insurance company and policy will effect what regulations you must follow and any additional requirements, if any, for your facility. If these requirements are not met and a fire should occur, you will be viewed in a post fire investigation as negligent and your policy will not cover damages to property and or life.</p>

<p>American Backflow and Fire Prevention Inc. works diligently to make sure all life safety equipment is working within the standards set forth from the above entities and you are in compliance with documentation. Please consider this a notification that you are not in compliance with the minimum required life safety inspection(s) dictated by the above agencies.</p>

<p>Copies of these email notifications are available to insurance companies upon request.</p>

<p>Sincerely,<br />
    American Backflow & Fire Prevention Team</p>
