{% extends '@Admin/Letter/workorder_composer.html.twig' %}

{% block emailBody %}
    <p>Dear Client,</p>

    <p>Thank you for being a part of the fastest growing fire prevention, backflow and plumbing company in Illinois</p>

    <p>Please see attached work order, invoice and test report(s). Your timely review and remittance would be greatly appreciated.</p>

    <p>We truly appreciate your continued business with American Backflow and Fire Prevention, as we strive to meet all the needs of our clients by being your (one stop company) and/or (full service company) for all your backflow, plumbing and fire service needs.</p>

    <p>Sincerely<br />
    American Backflow and Fire Prevention Team</p>

{% endblock %}
