{% extends '@Admin/Letter/workorder_composer.html.twig' %}

{% block emailBody %}

    <p>Dear Client,</p>

    <p>Please find attached {{ workorder.division.name }} reports for the above mentioned address.</p>

    <p>Sincerely<br />
        American Backflow and Fire Prevention Team</p>

{% endblock %}
