{% extends '@Admin/Letter/send.html.twig' %}

{% block emailBody %}
    <p>Dear Client,</p>

    <p>This is a friendly reminder that according to our records backflow prevention devices located within your property will be due for their inspection and certification soon.</p>

    <p>Please find details regarding this in attached PDF Retest Notice that was sent to you before. If testing and certification has been completed, please call our office so we can discontinue these testing notifications.</p>

    <p>Sincerely,<br />
        American Backflow & Fire Prevention Team</p>

{% endblock %}