{% include '@Admin/layouts/main.html.twig' %}

{% block body %}
    {{ form_start(form, {'attr': {'style': 'margin-top: 14%; margin-right:35%;'}}) }}
    {{ form_widget(form, {'class': ''}) }}
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}

