{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}
    <div class="app-main__page-title app-wrapper">
        <div class="app-main__page-title-name">Agents</div>
        <div class="app-wrapper">

            <div class="app-common-information__data">
                {% if agentsList.results %}
                    {{ agentsList.results|length }}
                {% endif %}
                <span class="app-font--small">Agents</span>
            </div>
        </div>
    </div>
    <div class="app-data">
        {% if agentsList.results is not empty %}
            <table class="table app-data__table app-bordered--shadow">
                <thead>
                <tr class="app-color--inactive">
                    <th></th>
                    <th>ID</th>
                    <th>Agent Company Name</th>
                    <th>Website</th>
                    <th>Phone Number</th>
                </tr>
                </thead>
                <tbody>
                    {% for agent in agentsList.results %}
                    <tr>
                        <td class="contractors-table__icon-block">
                            <div>
                                <img src="{{ asset('bundles/admin/dist/images/agent.svg') }}" alt="" class="contractors-table__img app-agent-list__agent-icon">
                            </div>
                        </td>
                        <td class="municipalities-table__id-section">{{ agent.id }}</td>
                        <td>
                            <a href="{{ path('admin_agent_view', {
                                'agent' : agent.id
                            }) }}" class="app-link__select">{{ agent.name }}</a>
                        </td>
                        <td>
                            {% if agent.website %}
                                <a href="{{ agent.website }}" class="app-link__select">{{ agent.website ?? "-"}}</a>
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>
                            {{ agent.phone ? agent.phone | phone : "-" }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="app-data__not-found">No agents available</div>
        {% endif %}
    </div>
    {% if agentsList.pagesCount is defined and agentsList.pagesCount > 1 %}
        <div class="pagination app-bordered--shadow">
            <a class="app-pagination-arrow{{ agentsList.currentPage == 1 ? ' disabled' : '' }}" href="{{ path('admin_agent_list', {
                'page' : agentsList.currentPage - 1,
            }) }}">«</a>

            {% for i in range(1, agentsList.pagesCount) %}
                <a {% if agentsList.currentPage == i %} class="app-active-page" {% endif %} href="{{ path('admin_agent_list', {
                    'page' : i,
                }) }}">{{ i }}</a>
            {% endfor %}

            <a class="app-pagination-arrow{{ agentsList.currentPage == agentsList.pagesCount ? ' disabled' : '' }}" href="{{ path('admin_agent_list', {
                'page' : agentsList.currentPage + 1,
            }) }}">»</a>
        </div>
    {% endif %}
{% endblock %}