{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}
    <div class="app-wrapper app-wrapper--content-start">
        <div class="app-detailed__wrapper heightDetector app-agent__container app-agent__container--big">
            <div class="app-detailed__info">
                <div class="app-agent__information">
                    <div class="app-wrapper app-device-styles_title-line">
                        <div class="app-detailed__info__img correct-position-contractor-logo app-detailed__info__img--agent"></div>
                        <div class="app-detailed__info__data app-no-padding--left">
                            <div class="app-detailed__info__data-id app-contractor-information_data-id app-save-space">Agent ID - {{ agent.id }}</div>
                            <div class="app-detailed__info__data-contacts">
                                <div class="app-detailed__info__data-title app-contractor-information_data-title app-cut-string">{{ agent.name }}</div>
                            </div>
                        </div>
                    </div>
                    <table class="app-agent__information-data">
                        <tbody>
                        <tr>
                            <td class="app-color--inactive app-agent__information-title app-agent__information-row">Website: </td>
                            <td class="app-line--padding-left app-agent__information-row app-word-breack">
                                {% if agent.website %}
                                    <a class="app-link__select" href="{{ agent.website }}" target="_blank">{{ agent.website }}</a>
                                {% else %}
                                    <span class="app-color--inactive">No Data</span>
                                    <img class="app-contact-list__warning app-contact-list__warning--middle" alt="warning image" src="/bundles/admin/dist/images/warning.svg">
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="app-color--inactive app-agent__information-title">Phone number: </td>
                            <td class="app-line--padding-left">
                                {% if agent.phone %}
                                    {{ agent.phone | phone }}
                                {% else %}
                                    <span class="app-color--inactive">No Data</span>
                                    <img class="app-contact-list__warning app-contact-list__warning--middle" alt="warning image" src="/bundles/admin/dist/images/warning.svg">
                                {% endif %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="app-detailed__addition__content app-agent__container app-agent__container--medium">
            <div class="app-detailed__addition__container__title">Comments</div>
            <div class="app-account-addition__details__wrapper">No Comments</div>
        </div>
        <div class="app-detailed__addition__content app-agent__container app-agent__container--medium">
            <div class="app-detailed__addition__container__title">Files</div>
            <div class="app-account-addition__details__wrapper">No Files</div>
        </div>
    </div>
    <div class="app-account-site">
        <div class="app-wrapper app-account-site__header">
            <div class="app-color--inactive app-font--bold app-font--large">Default Compliance Channels and Contacts</div>
        </div>
        <div class="app-data">
            <ul class="nav nav-tabs">
                <li id="tab1" class="active">
                    <a data-toggle="tab" href="#panel1" aria-expanded="true">
                        Channels ({{ quantityChannels ? quantityChannels : '0' }})
                    </a>
                </li>
                <li id="tab2" class="">
                    <a data-toggle="tab" href="#panel2" aria-expanded="false">
                        Contacts ({{ agent.contacts ? agent.contacts | length : '0' }})
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="panel1" class="tab-pane fade active in">
                    <table class="table app-data__table app-data__table--dark app-bordered--shadow app-table-radius app-table-radius--top-right">
                        <tbody>
                        {% for channel in channels %}
                            <tr>
                                <td colspan="5" class="app-devices-table__device-type">
                                    <div class="app-wrapper">
                                        <div>
                                            <img class="app-line--right-text" src="{{ asset('bundles/admin/dist/images/'~channel.deviceCategory.icon) }}">
                                            <span class="app-color--inactive app-devices-table__device-title app-line--align">
                                                {{ channel.deviceCategory.name }} Services
                                            </span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% if channel.result %}
                            <tr class="app-color--opacity30">
                                <td class="app-contractor-information__empty"></td>
                                <td class="app-agent__channels-title">Channel</td>
                                <td>Send to</td>
                                <td></td>
                                <td></td>
                            </tr>
                            {% endif %}

                            {% for oneChannel in channel.result %}
                                <tr>
                                    <td class="app-contractor-information__empty"></td>
                                    <td class="{{ oneChannel.isDefault ? 'app-word-breack' : '' }}">
                                        <span class="app-line--right-text">
                                           {{ oneChannel.named.name }}
                                        </span>
                                        {% if oneChannel.isDefault %}
                                            <span class="label label-success app-label">Default</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if oneChannel.named.alias == "mail" %}
                                            {{ oneChannel.dynamicFields[0].entityValue ?  oneChannel.dynamicFields[0].entityValue | address : "-"}}
                                        {% elseif oneChannel.named.alias == "fax" %}
                                            {{ oneChannel.dynamicFields[0].value ?  oneChannel.dynamicFields[0].value | phone : "-"}}
                                        {% elseif oneChannel.named.alias == "upload" %}
                                            {% if oneChannel.dynamicFields[0].value %}
                                                <a class="app-link__select" href="{{ oneChannel.dynamicFields[0].value | url_format }}" target="_blank">{{ oneChannel.dynamicFields[0].value ?  oneChannel.dynamicFields[0].value : "-"}}</a>
                                            {% else %}
                                                -
                                            {% endif %}
                                        {% else %}
                                            {% if oneChannel.dynamicFields[0].value %}
                                                <a href="{{ "mailto:" ~ oneChannel.dynamicFields[0].value }}" class="app-link__select">{{ oneChannel.dynamicFields[0].value }}</a>
                                            {% else %}
                                                -
                                            {% endif %}
                                        {% endif %}
                                    </td>

                                    <td class="app-contractor-users-licenses-table__icons">
                                        {#<a href="#">#}
                                            {#<img src="{{ asset('bundles/admin/dist/images/edit.svg') }}" alt="" class="app-contractor-users-licenses-table__icons_edit">#}
                                        {#</a>#}
                                    </td>
                                    <td class="app-contractor-users-licenses-table__icons">
                                        {#<a class="app-agent__channels-icon" href="#">#}
                                            {#<img src="{{ asset('bundles/admin/dist/images/delete.svg') }}" class="app-contractor-users-licenses-table__icons_delete">#}
                                        {#</a>#}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div id="panel2" class="tab-pane fade">
                    {% if agent.contacts | length %}
                        <table class="table app-data__table app-table-users app-bordered--shadow app-table-radius">
                            <thead>
                            <tr>
                                <th colspan="4">Users</th>
                                <th>Division</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for contact in agent.contacts %}
                                <tr>
                                    <td>
                                        <div>
                                            <img class="app-contact-list__contact-icon app-agent__contacts-icon" src="/bundles/admin/dist/images/agent.svg" alt="image agent">
                                            <span class="app-color--active app-link__title app-contact-list__contact-name app-line--right-text app-link__title--no-decoration">
                                                {{ contact.firstName ~ ' ' ~ contact.lastName }}
                                            </span>
                                        </div>
                                        <div class="app-line--colored {{ contact.title ? '' : 'app-color--inactive' }}">
                                            {{ contact.title ? contact.title : 'No Data' }}
                                            <!-- <span class="app-color--inactive app-device-styles_table--no-data">No Data</span>
                                                    <img class="app-contact-list__warning app-contact-list__warning--middle" alt="warning image" src="{{ asset('/bundles/admin/dist/images/warning.svg') }}"> -->
                                        </div>
                                    </td>
                                    <td class="app-agent__contacts-phones">
                                        <div class="app-contact-main__line app-agent__contacts-line">
                                            <div class="sprite sprite--phone"></div>
                                            <div class="app-contact-main__line-text {{ contact.cell ? '' : 'app-color--inactive' }}">
                                                {{ contact.cell ? contact.cell | phone : 'No Data' }}
                                                {% if contact.cell %}
                                                    <span style="padding-left: 15px;">
                                                            <span class="app-color--inactive">Ext.:</span> {{ contact.ext }}
                                                    </span>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="app-contact-main__line app-agent__contacts-line">
                                            <div class="sprite sprite--mobile"></div>
                                            <div class="app-contact-main__line-text {{ contact.phone ? '' : 'app-color--inactive' }}">
                                                {{ contact.phone ? contact.phone | phone : 'No Data' }}
                                            </div>
                                        </div>
                                        <div class="app-contact-main__line app-agent__contacts-line">
                                            <div class="sprite sprite--fax"></div>
                                            <div class="app-contact-main__line-text {{ contact.fax ? '' : 'app-color--inactive' }}">
                                                {{ contact.fax ? contact.fax | phone : 'No Data' }}
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="app-contact-main__line app-agent__contacts-line">
                                            <div class="sprite sprite--mail"></div>
                                            <div class="app-contact-main__line-text {{ contact.address ? '' : 'app-color--inactive' }}">
                                                {{ contact.address ? contact.address | address : 'No Data' }}
                                            </div>
                                        </div>
                                        <div class="app-contact-main__line app-agent__contacts-line">
                                            <div class="sprite sprite--dog"></div>
                                            <div class="app-contact-main__line-text {{ contact.email ? '' : 'app-color--inactive' }}">
                                                {% if contact.email %}
                                                    <a href="{{ "mailto:" ~ contact.email }}" class="app-link__select">{{ contact.email }}</a>
                                                {% else %}
                                                    No Data
                                                {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                    <td class="app-agent__contacts-empty"></td>
                                    <td>
                                        <div class="app-contact-list__authorizer">
                                          <svg class="app-color-svg--{{ 'backflow' in divisionsInContacts[contact.id] ? 'active': 'inactive' }}" version="1.1"
                                             xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="13.792px"
                                             height="20.674px" viewBox="0 0 13.792 20.674" enable-background="new 0 0 13.792 20.674" xml:space="preserve">
                                            <g>
                                                <g>
                                                    <path fill="#FFFFFF" d="M6.888,0c0.877,1.473,1.874,3.16,2.884,4.839c0.912,1.516,1.897,2.993,2.745,4.544
                                                        c0.902,1.65,1.476,3.42,1.21,5.347c-0.423,3.06-2.543,5.261-5.576,5.825c-3.605,0.67-7.096-1.535-7.952-5.023
                                                        c-0.414-1.685-0.151-3.31,0.514-4.87C1.088,9.78,1.537,8.923,2.025,8.098c0.701-1.185,1.494-2.315,2.201-3.497
                                                        C5.177,3.012,6.082,1.396,6.888,0z M6.238,18.908c0.099-0.092,0.493-0.283,0.542-0.54c0.094-0.49-0.309-0.622-0.758-0.656
                                                        c-1.816-0.141-3.111-1.44-3.253-3.258c-0.035-0.446-0.157-0.815-0.666-0.776c-0.476,0.036-0.536,0.418-0.528,0.828
                                                        C1.619,16.782,3.695,18.862,6.238,18.908z">
                                                    </path>
                                                </g>
                                            </g>
                                          </svg>
                                          <svg class="app-color-svg--{{ 'fire' in divisionsInContacts[contact.id] ? 'active': 'inactive' }}" version="1.1"
                                               xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16.55px"
                                               height="19.053px" viewBox="0 0 16.55 19.053" enable-background="new 0 0 16.55 19.053" xml:space="preserve">
                                            <g>
                                                <g>
                                                    <path fill="#FFFFFF" d="M6.841,0c0.545,0.25,1.068,0.536,1.544,0.905c0.833,0.647,1.523,1.423,2.099,2.304
                                                        c0.751,1.149,1.262,2.403,1.627,3.72c0.004,0.014,0.01,0.028,0.02,0.057c0.212-0.146,0.334-0.355,0.439-0.572
                                                        c0.259-0.54,0.302-1.115,0.229-1.697c-0.046-0.364-0.145-0.722-0.222-1.095c0.098,0.085,0.211,0.171,0.31,0.27
                                                        c0.987,0.986,1.807,2.094,2.459,3.328c0.414,0.784,0.743,1.6,0.959,2.46c0.173,0.688,0.258,1.388,0.245,2.096
                                                        c-0.019,0.987-0.24,1.928-0.664,2.823c-0.4,0.844-0.949,1.582-1.599,2.243c-0.519,0.529-1.087,1.005-1.706,1.415
                                                        c-0.384,0.255-0.776,0.498-1.165,0.745c-0.021,0.013-0.044,0.021-0.102,0.048c0.96-1.983,1.073-4.02,0.533-6.091
                                                        c-0.539-2.065-1.64-3.775-3.388-5.068c0.135,1.949-0.303,3.701-1.53,5.223c0.048-0.471,0.063-0.937-0.02-1.403
                                                        c-0.084-0.467-0.236-0.906-0.515-1.319c-0.083,0.284-0.155,0.547-0.238,0.806c-0.269,0.842-0.672,1.618-1.159,2.353
                                                        c-0.443,0.667-0.832,1.357-0.973,2.162c-0.096,0.543-0.078,1.081,0.029,1.619c0.107,0.535,0.283,1.047,0.513,1.541
                                                        c0.023,0.049,0.039,0.1,0.034,0.173c-0.284-0.172-0.577-0.329-0.849-0.518c-0.52-0.362-1.044-0.72-1.535-1.119
                                                        c-0.685-0.557-1.263-1.213-1.676-2.005c-0.463-0.889-0.596-1.832-0.515-2.819c0.081-0.985,0.377-1.905,0.804-2.791
                                                        c0.387-0.804,0.763-1.614,1.129-2.427c0.236-0.526,0.38-1.081,0.434-1.657c0.002-0.024,0.007-0.047,0.017-0.107
                                                        C2.979,6.573,3.127,7.612,3.16,8.681c0.015,0.002,0.03,0.005,0.044,0.007c0.106-0.13,0.213-0.259,0.317-0.391
                                                        c0.661-0.843,1.281-1.715,1.817-2.643c0.506-0.877,0.937-1.79,1.217-2.765c0.206-0.715,0.329-1.445,0.309-2.193
                                                        C6.859,0.465,6.83,0.232,6.811,0C6.821,0,6.831,0,6.841,0z">
                                                    </path>
                                                </g>
                                            </g>
                                          </svg>
                                        </div>
                                        <div class="app-contact-list__authorizer">
                                          <svg class="app-color-svg--{{ 'plumbing' in divisionsInContacts[contact.id] ? 'active': 'inactive' }}" version="1.1"
                                             xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="18.619px"
                                             height="18.614px" viewBox="0 0 18.619 18.614" enable-background="new 0 0 18.619 18.614" xml:space="preserve">
                                            <g>
                                                <g>
                                                    <path fill="#FFFFFF" d="M15.669,0.279c-0.689,0.683-1.326,1.312-1.96,1.945c-0.796,0.795-0.792,1.363,0.007,2.164
                                                        c0.228,0.229,0.454,0.461,0.687,0.685c0.582,0.559,1.224,0.569,1.801,0.009c0.623-0.604,1.229-1.226,1.845-1.837
                                                        c0.081-0.08,0.174-0.147,0.269-0.226c1.011,2.374-0.636,5.366-3.247,5.853c-0.651,0.122-1.357,0.079-2.016-0.027
                                                        c-0.401-0.064-0.619,0.02-0.879,0.281c-2.915,2.933-5.842,5.855-8.757,8.787c-0.56,0.563-1.2,0.837-1.983,0.631
                                                        c-1.397-0.369-1.902-2.053-0.942-3.131c0.328-0.368,0.692-0.704,1.041-1.053c2.659-2.66,5.315-5.323,7.983-7.973
                                                        c0.26-0.258,0.322-0.471,0.233-0.84c-0.792-3.281,2.103-6.18,5.4-5.428C15.294,0.153,15.432,0.206,15.669,0.279z M1.79,17.433
                                                        c0.343-0.001,0.676-0.311,0.649-0.649c-0.03-0.384-0.246-0.639-0.65-0.638c-0.401,0.001-0.622,0.247-0.646,0.638
                                                        C1.122,17.128,1.444,17.434,1.79,17.433z">
                                                    </path>
                                                </g>
                                            </g>
                                          </svg>
                                          <svg class="app-color-svg--{{ 'alarm' in divisionsInContacts[contact.id] ? 'active': 'inactive' }}" version="1.1"
                                               xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20.364px"
                                               height="19.839px" viewBox="0 0 20.364 19.839" enable-background="new 0 0 20.364 19.839" xml:space="preserve">
                                            <g>
                                                <g>
                                                    <path fill="#FFFFFF" d="M8.145,16.339C3.585,16.295-0.04,12.629,0,8.104c0.04-4.512,3.731-8.156,8.209-8.104
                                                        c4.544,0.053,8.165,3.736,8.119,8.24C16.284,12.66,12.713,16.32,8.145,16.339z M10.492,8.223c0.054-1.232-0.957-2.327-2.198-2.381
                                                        c-1.325-0.058-2.403,0.921-2.466,2.24c-0.059,1.245,0.953,2.363,2.188,2.415C9.365,10.553,10.432,9.573,10.492,8.223z M1.691,10.7
                                                        c0.02-0.004,0.039-0.007,0.059-0.011C1.664,8.183,2.454,6.006,4.228,4.231c1.773-1.774,3.95-2.56,6.457-2.507
                                                        c-0.15-0.099-0.299-0.182-0.458-0.233C8.957,1.085,7.673,1.058,6.386,1.398c-2.893,0.765-4.953,3.223-5.202,6.21
                                                        C1.108,8.526,1.204,9.43,1.507,10.305C1.554,10.442,1.629,10.569,1.691,10.7z">
                                                    </path>
                                                    <path fill="#FFFFFF" d="M18.048,12.365c-0.546-0.221-0.925-0.583-1.101-1.132c-0.285-0.891,0.191-1.849,1.072-2.17
                                                        c0.877-0.32,1.852,0.114,2.212,0.984c0.358,0.863-0.032,1.858-0.895,2.245c-0.16,0.072-0.229,0.159-0.272,0.328
                                                        c-0.447,1.75-1.494,3.074-2.949,4.098c-1.23,0.866-2.599,1.425-4.057,1.772c-0.161,0.038-0.208,0.107-0.221,0.261
                                                        c-0.053,0.614-0.561,1.084-1.18,1.086c-1.674,0.005-3.347,0.004-5.021,0c-0.573-0.001-1.078-0.46-1.148-1.03
                                                        c-0.048-0.391-0.101-0.782-0.125-1.175C4.33,17.068,4.69,16.8,5.231,16.972c0.766,0.244,1.544,0.424,2.346,0.5
                                                        c1.179,0.111,2.309-0.134,3.428-0.469c0.013-0.004,0.026-0.011,0.039-0.015c0.501-0.159,0.724-0.059,0.938,0.432
                                                        c0.708-0.177,1.393-0.425,2.054-0.737c1.263-0.596,2.378-1.38,3.191-2.541C17.601,13.605,17.88,13.024,18.048,12.365z">
                                                    </path>
                                                </g>
                                            </g>
                                          </svg>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <div class="app-data__not-found app-contractor__not-found app-bordered--shadow">No Contacts</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}