.app-invoice__jobsite {
  padding-top: 15px;
  margin-bottom: 40px;

  &__info-block {
    display: flex;
  }
  &__address {
    color: #fff;
    margin-bottom: 0;
  }
  &__title {
    margin-bottom: 13px;
  }
  &__ico {
    margin-right: 22px;

    img {
      width: 34px;
    }
  }
}