.qb-customer {
  padding-top: 15px;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 13px;

  &__info-wrapp {
    display: flex;
  }
  &__label {
    margin-right: 10px;
  }
  &__name {
    display: flex;
    align-items: center;
    margin-right: 5px;

    &:hover {
      color: #00b4fa;
    }
    img {
      margin-right: 5px;
      max-width: 20px;
    }
    span {
      color: #00b4fa;
      font-weight: 400;
    }
  }
  &__warning {
    display: flex;
    align-items: center;

    img {
      width: 21px;
      margin-right: 5px;
    }
  }
  &__info {
    height: 100%;
    margin-right: 5px;
  }
  &__warning-ico {
    display: flex;
    align-items: center;

    img {
      max-width: 21px;
    }
  }
}