.invoice-terms {
  border-bottom: 1px solid #77787e;

  &__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 13px 13px 13px;
  }
  &__field {
    width: 49%;
    margin-bottom: 15px;
    
    &--small {
      width: 23%;
    }
    &--medium {
      width: 24%;
    }
    &--large {
      width: 49%;
    }
    &--margin {
      margin-right: 26px;
    }
  }
  &__title {
    margin-bottom: 10px;
  }
}
