.additional-input {
  display: flex;
  align-items: center;

  &__label {
    font-size: 16px;
    margin-right: 10px;
  }
  &__input {
    max-width: 151px;
    color: #edcb3a;

    &--disabled {
      max-width: 151px;
      border: none;
      background-color: #30323a;
      box-shadow: none;
    }
  }
}