.app-invoice {
  &__invoice-buttons {
    display: flex;
    justify-content: space-between;
  }
  &__buttons-group {
    display: flex;
    justify-content: flex-start;
    color: #fff;
  }
}

.app-invoice__modal-content {
  color: #fff;
}
