.app-invoice {
  &__total-info {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
  }
  &__total-line {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;

    &__name {
      width: 170px;
    }
    &__value {
      text-align: left;
      color: #fff;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}