/* app-invoice */
.app-invoice {
  padding: 20px 0 40px;
  margin: 0 auto;
  max-width: 1470px;
  width: 80%;
  color: rgba(255, 255, 255, 0.6);

  &__invoice-description {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #77787e;
  }
  &__invoice-info {
    margin-bottom: 35px;
  }
  &__border-right {
    border-right: 1px solid #77787e;
    padding-right: 13px;
    padding-bottom: 13px;
    min-height: 261px;
  }
  &__wrapper {
    background: #353840;
    border-radius: 6px;
    box-shadow: 0 0 10px #000;
    padding: 15px 28px 28px 28px;
    width: 100%;
    min-height: 400px;

    &--padding {
      padding: 0 13px 10px 13px;
    }
  }
  &__col {
    width: 100%;
    max-width: 50%;
    padding: 13px 13px 13px 13px;

    &--no-padding-right {
      padding-right: 0;
    }
  }
}

.app-invoice__modal-content {
  color: #fff;
}