.invoice-items-search {
  &-container {
    position: relative;
    margin-bottom: 5px;
  }
  &__icon {
    position: absolute;
    color: rgba(44, 62, 80, 0.5);
    top: 6px;
    left: 15px;
  }
}

.invoice-items-synchronized {
  border: 1px solid;
  border-radius: 4px;
  padding: 5px 15px;

  &__succeed {
    border-color: #67BD5E;
    color: #67BD5E;
  }
  &__fail {
    border-color: #FF5757;
    color: #FF5757;
  }
}

#invoice-items-search {
  padding-left: 50px;
}

#invoice-loading-items {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1000;

  [role="progressbar"] {
    color: #fff;
    line-height: 34px;
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: 300;
  }
}
