{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}
	<div class="app-main__page-title app-wrapper">
		<div class="app-main__page-title-name">
			{% if account.type.alias == 'account' %}
				<img class="app-link__icon" src="/bundles/admin/dist/images/site.svg" alt="image contact">
			{% else %}
				<img class="app-link__icon" src="/bundles/admin/dist/images/group_site.svg" alt="image contact">
			{% endif %}
			<a href="{{ path('admin_account_get', {'accountId': account.id}) }}" class="app-link__title">{{ account.name }}</a> Contacts
		</div>
		{% if account.deleted is not defined or account.deleted is empty %}
			<div class="app-color--white">
				<a href="{{ path('admin_account_search_contact_person_for_select', {'account': account.id}) }}" class="app-detailed__button app-detailed__button--blue app-detailed__button--shadow btn">Add Contact Person</a>
			</div>
		{% endif %}
	</div>
		<div class="app-contact-list__container--main">
			<div class="app-contact-list__container--title">Primary Account Contacts ({{ contacts.primary | length }})</div>
			<div class="app-contact-list__container--table">
				<div class="app-contact-list__container--colored app-bordered--shadow">
    				{% if contacts.primary | length > 0 %}
                    	{% include '@Admin/AccountContactPerson/manageContactList.html.twig' with {'contacts': contacts.primary } %}
                    {% endif %}
					<div class="app-contact-list__no-contact--wrapper">
    					{% for errorMessage in errorMessages %}
							<div class="app-line--colored app-contact-list__no-contact">
                                {% if "Primary Authorizer" in errorMessage %}
									<img class="app-contact-list__warning app-contact-list__warning--middle" alt="warning image" src="/bundles/admin/dist/images/warning_red.svg">{{ errorMessage }}
                                {% else %}
									<img class="app-contact-list__warning app-contact-list__warning--middle" alt="warning image" src="/bundles/admin/dist/images/warning.svg">{{ errorMessage }}
                                {% endif %}
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	<div class="app-contact-list__container--main">
		<div class="app-contact-list__container--title">Other Account Contacts ({{ contacts.other | length }})</div>
		{% if contacts.other | length > 0 %}
			<div class="app-contact-list__container--table">
				<div class="app-contact-list__container--colored app-bordered--shadow">
					{% include '@Admin/AccountContactPerson/manageContactList.html.twig' with {'contacts': contacts.other } %}
				</div>
			</div>
		{% else %}
			<div class="app-data__not-found app-bordered--shadow">No Other Account Contacts</div>
		{% endif %}
	</div>

	<!-- Modal -->
	{{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
		'modalId' : 'unlinlkContact',
		'message' : 'Are you sure you want to unlink the Contact from the Account?',
		'buttonYes' : 'modalYes',
        'buttonYesHref' : '#'
	}) }}

{% endblock %}