<table class="table app-contact-list__table app-contact-list__table--large">
	<thead class="app-detailed__addition__container__title">
	<tr>
		<th colspan="2">Contact Person</th>
		<th>Authorizer</th>
		<th>Access</th>
		<th>Payments</th>
		<th></th>
	</tr>
	</thead>
	<tbody>
    {% for contact in contacts %}
		<tr>
            {% include '@Admin/AccountContactPerson/authorizerTableContact.html.twig' with {'contact': contact} %}

			<td>
                {% if contact.contactPerson.deleted is defined and not contact.contactPerson.deleted %}
					<div class="app-contact-list__container--button">
						<a href="{{ path('admin_account_contact_person_set_roles', {'account': account.id, 'contactPerson': contact.contactPerson.id}) }}" class="app-contact-list__button app-detailed__button--blue btn">Change Roles</a>
					</div>
                {% endif %}
				<div class="app-contact-list__container--button">
					<a href="#" data-link="{{ path('admin_account_contact_person_delete', {'account': account.id, 'contactPerson': contact.contactPerson.id}) }}" class="app-contact-list__button app-detailed__button--red btn app-modal-link" data-toggle="modal" data-target="#unlinlkContact">Delete from list</a>
				</div>
			</td>
		</tr>
    {% endfor %}
	</tbody>
</table>