{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}
    {#{{ form_start(form, {'attr': {'id': 'roleForm', 'autocomplete': 'off'}}) }}#}
    {#<button type="submit" class="app-form-button btn">SAVE</button>#}
    {#{{ form_end(form) }}#}

	<div class="app-main__page-title app-wrapper">
			<div class="app-main__page-title-name">
				Link
				<img class="app-link__icon" src="/bundles/admin/dist/images/contact.svg" alt="image contact">
				<a class="app-link__title app-role__title" target="_blank" href="{{ path('admin_contact_person_get', { 'contactPerson': contactPerson.id}) }}">{{ contactPerson.firstName}}{{ contactPerson.lastName ? " "~contactPerson.lastName : '' }}</a> to
                {% if account.type.alias == 'account' %}
					<img class="app-link__icon" src="/bundles/admin/dist/images/site.svg" alt="image contact">
                {% else %}
					<img class="app-link__icon" src="/bundles/admin/dist/images/group_site.svg" alt="image contact">
                {% endif %}
				<a class="app-link__title" target="_blank" href="{{ path('admin_account_get', {'accountId': account.id}) }}">{{ account.name }}</a>
			</div>
		</div>
    {{ include('AdminBundle:Opportunity:flash_messages.html.twig', {"app.session": app.session}) }}
		<div class="app-form app-form--roles  app-form--bordered">
			<div class="app-form-header">Set Contact Person Role and Responsibility</div>
			<div class="app-role__wrapper--main">
				<div class="app-role__header">Contact person information:</div>
				<div class="app-role__wrapper--content">
					<div class="app-wrapper">
						<div class="app-role__info">
							<div class="app-role__wrapper--block">
								<div>
									<span class="{{ contactPerson.deleted is defined and contactPerson.deleted ? 'app-deleted' : ''}}">
										<img class="app-role__contact" src="/bundles/admin/dist/images/contact.svg" alt="image contact">
										<a class="app-link__select app-link__title app-font--medium-s app-line--right-text" target="_blank" href="{{ path('admin_contact_person_get', { 'contactPerson': contactPerson.id}) }}">
											{% if contactPerson.firstName is defined and contactPerson.firstName is not empty %}
												{{ contactPerson.firstName~" "}}
											{% endif %}
											{% if contactPerson.lastName is defined and contactPerson.lastName is not empty %}
												{{ contactPerson.lastName }}
											{% endif %}
										</a>
									</span>
									{% if contactPerson.cod %}<span class="label label-danger app-label">COD only</span>{% endif %}
                  					{% if contactPerson.deleted %}<span class="label label-danger app-label">Deleted</span>{% endif %}
								</div>
								<div class="app-role__wrapper--line {{ contactPerson.deleted is defined and contactPerson.deleted ? 'app-deleted' : ''}}  {{ contactPerson.title is defined  and contactPerson.title is not empty ? '' : 'app-color--inactive' }}"> {{ contactPerson.title is defined  and contactPerson.title is not empty ? contactPerson.title : 'No Title' }}
								</div>
							</div>
							<div class="app-line--padding-left{{ contactPerson.deleted is defined and contactPerson.deleted ? 'app-deleted' : ''}}">
									
										{%  if contactPerson.company is defined and contactPerson.company is not empty %}
									<span class="app-color--inactive">at</span>
									<span class="{{ contactPerson.company.deleted is defined and contactPerson.company.deleted ? 'app-deleted' : ''}}">
									<img class="app-contact-list__company-icon" src="/bundles/admin/dist/images/company.svg" alt="image contact">
											<a class="app-link__select app-font--bold app-line--right-text app-word-breack" target="_blank" href="{{ path('admin_company_get', {'company': contactPerson.company.id}) }}">{{ contactPerson.company.name }}</a>
								</span>
								{% if contactPerson.company.deleted %}<span class="label label-danger app-label">Deleted</span>{% endif %}
								{% else %}
									<span class="app-color--inactive">No Company selected</span>
								{% endif %}
							</div>
						</div>
						<div class="app-role__info {{ contactPerson.deleted is defined and contactPerson.deleted ? 'app-deleted' : ''}}">
							<div class="app-contact-main__line">
								<div class="sprite sprite--phone"></div>
								<div class="app-contact-main__line-text {{ contactPerson.phone is defined and contactPerson.phone is not empty ? '' : ' app-color--inactive' }}">
                                    {% if contactPerson.phone is defined and contactPerson.phone is not empty %}
                                        {{ contactPerson.phone | phone }}
                                    {% else %}
										No Phone <img class="app-contact-list__warning" alt="warning image" src="/bundles/admin/dist/images/warning.svg">
                                    {% endif %}

                                    {% if contactPerson.ext is defined and contactPerson.ext is not empty and contactPerson.phone is defined and contactPerson.phone is not empty %}
										<div class="app-contact-main__ext app-color--inactive">Ext.:</div> {{ contactPerson.ext }}
                                    {% endif %}
								</div>
							</div>
							<div class="app-contact-main__line">
								<div class="sprite sprite--mobile"></div>
								<div class="app-contact-main__line-text {{ contactPerson.cell is defined and contactPerson.cell is not empty ? '' : ' app-color--inactive' }}">
									{% if  contactPerson.cell is defined and contactPerson.cell is not empty %}
										{{ contactPerson.cell | phone }}
									{% else %}
										No Cell <img class="app-contact-list__warning" alt="warning image" src="/bundles/admin/dist/images/warning.svg">
                                    {% endif %}
								</div>
							</div>
							<div class="app-contact-main__line">
								<div class="sprite sprite--fax"></div>
								<div class="app-contact-main__line-text {{ contactPerson.fax is defined and contactPerson.fax is not empty ? '' : ' app-color--inactive' }}">
									{% if  contactPerson.fax is defined and contactPerson.fax is not empty %}
										{{ contactPerson.fax | phone }}
									{% else %}
										No Fax <img class="app-contact-list__warning" alt="warning image" src="/bundles/admin/dist/images/warning.svg">
                                    {% endif %}
								</div>
							</div>
						</div>
						<div class="app-role__info {{ contactPerson.deleted is defined and contactPerson.deleted ? 'app-deleted' : ''}}">
							<div class="app-contact-main__line">
								<div class="sprite sprite--mail"></div>
								<div class="app-contact-main__line-text app-word-breack {{ contactPerson.personalAddress is defined and contactPerson.personalAddress | address is not empty ? '' : ' app-color--inactive' }}">
                                {% if  contactPerson.personalAddress is defined and contactPerson.personalAddress | address is not empty %}
                                    {{ contactPerson.personalAddress | address }}
                                {% else %}
									No Address <img class="app-contact-list__warning" alt="warning image" src="/bundles/admin/dist/images/warning.svg">
                                {% endif %}
								</div>
							</div>
							<div class="app-contact-main__line">
								<div class="sprite sprite--dog"></div>
								<div class="app-contact-main__line-text app-word-breack {{ contactPerson.email is defined and contactPerson.email is not empty ? '' : ' app-color--inactive' }}">
                                    {% if  contactPerson.email is defined and contactPerson.email is not empty %}
										<a href="{{ "mailto:" ~ contactPerson.email }}" class="app-link__select">{{ contactPerson.email }}</a>
                                    {% else %}
										No Email <img class="app-contact-list__warning" alt="warning image" src="/bundles/admin/dist/images/warning.svg">
                                    {% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="app-role__header">Link Contact Person as:</div>
				{{ form_start(form, {'attr': {'id': 'roleForm', 'autocomplete': 'off'}}) }}
					<div class="app-wrapper">
						<div class="app-role__column">
							<div>
                                {{ form_widget(form.authorizer, {'attr': {'name': 'authorizer', 'class': 'app-checkbox-input', 'type':'checkbox'}}) }}
								{{ form_label(form.authorizer, 'Authorizer Contact', {'label_attr': {'class': 'app-checkbox-label' }}) }}
							</div>
							<div>
								<div class="app-role__header app-role__wrapper--header">Responsible for:</div>
    							{% for responsibility in form.responsibilities %}
									<div class="app-role__wrapper--line">
										{{ form_widget(responsibility, {'attr': {'class': 'app-contactPerson-authorizer app-checkbox-input'}}) }}
										{{ form_label(responsibility, responsibility.vars.label, {'label_attr': {'class': 'app-checkbox-label' }}) }}
									</div>
                                {% endfor %}
							</div>
						</div>
						<div class="app-role__column">
							<div>
                                {{ form_widget(form.access, {'attr': {'name': 'access', 'class': 'app-checkbox-input', 'type':'checkbox'}}) }}
								{{ form_label(form.access, 'Access Contact', {'label_attr': {'class': 'app-checkbox-label' }}) }}
							</div>
							<div class="app-role__header app-role__wrapper--header">Options:</div>
							<div class="app-role__wrapper--line">
                                {{ form_widget(form.accessPrimary, {'attr': {'class': 'app-checkbox-input'}}) }}
                                {{ form_label(form.accessPrimary, 'Set As Primary Access Contact', {'label_attr': {'class': 'app-checkbox-label' }}) }}
							</div>
						</div>
						<div class="app-role__column">
							<div>
                                {{ form_widget(form.payment, {'attr': {'name': 'payments', 'class': 'app-checkbox-input', 'type':'checkbox'}}) }}
								{{ form_label(form.payment, 'Payments Contact', {'label_attr': {'class': 'app-checkbox-label' }}) }}
							</div>
							<div>
								<div class="app-role__header app-role__wrapper--header">Responsible for:</div>
                                {% for paymentResponsibility in form.paymentResponsibilities %}
									<div class="app-role__wrapper--line">
                                        {{ form_widget(paymentResponsibility, {'attr': {'class': 'app-contactPerson-payment app-checkbox-input'}}) }}
                                        {{ form_label(paymentResponsibility, paymentResponsibility.vars.label, {'label_attr': {'class': 'app-checkbox-label' }}) }}
									</div>
                                {% endfor %}
							</div>
						</div>
					</div>
					<div class="app-role__sending-address">
						<div class="app-role__header form-group">Mailing Address for sending account related correspondence:</div>
						<label>Please select:<span class="app-required-label">*</span></label>
						{{ form_widget(form.sendingAddress, {'attr': {'name': 'state', 'class': 'selectpicker form-control mozilla-input required'}}) }}
					</div>
					<div class="form-group">
						<div class="app-role__header form-group">Notes:</div>
						{{ form_widget(form.notes, {'attr': {'name': 'notes', 'placeholder': 'Notes', 'class': 'app-form__textarea--medium form-control'}}) }}
					</div>
					<div class="app-role__container">
						<div class="app-role__header form-group">Billing Settings:</div>
						<div class="app-role__customer-settings">
							{% if accountContactPerson.customer and accountContactPerson.customer is defined %}
								<div class="app-role__customer">
									<div class="app-role__customer-current">
										<span>QB Customer:</span>
										<span>
											<img 
												class="app-role__contact app-role__contact--customer customerImg" 
												{% if accountContactPerson.customer.entityType.name == 'Contact Person' %} 
													src="/bundles/admin/dist/images/contact.svg" 
												{% elseif accountContactPerson.customer.entityType.name == 'Company' %} 
													src="/bundles/admin/dist/images/company.svg" 
												{% endif %} 
												alt="image contact"
												/>
										</span>
										<span>
											<a 
												class="app-link__select customerName" 
												target="_blank" 
												{% if accountContactPerson.customer.entityType.name == 'Contact Person' %}
													href="{{ path('admin_contact_person_get', {'contactPerson': accountContactPerson.customer.entityId}) }}" 
												{% elseif accountContactPerson.customer.entityType.name == 'Company' %} 
													href="{{ path('admin_company_get', {'company': accountContactPerson.customer.entityId}) }}" 
												{% endif %}>{{ accountContactPerson.customer.name }}
											</a>
										</span>
										<span class="customerId">({{ accountContactPerson.customer.entityType.name }}, ID {{ accountContactPerson.customer.entityId }})</span>
									</div>
									<div class="app-role__customer-change">
										<a class="app-link__select showBlockAnim" data-target="#customerBlock" href="#">Change QB Customer</a>
									</div>
								</div>
							{% else %}
								<div class="app-role__customer">
									<div class="app-role__customer-current">
									{% for customer in form.customer.vars.choices %}
									{% if customer.value == 0 %}
										<span>QB Customer:</span>
										<span><img class="app-role__contact app-role__contact--customer customerImg" {% if customer.data.entityType.name == 'Contact Person' %} src="/bundles/admin/dist/images/contact.svg" {% elseif customer.data.entityType.name == 'Company' %} src="/bundles/admin/dist/images/company.svg" {% endif %} alt="image contact"></span>
										<span><a class="app-link__select customerName" target="_blank" href="{{ path('admin_contact_person_get', {'contactPerson': customer.data.entityId}) }}">{{ customer.data.name }}</a></span>
										<span class="customerId">({{ customer.data.entityType.name }}, ID {{ customer.data.entityId }})</span>
									{% endif %}
									{% endfor %}
									</div>
									<div class="app-role__customer-change">
										<a class="app-link__select showBlockAnim" data-target="#customerBlock" href="#">Change QB Customer</a>
									</div>
								</div>
							{% endif %}
							{% if form.customer.vars.choices is defined %}
								<div id="customerBlock" class="app-role__select-customer blockAnim">
									<div class="app-role__header form-group">Select QB Customer:</div>
									{% set i = 0 %}
									{% for choice in form.customer.vars.choices %}
										<div class="app-role__customer-options">
											<div class="app-role__option-info">
												<div class="app-role__customer-options__label">{{ choice.label }}:</div>
												{% if choice.data.entityType is defined %}
													<div class="app-role__customer-options__name">
														<span class="app-role__ico-wrapper"><img 
															class="app-role__ico" 
															{% if choice.data.entityType.name == 'Contact Person' %}
																src="/bundles/admin/dist/images/contact.svg"
															{% else %}
																src="/bundles/admin/dist/images/company.svg"
															{% endif %}
															alt="image contact"></span>
														<span class="app-role__name-copy"><a
															class="app-link__select"
															target="_blank"
															{% if choice.data.entityType.name == 'Contact Person' %}
																href="{{ path('admin_contact_person_get', {'contactPerson': choice.data.entityId}) }}"
															{% else %}
																href="{{ path('admin_company_get', {'company': choice.data.entityId}) }}"
															{% endif %}>{{ choice.data.name }}</a></span>
														<span class="app-role__info-copy">(ID {{ choice.data.entityId }})</span>
													</div>
												{% else %}
													<div class="app-role__customer-options__name">-</div>
												{% endif %}
											</div>
											<div class="app-role__customer-options__button">
											{% if choice.data.entityType is defined and choice.label in ['Account Person', 'Person Company', 'Account Company', 'Other Company'] %}
												<a href="#" 
													data-select-customer-select="{{ choice|serialize_object_to_array | json_encode() }}" 
													data-select-customer-href="{% if choice.data.entityType.name == 'Contact Person' %}{{ path('admin_contact_person_get', {'contactPerson': choice.data.entityId}) }}{% else %}{{ path('admin_company_get', {'company': choice.data.entityId}) }}{% endif %}"
													data-select-customer-img="{% if choice.data.entityType.name == 'Contact Person' %}/bundles/admin/dist/images/contact.svg{% else %}/bundles/admin/dist/images/company.svg{% endif %}"
													{% if accountContactPerson.customer and accountContactPerson.customer is defined %}
														class="app-link__select app-link__select_font-right app-link__select--margin selectCustomer {% if accountContactPerson.customer.name == choice.data.name %}selectedCustomer{% endif %}"
													{% else %}
														class="app-link__select app-link__select_font-right app-link__select--margin selectCustomer {% if i == 0 %}selectedCustomer{% endif %}"
													{% endif %}
												>Select</a>
											{% endif %}
											{% if choice.label == 'Other Company' %}
												<a href="{{ path('admin_search_company_for_select_to_acp',
													{
														'account' : account.id,
														'contactPerson' : contactPerson.id,
														'personCompany' : existCompany['Person Company'],
														'accountCompany' : existCompany['Account Company'],
														'otherCompany' : existCompany['Other Company']
													}
												) }}"
												   class="app-link__select">
													Search
												</a>
											{% endif %}
											</div>
										</div>
										{% set i = i + 1 %}
									{% endfor %}
								</div>
							{% endif %}
						</div>
						<div class="form-group">
							<div class="form-group">Billing address for sending invoices:</div>
							{{ form_widget(form.billingAddress.address, {'attr': {'name': 'addressLine1', 'placeholder':
								'Address (up to 3 lines)', 'class': 'app-form__textarea--medium app-form--disabled form-control', 'rows': '3',
								'wrap': 'off', 'readonly':'readonly'}}) }}
						</div>
						<div class="app-wrapper">
							<div class="app-form-input--medium form-group">
								{{ form_widget(form.billingAddress.city, {'attr': {'name': 'city', 'placeholder': 'City', 'class': 'app-capitalize app-form--disabled form-control mozilla-input', 'readonly':'readonly'}}) }}
							</div>
							<div class="app-wrapper app-wrapper--half">
								<div class="app-form-input--big form-group">
									{{ form_widget(form.billingAddress.state, {'attr': {'name': 'state', 'class': 'app-role__select-state app-form--disabled selectpicker form-control mozilla-input', "tabindex": "-98", 'readonly':'readonly'}}) }}

								</div>
								<div class="app-form-input--small form-group">
									{{ form_widget(form.billingAddress.zip, {'attr': {'name': 'zip', 'placeholder': 'Zip', 'class': 'app-form--disabled form-control mozilla-input', 'readonly':'readonly'}}) }}
								</div>
							</div>
						</div>
					</div>

					<div class="app-role__copy-address">
						<div class="app-role__custom-address">
							<input id="custom_billing_address" name="account_contact_person[check]" value="1" type="checkbox" class="app-checkbox-input" autocomplete="off" aria-required="true" {% if accountContactPerson.customBillingAddress and accountContactPerson.customBillingAddress.address %}checked{% endif %} >
							<label class="app-checkbox-label required" for="custom_billing_address" aria-required="true">Use Custom Billing Address for this Account</label>
						</div>
						{% if addressesList is defined %}
							<a class="app-link__select showBlockAnim copyAddressesButton" style="display:none" data-target="#addressesBlock" href="#">Copy Address</a>
						{% endif %}
					</div>
					{% if addressesList is defined %}
						<div id="addressesBlock" class="app-role__select-customer blockAnim">
							<div class="app-role__header form-group">Copy Address from:</div>
							{% for key, address in addressesList %}
								<div class="app-role__customer-options">
									<div class="app-role__option-info">
										<div class="app-role__customer-options__label">{{ key }}:</div>
										<div class="app-role__customer-options__name">
										{% if address.owner is defined %}
											<span class="app-role__ico-wrapper"><img
												class="app-role__ico"
												{% if key == 'Account Person' %}
													src="/bundles/admin/dist/images/contact.svg"
												{% elseif key in ['Person Company', 'Account Company', 'Other Company'] %}
													src="/bundles/admin/dist/images/company.svg"
												{% elseif key == 'Account' %}
													src="/bundles/admin/dist/images/site.svg"
												{% endif %}
												alt="image address"></span>
											<span class="app-role__name-copy"><a
												target="_blank"
												class="app-link__select"
												{% if key == 'Account Person' %}
													href="{{ path('admin_contact_person_get', {'contactPerson': address.owner.id}) }}"
												{% elseif key in ['Person Company', 'Account Company', 'Other Company'] %}
													href="{{ path('admin_company_get', {'company': address.owner.id}) }}"
												{% elseif key == 'Account' %}
													href="{{ path('admin_account_get', {'accountId': address.owner.id}) }}"
												{% endif %}
												>
												{% if key == 'Account Person' %}
													{{ address.owner.firstName }}
													{{ address.owner.lastName }}
												{% else %}
													{{ address.owner.name }}
												{% endif %}
												</a></span>
											<span class="app-role__info-copy">(ID {{ address.owner.id }})</span>
										{% else %}
											-
										{% endif %}
										</div>
									</div>
									<div class="app-role__copy-buttons">
									{% if address.owner is defined %}
										<div class="app-role__customer-options__button">
											{% if address.billing is defined
											and address.billing %}
												<a href="#" 
													data-copy-address-billing="{{ address|serialize_object_to_array | json_encode() }}"
													class="app-link__select">Copy Billing Address</a>
											{% endif %}
										</div>
										<div class="app-role__customer-options__button">
											{% if address.personal is defined
											and address.personal %}
												<a href="#" 
													data-copy-address-personal="{{ address|serialize_object_to_array | json_encode() }}" 
													data-copy-name="{{ address.name }}"
													class="app-link__select">Copy Address</a>
											{% endif %}
										</div>
									{% endif %}
									</div>
								</div>
							{% endfor %}
						</div>
					{% endif %}

					{#{% if form_errors(form) %}
						<div class="alert alert-danger app-flash-message--danger">
							<a href="#" class="close app-flash-message__closed--danger" data-dismiss="alert" aria-label="close">&times;</a>
								{{ form_errors(form) }}
						</div>
					{% endif %}#}

					<div class="app-form-button--right">
						<button type="submit" class="app-form-button btn ">SAVE</button>
						<a href="{{ path('admin_account_contact_person_manage', {'account': account.id}) }}" class="app-form-button app-form-button--grey app-form-button--indent btn">CANCEL</a>
					</div>
					<select id="account_contact_person_customer" class="hidden" name="account_contact_person[customer]" autocomplete="off">
						{% if form.customer.vars.choices is defined %}
							{% for choice in form.customer.vars.choices %}
								{% if accountContactPerson.customer and accountContactPerson.customer is defined and choice.data.name is defined %}
									{% if choice.data.name == accountContactPerson.customer.name %}
										<option selected="selected" value="{{ choice.value }}">{{ choice.label }}</option>
									{% else %}
										<option value="{{ choice.value }}">{{ choice.label }}</option>
									{% endif %}
								{% else %}
									<option value="{{ choice.value }}">{{ choice.label }}</option>
								{% endif %}
							{% endfor %}
						{% endif %}
					</select>
				{# {{ form_end(form) }} #}
			</div>
		</div>
		<div class="app-form-error"></div>
		<!-- Modal -->
	{{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
		'modalId' : 'roleModal',
		'message' : ' Are you sure you want to link Contact Person to the Account and/or set roles for this Account Contact?',
		'dataSubmit' : 'Yes'
	}) }}

	<!-- Modal -->
    {{ include('AdminBundle:layouts/dialogs:infoDialog.html.twig', {
        'modalId' : 'warningRoleModal',
        'message' : 'Please select at least one role for the Account Contact.'
    }) }}

{% endblock %}