<form class="datepickerValidation datepickerCheckValid app-wrapper app-filter-form__content app-filter-form__content--top">
    <input type="text" name="type" value="{{ filterParams.type }}" hidden>
    <div class="app-opportunities-table-filter__inputs-container">
        {#<div class="app-opportunities-table-filter__inputs--checkbox">#}
        {#<input class="app-checkbox-input" id="showOmmited"#}
        {#value="{{ filterContent.division.0.id is defined ? filterContent.division.0.id : '' }}"#}
        {#name="division[{{ filterContent.division.0.id is defined ? filterContent.division.0.id : '' }}]"#}
        {#type="checkbox" {{ (filterParams.division.1 is defined or filterParams.division is not defined) ? 'checked="checked"' : "" }}>#}
        {#<label class="app-checkbox-label app-opportunities-table-filter__checkbox-label" for="showBackflow-opportunities">Show Omitted</label>#}
        {#</div>#}
        <div class="app-opportunities-table-filter__inputs--select">
            <div class="app-opportunities-table-filter__select-label">
                <label class="app-color--inactive app-line--right-text">Show Division:</label>
            </div>
            <div class="app-opportunities-table-filter__select-container">
                <select class="selectpicker" name="division">
                    <option value="">All</option>
                    {% for division in divisions %}
                        <option value="{{ division.id }}"
                                {{ (filterParams.division is defined) and (division.id == filterParams.division)
                                ? 'selected'
                                : '' }}
                        >{{ division.name }}</option>
                    {% endfor %}
                    <option value="{{ divisions | alarm_fire_filter_ids }}"
                            {{ (filterParams.division is defined) and (filterParams.division == divisions | alarm_fire_filter_ids)
                            ? 'selected'
                            : '' }}
                    >Fire and Alarm</option>
                </select>
            </div>
        </div>
            <div class="app-opportunities-table-filter__inputs--select">
                <div class="app-opportunities-table-filter__select-label">
                    <label class="app-color--inactive app-line--right-text">Client Type:</label>
                </div>
                <div class="app-opportunities-table-filter__select-container">
                    <select class="selectpicker" name="clientType">
                        <option value="">All</option>
                        {% for clientType in filterContent.clientType %}
                            <option
                                    {{ (filterParams.clientType is defined and filterParams.clientType == clientType.id) ? ' selected' : ''  }}
                                    value="{{ clientType.id }}">
                                {{ clientType.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
    </div>
    <div class="app-opportunities-table-filter__inputs-container">
        <div class="app-opportunities-table-filter__inputs--select">
            <div class="app-opportunities-table-filter__select-label">
                <label class="app-color--inactive app-line--right-text">Show Statuses:</label>
            </div>
            <div class="app-opportunities-table-filter__select-container">
                <select class="selectpicker" name="status">
                    <option value="">All</option>
                    {% for opportunityStatus in filterContent.opportunityStatus %}
                        <option{{ (filterParams.status is defined and filterParams.status == opportunityStatus.id) ? ' selected' : ''  }} value="{{ opportunityStatus.id }}">{{ opportunityStatus.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        {#            <div class="app-opportunities-table-filter__inputs--select">
            <div class="app-opportunities-table-filter__select-label">
                <label class="app-color--inactive app-line--right-text">Opportunity Type:</label>
            </div>
            <div class="app-opportunities-table-filter__select-container">
                <select class="selectpicker" name="type">
                    <option value="">All</option>
                    {% for opportunityType in filterContent.opportunityType %}
                        <option{{ (filterParams.type is defined and filterParams.type ==opportunityType.id) ? ' selected' : ''  }} value="{{ opportunityType.id }}">{{ opportunityType.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>#}
    </div>

    <div class="app-opportunities-table-filter__inputs-container">
        <div class="app-opportunities-table-filter__inputs--select">
            <div class="app-opportunities-table-filter__select-label">
                <label class="app-color--inactive app-line--right-text">Date From:</label>
            </div>
            <div class="app-opportunities-table-filter__select-container app-opportunities-table-filter__select-container--date">
                <input type="text" name="date[from]"
                        class="fromDates app-opportunities-table-filter__inputs--date app-validation-date form-control"
                        placeholder="MM/DD/YYYY"
                        value="{{ filterParams.date.from is defined ? filterParams.date.from : ''}}"
                >
                <div class="clear-input-value"></div>
            </div>
        </div>
            <div class="app-opportunities-table-filter__inputs--select">
            <div class="app-opportunities-table-filter__select-label">
                <label class="app-color--inactive app-line--right-text">Show Lines:</label>
            </div>
            <div class="app-opportunities-table-filter__select-container">
                <select class="selectpicker" name="pagerCount">
                    {% for pagerCount in filterContent.pagerCount %}
                        <option{{ (filterParams.pagerCount is defined and filterParams.pagerCount == pagerCount) ? ' selected' : ''  }} value="{{ pagerCount }}">{{ pagerCount }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    
    <div class="app-opportunities-table-filter__inputs-container">
            <div class="app-opportunities-table-filter__inputs--select">
                <div class="app-opportunities-table-filter__select-label">
                    <label class="app-color--inactive app-line--right-text">Date To:</label>
                </div>
                <div class="app-opportunities-table-filter__select-container app-opportunities-table-filter__select-container--date">
                    <input type="text" name="date[to]"
                            class="toDates app-opportunities-table-filter__inputs--date app-validation-date form-control"
                            placeholder="MM/DD/YYYY"
                            value="{{ filterParams.date.to is defined ? filterParams.date.to : ''}}"
                    >
                    <div class="clear-input-value"></div>
                </div>
            </div>
        </div>
    

    {# TODO: create twig filter for format date.from, date.to  to "dd/mm/yyyy format before insert to input"    #}

    <div class="app-opportunities-table-filter__inputs-container app-opportunities-table-filter__inputs-container--button app-wrapper--column app-filter-form__button--indent">
        <button type="submit" class="app-detailed__button app-opportunities-table-filter__button app-detailed__button--blue btn">Show</button>
    </div>
</form>