<div class="app-flash-container app-position--relative">
{% if app.session.flashBag.has('success') %}
    <div class="alert alert-success app-flash-message--success">
        <a href="#" class="close app-flash-message__closed--success" data-dismiss="alert" aria-label="close">&times;</a>
        {% for msg in app.session.flashBag.get('success') %}
            <div>{{ msg | raw}}</div>
        {% endfor %}
    </div>
{% endif %}
{% if app.session.flashBag.has('warning') %}
    <div class="alert alert-warning app-flash-message--warning">
        <a href="#" class="close app-flash-message__closed--warning" data-dismiss="alert" aria-label="close">&times;</a>
        {% for msg in app.session.flashBag.get('warning') %}
            <div>{{ msg | raw}}</div>
        {% endfor %}
    </div>
{% endif %}
{% if app.session.flashBag.has('failed') %}
    <div class="alert alert-danger app-flash-message--danger">
        <a href="#" class="close app-flash-message__closed--danger" data-dismiss="alert" aria-label="close">&times;</a>
        {% for msg in app.session.flashBag.get('failed') %}
            <div>{{ msg | raw}}</div>
        {% endfor %}
    </div>
{% endif %}
</div>
