{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}
    <div class="app-main__page-title app-opportunities__header app-wrapper">
        <div class="app-main__page-title-name">Retest Opportunities</div>
        <div class="app-wrapper">
            <div class="app-common-information__data">{{ opportunitySortByAccount.results | length }}
                <span class="app-font--small">Accounts</span>
            </div>
            <div class="app-common-information__data">{{ quantitiesItems.opportunity }}
                <span class="app-font--small">Opportunities</span>
            </div>
            <div class="app-common-information__data">{{ quantitiesItems.services }}
                <span class="app-font--small">Services</span>
            </div>
            <div class="app-common-information__data">{{ quantitiesItems.device }}
                <span class="app-font--small">Devices</span>
            </div>
        </div>
    </div>

    {{ include('AdminBundle:Opportunity:flash_messages.html.twig', {"app.session": app.session}) }}

    <!--  filters -->
    <div class="app-wrapper app-filter-form app-filter-form--big app-bordered--shadow">
        <div class="app-filter-form__content-container">
            {{ include('AdminBundle:Opportunity:filterAll.html.twig', {"filterParams": filterParams, "filterContent": filterContent, "forAccount": false, "error" : checkOnCorrectFilterForCreatingRn }) }}
        </div>
        <div class="app-filter-form__button-container app-filter-form__button-container--top app-filter-form__button--indent">
            {% if checkOnCorrectFilterForCreatingRn %}
                {% if opportunitySortByAccount.results | length < 501 %}
                    <a href="#" data-valid-filter="true"
                       class="app-detailed__button app-opportunities-table-filter__button app-detailed__button--red btn"
                       data-toggle="modal" data-target="" id="createNotice" {{ ((opportunitySortByAccount.results is defined) and opportunitySortByAccount.results | length) ? '' : 'disabled="disabled"' }}>Quick add to RN</a>
                {% else %}
                    <a href="#" data-valid-filter="true" class="app-detailed__button app-opportunities-table-filter__button app-detailed__button--red btn" data-toggle="modal" data-target="#confirmQuickAddToRNOpportunityLimitError">Quick add to RN</a>
                {% endif %}
            {% else %}
                <a href="#" data-valid-filter="false"
                   class="app-detailed__button app-opportunities-table-filter__button app-detailed__button--red btn"
                   data-toggle="modal" data-target="" id="createNotice" {{ ((opportunitySortByAccount.results is defined) and opportunitySortByAccount.results | length) ? '' : 'disabled="disabled"' }}>Quick add to RN</a>
            {% endif %}

        </div>
    </div>
    <!--  filters -->
    {% if opportunitySortByAccount.results | length %}
        <table class="table app-data__table app-bordered--shadow app-data__table-haveFilter"
               data-selector="without-first-devider">
            <thead>
            <tr class="app-color--inactive">
                <th></th>
                <th>Device</th>
                <th>Inspection Name</th>
                <th>Comment</th>
                <th>Fee</th>
                <th colspan="2">Company Last Tested</th>
                <th>Status</th>
                <th class="app-contractor-users-licenses-table__icons"></th>
                <th class="app-contractor-users-licenses-table__icons"></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for resultItem in opportunitySortByAccount.results %}
                <!--account row-->
                <tr class="app-devider-row">
                    <td colspan="12"></td>
                </tr>
                <tr>
                    <td colspan="12" class="app-account-row">
                        <div class="app-detailed__info app-wrapper app-wrapper--content-start">
                            <img class="app-account-site__name"
                                 src="{{ resultItem.account.type.alias == 'group account' ? '/bundles/admin/dist/images/group_site.svg' : '/bundles/admin/dist/images/site.svg' }}">
                            <div class="app-font--bold">
                                <a class="app-link__select app-link__title app-font--medium"
                                   href="{{ path("admin_account_get", {"accountId": resultItem.account.id}) }}"
                                >{{ resultItem.account.name }}</a>
                                {{ resultItem.account | is_message('no_autorizer') | raw }}
                                {{ resultItem.account | is_message('no_municipality_compliance_channel_backflow') | raw }}
                                {{ resultItem.account | is_message('service_no_fee') | raw }}
                                {{ resultItem.account | is_message('authorizer_invalid_address') | raw }}
                                <span class="app-line--right-text app-font--medium-s app-color--inactive"> - {{ resultItem.account.address | address }}</span>
                                {% set labelClass = ' label-success' %}
                                {% if resultItem.account.clientType.alias == 'inactive' %}
                                    {% set labelClass = ' label-danger' %}
                                {% elseif resultItem.account.clientType.alias == 'special_discount' %}
                                    {% set labelClass = ' label-warning' %}
                                {% elseif resultItem.account.clientType.alias == 'potential' %}
                                    {% set labelClass = ' label-primary' %}
                                {% endif %}
                                <span class="label {{ labelClass }} app-label app-opportunities__label">{{ resultItem.account.clientType.name }}</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <!--end account row-->
                <!--service row-->
                {% for opportunity in resultItem.opportunity %}
                    <tr>
                        <td colspan="12">
                            <div class="app-opportunities__table-row--site-account">
                                {% if opportunity.executionServicesDate | date_difference < 0 %}
                                    <span class="app-color--warning">
                                        {{ opportunity.executionServicesDate | date('m/d/Y') }}
                                        ({{ (opportunity.executionServicesDate | date_difference) * -1 }} days past)
                                    </span>
                                {% elseif opportunity.executionServicesDate | date_difference > 0 %}
                                    <span>
                                        {{ opportunity.executionServicesDate | date('m/d/Y') }}
                                        ({{ opportunity.executionServicesDate | date_difference }} days ahead)
                                    </span>
                                {% else %}
                                    <span>
                                        {{ opportunity.executionServicesDate | date('m/d/Y') }}
                                        (today)
                                    </span>
                                {% endif %}
                                <span class="app-line--padding-left app-line--padding-right">-</span>
                                <img class="app-account-site__name"
                                     src="{{ opportunity.account.type.alias == 'group account' ? '/bundles/admin/dist/images/group_site.svg' : '/bundles/admin/dist/images/site.svg' }}">
                                <span>
                                    <a href="{{ path("admin_account_get", {"accountId": opportunity.account.id}) }}"
                                       class="app-link__select app-line--right-text app-font--bold">{{ opportunity.account.name }}</a>
                                </span>
                            </div>
                        </td>
                    </tr>
                    {% for service in opportunity.services %}
                        <tr class="app-opportunities__table-row--service">
                            <td class="app-division-row__arrow-container"></td>
                            <td>
                                <img src="{{ asset('bundles/admin/dist/images/' ~ service.device.named.category.icon) }}"
                                     class="app-line--padding-right">
                                <span class="app-line--align ">
                                <a class="app-link__select app-link__title"
                                   href="{{ path('admin_device_view', {'device' : service.device.id}) }}"
                                   target="_blank">{{ service.device.title }}</a>
                                <span class="app-color--inactive">(ID {{ service.device.id }})</span>
                            </span>
                            </td>
                            <td>
                                {{ service.named.name }}
                            </td>

                            <td>
                                {{ service.comment ? service.comment : '-' }}
                            </td>
                            <td>
                                {% if service.fixedPrice %}
                                    ${{ service.fixedPrice | money_format(service.fixedPrice) }}
                                {% elseif resultItem.account | is_message('service_no_fee') and not service.deleted %}
                                    {{ resultItem.account | is_message('service_no_fee') | raw }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td class="app-no-padding--right app-link__table-icon">
                                {% if service.companyLastTested %}
                                    <img class="app-link__table-icon" src="/bundles/admin/dist/images/contractor.svg" alt="image company">
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td class="app-word-breack">
                                {% if service.companyLastTested %}
                                    <a href="{{ path('admin_contractor_view', {'contractor' : service.companyLastTested.id}) }}"
                                       target="_blank" class="app-link__select">{{ service.companyLastTested.name }}</a>
                                {% endif %}
                            </td>
                            <td>
                                <span class="app-service-label {{ service.status.cssClass }}">{{ service.status.name ?? '' }}</span>
                            </td>
                            <td class="app-devices-table__dash-cell app-text--align-right">
                                {% if not service.deleted %}
                                    <a href="{{ path('admin_service_update', {'service': service.id}) }}"
                                       data-service-canUpdate="{{ (service.status.alias == 'under_retest_notice' or  service.status.alias == 'under_workorder') ? 'false' : 'true' }}"
                                       class="checkOnUpdateService">
                                        <img src="{{ asset('bundles/admin/dist/images/edit.svg') }}">
                                    </a>
                                {% endif %}
                            </td>
                            {#<td>#}
                                {#{% if service.status.alias in ['under_retest_opportunity'] %}#}
                                    {#<a href="#" data-toggle="modal" data-target="#addInspectionToProposalModal" data-link="{{ path('admin_add_inspection_to_proposal', {'service': service.id}) }}" class="app-link__select app-link__select--nowrap app-modal-link app-line--right-text"#}
                                    {#>Add to PP</a>#}
                                {#{% endif %}#}
                            {#</td>#}
                            <td>
                                {% if service.status.alias in ['under_retest_opportunity'] %}
                                    <a data-toggle="modal" data-target="#omitModal" data-link="{{ path('admin_omit_service', {'service': service.id}) }}" class="app-link__select app-modal-link checkOnDeleteService app-cursor--pointer"
                                    >Omit</a>
                                {% endif %}
                            </td>
                            <td></td>
                        </tr>

                    {% endfor %}
                {% endfor %}

                <!--end service row-->
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="app-data__not-found app-bordered--shadow">No Opportunities</div>
    {% endif %}

    {% if opportunitySortByAccount.pagesCount is defined and opportunitySortByAccount.pagesCount > 1 %}
        <div class="pagination  app-bordered--shadow">
            <a class="app-pagination-arrow{{ opportunitySortByAccount.currentPage == 1 ? ' disabled' : '' }}"
               href="{{ path('admin_opportunity_list', {
                   'page' : opportunitySortByAccount.currentPage - 1,
                   'division' : filterParams.division is defined ? filterParams.division : '',
                   'type' : filterParams.type is defined ? filterParams.type : '',
                   'clientType' : filterParams.clientType is defined ? filterParams.clientType : '',
                   'status' : filterParams.status is defined ? filterParams.status : '',
                   'date' : filterParams.date is defined ? filterParams.date : '',
                   'pagerCount' : filterParams.pagerCount is defined ? filterParams.pagerCount : '',
               }) }}">«</a>
            {% for i in range(1, opportunitySortByAccount.pagesCount) %}
                <a {% if opportunitySortByAccount.currentPage == i %} class="app-active-page" {% endif %}
                        href="{{ path('admin_opportunity_list', {
                            'page' : i,
                            'division' : filterParams.division is defined ? filterParams.division : '',
                            'type' : filterParams.type is defined ? filterParams.type : '',
                            'status' : filterParams.status is defined ? filterParams.status : '',
                            'clientType' : filterParams.clientType is defined ? filterParams.clientType : '',
                            'date' : filterParams.date is defined ? filterParams.date : '',
                            'pagerCount' : filterParams.pagerCount is defined ? filterParams.pagerCount : '',
                        }) }}">{{ i }}</a>
            {% endfor %}
            <a class="app-pagination-arrow{{ opportunitySortByAccount.currentPage == opportunitySortByAccount.pagesCount ? ' disabled' : '' }}"
               href="{{ path('admin_opportunity_list', {
                   'page' : opportunitySortByAccount.currentPage + 1,
                   'division' : filterParams.division is defined ? filterParams.division : '',
                   'type' : filterParams.type is defined ? filterParams.type : '',
                   'clientType' : filterParams.clientType is defined ? filterParams.clientType : '',
                   'status' : filterParams.status is defined ? filterParams.status : '',
                   'date' : filterParams.date is defined ? filterParams.date : '',
                   'pagerCount' : filterParams.pagerCount is defined ? filterParams.pagerCount : '',
               }) }}">»</a>
        </div>
    {% endif %}

    <!-- Modal -->
    {{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
        'modalId' : 'createNoticeModal',
        'message' : 'Are you sure you want to perform batch creation of Retest Notices for listed Opportunities?',
        'buttonYesHref' : path('admin_proposal_quick_create', { 'filters' : filterParams }),
        'oneClick' : 'Yes'
    }) }}
    {{ include('AdminBundle:layouts/dialogs:infoDialog.html.twig', {
        'modalId' : 'filterDateError',
        'message' : 'Please filter opportunities by dates before using Quick Retest Notice Creation'
    }) }}

    <!-- Modal Omit Service -->
    {{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
        'modalId' : 'omitModal',
        'message' : 'Are you sure you want to Omit this Service?',
        'buttonYes' : 'modalYes',
        'buttonYesHref' : '#',
        'oneClick' : 'Yes'
    }) }}
    <!-- End Modal Omit Service -->

    <!-- Modal Add Service to Proposal -->
    {{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
        'modalId' : 'addInspectionToProposalModal',
        'message' : 'Are you sure you want to Add this Service to Proposal?',
        'buttonYes' : 'modalYes',
        'oneClick' : 'Yes'
    }) }}
    <!-- End Modal Add Service to Proposal -->

    <!-- Modal Confirm Error Popup to Create RN from opportunity limit error -->
    {{ include('AdminBundle:layouts/dialogs:infoDialog.html.twig', {
        'modalId' : 'confirmQuickAddToRNOpportunityLimitError',
        'message' : 'You selected more than 500 Retest Opportunities for batch Retest Notices creation.
                Please reduce amount of filtered opportunities to be less than 500 and try again.'
    }) }}
    <!-- End Modal Confirm Error Popup to Create RN from opportunity limit error -->

{% endblock %}