{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}
    <div class="app-main__page-title app-opportunities__header app-wrapper">
        <div class="app-main__page-title-name">Repair Opportunities</div>
        <div class="app-wrapper">
            <div class="app-common-information__data">{{ opportunitySortByAccount.results | length }}
                <span class="app-font--small">Accounts</span>
            </div>
            <div class="app-common-information__data">{{ quantitiesItems.device }}
                <span class="app-font--small">Devices</span>
            </div>
        </div>
    </div>

    {{ include('AdminBundle:Opportunity:flash_messages.html.twig', {"app.session": app.session}) }}

    <!--  filters -->
    <div class="app-wrapper app-filter-form app-filter-form--big app-bordered--shadow">
        <div class="app-view--max-width">
            {{ include('AdminBundle:Opportunity:filterRepairsAll.html.twig', {"filterParams": filterParams, "filterContent": filterContent, "forAccount": false, "error" : error }) }}
        </div>
    </div>
    <!--  filters -->
    {% if opportunitySortByAccount.results | length %}
        <table class="table app-data__table app-bordered--shadow app-data__table-haveFilter"
               data-selector="without-first-devider">
            <thead>
            <tr class="app-color--inactive">
                <th></th>
                <th>
                    <span class="app-opportunities__table-row--service-name">Recommended Repairs</span>
                </th>
                <th class="app-data-table__th_width_45per">Deficiency to fix</th>
                <th>Date Suggested</th>
                <th>Status</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for resultItem in opportunitySortByAccount.results %}
                <!--account row-->
                <tr class="app-devider-row">
                    <td colspan="8"></td>
                </tr>
                <tr>
                    <td colspan="8" class="app-account-row">
                        <div class="app-detailed__info app-wrapper app-wrapper--content-start">
                            <img class="app-account-site__name"
                                 src="{{ resultItem.account.type.alias == 'group account' ? '/bundles/admin/dist/images/group_site.svg' : '/bundles/admin/dist/images/site.svg' }}">
                            <div class="app-font--bold">
                                <a class="app-link__select app-link__title app-font--medium"
                                   href="{{ path("admin_account_get", {"accountId": resultItem.account.id}) }}"
                                >{{ resultItem.account.name }}</a>
                                {{ resultItem.account | is_message('no_autorizer') | raw }}
                                {{ resultItem.account | is_message('no_municipality_compliance_channel_backflow') | raw }}
                                {{ resultItem.account | is_message('service_no_fee') | raw }}
                                {{ resultItem.account | is_message('authorizer_invalid_address') | raw }}
                               {# <span class="tooltip-warning-container">
                              #}{#<img class="app-contact-list__warning app-contact-list__warning--middle app-opportunities-table-warning tooltipWarning"#}{#
                                   #}{#alt="warning image" data-toggle="tooltip" data-placement="top"#}{#
                                   #}{#data-original-title="Service Fee information for some of the Services under this Account is missing."#}{#
                                   #}{#src="/bundles/admin/dist/images/warning.svg">#}{#
                            </span>#}
                                <span class="app-line--right-text app-font--medium-s app-color--inactive"> - {{ resultItem.account.address | address }}</span>
                                {% set labelClass = ' label-success' %}
                                {% if resultItem.account.clientType.alias == 'inactive' %}
                                    {% set labelClass = ' label-danger' %}
                                {% elseif resultItem.account.clientType.alias == 'special_discount' %}
                                    {% set labelClass = ' label-warning' %}
                                {% elseif resultItem.account.clientType.alias == 'potential' %}
                                    {% set labelClass = ' label-primary' %}
                                {% endif %}
                                <span class="label {{ labelClass }} app-label app-opportunities__label">{{ resultItem.account.clientType.name }}</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <!--end account row-->
                <!--service row-->
                {% for opportunity in resultItem.opportunity %}
                    <tr>
                        <td></td>
                        <td colspan="4">
                            <div>
                                <img src="{{ asset('bundles/admin/dist/images/' ~ opportunity.services[0].device.named.category.icon) }}"
                                     class="app-line--padding-right">
                                <span>
                                    <a href="{{ path("admin_device_view", {"device": opportunity.services[0].device.id }) }}"
                                       class="app-link__select app-line--right-text app-font--bold">{{ opportunity.services[0].device.title }}</a>
                                </span>
                                <span class="app-line--padding-right">-</span>
                                <span class="app-color--inactive">{{ opportunity.services[0].device | deviceInfo | raw }}</span>
                            </div>
                        </td>
                        <td>
                            {#<a href="#" class="app-link__select app-font--bold app-line--align app-line--right-text">Add Repair to WO</a>#}
                        </td>
                        <td>
                            {#{% if not resultItem.account | is_block_adding_device_to_proposal(opportunity.services[0].device.named.category) %}#}
                                {#<a href="{{ path('admin_create_repair_proposals', {'device' : opportunity.services[0].device.id}) }}" class="app-link__select app-font--bold app-line--align app-line--right-text">Add Repair to PP</a>#}
                            {#{% else %}#}
                                {#<a class="app-link__select app-font--bold app-line--align app-line--right-text app-cursor--pointer" data-toggle="modal" data-target="#confirmAddToProposal">Add Repair to PP</a>#}
                            {#{% endif %}#}
                        </td>
                        <td></td>
                    </tr>

                    {% for service in opportunity.services|sort_by(=> _.inspectionDue) %}
                        <tr class="app-opportunities__table-row--service">
                            <td class="app-division-row__arrow-container"></td>
                            <td>
                                <span class="app-opportunities__table-row--service-name">{{ service.named.name }}</span>
                            </td>
                            <td class="app-word-breack">
                                {{ service.named.deficiency }}{{ service.comment ? ". " ~ service.comment | ucfirst : '' }}
                            </td>
                            <td>
                                {{ service.inspectionDue | date('m/d/Y') }}
                            </td>
                            <td>
                                <span class="app-service-label {{ service.status.cssClass }}">{{ service.status.name ?? '' }}</span>
                            </td>
                            <td></td>
                            <td>
                                {% if service | can_edit_repair_service_comment %}
                                    <a href="#" data-toggle="modal" data-target="#editRepairServiceComment" data-action="{{ path('admin_edit_repair_service_comment', {'service': service.id}) }}" data-comment="{{ service.comment }}" class="app-link__select app-link__select--nowrap app-modal-link app-line--right-text"
                                    > <img src="{{ asset('bundles/admin/dist/images/edit.svg') }}"></a>
                                {% endif %}
                            </td>
                            <td>
                                {% if service.status.alias != 'discarded' %}
                                    <a href="#" data-toggle="modal" data-target="#discardModal" data-link="{{ path('admin_discard_service', {'service': service.id}) }}" class="app-link__select app-modal-link app-line--right-text"
                                    >Discard</a>
                                {% endif %}
                            </td>
                        </tr>

                    {% endfor %}
                {% endfor %}

                <!--end service row-->
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="app-data__not-found app-bordered--shadow">No Opportunities</div>
    {% endif %}

    {% if opportunitySortByAccount.pagesCount is defined and opportunitySortByAccount.pagesCount > 1 %}
        <div class="pagination  app-bordered--shadow">
            <a class="app-pagination-arrow{{ opportunitySortByAccount.currentPage == 1 ? ' disabled' : '' }}"
               href="{{ path('admin_opportunity_list_repairs', {
                   'page' : opportunitySortByAccount.currentPage - 1,
                   'division' : filterParams.division is defined ? filterParams.division : '',
                   'type' : filterParams.type is defined ? filterParams.type : '',
                   'clientType' : filterParams.clientType is defined ? filterParams.clientType : '',
                   'status' : filterParams.status is defined ? filterParams.status : '',
                   'date' : filterParams.date is defined ? filterParams.date : '',
                   'pagerCount' : filterParams.pagerCount is defined ? filterParams.pagerCount : '',
               }) }}">«</a>
            {% for i in range(1, opportunitySortByAccount.pagesCount) %}
                <a {% if opportunitySortByAccount.currentPage == i %} class="app-active-page" {% endif %}
                        href="{{ path('admin_opportunity_list_repairs', {
                            'page' : i,
                            'division' : filterParams.division is defined ? filterParams.division : '',
                            'type' : filterParams.type is defined ? filterParams.type : '',
                            'status' : filterParams.status is defined ? filterParams.status : '',
                            'clientType' : filterParams.clientType is defined ? filterParams.clientType : '',
                            'date' : filterParams.date is defined ? filterParams.date : '',
                            'pagerCount' : filterParams.pagerCount is defined ? filterParams.pagerCount : '',
                        }) }}">{{ i }}</a>
            {% endfor %}
            <a class="app-pagination-arrow{{ opportunitySortByAccount.currentPage == opportunitySortByAccount.pagesCount ? ' disabled' : '' }}"
               href="{{ path('admin_opportunity_list_repairs', {
                   'page' : opportunitySortByAccount.currentPage + 1,
                   'division' : filterParams.division is defined ? filterParams.division : '',
                   'type' : filterParams.type is defined ? filterParams.type : '',
                   'clientType' : filterParams.clientType is defined ? filterParams.clientType : '',
                   'status' : filterParams.status is defined ? filterParams.status : '',
                   'date' : filterParams.date is defined ? filterParams.date : '',
                   'pagerCount' : filterParams.pagerCount is defined ? filterParams.pagerCount : '',
               }) }}">»</a>
        </div>
    {% endif %}


    <!-- Modal Discard Service -->
    {{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
        'modalId' : 'discardModal',
        'message' : 'Are you sure you want to Discard this Service?',
        'buttonYes' : 'modalYes',
        'buttonYesHref' : '#',
        'oneClick' : 'Yes'
    }) }}
    <!-- End Modal Discard Service -->

    <!-- Modal Confirm Popup Add to Proposal -->
    {{ include('AdminBundle:layouts/dialogs:infoDialog.html.twig', {
        'modalId' : 'confirmAddToProposal',
        'message' : 'Some information about Account Authorizer or Municipality Compliance Channel is missing for the account. Please add missing information before adding device to Proposal.'
    }) }}
    <!-- End Modal Confirm Popup Add to Proposal -->

    <!-- Modal Form Change repair service comment -->
    {{ include('AdminBundle:layouts/dialogs:changeRepairServiceCommentDialog.html.twig', {
        'modalId' : 'editRepairServiceComment',
        'modalFormMethod' : 'post',
        'modalFormId' : 'createWOFromInspectionsList',
    }) }}
    <!-- End Modal Form Change repair service comment -->

{% endblock %}