{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}
{#{{ dump(results) }}#}
    <div class="app-main__page-title app-wrapper">
        <div class="app-main__page-title-name">Midnight Check Logs</div>
        <div class="app-detailed__button-container app-account-main__button-container">
            <a href="{{ path('admin_bad_request_storage') }}" class="trash-button app-detailed__button app-opportunities-table-filter__button app-detailed__button--blue btn" target="_blank">Bad Requests</a>
            <a href="{{ path('logger_log_list') }}" class="trash-button app-detailed__button app-opportunities-table-filter__button app-detailed__button--blue btn" target="_blank">Logs</a>
            <a href="{{ path('logger_quickbooks_request_list') }}" class="trash-button app-detailed__button app-opportunities-table-filter__button app-detailed__button--blue btn" target="_blank">Quickbooks Logs</a>
        </div>

    </div>
    {% if  results.results | length %}
        <table class="table app-data__table app-bordered--shadow">
        <thead>
        <tr class="app-color--inactive">
            <th>ID</th>
            <th>Date Time</th>
            <th>Message</th>
        </tr>
        </thead>
        <tbody >
        {% for resultItem in results.results %}
            <tr>
                <td>{{ resultItem.id }}</td>
                <td>{{ resultItem.dateTime | date('d-m-Y H:i:s') }}</td>
                <td>{{ resultItem.message }}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    {% endif %}
        {% if results.results | length == 0 %}
            <div class="app-data__not-found app-bordered--shadow">No Logs</div>
        {% endif %}

        {% if results.pagesCount is defined and results.pagesCount > 1 %}
            <div class="pagination  app-bordered--shadow">
                <a class="app-pagination-arrow{{ results.currentPage == 1 ? ' disabled' : '' }}" href="{{ path('admin_processing_stats_list', {
                    'page' : results.currentPage - 1,
                    'pagerCount' : filterParams.pagerCount is defined ? filterParams.pagerCount : '',
                }) }}">«</a>
                {% for i in range(1, results.pagesCount) %}
                    <a {% if results.currentPage == i %} class="app-active-page" {% endif %} href="{{ path('admin_processing_stats_list', {
                        'page' : i,
                        'pagerCount' : filterParams.pagerCount is defined ? filterParams.pagerCount : '',
                    }) }}">{{ i }}</a>
                {% endfor %}
                <a class="app-pagination-arrow{{ results.currentPage == results.pagesCount ? ' disabled' : '' }}" href="{{ path('admin_processing_stats_list', {
                    'page' : results.currentPage + 1,
                    'pagerCount' : filterParams.pagerCount is defined ? filterParams.pagerCount : '',
                }) }}">»</a>
            </div>
        {% endif %}
 {% endblock %}