<div id="editOverrideModal" class="modal fade" role="dialog">
  <div class="modal-dialog app-modal">
    <!-- Modal content-->
    <div class="app-modal__content app-invoice__modal-content modal-content ">
      <div class="app-modal__body modal-body">
        <p>Please enter payments override for this invoice:</p>
        <input 
          type="text" 
          name="" 
          class="form-control mozilla-input ui-autocomplete-input" 
          v-model.trim="overridePayment"
          @input.trim.lazy="inputOverridePayment($event.target.value)"
          placeholder="" 
          autocomplete="off" />
      </div>
      <div class="app-modal__footer">
        <a @click="$emit('editPaymentOverride', overridePayment)" class="app-detailed__button app-detailed__button--blue btn" data-dismiss="modal" data-original-title="" title="">OK</a>
        <a href="#" class="app-detailed__button app-detailed__button--gray btn" data-dismiss="modal" data-original-title="" title="">Cancel</a>
      </div>
    </div>
  </div>
</div>