<div class="app-invoice__billing-address">
    <div class="form-group">
      <div class="app-invoice__billing-address__wrapper">
          <div class="app-invoice__billing-address__label">Bill to:
          </div>
          <a v-if="accountContactPerson" target="_blank" :href="'/admin/account-contact-person-set-roles/' + account.id + '/' + accountContactPerson.contactPerson.id" class="app-link__select">Edit ACP</a> 
      </div>
      <textarea
        id="invoice_billing_address_address"
        name="invoice_billing_address_address" 
        placeholder="Address (up to 3 lines)" 
        class="app-form__textarea--medium form-control" 
        rows="3" 
        wrap="off" 
        :disabled="isCustomBillingInactive" 
        autocomplete="off"
        :class="{ 'app-form--disabled': isCustomBillingInactive }"
        :value="billToAddress.address"
        @input="catchAddressField" ></textarea>
    </div>
    <div class="app-wrapper">
      <div class="app-form-input--medium form-group">
        <input 
          type="text"
          name="invoice_billing_address_city" 
          placeholder="City" 
          class="app-capitalize form-control mozilla-input" 
          :disabled="isCustomBillingInactive" 
          autocomplete="off"
          :class="{ 'app-form--disabled': isCustomBillingInactive }"
          v-model="billToAddress.city">
      </div>
      <div class="app-wrapper app-wrapper--half">
        <div class="app-form-input--small form-group">
            <select 
              name="invoice_billing_address_state" 
              class="selectpicker form-control mozilla-input"
              tabindex="-98" 
              :disabled="isCustomBillingInactive" 
              :class="{ 'app-form--disabled': isCustomBillingInactive }"
              autocomplete="off"
              v-model="billToAddress.state.shortname" >
              <option disabled value="">State</option>
              <!-- :selected="billToAddress.state.shortname === state.name ? 'true' : 'false'"  -->
              <option 
                v-for="state in billingStates" 
                :value="state.name">{{ state.name }}
              </option>
            </select>
        </div>
        <div class="app-form-input--big form-group">
          <input 
            type="text" 
            name="invoice_billing_address_zip" 
            placeholder="Zip" 
            class="form-control mozilla-input" 
            :disabled="isCustomBillingInactive"
            autocomplete="off"
            :class="{ 'app-form--disabled': isCustomBillingInactive }"
            v-model="billToAddress.zip">
        </div>
      </div>
    </div>
</div>
