<div class="app-invoice__invoice-terms invoice-terms">
  <div class="invoice-terms__row">
    <div class="invoice-terms__field">
      <div class="invoice-terms__title">P. O.  NO:</div>
      <input 
        type="text" 
        name="invoice_terms[pono]" 
        class="form-control app-form--disabled mozilla-input ui-autocomplete-input" 
        v-model="workorder.poNo"
        placeholder="" 
        disabled
        autocomplete="off">
    </div>
    <div class="invoice-terms__field">
      <div class="invoice-terms__title">Inspector:</div>
      <input
        type="text"
        name="invoice_terms[inspector]"
        class="form-control app-form--disabled mozilla-input ui-autocomplete-input"
        disabled
        v-model="inspector"
        autocomplete="off">
    </div>
  </div>
  <div class="invoice-terms__row">
    <div class="invoice-terms__field">
      <div class="invoice-terms__title">Terms:</div>
      <input
        name="invoice_terms[terms]"
        v-model="paymentTerms.name"
        class="form-control app-form--disabled mozilla-input"
        disabled
        autocomplete="off" />
    </div>
    <div class="invoice-terms__field">
      <div class="invoice-terms__title">Memo:</div>
      <input 
        type="text" 
        name="invoice_terms[memo]" 
        class="form-control app-form--disabled mozilla-input ui-autocomplete-input" 
        v-model="memo"
        placeholder="" 
        disabled
        autocomplete="off">
    </div>
  </div>
  <div class="invoice-terms__row">
    <div class="invoice-terms__field invoice-terms__field--small">
      <div class="invoice-terms__title">Workorder:</div>
      <input
        type="text"
        name="invoice_terms[workorder]"
        class="form-control app-form--disabled mozilla-input ui-autocomplete-input"
        placeholder=""
        :value="invoiceData.workorder.id + ' - ' + invoiceData.workorder.division.name + ' Division'"
        disabled
        autocomplete="off">
    </div>
    <div class="invoice-terms__field invoice-terms__field--medium">
      <div class="invoice-terms__title">Authorized by:</div>
      <input
        type="text"
        name="invoice_terms[authorized]"
        class="form-control app-form--disabled mozilla-input ui-autocomplete-input"
        disabled
        :value="fullAuthoraizerName"
        autocomplete="off">
    </div>
    <div class="invoice-terms__field invoice-terms__field--large">
        <div class="invoice-terms__title">Gen by:</div>
        <input 
          type="text" 
          name="invoice_terms[genby]" 
          class="form-control app-form--disabled mozilla-input ui-autocomplete-input" 
          :value="invoiceData.genBy ? invoiceData.genBy.firstName + ' ' + invoiceData.genBy.lastName : ''"
          disabled
          autocomplete="off">
      </div>
  </div>
</div>


