<div class="additional-input">
  <label for="invoice-status" class="additional-input__label">Invoice NO:</label>
  <input 
    type="text" 
    id="invoice-status" 
    name="invoice_status[name]" 
    class="additional-input__input app-form--disabled form-control mozilla-input ui-autocomplete-input" 
    :class="{ 'additional-input__input--gray': isVoided }"
    :value="status && invoiceNo ? invoiceNo + ' (' + status.name + ')' : '-'" 
    autocomplete="off" 
    readonly="readonly">
</div>