<div class="additional-input app-invoice__invoice-date">
  <label for="input-date" class="additional-input__label">Date:
  </label>
  <div class="input-date-outer">
    <input
      type="text"
      id="input-date"
      name="invoice_date[date]"
      v-model="invoiceDate"
      disabled
      placeholder="MM/DD/YYYY"
      class="additional-input__input app-form--disabled form-control mozilla-input ui-autocomplete-input app-validation-date"
      autocomplete="off">
  </div>
</div>
