<div class="app-invoice__total-info">
  <div class="app-invoice__total-info__col">
    <div class="app-invoice__total-line">
      <span class="app-invoice__total-line__name">Workorder Total:</span>
      <span class="app-invoice__total-line__value">${{ workorderTotal }}</span>
    </div>
    <div class="app-invoice__total-line">
      <span class="app-invoice__total-line__name">Payments override:</span>
      <span class="app-invoice__total-line__value">${{ overridePayment }}
        <span
          class="app-invoice__edit-button donut"
          v-if="sendingOverrideProcess" ></span>
        <a 
          v-else
          href="" 
          data-toggle="modal" 
          data-target="#editOverrideModal" 
          class="app-invoice__edit-button app-link__select">Edit</a>
        <!-- <input 
          type="text" 
          id="" 
          name="" 
          class="form-control mozilla-input ui-autocomplete-input app-validation-currency"
          placeholder="" 
          v-model="overridePayment"
          autocomplete="off"> -->
      </span>
    </div>
    <div class="app-invoice__total-line">
      <span class="app-invoice__total-line__name">Balance due (ABFP):</span>
      <span class="app-invoice__total-line__value">${{ balanceDueABFP }}</span>
    </div>
  </div>
  <div class="app-invoice__total-info__col">
      <div class="app-invoice__total-line">
        <span class="app-invoice__total-line__name">Total:</span>
        <span class="app-invoice__total-line__value">${{ total }}</span>
      </div>
      <div class="app-invoice__total-line">
        <span class="app-invoice__total-line__name">Payments applied (QB):</span>
        <span class="app-invoice__total-line__value">${{ paymentApplied }}</span>
      </div>
      <div class="app-invoice__total-line">
        <span class="app-invoice__total-line__name">Balance due (QB):</span>
        <span class="app-invoice__total-line__value">${{ balanceDueQb }}</span>
      </div>
  </div>
  <editPaymentOverridePopup
    :paymentOverride="overridePayment"
    @editPaymentOverride="sendNewPaymentOverride" />
</div>
