<!-- modal form add item to invoice -->
<div id="addItemToInvoiceForm" class="modal fade popupForm" role="dialog" style="display: none;">

  <!-- modal dialog -->
  <div class="modal-dialog app-modal">

    <!-- modal content-->
    <div class="app-modal__content modal-content ">

      <!-- modal body -->
      <div class="app-modal__body modal-body">
        <p>Adding {{ invoiceItemOnCreate.name }}</p>
      </div>
      <!-- /modal body -->

      <!-- invoice-create-item-form -->
      <form class="app-modal__form app-invoice__invoice-create-item-form invoice-create-item-form" id="createInvoiceItem" method="post" autocomplete="off" action="" novalidate="novalidate">
        <div class="invoice-create-item-form__line">
          <label for="" class="invoice-create-item-form__title">Description:</label>
          <textarea 
            v-model="$v.invoiceItemOnCreate.description.$model" 
            id="" 
            name="" 
            placeholder="Description" 
            :class="{ error: $v.invoiceItemOnCreate.description.$error }" 
            class="app-form__textarea--medium form-control" 
            autocomplete="off" 
            aria-invalid="false">{{ invoiceItemOnCreate.description }}</textarea>
          <label v-if="$v.invoiceItemOnCreate.description.$error" for="" class="error">Please enter no more than 255 characters.</label>
        </div>
        <div class="invoice-create-item-form__line invoice-create-item-form__line_last app-wrapper">
          <div class="invoice-create-item-form__col">
            <label for="" class="invoice-create-item-form__title">Quantity:<span v-if="invoiceItemOnCreate.type.name !== 'discount'">*</span></label>
            <input 
              :disabled="invoiceItemOnCreate.type.name === 'discount'" 
              v-model.trim="$v.invoiceItemOnCreate.qty.$model" 
              type="text" 
              id="" 
              name="" 
              :class="{ error: $v.invoiceItemOnCreate.qty.$error, 'app-form--disabled': invoiceItemOnCreate.type.name === 'discount' }" 
              class="form-control mozilla-input valid" 
              :placeholder="invoiceItemOnCreate.type.name === 'discount' ? '' : 'Please specify'" 
              autocomplete="off">
            <label v-if="!$v.invoiceItemOnCreate.qty.numeric && $v.invoiceItemOnCreate.qty.$error" for="" class="error">Only numbers</label>
            <label v-if="!$v.invoiceItemOnCreate.qty.required && $v.invoiceItemOnCreate.qty.$error" for="" class="error">This field is required</label>
          </div>
          <div class="invoice-create-item-form__col">
            <label v-if="invoiceItemOnCreate.type.name === 'discount'" for="" class="invoice-create-item-form__title">Discount:<span
                        class="required-label">*</span></label>
            <label v-else for="" class="invoice-create-item-form__title">Rate:<span
            class="required-label">*</span></label>
            <input 
                v-model.trim="$v.invoiceItemOnCreate.rate.$model" type="text" id="" name="" 
                :class="{ error: $v.invoiceItemOnCreate.rate.$error }" 
                class="form-control mozilla-input valid" 
                placeholder="Please specify" 
                autocomplete="off">
            <label v-if="!$v.invoiceItemOnCreate.rate.decimal && $v.invoiceItemOnCreate.rate.$error" for="" class="error">Only numbers</label>
            <label v-if="!$v.invoiceItemOnCreate.rate.required && $v.invoiceItemOnCreate.rate.$error" for="" class="error">This field is required</label>
          </div>
        </div>

        <!-- modal footer -->
        <div class="app-modal__footer--right">
          <button @click="invoiceAddNewItem" type="button" class="modalCancel app-detailed__button app-detailed__button--blue btn" autocomplete="off">Add</button>
          <button type="button" class="modalCancel app-detailed__button app-detailed__button--gray btn" data-dismiss="modal" autocomplete="off">Cancel</button>
        </div>
        <!-- /modal footer -->

      </form>
      <!-- /invoice-create-item-form -->

    </div>
    <!-- /modal content -->

  </div>
  <!-- /modal dialog -->

</div>
<!-- /modal form add item to invoice -->