<div class="app-invoice__invoice-buttons">
  <div class="app-invoice__buttons-group">
  </div>
  <div class="app-invoice__buttons-group app-invoice__buttons-group--right">
      <a 
        :href="'/admin/invoice/replace/' + invoiceData.workorder.id"
        class="invoiceSendButton app-form-button app-form-button--blue app-form-button--indent btn app-invoice__invoice-buttons_button-send" 
        autocomplete="off">Submit New</a>
    <!-- <a 
      class="invoiceSendButton app-form-button app-form-button--blue app-form-button--indent btn app-invoice__invoice-buttons_button-send" 
      autocomplete="off">Refresh</a> -->
    <a 
      :href="invoiceData.file ? '/admin/invoice/pdf/' + invoiceData.file : ''"
      class="invoiceSendButton app-form-button app-form-button--blue app-form-button--indent btn"
      target="_blank"
      >View Invoice PDF</a>
    <a :href="'/admin/workorder/view/' + invoiceData.workorder.id" class="app-form-button app-form-button--grey app-form-button--indent btn">Close</a>
  </div>
</div>
