<div class="app-invoice">
  <form id="invoiceCreate" name="invoiceCreate" method="" action="#" class="app-invoice__wrapper">
    <!-- invoice-description -->
    <div class="app-invoice__invoice-description app-invoice__wrapper--padding">

      <input-invoice-no 
        :status="invoiceData.status"
        :invoiceNo="invoiceData.invoiceNo" />
      <input-date 
        ref="invoiceDate"
        :invoiceDate="invoiceData.invoiceDate"
        @invoiceDate="getInvoiceDate"/>

    </div>
    <!-- /invoice-description -->

    <!-- invoice-info -->
    <div class="app-invoice__invoice-description app-invoice__invoice-info">
      <div class="app-invoice__col app-invoice__col--no-padding-right">
        <div class="app-invoice__border-right">
          <form-info-customer 
            :accountContactPerson="invoiceData.accountContactPerson" />
          <form-billing-address 
            ref="invoiceBillAddress" 
            :invoiceBillToAddress="invoiceData.billToAddress"
            :accountContactPerson="invoiceData.accountContactPerson"
            :account="invoiceData.workorder.account"
            @invoiceBillAddress="getInvoiceBillAddress" />
        </div>
      </div>
      <div class="app-invoice__col">
        <form-info-jobsite :account="invoiceData.workorder.account"></form-info-jobsite>
        <form-qbjob :qbJob="invoiceData.job"></form-qbjob>
      </div>
    </div>
    <!-- /invoice-info -->

    <!-- invoice-form -->
    <div class="app-invoice__invoice-form">

      <!-- invoice-terms -->
      <invoice-terms 
        ref="invoiceTerms" 
        :termsData="termsData" 
        :invoiceData="invoiceData"
        @invoiceTerms="getInvoiceTerms" />
      <!-- invoice-terms -->

      <div class="app-wrapper">
        <div class="app-view--max-width">    
          <invoice-table 
            :invoiceData="invoiceData"
            ref="invoiceTable"
            @invoiceItemsSend="getInvoiceItems"
          />
        </div>
      </div>

      <!-- Invoice total info -->
      <invoice-total-info 
        :invoiceData="invoiceData"
        ref="invoiceTotalInfo"
        @invoiceTotalInfo="getInvoiceTotalInfo" />
      <!-- /Invoice total info -->

      <!-- invoice-buttons -->
      <invoice-buttons 
        :invoiceData="invoiceData"
        @sendInvoiceToQB="sendInvoiceToQB"
        @saveInvoice="saveInvoice"/>
      <!-- /invoice-buttons -->

    </div>
    <!-- /invoice-form -->
  </form>

      <div id="noQbCustomer" class="modal fade" role="dialog">
        <div class="modal-dialog app-modal">
            <!-- Modal content-->
            <div class="app-modal__content modal-content ">
              <div class="app-modal__body modal-body">
                  <p>You need to add QB customer to send this invoice.</p>
              </div>
              <div class="app-modal__footer">
                <button type="button" class="app-detailed__button app-detailed__button--blue btn" data-dismiss="modal">OK</button>
              </div>
            </div>
        </div>
      </div>

      <div id="noItemAdded" class="modal fade" role="dialog">
        <div class="modal-dialog app-modal">
            <!-- Modal content-->
            <div class="app-modal__content modal-content ">
              <div class="app-modal__body modal-body">
                  <p>This invoice is without items so you have to add them.</p>
              </div>
              <div class="app-modal__footer">
                <button type="button" class="app-detailed__button app-detailed__button--blue btn" data-dismiss="modal">OK</button>
              </div>
            </div>
        </div>
      </div>

    <invoice-use-custom-pdf
    :workorder="invoiceData.workorder" />
</div>
