<div class="app-proposal-current-deficiency__input invoice-items-search-container">
  <i class="glyphicon glyphicon-search app-search-panel__icon-search invoice-items-search__icon"></i>
  <input type="search" class="form-control mozilla-input ui-autocomplete-input" id="invoice-items-search" placeholder="Search items to add" @focus="invoiceAutocomplete" name="repairsInput" autocomplete="off">
</div>
