.glyphicon.glyphicon-search {
    font-size: 23px;
}

.btn:hover:not(.dropdown-toggle),
.btn:focus:not(.dropdown-toggle),
.btn:active:not(.dropdown-toggle) {
    color: white;
    outline: none;
}

.btn.active, .btn:active {
   box-shadow: none;
}

/*WO tooltip*/
table.app-workorder-list + .tooltip.top,
[data-tooltip-wo-picker] + .tooltip.top {
  max-width: 190px !important;
}

table.app-workorder-list + .tooltip.top > .tooltip-inner,
[data-tooltip-wo-picker] + .tooltip.top > .tooltip-inner {
  background-color: $color-border !important;
  color: #ffffff !important;
}

table.app-workorder-list + .tooltip.top > .tooltip-arrow,
[data-tooltip-wo-picker] + .tooltip.top > .tooltip-arrow {
  border-top-color: $color-border !important;
}

.tooltip>.tooltip-inner {
    background-color: $color-active;
    padding: 5px 10px;
}

.tooltip.right .tooltip-arrow {
    top: 50%;
    left: -10px;
    margin-top: -9px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 15px solid $color-active;
}

.tooltip-inner{
    max-width: 300px;
}

.tooltip.right {
    margin-left: 25px;
    font-weight: $weight-bold;
    font-size: 16px;
}

.app-main > .tooltip > .tooltip-inner {
  background-color: $color-border;
  color: #fff;
}

.tooltip.top .tooltip-arrow {
  border-top-color: $color-border;
}

.tooltip.top {
  font-weight: $weight-bold;
  font-size: 16px;
}

.nav-tabs>li>a {
    background: $color-content;
    color: $color-inactive;
    font-weight: $weight-regular;
    position: relative;
    margin-right: 0;
    border:none;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    color: white;
    background-color: $color-new-account;
    border: none;
    position: relative;
    z-index: 1;
    @include border-shadow();
    &:after{
        content: "";
        display: block;
        position: absolute;
        top: 42px;
        bottom: 0;
        left: 0px;
        right: 0px;
        z-index: 10;
        background: $color-new-account;
        height: 12px;
    }
}

.nav-tabs>li>.app-detailed__addition__container__title--nav {
  background-color: transparent;
}

.nav-tabs>li.active>a.app-detailed__addition__container__title--nav,
.nav-tabs>li.active>a.app-detailed__addition__container__title--nav:hover,
.nav-tabs>li.active>a.app-detailed__addition__container__title--nav:focus {
  &:after {
    top: 36px;
    left: -4px;
    right: 0;
  }
}

.nav-tabs>li.active>a.app-detailed__addition__container__title--nav--empty-comment,
.nav-tabs>li.active>a.app-detailed__addition__container__title--nav--empty-comment:hover,
.nav-tabs>li.active>a.app-detailed__addition__container__title--nav--empty-comment:focus {
  &:after {
    top: 36px;
    left: -4px;
    right: 0;
  }
}

.nav-tabs>li.active:first-child>a.app-detailed__addition__container__title--nav,
.nav-tabs>li.active:first-child>a.app-detailed__addition__container__title--nav:hover,
.nav-tabs>li.active:first-child>a.app-detailed__addition__container__title--nav:focus {
  &:after {
    left: 0;
    right: 0;
    opacity: 1 !important;
  }
}

.nav-tabs>li:first-child>a.app-detailed__addition__container__title--nav {
  &:after {
    opacity: 0;
    left: 0;
    right: 0;
    content: "";
    display: block;
    position: absolute;
    top: 36px;
    bottom: 0;
    z-index: 10;
    background: $color-new-account;
    height: 12px;
  }
}

.nav-tabs>li:first-child>a.app-detailed__addition__container__title--nav:hover {
  &:after {
    opacity: 1;
  }
}

.nav>li>a:focus,
.nav>li>a:hover {
    background-color: $color-new-account;
    border: none;
}

.nav>li {
    min-width: 220px;
    text-align: center;
    font-weight: $weight-bold;
}

.nav-tabs > li {
    margin-bottom: 4px;

    &:not(:last-child) {
      margin-right: 5px;
    }
}

.app-detailed__addition__nav>li {
  width: 50%;
  min-width: 214px;
  margin: 0 !important;
}

.nav-tabs {
    border-bottom: none;
}

.table {
    border-collapse: collapse;
}

.table > thead > tr > th, .table > tbody > tr > td  {
    border: none;
}

.pagination {
    display: inline-block;
    background: $color-active-tab;
}

.pagination a {
    color: white;
    float: left;
    padding: 6px 14px;
    text-decoration: none;
    border-left: 1px solid $color-border;
}

.pagination a:first-child{
    border-left:none;
}

.pagination a.app-active-page {
    background-color:$color-active;
}

.pagination a:hover:not(.app-active-page) {background-color: $color-title-border;}

.pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.bootstrap-select.btn-group .dropdown-menu {
    border: 1px solid white;
}

.pagination .disabled {
    cursor: not-allowed;
    pointer-events: none;
}

.label {
    padding: .2em .4em;
    margin-left: 10px;
}

.has-error .bootstrap-select .dropdown-toggle {
    border-color: red;
    border-width: 2px;
}

.table > thead > tr > th {
  vertical-align: top !important;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
  text-overflow: ellipsis;
}

.easy-autocomplete {
  color: #333333;
}

.ck-editor__editable {
    border: 1px solid #bfbfbf;
    color: black;
    background: white;
    @include bottomRadius();
}

.ck-toolbar {
    @include topRadius();
}

.cke_bottom {
    display: none !important;
}

#cke_email_editor{
    border-radius: 4px;
}

#cke_repair_workorder_deviceInfo_comments {
  border-radius: 4px;
}

.app-error-ckeditor {
    border: 2px solid red !important;
}

.app-textarea--big.form-control {
    min-height: 70px;
}

button.btn-choose {
    margin-left: 0 !important;
}

textarea.form-control{
    overflow-x: hidden;
}

button.dropdown-toggle {
    height: 34px;
}

.ui-autocomplete {
    max-height: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
}
