.app-main {
  width: calc(100% - #{$width-nav});
  min-height: 100%;
  padding-left: 30px;
  padding-top: calc(#{$height-header} + 17px);
  padding-right: 75px;
  background: $color-content;
  min-width: 1190px;
  display: table-cell;
  &__page-title {
    font-size: 32px;
    color: $color-active;
    align-items: center;
    padding-bottom: 21px;
    border-bottom: 1px solid $color-title-border;
    margin-bottom: 40px;
    min-height: 82px;
    &-name {
      font-weight: $weight-bold;
      padding-left: 10px;
      border-left: 6px solid $color-active;
    }
  }
}

.app-radio {
  display: none;
  &-label {
    text-align: center;
    font-size: 16px;
    margin: 0;
    line-height: 13px;
    vertical-align: middle;
    margin-right: 70px;
    &:before {
      background: inherit;
      content: '';
      display: inline-block;
      border: 1px solid $color-active;
      border-radius: 10px;
      width: 16px;
      height: 16px;
      margin-right: 10px;
      vertical-align: bottom;
      cursor: pointer;
    }
  }
}

.app-radio:checked + .app-radio-label::before {
  background-color: inherit;
  content: '•';
  color: $color-active;
  font-size: 25px;
  line-height: 0.4;
  text-align: center;
  vertical-align: bottom;
}

.app-checkbox {
  padding-top: 25px;
  line-height: 16px;
  &--indent {
    &-big-top {
      padding-top: 35px;
    }
    &-left {
      padding-left: 10px;
    }
    &-small-top {
      padding-top: 20px;
    }
  }
  &-input {
    display: none;
  }
  &-label {
    text-align: center;
    font-size: 16px;
    margin: 0;
    line-height: 15px;
    vertical-align: middle;
    color: $color-inactive;
    &:before {
      background: transparent;
      content: '';
      display: inline-block;
      background: inherit;
      border: 2px solid $color-inactive;
      border-radius: 4px;
      width: 16px;
      height: 16px;
      margin-right: 10px;
      vertical-align: bottom;
      cursor: pointer;
    }
  }
}

.app-checkbox-input:checked + .app-checkbox-label::before {
  background-color: $color-active;
  content: '';
  vertical-align: bottom;
  border: none;
  background-image: url(../images/check-mark.png);
  background-repeat: no-repeat;
  background-position: 50%;
}

.app-wrapper {
  display: flex;
  justify-content: space-between;
  &--column {
    flex-direction: column;
  }
  &--wrap {
    flex-wrap: wrap;
  }
  &--align-self {
    align-self: center;
  }
  &--content {
    &-start {
      justify-content: flex-start;
    }
    &-end {
      justify-content: flex-end;
    }
  }
  &--align-items {
    &-baseline {
      align-items: baseline !important;
    }
    &-center {
      align-items: center;
    }
  }
  &--wide {
    width: 95%;
    max-width: 1320px;
  }
  &--middle {
    width: $width-search-input;
    max-width: $max-width-search-input;
  }
  &--half {
    width: 48%;
  }
  &--custom-half {
    width: 52%;
  }
}

.app-submit-error {
  color: red;
  border: 1px solid red;
  border-radius: 6px;
}

.app-view {
  &--max-width {
    width: 100% !important;
  }
  &--half-width {
    width: 50%;
  }
  &--max-size {
    width: 100%;
    height: 100%;
  }
  &--max-height {
    height: 100%;
  }
  &--auto-height {
    height: auto;
  }
}

.app-float {
  &--left {
    float: left;
  }

  &--right {
    float: right;
  }

  &--clear {
    clear: both;
  }
}

.app-word-breack {
  word-break: break-word;

  &--normal {
    word-break: normal !important;
  }
}

.app-cut-string {
  word-wrap: break-word;
}

.app-save-space {
  white-space: pre-wrap;
}

.app-spaces-data {
  padding: 10px;
  font-weight: inherit;
  color: inherit;
}

.app-color {
  &--white {
    color: white;
  }
  &--inactive {
    color: $color-inactive;
  }
  &--active {
    color: $color-active;
  }
  &--opacity30 {
    color: $color-device-info;
  }
  &--gray {
    color: $color-title-border;
  }
  &--warning {
    color: $color-warning;
  }
  &--green {
    color: $color-label-green;
  }
}

.app-scrollbar {
  &::-webkit-scrollbar-track {
    background: $color-nav;
  }
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: $color-active-tab;
  }
  &::-webkit-scrollbar-corner {
    background: $color-nav;
  }
}

.app-deleted {
  opacity: 0.4;
}

.app-bordered {
  border: 1px solid $color-border;
  &--shadow {
    @include border-shadow();
  }
}

.app-background {
  &--transparent {
    background: transparent !important;
  }
}

.app-line {
  &--align {
    vertical-align: middle !important;
    &-bottom {
      vertical-align: bottom;
    }
    &-text-bottom {
      vertical-align: text-bottom;
    }
    &-top {
      vertical-align: top;
    }
  }
  &--colored {
    background: $color-content;
    padding: 8px 10px;
  }
  &--right-text {
    margin-right: 10px;
  }
  &--centered-text {
    text-align: center;
  }
  &--padding {
    &-left {
      padding-left: 10px;
    }
    &-right {
      padding-right: 10px;
    }
    &-top {
      padding-top: 10px;
    }
    &-bottom {
      padding-bottom: 10px;
    }
  }
}

.app-color-svg {
  &--active path {
    fill: $color-active;
    opacity: 1;
  }
  &--inactive path {
    opacity: 0.3;
  }
}

.app-font {
  &--large {
    font-size: 28px;
  }
  &--medium {
    font-size: 24px;
  }
  &--medium-s {
    font-size: 21px;
  }
  &--small {
    font-size: 16px;
  }
  &--bold {
    font-weight: $weight-bold;
  }
  &--regular {
    font-weight: $weight-regular;
  }
  &--uppercase {
    text-transform: uppercase;
  }
  &--inherit {
    color: inherit;
    font-weight: inherit;
  }
}

span.app-label {
  margin: 0;
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 0.3em 0.4em;
}

.app-display {
  &--none {
    display: none;
  }
  &--inline-block {
    display: inline-block;
  }
}

.app-position {
  &--relative {
    position: relative;
  }
}

.app-flash-container {
  margin-top: 20px;
}

.app-flash-message {
  &--danger {
    background-color: transparent;
    color: red;
    border: 1px solid red;
  }

  &--success {
    background-color: transparent;
    color: $color-label-green;
    border: 1px solid $color-label-green;
  }

  &--warning {
    background-color: transparent;
    color: $color-label-yellow;
    border: 1px solid $color-label-yellow;
  }

  &__closed {
    &--danger {
      color: red !important;
      opacity: 1 !important;
      text-shadow: none;
    }

    &--success {
      color: $color-label-green !important;
      opacity: 1 !important;
      text-shadow: none;
    }

    &--warning {
      color: $color-label-yellow !important;
      opacity: 1 !important;
      text-shadow: none;
    }
  }
}

.app-zebra {
  background: $color-table-zebra;
}

.app-required-label {
  color: #ffffff;
  padding-left: 3px;
}

.app-required-label_color_grey {
  color: rgba(255, 255, 255, 0.6);
}

.app-no-padding {
  padding: 0 !important;
  &--left {
    padding-left: 0 !important;
  }
  &--right {
    padding-right: 0 !important;
  }
  &--top {
    padding-top: 0 !important;
  }
  &--bottom {
    padding-bottom: 0 !important;
  }
}

.app-no-margin {
  margin: 0 !important;
  &--top {
    margin-top: 0 !important;
  }
  &--bottom {
    margin-bottom: 0 !important;
  }
  &--left {
    margin-left: 0 !important;
  }
}

.app-table-radius {
  th:first-child {
    border-top-left-radius: 4px;
  }
  th:last-child {
    border-top-right-radius: 4px;
  }
  tr:last-child > td:first-child {
    border-bottom-left-radius: 4px;
  }
  tr:last-child > td:last-child {
    border-bottom-right-radius: 4px;
  }

  &--top {
    &-left {
      tr:first-child > td:first-child {
        border-top-left-radius: 4px;
      }
    }
    &-right {
      tr:first-child > td:last-child {
        border-top-right-radius: 4px;
      }
    }
  }
}

.app-table__last-row {
  border-bottom: none !important;
}

.app-text {
  &--align {
    &-left {
      text-align: left;
    }
    &-right {
      text-align: right;
    }
    &-center {
      text-align: center;
    }
  }
}

.app-cursor {
  &--pointer {
    cursor: pointer;
  }

  &--default {
    cursor: default;
  }
}

.app-filter-form {
  position: relative;
  padding-bottom: 5px;
  min-height: 106px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: $color-new-account;
  padding: 15px;
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 105px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    background: #2B2E36;
    height: 11px;
  }
  &--small {
    min-height: 75px;
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 72px;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 5;
      background: #2B2E36;
      height: 11px;
    }
  }
  &__button {
    min-width: 150px;
    margin-left: 15px !important;
    &-container {
      width: 15%;
      border-left: 2px solid #2b2e36;
      display: flex;
      align-items: center;
      justify-content: center;
      &--top {
        align-items: flex-start;
      }
    }
  }
  &__content {
    height: 100%;
    align-items: center;
    &--top {
      align-items: flex-start;
    }
    &-container {
      width: 83%;
    }
  }
}

.app-dragandrop {
  height: 150px;
  border: 2px dashed $color-device-info;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__placeholder {
    font-size: 30px;
    color: $color-device-info;
  }
  & label.error {
    display: none !important;
  }
}

.app-icon {
  &--delete {
    width: 15px;
  }
}

.app-status-label {
  border-radius: 4px;
  text-align: left;
  line-height: 22px;
  font-weight: $weight-regular;
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;

  &--yellow {
    color: $color-label-yellow;
  }

  &--blue {
    color: $color-active;
  }

  &--green {
    color: $color-label-green;
  }

  &--red {
    color: $color-warning;
  }

  &--gray {
    color: $color-label-gray;
  }

  &--small {
    min-width: 75px;
    text-transform: none;
  }
}

.app-data-table {
  &__th {
    &_width_45per {
      width: 45%;
    }
    &_width_35per {
      width: 35%;
    }
  }
}
