.app-detailed {
  &__select-wo .bs-placeholder {
    color: #333 !important;
  }
  &__minus-margin-left {
    margin-left: -11px;
  }
  &__wrapper {
    background: $color-new-account;
    border-radius: 6px;
    @include border-shadow();
    padding: 20px 20px 20px 15px;
    width: 100%;
    min-height: 400px;
  }
  &__button-container {
    float: right;
    margin-top: 15px;
    margin-left: 30px;

    &--margin-left {
      margin-left: 0;
    }
  }
  &__municipality-fees {
    position: absolute;
    bottom: 15px;
    left: 16px;
    margin: 0;

    &--table {
      padding-top: 30px !important;
    }
    &--table-proposal {
      padding-top: 60px !important;
    }
  }
  &__button {
    min-width: 90px;
    height: 33px;
    color: white;
    margin-left: 25px;
    transition: margin-left .3s;
    &--shadow {
      @include border-shadow();
    }
    &--blue {
      background: $color-active;
    }
    &--red {
      background: $color-delete;
    }
    &--gray {
      background: $color-title-border;
    }
  }
  &__info {
    &__img {
      background-repeat: no-repeat;
      background-position: 60% 50%;
      background-size: 40px;
      width: $width-view-account-icon;
      min-height: 100%;
      &--site {
        background-image: url(../images/site.svg);
        &_detail {
          background-position: 60% 40px;
        }
      }
      &--group-site {
        background-image: url(../images/group_site.svg);
      }
      &--account {
        background-image: url("./../images/group_site.svg");
        &_detail {
          background-position: 60% 35px;
        }
      }
      &--contact {
        background-image: url("./../images/contact.svg");
        &_detail {
          background-size: 40px;
          background-position: 80% 30px;
        }
      }
      &--company {
        background-image: url("./../images/company.svg");
        &_detail {
          background-position: 60% 35px;
        }
      }
      &--device {
        background-image: url("./../images/fire.svg");
      }
      &--contractor {
        background-image: url("./../images/contractor.svg");
      }
      &--contractor-user {
        background-image: url("./../images/contractor_user.svg");
      }
      &--agent {
        background-image: url("./../images/agent.svg");
      }
    }
    &__data {
      flex-direction: column;
      width: $width-view-account-info;
      padding-left: 10px;
      color: $color-inactive;
      &-contacts {
        padding: 5px 0 10px;
        color: white;
      }
      &-labels {
        margin-top: 10px;

        & span.label:first-child {
          margin-left: 0;
        }
      }
      &-title {
        font-size: 32px;
        font-weight: $weight-bold;;
      }
    }
  }
  &__notes {
    padding: 13px 10px;
    background: $color-content;
    border: 1px solid $color-border;
    border-radius: 4px;
    overflow: hidden;
  }
  &__addition {
    &-header {
      width: 100%;
      height: 60px;
      padding-bottom: 10px;
      border-bottom: 1px solid $color-title-border;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
    }
    &__container {
      margin-top: 20px;
      &--large {
        width: 70%;
      }
      &--small {
        width: 27%;
      }
      &--extrasmall {
        width: 23%;
      }
      &--medium {
        width: 30.5%;
      }
      &--right-indent {
        &:not(:last-child) {
          margin-right: 3%;
        }
      }
      &__title {
        background: $color-active-tab;
        padding: 10px 20px 5px;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        color: $color-inactive;
        font-weight: $weight-bold;

        &--nav {
          padding: 7px 15px !important;
        }
      }
    }
    &__content {
      background: $color-new-account;
      border-radius: 4px;
      @include border-shadow();
      &--account {
        height: 400px;
      }
      &--medium {
        height: 320px;
      }
      &--shadow {
        box-shadow: none !important;
        background-color: transparent;
        position: relative;
      }
    }

    &__nav {
      background-color: #2e3038;
    }
    &__tab-content {
      border-radius: 4px;
      @include border-shadow();

      &--padding {
        padding-top: 12px;
      }
    }
    &__comment-image {
      margin-top: 5px;

      img {
        max-width: 210px;
        max-height: 180px;
      }
    }
  }
  &__bottom-line {
    &:after {
      top: 145px;
    }
  }
  &__new-tab-img-wrapper {
    position: relative;
  }
}

div.app-detailed__addition__tab-content {
  height: 416px;
  background-color: #363840;
  position: relative;
}

div.app-detailed__addition__content--shadow:before {
  content: '';
  position: absolute;
  background-color: #363840;
  height: 12px;
  top: 36px;
  left: 0;
  right: 13px;
  z-index: 5;
  border-radius: 4px 4px 0 0;
}

li.active > .app-detailed__addition__container__title--nav {
  padding: 7px 15px !important;
}

// trash-box START

.trash-id {
  width: 2%;
}

.trash-route {
  width: 10%;
  word-break: break-all;
}

.trash-params {
  width: 40%;
  word-break: break-all;
}

.trash-message {
  width: 20%;
}

.trash-file {
  width: 18%;
  word-break: break-all;
}

.trash-button {
  color: #fff !important;
}

.trash-date {
  width: 5%;
}

.trash-user {
  width: 5%;
}
// trash-box END

.app-detailed__error-no-changes {
  display: none;
  color: red;
}
