.multiFileSize {
  margin: 0 0 0 15px;
  color:#77787e;
}
.multiRemoveFile img {
  margin: 0 5px 0 5px;
}
.app-multi-dragandrop {
  height: 95px;
}
.app-small-pdf {
  width: 25px;
  margin-right: 5px;
}
.total-size-info {
  color: #6f7075;
}
.total_files_size {
  color: #adaeb3;
}
.app-form__textarea--big {
  height: 250px !important;
}
.drag-and-drop-filled {
  display: flex;
  flex-direction: row-reverse;
  height: auto;
  border: none;
  justify-content: flex-end;
}
.drag-and-drop-filled .multiRemoveFile {
  margin-right: 5px;
}
.start-file-field {
  display: none !important;
}

.app-email-composer__attached-file {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &__checkbox {
    display: flex;
    align-items: center;
  }
}
