.app-form {
  margin: 20px auto;
  width: $width-new-account-form;
  padding-bottom: 30px;
  background: $color-new-account;
  &--wide {
    width: 760px;
  }
  &--device {
    width: 890px;
  }
  &--roles {
    width: 970px;
  }
  &--retest-notice {
    width: 1230px;
  }
  &--full {
    width: 100%;
    padding: 0 50px;
  }
  &--flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  &--bordered {
    border: 1px solid $color-border;
    border-radius: 6px;
    @include border-shadow();
  }
  &--separator {
    border-top: 1px solid hsla(0,0%,100%,.1);
    margin-top: 45px;
    padding-top: 15px;
  }
  &-button {
    width: 122px;
    height: 44px;
    margin-top: 30px;
    background: $color-active;
    padding: 0;
    border: none;
    &--right {
      float: right;
    }
    &--indent {
      margin-left: 25px;
    }
    &--grey {
      background: $color-title-border;
      line-height: 3.1;
      color: white
    }
    &--blue {
      background: #00B4FA;
      line-height: 3.1;
      color: white
    }
    &--red {
      background: #9B3E3E;
      line-height: 3.1;
      color: white
    }
  }
  &-input {
    &--medium {
      width: 48%;
    }
    &--large {
      width: 70%;
    }
    &--big {
      width: 65%;
    }
    &--second {
      width: 65.5%;
    }
    &--third {
      width: 31%;
    }
    &--small {
      width: 27%;
    }
  }
  &__textarea {
    &--email {
      height: 200px !important;
    }
    &--small {
      height: 60px !important;
    }
    &--medium {
      height: 80px !important;
    }
  }
  &-header {
    color: $color-title-border;
    font-weight: $weight-bold;
    font-size: 24px;
    padding: 20px 50px;
    background: $color-active-tab;
    width: 100%;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    margin-bottom: 30px;
  }
  &-error {
    width: $width-new-account-form;
    padding: 20px;
    margin: 0 auto 20px;
  }
  &-dropdown {
    &--medium {
      width: 48%;
    }
    &--small {
      width: 26%;
    }
  }
  &__container {
    padding: 0 55px;
  }
  &__img {
    &--pdf {
      width: 40px;
    }
  }
  &--disabled {
    color: #fff;
    background-color: rgb(48, 50, 58) !important;
    border: rgb(48, 50, 58);
    box-shadow: none !important;

    button {
      border: rgb(48, 50, 58);
      color: #fff;
      background-color: rgb(48, 50, 58);

      &:hover {
        border: rgb(48, 50, 58);
        color: #fff;
        background-color: rgb(48, 50, 58) !important;
      }
      &:focus {
        border: rgb(48, 50, 58);
        color: #fff;
        background-color: rgb(48, 50, 58) !important;
      }
    }
  }
}
