.app-workorder-form {
	width: 80%;
	&__title{
		font-size: 18px;
		font-weight: $weight-regular;
	}
	&__button{
		width: 160px;
		&-table{
			width: 100px;
			padding-left: 0px !important;
			padding-right: 0px !important;
		}
	}
	&__warning{
		width: 78%;
		&-cod{
			justify-content: flex-start;
			align-items: center;
			padding-left: 20px;
		}
		&-text{
			font-size: 14px;
			margin-left: 10px;
			line-height: 1.3;
			color: $color-inactive;
			width: calc(100% - 30px);
		}
	}
	&__block{
		border-bottom: 1px solid $color-form-border;
		padding-bottom: 25px;
		margin-bottom: 20px;
	}
	&__fee{
		max-width: 90px;
	}
	&__modal{
		&-warning {
			margin-top: -15px;
			margin-bottom: 20px;
			padding: 0 20px;
			font-size: 14px;
			color: $color-inactive;
		}
		&-error{
			padding: 5px;
		}
	}
	&__authorizer {
		width: 430px;
	}
	&__edit{
		padding-bottom: 5px;
	}

  &__skip-reset-button {
    margin-right: 10px;
  }
}

.app-workorder-edit {
	&__warning {
		width: 75%;
	}
  &__button {
    height: 34px;
    width: 100%;
    line-height: 1.8;
    &-container {
      align-self: flex-end;
    }
  }
}

