.app-service-form{
	&__header-icon{
		width: 30px;
    margin-left: 10px;
    padding-bottom: 5px;
	}
	&__devices{
		height:200px;
		background: $color-info-field;
    border-radius: 4px;
    padding-left: 13px;
	}
	&__text-field{
		background: $color-info-field;
		color: white;
    border: none;
    height: auto;
    min-height: 34px;
	}
}

.app-report-status{
  &--pass {
    color: $color-label-green;
  }
  &--fail {
    color: $color-warning;
  }
  &--not_testable {
    color: $color-label-yellow;
  }
  &--completed {
    color: $color-label-green;
  }
}
