.app-notice-form {
    &__address{
      width: 49%;
      display: inline-block;
      vertical-align: top;
    }
    &__button{
      padding-top: 5px;
    }
    &__table{
      margin-bottom: 10px;
      & td:first-child{
        width: 100px;
      }
      &-checkbox{
        width: 75px;
      }
      &-data{
        width: 110px;
      }
      &-total{
        text-align: right;
      }
      &-price{
        font-size: 16px;
        font-weight: $weight-bold;
      }
      &-account-img{
        background-size: 32px;
      }
      &-device{
        padding-left: 60px;
      }
      &-input{
        width: 60px;
        height: 25px;
        padding-left: 5px;
        padding-right: 5px;
      }
    }
}
