.app-device-form{
	&__wrapper{
		width:100%;
		padding: 20px 30px;
		&-column{
			padding: 0 20px;
			width: 50%;
			min-height: 100%;
		}
		&-button{
			padding-right: 20px;
		}
	}
	&__img{
			background-color: $color-header;
			width:100%;
			height: 263px;
			position: relative;
			border-radius: 6px;
			display: flex;
    	align-items: flex-end;
    	justify-content: center;
		&-place{
			background-image: url(../images/camera.svg);
			background-repeat: no-repeat;
    	background-position: 50% 50%;
		}
		&-link{
			margin-bottom: 20px;
		}
		&-content{
			align-self: center
		}
		&-delete{
			position: absolute;
			top: 10px;
    	right: 10px;
			width: 15px;
			cursor: pointer;
			display: none;
		}
		&-error{
			padding: 5px 10px;
			margin-top: 20px;
			border-radius: 4px;
		}

    &_background {
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
	}

  &__no-fields {
    margin-top: 28px;
    padding: 15px 0;
    font-size: 28px;
  }
}

input.app-device-form__img-input{
	display: none;
}

.app-device-form__wrapper-column:first-child{
	border-right: 1px solid $color-form-border;
	min-height: 100%;
}

	textarea.app-device-form__textarea{
		height: 80px;
	}
