.app-login {
    background: $color-content;
    color: black;
    min-height: 100%;
    display: table-cell;
    vertical-align: middle;
    &--center{
        margin: 0 auto;
    }
    &__logo{
            width: $width-login;
            display: flex;
            justify-content: center;
            margin:0 auto;
        &-img{
            height: 120px;
            margin-bottom: 30px; 
        }
    }
    &__error{
        padding:20px;
        width: $width-login;
        margin: 30px auto 0px;
    }
    &__form {
        color:white;
        width: $width-login;
        min-height:360px;
        background: $color-header;
        text-align: center;
        padding: 30px 0;
        margin:0 auto;
        &-text{
            color:$color-active;
            font-weight:$weight-bold;
            margin-bottom:25px;
        }
        &-icon{
            position:absolute;
            top: 40px;
            left: 15px;
            width: 17px;
            height: 17px;
        }
        &-input{
            width:465px;
            height:44px;
            padding: 0 40px;
        }
        &-container{
            text-align: left;
            position: relative;
        }
    }
}
