/*MEDIA QUERIES*/

/*SIZES*/
$x-large-width: 1900px;
$larger-width: 1750px;
$large-width: 1600px;
$middle-width: 1440px;
$small-width: 1340px;

/*DEVICE*/

/*MAX-WIDTH 1900*/
@media screen and (max-width: $x-large-width) {
  /*for _view_contractors_users*/
  .app-contractor-users-profile {
    width: 66%;

    &__table {
      &_mail {
        width: auto;
        margin-right: 0;
      }

      &_cells {
        margin-top: 0;
      }

      & td:nth-child(odd) {
        min-width: 130px;
        width: 130px;
      }

      &_styles {
        flex-direction: column;
      }
    }
  }

  .app-contractor-users-block {
    &:last-child {
      width: 32%;
    }
  }
  /*for _view_contractors_users*/
  .app-proposal-contacts-table {
    flex-direction: row;
  }
  /*for _view_proposal*/
  .app-proposal-contacts-table {
    &__mail {
      td:nth-child(odd) {
        min-width: 100px;
        width: 100px;
      }
    }
  }
}

/*MAX-WIDTH 1750*/
@media screen and (max-width: $larger-width) {
  /*for _view_account*/
  .app-ext-style {
    &_account-main {
      padding-left: 0;
      display: block;
    }
  }
  /*for _view_contractors_users*/
  .app-proposal-contacts-table {
    flex-direction: column;
    margin-left: 100px;
  }

  /*for _view_opportunity*/
  .app-opportunities-table-filter {
    &__inputs {
      &--date {
        width: 149px;
      }
    }

    &__button {
      margin-left: 0;
      padding: 6px 5px;
      min-width: 130px
    }
  }

  .app-opportunities-table-filter__inputs .bootstrap-select>.dropdown-toggle {
    width: 149px;
  }

  .app-opportunities-table-filter__inputs .bootstrap-select.btn-group .dropdown-menu {
    min-width: 149px;
  }

  .app-opportunities-table-filter__select-container .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 149px;
  }

  .app-opportunities-table-filter__select-container .bootstrap-select>.dropdown-toggle {
    width: 149px;
  }

  .app-device-button-container-deficiencies {
    width: 30%;
  }
}

/*MAX-WIDTH 1600*/
@media screen and (max-width: $large-width) {
  /*for _view_account*/
  .app-contact-list {
    &__table tr>td:first-child .app-contact-main__line {
      font-size: 13px;
    }
  }

  .app-account-main {
    &__button-container {
      margin-left: 0;
    }
  }

  .app-ext-style {
    &_account-add {
      padding-left: 0;
      font-size: 12px;
    }
  }
  /*for _device*/
  .app-device-styles {
    width: 78%;

    &__last-edited {
      width: 45%;
    }
  }

  .app-device-styles-equipment {
    width: 20%;
    margin-left: 2%;
  }

  .device-block-width {
    &:last-child {
      min-width: 310px;
    }
  }

  .device-block-notes {
    &:last-child {
      min-width: 310px;
    }
  }

  .app-device-button-container-deficiencies {
    width: 38%;
  }

  /*for _view_contractor*/
  .app-contractor-information {
    &_data-title{
      font-size:28px;
    }
    &-block:first-child {
      max-width: 52%;
    }
  }
  /*for _view_contractors_users*/
  .correct-position-contractor-user-logo {
    background-position: 60% 27px;
  }

  .app-contractor-users-profile {
    width: 65%;
  }

  .app-contractor-users-block {
    &:last-child {
      width: 33%;
    }
  }
  /*for _view_municipalities*/

  .municipalities-styles {
    &__colored-line {
      max-width: 330px;
    }
  }

  .municipalities-title {
    font-size: 27px;
  }

  .municipalities-logo {
    width: 35px;
    background-position: 60% 34px;
  }

  .municipalities-contacts-block {
    &__separator {
      width: 100%;
      display: block;
    }
  }
  /*for _view_agent*/
  .app-table-channels {
    &__title-channel {
      width: 400px;
    }
  }

  .municipalities-channel-table__sendto {
    @include breakWord(300px);
  }

  .app-workorder-form {
    width:95%;
  }

  .app-opportunities-table-filter{
    &__select-label {
      float: none;
      & label{
        height: 20px;
        line-height: 15px;
        vertical-align: top;
      }
    }
    &__select-container {
      float: none;
    }
  }
  .app-filter-form {
    &::after {
      top: 105px;
    }
    &--small {
      &:after {
        top: 72px;
      }
    }
    &--big {
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 150px;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 5;
        background: #2B2E36;
        height: 11px;
      }
    }
    &__button--indent {
      padding-top: 21px;
    }
  }
  .app-detailed {
    &__bottom-line {
      &:after {
        top: 210px;
      }
    }
  }
}

/*MAX-WIDTH 1440*/
@media screen and (max-width: $middle-width) {

  /*for _view_account*/
  .app-account-main {
    &__button-container {
      & > a.app-detailed__button {
        margin-left: 10px;
      }
    }
  }

  .app-contact-list {
    &__table tr>td:first-child .app-contact-main__line {
      font-size: 14px;
    }
  }

  .app-ext-style {
    &_account-add {
      padding-left: 0;
      font-size: 14px;
      display: block;
    }
  }

  .app-device {
    &__info {
      &__data {
        width: calc(100% - 50px);
        padding-left: 0;

        &-title {
          font-size: 25px;
        }
      }
    }
  }

  .app-device-styles {
    &__last-edited {
      width: 40%;
    }
  }

  .correct-position-site-img {
    background-position: 60% 5px;
    background-size: 60%;
  }

  .device-block-width {
    &:last-child {
      min-width: 280px;
    }
  }


  .device-block-notes {
    &:last-child {
      min-width: 280px;
    }
  }

  .primary-account-block {
    width: 100%;

    &__separator {
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }

      &__content {
        width: 100%;
        display: block;

        &_phone {
          margin-bottom: 15px;
        }
      }
    }
  }

  a[data-edit-multiple-inspections] {
    float: right;
    margin-bottom: 10px;
    width: 330px;
  }

  span[data-count-device-button],
  a[data-count-device-button],
  span[data-count-services-button],
  a[data-count-services-button] {
    float: left;
  }

  span[data-count-device-button],
  a[data-count-device-button] {
    clear: both;
  }

  /*for _view_contractor*/
  .app-contractor-information {
    &_data-title {
      font-size: 25px;
    }

    &_data-id {
      font-size: 15px;
    }

    &_data-address {
      font-size: 15px;
    }

    &-block {
      &__more-info {
        font-size: 15px;

        & td:first-child {
          width: 150px;
        }
      }
    }

    &-block:first-child {
      max-width: 49%;
    }
  }

  .app-contractor-comment {
    &__text-label {
      width: 150px;
    }

    &__content {
      width: calc(100% - 165px);
    }
  }

  .correct-position-contractor-logo {
    background-position: 60% 27px;
  }
  /*for _view_contractors_users*/
  .app-contractor-users-profile {
    width: 61%;

    &__photos {
      max-height: 510px;
      flex-direction: column;

      &-block:first-child {
        margin-right: 0;
      }

      &-block:last-child {
        margin-top: 15px;
      }

      &-title {
        margin-bottom: 10px;
        color: hsla(0,0%,100%,.6);
      }
    }

    &__block {
      width: calc(100% - 215px - 15px - 2%);
    }
  }

  .app-contractor-users-block {
    &:last-child {
      width: 37%;
    }
  }

  .correct-position-contractor-user-logo {
    background-position: 60% 23px;
  }

  /*for _view_municipalities*/
  .municipalities-title {
    font-size: 23px;
  }

  .municipalities-logo {
    width: 30px;
    background-position: 60% 31px;
    margin: 0 15px 0 15px;
  }

  .app-devices-table__header-company{
    min-width: 115px;
  }

  .department-channels-is-agent {
    font-size: 28px;
  }
  /*for _view_agent*/

  .app-table-channels {
    &__title-channel {
      width: 300px;
    }
  }

  .municipalities-channel-table__sendto {
    @include breakWord(200px);
  }
  /*for _view_opportunity*/
  .app-opportunities-table-filter {
    &__inputs {
      &--date {
        width: 120px;
      }
    }

    &__button {
      margin-left: 0;
      padding: 6px 5px;
      min-width: 130px
    }
  }

  .app-opportunities-table-filter__inputs .bootstrap-select>.dropdown-toggle {
    width: 120px;
  }

  .app-opportunities-table-filter__inputs .bootstrap-select.btn-group .dropdown-menu {
    min-width: 120px;
  }

  .app-opportunities-table-filter__select-container .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 120px;
  }

  .app-opportunities-table-filter__select-container .bootstrap-select>.dropdown-toggle {
    width: 120px;
    height: 32px;
  }

  /*for _view_contractors_users*/
  .app-proposal-contacts-table {
    margin-left: 50px;
  }

  .app-workorder-form {
    width:100%;
  }

  .app-filter-form {
    &__content-container{
      width: 75%;
    }
    &__button-container{
      width: 20%;
    }
  }

  .app-account-tabs__item {
    font-size: 14px;
  }

  .app-detailed__button-container--proposal .app-detailed__button{
   margin-left: 10px;
   min-width: 70px;
  }

  /*for device*/
  .app-device-button-container-deficiencies {
    width: 42%;
  }

  //for workorder
  .app-workorder {
    &__comments-table {
      &--nocomments {
        margin-top: 38%;
      }
    }
  }
}

/*MAX-WIDTH 1340*/
@media screen and (max-width: $small-width) {

/*  for device*/
  .app-device-styles {
    &__ico {
      &--title {
        background-position: 60% 10px;
        background-size: 21px;
        padding: 0;
        width: 30px;

        &-small {
          background-position: 60% 7px;
        }
      }
    }

    &__last-edited {
      width: 35%;
    }
  }

  .app-device {
    &__info {
      &__data-id {
        font-size: 15px;
      }

      &__data {
        width: calc(100% - 40px);
        padding-left: 0;

        &-title {
          font-size: 20px;
          padding-bottom: 0;
        }
      }
    }
  }

  .correct-position-site-img {
    background-position: 60% 5px;
    background-size: 70%;
    width: 40px;
    padding-left: 0;
  }

  .app-device-id-indent {
    padding-left: 40px;
  }

  .app-device-button-container-deficiencies {
    width: 42%;
  }

  /*for _view_contractor*/
  .app-contractor-information {
    &_data-title {
      font-size: 23px;
    }

    &-block:first-child {
      max-width: 44%;
    }

    &_data-id {
      font-size: 13px;

      & span.label {
        margin-left: 5px;
      }
    }

    &_data-address {
      font-size: 13px;
    }

    &-block {
      &_data {
        width: calc(100% - 50px);
      }

      &__more-info {
        font-size: 13px;

        & td:first-child {
            width: 130px;
        }
      }
    }
  }

  .app-contractor-comment {
    font-size: 13px;

    &__text-label {
      width: 130px;
    }

    &__content {
      width: calc(100% - 145px);
    }
  }

  .correct-position-contractor-logo {
    background-position: 60% 22px;
  }
  /*for _view_contractors_users*/
  .app-contractor-users-profile {
    width: 58%;
  }

  .app-contractor-users-block {
    &:last-child {
      width: 40%;
    }
  }

  .correct-position-contractor-user-logo {
    background-position: 60% 20px;
  }
  /*for _view_municipalities*/

  .municipalities-logo {
    width: 30px;
    background-position: 60% 30px;
  }

  .app-devices-table__header-company{
    min-width: 90px;
  }

  .app-agent__information-data{
    margin-left: 52px;
  }

  /*for _view_contractors_users*/
  .app-proposal-contacts-table {
    margin-left: 20px;
  }

  .app-account-tabs__item {
    font-size: 12px;
  }

  //for workorder
  .app-workorder {
    &__comments-table {
      &--nocomments {
        margin-top: 42%;
      }
    }
  }
  //for _detailed_view
  .app-detailed__button--margin-left {
    margin-left: 20px;
    transition: all .3s;
  }
}

@media screen and (max-width: 1255px) {
  //for workorder
  .app-workorder {
    &__comments-table {
      &--nocomments {
        margin-top: 47%;
      }
    }
  }
}
/*OTHERS*/

/*for adding to Proposal*/
@media screen and (max-width: 1516px) {
  .app-adding-proposal {
    &__input-indent {
      margin-top: 32px;
    }
  }
}

/*for datepicker*/
@media (max-width: 622px) and (min-width: 1px) {
  .ui-datepicker-multi, .ui-datepicker-group {
    float: none !important;
  }

  .ui-datepicker-multi-2 .ui-datepicker-group{
    width:100% !important;
  }
}

@media only screen and (max-width: 622px) and (min-width: 1px) {
  .ui-datepicker-group-last {
    display:none !important;
  }
}

/* for _search_page */
@media screen and (min-width: 1341px) {
  .app-contact-roles {
    &__half {
      display: inline-block;
    }
  }
}
