.app-modal {
	display: flex;
	align-items: center;
	justify-content: center;
  height: 100%;
	margin:0 auto;
	&__footer{
		padding: 20px;
    align-self: flex-end;
		&--right{
			float:right;
			padding: 20px 0;
		}
	}
	&__content{
		background: $color-active-tab;
	  display: flex;
    flex-direction: column;
    text-align: center;
		width: 450px;
		@include border-shadow();

    &--drag-drop {
      width: 600px;
    }

    &--image {
      padding: 20px;
      height: 400px;
      width: 600px;
      display: flex;
      justify-content: center;
      align-items: center;

      div {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
        background-position: center center;
      }
    }
	}
	&__body{
		font-size: 20px;
    padding: 20px;
	}

  &__full-image-wrapper {
    max-width: 100%;
    max-height: 100%;
  }

	&__form{
		padding: 0 40px;
	}
}
