.app-nav {
    min-width: $width-nav;
    width: $width-nav;
    background: $color-nav;
    vertical-align: top;
    z-index:2;
    padding-top: calc(#{$height-header} + 45px);
    display: table-cell;
    &__icon {
        display: block;
        width: 18px;
        height: 18px;

        &--middle {
          width: 20px;
          height: 20px;
        }

        &--large {
            width: 22px;
            height: 22px;
        }
    }
    &__icon-img {
        z-index: 10;
        height: 100%;
        width: 100%;
        &:hover path {
            fill: $color-active;
            opacity: 1;
        }
        &--grey {
            opacity: 0.3;
            fill: #AFB4CD;
        }
    }
    &__container {
        margin-bottom: 25px;
        padding: 5px 0;
        padding-left: 10px;
        margin-right: -5px;
        &--active {
            border-right: 4px solid $color-active;
            path { opacity: 1; fill: $color-active; }
        }
    }
    &__group {
        padding-top: 25px;
        margin: 0 5px;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        &--border-no{
            border: none;
            padding: 0;
        }
    }
}
