.app-role {
	&__title{
		padding-right: 10px;
	}
	&__wrapper{
		&--main{
			padding: 10px 20px 80px;
		}
		&--content{
		padding: 10px 10px 30px;
		}
		&--line{
		padding: 5px 0 10px;
		}
		&--block{
			padding-left: 10px;
		}
		&--header{
			margin: 30px 0 10px;
		}
	}
	&__header{
		padding-bottom: 5px;
		font-weight: $weight-bold;
		border-bottom: 1px solid $color-form-border;
	}
	&__contact{
    width: 20px;
    padding-bottom: 5px;
		margin-right: 5px;
		
		&--customer {
			width: auto;
			height: 20px;
			padding: 0;
		}
	}
	&__info{
		width:265px;
	}
	&__column{
		width: 285px;
		height: 270px;
		background: $color-content;
		margin-top: 25px;
		padding: 10px 15px;
	}
  &__sending-address {
    padding-top: 30px;
    padding-bottom: 15px;
	}
	&__customer {
		display: flex;
		justify-content: space-between;
		align-items: center;

		:last-child {
			margin-bottom: 0;
		}

		&-options {
			display: flex;
			justify-content: space-between;
			margin-bottom: 10px;

			&__label {
				width: 165px;
				opacity: .6;
			}

			&__name {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				max-width: 450px;

				span {
					display: flex;
					justify-content: flex-start;
					align-items: center;
					margin-right: 5px;
				}
			}
		}
		&-current {
			span {
				margin-right: 5px;

				&:first-child {
					opacity: .6;
				}
			}
		}
		&-settings {
			margin-bottom: 20px;
		}
	}
	&__ico {
		max-height: 19px;

		&-wrapper {
			width: 25px;
		}
	}
	&__name-copy {
		width: 305px;
		text-align: left;
	}
	&__info-copy {
		width: 120px;
		opacity: .6;
	}
	&__copy-address {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 20px;
	}
	&__option-info {
		display: flex;
	}
	&__select {
		&-customer {
			padding: 20px 15px;
			background-color: #30323a;
		}
		&--white {
			color: #fff !important;
		}
	}
	&__copy-buttons {
		display: flex;
		justify-content: flex-start;

		div:first-child {
			margin-right: 15px;
			width: 145px;
		}
		div:last-child {
			width: 100px;
		}
	}
}

.blockAnim {
	display: none;
}

.customerId {
	opacity: .6;
}
