.app-devices-table{
  background: $color-info-field;
  &__filter {
    height: 75px;
    align-items: center;
    background: $color-new-account;
    border-top-right-radius: 4px;
    position: relative;
    padding-right: 8px;
    &-gag {
      position: relative;
        ::after{
        content: "";
        display: block;
        position: absolute;
        top: 75px;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 5;
        background: #2B2E36;
        height: 12px;
      }
    }
  }
  &__label{
    width: 200px;
  }
  &__dash{
    width: 25px;
    height: 2px;
    background: rgba(255, 255, 255, 0.5);
    margin:0 auto;
    margin-top: 13px;
  }
  &__service-img{
    padding-bottom: 5px;
    padding-right: 10px;

    &_company {
      width: 30px;
      padding-right: 0 !important;
      &-icon{
        width:23px;
      }
    }
  }
  &__checkbox{
    padding: 0 25px 0px 15px;
    display: inline-block;
  }
  &__button{
    margin-left: 20px;
    font-size: 18px;
    padding: 0 12px;
    min-width: 155px;
    &-container{
      padding: 15px 0;
    }
  }
  &__device{
    &-type{
      background: $color-new-account;
      font-size: 18px;
    }
    &-title{
      color: #ffffff;
      font-weight: $weight-regular;
    }
    &-info{
      color: #6f7075;
      font-weight: 400;
    }
    &-counters{
      min-width: 355px;
    }
  }

  &__nav-icons {
    width: 50px;
  }

  &__header-company {
    min-width: 155px;
  }

  &__container {
    padding-top: 5px;
  }

  &__not-found {
    background: $color-new-account;
    border-top-left-radius: 0px;
  }
}

.app-data__table>tbody>tr>td.app-devices-table__dash-cell{
  padding-right: 0;
  padding-left: 0;
  width: 40px;
}

.app-account-row {
  background-color: $color-new-account;
  height: 60px;
  vertical-align: middle !important;
}

.app-devider-row{
  height: 12px;
  border-bottom: none !important;
  background: #2B2E36;
  & td {
    padding: 4px !important;
  }
  &:first-child{
    height: 4px;
  }
}

table[data-selector="without-first-devider"] > tbody tr.app-devider-row:first-child,
table[data-selector="without-last-devider"] > tbody tr.app-devider-row:last-child {
  display: none;
}

.app-division-row {
  &__arrow-container {
    width: 65px;
  }
  &__arrow-styles {
    display: inline-block;
    height: 11px;
  }

  &__counters {
    font-size: 16px;
    min-width: 250px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    & span:nth-child(2) {
      margin-left: 40px;
    }
    &-block {
      min-width: 140px;
      display: block;
    }
  }

  &--left-indent {
    padding-left: 0;
  }
}

.app-data__table>tbody>tr.app-devices-table__header-service>td{
  padding: 10px 8px;
}

.app-devices-table tr>td:nth-child(2) {
  width:35px;
}

.app-devices-table tr>td:nth-child(3), .app-devices-table tr>td:nth-child(4) {
  width:20px;
}

.app-devices-table--subdevices tr>td:first-child {
  width:20px;
}
