.app-proposal-workorder-icons {
  &--contact {
    padding-bottom: 5px;
    width: 15px;
  }

  &--authorizer {
    padding-left: 3px;
  }
}

.app-proposal-workorder-table-row {
  width: 270px;
}

.app-proposal-workorder-table-report-row {
  width: 90px;
  display: inline-block;
}

.app-proposal-workorder-comments {
  max-width: 470px;
}

.app-workorder-scheduling {
  &__container {
    margin-top: 0;
  }

  &__content-container {
    padding: 0 20px 15px 20px;
  }

  &__content-titles {
    font-size: 16px;
    font-weight: $weight-bold;
    border-bottom: 1px solid hsla(0,0%,100%,.1);
    padding-bottom: 10px;
    margin-bottom: 20px;
  }

  &__table-container {
    background-color: $color-info-field;
    height: 300px;
    margin-bottom: 10px;
  }
}

.app-workorder-list {
  position: relative;

  & tbody tr td {
    vertical-align: middle;
  }
}

.app-workorder-scheduling-table {
  margin-bottom: 0;

  & thead {
    border-bottom: 1px solid hsla(0,0%,100%,.1);
  }

  & td:first-child {
    padding-left: 20px;
  }

  &__date-row {
    border-bottom: 1px solid #77787e;
  }

  &__main-row {
    border-bottom: 1px solid hsla(0,0%,100%,.1);
  }

  &__user-icon {
    width: 17px;
    vertical-align: text-bottom;
  }

  &__date-col {
    width: 100px;
  }

  &__date-separator-th {
    width: 16px;
  }

  &__input-th {
    min-width: 150px;

    &--checkbox {
      margin-right: 0 !important;
    }
  }

  &__date-separator-col {
    text-align: center;
    padding-left: 0 !important;
  }
}

.app-workorder-scheduling-table-conclusion {
  width: auto !important;
  margin-bottom: 30px;

  & tr td:first-child {
    padding-left: 0;
  }
}

.app-workorder-scheduling-form {
  &--checkbox {
    margin-top: 35px;
  }
}

.app-workorder-scheduling-button {
  width: 170px;

  &--map {
    width: 200px;
    color: #ffffff;
    margin-right: 20px;
  }
}

.app-woview-scheduling{
	max-height: 200px;
  min-height: 100px;
	padding-top: 5px;
		&__table{
			width: 100%;
			& td {
				padding: 5px 0;
			}
		}
		&__date {
			& td {
				border-bottom: 1px solid $color-device-info;
			}
		}
		&__contractor {
			font-size: 14px;
			&-icon {
				width: 16px;
				padding-bottom: 2px;
			}
			&-time {
				vertical-align: top;
				text-align: right;
			}
		}
		&__info {
			border-bottom: 1px solid $color-main-border;
    }
    &__nodata {
      color: $color-inactive;
      font-size: 22px;
      font-weight: $weight-bold;
      display: flex;
      justify-content: center;
      padding-top: 10px;
    }
}

.app-woview-scheduling .mCSB_container{
	padding-right: 10px;
}

.app-workorder-general-info {
  &__account-button {
    width: 160px;
    height: 44px;
    line-height: 38px;
    margin-right: 30px;
  }
}

.app-workorder-no-data {
  font-size: 28px;
}

.app-workorder-assigned-technicians {
  &__delete-technician {
    width: 45px;
  }

  &__technitian-list-icon {
    width: 17px;
    margin-right: 5px;
  }

  &__techinitian-list-cell {
    width: 20%;
  }
}

.app-workorder {
  &__comments-table {
    table-layout: fixed;

    &--nocomments {
      text-align: center;
      border: none !important;
      font-size: 28px;
      margin-top: 25%;
    }

    &--flex {
      display: flex;
      align-items: center;
    }
  }
}
