.app-account-main{
	width:30%;
	max-width:570px;
  &__button-indent {
    margin-bottom: 50px;
  }
	&__notes{
		margin-top:30px;
		&-title{
			padding:0 15px 15px 15px;
      color:$color-inactive;
		}
		&-text{
			width:$width-view-account-info;
			&--little{
				height: 160px;
			}
			&--big{
				height: 180px;
			}
		}
	}
	&__company {
		display: flex;
    align-items: center;
    padding-top: 15px;

    &--linked-to {
      width: 125px;
      display: inline-block;
    }

    &--text-label {
      width: 88px;
      min-width: 88px;
      display: inline-block;
    }

    &--content {
      width: calc(100% - 116px);
    }

    &--content-group-account {
      width: calc(100% - 116px);
    }
	}
	&__site {
		margin-right: 5px;
    width: 18px;
    min-width: 18px;
	}
  &__warning {
    vertical-align: text-bottom;
  }
}

.app-account-addition{
	width:68%;
	min-width:calc(98% - 570px);
	&__header{
		&__data{
			display: inline-block;
			margin-left: 15px;
			font-size: 24px;
		}
		&__img{
			margin-right: 5px;
			height: 30px;
			padding-bottom: 5px;
		}
	}
	&__details{
		min-height:320px;
		background:$color-new-account;
		border-radius: 4px;
		@include border-shadow();
		&--account{
			min-height: 400px;
		}
		&__column{
			width:32%;
			font-weight:inherit;
			color:$color-inactive;
		}
		&__wrapper{
			padding:20px 20px 15px;
			color:$color-inactive;
		}
	}
}

.app-account-site{
	margin-top: 50px;
	&__header{
		width: 100%;
    border-bottom: 1px solid hsla(0,0%,100%,.3);
	}
	&__container {
		padding-bottom: 40px;
		position: relative;
	}
	&__title{
		margin-bottom: 15px;
		&--wrapper{
			margin-right:30px;
			margin-left: 5px;
		}
	}
	&__name {
    margin: 0 15px 0 10px;
		width: 40px;
	}
	&__delete{
		width:22px;
		padding-bottom: 2px;
	}
	&__button{
		margin-bottom:10px;
	}
}

.app-device{
	&__info{
		position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px
	}
}

.app-account-tabs {
	&__filter {
		// padding: 15px;
		// background: $color-new-account;
    // border-top-left-radius: 4px;
    // border-top-right-radius: 4px;
    // min-height: 106px;
  }

  &__list {
    margin: 0 0 5px 0;
    clear: both;
    display: flex;
  }

  &__item {
    width: 20%;
    display: block;
    height: 45px;
    line-height: 45px;
    text-align: center;
    text-decoration: none !important;
    font-weight: $weight-regular;
    border-radius: 4px 4px 0 0;
    position: relative;
    z-index: 1;

    &:not(:last-child) {
      margin-right: 5px;
    }

    &:hover {
      background-color: $color-new-account;
      border-bottom: 1px solid $color-new-account;
      text-decoration: none;

      // &::after {
      //   content: '';
      //   background-color: $color-new-account;
      //   height: 5px;
      //   display: block;
      // }
    }

    &--active {
      background-color: $color-new-account;
      @include border-shadow();
      cursor: default;
      color: #ffffff;
      z-index: 3;
      border-bottom: 1px solid $color-new-account;


      &:hover {
        color: #ffffff;
        border-bottom: 1px solid $color-new-account;
      }

      &::after {
        content: '';
        background-color: $color-new-account;
        height: 10px;
        display: block;
      }
    }
  }
}

.app-account-separator {
  border-bottom: 1px solid hsla(0,0%,100%,.1);
  padding-bottom: 15px;
}

.app-account-max-width {
  width: 100% !important;
}

.app-account-address-container {
  padding-bottom: 0 !important;
}

.app-account-notes {
    align-items: flex-start;

    &__content {
      color: #ffffff;
      width: calc(100% - 98px);
      max-height: 100px;
    }
}

.app-account-icon {
  background-repeat: no-repeat;
  background-size: 40px;
  width: 110px;
  min-height: 100%;

  &--account {
    background-position: 80% 40px;
  }

  &--group-account {
    background-position: 80% 35px;
  }

  &--size {
    width: 45%;
  }
}

.notes-account-content .mCSB_container {
  padding-right: 13px;
}


