.app-proposal {
  &__main-info {
    width: 58%;
    margin-right: 2%;
  }

  &__logs {
    width: 40%;
  }

  &__table {
    margin-top: 30px;
  }
}

.app-proposal-main-info {
  &__container {
    min-height: 90px;

    &:first-child {
      margin: 10px 0 20px 0;
    }

    &:last-child {
      margin-bottom: 10px;
    }
  }

  &__block-separator {
    width: 50%;

    &:first-child {
      padding-right: 20px;
    }

    &:last-child {
      padding-left: 20px;
      border-left: 1px solid hsla(0,0%,100%,.3);
    }
  }

  &__title {
    margin: 15px 0;
    font-size: 14px;
    font-weight: $weight-light;

    &::after {
      content: "";
      display: inline-block;
      width: calc(100% - 255px);
      vertical-align: middle;
      border-bottom: 1px solid hsla(0,0%,100%,.3);
      margin-left: 15px;
    }

    &--recipient {
      margin-top: 5px;
    }

    &--regarding {
      margin-top: 50px;

      &::after {
        width: calc(100% - 132px);
      }
    }

    &--forproperty {
      margin-top: 0;

      &::after {
        width: calc(100% - 92px);
      }
    }

    &--authorizer {
      margin-top: 40px;

      &::after {
        width: calc(100% - 190px);
      }
    }

    &--enabled {
      &::after {
        width: calc(100% - 105px);
      }
    }

    &--creator {
      &::after {
        width: calc(100% - 172px);
      }
    }

    &--technical {
      &::after {
        width: calc(100% - 403px);
      }
    }

    &--scheduling {
      &::after {
        width: calc(100% - 90px);
      }
    }

    &--information {
      &::after {
        width: calc(100% - 138px);
      }
    }

    &--table {
      &::after {
        width: calc(100% - 238px);
      }
    }
  }

  &__subtitle {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: $weight-regular;
  }
}

.app-proposal-device-icon {
  width: 85px;

  &--device {
    background: url('../images/backflow.svg') no-repeat 50% 23px;
    background-size: 40px;
  }

  &--account {
    background: url('../images/backflow.svg') no-repeat 50% 32px;
    background-size: 40px;
  }

  &--group {
    background-position: 50% 27px;
  }
}

.app-proposal-device-titles {
  &__date {
    margin-right: 15px;

    &--bottom-indent {
      margin-bottom: 5px;
    }

    &--width {
      width: 140px;
      display: inline-block;
    }
  }
}

.app-proposal-user-indent {
  padding-left: 3px;
}

.app-proposal-account {
  margin-right: 40px;

  &__icon {
    background-image: url('../images/group_site.svg');
  }

  &__title {
    padding: 5px 0;

    & span.label {
      margin-left: 0;
    }
  }
}

.app-proposal-person {
  &__name {
    font-size: 24px;
    margin-bottom: 10px;
  }

  &__icon {
    width: 22px;
    padding-bottom: 5px;
  }

  &__button-container {
    margin-top: 10px;
  }

  &__button {
    margin-left: 0;
    width: 280px;
  }

  &--width {
    width: 280px;
  }

  &--bottom-indent {
    margin-bottom: 10px !important;
  }
}

.app-proposal-contacts {
  margin-left: 20px;

  &__table {
    & td:nth-child(odd) {
      padding-right: 15px;
    }
  }

  &__image {
    width: 152px;
    height: 152px;
  }
}

.app-proposal-logs {
  &__container {
    height: 363px;
    overflow: hidden;
  }

  &__table {
    tr {
      border-bottom: 1px solid $color-form-border;
    }

    td {
      padding: 12px 20px 12px 12px;
    }
  }

  &__message-info {
    font-size: 12px;
  }

  &__button-container {
    width: 210px;
  }

  &__button {
    min-width: 191px;
    font-weight: $weight-light;
    float: right;

    &--red {
      background-color: $color-delete;
    }

    &--indent {
      margin-top: 12px;
    }
  }
}

.app-proposal-table {
  &__separator {
    & tbody tr:first-child td {
      border-top: 2px solid #a0a1a4 !important;
    }

    & tbody tr:last-child td {
      border-top: 2px solid #a0a1a4 !important;
    }
  }
}

.app-proposal-workorder-icons {
  &--contact {
    padding-bottom: 5px;
    width: 15px;
    margin-right: 5px;
  }

  &--authorizer {
    padding-left: 3px;
  }
}

.app-proposal-workorder-table-row {
  width: 270px;
}

.app-proposal-add {
  &__device-main {
    border-bottom: 1px solid $color-title-border;
    padding-bottom: 30px;
  }

  &__device-icon {
    background-position: 60% 8px;
  }

  &__device-container {
    min-height: 295px !important;
  }

  &__notes-container {
    height: 65px;
    overflow: hidden;
  }

  &__device-property-container {
    height: 295px;
    background-color: $color-info-field;
  }

  &__main-titles {
    margin: 30px 0 10px 0;
  }

  &__repairs-table {
    background: $color-info-field;
    margin-bottom: 0;

    & td > .app-checkbox-label:before {
      margin-right: 0;
    }

    & td:first-child, th:first-child {
      padding-left: 20px;
      width: 44px;
    }

    & td:last-child, th:last-child {
      padding-right: 20px;
    }
  }
}

.app-proposal-add-deficiency {
  &__container {
    width: calc(50% - 15px);

    &--left {
      margin-right: 15px;
    }

    &--right {
      margin-left: 15px;
    }
  }

  &__table-list-container {
    height: 118px;
    background-color: $color-info-field;
  }

  &__table-list-placeholder {
    line-height: 116px;
  }

  &__input-container {
    margin-top: 20px;
  }

  &__table-list {
    background-color: $color-info-field;
    margin-bottom: 0 !important;

    & td {
      padding: 8px;
    }

    & td:first-child {
      padding-left: 20px;
      padding-right: 12px;
    }
    
    & th:first-child {
      padding-left: 20px;
    }

    & td:last-child {
      padding-right: 25px;
    }
  }
}

.app-proposal-add-deficiency-table-list {
  &__delete {
    width: 27px;

    & img {
      cursor: pointer;
    }
  }
}

.app-proposal-current-deficiency {
  &__container {
    height: 290px;
    background-color: $color-info-field;
  }

  &__table {
    &--found-on-row {
      min-width: 200px;
    }
  }
}

.app-proposal-current-deficiency {
  &__input {
    margin-top: 20px;
  }

  &__placeholder {
    line-height: 290px;
  }
}

.app-proposal-filers {
  &__generic-proposal-button {
    margin-bottom: 10px;
  }
}

.app-repare-proposal{
  &__table {
    margin-top: 30px;
    margin-bottom: 10px;
    &>tbody>tr.app-repare-proposal__table-border {
      border-bottom: none;
      &>td {
        border-bottom: 1px solid $color-main-border;
        &:first-child{
          border-bottom: none;
        }
        &:last-child{
          border-bottom: none;
        }
      }
    }
    & tr:nth-last-child(2) {
      & td:first-child {
        border-bottom-left-radius: 4px;
      }
       & td:last-child {
        border-bottom-right-radius: 4px;
      }
    }
    &>tbody>tr.app-repare-proposal__row--info {
      border-bottom: none;
    }
    & td:first-child {
      width: 15px;
    }
    & td:last-child {
      width: 15px;
    }
    &>tbody>tr>td:nth-child(2) {
      padding-left: 20px;
    }
    &-icon {
      text-align: right;
      width: 30px;
    }
    & .app-devider-row:last-child {
      display: none;
    }
  }
  &__account {
    padding-left: 8px !important;
    &-icon {
      width: 50px;
    }
  }
  &__row {
    &--service {
      & td {
        background: #31343c;
      }
    }
    &--info {
      min-height: 190px;
      &>td{
        padding-top: 15px !important;
        padding-bottom: 15px !important;
      }
    }
    &--header {
      color: $color-inactive;
      &>td:first-child {
        background: #31343c;
      }
      &>td:last-child {
        background: #31343c;
      }
    }
  }
  &__data {
    &--table {
      & td {
        padding: 0;
        &:first-child {
          width: 210px;
          vertical-align: top;
          color: $color-inactive;
        }
        &:last-child {
          padding-left: 15px;
          vertical-align: bottom;
        }
      }
      &-large {
        & td:first-child {
          width:255px;
        }
      }
    }
    &--total {
      border-bottom: 1px solid $color-main-border;
    }
    &--info {
      width: 100%;
      & td:last-child {
        width: calc(100% - 210px);
      }
    }
    &--prices {
      margin-left: auto;
      min-width: 220px;
    }
    &--indent {
      padding-right: 12px !important;
    }
    &--inner-table {
      min-width: 284px;

      & td:last-child {
        color: #ffffff;
      }
    }
  }
  &__img {
    min-width: 100%;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    &--section {
      width: 250px;
      height: 170px;
    }
    &--placeholder {
      position: relative;
      background-size: 90px;
      background-color: $color-header;
      float: right;
    }
    &--no-data{
      font-size: 18px;
    }
    &--size {
      max-width: 250px;
      max-height: 170px;
    }
  }
  &__circle {
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
  }
  &__delete-button-wrapper {
    text-align: right;
    padding-right: 20px !important;
  }
}
