.app-contractors-search-options {
  display: flex;

  &__wrapper {
    max-width: 250px;
    min-height: 70px;
    border-right: 0;
  }
}

.contractors-table {
  &__icon-block {
    width: 60px;

    & div {
      padding-left: 10px;
    }

    &--gauge {
      width: 30px;
    }
  }

  &__img {
    width: 27px;
    display: block;
    margin: 2px auto 0;
  }
}


