.app-contractor__not-found {
  margin-top: 1px;
}

.app-contractor-information {
  width: 50%;
  min-height: 300px;
  display: flex;

  &_height {
    min-height: 320px;
  }

  &__empty{
    width:40px;
  }

  &:first-child {
    margin-right: 2%;
  }

  &__data-address {
    margin-bottom: 5px;
  }

  &-block {
    height: 100%;

    &:first-child {
      width: 64%;
      margin-right: 4%;
      margin-left: 15px;
    }

    &__link {
      margin-bottom: 10px;
    }

    &__image-contractor {
      width: 240px;
      height: 240px;
      background-color: #3f424a;
      margin-bottom: 15px;

      &-content {
        width: 240px;
        height: 240px;
        background-image: url("../images/camera.svg");
        background-repeat: no-repeat;
        background-position: 50% 50%;
      }
    }

    &__more-info {
      color: hsla(0,0%,100%,.6);

      & td {
        margin: 0;
        padding-top: 10px;
        &:first-child {
          text-align: right;
          width: 160px;
        }
      }

      &_values {
        padding-left: 10px;
        color: #ffffff;
      }

      &_no-data {
        padding-left: 10px;
      }
    }
  }
}

.app-contractor-note {
  width: 50%;

  &:first-child {
    margin-right: 4%;
  }
}

.correct-position-contractor-logo {
  width: 40px;
}

.app-table-users{
  &__phones{
    min-width: 240px;
  }
  & th{
    font-size: 18px;
    color: $color-device-info;
  }
  &>thead>tr>th {
  padding: 4px 8px;
  vertical-align: middle !important;
  border-bottom: none;
  text-align: center;
  font-weight: $weight-bold;
    &:first-child{
      text-align: left;
      padding-left: 20px;
      font-size: 24px;
    }
    &:nth-child(4), &:nth-child(5), &:last-child{
      min-width: 80px;
      max-width: 100px;
    }
  }
  &>tbody>tr>td {
  padding: 15px 0 15px 20px;
    &:nth-child(4), &:nth-child(5), &:last-child{
      vertical-align: middle;
      text-align: center;
      padding-left: 0;
      min-width: 80px;
      max-width: 120px;
      border-left: 1px solid $color-form-border;
    }
    &:nth-child(3) {
      padding-right: 20px;
      & table tr>td:first-child {
        min-width: 115px;
      }
    }
    &:first-child {
      min-width: 200px;
    }
  }
  & table tr>td {
    vertical-align: initial;
    &:first-child {
      color: $color-inactive;
      padding-right: 10px;
    }
  }
}

.app-contractor-separator-line {
  border-top: 1px solid hsla(0,0%,100%,.1);
  margin-top: 26px;
}

.app-contractor-comment {
  margin-top: 5px;

  &__text-label {
    width: 160px;
    margin-left: 15px;
    text-align: right;
  }

  &__content {
    width: calc(100% - 175px);
    max-height: 100px;
    padding-left: 10px
  }
}

