.app-opportunities{
	&__header{
		margin-bottom: 15px;
	}
	&__input{
		width: 100px;
	}
	&__label{
		font-size: 13px;
    padding-left: 15px !important;
		padding-right: 15px !important;
		font-weight: $weight-regular;
		vertical-align: middle;
		margin-left: 0;
  }
  &__button{
    float: right;
    margin: 20px 0;
  }

	&__company{
		min-width: 120px;
	}
	&__table{
		&-row{
			&--account{
				background: $color-table-title;
			}
      &--site-account {
        padding-left: 25px;
        & img.app-account-site__name {
          width: 22px;
          margin: 0;
        }
      }
			&--header{
					& th:first-child{
						text-align: left;
    				padding-left: 30px;
					}
			}
			&--service{
        background-color: $color-info-field;
				& td:first-child{
					  padding-left: 32px;
				}
			}
      &--service-name{
        padding-left: 38px;
      }
		}
	}

}

.app-opportunities-table-filter {
  &__checkbox {
    padding: 0 25px 0 5px;
    display: inline-block;
  }

  &__inputs-container {
    &--button {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      &-start{
        align-items: flex-start;
      }
    }
  }

  &__inputs {
    &--checkbox {
      &:not(:last-child) {
        padding-bottom: 22px;
      }
    }

    &--select {
      &--margin-bottom {
        margin-bottom: 12px;
      }

      &::after {
        content: '';
        display: table;
        clear: both;
      }

      &:first-child {
        margin-bottom: 12px;
      }
    }

    &--date {
      height: 32px;
      width: 150px;
      color: #333333;
      border-radius: 4px;
      border: 1px solid #cccccc;
      padding-top: 8px;
    }
  }

  &__checkbox-label {
    padding-top: 4px;
  }

  &__select-label {
    float: left;

    & label {
      height: 32px;
      line-height: 32px;
      margin-bottom: 0;
    }
  }

  &__select-container {
    float: right;

    &--date {
      position: relative;
    }
  }

  &__button {
    min-width: 150px;
  }
}

.clear-input-value {
  position: absolute;
  top: 2px;
  right: 8px;
  display: none;

  &::after {
    content: '\00D7';
    display: table;
    color: #d9534f;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }
}


.app-opportunities-table-warning {
  margin-right: 0;
}

.app-opportunities-table-filter__inputs .bootstrap-select>.dropdown-toggle {
  width: 150px;
}

.app-opportunities-table-filter__inputs .bootstrap-select.btn-group .dropdown-menu {
  min-width: 150px;
}

.app-opportunities-table-filter__select-container .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 150px;
}

.app-opportunities-table-filter__select-container .bootstrap-select>.dropdown-toggle {
  width: 150px;
  height: 32px;
}

.app-opportunities__table tbody tr:not(.app-opportunities__table-row--account):nth-child(2n+1) {
  background: #393b42;
}

.ui-widget.ui-widget-content {
  z-index: 5 !important;
}

.app-notice-list {
  &__division{
    width: 45px;
  }

  &__id{
    width: 120px;
  }

  & td:last-child {
        width:220px;
  }

  & tbody>tr>td {
    vertical-align: middle;
  }
}

.app-opportunities__division {
  padding-left: 20px !important;
}
