<template src="./templates/form_billing_address.html"></template>

<script>
export default {
  props: ['invoiceBillToAddress', 'accountContactPerson', 'account', 'invoiceData'],
  data: function() {
    return {
      billingStates: [
        {
          value: 1,
          name: 'AL'
        },
        {
          value: 2,
          name: 'AK'
        },
        {
          value: 3,
          name: 'AZ'
        },
        {
          value: 4,
          name: 'AR'
        },
        {
          value: 5,
          name: 'CA'
        },
        {
          value: 6,
          name: 'CO'
        },
        {
          value: 7,
          name: 'CT'
        },
        {
          value: 8,
          name: 'DE'
        },
        {
          value: 9,
          name: 'FL'
        },
        {
          value: 10,
          name: 'GA'
        },
        {
          value: 11,
          name: 'HI'
        },
        {
          value: 12,
          name: 'ID'
        },
        {
          value: 13,
          name: 'IL'
        },
        {
          value: 14,
          name: 'IN'
        },
        {
          value: 15,
          name: 'IA'
        },
        {
          value: 16,
          name: 'KS'
        },
        {
          value: 17,
          name: 'KY'
        },
        {
          value: 18,
          name: 'LA'
        },
        {
          value: 19,
          name: 'ME'
        },
        {
          value: 20,
          name: 'MD'
        },
        {
          value: 21,
          name: 'MA'
        },
        {
          value: 22,
          name: 'MI'
        },
        {
          value: 23,
          name: 'MN'
        },
        {
          value: 24,
          name: 'MS'
        },
        {
          value: 25,
          name: 'MO'
        },
        {
          value: 26,
          name: 'MT'
        },
        {
          value: 27,
          name: 'NE'
        },
        {
          value: 28,
          name: 'NV'
        },
        {
          value: 29,
          name: 'NH'
        },
        {
          value: 30,
          name: 'NJ'
        },
        {
          value: 31,
          name: 'NM'
        },
        {
          value: 32,
          name: 'NY'
        },
        {
          value: 33,
          name: 'NC'
        },
        {
          value: 34,
          name: 'ND'
        },
        {
          value: 35,
          name: 'OH'
        },
        {
          value: 36,
          name: 'OK'
        },
        {
          value: 37,
          name: 'OR'
        },
        {
          value: 38,
          name: 'PA'
        },
        {
          value: 39,
          name: 'RI'
        },
        {
          value: 40,
          name: 'SC'
        },
        {
          value: 41,
          name: 'SD'
        },
        {
          value: 42,
          name: 'TN'
        },
        {
          value: 43,
          name: 'TX'
        },
        {
          value: 44,
          name: 'UT'
        },
        {
          value: 45,
          name: 'VT'
        },
        {
          value: 46,
          name: 'VA'
        },
        {
          value: 47,
          name: 'WA'
        },
        {
          value: 48,
          name: 'WV'
        },
        {
          value: 49,
          name: 'WI'
        },
        {
          value: 50,
          name: 'WY'
        }
      ],
      isCustomBilling: this.invoiceData.use_custom_bill_address,
      billToAddress: {
        address: this.invoiceBillToAddress ? this.invoiceBillToAddress.address : '',
        city: this.invoiceBillToAddress ? this.invoiceBillToAddress.city : '',
        state: this.invoiceBillToAddress ? {
          shortname: this.invoiceBillToAddress.state ? this.invoiceBillToAddress.state.shortname : 'State'
        } : {
          shortname: 'State'
        },
        zip: this.invoiceBillToAddress ? this.invoiceBillToAddress.zip : ''
      },
      copyBillToAddress: {}
    }
  },
  created: function() {
    if (!this.isCustomBilling) {
      setTimeout(() => {
        $('.selectpicker[name="invoice_billing_address_state"]').parent('.bootstrap-select').addClass('disabled app-form--disabled');
        $('.selectpicker[name="invoice_billing_address_state"]').parent('.bootstrap-select').find('button').addClass('disabled');
      }, 1000);
    }
  },
  methods: {
    changedInput: function(event) {
      $(event.target).blur().focus();
    },
    catchAddressField: function(event) {
      this.limitLinesInTextArea(3, 41, event);
      this.billToAddress.address = event.target.value;
    },
    limitLinesInTextArea: function(rows, maxlength, event) {
      let lines = event.target.value.split('\n');

      $(event.target).removeAttr('data-symbols-oversized');
      for (let i = 0; i < lines.length; i++) {
        if (lines[i].length > maxlength) {
          $(event.target).attr('data-symbols-oversized', 'true');
          break;
        }
      }
      while (lines.length > rows) {
        lines.pop();
      }
      $(event.target).val(lines.join('\n'));
    },
    enableCustomBilling: function() {
      this.isCustomBilling = !this.isCustomBilling;
      if (!this.isCustomBilling) {
        $('#invoice_billing_address_address, input[name="invoice_billing_address_city"], input[name="invoice_billing_address_zip"], select[name="invoice_billing_address_state"]').blur().focus();
        $('.selectpicker[name="invoice_billing_address_state"]').parent('.bootstrap-select').addClass('disabled app-form--disabled');
        $('.selectpicker[name="invoice_billing_address_state"]').parent('.bootstrap-select').find('button').addClass('disabled');
        this.returnBillingAddress('return');
        $('.selectpicker[name="invoice_billing_address_state"]').parent('.bootstrap-select').find('button').attr('title', this.billToAddress.state.shortname);
        $('.selectpicker[name="invoice_billing_address_state"]').parent('.bootstrap-select').find('span.filter-option.pull-left').text(this.billToAddress.state.shortname);
      } else {
        $('.selectpicker[name="invoice_billing_address_state"]').parent('.bootstrap-select').parent('.app-form-input--small.form-group').removeClass('has-error');
        $('.selectpicker[name="invoice_billing_address_state"]').parent('.bootstrap-select').removeClass('disabled app-form--disabled');
        $('.selectpicker[name="invoice_billing_address_state"]').parent('.bootstrap-select').find('button').removeClass('disabled');
        this.returnBillingAddress('copy');
      }
    },
    returnBillingAddress: function(returnOrCopy) {
      if (returnOrCopy === 'copy') {
        this.copyBillToAddress = {
          address: this.billToAddress.address,
          city: this.billToAddress.city,
          state: {
            shortname: this.billToAddress.state.shortname
          },
          zip: this.billToAddress.zip
        };
      } else if (returnOrCopy === 'return') {
        this.billToAddress = {
          address: this.copyBillToAddress.address,
          city: this.copyBillToAddress.city,
          state: {
            shortname: this.copyBillToAddress.state.shortname
          },
          zip: this.copyBillToAddress.zip
        };
      }
    },
    passInvoiceBillAddress: function() {
      this.$emit('invoiceBillAddress', this.billToAddress);
      this.$emit('invoiceUseCustom', this.isCustomBilling);
    }
  }
}
</script>

<style src="./assets/form_billing_address.scss" scoped lang="scss"></style>

