<template src="./templates/group_of_fields.html"></template>

<script>
export default {
  props: ['invoiceData', 'termsData'],
  data: function() {
    return {
      workorder: {
        poNo: this.invoiceData.workorder.poNo || ''
      },
      memo: this.invoiceData.memo || '',
      inspector: this.invoiceData.inspector,
      paymentTerms: {
        name: '',
        alias: ''
      }
    }
  },
  created: function() {
    if (this.invoiceData.workorder.account.paymentType) {
      for (let i = 0; i < this.termsData.length; i++) {
        if (this.termsData[i].alias === this.invoiceData.workorder.account.paymentType.alias) {
          this.paymentTerms.name = this.termsData[i].name;
          this.paymentTerms.alias = this.termsData[i].alias;
        }
      }
    } else {
        this.paymentTerms.name = this.termsData[0].name;
        this.paymentTerms.alias = this.termsData[0].alias;
      }
  },
  computed: {
    fullAuthoraizerName: function() {
      if (this.invoiceData.workorder.authorizer) {
        if (this.invoiceData.workorder.authorizer.contactPerson.firstName && !this.invoiceData.workorder.authorizer.contactPerson.lastName) {
          return this.invoiceData.workorder.authorizer.contactPerson.firstName;
        } else if (!this.invoiceData.workorder.authorizer.contactPerson.firstName && this.invoiceData.workorder.authorizer.contactPerson.lastName) {
          return this.invoiceData.workorder.authorizer.contactPerson.lastName;
        } else {
          return this.invoiceData.workorder.authorizer.contactPerson.firstName + ' ' + this.invoiceData.workorder.authorizer.contactPerson.lastName;
        }
      } else {
        return '';
      }
    }
  },
  methods: {
    getAlias: function(event) {
      for (let i = 0; i < this.termsData.length; i++) {
        if (this.termsData[i].name === event.target.value) {
          this.paymentTerms.alias = this.termsData[i].alias;
          this.paymentTerms.name = this.termsData[i].name;
        }
      }
    },
    passInvoiceTerms: function() {
      this.$emit('invoiceTerms', this.workorder, this.memo, this.inspector, this.paymentTerms)
    }
  }
}
</script>

<style src="./assets/group_of_fields.scss" scoped lang="scss"></style>
