<template src="./templates/input_date.html"></template>

<script>
export default {
  props: ['invoiceData'],
  data: function() {
    return {
      invoiceDate: this.invoiceData.invoiceDate ? this.invoiceData.invoiceDate : ''
    }
  },
  created: function() {
    if (!this.invoiceData.invoiceDate) {
      const date = new Date();
      let day = date.getDate();
      let month = date.getMonth() + 1;
      let year = date.getFullYear();
      if (day < 10) {
        day = '0' + day;
      }
      if (month < 10) {
        month = '0' + month;
      }
      this.invoiceDate = month + '/' + day + '/' + year;
    }
    $('.app-invoice-validation-date').mask('99/99/9999', {placeholder: 'MM/DD/YYYY', autoclear: false});
  },
  methods: {
    passInvoiceDate: function() {
      this.$emit('invoiceDate', this.invoiceDate);
    },
    inputDate: function(event) {
      $('.app-invoice-validation-date').mask('99/99/9999', {placeholder: 'MM/DD/YYYY', autoclear: false});
      setTimeout(() => {
        this.invoiceDate = $('.app-invoice-validation-date').val();
      }, 1000);
    }
  }
}
</script>

<style src="./assets/input_date.scss" scoped lang="scss"></style>
