<template src="./templates/input_invoice_no.html"></template>

<script>
export default {
  props: ['status'],
  data: function() {
    return {

    }
  }
}
</script>

<style src="./assets/input_invoice_no.scss" scoped lang="scss"></style>
