<template src="./templates/invoice_total_info.html"></template>

<script>
import { numeric, integer, maxLength, decimal } from "vuelidate/lib/validators";

export default {
  props: ['workorder', 'invoiceTotal', 'invoiceData'],
  data: function() {
    return {
      overridePayment: this.invoiceData.overridePayment ? '$' + this.invoiceData.overridePayment : '$0',
      paymentApplied: '0.00',
      balanceDue: '0.00'
    }
  },
  validations: {
    overridePayment: {
      decimal
    }
  },
  methods: {
    passInvoiceTotalInfo: function() {
      this.$emit('invoiceTotalInfo', this.overridePayment, this.paymentApplied, this.balanceDue);
    },
    inputOverridePayment: function(val) {
      if (val === '') {
        this.overridePayment = '$0';
      } else {
        let newVal = val.replace('$', '');
        let reg = /[0-9.]+/g;
        let afterReg = reg.exec(newVal);
        if (!afterReg) {
          this.overridePayment = '$';
        } else {
          let result = afterReg[0];
          if (result[0] === '0' && result[1] !== '.' || result[0] === '.') {
            this.overridePayment = '$0';
          } else {
            if (result.indexOf('.') !== -1) {
              let checkDots = result.split('.');
              if (checkDots.length > 2) {
                let afterCheckDots = checkDots.slice(0, 2).join('.');
                this.overridePayment = '$' + afterCheckDots;
              } else {
                this.overridePayment = '$' + result;
              }
            } else {
              this.overridePayment = '$' + result;
            }
          }
        }
      }
    }
  },
  watch: {
    invoiceTotal: function(val) {
      this.balanceDue = (val - this.paymentApplied).toFixed(2);
    },
    paymentApplied: function(val) {
      this.balanceDue = (this.invoiceTotal - val).toFixed(2);
    }
  },
  computed: {
    workorderTotal: function() {
      return this.workorder.grandTotal ? this.workorder.grandTotal.toFixed(2) : '0.00';
    },
    balanceDueABFP: function() {
      let override = this.overridePayment.toString().replace('$', '')
      return (this.invoiceTotal - override).toFixed(2);
    },
    total: function() {
      return this.invoiceTotal.toFixed(2);
    }
  }
}
</script>

<style src="./assets/invoice_total_info.scss" lang="scss" scoped></style>
