<template src="./templates/invoice_table.html"></template>

<script>
import invoiceItem from "./invoice_item.vue";
import draggable from "vuedraggable";

export default {
  name: "invoiceTable",
  components: {
    invoiceItem,
    draggable
  },
  props: ['itemAfterEdit', 'invoiceData'],
  data: function() {
    return {
      invoiceItemsList: [],
      invoiceTotal: '0.00',
      editIndex: null,
      deleteIndex: null
    };
  },
  computed: {
    showTable: function() {
      return this.invoiceItemsList.length === 0;
    }
  },
  methods: {
    addInvoiceItem: function(val) {
      let copy = Object.assign({}, val);
      if (copy.type.name === 'discount') {
        copy.amount = copy.rate;
      } else if (copy.name === 'Address') {
        copy.amount = '';
      } else {
        copy.amount = copy.rate * copy.qty;
      }
      this.invoiceItemsList.push(copy);
    },
    itemDelete: function() {
      this.invoiceItemsList.splice(this.deleteIndex, 1);
    },
    saveDeleteIndex: function(index) {
      this.deleteIndex = index;
    },
    generateInvoiceTotal: function() {
      this.invoiceTotal = 0;
      for (let i = 0; i < this.invoiceItemsList.length; i++) {
        if (this.invoiceItemsList[i].name === 'Address') {
          continue;
        } else {
          this.invoiceTotal += parseFloat(this.invoiceItemsList[i].amount);
        }
      }
      this.$emit('invoiceTotal', this.invoiceTotal);
    },
    itemBeforeEdit: function(item, index) {
      this.editIndex = index;
      this.$emit('itemBeforeEdit', item, index);
    },
    passInvoiceItems: function() {
      this.$emit('invoiceItemsSend', this.invoiceItemsList);
    }
  },
  created: function() {
    if (this.invoiceData.lines.length >= 0) {
      for (let i = 0; i < this.invoiceData.lines.length; i++) {
        let lineItem = {
          id: this.invoiceData.lines[i].id,
          description: this.invoiceData.lines[i].description,
          qty: this.invoiceData.lines[i].quantity,
          amount: this.invoiceData.lines[i].amount || '0',
          rate: this.invoiceData.lines[i].rate || '0',
          name: this.invoiceData.lines[i].item.name,
          rateType: {
            name: this.invoiceData.lines[i].item.rateType.name.toLowerCase()
          },
          type: {
            name: this.invoiceData.lines[i].item.type.name.toLowerCase()
          },
          qbId: this.invoiceData.lines[i].item.qbId
        }
        if (lineItem.type.name === 'discount' && lineItem.rate.toString()[0] !== '-') {
          lineItem.rate = '-' + lineItem.rate;
          lineItem.amount = '-' + lineItem.amount;
        }
        if (lineItem.name === 'Address') {
          lineItem.qty = '';
          lineItem.rate = '';
          lineItem.amount = '';
        }
        this.invoiceItemsList.push(lineItem);
      }
    }

    this.generateInvoiceTotal();
  },
  watch: {
    invoiceItemsList: function(val) {
      this.generateInvoiceTotal();
    },
    itemAfterEdit: function(val) {
      for (let i = 0; i < this.invoiceItemsList.length; i++) {
        if (i === this.editIndex) {
          this.invoiceItemsList[i] = Object.assign({}, val);
          this.$forceUpdate();
        }
      }
      this.generateInvoiceTotal();
    }
  }
};
</script>

<style src="./assets/invoice_table.scss" scoped lang="scss"></style>
