<template src="./templates/invoice_edit_popup.html"></template>

<script>
import { numeric, required, integer, maxLength, decimal } from "vuelidate/lib/validators";

export default {
  name: "edit-popup",
  props: ["itemBeforeEdit", "indexItemBeforeEdit"],
  data: function() {
    return {
      itemAfterEdit: {
        id: null,
        name: "",
        description: "",
        rate: null,
        type: {
          name: ""
        },
        rateType: {
          name: ""
        },
        amount: null,
        qty: null
      }
    };
  },
  watch: {
    itemBeforeEdit: function(val) {
      let copy = {
        id: val.id,
        name: val.name,
        description: val.description,
        rate: val.rate,
        type: {
          name: val.type.name
        },
        rateType: {
          name: val.rateType.name
        },
        amount: val.amount,
        qty: val.qty
      }
      copy.rate = copy.rate.replace('-', '');
      this.itemAfterEdit = Object.assign({}, copy);
    }
  },
  validations() {
    if (this.itemAfterEdit.type.name === 'discount') {
      return {
        itemAfterEdit: {
          rate: {
            decimal,
            required
          },
          qty: {
            numeric
          },
          description: {
            maxLength: maxLength(255)
          }
        },
        validationGroup: [
          "itemAfterEdit.qty",
          "itemAfterEdit.rate",
          "itemAfterEdit.description"
        ]
      }
    } if (this.itemAfterEdit.name === 'Address') {
      return {
        itemAfterEdit: {
          rate: {
            decimal
          },
          qty: {
            numeric
          },
          description: {
            maxLength: maxLength(255)
          }
        },
        validationGroup: [
          "itemAfterEdit.qty",
          "itemAfterEdit.rate",
          "itemAfterEdit.description"
        ]
      }
    } else {
      return {
        itemAfterEdit: {
          rate: {
            decimal,
            required
          },
          qty: {
            numeric,
            required
          },
          description: {
            maxLength: maxLength(255)
          }
        },
        validationGroup: [
          "itemAfterEdit.qty",
          "itemAfterEdit.rate",
          "itemAfterEdit.description"
        ]
      }
    }
  },
  methods: {
    submitEditedItem: function() {
      if (this.$v.validationGroup.$invalid) {
        this.$v.validationGroup.$touch();
        return;
      }
      $("#editItem").modal("hide");
      this.generatedRate();
      this.generatedQty();
      this.generateAmount();
      this.$emit('itemAfterEdit', this.itemAfterEdit)
    },
    generateAmount: function() {
      if (this.itemAfterEdit.type.name === "discount") {
        this.itemAfterEdit.amount = this.itemAfterEdit.rate;
      } else if (this.itemAfterEdit.name === "Address") {
        this.itemAfterEdit.amount = '';
      } else {
        this.itemAfterEdit.amount = this.itemAfterEdit.rate * this.itemAfterEdit.qty;
      }
    },
    generatedRate: function(event) {
      if (this.itemAfterEdit.name !== 'Address') {
        let rateArr = this.itemAfterEdit.rate.toString().split('');
        if (this.itemAfterEdit.type.name === "discount") {
          if (rateArr[0] === '-') {
            this.itemAfterEdit.rate = this.itemAfterEdit.rate;
          } else {
            this.itemAfterEdit.rate = `-${this.itemAfterEdit.rate}`;
          }
        } else if (rateArr[0] === '-' && rateArr.length <= 1) {
          this.itemAfterEdit.rate = '-1';
        } 
      }
    },
    generatedQty: function() {
      if (this.itemAfterEdit.type.name === "discount") {
        this.itemAfterEdit.qty = '';
      }
    },
    catchRate: function(val) {
      if (val[0] === '.' && !this.$v.itemAfterEdit.rate.$invalid || val === '-' || val[0] === '-' && val[1] === '.' && !this.$v.itemAfterEdit.rate.$invalid || val[0] === '0' && val[1] !== '.' || val[0] === '-' && val[1] === '0' && val[2] !== '.' && !this.$v.itemAfterEdit.rate.$invalid) {
        this.$v.itemAfterEdit.rate.$touch();
      } else {
        this.$v.itemAfterEdit.rate.$reset();
      }
    },
    catchQty: function(val) {
      if (val[0] === '0' && val.length > 1 && !this.$v.itemAfterEdit.qty.$invalid) {
        this.$v.itemAfterEdit.qty.$touch();
      } else {
        this.$v.itemAfterEdit.qty.$reset();
      }
    },
    resetErrors: function() {
      this.$v.itemAfterEdit.qty.$reset();
      this.$v.itemAfterEdit.rate.$reset();
    }
  }
};
</script>

<style src="./assets/invoice_edit_popup.scss" scoped lang="scss"></style>
