<template src="./templates/invoice_buttons.html"></template>

<script>
export default {
  props: ['invoiceWorkorder']
}
</script>

<style src="./assets/invoice_buttons.scss" lang="sass" scoped></style>

