<template src="./templates/invoice_popup.html"></template>

<script>
import { numeric, required, integer, maxLength, decimal } from "vuelidate/lib/validators";

export default {
  name: "popup",
  props: ["selectedPopupItem"],
  data: function() {
    return {
      invoiceItemOnCreate: this.selectedPopupItem
    };
  },
  validations() {
    if (this.invoiceItemOnCreate.type.name === 'discount') {
      return {
        invoiceItemOnCreate: {
          rate: {
            decimal,
            required
          },
          qty: {
            numeric
          },
          description: {
            maxLength: maxLength(255)
          }
        },
        validationGroup: [
          "invoiceItemOnCreate.qty",
          "invoiceItemOnCreate.rate",
          "invoiceItemOnCreate.description"
        ]
      }
    } else if (this.invoiceItemOnCreate.name === 'Address') {
      return {
        invoiceItemOnCreate: {
          rate: {
            decimal
          },
          qty: {
            numeric
          },
          description: {
            maxLength: maxLength(255)
          }
        },
        validationGroup: [
          "invoiceItemOnCreate.qty",
          "invoiceItemOnCreate.rate",
          "invoiceItemOnCreate.description"
        ]
      }
    } else {
      return {
        invoiceItemOnCreate: {
          rate: {
            decimal,
            required
          },
          qty: {
            numeric,
            required
          },
          description: {
            maxLength: maxLength(255)
          }
        },
        validationGroup: [
          "invoiceItemOnCreate.qty",
          "invoiceItemOnCreate.rate",
          "invoiceItemOnCreate.description"
        ]
      }
    }
  },
  watch: {
    selectedPopupItem: function() {
      console.log(1);
    }
  },
  methods: {
    invoiceAddNewItem: function(event) {
      if (this.$v.validationGroup.$invalid || this.$v.invoiceItemOnCreate.rate.$anyDirty || this.$v.invoiceItemOnCreate.qty.$anyDirty) {
        this.$v.validationGroup.$touch();
        return;
      }
      $("#addItemToInvoiceForm").modal("hide");
      this.generatedRate();
      this.generatedQty();
      // this.$emit("invoice-popup-item", this.invoiceItemOnCreate);
      this.$parent.$refs.invoiceTable.addInvoiceItem(this.invoiceItemOnCreate);
    },
    generatedRate: function(event) {
      let rateArr = String(this.invoiceItemOnCreate.rate).split('');
      if (this.invoiceItemOnCreate.type.name === "discount") {
        if (rateArr[0] === '-') {
          this.invoiceItemOnCreate.rate = this.invoiceItemOnCreate.rate;
        } else {
          this.invoiceItemOnCreate.rate = `-${this.invoiceItemOnCreate.rate}`;
        }
      } else if (rateArr[0] === '-' && rateArr.length <= 1) {
        this.invoiceItemOnCreate.rate = '-1';
      } 
    },
    generatedQty: function() {
      if (this.invoiceItemOnCreate.type.name === "discount") {
        this.invoiceItemOnCreate.qty = '';
      }
    },
    catchRate: function(val) {
      if (val[0] === '.' && !this.$v.invoiceItemOnCreate.rate.$invalid || val === '-' || val[0] === '-' && val[1] === '.' && !this.$v.invoiceItemOnCreate.rate.$invalid || val[0] === '0' && val[1] !== '.' || val[0] === '-' && val[1] === '0' && val[2] !== '.' && !this.$v.invoiceItemOnCreate.rate.$invalid) {
        this.$v.invoiceItemOnCreate.rate.$touch();
      } else {
        this.$v.invoiceItemOnCreate.rate.$reset();
      }
    },
    catchQty: function(val) {
      if (val[0] === '0' && val.length > 1 && !this.$v.invoiceItemOnCreate.qty.$invalid) {
        this.$v.invoiceItemOnCreate.qty.$touch();
      } else {
        this.$v.invoiceItemOnCreate.qty.$reset();
      }
    },
    resetErrors: function() {
      this.$v.invoiceItemOnCreate.qty.$reset();
      this.$v.invoiceItemOnCreate.rate.$reset();
    }
  }
};
</script>

<style src="./assets/invoice_popup.scss" lang="scss" scoped></style>
