<template src="./templates/search_field.html"></template>

<script>
export default {
  name: "search",
  props: ['invoiceItemsAvailable', 'isItemsVisible', 'loading', 'itemsLoadStatus'],
  data: function() {
    return {
      invoiceItemOnSelect: {}
    };
  },
  methods: {
    invoiceAutocomplete: function(e) {
      $(e.target)
        .autocomplete({
          source: (request, response) => {
            let res = [];
            function hasMatch(string) {
              return (
                string.toLowerCase().indexOf(request.term.toLowerCase()) !== -1
              );
            }
            if (this.invoiceItemsAvailable.length > 0) {
              this.invoiceItemsAvailable.map(item => {
                if (hasMatch(`${item.name} - ${item.description}`)) {
                  return res.push({
                    id: item.id,
                    name: item.name,
                    description: item.description || '',
                    type: {
                      name: item.type.name || ""
                    },
                    rate: item.rate || 0,
                    rateType: {
                      name: item.rateType.name || ""
                    },
                    qbId: item.qbId || ""
                  });
                }
              });
            }
            response(res);
          },
          minLength: 0,
          select: (event, ui) => {
            this.invoiceItemOnSelect = {
              id: ui.item.id,
              name: ui.item.name,
              description: ui.item.description,
              type: {
                name: ui.item.type.name.toLowerCase()
              },
              rate: ui.item.rate,
              rateType: {
                name: ui.item.rateType.name.toLowerCase()
              },
              qty: '1',
              amount: 0,
              qbId: ui.item.qbId
            };
            if (ui.item.type.name.toLowerCase() === 'discount') {
              this.invoiceItemOnSelect.qty = '';
            }
            if (ui.item.name === 'Address') {
              this.invoiceItemOnSelect.qty = '';
              this.invoiceItemOnSelect.rate = '';
            }

            this.$emit("selected-item", this.invoiceItemOnSelect);
            $("#addItemToInvoiceForm").modal("show");
            $(e.target)
              .change()
              .blur();
            $(e.target).val('');
            return false;
          },
          focus: (event, ui) => {
            event.preventDefault();
          },
          create: function() {
            $(this).data("ui-autocomplete")._renderItem = (ul, item) => {
              const isHyphen = item.description === '' ? '' : '-';
              return $("<li>")
                .append(`<div>${item.name} ${isHyphen} ${item.description}</div>`)
                .appendTo(ul);
            };
          }
        })
        .focus(e => {
          $(e.target).autocomplete("search", "");
        });
      $(e.target).autocomplete("search");
    }
  }
};
</script>

<style src="./assets/search_field.scss" lang="scss"></style>
