{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}

    <div class="app-main__page-title app-wrapper">
        <div class="app-main__page-title-name">
            {% block title %}Create new Device Named{% endblock %}
        </div>
    </div>

    <div class="app-form app-form--roles app-form--flex app-form--bordered">
        <div class="app-form-header">New Device Named</div>
        {{ form_start(form, {'attr' : { 'id' : 'createDeviceNamedForm', 'class' : 'app-form--full' }}) }}

            <div class="form-group">
                <label>Device name:<span class="app-required-label">*</span></label>
                {{ form_widget( form.name, { 'attr' : {
                    'class' : 'form-control mozilla-input',
                    'placeholder' : 'Device name'
                }}) }}
                {{ form_errors(form.name) }}
            </div>
            <div class="form-group">
                <label>Device alias:<span class="app-required-label">*</span></label>
                {{ form_widget( form.alias, { 'attr' : {
                    'class' : 'form-control mozilla-input',
                    'placeholder' : 'Device alias'
                }}) }}
                {{ form_errors(form.alias) }}
            </div>
            <div class="form-group">
                <label>Choose Device Parent:</label>
                {{ form_widget( form.parent, { 'attr' : {'class' : 'selectpicker form-control'}}) }}
                {{ form_errors(form.parent) }}
            </div>
            <div class="form-group">
                <label>Choose Device Category:<span class="app-required-label">*</span></label>
                {{ form_widget( form.category, { 'attr' : {'class' : 'selectpicker form-control'}}) }}
                {{ form_errors(form.category) }}
            </div>


            <div class="app-form-button--right">
                <button type="submit" id="create_device_named" class="app-form-button btn app-workorder-scheduling-button">CREATE</button>
                <a href="{{ path('admin_account_search') }}" class="app-form-button app-form-button--grey app-form-button--indent btn">CANCEL</a>
            </div>

        </form>
    </div>

    <div class="app-form-error">{{ form_errors(form) }}</div>
    <!-- Modal -->
    {{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
        'modalId' : 'createDeviceNamedModal',
        'message' : 'Are you sure you want to create Device Named?',
        'dataSubmit' : 'Yes'
    }) }}
{% endblock %}