{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}
    <div class="app-main__page-title app-wrapper">
        <div class="app-main__page-title-name">
            Workorder #{{ workorder.id }} Scheduling
        </div>
    </div>

    {{ include('AdminBundle:Opportunity:flash_messages.html.twig', {"app.session": app.session}) }}

    <div class="app-contact-list__container--main">
        <div class="app-form app-form--bordered app-view--max-width app-workorder-scheduling__container">
            <div class="app-form-header">Workorder Information</div>
            {{ form_start(form, {'attr': {'id' : 'woTechnicianForm', 'class': 'datepickerCheckValid app-workorder-scheduling__content-container app-view--max-width', 'method' : 'post'}}) }}

                <div class="app-workorder-scheduling__content-titles app-wrapper app-view--max-width">
                    <p class="app-workorder-scheduling__content-titles__text">Assigned technicians</p>
                    <a href="{{ path('admin_assigning_view_map_workorder', {'workorder': workorder.id}) }}" class="app-link__select"> Technicians nearby </a>
                </div>
                {% if events is not empty %}
                    <div class="app-wrapper app-workorder-scheduling__table-container">
                        <div class="content-account app-view--max-width">
                            <table class="table app-workorder-scheduling-table">
                                <thead class="app-color--inactive">
                                <tr>
                                    <th></th>
                                    <th>Start Time</th>
                                    <th class="app-workorder-scheduling-table__date-separator-th"></th>
                                    <th>End Time</th>
                                    <th class="app-workorder-scheduling-table__input-th app-text--align-center">Finishes WO</th>
                                    <th class="app-workorder-scheduling-table__input-th app-text--align-center">Split Workload</th>
                                    <th>Contractor Company</th>
                                    <th class="app-workorder-assigned-technicians__delete-technician"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for key, eventDate in events %}
                                    <tr class="app-workorder-scheduling-table__date-row">
                                        <td colspan="8">{{ key }}</td>
                                    </tr>
                                    {% for eventItem in  eventDate %}
                                        <tr class="app-workorder-scheduling-table__main-row">
                                            <td>
                                                <img class="app-workorder-scheduling-table__user-icon" src="{{ asset('bundles/admin/dist/images/contractor_user.svg') }}">
                                                <a href="{{ path('admin_contractor_user_view', {'contractorUser': eventItem.cUserId}) }}" target="_blank" class="app-link__select">{{ eventItem.userFName }} {{ eventItem.userLName }}</a>
                                            </td>
                                            <td class="app-workorder-scheduling-table__date-col">{{ eventItem.from }}</td>
                                            <td class="app-workorder-scheduling-table__date-separator-col">-</td>
                                            <td class="app-workorder-scheduling-table__date-col">{{ eventItem.to }}</td>
                                            <td class="app-text--align-center">

                                                {% if eventItem.canFinishWO %}
                                                    <input type="radio" id="" class="app-radio" checked="checked">
                                                    <label class="app-radio-label app-workorder-scheduling-table__input-th--checkbox" for=""></label>
                                                {% endif %}

                                                {% if not eventItem.canFinishWO and eventItem.opportunityToFinishWo %}
                                                    <input type="radio" id="" class="app-radio">
                                                    <label class="app-radio-label app-workorder-scheduling-table__input-th--checkbox" for="" data-link="{{ path('admin_change_can_finish_wo', {'workorder': workorder.id, 'event' : eventItem.id }) }}" data-target="#changecanFinishEventWo" data-toggle="modal" data-delete-technician></label>
                                                {% endif %}
                                            </td>
                                            <td class="app-text--align-center">
                                                {#<input type="checkbox" id="2" name="" required="required" class="app-checkbox-input"checked="checked">#}
                                                {#<label class="app-checkbox-label" for="2"></label>#}
                                            </td>
                                            <td>{{ eventItem.contractor }}</td>
                                            <td>
                                                {% if events | length > 1 or eventDate | length > 1 %}
                                                    <a href="#" data-link="{{ path('admin_workorder_detach_technician', {'event' : eventItem.id }) }}" data-target="#deleteTechnicianModal" data-toggle="modal" data-delete-technician><img alt="image delete" src="/bundles/admin/dist/images/delete.svg" class="app-cursor--pointer" border="0"></a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                     {% endfor %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% else %}
                    <div class="app-woview-scheduling__nodata">No Assigned Technicians</div>
                {% endif %}
                <div class="app-wrapper" style="display:none">
                    <table class="table app-workorder-scheduling-table-conclusion app-color--inactive">
                        <tbody>
                        <tr>
                            <td>Estimated time to complete Workorder:</td>
                            <td>18 work hours</td>
                        </tr>
                        <tr>
                            <td>Scheduled Technicians time:</td>
                            <td>16 work hours</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            <div><br></div>
                <div class="app-workorder-scheduling__content-titles app-view--max-width">Assign technician</div>
                <div class="app-wrapper">
                    <div class="form-group app-form-input--medium">
                        <label>Contractor:</label>
                        <div class="app-service-form__text-field form-control">American Backflow and Fire Prevention
                        </div>
                    </div>
                    <div class="form-group app-form-input--medium">
                        <label>Technician:<span class="app-required-label">*</span></label>
                        {{ form_widget(form.user, {'attr': {'class': 'selectpicker form-control mozilla-input'}}) }}
                    </div>
                </div>
                <div class="app-wrapper">
                    <div class="app-wrapper app-form-input--medium">
                        <div class="form-group app-form-input--medium">
                            {#<label class="app-checkbox-label app-workorder-scheduling-form--checkbox" for="565">Split Workload</label>
                            <input type="checkbox" id="565" name="" class="app-checkbox-input" >#}
                            {{ form_widget(form.isTimeCritical, {'attr': {'class': 'app-checkbox-input'}}) }}
                            {{ form_label(form.isTimeCritical, '',{'label_attr': {'class': 'app-checkbox-label app-workorder-scheduling-form--checkbox'}}) }}
                        </div>
                        <div class="form-group app-form-input--medium">
                            <label>Date:<span class="app-required-label">*</span></label>
                            <div class="app-opportunities-table-filter__select-container--date">
                                <input type="text" name="schedule[startDate]" id="scheduleStartDate" class="fromDates minToday app-validation-date form-control mozilla-input" required
                                    placeholder="MM/DD/YYYY">
                                <div class="clear-input-value"></div>
                            </div>
                        </div>
                    </div>
                    <div class="app-wrapper app-form-input--medium">
                     {#   <div class="form-group app-form-input--medium">
                            <label>End Date:<span class="app-required-label">*</span></label>
                            <div class="app-opportunities-table-filter__select-container--date">
                                <input type="text" name="schedule[endDate]" id="scheduleEndDate" class="toDates minToday app-validation-date form-control mozilla-input" required placeholder="MM/DD/YYYY">
                                <div class="clear-input-value"></div>
                            </div>
                        </div>#}
                        <div class="form-group app-form-input--medium">
                            <label>Start Time:<span class="app-required-label">*</span></label>
                            <select name="schedule[startTime]" id="scheduleStartTime" class="selectpicker form-control mozilla-input">
                                {% for time in times %}
                                    <option {{ 'value='~time|date('H:i') }} {{ time == '07:00 AM' ? 'selected' : ''}}>{{ time }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group app-form-input--medium">
                                <label>End Time:<span class="app-required-label">*</span></label>
                                <select name="schedule[endTime]" id="scheduleEndTime" class="selectpicker form-control mozilla-input">
                                    {% for time in times %}
                                        <option {{ 'value='~time|date('H:i') }} {{ time == '07:00 AM' ? 'selected' : ''}}>{{ time }}</option>
                                    {% endfor %}
                                </select>
                        </div>
                    </div>
                </div>
                <div class="app-wrapper app-wrapper--content-end">
                    <button type="submit" class="app-form-button btn app-workorder-scheduling-button">ASSIGN TECHNICIAN</button>
                    <a href="{{ path(previousPage, {'workorder' : workorder.id}) }}" class="app-form-button
                    app-form-button--grey app-form-button--indent btn">COMPLETE</a>
                </div>
            </form>
        </div>
    </div>
    <!--  Work with map   -->

    <!-- ----- -->

    <!-- Modal -->
    {{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
        'modalId' : 'deleteTechnicianModal',
        'message' : 'Are you sure you want to Unassign this Technician from the Workoroder?',
        'buttonYesHref' : "#",
        'oneClick' : 'Yes'
    }) }}

    {{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
        'modalId' : 'woTechnicianModal',
        'message' : 'Are you sure you want to assign this technician to the Workorder?',
        'dataSubmit' : 'Yes'
    }) }}

    {{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
        'modalId' : 'changecanFinishEventWo',
        'message' : 'Are you sure to want to change technician who will finish WO?',
        'buttonYesHref' : "#",
        'oneClick' : 'Yes'
    }) }}

{% endblock %}