{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}

    <div class="app-main__page-title app-wrapper">
        <div class="app-main__page-title-name">
            Creating
            <img class="app-service-form__header-icon" src="{{ asset('bundles/admin/dist/images/'~proposal.division.icon) }}"> {{ proposal.division.name }} Retest Workorder for
            <img class="app-link__icon" src="{{ asset('bundles/admin/dist/images/'~((proposal.account.type.alias == 'account') ? 'site.svg' : 'group_site.svg')) }}" alt="image account">
            <a class="app-link__title app-role__title" target="_blank" href="{{ path('admin_account_get', {'accountId' :proposal.account.id}) }}">{{ proposal.account.name }}</a>
        </div>
    </div>

    <div class="app-form app-workorder-form app-form--flex app-form--bordered">
        <div class="app-form-header">Workorder Information</div>
        {{ form_start(form, {'attr' : { 'id' : 'workorderForm', 'class' : 'app-form--full' , 'autocomplete': 'off'}}) }}
            <div class="form-group app-workorder-form__title">
                Step 1. Please check if account information is correct and update it
            </div>
            <div class="app-wrapper form-group app-workorder-form__block">
                <a href="{{ path('admin_account_get', {'accountId' :proposal.account.id}) }}" target="_blank" class="app-link__table-button app-workorder-form__button	btn workorder-buttons">
                    Go to Account Page
                </a>
                <div class="app-workorder-form__warning app-wrapper">
                    <div class="app-contact-list__warning--large">
                        <img class="app-contact-list__warning app-contact-list__warning--large" alt="warning image" src="{{ asset('bundles/admin/dist/images/warning.svg') }}">
                    </div>
                    <div class="app-workorder-form__warning-text">Workorder information will be taken from account page. Please double check that the following information about account
                        is up to date - {{ proposal.division.name }} Authorizer, Access Contact Persons on all sites, Special Billing information (if present).
                    </div>
                </div>
            </div>
            <div class="form-group app-workorder-form__title">
                Step 2. Please select services to be included in Workorder and check if prices are correct
            </div>
            <div class="form-group app-workorder-form__block" data-bind="with: WorkorderViewModel">
                <table data-serviceCount="{{ proposal.servicesCount }}" class="table app-data__table app-data__table--dark app-notice-form__table app-proposal-table__separator">
                    <thead>
                        <tr class="app-color--inactive">
                            <th></th>
                            <th colspan="2">Service Name</th>
                            <th>Comments</th>
                            <th>Inspection Due</th>
                            <th colspan="2">Service Fee</th>
                            <th class="app-workorder-form__fee">Municipality Fee</th>
                            <th class="app-workorder-form__fee">Processing Fee</th>
                            <th>Subtotal Fee</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    {% set i = 0 %}
                    <tbody>
                        {% for item in servicesByAccounts %}
                            <tr>
                                <td colspan="7">
                                    <div class="app-wrapper">
                                        <div class="app-detailed__info app-wrapper">
                                            <div class="app-detailed__info__img app-detailed__info__img--site app-notice-form__table-account-img" style="background-image: url('{{ asset('/bundles/admin/dist/images/'~((item.account.type.alias == 'account') ? 'site.svg' : 'group_site.svg')) }}')"></div>
                                            <div>
                                                <a class="app-link__select app-link__title" href="{{ path('admin_account_get', {'accountId' : item.account.id}) }}">{{ item.account.name }}</a>
                                                <span class="app-color--inactive"> - {{ item.account.address | address }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            {% for device_item in item.devices %}
                                <tr>
                                    <td colspan="12">
                                        <div class="app-wrapper app-notice-form__table-device">
                                            <div>
                                                <img class="app-line--right-text" src="{{ asset('bundles/admin/dist/images/'~device_item.device.named.category.icon) }}" alt="{{ device_item.device.named.category.alias }}">
                                                <span class="app-line--align ">
                                                <a class="app-link__select app-link__title" href="{{ path('admin_device_view', {'device' : device_item.device.id}) }}">{{ device_item.device.title }}</a>
                                                <span class="app-color--inactive">{{ (device_item.device.comments) ? '- '~ device_item.device.comments : '' }}</span>
                                            </span>
                                                <span class="app-devices-table__device-info app-line--align {{ device_item.device.deleted ? 'app-deleted' : ''}}">- {{ device_item.device | deviceInfo | raw }}
                                            </span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% for service in device_item.services %}
                                    <tr data-bind="initId: services()[{{ i }}].id, initIncluded: services()[{{ i }}].included" data-id="{{ service.id }}" data-included="{{ service.status.alias == 'under_retest_opportunity' ? 'false' : 'true' }}" class="{{ service.deleted ? 'app-deleted' : ''}}">
                                        <td></td>
                                        <td class="app-no-padding--right">
                                            <img class="app-devices-table__service-img" src="{{ asset('bundles/admin/dist/images/service.svg') }}">
                                        </td>
                                        <td class="app-no-padding--left">{{ service.named.name }}</td>
                                        <td class="app-word-breack">{{ (service.comment) ? service.comment : '-' }}</td>
                                        <td>{{ service.inspectionDue | date('m/d/Y') }}</td>
                                        <td data-bind="initValue: services()[{{ i }}].serviceFee, text: services()[{{ i }}].serviceFee">${{ service.fixedPrice }}</td>
                                        <td class="app-devices-table__nav-icons app-no-padding--left">
                                            {% if service.status.alias != 'under_retest_opportunity' %}
                                            <a data-bind="click: services()[{{ i }}].setServiceFee" href="{{ path("admin_department_channel_update", {'departmentChannel': service.departmentChannel.id  }) }}">
                                                <img class="app-workorder-form__edit" src="{{ asset('bundles/admin/dist/images/edit.svg') }}">
                                            </a>
                                            {% endif %}
                                        </td>
                                        <td data-bind="initValue: services()[{{ i }}].municipalityFee, text: services()[{{ i }}].municipalityFee">
                                            {{ service.named.isNeedMunicipalityFee
                                            and service.departmentChannel
                                            and service.departmentChannel.feesBasis
                                            and service.departmentChannel.feesBasis.alias == 'per device'
                                            and service.departmentChannel.uploadFee ? '$' ~ service.departmentChannel.uploadFee : '-' }}
                                        </td>
                                        <td data-bind="initValue: services()[{{ i }}].processingFee, text: services()[{{ i }}].processingFee">{{ service.named.isNeedMunicipalityFee
                                            and service.departmentChannel
                                            and service.departmentChannel.feesBasis
                                            and service.departmentChannel.feesBasis.alias == 'per device'
                                            and service.departmentChannel.processingFee ? '$' ~ service.departmentChannel.processingFee : '-' }}
                                        </td>
                                        <td data-bind="text: services()[{{ i }}].servicePrice()">${{ service.named.isNeedMunicipalityFee
                                            and service.departmentChannel
                                            and service.departmentChannel.feesBasis
                                            and service.departmentChannel.feesBasis.alias == 'per device'
                                            and (service.departmentChannel.uploadFee
                                            or service.departmentChannel.processingFee)
                                            ? service.departmentChannel.processingFee + service.departmentChannel.uploadFee + service.fixedPrice : service.fixedPrice }}</td>
                                        {% if service.status.alias != 'under_retest_opportunity' %}
                                            <td class="app-workorder-form__button-table">
                                                <a href="#" data-link="{{ path('admin_skip_service', { 'service' : service.id }) }}" data-target="#skipService" data-toggle="modal" class="app-modal-link app-link__table-button app-proposal-logs__button--red btn app-workorder-form__skip-reset-button" id="skipValid">Skip Service</a>
                                            </td>
                                            <td class="app-workorder-form__button-table">
                                                <a href="#" data-link="{{ path('admin_service_reset_next_time', {'service': service.id, 'proposal': proposal.id }) }}" data-target="#resetService" data-toggle="modal" class="app-modal-link app-link__table-button app-proposal-logs__button--red btn app-workorder-form__skip-reset-button">Reset Service</a>
                                            </td>
                                        {% else %}
                                            <td class="app-workorder-form__button-table">
                                                Skipped
                                            </td>
                                            <td class="app-workorder-form__button-table"></td>
                                        {% endif %}
                                    </tr>
                                    {%  set i = i + 1 %}
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                        <tr>
                            <td colspan="5" class="app-notice-form__table-total app-color--inactive app-line--align">
                                Total Service Fee:
                                {{ form_widget(form.totalServiceFee, {'attr': {'data-bind': "value: totalServicesFee()", 'class': 'form-control', 'value': proposal.serviceTotalFee}}) }}
                            </td>
                            <td data-bind="text: totalServicesFee()" colspan="2" class="app-notice-form__table-price app-line--align"></td>
                            <td colspan="2" class="app-notice-form__table-total app-color--inactive app-line--align">
                                Grand Total:
                                {{ form_widget(form.grandTotal, {'attr': {'data-bind': "value: grandTotal()", 'class': 'form-control', 'value': proposal.grandTotal}}) }}
                            </td>
                            <td id="initTotal" data-initTotal="${{ proposal.grandTotal }}" colspan="3">
                                <span class="app-font--medium app-font--bold app-line--align-bottom" data-bind="text: grandTotal()"></span>
                                <span class="tooltip-warning-container">
                                <img data-bind="visible: showFeeWarning" class="app-contact-list__warning app-contact-list__warning--large tooltipWarning" data-toggle="tooltip" data-placement="top" title="Workorder Grand Total fee is different from previously
                                suggested Retest Notice Fee which is ${{ proposal.grandTotal }}" alt="warning image" src="{{ asset('bundles/admin/dist/images/warning.svg') }}">
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="form-group app-workorder-form__title">
                Step 3. Please specify who authorizes this Workorder *
            </div>
            <div class="app-workorder-form__authorizer form-group">
                {{ form_widget(form.authorizer, {'attr': {'class': 'selectpicker form-control mozilla-input'}}) }}
            </div>
            <div class="app-wrapper form-group app-workorder-form__block">
                <a href="{{ path('admin_contact_person_quick_create', {'account' : proposal.account.id, 'proposal': proposal.id }) }}" class="app-link__table-button btn">
                    Quick Add Person to Account
                </a>
                <div class="app-workorder-form__warning app-wrapper">
                    <div>
                        <img class="app-contact-list__warning app-contact-list__warning--large" alt="warning image" src="{{ asset("bundles/admin/dist/images/warning.svg") }}">
                    </div>
                    <div class="app-workorder-form__warning-text">Please note that Quick adding new person will add this person to the Account as an Account Contact Person with no roles and responsibilities. To add person with roles and responsibilities please go the Account Page.
                    </div>
                </div>
            </div>
            <div class="form-group app-workorder-form__title">
                Step 4. Please give any special directions for the testers for this Workorder (Workorder Directions)
            </div>
            <div class="form-group">
                {{ form_widget(form.directions, { 'attr' : {'class': 'app-textarea--big form-control', 'placeholder': 'Workorder Directions'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.internalComment) }}
                {{ form_widget(form.internalComment, { 'attr' : {'class': 'app-form__textarea--small form-control', 'placeholder': 'Internal Comment'}}) }}
            </div>
            <div class="app-workorder-form__block"></div>
            <div class="form-group app-workorder-form__title">
                Step 5. Please select payments method for this Workorder
            </div>
            <div class="app-wrapper app-wrapper--content-start">
                <div class="app-workorder-form__authorizer">
                    {{ form_widget(form.paymentMethod, {'attr': {'class': 'selectpicker form-control mozilla-input'}}) }}
                </div>
                {% if proposal.account.specialDiscount %}
                    <div class="app-workorder-form__warning-cod app-wrapper">
                        <img class="app-contact-list__warning app-contact-list__warning--large" alt="warning image" src="/bundles/admin/dist/images/warning_red.svg">
                        <div class="app-workorder-form__warning-text">Please note that Account has Special Discount.</div>
                    </div>
                {% endif %}
            </div>
            <div class="app-workorder-form__block"></div>
            <div class="app-form-button--right">
                <button type="submit" class="app-form-button btn ">CREATE</button>
                <a href="{{ path('admin_'~ proposal.type.alias ~'_proposal_view', {'proposal': proposal.id}) }}" class="app-form-button app-form-button--grey app-form-button--indent btn">CANCEL</a>
            </div>
        {{ form_end(form, {'render_rest': false}) }}
    </div>

    <div class="app-form-error"></div>

     <!-- Modal -->
    {{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
        'modalId' : 'workorderModal',
        'message' : 'Are you sure you want to create this Workorder?',
        'dataSubmit' : 'Yes'
    }) }}

    <!-- Modal -->
    {{ include('AdminBundle:layouts/dialogs:infoDialog.html.twig', {
        'modalId' : 'workorderPreventDefault',
        'message' : 'There are no services to be included into the Workorder. Workorder cannot be created.'
    }) }}

        <!-- Modal -->
    {{ include('AdminBundle:layouts/dialogs:feeDialog.html.twig', {
        'modalId' : 'serviceFeeModal',
        'message' : 'Please enter new price for service.',
        'modalFormId' : 'serviceFeeForm',
        'commentFieldName' : 'fee'
    }) }}

     <!-- Modal -->
    {{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
        'modalId' : 'skipService',
        'message' : 'Are you sure you want to skip this service and not include it into the Workorder? Please note you won’t be able to undo this action.',
        'buttonYes' : 'modalYes',
        'buttonYesHref' : '#'
    }) }}

     <!-- Modal -->
    {{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
        'modalId' : 'resetService',
        'message' : 'Are you sure you want to reset this service to next time and not include it into the Workorder? Please note you won’t be able to undo this action.',
        'buttonYes' : 'modalYes',
        'buttonYesHref' : '#'
    }) }}

{% endblock %}