{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}
    <div class="app-main__page-title app-wrapper">
        <div class="app-main__page-title-name">
            Editing General Workorder Information
        </div>
    </div>
    <div class="app-form app-form--flex app-form--bordered">
        <div class="app-form-header">General Workorder Information</div>
        {{ form_start(form, {'attr': {'class':'app-form--wide', 'autocomplete': 'off', 'id' : 'editGeneralWorkorderInfo'}}) }}
            {#<div class="form-group app-workorder-form__title">
                Please check if account information is correct and update it
            </div>
            <div class="app-wrapper form-group app-workorder-form__block">
                <a href="{{ path('admin_account_get', {'accountId' : account.ownerEntity is defined ? account.ownerEntity.id : account.id }) }}" target="_blank"
                   class="app-link__table-button app-workorder-general-info__account-button	btn workorder-buttons"
                   data-original-title="" title="">
                    Go to Account Page
                </a>
                <div class="app-workorder-edit__warning app-wrapper">
                    <div class="app-contact-list__warning--large">
                        <img class="app-contact-list__warning app-contact-list__warning--large" alt="warning image"
                             src="/bundles/admin/dist/images/warning.svg">
                    </div>
                    <div class="app-workorder-form__warning-text">Workorder information will be taken from account page.
                        Please double check that the following information about account
                        is up to date - Backflow Authorizer, Access Contact Persons on all sites, Special Billing
                        information (if present).
                    </div>
                </div>
            </div>#}
            <div class="app-view--max-width app-workorder-form__block">
                <label>Not included:</label>
                <div class="app-proposal-current-deficiency__container content-account mCustomScrollbar">
                    <table class="table app-proposal-add-deficiency__table-list app-view--max-width app-data__table">
                        <tbody>
                        {% for key, item in form.notIncludedItems %}
                            {% set notIncluded = form.notIncludedItems.vars.choices[key].data %}
                            <tr>
                                <td>
                                    {{ form_widget(item, {'attr' : {'class' : 'app-checkbox-input', 'hidden' : 'hidden'}}) }}
                                    <label class="app-checkbox-label" for="{{ item.vars.id }}">{{ notIncluded.name }}</label>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="app-wrapper app-workorder-form__block">
                <div class="app-form-input--medium">
                    <label>Payments Terms:</label>
                    <div class="app-service-form__text-field form-control">
                        {{ account.paymentTerm ? account.paymentTerm.name : '' }}
                    </div>
                </div>
                <div class="app-form-input--medium">
                    <label>Payments Method:</label>
                    {{ form_widget(form.paymentMethod, {'attr': {'class': 'selectpicker form-control mozilla-input'}}) }}
                </div>
            </div>
            <div class="app-workorder-form__block">
                <div class="app-view--max-width form-group">
                    {{ form_label(form.poNo) }}
                    {{ form_widget(form.poNo, { 'attr' : {'class': 'form-control mozilla-input', 'placeholder': 'P.O NO'}}) }}
                </div>
                <div class="app-view--max-width form-group">
                    {{ form_label(form.directions) }}
                    {{ form_widget(form.directions, { 'attr' : {'class': 'app-textarea--big form-control', 'placeholder': 'Workorder Directions', 'id': 'proposal_general_info_additionalComment'}}) }}
                </div>
                <div class="app-view--max-width form-group">
                    <label>{{ form_label(form.additionalComments) }}</label>
                    {{ form_widget(form.additionalComments, { 'attr' : {'class': 'app-textarea--big form-control', 'placeholder': 'Additional Comments', 'id': 'proposal_general_info_additionalComment'}}) }}
                </div>

                <div class="app-view--max-width form-group">
                    <label>{{ form_label(form.internalComment) }}</label>
                    {{ form_widget(form.internalComment, { 'attr' : {'class': 'app-textarea--big form-control', 'placeholder': 'Internal Comments', 'id': 'proposal_general_info_internalComment'}}) }}
                </div>

                <div class="app-view--max-width">
                    <label>{{ form_label(form.additionalCostComment) }}</label>
                    {{ form_widget(form.additionalCostComment, { 'attr' : {'class': 'app-textarea--big form-control', 'placeholder': 'Additional Cost Comment', 'id': 'proposal_general_info_additionalCostComment'}}) }}
                </div>
            </div>
            <div class="app-wrapper app-workorder-form__block">
                <div class="app-form-input--third">
                    <label>{{ form_label(form.afterHoursWorkCost) }}</label>
                    {{ form_widget( form.afterHoursWorkCost, { 'attr' : {
                        'class' : 'form-control mozilla-input app-validation-currency',
                        'placeholder' : '$0'
                    }}) }}
                </div>
                <div class="app-form-input--third">
                    <label>{{ form_label(form.additionalServicesCost) }}</label>
                    {{ form_widget( form.additionalServicesCost, { 'attr' : {
                        'class' : 'form-control mozilla-input app-validation-currency',
                        'placeholder' : '$0'
                    }}) }}
                </div>
                <div class="app-form-input--third">
                    <label>{{ form_label(form.discount) }}</label>
                    {{ form_widget( form.discount, { 'attr' : {
                        'class' : 'form-control mozilla-input app-validation-currency',
                        'placeholder' : '$0'
                    }}) }}
                </div>
            </div>
            <div class="app-workorder-form__block">
                <div class="app-wrapper app-line--padding-bottom">
                    <div class="app-form-input--second">
                        <label>Who authorizes this Workorder:</label>
                        {{ form_widget(form.authorizer, {'attr': {'class': 'selectpicker form-control mozilla-input'}}) }}
                    </div>
                    <div class="app-workorder-edit__button-container app-form-input--third">
                        <a href="{{ path('admin_contact_person_quick_create', {'account' : account.id, 'workorder': workorder.id }) }}" class="app-link__table-button app-workorder-edit__button btn">
                            Quick Add Person to Account
                        </a>
                    </div>
                </div>
                <div class="app-wrapper">
                    <div class="app-contact-list__warning--large">
                        <img class="app-contact-list__warning app-contact-list__warning--large" alt="warning image" src="/bundles/admin/dist/images/warning.svg">
                    </div>
                    <div class="app-workorder-form__warning-text">Please note that Quick adding new person will add this person to the Account as an Account Contact Person with no roles and responsibilities. To add person with roles and responsibilities please go to the Account Page.</div>
                </div>
            </div>
            <div class="app-form-button--right">
                <button type="submit" class="app-form-button btn ">SAVE</button>
                <a href="{{ path('admin_workorder_view', {'workorder' : workorder.id}) }}"
                   class="app-form-button app-form-button--grey app-form-button--indent btn" data-original-title=""
                   title="">CANCEL</a>
            </div>
        {{ form_end(form) }}
    </div>

    <!-- Modal -->
    {{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
        'modalId' : 'editingGeneralWorkorderInfoModal',
        'message' : 'Are you sure you want to edit General Workorder Information?',
        'dataSubmit' : 'Yes'
    }) }}
{% endblock %}