<form id="filter-opportunities-form">
    <div class="app-wrapper app-filter-form app-filter-form--big app-bordered--shadow">
        <div class="app-opportunities-table-filter__inputs-container">
            <div class="app-opportunities-table-filter__inputs--select">
                <div class="app-opportunities-table-filter__select-label">
                    <label class="app-color--inactive app-line--right-text">Show Division:</label>
                </div>
                <div class="app-opportunities-table-filter__select-container">
                    <div class="btn-group bootstrap-select">
                        <select class="selectpicker" name="division" tabindex="-98">
                            <option value=""{{ filters.division is defined ? 'selected' : '' }}>All</option>
                            {% for division in allDivisions %}
                                <option value="{{ division.id }}"
                                        {{ (filters.division is defined) and (division.id == filters.division)
                                        ? 'selected'
                                        : '' }}
                                >
                                    {{ division.name }}
                                </option>
                            {% endfor %}
                            <option value="{{ allDivisions | alarm_fire_filter_ids }}"
                                    {{ (filters.division is defined) and (filters.division == allDivisions | alarm_fire_filter_ids)
                                    ? 'selected'
                                    : '' }}
                            >Fire and Alarm</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="app-opportunities-table-filter__inputs-container">
            <div class="app-opportunities-table-filter__inputs--select">
                <div class="app-opportunities-table-filter__select-label">
                    <label class="app-color--inactive app-line--right-text">Show Statuses:</label>
                </div>
                <div class="app-opportunities-table-filter__select-container">
                    <div class="btn-group bootstrap-select">
                        <select class="selectpicker" name="status" tabindex="-98">
                            <option value="" {{ filters.status is defined ? 'selected' : '' }}>All</option>
                            {% for status in allStatuses %}
                                <option value="{{ status.id }}"
                                        {{ (filters.status is defined) and (status.id == filters.status)
                                        ? 'selected'
                                        : '' }}
                                >
                                    {{ status.name | capitalize }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="app-opportunities-table-filter__inputs-container">
            <div class="app-opportunities-table-filter__inputs--select">
                <div class="app-opportunities-table-filter__select-label">
                    <label class="app-color--inactive app-line--right-text">Date From:</label>
                </div>
                <div class="app-opportunities-table-filter__select-container app-opportunities-table-filter__select-container--date">
                    {% if currentDayByDefault %}
                        <input type="text" name="date[from]" class="fromDates app-opportunities-table-filter__inputs--date app-validation-date form-control"
                               placeholder="MM/DD/YYYY" value="{{ "now"|date("m/d/Y") }}">
                    {% else %}
                        <input type="text" name="date[from]" class="fromDates app-opportunities-table-filter__inputs--date app-validation-date form-control"
                               placeholder="MM/DD/YYYY" value="{{ (filters.date is defined) and (filters.date.from is defined) ? filters.date.from : '' }}">
                    {% endif %}

                    <div class="clear-input-value"></div>

                </div>
            </div>
            <div class="app-opportunities-table-filter__inputs--select">
                <div class="app-opportunities-table-filter__select-label">
                    <label class="app-color--inactive app-line--right-text">Show Workorders:</label>
                </div>
                <div class="app-opportunities-table-filter__select-container">
                    <div class="btn-group bootstrap-select">
                        <select class="selectpicker" name="pagerCount" tabindex="-98">
                            <option value="50"{{ (filters.pagerCount is defined) and (filters.pagerCount == 50) ? 'selected': '' }}>50</option>
                            <option value="100"{{ (filters.pagerCount is not defined) or (filters.pagerCount == 100) ? 'selected': '' }}>100</option>
                            <option value="300"{{ (filters.pagerCount is defined) and (filters.pagerCount == 300) ? 'selected': '' }}>300</option>
                            <option value="500"{{ (filters.pagerCount is defined) and (filters.pagerCount == 500) ? 'selected': '' }}>500</option>
                            <option value="all"{{ (filters.pagerCount is defined) and (filters.pagerCount == 'all') ? 'selected': '' }}>All</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="app-opportunities-table-filter__inputs-container">
            <div class="app-opportunities-table-filter__inputs--select">
                <div class="app-opportunities-table-filter__select-label">
                    <label class="app-color--inactive app-line--right-text">Date To:</label>
                </div>
                <div class="app-opportunities-table-filter__select-container app-opportunities-table-filter__select-container--date">
                    {% if currentDayByDefault %}
                        <input type="text" name="date[to]"
                               class="toDates app-opportunities-table-filter__inputs--date app-validation-date form-control"
                               placeholder="MM/DD/YYYY" value="{{ "now"|date("m/d/Y") }}">
                    {% else %}
                        <input type="text" name="date[to]"
                               class="toDates app-opportunities-table-filter__inputs--date app-validation-date form-control"
                               placeholder="MM/DD/YYYY" value="{{ (filters.date is defined) and (filters.date.to is defined) ? filters.date.to : '' }}">
                    {% endif %}
                    <div class="clear-input-value"></div>
                </div>
            </div>
        </div>

        <div class="app-opportunities-table-filter__inputs-container app-wrapper--content-start app-filter-form__button--indent">
            <button type="submit" class="app-detailed__button app-opportunities-table-filter__button app-detailed__button--blue btn">Show</button>
        </div>
        {% if app.request.get('_route') == 'admin_account_workorders_get' %}
        <div class="app-opportunities-table-filter__inputs-container app-wrapper--content-start app-filter-form__button--indent app-filter-form__button-container app-wrapper--align-items-baseline">
            
                {% if (contacts.responsibilities | length == 0) or account|is_block_adding_custom_proposal_by_address_error %}
                    <a href="#"
                       data-target="#confirmAddToGenericWO"
                       data-toggle="modal"
                       class="app-detailed__button app-detailed__button--blue app-filter-form__button btn">
                        Add Generic Workorder
                    </a>
                {% else %}
                    <a href="#"  data-service-canupdate="true"
                       data-target="#createCustomProposal"
                       data-toggle="modal"
                       class="app-detailed__button app-detailed__button--blue app-filter-form__button btn"
                       data-link="{{ path('admin_proposal_create_custom_proposal', {'account': account.id}) }}" >
                        Add Generic Workorder
                    </a>
                {% endif %}
        </div>
        {% endif %}
    </div>
</form>