{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}
    <div class="app-main__page-title app-opportunities__header app-wrapper">
        <div class="app-main__page-title-name">Workorders</div>
        <div class="app-wrapper">
            <div class="app-common-information__data">{{ workorders.count }}
                <span class="app-font--small">Workorders</span>
            </div>
        </div>
    </div>
    {{ include('AdminBundle:Workorder:filter.html.twig', {"filters": filters, "allDivisions": allDivisions, "allStatuses": allStatuses, "forAccount": false }) }}

        {% if workorders.results|length %}
            <table class="table app-data__table app-workorder-list app-bordered--shadow app-data__table-haveFilter">
                <thead>
                <tr class="app-color--inactive">
                    <th>ID</th>
                    <th colspan="2">Division</th>
                    <th>City</th>
                    <th>Assigned Technicians</th>
                    <th colspan="2">Account</th>
                    <th>Inspect / Repairs</th>
                    {#<th># of Testers</th>#}
                    <th>Total Price</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% for groupedWorkorders in workorders.results %}
                    <tr>
                        <td colspan="12">
                            <div class="app-display--inline-block app-proposal-workorder-table-row">
                                {% if groupedWorkorders.from %}
                                    <span class="app-color--inactive">Date Scheduled:</span>
                                    <span class="app-line--padding-left">{{ groupedWorkorders.from | date('m/d/Y') }}</span>
                                {% else %}
                                    <span class="app-color--inactive">Not Scheduled</span>
                                {% endif %}
                            </div>
                            {#<div class="app-display--inline-block">#}
                                {#<span class="app-color--inactive">Total:</span>#}
                                {#<span class="app-line--padding-left">$12000</span>#}
                            {#</div>#}
                        </td>
                    </tr>

                    {% for workorder in groupedWorkorders.list %}
                        <tr>
                            <td class="app-font--uppercase">{{ workorder.id }}</td>
                            <td class="app-no-padding--right app-notice-list__division">
                                <img src="{{ asset('bundles/admin/dist/images/'~workorder.division.icon) }}">
                            </td>
                            <td class="app-link__title app-color--active app-no-padding--left app-word-breack">
                                <a href="{{ path('admin_workorder_view', {'workorder' : workorder.id}) }}" target="_blank" class="app-link__select">
                                    {{ workorder.division.name }} {{ workorder.type.name }}
                                </a>
                            </td>
                            <td class="">{{ workorder.account.address.city }}</td>
                            {% set technicians = '-' %}
                            {% if contractorUsers[workorder.id] is defined %}
                                {% for contractorUser in contractorUsers[workorder.id]  %}
                                    {% set oneTechnician = '<img src='~asset('bundles/admin/dist/images/contractor_user.svg')~' alt="f" class="app-workorder-assigned-technicians__technitian-list-icon">' ~ '<a href=' ~ path('admin_contractor_user_view', {'contractorUser':contractorUser.user.id}) ~ ' class="app-link__select " >' ~ contractorUser.user.firstName ~ ' ' ~ contractorUser.user.lastName ~ '</a>' %}
                                    {% if technicians != '-' and contractorUser is defined %}
                                        {% set technicians = technicians ~ '<span class="app-line--right-text">,</span>' ~ oneTechnician %}
                                    {% elseif contractorUser is defined %}
                                        {% set technicians = oneTechnician %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            <td class="app-workorder-assigned-technicians__techinitian-list-cell">{{ technicians | raw }}</td>
                            <td class="app-link__icon--company ">
                                <img src="{{ asset('bundles/admin/dist/images/'~((workorder.account.type.alias == 'group account') ? 'group_site.svg' : 'site.svg')) }}" alt="image account" class="app-data__table-data--icon">
                            </td>
                            <td class="app-no-padding--left ">
                                {% if workorder.isFrozen == true and workorder.accountHistory is defined%}
                                    {% set accountName = workorder.accountHistory.name %}
                                    {% set accountId = workorder.accountHistory.ownerEntity.id %}
                                {% else %}
                                    {% set accountName = workorder.account.name %}
                                    {% set accountId = workorder.account.id %}
                                {% endif %}
                                <a class="app-link__select app-line--right-text" href="{{ path('admin_account_get', {'accountId' : accountId}) }}">
                                    {{ accountName }}
                                </a>
                                {% if workorder.account.specialDiscount %}<span class="label label-warning">Special Discount</span>{% endif %}
                                {% if workorder.account.deleted %}<span class="label label-danger">Deleted</span>{% endif %}
                            </td>
                            <td>{{ workorder.totalInspectionsCount ? workorder.totalInspectionsCount : '-' }} / {{ workorder.totalRepairsCount ? workorder.totalRepairsCount : '-' }}</td>
                            <td>${{ (workorder.grandTotal - workorder.totalMunicAndProcFee) | money_format }}</td>
                            <td>
                                <span class="app-service-label tooltipWoTotalFee {{ workorder.status.cssClass }}" data-toggle="tooltip" data-placement="top" title="" data-workorder-id="{{ workorder.id }}">{{ (workorder.status) ? workorder.status.name : '-' }}</span>
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="app-data__not-found app-bordered--shadow">No Workorders</div>
        {% endif %}

    {% if workorders.pagesCount > 1 %}
        <div class="pagination  app-bordered--shadow">
            <a class="app-pagination-arrow{{ workorders.currentPage == 1 ? ' disabled' : '' }}" href="{{ path('admin_workorder_list', {
                'page' : workorders.currentPage - 1,
                'division' : filters.division is defined ? filters.division : '',
                'clientType' : filters.clientType is defined ? filters.clientType : '',
                'status' : filters.status is defined ? filters.status : '',
                'date' : filters.date is defined ? filters.date : '',
                'pagerCount' : filters.pagerCount is defined ? filters.pagerCount : '',
            }) }}">&laquo;</a>
            {% for i in range(1, workorders.pagesCount) %}
                <a href="{{ path('admin_workorder_list', {
                    'page' : i,
                    'division' : filters.division is defined ? filters.division : '',
                    'status' : filters.status is defined ? filters.status : '',
                    'clientType' : filters.clientType is defined ? filters.clientType : '',
                    'date' : filters.date is defined ? filters.date : '',
                    'pagerCount' : filters.pagerCount is defined ? filters.pagerCount : '',
                }) }}" {% if workorders.currentPage == i %} class="app-active-page" {% endif %}>{{ i }}</a>
            {% endfor %}
            <a class="app-pagination-arrow{{ workorders.currentPage == workorders.pagesCount ? ' disabled' : '' }}" href="{{ path('admin_workorder_list', {
                'page' : workorders.currentPage + 1,
                'division' : filters.division is defined ? filters.division : '',
                'clientType' : filters.clientType is defined ? filters.clientType : '',
                'status' : filters.status is defined ? filters.status : '',
                'date' : filters.date is defined ? filters.date : '',
                'pagerCount' : filters.pagerCount is defined ? filters.pagerCount : '',
            }) }}">&raquo;</a>
        </div>
    {% endif %}
{% endblock %}