{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}
    {{ include('AdminBundle:Opportunity:flash_messages.html.twig', {"app.session": app.session}) }}
    <div class="app-wrapper">
        <div class="app-proposal__main-info">
            <div class="app-detailed__wrapper heightDetector">
                <div class="app-proposal-main-info__container app-wrapper">
                    <div class="app-proposal-main-info__block-separator">
                        <div class="app-proposal-device app-detailed__info">
                            <div class="app-wrapper app-wrapper--content-start">
                                <div class="app-proposal-device-icon app-proposal-device-icon--device  app-wrapper"
                                     style="background-image: url('{{ asset('bundles/admin/dist/images/'~workorder.division.icon) }}')"></div>
                                <div class="app-proposal-device-titles">
                                    <div class="app-detailed__info__data-id app-device__info__data-id app-color--inactive">
                                        Workorder ID - {{ workorder.id }}
                                    </div>
                                    <div class="app-detailed__info__data-title app-cut-string">{{ workorder.division.name }}
                                        {% if workorder.type.alias == 'generic_workorder' %}
                                            {{ workorder.type.name }}
                                        {% else %}
                                            Workorder
                                        {% endif %}
                                    </div>
                                    <div class="app-detailed__info__data-id app-device__info__data-id app-proposal-device-titles__date--bottom-indent app-color--inactive">
                                        <span class="app-proposal-device-titles__date--width">Date Created:</span>
                                        <span class="app-color--white app-line--padding-right app-proposal-device-titles__date">{{ workorder.dateCreate | date('m/d/Y') }}</span>
                                    </div>
                                    <div class="app-detailed__info__data-id app-device__info__data-id app-proposal-device-titles__date--bottom-indent app-color--inactive">
                                        <span class="app-proposal-device-titles__date--width">Date Scheduled:</span>
                                        <span class="app-color--white app-line--padding-right app-proposal-device-titles__date">
                                            {% if (workorder.scheduledFrom and workorder.scheduledTo) and (workorder.scheduledFrom | date('m/d/Y') < workorder.scheduledTo | date('m/d/Y')) %}
                                                {{ workorder.ScheduledFrom | date('m/d/Y') ~' - '~workorder.scheduledTo | date('m/d/Y') }}
                                            {% elseif (workorder.scheduledFrom and workorder.scheduledTo) %}
                                                {{ workorder.ScheduledFrom | date('m/d/Y') }}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </span>
                                    </div>
                                    {#<div class="app-detailed__info__data-id app-device__info__data-id app-proposal-device-titles__date--bottom-indent app-color--inactive">#}
                                    {#<span class="app-proposal-device-titles__date--width">Time Scheduled:</span>#}
                                    {#<span class="app-color--white app-line--padding-right app-proposal-device-titles__date">{{ workorder.ScheduledFrom ? workorder.ScheduledFrom | date('h:i A') : '-' }}</span>#}
                                    {#</div>#}
                                    {#{% if workorder.events|length %}#}
                                    {#<div class="app-detailed__info__data-id app-device__info__data-id app-proposal-device-titles__date--bottom-indent app-color--inactive">#}
                                    {#<div class="app-float--left app-proposal-device-titles__date--width">Assigned Testers:</div>#}
                                    {#<div class="app-float--left">#}
                                    {#{% for event in workorder.events %}#}
                                    {#<div>#}
                                    {#<img class="app-contact-list__contact-icon" src="{{ asset('bundles/admin/dist/images/contractor_user.svg') }}" alt="image contact">#}
                                    {#<a href="{{ path('admin_contractor_user_view', {'contractorUser' : event.user.id }) }}" class="app-link__select app-link__title  app-line--right-text" >#}
                                    {#{{ event.user.user.lastName ~ ' ' ~ event.user.user.firstName }}#}
                                    {#</a>#}
                                    {#</div>#}
                                    {#{% endfor %}#}
                                    {#</div>#}
                                    {#</div>#}
                                    {#{% endif %}#}
                                    {#<div class="app-detailed__info__data-id app-device__info__data-id app-proposal-device-titles__date--bottom-indent app-color--inactive app-float--clear">
                                        <span class="app-proposal-device-titles__date--width">Payment Method:</span>
                                        <span class="app-color--white app-line--padding-right app-proposal-device-titles__date">
                                            {{ workorder.paymentMethod.name }}
                                        </span>
                                    </div>#}
                                    <div class="app-detailed__info__data-id app-device__info__data-id app-proposal-device-titles__date--bottom-indent app-color--inactive">
                                        {#<div class="app-float--left app-proposal-device-titles__date--width">Authorized by:</div>#}
                                        {#<div class="app-float--left app-proposal-workorder-icons--authorizer">#}
                                        {#<div>#}
                                        {#<img class="app-proposal-workorder-icons--contact" src="{{ asset('bundles/admin/dist/images/contact.svg') }}" alt="image contact">#}
                                        {#<a href="{{ path('admin_contact_person_get', {'contactPerson' : workorder.authorizer.contactPerson.id}) }}" class="app-link__select app-link__title  app-line--right-text" >#}
                                        {#{{ workorder.authorizer.contactPerson.firstName~' '~workorder.authorizer.contactPerson.lastName }}#}
                                        {#</a>#}
                                        {#</div>#}
                                        {#</div>#}
                                    </div>
                                    <div class="app-detailed__info__data-id app-device__info__data-id app-proposal-device-titles__date--bottom-indent app-float--clear">
                                        <span class="app-proposal-device-titles__date--width app-color--inactive">Status:</span>
                                        <span class="app-service-label {{ workorder.status.cssClass }}">{{ workorder.status.name }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="app-proposal-device">
                            <h1 class="app-proposal-main-info__title  app-proposal-main-info__title--scheduling app-color--inactive">
                                Scheduling</h1>
                            {% if events is not empty %}
                                <div class="app-woview-scheduling notes-account-content">
                                    <table class="app-woview-scheduling__table">
                                        {% for key, eventDate in events %}
                                            <tr class="app-woview-scheduling__date">
                                                <td colspan="2">{{ key }}</td>
                                            </tr>
                                            {% for eventItem in  eventDate %}
                                                <tr class="app-woview-scheduling__info">
                                                    <td class="app-woview-scheduling__contractor">
                                                        <div class="">
                                                            <img class="app-woview-scheduling__contractor-icon"
                                                                 src="{{ asset('bundles/admin/dist/images/contractor_user.svg') }}"
                                                                 alt="image contact"/>
                                                            <a href="{{ path('admin_contractor_user_view', {'contractorUser': eventItem.cUserId}) }}"
                                                               target="_blank"
                                                               class="app-link__select">{{ eventItem.userFName }} {{ eventItem.userLName }} </a> {{ eventItem.canFinishWO ? '<span class="app-color--inactive">(Finishes WO)</span>' : '' }}
                                                        </div>
                                                        <div class="app-color--inactive">{{ eventItem.contractor }}</div>
                                                    </td>
                                                    <td class="app-woview-scheduling__contractor-time">{{ eventItem.from }}
                                                        - {{ eventItem.to }}</td>
                                                </tr>
                                            {% endfor %}
                                        {% endfor %}
                                    </table>
                                </div>
                            {% else %}
                                {# No data begin #}
                                <div class="app-woview-scheduling__nodata">No Assigned Technicians</div>
                                {# No data end #}
                            {% endif %}
                        </div>

                    </div>
                    <div class="app-proposal-main-info__block-separator">
                        <div class="primary-account-block">
                            <h1 class="app-proposal-main-info__title app-proposal-main-info__title--forproperty app-color--inactive">
                                For Property</h1>
                            <div class="app-proposal-account app-detailed__info">
                                <div class="app-wrapper app-wrapper--content-start">
                                    <div class="app-proposal-device-icon app-proposal-device-icon--account app-proposal-account__icon app-wrapper {{ workorder.account.type.alias == 'group account' ? 'app-proposal-device-icon--group' : '' }}"
                                         style="background-image: url('{{ asset('bundles/admin/dist/images/'~((workorder.account.type.alias == 'group account') ? 'group_site.svg' : 'site.svg')) }}')"></div>
                                    <div class="app-proposal-device-titles">
                                        <div class="app-detailed__info__data-id app-device__info__data-id app-color--inactive">
                                            {% if account.type.alias == 'group account' %}Group{% else %}Site{% endif %}
                                            Account ID - {{ account.id }}
                                        </div>
                                        <div class="app-proposal-account__title app-cut-string">
                                            <a href="{{ path('admin_account_get', {'accountId' : account.ownerEntity is defined ? account.ownerEntity.id : account.id }) }}"
                                               class="app-link__select app-link__title app-contact-list__contact-name app-line--right-text">{{ account.name }}</a>
                                            {% if workorder.account.specialDiscount %}<span class="label label-warning">Special Discount</span>{% endif %}
                                            {% if workorder.account.deleted %}<span
                                                    class="label label-danger">Deleted</span>{% endif %}
                                        </div>
                                        <div class="app-detailed__info__data-id app-device__info__data-id">
                                            {{ account.address | address }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="primary-account-block">
                            <h1 class="app-proposal-main-info__title app-proposal-main-info__title--authorizer app-color--inactive">
                                Account {{ workorder.division.name }} Authorizer</h1>
                            {% if accountAuthorizer %}
                                <div class="primary-account-block__separator">
                                    <div class="primary-account-block__separator">
                                        <div class="primary-account-block__separator__content app-proposal-person--width">
                                            <span>
                                              <img class="app-contact-list__contact-icon mCS_img_loaded"
                                                   src="{{ asset('bundles/admin/dist/images/contact.svg') }}"
                                                   alt="image contact">
                                              <a class="app-link__select app-link__title app-contact-list__contact-name app-line--right-text"
                                                 target="_blank"
                                                 href="{{ path('admin_contact_person_get', {'contactPerson' : accountAuthorizer.contactPerson.ownerEntity is defined ? accountAuthorizer.contactPerson.ownerEntity.id : accountAuthorizer.contactPerson.id}) }}">{{ accountAuthorizer.contactPerson.firstName~' '~accountAuthorizer.contactPerson.lastName }}</a>
                                            </span>
                                        </div>
                                        <div class="app-proposal-person--bottom-indent app-view--max-width">
                                            <div class="app-line--colored">
                                                <span class="{{ accountAuthorizer.contactPerson.title ? '' : 'app-color--inactive' }}">{{ accountAuthorizer.contactPerson.title ? accountAuthorizer.contactPerson.title : 'No Title' }}</span>
                                                at
                                                <span>
                                                    <img class="app-contact-list__company-icon"
                                                         src="{{ asset('bundles/admin/dist/images/company.svg') }}"
                                                         alt="image contact">
                                                    {% if accountAuthorizer.contactPerson.company %}
                                                        <a class="app-link__select app-weight--bold app-line--right-text app-word-breack"
                                                           target="_blank"
                                                           href="{{ path('admin_company_get', { 'company': accountAuthorizer.contactPerson.company.id }) }}">
                                                            {{ accountAuthorizer.contactPerson.company.name }}
                                                        </a>
                                                    {% else %}
                                                        <span class="app-color--inactive">No Company selected</span>
                                                    {% endif %}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="primary-account-block__separator">
                                        <div class="primary-account-block__separator__content_phone app-view--max-width app-proposal-person--bottom-indent">
                                            <div class="app-contact-main__line{{ accountAuthorizer.contactPerson.phone ? '' : ' app-color--inactive' }}">
                                                <div class="sprite sprite--phone"></div>
                                                <div class="app-contact-main__line-text">
                                                    {{ (accountAuthorizer.contactPerson.phone) ? accountAuthorizer.contactPerson.phone | phone : 'No Phone' }}
                                                    {% if accountAuthorizer.contactPerson.phone and accountAuthorizer.contactPerson.ext %}
                                                        <span class="app-line--padding-left">
                                                            <span class="app-color--inactive">Ext.:</span>
                                                            {{ accountAuthorizer.contactPerson.ext }}
                                                        </span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="app-contact-main__line{{ accountAuthorizer.contactPerson.cell ? '' : ' app-color--inactive' }}">
                                                <div class="sprite sprite--mobile"></div>
                                                <div class="app-contact-main__line-text 5672440987">
                                                    {{ (accountAuthorizer.contactPerson.cell) ? accountAuthorizer.contactPerson.cell | phone : 'No Cell' }}
                                                </div>
                                            </div>
                                            <div class="app-contact-main__line{{ accountAuthorizer.contactPerson.fax ? '' : ' app-color--inactive' }}">
                                                <div class="sprite sprite--fax"></div>
                                                <div class="app-contact-main__line-text 3437774444">
                                                    {{ (accountAuthorizer.contactPerson.fax) ? accountAuthorizer.contactPerson.fax | phone : 'No Fax' }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class=" app-view--max-width">
                                            <div class="app-contact-main__line{{ accountAuthorizer.sendingAddress is defined and accountAuthorizer.sendingAddress | address ? '' : ' app-color--inactive' }}">
                                                <div class="sprite sprite--mail"></div>
                                                <div class="app-contact-main__line-text app-cut-string">
                                                    {% if accountAuthorizer.sendingAddress is defined and accountAuthorizer.sendingAddress | address %}
                                                        {{ accountAuthorizer.sendingAddress | address }} ({{ accountAuthorizer.sendingAddress.addressType.name }})
                                                    {% else %}
                                                        No Address (Personal Address)
                                                    {% endif %}
                                                </div>
                                            </div>

                                            <div class="app-contact-main__line{{ accountAuthorizer.contactPerson.email ? '' : ' app-color--inactive' }}">
                                                <div class="sprite sprite--dog"></div>
                                                <div class="app-contact-main__line-text app-cut-string ">
                                                    {% if accountAuthorizer.contactPerson.email %}
                                                        <a href="{{ "mailto:" ~ accountAuthorizer.contactPerson.email }}"
                                                           class="app-link__select">{{ accountAuthorizer.contactPerson.email }}</a>
                                                    {% else %}
                                                        No Email
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <img class="app-contact-list__warning app-contact-list__warning--middle"
                                     alt="warning image" src="/bundles/admin/dist/images/warning.svg">
                                <span class="app-color--inactive app-device-styles_table--no-data">No Authorizer</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {#data-target="#leaveCommentModalDelete" data-toggle="modal"#}
            <div class="app-detailed__button-container app-detailed__button-container--margin-left">
                {% if workorder.status.alias not in ['done', 'delete'] %}
                    <a href="#" data-target="#leaveCommentModalDelete" data-toggle="modal" class="app-detailed__button app-detailed__button--margin-left app-detailed__button--red app-detailed__button--shadow btn">
                        Delete
                    </a>
                {% endif %}

                {% if workorder.status.alias in ['to_be_done_today'] %}
                    <a href="#" data-target="#leaveCommentModalReschedule" data-toggle="modal" class="app-detailed__button app-detailed__button--margin-left app-detailed__button--red app-detailed__button--shadow btn">
                        Reschedule
                    </a>
                {% endif %}

                {% if workorder.status.alias in ['to_be_scheduled', 'scheduled', 'not_completed', 'to_be_done_today', 'send_bill_create_invoice', 'reschedule', 'verify_job_results'] %}
                    <a href="{{ path('admin_assign_technician_workorder', {'workorder' : workorder.id}) }}"
                            class="app-detailed__button app-detailed__button--margin-left app-detailed__button--blue app-detailed__button--shadow btn">
                        Schedule
                    </a>
                {% endif %}

                {% if workorder.isFrozen %}
                    {% if workorder.pdf %}
                        <a href="{{ path('admin_view_frozen_workorder_pdf', {'name' : workorder.pdf}) }}" class="app-detailed__button app-detailed__button--margin-left app-detailed__button--blue app-detailed__button--shadow btn" target="_blank">
                            View PDF
                        </a>
                    {% else %}
                        <a href="{{ path('admin_workorder_view_pdf', {'workorder' : workorder.id}) }}" class="app-detailed__button app-detailed__button--margin-left app-detailed__button--blue app-detailed__button--shadow btn" target="_blank">
                            View PDF
                        </a>
                    {% endif %}
                {% else %}
                    <a href="{{ path('admin_workorder_view_pdf', {'workorder' : workorder.id}) }}" class="app-detailed__button app-detailed__button--margin-left app-detailed__button--blue app-detailed__button--shadow btn" target="_blank">
                        View PDF
                    </a>
                {% endif %}

                {% if countServicesReports > 0 %}
                    <a href="{{ path('admin_view_workorders_reports_merge', {'workorder' : workorder.id}) }}" class="app-detailed__button app-detailed__button--margin-left app-detailed__button--blue app-detailed__button--shadow btn" target="_blank">
                        WO Reports PDF
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="app-proposal__logs">
            <div class="app-detailed__addition__content--shadow app-detailed__addition__content">
                <ul class="nav nav-tabs app-detailed__addition__nav">
                    <li id="tab1" class="active"><a href="#panel1" aria-expanded="true" data-toggle="tab"
                                     class="app-detailed__addition__container__title app-detailed__addition__container__title--nav {% if workorder.comments is empty %}app-detailed__addition__container__title--nav--empty-comment{% endif %}">Comments</a></li>
                    <li id="tab2"><a href="#panel2" aria-expanded="true" data-toggle="tab"
                                     class="app-detailed__addition__container__title app-detailed__addition__container__title--nav">Workorder
                            Log</a></li>
                </ul>
                <div class="tab-content app-detailed__addition__tab-content app-contact-list__container--tbody">
                    <div id="panel1" class="tab-pane fade active in">
                        <div class="content-account app-workorder__comments-content app-detailed__addition__tab-content--padding app-contact-list__container--tbody">
                            <table class="app-proposal-logs__table app-workorder__comments-table {% if workorder.comments is empty %}app-workorder__comments-table--flex{% endif %} app-view--max-width app-cut-string">
                                <tbody>
                                {% if workorder.comments is empty %}
                                    <div class="app-workorder__comments-table--nocomments">
                                        <span class="app-color--inactive">No Comments</span>
                                    </div>
                                {% else %}
                                    {% for comment in workorderComments %}
                                        <tr>
                                            <td>
                                                <div>
                                                    <span class="app-color--inactive app-proposal-logs__message-info">
                                                        {{ comment.dateCreate|date('m/d/y, h:i A') }} {% if comment.forAdminUsersOnly %} (for Admin users only) {% endif %} {{ ' by ' ~ comment.author.lastName ~ ' ' ~ comment.author.firstName ~ ':' }}
                                                    </span>
                                                </div>
                                                <div>
                                                    <span>{{ comment.comment }}</span>
                                                </div>
                                                <div class="app-detailed__addition__comment-image">
                                                    {% if comment.photo is not empty %}
                                                        {% if '.pdf' in comment.photo %}
                                                            <a class="app-link__select" href="{{ path('admin_view_workorder_comments_file_pdf', { 'workorderComment' : comment.id }) }}" target="_blank">{{ comment.photo | split('/') | last }}</a>
                                                        {% else %}
                                                            <a href="{{ path('admin_view_workorder_comments_file_pdf', { 'workorderComment' : comment.id }) }}" target="_blank"><img src="{{ asset(comment.photo) }}"></a>
                                                        {% endif %}
                                                    {% endif %}
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="panel2" class="tab-pane fade">
                        {{ include('@Admin/Workorder/workorder_log.html.twig') }}
                    </div>
                </div>
            </div>
            <div class="app-detailed__button-container">
                <a href="#" data-target="#addComment" data-toggle="modal"
                   class="app-detailed__button app-detailed__button--blue app-detailed__button--shadow btn">
                    Add Comment
                </a>
            </div>
        </div>
    </div>

    {{ include('AdminBundle:Opportunity:flash_messages.html.twig', {"app.session": app.session}) }}

    <div class="app-data">
        <div class="app-account-site__header">
            <div class="app-color--inactive app-font--bold app-font--large">Included Sites, Devices and Services</div>
        </div>
        {% if workorder.type.alias == 'generic_workorder' %}
            <div class="app-data__not-found app-repare-proposal__table app-bordered--shadow app-workorder-no-data">This
                is {{ workorder.type.name }}. Please see Workorder Directions, Notes and Comments.
            </div>
        {% endif %}
        <table class="table app-data__table app-bordered--shadow app-repare-proposal__table">
            <tbody>
            {% for accountNode in tree %}
                <tr>
                    <td></td>
                    <td colspan="12" class="app-repare-proposal__account">
                        <div class="app-wrapper">
                            <div class="app-detailed__info app-wrapper">
                                <div class="app-detailed__info__img app-notice-form__table-account-img app-repare-proposal__account-icon"
                                     style="background-image: url('{{ asset('/bundles/admin/dist/images/'~((accountNode.account.type.alias == 'account') ? 'site.svg' : 'group_site.svg')) }}')"></div>
                                <div>
                                    <a class="app-link__select app-link__title"
                                       href="{{ path('admin_account_get', {'accountId' : accountNode.account.id}) }}">{{ accountNode.account.name }}</a>
                                    <span class="app-color--inactive"> - {{ accountNode.account.address | address }}</span>
                                    {% if accountNode.account.deleted %}<span
                                            class="label label-danger">Deleted</span>{% endif %}
                                </div>
                            </div>
                            {% if accountNode.account.municipality is defined %}
                                {% set accountMunicipality = accountNode.account.municipality %}
                            {% else %}
                                {% set accountMunicipality = null %}
                            {% endif %}

                            {% if accountMunicipality %}
                                <div class="app-wrapper">
                                    <div class="app-line--padding-right">
                                        <img src="{{ asset('bundles/admin/dist/images/municipalities.svg') }}" alt=""
                                             class="municipalities-table__img">
                                        <a href="{{ path('admin_municipality_view', {'municipality' : accountMunicipality.id}) }}"
                                           class="app-link__select">{{ accountMunicipality.name }}</a>
                                    </div>
                                    <div>
                                        {% if accountMunicipality | get_default_compliance_channel(workorder.division) %}
                                            {% set defaultChannel = accountMunicipality | get_default_compliance_channel(workorder.division) %}
                                            <span class="app-color--inactive">Send reports to:</span>
                                            {% if defaultChannel.named.alias == "mail" %}
                                                {{ defaultChannel.fields[0].entityValue ?  defaultChannel.fields[0].entityValue | address : "-" }}
                                            {% elseif defaultChannel.named.alias == "email" %}
                                                {% if defaultChannel.fields[0].value %}
                                                    <a class="app-link__select"
                                                       href="mailto:{{ defaultChannel.fields[0].value | url_format }}"
                                                       target="_blank">
                                                        {{ defaultChannel.fields[0].value ?  defaultChannel.fields[0].value : "-" }}
                                                    </a>
                                                {% else %}
                                                    -
                                                {% endif %}
                                            {% elseif defaultChannel.named.alias == "fax" %}
                                                {{ defaultChannel.fields[0].value ?  defaultChannel.fields[0].value | phone : "-" }}
                                            {% elseif defaultChannel.named.alias == "upload" %}
                                                {% if defaultChannel.fields[0].value %}
                                                    <a class="app-link__select"
                                                       href="{{ defaultChannel.fields[0].value | url_format }}"
                                                       target="_blank">
                                                        {{ defaultChannel.fields[0].value ?  defaultChannel.fields[0].value : "-" }}
                                                    </a>
                                                {% else %}
                                                    -
                                                {% endif %}
                                            {% endif %}
                                        {% else %}
                                            No Channel
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </td>
                    <td></td>
                    <td></td>
                </tr>

                {% include '@Admin/Device/row_device_for_workorder.html.twig' with {'deviceCollection': accountNode.devices} %}
            {% endfor %}
            {% if not workorder.isFrozen %}
                <tr>
                    <td></td>
                    <td colspan="12" class="app-font--regular">General Workorder Information</td>
                    <td class="app-repare-proposal__table-icon">
                        <div class="app-repare-proposal__data--indent">
                            {% if workorder.isFrozen == false %}
                                <a href="{{ path('admin_workorder_edit_general_info', {'workorder' : workorder.id}) }}">
                                    <img src="/bundles/admin/dist/images/edit.svg">
                                </a>
                            {% endif %}
                        </div>
                    </td>
                    <td></td>
                </tr>
            {% endif %}
            <tr class="app-repare-proposal__row--info">
                <td></td>
                <td colspan="6">
                    <table class="app-repare-proposal__data--table app-repare-proposal__data--table-large app-repare-proposal__data--info">
                        <tr>
                            <td>Not Included:</td>
                            {% set notIncluded = null %}
                            {% for notInc in workorder.notIncludedItems %}
                                {% set notIncluded = notIncluded ? notIncluded  ~ ', ' ~  notInc.name : notInc.name %}
                            {% endfor %}
                            <td class="{{ notIncluded ? '' : 'app-color--inactive' }}">
                                {{ notIncluded ? notIncluded : '-' }}
                            </td>
                        </tr>
                        <tr>
                            <td>P.O NO:</td>
                            <td class="{{ workorder.poNo ? '' : 'app-color--inactive' }}">{{  workorder.poNo and workorder.poNo != '' ? workorder.poNo : '-' }}</td>
                        </tr>
                        <tr>
                            <td>Payment Terms:</td>
                            <td class="{{ workorder.account.paymentTerm ? '' : 'app-color--inactive' }}">{{ workorder.account.paymentTerm ? workorder.account.paymentTerm.name : '-' }}</td>
                        </tr>
                        <tr>
                            <td>Payment Method:</td>
                            <td class="{{ workorder.paymentMethod.name ? '' : 'app-color--inactive' }}">{{ workorder.paymentMethod.name }}</td>
                        </tr>
                        <tr>
                            <td>WO Directions:</td>
                            <td class="{{ workorder.directions ? '' : 'app-color--inactive' }}">{{ workorder.directions ? workorder.directions : 'No Directions' }}</td>
                        </tr>
                        <tr>
                            <td class="{{ workorder.additionalComments ? '' : 'app-color--inactive' }}">WO Additional
                                Comments:
                            </td>
                            <td class="{{ workorder.additionalComments ? '' : 'app-color--inactive' }}">{{ workorder.additionalComments ? workorder.additionalComments : 'No Comments' }}</td>
                        </tr>
                        <tr>
                            <td>WO Internal Comments:</td>
                            <td class="{{ workorder.internalComment ? '' : 'app-color--inactive' }}">{{ workorder.internalComment ? workorder.internalComment : 'No Comments' }}</td>
                        </tr>
                        <tr>
                            <td>WO Additional Cost Comment:</td>
                            <td class="{{ workorder.additionalCostComment ? '' : 'app-color--inactive' }}">{{ workorder.additionalCostComment ? workorder.additionalCostComment : 'No Comments' }}</td>
                        </tr>
                        <tr>
                            <td>Total Estimated Time for Inspections:</td>
                            <td>
                                {% if workorder.totalEstimatedTimeInspections is defined and workorder.totalEstimatedTimeInspections %}
                                    {{ workorder.totalEstimatedTimeInspections }} {% if workorder.totalEstimatedTimeInspections <= 1 %} work hour {% else %} work hours {% endif %}
                                {% else %}
                                    <span class="app-color--inactive">-</span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Total Estimated Time for Repairs:</td>
                            <td>
                                {% if workorder.totalEstimatedTimeRepairs is defined and workorder.totalEstimatedTimeRepairs %}
                                    {{ workorder.totalEstimatedTimeRepairs }} {% if workorder.totalEstimatedTimeRepairs <= 1 %} work hour {% else %} work hours {% endif %}
                                {% else %}
                                    <span class="app-color--inactive">-</span>
                                {% endif %}
                            </td>
                        </tr>
                        {% if workorder.authorizer is defined and workorder.authorizer %}
                            <tr>
                                <td>WO authorized by:</td>
                                <td>
                                    <img class="app-proposal-workorder-icons--contact"
                                         src="{{ asset('bundles/admin/dist/images/contact.svg') }}" alt="image contact">
                                    <a href="{{ path('admin_contact_person_get', {'contactPerson' : workorder.authorizer.contactPerson.id}) }}"
                                       class="app-link__select app-link__title  app-line--right-text">
                                        {{ workorder.authorizer.contactPerson.firstName~' '~workorder.authorizer.contactPerson.lastName }}
                                    </a>
                                </td>
                            </tr>
                        {% endif %}

                        {% if workorder.isMunicipalityFessWillVary %}
                            <tr>
                                <td class="app-color--inactive app-detailed__municipality-fees--table">* - Municipality fees will vary</td>
                                <td></td>
                            </tr>
                        {% endif %}
                    </table>
                </td>
                <td colspan="6">
                    <div class="app-repare-proposal__data--indent">
                        <table class="app-repare-proposal__data--table app-repare-proposal__data--prices">
                            <tr>
                                <td>Total Inspections Fee:</td>
                                <td>
                                    ${{ workorder.totalServiceFee ? workorder.totalServiceFee | money_format : '0' }}</td>
                            </tr>
                            <tr>
                                <td>Total Repairs price:</td>
                                <td>
                                    ${{ workorder.totalRepairsPrice ? workorder.totalRepairsPrice | money_format : '0' }}</td>
                            </tr>
                            <tr>
                                <td>Total Munic. and Proc. fees:</td>
                                <td>{{ workorder | get_workorder_total_munic_and_proc_fee }}</td>
                            </tr>
                            <tr>
                                <td>After Hours Work Cost:</td>
                                <td>
                                    ${{ workorder.afterHoursWorkCost ? workorder.afterHoursWorkCost | money_format : '0' }}</td>
                            </tr>
                            <tr>
                                <td>Additional Cost:</td>
                                <td>
                                    ${{ workorder.additionalServicesCost ? workorder.additionalServicesCost | money_format : '0' }}</td>
                            </tr>
                            <tr class="app-repare-proposal__data--total">
                                <td>Discount:</td>
                                <td>(${{ workorder.discount ? workorder.discount | money_format : '0' }})</td>
                            </tr>
                            <tr>
                                <td>Grand Total:</td>
                                <td {% if workorder | is_added_from_ios %} class="app-status-label--red" {% endif %}>{{ workorder | get_workorder_grand_total }}</td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- Modal -->
    {{ include('AdminBundle:layouts/dialogs:commentDialog.html.twig', {
        'modalId' : 'finishWorkorderModal',
        'message' : 'Are you sure you want to finish this workorder? Please note that Workorders are supposed to be finished by Technicians using iOS app.',
        'modalFormId' : 'finishWorkorderForm',
        'modalFormAction' : path('admin_work_order_finished', {'workorder': workorder.id}),
        'modalFormMethod' : 'post',
        'notRequired' : 'true',
        'commentFieldTitle' : 'Comment:',
        'commentFieldName' : 'comment'
    }) }}

    <!-- Modal -->
    {{ include('AdminBundle:layouts/dialogs:commentDialog.html.twig', {

        'modalId' : 'workorderPaidModal',
        'message' : 'By confirming this action you confirm that payments regarding this workorder were received. Are you sure you want to confirm this action?',
        'modalFormId' : 'workorderPaidForm',
        'modalFormAction' : path('admin_workorder_pending_payment', {'workorder': workorder.id}),
        'modalFormMethod' : 'post',
        'notRequired' : 'true',
        'commentFieldTitle' : 'Comment:',
        'commentFieldName' : 'form[comment]'
    }) }}

    <!-- Modal -->
    {{ include('AdminBundle:layouts/dialogs:commentDialog.html.twig', {
        'modalId' : 'workorderReportSentModal',
        'message' : 'By confirming this action you confirm that all reports regarding this workorder were sent to appropriate Municipalities and, if needed, to the Client. Are you sure you want to confirm this action?',
        'modalFormId' : 'workorderReportSentForm',
        'modalFormAction' : path('admin_work_send_reports', {'workorder': workorder.id}),
        'modalFormMethod' : 'post',
        'notRequired' : 'true',
        'commentFieldTitle' : 'Comment:',
        'commentFieldName' : 'form[comment]'
    }) }}

    {# TODO: Стара реалізація прикріплення інвойсу до WO. На даний момент застаріла і використовується лише для старого WO Life Cycle #}
    <!-- Modal -->
    {{ include('AdminBundle:layouts/dialogs:commentDialog.html.twig', {
        'modalId' : 'uploadBillModal',
        'message' : 'By confirming this action you confirm that you did create an invoice in the Quickbooks and, if necessary, sent it to the client. Are you sure you want to confirm this action?',
        'modalFormId' : 'uploadBillForm',
        'modalFormAction' : path('admin_workorder_upload', {'workorder': workorder.id}),
        'modalFormMethod' : 'post',
        'notRequired' : 'true',
        'uploadFile' : 'true',
        'commentFieldTitle' : 'Comment:',
        'commentFieldName' : 'form[comment]'
    }) }}


    <!--Modal adding report for finishing service-->
    {{ include('AdminBundle:layouts/dialogs:createReportDialog.html.twig', {
        'modalId' : 'finishServiceReportModal',
        'message' : 'Please provide following information to finish service',
        'modalFormId' : 'finishServiceReport',
        'selectName' : 'form[reportStatus]',
        'optionsArray' : optionsArray,
        'dragDrop' : true
    }) }}

    <!--Modal adding report for finishing service without drag & drop-->
    {{ include('AdminBundle:layouts/dialogs:createReportDialog.html.twig', {
        'modalId' : 'finishServiceModal',
        'message' : 'Please provide following information to finish service',
        'modalFormId' : 'finishService',
        'selectName' : 'form[reportStatus]',
        'optionsArray': optionsArray
    }) }}

    {{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
        'modalId' : 'finishSimpleService',
        'message' : 'Are you sure you want to finish this Service?',
        'buttonYes' : 'modalYes',
        'oneClick' : 'Yes'
    }) }}

    <!-- Modal deleting WO -->
    {{ include('AdminBundle:layouts/dialogs:commentDialog.html.twig', {
        'modalId' : 'leaveCommentModalDelete',
        'message' : 'This will delete Workorder. Please leave your comment below describing the reason
         why you would like to delete the Workorder and confirm the action.',
        'modalFormId' : 'deleteCommentForm',
        'modalFormAction' : path('admin_workorder_delete', {'workorder': workorder.id }),
        'modalFormMethod' : 'post',
        'commentFieldTitle' : 'Comment:',
        'commentFieldName' : 'comment'
    }) }}
    <!-- end Modal deleting WO  -->

    <!-- Modal adding comment -->
    {{ include('AdminBundle:layouts/dialogs:commentImageDialog.html.twig', {
        'modalId' : 'addComment',
        'message' : 'Are you sure you want to add comment to this workorder?',
        'modalFormId' : 'workorderCommentForm',
        'modalFormAction' : path('admin_workorder_comment_create', {'workorder' : workorder.id}),
        'modalFormMethod' : 'post',
        'commentFieldTitle' : 'Comment:',
        'commentFieldName' : 'admin_bundle_workorder_comment[comment]',
        'fileFieldName' : 'admin_bundle_workorder_comment[photo]',
        'boolFieldTitle' : 'For Admin users only',
        'boolFieldName' : 'admin_bundle_workorder_comment[forAdminUsersOnly]',
        'uploadFile' : 'true'
    }) }}
    <!-- end Modal adding comment  -->

    <!-- Modal view image -->
    {{ include('AdminBundle:layouts/dialogs:viewFullCommentImage.html.twig', {
        'modalId' : 'fullCommentsImg',
        'message' : ''
    }) }}
    <!-- end Modal view image  -->

    <!-- Modal rescheduling WO -->
    {{ include('AdminBundle:layouts/dialogs:commentDialog.html.twig', {
        'modalId' : 'leaveCommentModalReschedule',
        'message' : 'Are you sure you want to send Reschedule request for this Workorder?',
        'modalFormId' : 'reschedulingCommentForm',
        'modalFormAction' : path('admin_workorder_reschedule', {'workorder': workorder.id }),
        'modalFormMethod' : 'post',
        'commentFieldTitle' : 'Comment:',
        'commentFieldName' : 'comment'
    }) }}
    <!-- end Modal rescheduling WO  -->

    <!-- Modal Form Change repair service comment -->
    {{ include('AdminBundle:layouts/dialogs:changeRepairServiceCommentDialog.html.twig', {
        'modalId' : 'editRepairServiceComment',
        'modalFormMethod' : 'post',
        'modalFormId' : 'createWOFromInspectionsList',
    }) }}
    <!-- End Modal Form Change repair service comment -->

    <!-- Modal Form Verify Job Results -->
    {{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
        'modalId' : 'verifyJobResults',
        'message' : 'By confirming this action you confirm that all job results (reports, repairs completion), pricing
                    and other Workoder information is correct and ready for further processing. Are you sure you want to
                    confirm this action?',
        'buttonYes' : 'modalYes',
        'buttonYesHref': path('admin_work_order_verify_job_results', {'workorder': workorder.id}),
        'oneClick' : 'Yes',
        'buttonYesName' : 'OK',
        'buttonNoName' : 'Cancel'
    }) }}
    <!-- End Modal Form Verify Job Results -->

    <!-- Modal invoice sent via mail/fax -->
    {{ include('AdminBundle:layouts/dialogs:commentDialog.html.twig', {
        'modalId' : 'invoceSentViaMailFaxModal',
        'message' : 'By confirming this action you confirm that you have sent the last submitted for this Workorder Invoice to the client. Are you sure you want to confirm this action?',
        'modalFormId' : 'invoceSentViaMailFax',
        'modalFormAction' : path('admin_work_order_invoice_sent_via_mail_or_fax', {'workorder': workorder.id}),
        'modalFormMethod' : 'post',
        'buttonYesName' : 'OK',
        'buttonNoName' : 'Cancel',
        'commentFieldTitle' : 'Comment:',
        'commentFieldName' : 'comment',
        'boolFieldTitle' : 'Reports were sent too.',
        'boolFieldName' : 'reportsSentToo'
    }) }}
    <!-- End Modal invoice sent via mail/fax -->

    <!-- Modal Reports sent to client via mail/fax -->
    {{ include('AdminBundle:layouts/dialogs:commentDialog.html.twig', {
        'modalId' : 'reportsSentToClientViaMailFax',
        'modalFormId' : 'sentReportsToAuthorizer',
        'message' : 'By confirming this action you confirm that you have sent all the Reports to the client. Are you sure you want to confirm this action?',
        'modalFormAction' : path('admin_work_order_reports_sent_to_client_via_mail_or_fax', {'workorder': workorder.id}),
        'modalFormMethod' : 'post',
        'buttonYesName' : 'OK',
        'buttonNoName' : 'Cancel',
        'commentFieldTitle' : 'Comment:',
        'commentFieldName' : 'comment'
    }) }}
    <!-- End Reports sent to client via mail/fax -->

    <!-- Modal sent Pending Payments -->
    {{ include('AdminBundle:layouts/dialogs:commentDialog.html.twig', {
        'modalId' : 'sentPendingPayment',
        'message' : 'By confirming this action you confirm that all payments related to the Workorder have been received. Are you sure you want to confirm this action?',
        'modalFormId' : 'pendingPayment',
        'modalFormAction' : path('admin_work_order_payment_received', {'workorder': workorder.id}),
        'modalFormMethod' : 'post',
        'buttonYesName' : 'OK',
        'buttonNoName' : 'Cancel',
        'commentFieldTitle' : 'Comment:',
        'commentFieldName' : 'comment'
    }) }}
    <!-- End sent Pending Payments -->

    <!-- Modal Reports sent to AHJ via mail/fax -->
    {{ include('AdminBundle:layouts/dialogs:commentDialog.html.twig', {
        'modalId' : 'reportSentToAHJViaMailFax',
        'message' : 'By confirming this action you confirm that you have sent all the Reports to AHJ. Are you sure you want to confirm this action?',
        'modalFormId' : 'reportSentToAHJViaMailFaxForm',
        'modalFormAction' : path('admin_work_order_reports_sent_to_ahj_via_mail_or_fax', {'workorder': workorder.id}),
        'modalFormMethod' : 'post',
        'buttonYesName' : 'OK',
        'buttonNoName' : 'Cancel',
        'commentFieldTitle' : 'Comment:',
        'commentFieldName' : 'comment'
    }) }}
    <!-- End Reports sent to AHJ via mail/fax -->

    <!-- Modal info about Payment absent -->
    {{ include('AdminBundle:layouts/dialogs:infoDialog.html.twig', {
        'modalId' : 'errorNoPaymentForWorkorder',
        'message' : 'There is no Payment Account Contact Person responsible for necessary Division, or he has no email address, so you cannot sent email.'
    }) }}
    <!-- End modal info about Payment absent -->

    <!-- Modal info about Payment absent -->
    {{ include('AdminBundle:layouts/dialogs:infoDialog.html.twig', {
        'modalId' : 'errorNoAuthorizerForWorkorder',
        'message' : 'There is no Account Authorizer responsible for necessary Division, or he has no email address, so you cannot sent email.'
    }) }}
    <!-- End modal info about Payment absent -->

    <!-- Modal info about Payment absent -->
    {{ include('AdminBundle:layouts/dialogs:infoDialog.html.twig', {
        'modalId' : 'errorNoMunicipalityForWorkorder',
        'message' : 'The Compliance Channel for target Division for the Account is either not an Email type or not set up, so you cannot send this email.'
    }) }}
    <!-- End modal info about Payment absent -->

    <!-- Modal info about Payment absent -->
    {{ include('AdminBundle:layouts/dialogs:infoDialog.html.twig', {
        'modalId' : 'errorNoPaymentForSentViaMail',
        'message' : 'There is no Payment Account Contact Person responsible for necessary Division, so you cannot sent mail'
    }) }}
    <!-- End modal info about Payment absent -->

    <!-- Modal info about Payment absent -->
    {{ include('AdminBundle:layouts/dialogs:infoDialog.html.twig', {
        'modalId' : 'errorNoAuthorizerForSentViaMail',
        'message' : 'There is no Authorizer responsible for necessary Division, so you cannot sent mail'
    }) }}
    <!-- End modal info about Payment absent -->

{% endblock %}
