{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}
    <div class="app-main__page-title app-wrapper">
        <div class="app-main__page-title-name">
            Workorder #{{ workorder.id }} Scheduling Map
        </div>
        <button onclick="ReCenterMap(event)" class="app-form-button btn app-workorder-scheduling-button--map">CENTER ON CURRENT WO</button>
    </div>

    {#<div class="app-contact-list__container--main">#}
        {#<div class="app-form app-form--bordered app-view--max-width app-workorder-scheduling__container">#}
            {#<div class="app-form-header">Workorder Map</div>#}
            <div class="app-workorder-scheduling__content-container">
                <div class="app-wrapper app-workorder-scheduling__table-container" id="assignMap"></div>
                <div class="app-wrapper app-wrapper--content-end">
                    <a href="{{ path('admin_assign_technician_workorder', {'workorder' : workorder.id}) }}" class="app-form-button app-form-button--grey app-form-button--indent btn">CLOSE</a>
                </div>
            </div>


        {#</div>#}
    {#</div>#}
    <!--  Work with map   -->

    <style>
        #assignMap{height:700px;}
        .info-window-content{color:#000000;}
        .info-window-content div{line-height: 25px;}
        .info-window-content b{font-weight: 900;}
    </style>
    <script>
        var defLat = {{ workorder.account.coordinate ? workorder.account.coordinate.latitude : '50.450959' }};
        var defLng = {{ workorder.account.coordinate ? workorder.account.coordinate.longitude : '30.522648' }};
        var workorderInfo = {
            id: "{{ workorder.id }}",
            accessToken: "{{ user.accessToken }}"
        };

        document.addEventListener("DOMContentLoaded", function(event) {
            initMap(defLat, defLng, workorderInfo);
        });
    </script>
    <script defer src="{{ asset("bundles/admin/dist/scripts/markerclusterer.js") }}">
    </script>
    <script defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABAgx0EzsxGZhH36Yi0h-raDNHjLyajKc">
    </script>

{% endblock %}