<div class="content-account app-detailed__addition__tab-content--padding app-contact-list__container--tbody">
    <table class="app-proposal-logs__table app-view--max-width">
        <tbody>
        {% for log in logs %}
            <tr>
                <td>
                    <div>
                        <span class="app-color--inactive app-proposal-logs__message-info">
                            {{ log.date | date('m/d/Y, h:i A') }}
                        </span>
                    </div>
                    <div>
                        <span>{{ log.message }}</span>
                    </div>
                    <div>
                        <span class="app-color--inactive app-proposal-logs__message-info">By
                            {% if log.author.user is defined %}
                                <a href="#" class="app-link__select">
                                    {{ log.author.user.firstName~' '~log.author.user.lastName }}
                                </a>
                            {% else %}
                                <span class="app-link__select">
                                    System
                                </span>
                            {% endif %}
                        </span>
                    </div>
                    {% if log.comment is not empty %}
                        <div class="app-proposal-logs__message-info">
                            <span class="app-color--inactive">Comment:</span>
                            <span class="app-word-breack">{{ log.comment }}</span>
                        </div>
                    {% endif %}
                </td>
                <td class="app-proposal-logs__button-container">
                    {% if log.type.alias is defined %}

                        {% if log.type.alias == "workorder_was_created" and workorder.proposals | length %}
                            <a href="{{ path('admin_'~ log.proposal.type.alias ~'_proposal_view', {'proposal' : log.proposal.id}) }}" target="_blank" class="app-link__table-button app-line--align btn app-proposal-logs__button"
                               data-toggle="modal">
                                {% if log.proposal.type.alias in ['retest', 'repair'] %}
                                    Go back to {{ log.proposal.type.alias == 'retest' ? 'Retest Notice' : 'Repair Proposal' }}
                                {% elseif log.proposal.type.alias == 'custom' %}
                                    Go back to Custom Proposal
                                {% endif %}
                            </a>
                        {% elseif log.type.alias in ['bill_sent_invoice_created', 'payment_received', 'reports_sent'] %}

                            {%  if
                                    log.type.alias == 'bill_sent_invoice_created' and workorder.status.alias == 'send_bill_create_invoice'
                                or
                                    log.type.alias == 'payment_received' and workorder.status.alias == 'pending_payment'
                                or
                                    log.type.alias == 'reports_sent' and workorder.status.alias == 'send_reports'
                            %}
                                {% set buttonColor = 'red' %}
                            {% else %}
                                {% set buttonColor = 'blue' %}
                            {% endif %}

                            {% if workorder.status.alias not in ['done', 'delete'] and workorder.status.priority > 4 %}
                                <a href="#"
                                   class="app-link__table-button app-line--align btn app-proposal-logs__button app-proposal-logs__button--{{ buttonColor }}"
                                   {% if log.type.alias == 'bill_sent_invoice_created' %}
                                       {% set target = "#uploadBillModal" %}
                                   {% elseif log.type.alias == 'payment_received' %}
                                       {% set target = "#workorderPaidModal" %}
                                   {% elseif log.type.alias == 'reports_sent' %}
                                       {% set target = "#workorderReportSentModal" %}
                                   {% endif %}
                                       data-target="{{ target }}"
                                   data-toggle="modal" >
                                    {% if log.type.alias == 'scheduled_date_has_come' %} Finish Service{% else %} {{ log.type.name }} {% endif %}
                                </a>
                            {% endif %}

                            {% if log.type.alias == 'payment_received' %}
                                <br><br>
                                <a href="{{ asset('/uploads/invoices/' ~ log.invoice.file) }}" target="_blank" class="app-link__table-button app-line--align btn app-proposal-logs__button">
                                    View Invoice
                                </a>
                            {% endif %}
                        {% elseif workorder.status.alias != 'done' and (
                                    (log.type.alias == "scheduled_date_has_come" and workorder.status.alias == "to_be_done_today")
                                    or (log.type.alias == "scheduled_date_has_passed" and workorder.status.alias == "not_completed")
                                    or (log.type.alias == "scheduled_date_has_come" and workorder.status.alias == "reschedule")
                                    )
                        %}
                            <a href="#" class="app-link__table-button app-line--align btn app-proposal-logs__button app-proposal-logs__button--red"
                               data-toggle="modal"
                               data-target="#finishWorkorderModal">
                                Finish workorder
                            </a>
                        {% elseif workorder.status.alias == 'verify_job_results' and log.type.alias == "verify_job_results" %}
                            <a href="#" class="app-link__table-button app-line--align btn app-proposal-logs__button app-proposal-logs__button--red app-modal-link"
                               data-toggle="modal"
                               data-target="#verifyJobResults">
                                {{ log.type.name }}
                            </a>
                        {% elseif  workorder.status.alias not in ['done', 'delete'] and log.type.alias == "submit_invoice" %}
                            <a
                                    href="{{ workorder | get_current_draft_invoice_for_wo ? path('invoice_send_draft', {'workorder' : workorder.id}) : path('invoice_create', {'workorder' : workorder.id}) }}"
                                    class="app-link__table-button app-line--align btn app-proposal-logs__button {{ workorder.status.alias == 'submit_invoice' ? 'app-proposal-logs__button--red' : '' }}">
                                Submit Invoice
                            </a>
                        {% elseif log.type.alias in ['use_custom_pdf', 'invoice_submitted'] %}
                            {#<br><br>#}
                            {% if log.type.alias == 'use_custom_pdf' %}
                                <a href="{{ path('admin_work_order_view_custom_invoice_pdf', {'fileName': log.invoice.file}) }}" target="_blank" class="app-link__table-button app-line--align btn app-proposal-logs__button">
                                    View Custom Ivoice PDF
                                </a>
                                <br><br>
                            {% endif %}

                            {% if log.type.alias == 'invoice_submitted' %}
                                <a href="{{ path('invoice_view', {'invoices': log.invoice.id }) }}" target="_blank" class="app-link__table-button app-line--align btn app-proposal-logs__button">
                                    View Ivoice
                                </a>
                                <br><br>
                            {% endif %}

                            {% if (workorder.status.alias not in ['done', 'delete'] and log.invoice is defined) and log.invoice.status.alias not in ['voided'] %}
                                <a href="#" class="app-link__table-button app-line--align btn app-proposal-logs__button app-proposal-logs__button--{{ workorder.status.alias == 'send_invoice' ? 'red' : 'blue' }}"
                                   data-toggle="modal"
                                    {% if primaryPayment %}
                                        data-target="#invoceSentViaMailFaxModal"
                                    {% else %}
                                        data-target="#errorNoPaymentForSentViaMail"
                                    {% endif %}
                                >
                                    Invoice Sent via Mail/Fax
                                </a>
                                <br /><br />
                                <a {% if recipients.payment %}  href="{{ path('admin_workorder_send_invoice_via_email', {'workorder' : workorder.id})}}"  {% else %} href="#" data-target="#errorNoPaymentForWorkorder" data-toggle="modal"{% endif %} class="app-link__table-button app-line--align btn app-proposal-logs__button app-proposal-logs__button--{{ workorder.status.alias == 'send_invoice' ? 'red' : 'blue' }}">
                                    Send Invoice via Email
                                </a>
                            {% endif %}


                        {% elseif log.type.alias in ['send_reports_to_account_authorizer'] and workorder.status.alias not in ['done', 'delete'] %}
                            <a href="#" class="app-link__table-button app-line--align btn app-proposal-logs__button app-proposal-logs__button--{{ workorder.status.alias == 'send_reports_to_client' ? 'red' : 'blue' }} app-modal-link"
                               data-toggle="modal"
                                {% if liveAccountAuthorizer %}
                                    data-target="#reportsSentToClientViaMailFax"
                                {% else %}
                                    data-target="#errorNoAuthorizerForSentViaMail"
                                {% endif %}
                               >
                                Reports sent via Mail/Fax
                            </a>
                            <br /><br />
                            <a {% if recipients.authorizer %}  href="{{ path('admin_workorder_send_reports_to_client', {'workorder' : workorder.id}) }}" {% else %} href="#" data-target="#errorNoAuthorizerForWorkorder" data-toggle="modal"{% endif %} }} class="app-link__table-button app-line--align btn app-proposal-logs__button app-proposal-logs__button--{{ workorder.status.alias == 'send_reports_to_client' ? 'red' : 'blue' }}">
                                Send Reports via Email
                            </a>
                        {% elseif log.type.alias in ['reports_send_to_ahj_via_mail_fax'] and workorder.status.alias not in ['done', 'delete'] %}
                            <a href="#" class="app-link__table-button app-line--align btn app-proposal-logs__button app-proposal-logs__button--{{ workorder.status.alias == 'send_reports_to_ahj' ? 'red' : 'blue' }} app-modal-link"
                               data-toggle="modal"
                               data-target="#reportSentToAHJViaMailFax">
                                Sent via Mail/Fax/Upload
                            </a>
                            <br /><br />
                            <a {% if recipients.municipality %}  href="{{ path('admin_workorder_send_reports_to_ahj', {'workorder' : workorder.id}) }}" {% else %} href="#" data-target="#errorNoMunicipalityForWorkorder" data-toggle="modal"{% endif %} class="app-link__table-button app-line--align btn app-proposal-logs__button app-proposal-logs__button--{{ workorder.status.alias == 'send_reports_to_ahj' ? 'red' : 'blue' }} ">
                                Send Reports via Email
                            </a>
                        {% elseif log.type.alias in ['invoice_sent_via_email'] %}
                            <a href="{{ path('admin_letter_detail', {'letter': (log.letter) ? log.letter.id : 0}) }}" target="_blank" class="app-link__table-button app-line--align btn app-proposal-logs__button">
                                View Invoice Email
                            </a>

                        {% elseif log.type.alias in ['reports_sent_to_client_via_email'] %}
                            <a href="{{ path('admin_letter_detail', {'letter': (log.letter) ? log.letter.id : 0}) }}" target="_blank" class="app-link__table-button app-line--align btn app-proposal-logs__button">
                                View Reports Email
                            </a>
                        {% elseif log.type.alias in ['reports_sent_to_ahj_via_email'] %}
                            <a href="{{ path('admin_letter_detail', {'letter': (log.letter) ? log.letter.id : 0}) }}" target="_blank" class="app-link__table-button app-line--align btn app-proposal-logs__button">
                                View Reports Email
                            </a>
                        {% elseif log.type.alias in ['payments_not_found_in_quickbooks'] and workorder.status.alias not in ['done', 'delete'] %}
                            <a href="#" class="app-link__table-button app-line--align btn app-proposal-logs__button app-proposal-logs__button--{{ workorder.status.alias == 'pending_payment' ? 'red' : 'blue' }} app-modal-link"
                               data-toggle="modal"
                               data-target="#sentPendingPayment">
                                Payment Received
                            </a>
                        {% elseif log.type.alias in ['invoice_submitted'] %}
                            <a href="{{ path('invoice_view', {'invoices' : log.invoice.id}) }}" target="_blank" class="app-link__table-button app-line--align btn app-proposal-logs__button"
                               data-toggle="modal">
                                    View Invoice
                            </a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>