<div class="app-invoice__billing-address">
    <div class="form-group">
      <div class="app-invoice__billing-address__wrapper">
          <div class="app-invoice__billing-address__label">Bill to:
            <span class="app-required-label app-required-label_color_grey">*</span>
          </div>
          <a v-if="accountContactPerson" target="_blank" :href="'/admin/account-contact-person-set-roles/' + account.id + '/' + accountContactPerson.contactPerson.id" class="app-link__select">Edit ACP</a> 
      </div>
      <textarea
        id="invoice_billing_address_address"
        name="invoice_billing_address_address" 
        placeholder="Address (up to 3 lines)" 
        class="app-form__textarea--medium form-control" 
        rows="3" 
        wrap="off" 
        :readonly="!isCustomBilling" 
        autocomplete="off"
        :class="{ 'app-form--disabled': !isCustomBilling }"
        :value="billToAddress.address"
        @input="catchAddressField" ></textarea>
    </div>
    <div class="app-wrapper">
      <div class="app-form-input--medium form-group">
        <input 
          type="text"
          name="invoice_billing_address_city" 
          placeholder="City" 
          class="app-capitalize form-control mozilla-input" 
          :readonly="!isCustomBilling" 
          autocomplete="off"
          :class="{ 'app-form--disabled': !isCustomBilling }"
          v-model="billToAddress.city">
      </div>
      <div class="app-wrapper app-wrapper--half">
        <div class="app-form-input--small form-group">
            <select 
              name="invoice_billing_address_state" 
              class="selectpicker form-control mozilla-input"
              tabindex="-98" 
              :readonly="!isCustomBilling" 
              :class="{ 'app-form--disabled': !isCustomBilling, 'disabled': !isCustomBilling }"
              autocomplete="off"
              @change="changedInput"
              v-model="billToAddress.state.shortname" >
              <option value="">State</option>
              <option 
                v-for="state in billingStates" 
                :value="state.name">{{ state.name }}
              </option>
            </select>
        </div>
        <div class="app-form-input--big form-group">
          <input 
            type="text" 
            name="invoice_billing_address_zip" 
            placeholder="Zip" 
            class="form-control mozilla-input" 
            :readonly="!isCustomBilling"
            autocomplete="off"
            :class="{ 'app-form--disabled': !isCustomBilling }"
            v-model="billToAddress.zip">
        </div>
      </div>
    </div>
    <div class="app-role__custom-address">
      <input :checked="isCustomBilling" id="invoice_custom_billing_address" @click="enableCustomBilling" name="custom_billing_address" value="1" type="checkbox" class="app-checkbox-input" autocomplete="off">
      <label class="app-checkbox-label required" for="invoice_custom_billing_address">Use Custom Billing Address for this Invoice</label>
    </div>
</div>
