<div class="qb-customer">
  <span class="qb-customer__label">QB Customer: </span> 
  <div class="qb-customer__info-wrapp" v-if="accountContactPerson">
    <span class="qb-customer__name">
      <img :src="accountContactPerson.customer.entity_type.name === 'Contact Person' ? '/bundles/admin/dist/images/contact.svg' : '/bundles/admin/dist/images/company.svg'" alt="">
      <a :href="accountContactPerson.customer.entity_type.name === 'Contact Person' ? '/admin/contact/' + accountContactPerson.customer.entityId : '/admin/company/' + accountContactPerson.customer.entityId" target="_blank" class="app-link__select">{{ accountContactPerson.customer.name }}</a>
    </span>
    <span class="qb-customer__info">({{ accountContactPerson.customer.entity_type.name }}, ID {{ accountContactPerson.customer.entityId }})</span>
  </div>
  <div v-else>
    <span class="qb-customer__warning">
      <img src="/bundles/admin/dist/images/warning.svg" alt="">
      No Primary Payments ACP is available for Account
    </span>
  </div>
  <!-- <span class="qb-customer__warning-ico">
    <img src="/bundles/admin/dist/images/warning_red.svg" alt="">
  </span> -->
</div>