<div class="app-invoice__qbjob">
  <div class="app-invoice__qbjob__title">QB Job:</div>
  <div class="app-invoice__qbjob__field">
    <input 
      type="text" 
      id="quickbooks_job" 
      name="quickbooks_job[name]" 
      class="app-form--disabled form-control mozilla-input ui-autocomplete-input" 
      autocomplete="off" 
      :value="qbJob ? qbJob.name : ''"
      disabled="disabled">
  </div>
</div>