<div class="app-invoice__jobsite">
  <div class="app-invoice__jobsite__title">Job Site:</div>
  <div class="app-invoice__jobsite__info-block">
    <div class="app-invoice__jobsite__ico">
      <img :src="account.accountType === 'account' ? '/bundles/admin/dist/images/site.svg' : '/bundles/admin/dist/images/group_site.svg'" alt="">
    </div>
    <div class="app-invoice__jobsite__info">
      <a class="app-link__select app-invoice__jobsite__name" target="_blank" :href="'/admin/account/' + account.id">{{ account.title }}</a>
      <p class="app-invoice__jobsite__address">{{ account.address.address }} </br>{{ account.address.city }}, {{ account.address.state.shortname }} {{ account.address.zip }}</p>
      <p class="app-invoice__jobsite__descr">({{ accountType }} ID - {{ account.id }})</p>
    </div>
  </div>
</div>