<div class="app-invoice__invoice-terms invoice-terms">
  <div class="invoice-terms__row">
    <div class="invoice-terms__field">
      <div class="invoice-terms__title">P. O.  NO:</div>
      <input 
        type="text" 
        name="invoice_terms[pono]" 
        class="form-control mozilla-input ui-autocomplete-input" 
        v-model="workorder.poNo"
        placeholder="" 
        autocomplete="off">
    </div>
    <div class="invoice-terms__field">
      <div class="invoice-terms__title">Inspector:</div>
      <input
        type="text"
        name="invoice_terms[inspector]"
        class="form-control mozilla-input ui-autocomplete-input"
        v-model="inspector"
        autocomplete="off">
    </div>
  </div>
  <div class="invoice-terms__row">
    <div class="invoice-terms__field">
      <div class="invoice-terms__title">Terms:</div>
      <select
        name="invoice_terms[terms]"
        v-model="paymentTerms.name"
        @change="getAlias"
        class="form-control mozilla-input selectpicker"
        autocomplete="off">
        <option
          v-for="term in termsData"
          :value="term.name">{{ term.name }}</option>
      </select>
    </div>
    <div class="invoice-terms__field">
      <div class="invoice-terms__title">Memo:</div>
      <input 
        type="text" 
        name="invoice_terms[memo]" 
        class="form-control mozilla-input ui-autocomplete-input" 
        v-model="memo"
        placeholder="" 
        autocomplete="off">
    </div>
  </div>
  <div class="invoice-terms__row">
    <div class="invoice-terms__field invoice-terms__field--small">
      <div class="invoice-terms__title">Workorder:</div>
      <input
        type="text"
        name="invoice_terms[workorder]"
        class="form-control app-form--disabled mozilla-input ui-autocomplete-input"
        placeholder=""
        :value="invoiceData.workorder.id + ' - ' + invoiceData.workorder.division.name + ' Division'"
        readonly="readonly"
        autocomplete="off">
    </div>
    <div class="invoice-terms__field invoice-terms__field--medium">
      <div class="invoice-terms__title">Authorized by:</div>
      <input
        type="text"
        name="invoice_terms[authorized]"
        class="form-control app-form--disabled mozilla-input ui-autocomplete-input"
        readonly="readonly"
        :value="fullAuthoraizerName"
        autocomplete="off">
    </div>
    <div class="invoice-terms__field invoice-terms__field--large">
        <div class="invoice-terms__title">Gen by:</div>
        <input 
          type="text" 
          name="invoice_terms[genby]" 
          class="form-control app-form--disabled mozilla-input ui-autocomplete-input" 
          :value="invoiceData.genBy.firstName + ' ' + invoiceData.genBy.lastName"
          readonly="readonly"
          autocomplete="off">
      </div>
  </div>
</div>


