<div class="additional-input app-invoice__invoice-date">
  <label for="input-date" class="additional-input__label">Date:
    <span class="app-required-label app-required-label_color_grey">*</span>
  </label>
  <div class="input-date-outer">
    <input
      type="text"
      id="input-date"
      name="invoice_date[date]"
      v-model="invoiceDate"
      @blur="inputDate"
      placeholder="MM/DD/YYYY"
      class="additional-input__input form-control mozilla-input ui-autocomplete-input app-invoice-validation-date datepicker datepickerValidation"
      autocomplete="off">
  </div>
</div>
