<div class="app-invoice__invoice-buttons">
  <div class="app-invoice__buttons-group">
      <a href="" class="app-form-button app-form-button--red btn" data-toggle="modal"
         data-target="#uploadCustomInvoicePdfModal">Use Custom PDF</a>
  </div>
  <div class="app-invoice__buttons-group app-invoice__buttons-group--right">
    <a 
      @click.prevent="$emit('sendInvoiceToQB')"
      class="invoiceSendButton app-form-button app-form-button--blue app-form-button--indent btn app-invoice__invoice-buttons_button-send" 
      autocomplete="off">Send to QB</a>
    <a 
      class="invoiceSendButton app-form-button app-form-button--blue app-form-button--indent btn"
      @click.prevent="$emit('saveInvoice')">Just Save</a>
    <a :href="'/admin/workorder/view/' + invoiceWorkorder.id" class="app-form-button app-form-button--grey app-form-button--indent btn">Close</a>
  </div>
  <div id="justSaveModal" class="modal fade" role="dialog">
    <div class="modal-dialog app-modal">
      <!-- Modal content-->
      <div class="app-modal__content modal-content ">
        <div class="app-modal__body app-invoice__modal-content modal-body">
          <p>Are you sure you want to save this invoice as Draft without submitting it to Quickbooks?</p>
        </div>
        <div class="app-modal__footer">
          <a 
            @click="$emit('confirmEvent', $event.target, 'justSave')"
            class="app-detailed__button app-detailed__button--red btn">Yes</a>
          <a href="#" class="app-detailed__button app-detailed__button--gray btn" data-dismiss="modal" data-original-title="" title="">Cancel</a>
        </div>
      </div>
    </div>
  </div>
  <div id="sendToQbModal" class="modal fade" role="dialog">
    <div class="modal-dialog app-modal">
      <!-- Modal content-->
      <div class="app-modal__content app-invoice__modal-content modal-content ">
        <div class="app-modal__body modal-body">
          <p>Are you sure you want to submit this invoice to Quickbooks?</p>
        </div>
        <div class="app-modal__footer">
          <a 
            @click="$emit('confirmEvent', $event.target, 'sendToQb')"
            class="app-detailed__button app-detailed__button--red btn" >Yes</a>
          <a href="#" class="app-detailed__button app-detailed__button--gray btn" data-dismiss="modal" data-original-title="" title="">Cancel</a>
        </div>
      </div>
    </div>
  </div>
</div>
