<!-- modal form add item to invoice -->
<div id="addItemToInvoiceForm" class="modal fade popupForm" role="dialog" style="display: none;">

  <!-- modal dialog -->
  <div class="modal-dialog app-modal">

    <!-- modal content-->
    <div class="app-modal__content app-invoice__modal-content modal-content ">

      <!-- modal body -->
      <div class="app-modal__body modal-body">
        <p>Adding {{ invoiceItemOnCreate.name }}</p>
      </div>
      <!-- /modal body -->

      <!-- invoice-create-item-form -->
      <form class="app-modal__form app-invoice__invoice-create-item-form invoice-create-item-form" id="createInvoiceItem" method="post" autocomplete="off" action="" novalidate="novalidate">
        <div class="invoice-create-item-form__line">
          <label for="" class="invoice-create-item-form__title">Description:</label>
          <textarea 
            v-model="$v.invoiceItemOnCreate.description.$model" 
            id="" 
            name="" 
            placeholder="Description" 
            :class="{ error: $v.invoiceItemOnCreate.description.$error }" 
            class="app-form__textarea--medium form-control" 
            autocomplete="off" 
            aria-invalid="false">{{ invoiceItemOnCreate.description }}</textarea>
          <label v-if="$v.invoiceItemOnCreate.description.$error" for="" class="error">Please enter no more than 255 characters.</label>
        </div>
        <div class="invoice-create-item-form__line invoice-create-item-form__line_last app-wrapper">
          <div class="invoice-create-item-form__col">
            <label for="" class="invoice-create-item-form__title">Quantity:<span v-if="invoiceItemOnCreate.type.name !== 'discount' && invoiceItemOnCreate.name !== 'Address'">*</span></label>
            <input 
              :disabled="invoiceItemOnCreate.type.name === 'discount' || invoiceItemOnCreate.name === 'Address'" 
              v-model.trim="$v.invoiceItemOnCreate.qty.$model" 
              @input="catchQty($event.target.value)"
              type="text" 
              id="" 
              name="" 
              :class="{ error: $v.invoiceItemOnCreate.qty.$invalid || $v.invoiceItemOnCreate.qty.$dirty, 'app-form--disabled': invoiceItemOnCreate.type.name === 'discount' || invoiceItemOnCreate.name === 'Address' }" 
              class="form-control mozilla-input valid" 
              :placeholder="invoiceItemOnCreate.type.name === 'discount' || invoiceItemOnCreate.name === 'Address' ? '' : 'Please specify'" 
              autocomplete="off">
            <label v-if="!$v.invoiceItemOnCreate.qty.numeric && $v.invoiceItemOnCreate.qty.$invalid" for="" class="error">Only numbers</label>
            <label v-if="!$v.invoiceItemOnCreate.qty.required && $v.invoiceItemOnCreate.qty.$invalid" for="" class="error">This field is required</label>
            <label v-if="$v.invoiceItemOnCreate.qty.$dirty" for="" class="error">Please, enter valid quantity</label>
          </div>
          <div class="invoice-create-item-form__col">
            <label v-if="invoiceItemOnCreate.type.name === 'discount'" for="" class="invoice-create-item-form__title">Discount:<span
                        class="required-label" v-if="invoiceItemOnCreate.name !== 'Address'">*</span></label>
            <label v-else for="" class="invoice-create-item-form__title">Rate:<span
            class="required-label" v-if="invoiceItemOnCreate.name !== 'Address'">*</span></label>
            <input 
                v-model.trim="$v.invoiceItemOnCreate.rate.$model" type="text" id="" name="" 
                :class="{ error: $v.invoiceItemOnCreate.rate.$invalid || $v.invoiceItemOnCreate.rate.$dirty, 'app-form--disabled': invoiceItemOnCreate.name === 'Address' }"
                @input="catchRate($event.target.value)"  
                class="form-control mozilla-input valid" 
                :disabled="invoiceItemOnCreate.name === 'Address'"
                :placeholder="invoiceItemOnCreate.name === 'Address' ? '' : 'Please specify'" 
                autocomplete="off">
            <label v-if="!$v.invoiceItemOnCreate.rate.decimal && $v.invoiceItemOnCreate.rate.$invalid" for="" class="error">Only numbers</label>
            <label v-if="!$v.invoiceItemOnCreate.rate.required && $v.invoiceItemOnCreate.rate.$invalid" for="" class="error">This field is required</label>
            <label v-if="$v.invoiceItemOnCreate.rate.$dirty" for="" class="error">Please, enter valid rate</label>
          </div>
        </div>

        <!-- modal footer -->
        <div class="app-modal__footer--right">
          <button @click="invoiceAddNewItem" :disabled="$v.validationGroup.$invalid || $v.invoiceItemOnCreate.rate.$anyDirty || $v.invoiceItemOnCreate.qty.$anyDirty" type="button" class="modalCancel app-detailed__button app-detailed__button--blue btn" autocomplete="off">Add</button>
          <button type="button" class="modalCancel app-detailed__button app-detailed__button--gray btn" data-dismiss="modal" autocomplete="off">Cancel</button>
        </div>
        <!-- /modal footer -->

      </form>
      <!-- /invoice-create-item-form -->

    </div>
    <!-- /modal content -->

  </div>
  <!-- /modal dialog -->

</div>
<!-- /modal form add item to invoice -->