<div class="app-proposal-current-deficiency__container content-account mCustomScrollbar _mCS_3"><div id="mCSB_3" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" tabindex="0" style="max-height: none;"><div id="mCSB_3_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position:relative; top:0; left:0;" dir="ltr">
  <table class="table app-proposal-add-deficiency__table-list app-view--max-width app-data__table" v-show="!showTable" data-remove="RemoveClassDisplayNone" id="invoice-items-table" style="display: none">
    <thead>
      <tr class="app-devices-table__header-service">
        <th></th>
        <th>Item</th>
        <th class="invoice-items-table__descr">Description</th>
        <th>QTY</th>
        <th>Rate</th>
        <th>Amount</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <draggable 
      v-if="invoiceItemsList.length !== 0"
      :element="'tbody'"
      v-model="invoiceItemsList" 
      @start="drag=true" 
      @end="drag=false">
      <invoice-item 
        @deleteItem="saveDeleteIndex"
        @itemBeforeEdit="itemBeforeEdit(item, index)" 
        :invoiceItem="item" 
        :key="index"
        :index="index"
        v-for="(item, index) in invoiceItemsList"
      />
    </draggable>
  </table>
  <div
    class="app-color--inactive app-font--bold app-text--align-center app-font--large app-proposal-current-deficiency__placeholder" v-show="showTable" style="display: none">Please add items</div>
</div><div id="mCSB_3_scrollbar_vertical" class="mCSB_scrollTools mCSB_3_scrollbar mCS-light mCSB_scrollTools_vertical" style="display: none;"><div class="mCSB_draggerContainer"><div id="mCSB_3_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 30px; height: 0px; top: 0px;"><div class="mCSB_dragger_bar" style="line-height: 30px;"></div></div><div class="mCSB_draggerRail"></div></div></div></div>
<div id="deleteModal" class="modal fade" role="dialog">
  <div class="modal-dialog app-modal">
    <!-- Modal content-->
    <div class="app-modal__content app-invoice__modal-content modal-content ">
      <div class="app-modal__body modal-body">
        <p>Are you sure you want to exclude this Item from Invoice?</p>
      </div>
      <div class="app-modal__footer">
        <a @click="itemDelete" class="app-detailed__button app-detailed__button--red btn" data-dismiss="modal" data-original-title="" title="">Yes</a>
        <a href="#" class="app-detailed__button app-detailed__button--gray btn" data-dismiss="modal" data-original-title="" title="">No</a>
      </div>
    </div>
  </div>
</div>
</div>

