<tr class="draggable-item">
  <td class="draggable-item__drag-icon">
    <img alt="image drag" src="/bundles/admin/dist/images/drag_grey.svg">
  </td>
  <td>
    {{ name }}
  </td>
  <td>
    {{ description }}
  </td>
  <td>
    {{ qty }}
  </td>
  <td>
    {{ rate }}
  </td>
  <td>
    {{ amount }}
  </td>
  <td class="app-proposal-add-deficiency-table-list__delete">
    <img 
      @click="showEditModal"
      alt="image edit" src="/bundles/admin/dist/images/edit.svg">
  </td>
  <td class="app-proposal-add-deficiency-table-list__delete app-text--align-right">
    <img 
      alt="image delete" 
      src="/bundles/admin/dist/images/delete.svg" 
      data-toggle="modal" 
      data-target="#deleteModal" 
      data-remove="RemoveClassDisplayNone"
      @click="$emit('deleteItem', index)">
  </td>
</tr>
