<!-- Modal Invoice Use Custom Pdf -->
<div id="uploadCustomInvoicePdfModal" class="modal fade" role="dialog" style="display: none; padding-right: 15px;">

  <div class="modal-dialog app-modal">

    <!-- Modal content-->
    <div class="app-modal__content modal-content app-modal__content--drag-drop">
      <div class="app-modal__body modal-body">
        <p>
          By confirming this action you confirm that you want to use a custom Invoice. Are you sure you want to confirm this action?
        </p>
      </div>

      <form
        class="app-modal__form validateCommentAndFile"
        enctype="multipart/form-data"
        id="uploadCustomInvoicePdf"
        :action="'/workorder/submit-custom-invoice/' + workorder.id"
        method="post"
        autocomplete="off"
        novalidate="novalidate">
        <div class="form-group app-text--align-left">
          <label for="leaveCommentTextArea">Comment:<span class="required-label">*</span></label>
          <textarea id="leaveCommentTextArea" name="form[comment]" class="app-form__textarea--small form-control" placeholder="Comment" autocomplete="off" aria-required="true"></textarea>
        </div>

        <div class="form-group app-text--align-left dragandropContainer">
          <label> Please attach Invoice PDF file:<span class="required-label">*</span></label>
          <div class="app-dragandrop">
            <div class="app-dragandrop__placeholder dragandropPlaceholder">Browse or Drag and Drop file here</div>
            <a class="app-link__select browseFile" data-original-title="" title="">Browse file</a>
            <div class="fileName app-word-breack text-center"></div>
            <a class="app-link__select removeFile" data-original-title="" title="" style="display: none;">Remove file</a>
            <input type="file" name="form[image]" data-type="PDF or DOC file" class="inputFile app-validation-pdf" style="visibility:hidden; height:0" autocomplete="off">
          </div>
          <div class="fileError"></div>
        </div>

        <div class="app-modal__footer--right">
          <button type="submit" class="app-detailed__button validateFile app-detailed__button--blue btn" autocomplete="off">OK</button>
          <button type="button" class="modalCancel refreshTextarea resetInputFile app-detailed__button app-detailed__button--gray btn" data-dismiss="modal" autocomplete="off">Cancel</button>
        </div>
      </form>
    </div>

  </div>

</div>
<!-- / End Modal Invoice Use Custom Pdf -->
