<div class="app-invoice__total-info">
  <div class="app-invoice__total-info__col">
    <div class="app-invoice__total-line">
      <span class="app-invoice__total-line__name">Workorder Total:</span>
      <span class="app-invoice__total-line__value">${{ workorderTotal }}</span>
    </div>
    <div class="app-invoice__total-line">
      <span class="app-invoice__total-line__name">Payments override:</span>
      <span class="app-invoice__total-line__value">
        <!-- <a href="" class="app-link__select">Edit</a> -->
        <input 
          type="text" 
          id="" 
          name="" 
          class="form-control mozilla-input ui-autocomplete-input"
          placeholder="" 
          v-model.trim="$v.overridePayment.$model"
          @input.trim.lazy="inputOverridePayment($event.target.value)"
          autocomplete="off">
      </span>
    </div>
    <div class="app-invoice__total-line">
      <span class="app-invoice__total-line__name">Balance due (ABFP):</span>
      <span class="app-invoice__total-line__value">${{ balanceDueABFP }}</span>
    </div>
  </div>
  <div class="app-invoice__total-info__col">
      <div class="app-invoice__total-line">
        <span class="app-invoice__total-line__name">Total:</span>
        <span class="app-invoice__total-line__value">${{ total }}</span>
      </div>
      <div class="app-invoice__total-line">
        <span class="app-invoice__total-line__name">Payments applied (QB):</span>
        <span class="app-invoice__total-line__value">${{ paymentApplied }}</span>
      </div>
      <div class="app-invoice__total-line">
        <span class="app-invoice__total-line__name">Balance due (QB):</span>
        <span class="app-invoice__total-line__value">${{ balanceDue }}</span>
      </div>
  </div>
</div>
