<div class="app-invoice">
  <form id="invoiceCreate" name="invoiceCreate" method="" action="#" class="app-invoice__wrapper">
    <!-- invoice-description -->
    <div class="app-invoice__invoice-description app-invoice__wrapper--padding">

      <input-invoice-no 
        :status="invoiceData.status" />
      <input-date 
        ref="invoiceDate"
        :invoiceData="invoiceData"
        @invoiceDate="getInvoiceDate"/>

    </div>
    <!-- /invoice-description -->

    <!-- invoice-info -->
    <div class="app-invoice__invoice-description app-invoice__invoice-info">
      <div class="app-invoice__col app-invoice__col--no-padding-right">
        <div class="app-invoice__border-right">
          <form-info-customer 
            :accountContactPerson="invoiceData.accountContactPerson" />
          <form-billing-address 
            ref="invoiceBillAddress" 
            :invoiceBillToAddress="invoiceData.billToAddress"
            :invoiceData="invoiceData"
            :accountContactPerson="invoiceData.accountContactPerson"
            :account="invoiceData.workorder.account"
            @invoiceBillAddress="getInvoiceBillAddress"
            @invoiceUseCustom="getUseCustom" />
        </div>
      </div>
      <div class="app-invoice__col">
        <form-info-jobsite :account="invoiceData.workorder.account"></form-info-jobsite>
        <form-qbjob :qbJob="invoiceData.job"></form-qbjob>
      </div>
    </div>
    <!-- /invoice-info -->

    <!-- invoice-form -->
    <div class="app-invoice__invoice-form">

      <!-- invoice-terms -->
      <invoice-terms 
        ref="invoiceTerms" 
        :termsData="termsData" 
        :invoiceData="invoiceData"
        @invoiceTerms="getInvoiceTerms" />
      <!-- invoice-terms -->

      <div class="app-wrapper">
        <div class="app-view--max-width">    
          <invoice-table 
            @itemBeforeEdit="gettingItemBeforeEdit" 
            @invoiceTotal="gettingInvoiceTotal"
            :invoiceData="invoiceData"
            :itemAfterEdit="itemAfterEdit"
            ref="invoiceTable"
            @invoiceItemsSend="getInvoiceItems"
          />
          <invoice-search 
            :isItemsVisible="showItems" 
            :invoiceItemsAvailable="invoiceItemsAvailable" 
            :itemsLoadStatus="itemsLoadStatus"
            @selected-item="gettingSelectedItem"
            :loading="loading"
          />
        </div>
      </div>

      <!-- Invoice total info -->
      <invoice-total-info 
        :invoiceTotal="invoiceTotal"
        :workorder="invoiceData.workorder"
        :invoiceData="invoiceData"
        ref="invoiceTotalInfo"
        @invoiceTotalInfo="getInvoiceTotalInfo" />
      <!-- /Invoice total info -->

      <!-- invoice-buttons -->
      <invoice-buttons 
        :invoiceWorkorder="invoiceData.workorder"
        @sendInvoiceToQB="sendInvoiceToQB"
        @saveInvoice="saveInvoice"
        @confirmEvent="(target, sendingLocation) => {confirmSending(target, sendingLocation)}"
         />
      <!-- /invoice-buttons -->

    </div>
    <!-- /invoice-form -->
  </form>

    <invoice-popup
      :selectedPopupItem="invoiceItemOnSelect"
      ref="addItemPopup" />
    <invoice-edit-popup 
      @itemAfterEdit="gettingItemAfterEdit"
      :itemBeforeEdit="itemBeforeEdit" 
      :indexItemBeforeEdit="indexItemBeforeEdit"
      ref="editItemPopup" />
    <invoice-use-custom-pdf
    :workorder="invoiceData.workorder" />

      <div id="noQbCustomer" class="modal fade" role="dialog">
        <div class="modal-dialog app-modal">
            <!-- Modal content-->
            <div class="app-modal__content app-invoice__modal-content modal-content ">
              <div class="app-modal__body modal-body">
                  <p>You need to add QB customer to send this invoice.</p>
              </div>
              <div class="app-modal__footer">
                <button type="button" class="app-detailed__button app-detailed__button--blue btn" data-dismiss="modal">OK</button>
              </div>
            </div>
        </div>
      </div>

      <div id="noItemAdded" class="modal fade" role="dialog">
        <div class="modal-dialog app-modal">
            <!-- Modal content-->
            <div class="app-modal__content app-invoice__modal-content modal-content ">
              <div class="app-modal__body modal-body">
                  <p>This invoice is without items so you have to add them.</p>
              </div>
              <div class="app-modal__footer">
                <button type="button" class="app-detailed__button app-detailed__button--blue btn" data-dismiss="modal">OK</button>
              </div>
            </div>
        </div>
      </div>

      <div id="negativeTotal" class="modal fade" role="dialog">
        <div class="modal-dialog app-modal">
            <!-- Modal content-->
            <div class="app-modal__content app-invoice__modal-content modal-content ">
              <div class="app-modal__body modal-body">
                  <p>Total can’t be lesser than 0.</p>
              </div>
              <div class="app-modal__footer">
                <button type="button" class="app-detailed__button app-detailed__button--blue btn" data-dismiss="modal">OK</button>
              </div>
            </div>
        </div>
      </div>

      <div id="negativeBalanceDue" class="modal fade" role="dialog">
        <div class="modal-dialog app-modal">
            <!-- Modal content-->
            <div class="app-modal__content app-invoice__modal-content modal-content ">
              <div class="app-modal__body modal-body">
                  <p>Total can’t be lesser then Payments Applied.</p>
              </div>
              <div class="app-modal__footer">
                <button type="button" class="app-detailed__button app-detailed__button--blue btn" data-dismiss="modal">OK</button>
              </div>
            </div>
        </div>
      </div>

    <invoice-use-custom-pdf
    :workorder="invoiceData.workorder" />
</div>
