<div>
  <div class="app-proposal-current-deficiency__input invoice-items-search-container">
    <div class="progress" id="invoice-loading-items" v-if="loading">
      <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%" aria-valuemin="0"
           aria-valuemax="100">Items are loading...</div>
    </div>
    <i class="glyphicon glyphicon-search invoice-items-search__icon"></i>
    <input type="search" class="form-control mozilla-input ui-autocomplete-input" id="invoice-items-search" placeholder="Search items to add" @focus="invoiceAutocomplete" name="repairsInput" autocomplete="off">
  </div>
  <!-- <div class="invoice-items-synchronized invoice-items-synchronized__succeed" v-if="itemsLoadStatus === true">QB Items names were synchronized</div> -->
  <div class="invoice-items-synchronized invoice-items-synchronized__fail" v-if="itemsLoadStatus === false">QB Items names were not synchronized</div>
  <div v-if="itemsLoadStatus === 'processing'"></div>
</div>
