{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}
    <div class="app-wrapper">
        <div class="app-contractor-information">
            <div class="app-view--max-width">
                <div class="app-detailed__wrapper app-contractor-information_height">
                    <div class="app-detailed__info app-view--max-height app-view--max-width app-wrapper">
                        <div class="app-contractor-information-block">
                            <div class="app-detailed__info app-account-separator app-account-max-width">
                                <div class="app-account-main__company">
                                    <div class="correct-position-contractor-logo app-display--inline-block app-text--align-right app-line--right-text"></div>
                                    {% if contractor.type.name == 'Partner' %}
                                        {% set contractorTypeSpanClass = 'label-success' %}
                                    {% elseif contractor.type.name == 'Competitor' %}
                                        {% set contractorTypeSpanClass = 'label-danger' %}
                                    {% else %}
                                        {% set contractorTypeSpanClass = 'label-primary' %}
                                    {% endif %}
                                    <div class="app-display--inline-block app-line--padding-left app-color--inactive">Contractor ID - {{ contractor.id }}  {% if contractor.oldSistemId %}(Old {{ contractor.oldSistemId }}) {% endif %}<span class="label {{ contractorTypeSpanClass }}">{{ contractor.type.name }}</span></div>
                                </div>
                                <div class="app-account-main__company app-no-padding--top">
                                    <div class="correct-position-contractor-logo app-display--inline-block app-text--align-right app-line--right-text ">
                                        <img src="{{ asset('bundles/admin/dist/images/contractor.svg') }}" class="correct-position-contractor-logo">
                                    </div>
                                    <div class="app-display--inline-block app-detailed__info__data-title app-cut-string app-line--padding-left ">
                                        {{ contractor.name }}
                                    </div>
                                </div>
                                <div class="app-account-main__company app-no-padding--top">
                                    <div class="correct-position-contractor-logo app-display--inline-block app-text--align-right app-line--right-text">
                                    </div>
                                    <div class="app-detailed__info__data-address app-cut-string app-save-space app-line--padding-left app-word-breack"> {{ contractor.address | address }}</div>
                                </div>
                                <div class="app-account-main__company">
                                    <div class="correct-position-contractor-logo app-display--inline-block app-text--align-right app-line--right-text">
                                    </div>
                                    <div class="app-detailed__info__data-address app-cut-string app-line--padding-left app-word-breack">
                                        <a href="{{ contractor.website | url_format }}" target="_blank" class="app-link__select">{{ contractor.website }}</a>
                                    </div>
                                </div>
                                <div class="app-account-main__company">
                                    <div class="correct-position-contractor-logo app-display--inline-block app-text--align-right app-line--right-text">
                                    </div>
                                    <div class="app-detailed__info__data-address app-cut-string app-line--padding-left ">
                                        <div class="app-contact-main__line {{ contractor.phone ? '' : 'app-color--inactive' }}">
                                            <div class="sprite sprite--phone"></div>
                                            <div class="app-contact-main__line-text">{{ contractor.phone ? contractor.phone | phone : 'No Phone' }}</div>
                                        </div>
                                        <div class="app-contact-main__line {{ contractor.fax ? '' : 'app-color--inactive' }}">
                                            <div class="sprite sprite--fax"></div>
                                            <div class="app-contact-main__line-text">{{ contractor.fax ? contractor.fax : 'No Fax' }}</div>
                                        </div>
                                        <div class="app-contact-main__line {{ contractor.email ? '' : 'app-color--inactive' }}">
                                            <div class="sprite sprite--dog"></div>
                                            <div class="app-contact-main__line-text app-word-breack">
                                                {% if contractor.email %}
                                                    <a href="{{ "mailto:" ~ contractor.email }}" class="app-link__select">{{ contractor.email }}</a>
                                                {% else %}
                                                    No E-mail
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <table class="app-contractor-information-block__more-info">
                                <tr>
                                    <td>State License Number: </td>
                                    <td>
                                        <span class="app-contractor-information-block__more-info_values {{ contractor.stateLicenseNumber is empty ? 'app-color--inactive' : '' }}">{{ contractor.stateLicenseNumber ?  contractor.stateLicenseNumber : '-'}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    {% if contractor.type.name == 'Partner' %}
                                    <td>Expiration of COI Date: </td>
                                    <td>
                                        {% if contractor.coiExpiration %}
                                            <span class="app-contractor-information-block__more-info_values">{{ contractor.coiExpiration | date('m/d/Y') }}</span>
                                        {% else %}
                                            <span class="app-color--inactive app-contractor-information-block__more-info_no-data">No Data</span>
                                            <img class="app-contact-list__warning app-contact-list__warning--middle" alt="warning image" src="{{ asset('bundles/admin/dist/images/warning.svg') }}">
                                        {% endif %}
                                    </td>
                                    {% endif %}
                                </tr>
                            </table>
                        </div>
                        <div class="app-contractor-information-block">
                            <div class="app-contractor-information-block__image-contractor">
                                <div id="image-contractor"
                                        class="app-contractor-information-block__image-contractor-content {% if contractor.logo %}device-block-width_background-property{% endif %}"
                                        {% if contractor.logo %} style="background-image: url({{ contractor.logo }});" {% endif %}>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="app-wrapper app-contractor-comment app-view--max-width">
                        <div class="app-contractor-comment__text-label app-color--inactive">Note:</div>
                        <div class="app-cut-string notes-account-content app-contractor-comment__content app-display--none"  data-remove>
                            <div class="{{ contractor.comment ? '' : 'app-color--inactive' }}">{{ contractor.comment ? contractor.comment : 'No Notes' }}</div>
                        </div>
                    </div>
                </div>
                <div class="app-detailed__button-container">
                    <a href="{{ path('admin_repair_service_named_create', {'contractor': contractor.id}) }}" class="app-detailed__button app-detailed__button--blue app-filter-form__button btn">Add Repair Service</a>
                    {#<a href="{{ path('admin_inspection_service_named_create', {'contractor': contractor.id}) }}" class="app-detailed__button app-detailed__button--blue app-filter-form__button btn">Add Inspection</a>#}
                    <!--<a href="/app_dev.php/admin/device/update/8" class="app-detailed__button app-detailed__button&#45;&#45;blue app-detailed__button&#45;&#45;shadow btn">WO History</a>
                    <a href="/app_dev.php/admin/device/update/8" class="app-detailed__button app-detailed__button&#45;&#45;blue app-detailed__button&#45;&#45;shadow btn">Test History</a>
                    <a href="/app_dev.php/admin/device/update/8" class="app-detailed__button app-detailed__button&#45;&#45;blue app-detailed__button&#45;&#45;shadow btn" >Edit</a>-->
                </div>
            </div>
        </div>
        <div class="app-contractor-information">
            <div class="app-contractor-note app-detailed__addition__content app-detailed__addition__content--medium">
                <div class="app-detailed__addition__container__title">Comments</div>
                <div class="app-account-addition__details__wrapper">No Comments Yet</div>
            </div>
            <div class="app-contractor-note app-detailed__addition__content app-detailed__addition__content--medium">
                <div class="app-detailed__addition__container__title">Files</div>
                <div class="app-account-addition__details__wrapper">No Files Yet</div>
            </div>
        </div>
    </div>
    <div class="app-account-site">
        <div class="app-wrapper app-account-site__header">
            <div class="app-color--inactive app-font--bold app-font--large">Services and Users</div>
        </div>
        <div class="app-data">
            <ul class="nav nav-tabs">
                    <li id="tab1" class="active"><a data-toggle="tab" href="#panel1" aria-expanded="true">
                            {{ quantityAllServices ? 'Services(' ~ quantityAllServices ~ ')' : 'Services (0)'}}</a></li>

                    <li id="tab2" class=""><a data-toggle="tab" href="#panel2" aria-expanded="false">Users ({{ contractorUsers | length }})</a></li>
            </ul>
            <div class="tab-content">
                <div id="panel1" class="tab-pane fade active in">
                    <table class="table app-data__table app-data__table--dark app-bordered--shadow app-table-radius app-table-radius--top-right">
                        <tbody>
                        {% for key, quantity in quantityEachServices %}
                            <tr>
                                <td colspan="12" class="app-devices-table__device-type">
                                    <div class="app-wrapper">
                                        <div>
                                            {% for oneCategory in allDeviceCategory if oneCategory.alias == key %}
                                                <img class="app-line--right-text"
                                                     src="{{ asset('bundles/admin/dist/images/' ~ oneCategory.icon ) }}">
                                            {% endfor %}
                                            <span class="app-color--inactive app-devices-table__device-title app-line--align">
                                                {{ key | title }} Services
                                            </span>
                                        </div>
                                        <div>
                                            <span class="app-devices-table__button app-line--align app-color--inactive">
                                                {% if quantity %}
                                                    Services:
                                                    <span class="app-contractor-information-block__more-info_values">
                                                        {{ quantity }}
                                                    </span>
                                                {% else %}
                                                    No Services
                                                {% endif %}
                                            </span>
                                            <!--<a href="#" class="app-link__table-button app-devices-table__button app-line&#45;&#45;align btn link-preventDefault">Add services</a>-->
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% if quantity %}
                            <tr class="app-color--opacity30">
                                <td class="app-contractor-information__empty"></td>
                                <td>ID</td>
                                <td>Service Name</td>
                                <td>Deficiency Description</td>
                                <td>Frequency</td>
                                <td>For</td>
                                <td>US State</td>
                                <td>Default Price</td>
                                <td>Regulatory Reference</td>
                                <td>Estimation Time</td>
                                <td>Require report</td>
                                <td>Require Mun. fee</td>
                            </tr>
                            {% endif %}
                            {% for service in services|sort_by(=> _.named.frequency, 'DESC') if service.deviceCategory.alias == key %}
                                <tr>
                                    <td class="app-contractor-information__empty"></td>
                                    <td>{{ service.id }}</td>
                                    <td class="app-word-breack">{{ service.named.name }}</td>
                                    <td class="app-word-breack">{{ service.named.deficiency ? service.named.deficiency : '-' }}</td>
                                    <td>{{ service.named.frequency ? service.named.frequency.name : '-' }}</td>
                                    <td class="app-word-breack">{{ service.named.deviceNamed[0].name }}</td>
                                    <td>{{ service.state ? service.state.code : '-' }}</td>
                                    <td>{{ service.fixedPrice ? '$' ~ service.fixedPrice | money_format(service.fixedPrice) : '-' }}</td>
                                    <td>{{ service.reference ? service.reference : '-' }}</td>
                                    {#<td class="app-word-breack">{{ service.code ? service.code : '-' }}</td>#}
                                    <td>
                                        <!--<img src="../images/delete.svg" class="app-table-contractor__inner-table_delete">-->
                                        {% if service.estimationTime and service.named.frequency %}
                                            {{ service.estimationTime }} {% if service.estimationTime <= 1 %} work hour {% else %} work hours {% endif %}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ service.named.isNeedSendMunicipalityReport ? "YES" : "NO" }}
                                    </td>
                                    <td>
                                        {{ service.named.isNeedMunicipalityFee ? "YES" : "NO" }}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div id="panel2" class="tab-pane fade">
                    {% if contractorUsers %}
                    <table class="table app-data__table app-table-users app-bordered--shadow app-table-radius">
                        <thead>
                            <tr>
                                <th colspan="3">Users</th>
                                <th class="">Admin</th>
                                <th>Contact</th>
                                <th>Tester</th>     
                             </tr>
                        </thead>
                        <tbody>
                        {% for contractorUser in contractorUsers %}
                            <tr>
                                <td>
                                    <div>
                                        <img class="app-contact-list__contact-icon" src="{{ asset('bundles/admin/dist/images/contractor_user.svg') }}" alt="image contact">
                                        <a href="{{ path('admin_contractor_user_view', {'contractorUser': contractorUser.id}) }}" class="app-link__select app-link__title app-contact-list__contact-name app-line--right-text">
                                            {{ contractorUser.user.firstName ?? '' }}  {{ contractorUser.user.lastName ?? '' }}
                                        </a>
                                    </div>
                                    <div class="app-line--colored">
                                        {% if contractorUser.title %}
                                            {{ contractorUser.title }}
                                        {% else %}
                                            <span class="app-color--inactive app-device-styles_table--no-data">No Data</span>
                                            <img class="app-contact-list__warning app-contact-list__warning--middle" alt="warning image" src="{{ asset('/bundles/admin/dist/images/warning.svg') }}">
                                        {% endif %}
                                    </div>
                                </td>
                                <td class="app-table-users__phones">
                                   <table>
                                        <tr>
                                            <td>Personall Cell:</td>
                                            <td>
                                                {% if contractorUser.personalPhone %}
                                                    {{ contractorUser.personalPhone | phone }}
                                                {% else %}
                                                    <span class="app-color--inactive app-device-styles_table--no-data">No Data</span>
                                                    <img class="app-contact-list__warning app-contact-list__warning--middle" alt="warning image" src="{{ asset('/bundles/admin/dist/images/warning.svg') }}">
                                                {% endif %}
                                            </td>
                                        <tr>
                                        <tr>
                                            <td>Work Cell:</td>
                                            <td>
                                                {% if contractorUser.workPhone %}
                                                    {{ contractorUser.workPhone | phone }}
                                                {% else %}
                                                    <span class="app-color--inactive app-device-styles_table--no-data">No Data</span>
                                                    <img class="app-contact-list__warning app-contact-list__warning--middle" alt="warning image" src="{{ asset('/bundles/admin/dist/images/warning.svg') }}">
                                                {% endif %}
                                            </td>
                                        <tr>
                                        <tr>
                                            <td>Fax:</td>
                                            <td>
                                                {% if contractorUser.fax %}
                                                    {{ contractorUser.fax | phone }}
                                                {% else %}
                                                    <span class="app-color--inactive app-device-styles_table--no-data">No Data</span>
                                                    <img class="app-contact-list__warning app-contact-list__warning--middle" alt="warning image" src="{{ asset('/bundles/admin/dist/images/warning.svg') }}">
                                                {% endif %}
                                            </td>
                                        <tr>
                                    </table>
                                </td>
                                <td>
                                   <table>
                                        <tr>
                                            <td>Address:</td>
                                            <td class="app-word-breack">
                                                {% if contractorUser.address %}
                                                    {{ contractorUser.address | address }}
                                                {% else %}
                                                    <span class="app-color--inactive app-device-styles_table--no-data">No Data</span>
                                                    <img class="app-contact-list__warning app-contact-list__warning--middle" alt="warning image" src="{{ asset('/bundles/admin/dist/images/warning.svg') }}">
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Personal Email:</td>
                                            <td class="app-word-breack">
                                                {% if contractorUser.personalEmail %}
                                                    <a href="{{ "mailto:" ~ contractorUser.personalEmail }}" class="app-link__select">{{ contractorUser.personalEmail }}</a>
                                                {% else %}
                                                    <span class="app-color--inactive app-device-styles_table--no-data">No Data</span>
                                                    <img class="app-contact-list__warning app-contact-list__warning--middle" alt="warning image" src="{{ asset('/bundles/admin/dist/images/warning.svg') }}">
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Work Email:</td>
                                            <td class="app-word-breack">
                                                {% if contractorUser.user and contractorUser.user.email %}
                                                    <a href="{{ "mailto:" ~ contractorUser.user.email }}" class="app-link__select">{{ contractorUser.user.email }}</a>
                                                {% else %}
                                                    <span class="app-color--inactive app-device-styles_table--no-data">No Data</span>
                                                    <img class="app-contact-list__warning app-contact-list__warning--middle" alt="warning image" src="{{ asset('/bundles/admin/dist/images/warning.svg') }}">
                                                {% endif %}
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    {% if  contractorUser.user and 'ROLE_ADMIN' in contractorUser.user.roles %}
                                        <svg class="app-data__table-data--check app-color-svg--active" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="33.565px" viewBox="0 0 32 33.565" enable-background="new 0 0 32 33.565" xml:space="preserve">
                                            <path fill="#FFFFFF" d="M11.909,33.565c-1.043,0-2.031-0.487-2.664-1.326L0.678,20.92c-1.115-1.47-0.825-3.563,0.647-4.678
                                                c1.475-1.12,3.568-0.825,4.683,0.647l5.637,7.442L25.818,1.573c0.976-1.563,3.038-2.043,4.606-1.067
                                                c1.566,0.973,2.048,3.035,1.069,4.604L14.748,31.987c-0.58,0.937-1.585,1.523-2.685,1.573C12.01,33.565,11.962,33.565,11.909,33.565
                                                z">
                                            </path>
                                        </svg>
                                    {% else %}
                                        <div class="app-contact-list__minus"></div>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if contractorUser.user and 'ROLE_CONTACT' in contractorUser.user.roles %}
                                        <svg class="app-data__table-data--check app-color-svg--active" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="33.565px" viewBox="0 0 32 33.565" enable-background="new 0 0 32 33.565" xml:space="preserve">
                                            <path fill="#FFFFFF" d="M11.909,33.565c-1.043,0-2.031-0.487-2.664-1.326L0.678,20.92c-1.115-1.47-0.825-3.563,0.647-4.678
                                                c1.475-1.12,3.568-0.825,4.683,0.647l5.637,7.442L25.818,1.573c0.976-1.563,3.038-2.043,4.606-1.067
                                                c1.566,0.973,2.048,3.035,1.069,4.604L14.748,31.987c-0.58,0.937-1.585,1.523-2.685,1.573C12.01,33.565,11.962,33.565,11.909,33.565
                                                z">
                                            </path>
                                        </svg>
                                    {% else %}
                                        <div class="app-contact-list__minus"></div>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if contractorUser.user and 'ROLE_TESTER' in contractorUser.user.roles %}
                                        <div class="app-contact-list__authorizer">
                                            <svg class="app-color-svg--{{ contact.authorizer.responsibilities.backflow is defined ? 'active': 'inactive' }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                                    x="0px" y="0px" width="13.792px" height="20.674px" viewBox="0 0 13.792 20.674" enable-background="new 0 0 13.792 20.674"
                                                    xml:space="preserve">
                                                <g>
                                                    <g>
                                                        <path fill="#FFFFFF" d="M6.888,0c0.877,1.473,1.874,3.16,2.884,4.839c0.912,1.516,1.897,2.993,2.745,4.544
                                                                c0.902,1.65,1.476,3.42,1.21,5.347c-0.423,3.06-2.543,5.261-5.576,5.825c-3.605,0.67-7.096-1.535-7.952-5.023
                                                                c-0.414-1.685-0.151-3.31,0.514-4.87C1.088,9.78,1.537,8.923,2.025,8.098c0.701-1.185,1.494-2.315,2.201-3.497
                                                                C5.177,3.012,6.082,1.396,6.888,0z M6.238,18.908c0.099-0.092,0.493-0.283,0.542-0.54c0.094-0.49-0.309-0.622-0.758-0.656
                                                                c-1.816-0.141-3.111-1.44-3.253-3.258c-0.035-0.446-0.157-0.815-0.666-0.776c-0.476,0.036-0.536,0.418-0.528,0.828
                                                                C1.619,16.782,3.695,18.862,6.238,18.908z"></path>
                                                    </g>
                                                </g>
                                            </svg>
                                            <svg class="app-color-svg--{{ contact.authorizer.responsibilities.fire is defined ? 'active': 'inactive' }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                                    x="0px" y="0px" width="16.55px" height="19.053px" viewBox="0 0 16.55 19.053" enable-background="new 0 0 16.55 19.053"
                                                    xml:space="preserve">
                                                <g>
                                                    <g>
                                                        <path fill="#FFFFFF" d="M6.841,0c0.545,0.25,1.068,0.536,1.544,0.905c0.833,0.647,1.523,1.423,2.099,2.304
                                                                c0.751,1.149,1.262,2.403,1.627,3.72c0.004,0.014,0.01,0.028,0.02,0.057c0.212-0.146,0.334-0.355,0.439-0.572
                                                                c0.259-0.54,0.302-1.115,0.229-1.697c-0.046-0.364-0.145-0.722-0.222-1.095c0.098,0.085,0.211,0.171,0.31,0.27
                                                                c0.987,0.986,1.807,2.094,2.459,3.328c0.414,0.784,0.743,1.6,0.959,2.46c0.173,0.688,0.258,1.388,0.245,2.096
                                                                c-0.019,0.987-0.24,1.928-0.664,2.823c-0.4,0.844-0.949,1.582-1.599,2.243c-0.519,0.529-1.087,1.005-1.706,1.415
                                                                c-0.384,0.255-0.776,0.498-1.165,0.745c-0.021,0.013-0.044,0.021-0.102,0.048c0.96-1.983,1.073-4.02,0.533-6.091
                                                                c-0.539-2.065-1.64-3.775-3.388-5.068c0.135,1.949-0.303,3.701-1.53,5.223c0.048-0.471,0.063-0.937-0.02-1.403
                                                                c-0.084-0.467-0.236-0.906-0.515-1.319c-0.083,0.284-0.155,0.547-0.238,0.806c-0.269,0.842-0.672,1.618-1.159,2.353
                                                                c-0.443,0.667-0.832,1.357-0.973,2.162c-0.096,0.543-0.078,1.081,0.029,1.619c0.107,0.535,0.283,1.047,0.513,1.541
                                                                c0.023,0.049,0.039,0.1,0.034,0.173c-0.284-0.172-0.577-0.329-0.849-0.518c-0.52-0.362-1.044-0.72-1.535-1.119
                                                                c-0.685-0.557-1.263-1.213-1.676-2.005c-0.463-0.889-0.596-1.832-0.515-2.819c0.081-0.985,0.377-1.905,0.804-2.791
                                                                c0.387-0.804,0.763-1.614,1.129-2.427c0.236-0.526,0.38-1.081,0.434-1.657c0.002-0.024,0.007-0.047,0.017-0.107
                                                                C2.979,6.573,3.127,7.612,3.16,8.681c0.015,0.002,0.03,0.005,0.044,0.007c0.106-0.13,0.213-0.259,0.317-0.391
                                                                c0.661-0.843,1.281-1.715,1.817-2.643c0.506-0.877,0.937-1.79,1.217-2.765c0.206-0.715,0.329-1.445,0.309-2.193
                                                                C6.859,0.465,6.83,0.232,6.811,0C6.821,0,6.831,0,6.841,0z"></path>
                                                    </g>
                                                </g>
                                            </svg>
                                        </div>
                                        <div class="app-contact-list__authorizer">
                                            <svg class="app-color-svg--{{ contact.authorizer.responsibilities.alarm is defined ? 'active': 'inactive' }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                                    x="0px" y="0px" width="18.619px" height="18.614px" viewBox="0 0 18.619 18.614" enable-background="new 0 0 18.619 18.614"
                                                    xml:space="preserve">
                                                <g>
                                                    <g>
                                                        <path fill="#FFFFFF" d="M15.669,0.279c-0.689,0.683-1.326,1.312-1.96,1.945c-0.796,0.795-0.792,1.363,0.007,2.164
                                                                c0.228,0.229,0.454,0.461,0.687,0.685c0.582,0.559,1.224,0.569,1.801,0.009c0.623-0.604,1.229-1.226,1.845-1.837
                                                                c0.081-0.08,0.174-0.147,0.269-0.226c1.011,2.374-0.636,5.366-3.247,5.853c-0.651,0.122-1.357,0.079-2.016-0.027
                                                                c-0.401-0.064-0.619,0.02-0.879,0.281c-2.915,2.933-5.842,5.855-8.757,8.787c-0.56,0.563-1.2,0.837-1.983,0.631
                                                                c-1.397-0.369-1.902-2.053-0.942-3.131c0.328-0.368,0.692-0.704,1.041-1.053c2.659-2.66,5.315-5.323,7.983-7.973
                                                                c0.26-0.258,0.322-0.471,0.233-0.84c-0.792-3.281,2.103-6.18,5.4-5.428C15.294,0.153,15.432,0.206,15.669,0.279z M1.79,17.433
                                                                c0.343-0.001,0.676-0.311,0.649-0.649c-0.03-0.384-0.246-0.639-0.65-0.638c-0.401,0.001-0.622,0.247-0.646,0.638
                                                                C1.122,17.128,1.444,17.434,1.79,17.433z"></path>
                                                    </g>
                                                </g>
                                            </svg>
                                            <svg class="app-color-svg--{{ contact.authorizer.responsibilities.alarm is defined ? 'active': 'inactive' }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                                    x="0px" y="0px" width="20.364px" height="19.839px" viewBox="0 0 20.364 19.839" enable-background="new 0 0 20.364 19.839"
                                                    xml:space="preserve">
                                                <g>
                                                    <g>
                                                        <path fill="#FFFFFF" d="M8.145,16.339C3.585,16.295-0.04,12.629,0,8.104c0.04-4.512,3.731-8.156,8.209-8.104
                                                                c4.544,0.053,8.165,3.736,8.119,8.24C16.284,12.66,12.713,16.32,8.145,16.339z M10.492,8.223c0.054-1.232-0.957-2.327-2.198-2.381
                                                                c-1.325-0.058-2.403,0.921-2.466,2.24c-0.059,1.245,0.953,2.363,2.188,2.415C9.365,10.553,10.432,9.573,10.492,8.223z M1.691,10.7
                                                                c0.02-0.004,0.039-0.007,0.059-0.011C1.664,8.183,2.454,6.006,4.228,4.231c1.773-1.774,3.95-2.56,6.457-2.507
                                                                c-0.15-0.099-0.299-0.182-0.458-0.233C8.957,1.085,7.673,1.058,6.386,1.398c-2.893,0.765-4.953,3.223-5.202,6.21
                                                                C1.108,8.526,1.204,9.43,1.507,10.305C1.554,10.442,1.629,10.569,1.691,10.7z"></path>
                                                        <path fill="#FFFFFF" d="M18.048,12.365c-0.546-0.221-0.925-0.583-1.101-1.132c-0.285-0.891,0.191-1.849,1.072-2.17
                                                                c0.877-0.32,1.852,0.114,2.212,0.984c0.358,0.863-0.032,1.858-0.895,2.245c-0.16,0.072-0.229,0.159-0.272,0.328
                                                                c-0.447,1.75-1.494,3.074-2.949,4.098c-1.23,0.866-2.599,1.425-4.057,1.772c-0.161,0.038-0.208,0.107-0.221,0.261
                                                                c-0.053,0.614-0.561,1.084-1.18,1.086c-1.674,0.005-3.347,0.004-5.021,0c-0.573-0.001-1.078-0.46-1.148-1.03
                                                                c-0.048-0.391-0.101-0.782-0.125-1.175C4.33,17.068,4.69,16.8,5.231,16.972c0.766,0.244,1.544,0.424,2.346,0.5
                                                                c1.179,0.111,2.309-0.134,3.428-0.469c0.013-0.004,0.026-0.011,0.039-0.015c0.501-0.159,0.724-0.059,0.938,0.432
                                                                c0.708-0.177,1.393-0.425,2.054-0.737c1.263-0.596,2.378-1.38,3.191-2.541C17.601,13.605,17.88,13.024,18.048,12.365z"></path>
                                                    </g>
                                                </g>
                                            </svg>
                                        </div>
                                    {% else %}
                                        <div class="app-contact-list__minus"></div>
                                    {% endif %}
								</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <div class="app-data__not-found app-contractor__not-found app-bordered--shadow">No Users</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    {{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
        'modalId' : 'deleteModal',
        'message' : 'Are you sure you want to delete this account?'
    }) }}
{% endblock %}
