{% extends 'AdminBundle:Account:form.html.twig' %}

{% block formHead %}
    <div class="app-link__header--site-form app-main__page-title-name">Create New Site Account and Link it to
        <img class="app-link__icon" src="{{ asset('bundles/admin/dist/images/group_site.svg') }}" alt="image account">
    </div>
    <div class="app-link__title--site-form">
        <a href="{{ path('admin_account_get', {'accountId': groupAccount.id}) }}" target="_blank" class="app-link__title">{{ groupAccount.name }}</a>
    </div>
{% endblock %}

{% block formAccountTypeBlock %}
    {{ form_widget(form.type.1, {'attr': {'name': 'type', 'class': 'app-radio hidden-row', 'type':'radio'}}) }}
    {{ form_widget(form.type.2, {'attr': {'name': 'type', 'class': 'app-radio hidden-row', 'type':'radio'}}) }}
{% endblock %}

{% block formButton %}
    <button data-link="Account Group" type="submit" class="app-form-button btn ">CREATE</button>
{% endblock %}

{% block backButton %}
    <a href="{{ path('admin_account_search_account_for_select', {'groupAccountId': groupAccount.id}) }}" class="app-form-button app-form-button--grey app-form-button--indent btn">CANCEL</a>
{% endblock %}

