{% extends 'AdminBundle:Account:form.html.twig' %}

{% block formHead %}
 <div class="app-main__page-title-name">
    New Account Registration
 </div>
{% endblock %}

{% block formAccountTypeBlock %}
    <div class="form-group">
        <label>Account Type:</label>
        <div>
            {{ form_widget(form.type.1, {'attr': {'name': 'type', 'class': 'app-radio', 'type':'radio'}}) }}
            <label class="app-radio-label" for="account_type_1">Site</label>
            {{ form_widget(form.type.2, {'attr': {'name': 'type', 'class': 'app-radio', 'type':'radio'}}) }}
            <label class="app-radio-label" for="account_type_2">Group Account</label>
        </div>
    </div>
{% endblock %}

{% block formButton %}
    <button type="submit" class="app-form-button btn ">CREATE</button>
{% endblock %}

