{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}
	<div class="app-wrapper app-account-main__button-indent">
		<div class="app-account-main">
			<div class="app-detailed__wrapper heightDetector">
				<div class="app-detailed__info app-account-separator app-account-max-width">
					<div class="app-account-main__company">
						<div class="app-account-main__company--text-label app-text--align-right app-line--right-text"></div>
						<div class="app-display--inline-block app-line--padding-left app-color--inactive"><span class="{{account.deleted ? 'app-deleted' : ''}}">{{ account.type.alias == 'group account' ? 'Group Account ID' : 'Site Account ID' }}  -  {{ account.id }} {% if account.oldAccountId %}(Old {{ account.oldAccountId }}){% endif %}</span></div>
					</div>
					<div class="app-account-main__company app-no-padding--top">
						<div class="app-account-main__company--text-label app-text--align-right app-line--right-text {{account.deleted ? 'app-deleted' : ''}}">
							<img src="{{ asset('bundles/admin/dist/images/' ~ (account.type.alias == 'group account' ? 'group_site.svg' : 'site.svg') )}}" class="app-account-icon--size">
						</div>
						<div class="app-display--inline-block app-detailed__info__data-title app-cut-string app-line--padding-left {{account.deleted ? 'app-deleted' : ''}}">
                            {{ account.name }}
                            {{ account | is_message('no_municipality_compliance_channel_backflow') | raw }}
                            {{ account | is_message('service_no_fee') | raw }}
                            {{ account | is_message('authorizer_invalid_address') | raw }}
						</div>
					</div>
					<div class="app-account-main__company app-no-padding--top">
						<div class="app-account-main__company--text-label app-text--align-right app-line--right-text">
						</div>
						<div class="app-detailed__info__data-address app-cut-string app-save-space app-line--padding-left {{account.deleted ? 'app-deleted' : ''}}">{{ account.address | address }}</div>
					</div>
					<div class="app-account-main__company app-line--padding-top">
						<div class="app-account-main__company--text-label app-text--align-right app-line--right-text">

						</div>
						<div class="app-detailed__info__data-id">
                            {% set labelClass = ' label-success' %}
                            {% if account.clientType.alias == 'inactive' %}
                                {% set labelClass = ' label-danger' %}
                            {% elseif account.clientType.alias == 'special_discount'%}
                                {% set labelClass = ' label-warning' %}
                            {% elseif account.clientType.alias == 'potential'%}
                                {% set labelClass = ' label-primary' %}
                            {% endif %}

							<span class="label{{ labelClass }} {{account.deleted ? 'app-deleted' : ''}}">{{ account.clientType.name }}</span>
                            {% if account.specialDiscount %}
								<span class="label label-warning {{account.deleted ? 'app-deleted' : ''}}">Special Discount</span>
                            {% endif %}
                            {% if account.deleted %}
								<span class="label label-danger">Deleted</span>
                            {% endif %}
						</div>
					</div>
				</div>
				<div class="app-detailed__info__data app-wrapper app-account-separator app-account-max-width {{account.deleted ? 'app-deleted' : ''}}">
					<div class="app-account-main__company">
						<div class="app-account-main__company--text-label app-text--align-right app-line--right-text">Company: </div>
                        {% if account.company %}
							<div class="sprite sprite--company "></div>
							<div class="app-color--white app-cut-string app-word-breack app-account-main__company--content">
								<a href="{{ path('admin_company_get', {'company': account.company.id}) }}" class="app-link__select app-line--right-text app-font--bold {{account.company.deleted ? 'app-deleted' : ''}}">{{ account.company.name }}</a>{% if account.company.deleted %}
								<span class="label label-danger app-label">Deleted</span>{% endif %}
								<a href="#" data-toggle="modal" class="app-link__delete app-display--inline-block" data-target="#deleteCompanyModal"><img alt="image delete" src="/bundles/admin/dist/images/delete.svg"></a>
							</div>
                        {% else %}
							<div class="sprite sprite--company "></div>
							<div class="app-account-main__company--content">
								<span class="app-line--right-text">Not selected</span>
                                {% if not account.deleted %}
									<a class="app-link__select" href="{{ path('admin_account_search_company_for_select', {'account': account.id}) }}">Select</a>
                                {% endif %}
							</div>
                        {% endif %}
					</div>
					<div class="app-account-main__company">
						<div class="app-account-main__company--text-label app-text--align-right app-line--right-text">Municipality: </div>
						<img class="app-account-main__site" src="{{ asset('bundles/admin/dist/images/municipalities.svg')}}" alt="image municipality">
						<div class="app-color--white app-cut-string">
							<a href="{{ path('admin_municipality_view', {'municipality': account.municipality.id}) }}" class="app-link__select app-line--right-text app-font--bold">{{ account.municipality.name }}</a>
						</div>
					</div>
                    {% if account.type.alias == "group account" %}
						<div class="app-account-main__company">
                            {% if account.oldSystemMasLevelAddress and  account.oldSystemMasLevelAddress | address %}
								<span class="app-account-main__company--text-label app-text--align-right app-line--right-text">Old  Master Address:</span>
								<span class="app-color--white app-account-main__company--content">{{ account.oldSystemMasLevelAddress | address }}</span>
                            {% else %}
								<span class="app-account-main__company--text-label app-text--align-right app-line--right-text">Old  Master Address:</span>
								<span class="app-color--inactive app-account-main__company--content">No Old Master Address</span>
                            {% endif %}
						</div>
                    {% endif %}
                    {% block linkedGroupAccountBlock %}{% endblock %}
				</div>

				<div class="app-detailed__info__data app-wrapper app-account-max-width {{ account.deleted ? 'app-deleted' : ''}}">
					<div class="app-account-main__company">
						<div class="app-account-main__company--text-label app-text--align-right app-line--right-text">Payment Terms: </div>
						<div class="app-display--inline-block {{account.paymentTerm ? 'app-color--white' : '' }}">
                            {{ account.paymentTerm ? account.paymentTerm.name : 'No Payment Terms' }}
						</div>
					</div>

					<div class="app-account-main__company">
						<div class="app-account-main__company--text-label app-text--align-right app-line--right-text">Building Type: </div>
						<div class="app-display--inline-block {{account.buildingType ? 'app-color--white' : '' }}">
                            {{ account.buildingType ? account.buildingType.name : 'No Building Type' }}
						</div>
					</div>
				{# </div> #}

				{# <div class="app-detailed__info__data app-wrapper app-account-max-width {{ account.deleted ? 'app-deleted' : ''}}"> #}
					<div class="app-account-main__company">
						<div class="app-account-main__company--text-label app-text--align-right app-line--right-text">Website: </div>
						<div class="app-display--inline-block {{account.website ? 'app-color--active' : '' }}">
                            {% if account.website %}
								<a class="app-link__select app-cut-string" href="{{ account.website | url_format }}" target="_blank">{{account.website}}</a>
                            {% else %}
								No Website
                            {% endif %}
						</div>
					</div>
				{# </div> #}

				{# <div class="app-detailed__info__data app-wrapper app-account-max-width {{account.deleted ? 'app-deleted' : ''}}"> #}
					<div class="app-account-main__company app-account-notes">
						<div class="app-account-main__company--text-label app-text--align-right app-line--right-text">Notes: </div>
						<div class="app-account-notes__content app-account-main__notes-text app-cut-string app-save-space notes-account-content"><div class="app-display--none {{ account.notes ? '' : 'app-color--inactive' }} " data-remove>{{ account.notes ? account.notes : 'No Notes' }}</div></div>
					</div>
				</div>
			</div>
            {% if not account.deleted %}
				<div class="app-detailed__button-container app-account-main__button-container">
                    {% if not account.deleted and account.type.alias == 'group account' %}
						<a href="{{ path('admin_account_search_account_for_select', {'groupAccountId': account.id}) }}" class="app-detailed__button app-detailed__button--blue app-detailed__button--shadow btn">Add Account</a>
                    {% elseif not account.deleted and account.type.alias == 'account' %}
						<a href="#" class="app-detailed__button app-detailed__button--blue app-detailed__button--shadow btn" data-target="#addDevice" data-toggle="modal">Add Device</a>
                    {% endif %}
					<a class="app-detailed__button app-detailed__button--red app-detailed__button--shadow btn" data-toggle="modal" data-target="#deleteModal">Delete</a>
					<a href="{{ path('admin_account_update', {'account': account.id}) }}" class="app-detailed__button app-detailed__button--blue app-detailed__button--shadow btn">Edit</a>
				</div>
            {% endif %}
			<div class="app-detailed__button-container app-detailed__button-container--margin-left app-device-styles__last-edited app-account-main__button-container app-view--max-width {{ account.deleted ? ' app-deleted' : ''}}">
                {% if accountHistory.dateUpdate is defined %}
					Last edited: {{ accountHistory.dateUpdate | date('m/d/Y h:i A') }}
					{% if accountHistory.author %}
						by
						<span class="app-device-styles__last-edited_uderline-text">
							{{ accountHistory.author.firstName ~ ' ' ~ accountHistory.author.lastName }}
						</span>
					{% endif %}
                {% else %}
					Last edited: {{ account.dateUpdate | date('m/d/Y h:i A') }}
                {% endif %}
			</div>
		</div>
		<div class="app-account-addition">
			<div class="app-wrapper">
				<div class="app-detailed__addition__container--large">
					<div class="app-account-addition__details app-account-addition__details--account ">
						<div class="app-no-padding app-detailed__addition__container__title {{account.deleted ? 'app-deleted' : ''}}">
							<div class="app-contact-list__container--theader ">
								<table class="table app-contact-list__table app-contact-list__table--small">
									<thead>
									<tr>
										<th colspan="2">Primary Account Contacts ({{ contacts.primary | length }})</th>
										<th>{{ contacts.primary | length == 0 ? '' : 'Authorizer' }}</th>
										<th>{{ contacts.primary | length == 0 ? '' : 'Access' }}</th>
										<th>{{ contacts.primary | length == 0 ? '' : 'Payments' }}</th>
									</tr>
									</thead>
								</table>
							</div>
						</div>
						<div class="app-contact-list__container--tbody content-account {{account.deleted ? 'app-deleted' : ''}}">
							<table class="table app-contact-list__table app-contact-list__table--small">
								<tbody>
                                {% for contact in contacts.primary %}
									<tr>
                                        {% include '@Admin/AccountContactPerson/authorizerTableContact.html.twig' with {'contact': contact} %}
									</tr>
                                {% endfor %}
								</tbody>
							</table>
                            {% for errorMessage in errorMessages %}
								<div class="app-line--colored app-contact-list__no-contact">
									{% if "Primary Authorizer" in errorMessage %}
										<img class="app-contact-list__warning app-contact-list__warning--middle" alt="warning image" src="/bundles/admin/dist/images/warning_red.svg">{{ errorMessage }}
									{% else %}
										<img class="app-contact-list__warning app-contact-list__warning--middle" alt="warning image" src="/bundles/admin/dist/images/warning.svg">{{ errorMessage }}
									{% endif %}
								</div>
                            {% endfor %}
						</div>
					</div>
					<div class="app-detailed__button-container">
						<a href="{{ path('admin_account_contact_person_manage', {'account': account.id}) }}" class="app-detailed__button app-detailed__button--blue app-detailed__button--shadow btn">View and Manage All Contacts ({{ allContactsCount }})</a>
					</div>
				</div>
				<div class="app-detailed__addition__content app-detailed__addition__content--account app-detailed__addition__container--small">
					<div class="app-detailed__addition__container__title">Comments</div>
					<div class="app-account-addition__details__wrapper">No Comments</div>
				</div>
			</div>
		</div>
	</div>

	{{ include('AdminBundle:Opportunity:flash_messages.html.twig', {"app.session": app.session}) }}

    {#Start tabs#}
	<div class="app-account-tabs__list app-color--inactive">
		<a href="{{ path("admin_account_get", {"accountId": account.id}) }}" class="app-account-tabs__item{{ app.request.attributes.get('_route') == 'admin_account_get' ? ' app-account-tabs__item--active' : '' }}">
            {{ account.type.alias == 'account' ? 'Devices and Services' : 'Sites, Devices and Services' }}
		</a>
		<a href="{{ path("admin_account_opportunity_get", {"account": account.id}) }}" class="app-account-tabs__item{{ app.request.attributes.get('_route') == 'admin_account_opportunity_get' ? ' app-account-tabs__item--active' : '' }}">
			Retest Opportunities ({{ opportunities | length }})
		</a>
		<a href="{{ path("admin_account_repair_opportunities_get", {"account": account.id}) }}" class="app-account-tabs__item {{ app.request.attributes.get('_route') == 'admin_account_repair_opportunities_get' ? ' app-account-tabs__item--active' : '' }}">
			Repair Opportunities ({{ countRepairOpportunity }})
		</a>
		<a href="{{  path("admin_account_reset_notices_get", {"account": account.id}) }}" class="app-account-tabs__item{{ app.request.attributes.get('_route') == 'admin_account_reset_notices_get' ? ' app-account-tabs__item--active' : '' }}">
			Retest Notices ({{ countRetestProposals }})
		</a>
		<a href="{{ path("admin_account_proposals_get", {"account": account.id}) }}" class="app-account-tabs__item{{ app.request.attributes.get('_route') == 'admin_account_proposals_get' ? ' app-account-tabs__item--active' : '' }}">
			Proposals ({{ countProposals }})
		</a>
		<a href="{{ path("admin_account_workorders_get", {"account": account.id}) }}" class="app-account-tabs__item{{ app.request.attributes.get('_route') == 'admin_account_workorders_get' ? ' app-account-tabs__item--active' : '' }}">
			Workorders ({{ countWorkorder }})
		</a>
	</div>
    {#End Tabs#}

    {% block deviceListBlock %}{% endblock %}
    {% block accountListBlock %}{% endblock %}
    {% block opportunityListBlock %}{% endblock %}
    {% block resetNoticesListBlock %}{% endblock %}
    {% block workOrdersListBlock %}{% endblock %}
    {% block repairProposalListBlock %}{% endblock %}

    {% block modalWindows %}
		<!-- Modal -->
        {{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
            'modalId' : 'deleteModal',
            'message' : 'Are you sure you want to delete this Account?',
            'buttonYesHref' : path('admin_account_delete', {'account': account.id}),
            'oneClick' : 'Yes'
        }) }}

		<!-- Modal -->
        {{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
            'modalId' : 'deleteCompanyModal',
            'message' : 'Are you sure you want to unlink the Company from the Account?',
            'buttonYesHref' : path('admin_account_delete_link_to_company', {'account': account.id})
        }) }}

		<!-- Modal -->
        {{ include('AdminBundle:layouts/dialogs:selectDeviceDialog.html.twig', {
            'modalId' : 'addDevice',
            'message' : 'Please select Device to add:',
            'modalFormId' : 'selectDeviceForm',
            'selectName' : 'deviceName',
            'defaultSelectOption' : {'value' : '', 'text' : 'Select Device'},
            'optionsArray' : deviceNamed,
            'modalClass' : 'popupForm'
        }) }}
    {% endblock %}
	<!-- Modal -->
    {{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
        'modalId' : 'createNoticeModal',
        'message' : 'Are you sure you want to perform batch creation of Retest Notices for listed Opportunities?',
        'buttonYesHref' : path('admin_proposal_quick_create_for_account', { 'filters' : filterParams ?? '', 'account': account.id }),
        'oneClick' : 'Yes'
    }) }}
    {{ include('AdminBundle:layouts/dialogs:infoDialog.html.twig', {
        'modalId' : 'filterDateError',
        'message' : 'Please filter opportunities by dates before using Quick Retest Notice Creation'
    }) }}

	<!-- Modal -->
    {{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
        'modalId' : 'sendMailsModal',
        'message' : 'Are you sure you would like to print PDF letters for all selected retest notices?
             Please note this will mark all selected retest notices as those that were sent via US mail.',
        'buttonYesHref' : path('admin_proposals_reports_merge', {'division': filters.division is defined ? filters.division : '', 'clientType': filters.clientType is defined ? filters.clientType : '', 'status': filters.status is defined ? filters.status : '', 'date': filters.date is defined ? filters.date : ''}),
        'newWindow': true
    }) }}

    {{ include('AdminBundle:layouts/dialogs:infoDialog.html.twig', {
        'modalId' : 'sendMailsError',
        'message' : 'Please filter Retest Notices by due dates before using Send via Mails.'
    }) }}

	<!-- Modal Delete Service-->
	{{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
        'modalId' : 'deleteServiceModal',
        'message' : 'Are you sure you want to delete this Service?',
        'buttonYes' : 'modalYes',
        'buttonYesHref' : '#',
        'oneClick' : 'Yes'
	}) }}
    <!-- End Modal Delete Service-->

    <!-- Modal Check on Upddate Service-->
		{{ include('AdminBundle:layouts/dialogs:infoDialog.html.twig', {
        'modalId' : 'updateServiceError',
        'message' : 'This service is under a Retest Notice or Workorder or Proposal so you can not edit it.'
        }) }}
    <!-- End Modal Check on Upddate Service-->

    <!-- Modal Check on Delete Service-->
		{{ include('AdminBundle:layouts/dialogs:infoDialog.html.twig', {
        'modalId' : 'deleteServiceError',
        'message' : 'This service is under a Retest Notice or Workorder or Proposal so you can not delete it.'
        }) }}
    <!-- End Modal Check on Delete Service-->

    <!-- Modal Omit Service -->
    {{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
        'modalId' : 'omitModal',
        'message' : 'Are you sure you want to Omit this Service?',
        'buttonYes' : 'modalYes',
        'oneClick' : 'Yes'
    }) }}
    <!-- End Modal Omit Service -->

	<!-- Modal Discard Service -->
    {{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
        'modalId' : 'discardModal',
        'message' : 'Are you sure you want to Discard this Service?',
        'buttonYes' : 'modalYes',
        'buttonYesHref' : '#',
        'oneClick' : 'Yes'
    }) }}
	<!-- End Modal Discard Service -->

	<!-- Modal Restore Service -->
    {{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
        'modalId' : 'restoreModal',
        'message' : 'Are you sure you want to Restore this Service?',
        'buttonYes' : 'modalYes',
        'buttonYesHref' : '#',
        'oneClick' : 'Yes'
    }) }}
	<!-- End Modal Restore Service -->

	<!-- Modal Confirm Popup Add to Proposal -->
    {{ include('AdminBundle:layouts/dialogs:infoDialog.html.twig', {
        'modalId' : 'confirmAddToProposal',
        'message' : 'Some information about Account Authorizer or Municipality Compliance Channel is missing for the account. Please add missing information before adding device to Proposal.'
    }) }}
	<!-- End Modal Confirm Popup Add to Proposal -->

	<!-- Modal Confirm Popup Add to Workorder -->
    {{ include('AdminBundle:layouts/dialogs:infoDialog.html.twig', {
        'modalId' : 'confirmAddDeviceToWorkorder',
        'message' : 'Some information about Account Authorizer or Municipality Compliance Channel is missing for the account. Please add missing information before adding device to Workorder.'
    }) }}
	<!-- End Modal Confirm Popup Add to Workorder -->

	<!-- Modal Confirm Popup to Create Custom Proposal -->
    {{ include('AdminBundle:layouts/dialogs:infoDialog.html.twig', {
        'modalId' : 'confirmAddToCreateCustomProposal',
        'message' : 'Some information about Account Authorizer is missing for the account. Please add missing information before adding Custom Proposal.'
    }) }}
	<!-- End Modal Confirm Popup to Create Custom Proposal -->

	<!-- Modal Confirm Popup to Create Generic WO -->
    {{ include('AdminBundle:layouts/dialogs:infoDialog.html.twig', {
        'modalId' : 'confirmAddToGenericWO',
        'message' : 'Some information about Account Authorizer is missing for the account. Please add missing information before adding Generic Workorder.'
    }) }}
	<!-- End Modal Confirm Popup to Create Custom Proposal -->

	<!-- Modal Confirm Popup to Create RN -->
    {{ include('AdminBundle:layouts/dialogs:infoDialog.html.twig', {
        'modalId' : 'confirmQuickAddToRNAuthorizerError',
        'message' : 'Some information about Account Authorizer is missing for the account. Please add missing information before adding to Retest Notice.'
    }) }}
	<!-- End Modal Confirm Popup to Create RN -->

	<!-- Modal Confirm Popup to Create Proposal from Inspection -->
    {{ include('AdminBundle:layouts/dialogs:infoDialog.html.twig', {
        'modalId' : 'confirmQuickAddInspectionToProposalAuthorizerError',
        'message' : 'Some information about Account Authorizer is missing for the account. Please add missing information before adding to Proposal.'
    }) }}
	<!-- End Modal Confirm Popup to Create Proposal from Inspection -->

	<!-- Modal Confirm Popup to Create Workorder from Inspection -->
    {{ include('AdminBundle:layouts/dialogs:infoDialog.html.twig', {
        'modalId' : 'confirmQuickAddInspectionToWorkorderAuthorizerError',
        'message' : 'Some information about Account Authorizer is missing for the account. Please add missing information before adding to Workorder.'
    }) }}
	<!-- End Modal Confirm Popup to Create Workorder from Inspection -->


	<!-- Modal Confirm Popup to Create RN -->
    {{ include('AdminBundle:layouts/dialogs:infoDialog.html.twig', {
        'modalId' : 'confirmQuickAddToRNNoOpportunityError',
        'message' : 'No retest opportunities are available to be added to Retest Notice.'
    }) }}
	<!-- End Modal Confirm Popup to Create RN -->

	<!-- Modal Confirm Error Popup to Create RN from opportunity limit error -->
    {{ include('AdminBundle:layouts/dialogs:infoDialog.html.twig', {
        'modalId' : 'confirmQuickAddToRNOpportunityLimitError',
        'message' : 'You selected more than 500 Retest Opportunities for batch Retest Notices creation.
                Please reduce amount of filtered opportunities to be less than 500 and try again.'
    }) }}
	<!-- End Modal Confirm Error Popup to Create RN from opportunity limit error -->

	<!-- Modal Add Service to Proposal -->
    {{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
        'modalId' : 'addInspectionToProposalModal',
        'message' : 'Are you sure you want to Add this Service to Proposal?',
        'buttonYes' : 'modalYes',
        'oneClick' : 'Yes'
    }) }}
	<!-- End Modal Add Service to Proposal -->
	<span class="hidden" data-tooltip-wo-picker></span>

	<!-- Modal Add Inspection to Workorder -->
    {{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
        'modalId' : 'selectWorkorderForInspection',
        'message' : 'Are you sure you want to Add this Inspection to Workorder?',
        'buttonYes' : 'modalYes',
        'oneClick' : 'Yes'
    }) }}
	<!-- End Modal Add Inspection to Workorder -->


	<!-- Modal Form Add Inspection to WO -->
    {{ include('AdminBundle:layouts/dialogs:createWoFromInspectionsListDialog.html.twig', {
        'modalId' : 'addInspectionToWOFormFromList',
        'modalFormMethod' : 'post',
        'message' : 'Please select target Workorder to add inspection to:',
        'modalFormId' : 'createWOFromInspectionsList',
        'selectName' : 'workorder[workorderId]',
        'modalClass' : 'popupForm',
    }) }}
	<!-- End Modal Form Add Inspection to WO -->

	<!-- Modal Form Change repair service comment -->
    {{ include('AdminBundle:layouts/dialogs:changeRepairServiceCommentDialog.html.twig', {
        'modalId' : 'editRepairServiceComment',
        'modalFormMethod' : 'post',
        'modalFormId' : 'createWOFromInspectionsList',
    }) }}
	<!-- End Modal Form Change repair service comment -->

{% endblock %}