{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}
   <div class="app-main__page-title app-wrapper">
            {% block formHead %}
                New Account Registration
            {% endblock %}
   </div>

    <div class="app-form app-form--flex app-form--bordered">
        <div class="app-form-header">General Account Information</div>
        {{ form_start(form, {'attr': {'id': 'accountForm', 'class':'app-form--wide', 'novalidate': 'novalidate', 'autocomplete': 'off'}}) }}
            {% block formAccountTypeBlock %}{% endblock %}

            <div class="app-wrapper">
                <div class="app-form-input--large form-group">
                    <label>Account Name:<span class="app-required-label">*</span></label>
                    {{ form_widget(form.name, {'attr': {'name': 'accountName', 'placeholder': 'Account Name', 'class': 'app-capitalize form-control'}}) }}
                </div>
                <div class="app-form-dropdown--small form-group">
                    <label>Client Type:<span class="app-required-label">*</span></label>
                    {{ form_widget(form.clientType, {'attr': {'name': 'clientType', 'class': 'selectpicker form-control'}}) }}
                </div>
            </div>

            <div class="form-group">
                <label>Address:<span class="app-required-label">*</span></label>
                {{ form_widget(form.address.address, {'attr': {'name': 'address', 'placeholder': 'Address', 'class': 'app-capitalize form-control'}}) }}
            </div>
            <div class="app-wrapper">
                <div class="app-form-input--medium  form-group">
                    <label>City:<span class="app-required-label">*</span></label>
                    {{ form_widget(form.address.city, {'attr': {'name': 'city', 'placeholder': 'City', 'class': 'app-capitalize form-control'}}) }}
                </div>
                <div class="app-wrapper app-wrapper--half">
                    <div class="app-form-input--big form-group">
                        <label>State:<span class="app-required-label">*</span></label>
                        {{ form_widget(form.address.state, {'attr': {'name': 'state', 'class': 'selectpicker form-control required'}}) }}
                    </div>
                    <div class="app-form-input--small form-group">
                        <label>Zip:<span class="app-required-label">*</span></label>
                        {{ form_widget(form.address.zip, {'attr': {'name': 'zip', 'placeholder': 'Zip', 'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>

            {#<div class="form-group">#}
                {#<label>Special Billing Address:</label>#}
                {#{{ form_widget(form.billingAddress.address, {'attr': {'name': 'address', 'placeholder': 'Address', 'class': 'app-capitalize form-control'}}) }}#}
            {#</div>#}
            {#<div class="app-wrapper">#}
                {#<div class="app-form-input--medium  form-group">#}
                    {#<label>City:</label>#}
                    {#{{ form_widget(form.billingAddress.city, {'attr': {'name': 'city', 'placeholder': 'City', 'class': 'app-capitalize form-control'}}) }}#}
                {#</div>#}
                {#<div class="app-wrapper app-wrapper--half">#}
                    {#<div class="app-form-input--big form-group">#}
                        {#<label>State:</label>#}
                        {#{{ form_widget(form.billingAddress.state, {'attr': {'name': 'state', 'class': 'selectpicker form-control'}}) }}#}
                    {#</div>#}
                    {#<div class="app-form-input--small form-group">#}
                        {#<label>Zip:</label>#}
                        {#{{ form_widget(form.billingAddress.zip, {'attr': {'name': 'zip', 'placeholder': 'Zip', 'class': 'app-validation-digits form-control'}}) }}#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}

            <div class="form-group">
                <label>Municipality:<span class="app-required-label">*</span></label>
                <input id="municipality-autocomplete" name="account[municipalityAutocomplete]" class="form-control app-validation-autocomplete"
                       value="{{ form.municipality.vars.data.name ?? '' }}"
                       placeholder="Please start entering Municipality's name"/>
                {{ form_widget( form.municipality, { 'attr' : {'class' : 'selectAutocomplete hidden'}}) }}
                {{ form_errors(form.municipality) }}
            </div>
            
            <div class="form-group">
                <label>Payment Terms:<span class="app-required-label">*</span></label>
                {{ form_widget(form.paymentTerm, {'attr': {'name': 'paymentTerm', 'class': 'selectpicker form-control'}}) }}
            </div>

            <div class="form-group">
                <label>Building Type:</label>
                {{ form_widget(form.buildingType, {'attr': {'name': 'buildingType', 'class': 'selectpicker form-control'}}) }}
            </div>

            <div class="form-group">
                <label>Website:</label>
                {{ form_widget(form.website, {'attr': {'name': 'website', 'placeholder': 'Account Website', 'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                <label>Notes:</label>
                {{ form_widget(form.notes, {'attr': {'name': 'notes', 'placeholder': 'Notes', 'class': 'app-form__textarea--small form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_widget(form.specialDiscount, {'attr': {'class': 'app-checkbox-input'}}) }}
                <label class="app-checkbox-label app-color--white app-color--white" for="account_specialDiscount">Special Discount</label>
            </div>

            <div class="app-form-button--right">
                {% block formButton %}
                    <button type="submit" class="app-form-button btn ">CREATE</button>
                {% endblock %}
                {% block backButton %}
                    <a href="{{ path('admin_account_search') }}" class="app-form-button app-form-button--grey app-form-button--indent btn">CANCEL</a>
                {% endblock %}
            </div>
        {{ form_end(form) }}
    </div>
    <!-- Modal -->
    {{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
        'modalId' : 'accountModal',
        'message' : 'Are you sure you want to create this Account?',
        'dataSubmit' : 'Yes'
    }) }}
{% endblock %}
