{% extends '@Admin/layouts/main.html.twig' %}

{% block body %}
    <div>
        <table class="table app-data__table">
            <thead>
                <th></th>
                <th>{{ 'Address of Account' }}</th>
                <th>{{ 'Latitude, rad' }}</th>
                <th>{{ 'Longitude, rad' }}</th>
            </thead>
            <tbody>
                <tr>
                    <th>{{ 'Address 1' }}</th>
                    <td>{{ address1 | address }}</td>
                    <td>{{ address1Latitude }}</td>
                    <td>{{ address1Longitude }}</td>
                </tr>
                <tr>
                    <th>{{ 'Address 2' }}</th>
                    <td>{{ address2 | address }}</td>
                    <td>{{ address2Latitude }}</td>
                    <td>{{ address2Longitude }}</td>
                </tr>
                <tr>
                    <td>{{ 'Distance between addresses, km' }}</td>
                    <td>{{ distanceBetweenPoints / 1000 }}</td>
                </tr>
                <tr>
                    <td>{{ 'Is distance small?' }}</td>
                    <td>{{ smallDistance ? 'Yes' : 'No' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}