{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}
    <div class="app-main__page-title app-wrapper">
        <div class="app-link__header--site app-main__page-title-name">
            Link Site Account to
            <img class="app-link__icon" src="{{ asset('bundles/admin/dist/images/group_site.svg') }}" alt="image account">
        </div>
        <div class="app-link__title--site">
            <a href="{{ path('admin_account_get', {'accountId': groupAccount.id}) }}" target="_blank" class="app-link__title">{{ groupAccount.name }}</a>
        </div>
    </div>

    <div class="app-link__container app-form--bordered">
        <div class="app-form-header">Search and select Site Account</div>
        <div class="app-link__wrapper">
            <form id="searchForm" method="get">
                <input type="hidden" name="a_s_in_notes" value="1">
                <input type="hidden" name="clientType[0]" value="active">
                <input type="hidden" name="clientType[1]" value="inactive">
                <input type="hidden" name="clientType[2]" value="special_discount">
                <input type="hidden" name="clientType[3]" value="potential">
                <div class="app-search-panel app-wrapper">
                    <div class="app-link__search-input app-search-panel__container">
                        <i class="glyphicon glyphicon-search app-search-panel__icon-search"></i>
                        <input name="searchPhrase" type="search" class="form-control app-search-panel__input" placeholder="Search Site Account" value="{{ app.request.query.get('searchPhrase') }}"/>
                    </div>
                    <button type="submit" class="app-link__search-button btn app-search-panel__button">SEARCH</button>
                </div>
            </form>
            <div class="app-data">
                {% if searchResult.results is defined and searchResult.count > 0 %}
                <div class="app-link__result app-save-space">Search results: {{ searchResult.count }}</div>
                    <table class="table app-data__table app-bordered">
                        <thead class="app-data__table-header">
                        <tr>
                            <th></th>
                            <th>ID</th>
                            <th>Site Name</th>
                            <th>Address</th>
                            <th colspan="2">
                                <span class="app-select-site-account_--linked-to">Linked to Group Account</span>
                            </th>
                            <th class="app-data__table-cell--center"></th>
                        </tr>
                        </thead>
                        <tbody >
                        {% for account in searchResult.results %}
                            <tr>
                                <td class="app-data__table-data {{account.deleted ? 'app-deleted' : ''}}">
                                    <img src="/bundles/admin/dist/images/{{ account.type.alias == 'account' ? 'site.svg' : 'group_site.svg'}}" class="app-data__table-data--icon">
                                </td>
                                <td class="{{account.deleted ? 'app-deleted' : ''}}">{{ account.id }}</td>
                                <td class="app-word-breack">
                                    <a href="{{ path('admin_account_get', {'accountId': account.id}) }}" target="_blank" class="app-link__select app-line--right-text {{account.deleted ? 'app-deleted' : ''}}">{{ account.name }}</a>
                                    {% if account.deleted %}<span class="label label-danger app-label">Deleted</span>{% endif %}
                                </td>
                                <td class="app-word-breack {{account.deleted ? 'app-deleted' : ''}}">{{ account.address | address }}</td>
                                <td class="app-link__icon--company {{account.deleted ? 'app-deleted' : ''}}">
                                    {%  if account.parent %}
                                        <img src="/bundles/admin/dist/images/group_site.svg" alt="image account" class="app-data__table-data--icon">
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td class="app-no-padding--left {{account.deleted ? 'app-deleted' : ''}}">
                                    {%  if account.parent %}
                                        <a class="app-link__select app-line--right-text {{account.parent.deleted ? 'app-deleted' : ''}}" href="{{ path('admin_account_get', {'accountId': account.parent.id}) }}" target="_blank">{{ account.parent.name }}</a>
                                        {% if account.parent.deleted %}<span class="label label-danger app-label">Deleted</span>{% endif %}
                                    {% endif %}
                                </td>
                                <td class="app-data__table-cell--center">
                                    {% if not account.deleted and not account.parent %}
                                        <a data-link="{{ path('admin_account_parent_select', {'siteAccount': account.id, 'groupAccount': groupAccount.id}) }}" href="#" class="app-link__table-button btn app-modal-link" data-target="#selectAccount" data-toggle="modal">Select</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
                 {% if searchResult.message is defined %}
                    <div class="app-data__not-found">{{ searchResult.message }}</div>
                {% endif %}
                <div class="app-wrapper">
                    <div>
                        {% if searchResult.pagesCount is defined and searchResult.pagesCount > 1 %}
                            <div class="pagination">
                                <a class="app-pagination-arrow {{ searchResult.currentPage == 1 ? 'disabled' : '' }}" href="{{ path('admin_account_search_account_for_select', {
                                    'groupAccountId': groupAccount.id,
                                    'a_page': searchResult.currentPage - 1,
                                    "clientType": app.request.query.get('clientType'),
                                    'searchPhrase': app.request.query.get('searchPhrase'),
                                    "a_s_in_notes": app.request.query.get('a_s_in_notes')
                                }) }}">&laquo;</a>

                                {% for i in range(1, searchResult.pagesCount) %}
                                    <a class="{{ searchResult.currentPage == i ? 'app-active-page' : '' }}"
                                    href="{{ path('admin_account_search_account_for_select', {
                                        'groupAccountId': groupAccount.id,
                                        'a_page': i,
                                        "clientType": app.request.query.get('clientType'),
                                        'searchPhrase': app.request.query.get('searchPhrase'),
                                        "a_s_in_notes": app.request.query.get('a_s_in_notes')
                                    }) }}">{{ i }}</a>
                                {% endfor %}

                                <a class="app-pagination-arrow {{ searchResult.currentPage >= searchResult.pagesCount ? 'disabled' : '' }}" href="{{ path('admin_account_search_account_for_select', {
                                    'groupAccountId': groupAccount.id,
                                    'a_page': searchResult.currentPage + 1,
                                    "clientType": app.request.query.get('clientType'),
                                    'searchPhrase': app.request.query.get('searchPhrase'),
                                    "a_s_in_notes": app.request.query.get('a_s_in_notes')
                                }) }}">&raquo;</a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="app-wrapper">
                        <a href="{{ path('admin_account_create_and_set_parent', {'parentId': groupAccount.id}) }}" class="app-form-button app-link__button app-link__button--wide app-form-button--indent btn">Create New Site Account</a>
                        <a href="{{ path('admin_account_get', {'accountId': groupAccount.id}) }}" class="app-form-button app-link__button app-form-button--indent btn">CANCEL</a>
                    </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    {{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
        'modalId' : 'selectAccount',
        'message' : 'Are you sure you want to link the Site Account to the Group Account?',
        'buttonYes' : 'modalYes',
        'buttonYesHref' : '#'
    }) }}
{% endblock %}