{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}
    <div class="app-main__page-title app-wrapper">
        <div class="app-link__header--contact app-main__page-title-name">Link Contact person to
            <img class="app-link__icon" src="{{account.type.alias == 'group account' ? asset('bundles/admin/dist/images/group_site.svg') : asset('bundles/admin/dist/images/site.svg')}}" alt="image account">
        </div>
        <div class="app-link__title--contact">
            <a href="{{ path('admin_account_get', {'accountId': account.id}) }}" target="_blank" class="app-link__title">{{ account.name }}</a>
        </div>
    </div>

    <div class="app-link__container app-form--bordered">
        <div class="app-form-header">Search and select Contact person</div>
        <div class="app-link__wrapper">
            <form id="searchForm" method="get">
                <input type="hidden" name="cn_s_in_notes" value="1">
                <div class="app-search-panel app-wrapper">
                    <div class="app-link__search-input app-search-panel__container">
                        <i class="glyphicon glyphicon-search app-search-panel__icon-search"></i>
                        <input name="searchPhrase" type="search" class="form-control app-search-panel__input" placeholder="Search Contact person" value="{{ app.request.query.get('searchPhrase') }}"/>
                    </div>
                    <button type="submit" class="app-link__search-button btn app-search-panel__button">SEARCH</button>
                </div>
            </form>
            <div class="app-data">
                {% if searchResult.results is defined and searchResult.count > 0 %}
                <div class="app-link__result app-save-space">Search results: {{ searchResult.count }}</div>
                    <table class="table app-data__table app-bordered">
                        <thead class="app-data__table-header">
                        <tr>
                            <th></th>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Title</th>
                            <th colspan="2">Company</th>
                            <th>Mailing Address</th>
                            <th>COD only</th>
                            <th class="app-data__table-cell--center"></th>
                        </tr>
                        </thead>
                        <tbody >
                        {% for contactPerson in searchResult.results %}
                            <tr>
                                <td class="app-data__table-data app-data__table-data--contact {{contactPerson.deleted ? 'app-deleted' : ''}}"></td>
                                <td class="{{contactPerson.deleted ? 'app-deleted' : ''}}">{{ contactPerson.id }}</td>
                                <td class="app-word-breack">
                                    <a href="{{ path('admin_contact_person_get', {'contactPerson': contactPerson.id}) }}" target="_blank" class="app-link__select app-line--right-text {{contactPerson.deleted ? 'app-deleted' : ''}}">{{ contactPerson.firstName~' '~contactPerson.lastName }}</a>
                                    {% if contactPerson.deleted %}<span class="label label-danger app-label">Deleted</span>{% endif %}
                                </td>
                                <td class="app-word-breack {{ contactPerson.deleted ? 'app-deleted' : '' }}">{{ contactPerson.title ? contactPerson.title  : '-' }}</td>
                                <td class="app-no-padding--right {{ contactPerson.deleted or (contactPerson.company.deleted is defined and contactPerson.company.deleted) ? 'app-deleted' : ''}}">
                                    {% if contactPerson.company %}
                                        <img class="app-link__table-icon" src="/bundles/admin/dist/images/company.svg" alt="image company">
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td class="app-word-breack {{ contactPerson.deleted or (contactPerson.company.deleted is defined and contactPerson.company.deleted) ? 'app-deleted' : ''}}">
                                    {% if contactPerson.company %}
                                        <a class="app-link__select app-line--right-text" href="{{ path('admin_company_get', { 'company': contactPerson.company.id }) }}" target="_blank">{{ contactPerson.company.name }}</a>
                                        {% if contactPerson.company.deleted %}<span class="label label-danger app-label">Deleted</span>{% endif %}
                                    {% endif %}
                                </td>
                                <td class="app-data__table-cell--mailing app-word-breack {{contactPerson.deleted ? 'app-deleted' : ''}}">
                                    {{ contactPerson.personalAddress | address ? contactPerson.personalAddress | address : '-' }}
                                </td>
                                <td class="app-data__table-cell--cod app-data__table-cell--center {{contactPerson.deleted ? 'app-deleted' : ''}}">{{ contactPerson.cod ? 'YES' : '-' }}</td>
                                <td class="app-data__table-cell--center">
                                {% if not contactPerson.deleted %}
                                    <a href="{{ path('admin_account_contact_person_set_roles', {'account': account.id, 'contactPerson': contactPerson.id}) }}" class="app-link__table-button btn">{{ contactPerson.isSetRoles is defined ? 'Edit Roles' : 'Select' }}</a>
                                {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
                 {% if searchResult.message is defined %}
                    <div class="app-data__not-found">{{ searchResult.message }}</div>
                {% endif %}
                <div class="app-wrapper">
                    <div>
                        {% if searchResult.pagesCount is defined and searchResult.pagesCount > 1 %}
                            <div class="pagination">
                                <a class="app-pagination-arrow {{ searchResult.currentPage == 1 ? 'disabled' : '' }}" href="{{ path('admin_account_search_contact_person_for_select', {
                                    'account': account.id,
                                    'cn_page': searchResult.currentPage - 1,
                                    'searchPhrase': app.request.query.get('searchPhrase'),
                                    "cn_s_in_notes": app.request.query.get('cn_s_in_notes')
                                }) }}">&laquo;</a>

                                {% for i in range(1, searchResult.pagesCount) %}
                                    <a class="{{ searchResult.currentPage == i ? 'app-active-page' : '' }}"
                                    href="{{ path('admin_account_search_contact_person_for_select', {
                                        'account': account.id,
                                        'cn_page': i,
                                        'searchPhrase': app.request.query.get('searchPhrase'),
                                        "cn_s_in_notes": app.request.query.get('cn_s_in_notes')
                                    }) }}">{{ i }}</a>
                                {% endfor %}

                                <a class="app-pagination-arrow {{ searchResult.currentPage >= searchResult.pagesCount ? 'disabled' : '' }}" href="{{ path('admin_account_search_contact_person_for_select', {
                                    'account': account.id,
                                    'cn_page': searchResult.currentPage + 1,
                                    'searchPhrase': app.request.query.get('searchPhrase'),
                                    "cn_s_in_notes": app.request.query.get('cn_s_in_notes')
                                }) }}">&raquo;</a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="app-wrapper">
                        <a href="{{ path('admin_contact_person_create_and_linked_to_account', {'account': account.id}) }}" class="app-form-button app-link__button app-link__button--wide app-form-button--indent btn">Create New Contact Person</a>
                        <a href="{{ path('admin_account_contact_person_manage', {'account': account.id}) }}" class="app-form-button app-link__button app-form-button--indent btn">CANCEL</a>
                    </div>
            </div>
        </div>
    </div>

{% endblock %}