{% extends 'AdminBundle:Account:form.html.twig' %}

{% block formHead %}
	<div class="app-link__header--site-form app-main__page-title-name">
     Update Account
	</div>
{% endblock %}

{% block formAccountTypeBlock %}
    {{ form_widget(form.type.1, {'attr': {'name': 'type', 'class': 'app-radio hidden-row', 'type':'radio'}}) }}
    {{ form_widget(form.type.2, {'attr': {'name': 'type', 'class': 'app-radio hidden-row', 'type':'radio'}}) }}
{% endblock %}

{% block formButton %}
    <button id="account_update" data-update="Yes" type="submit" class="app-form-button btn ">UPDATE</button>
    <!-- Modal -->
    {{ include('AdminBundle:layouts/dialogs:infoDialog.html.twig', {
        'modalId' : 'noUpdateModal',
        'messageId' : 'test-device'
    }) }}
{% endblock %}

{% block backButton %}
    <a href="{{ path('admin_account_get', {'accountId': form.vars.value.id}) }}" class="app-form-button app-form-button--grey app-form-button--indent btn">CANCEL</a>
{% endblock %}

