{% extends 'AdminBundle:Account:detail.html.twig' %}


{% block resetNoticesListBlock %}

    <!--  filters -->
    <div class="app-wrapper app-filter-form app-bordered--shadow">
        <div class="app-filter-form__content-container">
            {{ include('AdminBundle:Proposal:filter.html.twig', {
                "paginatedProposalList": paginatedProposalList,
                "divisions": divisions,
                "proposalStatuses": proposalStatuses,
                "clientTypes": clientTypes,
                "filters": filters,
                "forAccount": true
            }) }}
        </div>
        <div class="app-opportunities-table-filter__inputs-container app-wrapper--content-start app-filter-form__button--indent app-filter-form__button-container app-proposal-filers__generic-proposal-button">
            {% if (contacts.responsibilities | length == 0) or account|is_block_adding_custom_proposal_by_address_error %}
                <a href="#"
                   data-target="#confirmAddToCreateCustomProposal"
                   data-toggle="modal"
                   class="app-detailed__button app-detailed__button--blue app-filter-form__button btn">
                    Add Custom Proposal
                </a>
            {% else %}
                <a href="#"  data-service-canupdate="true"
                   data-target="#createCustomProposal"
                   data-toggle="modal"
                   class="app-detailed__button app-detailed__button--blue app-filter-form__button btn"
                   data-link="{{ path('admin_proposal_create_custom_proposal', {'account': account.id}) }}" >
                    Add Custom Proposal
                </a>
            {% endif %}
        </div>
    </div>
    <!--  filters -->
    {% if paginatedProposalList.results is defined and paginatedProposalList.results | length %}
        <table class="table app-data__table app-notice-list app-bordered--shadow app-data__table-haveFilter">
            <thead>
            <tr class="app-color--inactive">
                <th>Ref. ID</th>
                <th colspan="2">Division</th>
                <th>Date Created</th>
                <th>Created by</th>
                <th>Total Price</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody >
                {% for proposal in paginatedProposalList.results %}
                    <tr class="">
                        <td class="app-font--uppercase app-notice-list__id">{{ proposal.referenceId }}</td>
                        <td class="app-no-padding--right app-notice-list__division">
                            <img src="/bundles/admin/dist/images/{{ proposal.division.icon }}">
                        </td>
                        <td class="app-link__title app-color--active app-no-padding--left app-word-breack">
                            <a href="{{ path('admin_'~ proposal.type.alias ~'_proposal_view', {'proposal' : proposal.id}) }}" target="_blank" class="app-link__select">
                                {{ proposal.division.name }} {{ proposal.type.name }} Proposal
                            </a>
                            {#<a href="{{ path('admin_proposal_view', {'proposal' : proposal.id}) }}" target="_blank" class="app-link__select">
                                {{ proposal.division.name }} {{ proposal.type.name }} Proposal
                            </a>#}
                        </td>
                        <td>
                            {{ proposal.dateCreate | date('m/d/Y') }}
                        </td>
                        <td>{{ proposal.creator.user.firstName }} {{ proposal.creator.user.lastName }}</td>
                        {% if proposal.type.alias == 'custom' %}
                            <td>-</td>
                        {% else %}
                            <td>{{ proposal | get_proposal_grand_total }}</td>
                        {% endif %}
                        <td>
                            <span class="app-service-label {{ proposal.status.cssClass }}">{{ proposal.status.name }}</span>
                        </td>
                    </tr>
                {% endfor %}
            <!--end service row-->
            </tbody>
        </table>

    {% else %}
        <div class="app-data__not-found app-bordered--shadow">No Proposals</div>
    {% endif %}

    <!--Modal for Create Custom Proposal-->
    {{ include('AdminBundle:layouts/dialogs:createCustomProposalDialog.html.twig', {
        'modalId' : 'createCustomProposal',
        'message' : 'Creating new Custom Proposal for Account',
        'modalFormId' : 'createCustomProposalForm',
        'modalFormAction' : path('admin_proposal_create_custom_proposal', { 'account': account.id }),
        'selectName' : 'admin_bundle_custom_create[division]',
        'optionsArray': contacts.responsibilities
    }) }}

{% endblock %}

{% block linkedGroupAccountBlock %}
    {% if account.type.alias == "account" %}
        {% if not account.parent %}
            <div class="app-account-main__company {{account.deleted ? 'app-deleted' : ''}}">
                <div class="app-account-main__company--text-label app-text--align-right app-line--right-text app-display--inline-block">Group Account: </div>
                <img class="app-account-main__site" src="{{ asset('bundles/admin/dist/images/group_site.svg')}}" alt="image contact">
                <div class="app-account-main__company--content-group-account">No Group Account selected</div>
            </div>
        {% endif %}
        {% if account.parent %}
            <div class="app-account-main__company">
                <div class="app-account-main__company--text-label app-text--align-right app-line--right-text">Group Account: </div>
                <img class="app-account-main__site {{account.parent.deleted ? 'app-deleted' : ''}}" src="{{ asset('bundles/admin/dist/images/group_site.svg')}}" alt="image contact">
                <div class="app-color--white app-cut-string">
                    <a href="{{ path('admin_account_get', {'accountId': account.parent.id}) }}" class="app-link__select app-line--right-text app-font--bold {{account.parent.deleted ? 'app-deleted' : ''}}">{{ account.parent.name }}</a>
                    {% if account.parent.deleted %}
                        <span class="label label-danger app-label">Deleted</span>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}

