{% extends 'AdminBundle:Account:detail.html.twig' %}


{% block resetNoticesListBlock %}

    <!--  filters -->
    <div class="app-wrapper app-filter-form app-bordered--shadow">
        <div class="app-view--max-width">
            {{ include('AdminBundle:Opportunity:filterRepairs.html.twig', {
                "paginatedProposalList": paginatedProposalList,
                "divisions": divisions,
                "proposalStatuses": proposalStatuses,
                "clientTypes": clientTypes,
                "filters": filters,
                "forAccount": true
            }) }}
        </div>
    </div>
    <!--  filters -->
    {% if paginatedProposalList.results is defined and paginatedProposalList.results | length %}
        <table class="table app-data__table app-bordered--shadow app-data__table-haveFilter"
               data-selector="without-first-devider">
            <thead>
            <tr class="app-color--inactive">
                <th></th>
                <th>Recommended Repairs</th>
                <th class="app-data-table__th_width_45per">Deficiency to fix</th>
                <th>Date Suggested</th>
                <th>Status</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for resultItem in paginatedProposalList.results %}
                <!--service row-->
                {% for opportunity in resultItem.opportunity %}
                    <tr>
                        <td colspan="4">
                            <div class="app-opportunities__table-row--site-account">
                                <img src="{{ asset('bundles/admin/dist/images/' ~ opportunity.services[0].device.named.category.icon) }}"
                                     class="app-line--padding-right">
                                <span>
                                    <a href="{{ path("admin_device_view", {"device": opportunity.services[0].device.id }) }}"
                                       class="app-link__select app-line--right-text app-font--bold">{{ opportunity.services[0].device.title }}</a>
                                </span>
                                <span class="app-line--padding-left app-line--padding-right">-</span>
                                <span class="app-color--inactive">{{ opportunity.services[0].device | deviceInfo | raw }}</span>
                            </div>
                        </td>
                        <td>
                            {#<a href="#" class="app-link__select app-font--bold app-line--align app-line--right-text">Add Repair to WO</a>#}
                        </td>
                        <td>
                            <a href="{{ path('admin_create_repair_proposals', {'device' : opportunity.services[0].device.id}) }}" class="app-link__select app-link__select--nowrap app-font--bold app-line--align app-line--right-text">Add to PP</a>
                        </td>
                        <td>
                            <a href="{{ path('admin_add_repair_to_workorder', {'device': opportunity.services[0].device.id}) }}" class="app-link__select app-link__select--nowrap app-font--bold app-line--align app-line--right-text"
                            > Add to WO</a>
                        </td>
                    </tr>
                    {% for service in opportunity.services|sort_by(=> _.inspectionDue) %}
                        <tr class="app-opportunities__table-row--service">
                            <td class="app-division-row__arrow-container"></td>
                            <td>
                                {{ service.named.name }}
                            </td>
                            <td class="app-word-breack">
                                {{ service.named.deficiency }}{{ service.comment ? ". " ~ service.comment | ucfirst  : '' }}
                            </td>
                            <td>
                                {{ service.inspectionDue | date('m/d/Y') }}
                            </td>
                            <td>
                                <span class="app-service-label {{ service.status.cssClass }}">{{ service.status.name ?? '' }}</span>
                            </td>
                            <td>
                                {% if service | can_edit_repair_service_comment %}
                                    <a href="#" data-toggle="modal" data-target="#editRepairServiceComment" data-action="{{ path('admin_edit_repair_service_comment', {'service': service.id}) }}" data-comment="{{ service.comment }}" class="app-link__select app-link__select--nowrap app-modal-link app-line--right-text"
                                    > <img src="{{ asset('bundles/admin/dist/images/edit.svg') }}"></a>
                                {% endif %}
                            </td>
                            <td>
                                <a href="#" data-toggle="modal" data-target="#discardModal" data-link="{{ path('admin_discard_service', {'service': service.id}) }}" class="app-link__select app-modal-link app-line--right-text"
                                >Discard</a>
                            </td>
                            <td></td>
                        </tr>

                    {% endfor %}
                {% endfor %}

                <!--end service row-->
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="app-data__not-found app-bordered--shadow">No Repair Opportunities</div>
    {% endif %}

{% endblock %}

{% block linkedGroupAccountBlock %}
    {% if account.type.alias == "account" %}
        {% if not account.parent %}
            <div class="app-account-main__company {{account.deleted ? 'app-deleted' : ''}}">
                <div class="app-account-main__company--text-label app-text--align-right app-line--right-text app-display--inline-block">Group Account: </div>
                <img class="app-account-main__site" src="{{ asset('bundles/admin/dist/images/group_site.svg')}}" alt="image contact">
                <div class="app-account-main__company--content-group-account">No Group Account selected</div>
            </div>
        {% endif %}
        {% if account.parent %}
            <div class="app-account-main__company">
                <div class="app-account-main__company--text-label app-text--align-right app-line--right-text">Group Account: </div>
                <img class="app-account-main__site {{account.parent.deleted ? 'app-deleted' : ''}}" src="{{ asset('bundles/admin/dist/images/group_site.svg')}}" alt="image contact">
                <div class="app-color--white app-cut-string">
                    <a href="{{ path('admin_account_get', {'accountId': account.parent.id}) }}" class="app-link__select app-line--right-text app-font--bold {{account.parent.deleted ? 'app-deleted' : ''}}">{{ account.parent.name }}</a>
                    {% if account.parent.deleted %}
                        <span class="label label-danger app-label">Deleted</span>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}

