{% extends 'AdminBundle:Account:detail.html.twig' %}


{% block repairProposalListBlock %}
    <h2>Repair Proposal</h2>
{% endblock %}
{% block linkedGroupAccountBlock %}
    {% if account.type.alias == "account" %}
        {% if not account.parent %}
            <div class="app-account-main__company {{account.deleted ? 'app-deleted' : ''}}"><img class="app-account-main__site" src="{{ asset('bundles/admin/dist/images/group_site.svg')}}" alt="image contact">
                <div class="app-contact-main__line-text">No Group Account selected</div>
            </div>
        {% endif %}
        {% if account.parent %}
            <div class="app-account-main__company">
                <div class="app-account-main__company--linked-to">Linked to: </div>
                <img class="app-account-main__site {{account.parent.deleted ? 'app-deleted' : ''}}" src="{{ asset('bundles/admin/dist/images/group_site.svg')}}" alt="image contact">
                <div class="app-contact-main__line-text app-color--white app-cut-string">
                    <a href="{{ path('admin_account_get', {'accountId': account.parent.id}) }}" class="app-link__select app-line--right-text app-font--bold {{account.parent.deleted ? 'app-deleted' : ''}}">{{ account.parent.name }}</a>
                    {% if account.parent.deleted %}
                        <span class="label label-danger app-label">Deleted</span>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
