{% extends 'AdminBundle:Account:detail.html.twig' %}

{% block resetNoticesListBlock %}

    <!--  filters -->
    <div class="app-wrapper app-filter-form app-filter-form--big app-bordered--shadow">
        <div class="app-filter-form__content-container">
            {{ include('AdminBundle:Proposal:filter.html.twig', {
                "paginatedProposalList": paginatedProposalList,
                "divisions": divisions,
                "proposalStatuses": proposalStatuses,
                "clientTypes": clientTypes,
                "filters": filters,
                "forAccount": true
            }) }}
        </div>
        <div class="app-opportunities-table-filter__inputs-container app-wrapper--content-start app-filter-form__button--indent app-filter-form__button-container app-wrapper--align-items-baseline">
            {% if (proposalsForMerge is defined) and proposalsForMerge == true %}
                <a href="#" data-valid-filter="{{ error ? 'true' : 'false' }}" class="app-detailed__button app-opportunities-table-filter__button app-detailed__button--red btn" data-toggle="modal" data-target="" id="sendEmails">Send via Mail</a>
            {% endif %}
        </div>
    </div>
    <!--  filters -->
    {% if paginatedProposalList.results is defined and paginatedProposalList.results | length %}
        <table class="table app-data__table app-notice-list app-bordered--shadow app-data__table-haveFilter">
            <thead>
            <tr class="app-color--inactive">
                <th>Ref. ID</th>
                <th colspan="2">Division</th>
                <th>Days Till Due</th>
                <th>Earliest Due Date</th>
                <th>Inspections</th>
                <th>Devices</th>
                <th>Sites</th>
                <th>Total Fee</th>
                <th></th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody >
                {% for proposal in paginatedProposalList.results %}
                    <tr class="">
                        <td class="app-font--uppercase app-notice-list__id">{{ proposal.referenceId }}</td>
                        <td class="app-no-padding--right app-notice-list__division">
                            <img src="/bundles/admin/dist/images/{{ proposal.division.icon }}">
                        </td>
                        <td class="app-link__title app-color--active app-no-padding--left app-word-breack">
                            <a href="{{ path('admin_'~ proposal.type.alias ~'_proposal_view', {'proposal' : proposal.id}) }}" target="_blank" class="app-link__select">
                                {{ proposal.division.name }} Retest Notice
                            </a>
                        </td>
                        {% if proposal.earliestDueDate | date_difference < 0 and proposal.status.alias not in ['deleted', 'workorder_created', 'reset_services_to_next_time', 'replaced'] %}
                            <td class="app-color--warning">
                                {{ proposal.earliestDueDate | date_difference }}
                        {% elseif proposal.earliestDueDate | date_difference == 0 %}
                            <td class="app-color--green">
                                TODAY
                        {% else %}
                        <td>
                            {{ proposal.earliestDueDate | date_difference }}
                        {% endif %}
                        </td>

                        {% if proposal.earliestDueDate | date_difference < 0 and proposal.status.alias not in ['deleted', 'workorder_created', 'reset_services_to_next_time', 'replaced'] %}
                            <td class="app-color--warning">
                        {% elseif proposal.earliestDueDate | date_difference == 0 %}
                            <td class="app-color--green">
                        {% else %}
                            <td>
                        {% endif %}
                            {{ proposal.earliestDueDate | date('m/d/Y') }}
                        </td>
                        <td>{{ proposal.servicesCount }}</td>
                        <td>{{ proposal.devicesCount }}</td>
                        <td>{{ proposal.sitesCount }}</td>
                        <td> ${{ proposal.serviceTotalFee | money_format }}
                        </td>
                        <td></td>
                        <td>
                            <span class="app-service-label {{ proposal.status.cssClass }}">{{ proposal.status.name }}</span>
                        </td>
                    </tr>
                {% endfor %}
            <!--end service row-->
            </tbody>
        </table>

    {% else %}
        <div class="app-data__not-found app-bordered--shadow">No Retest Notices</div>
    {% endif %}

{% endblock %}

{% block linkedGroupAccountBlock %}
    {% if account.type.alias == "account" %}
        {% if not account.parent %}
            <div class="app-account-main__company {{account.deleted ? 'app-deleted' : ''}}">
                <div class="app-account-main__company--text-label app-text--align-right app-line--right-text app-display--inline-block">Group Account: </div>
                <img class="app-account-main__site" src="{{ asset('bundles/admin/dist/images/group_site.svg')}}" alt="image contact">
                <div class="app-account-main__company--content-group-account">No Group Account selected</div>
            </div>
        {% endif %}
        {% if account.parent %}
            <div class="app-account-main__company">
                <div class="app-account-main__company--text-label app-text--align-right app-line--right-text">Group Account: </div>
                <img class="app-account-main__site {{account.parent.deleted ? 'app-deleted' : ''}}" src="{{ asset('bundles/admin/dist/images/group_site.svg')}}" alt="image contact">
                <div class="app-color--white app-cut-string">
                    <a href="{{ path('admin_account_get', {'accountId': account.parent.id}) }}" class="app-link__select app-line--right-text app-font--bold {{account.parent.deleted ? 'app-deleted' : ''}}">{{ account.parent.name }}</a>
                    {% if account.parent.deleted %}
                        <span class="label label-danger app-label">Deleted</span>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}

