{% extends 'AdminBundle:Account:detail.html.twig' %}



{% block accountListBlock %}
    {% include '@Admin/Device/devices_and_services_on_group_account.html.twig' with {'account': account} %}
{% endblock %}

{% block modalWindows %}
    {{ parent() }}
    <!-- Modal -->
    {{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
        'modalId' : 'unLinkSiteConfirm',
        'message' : 'Are you sure you want to unlink the Site Account from the Group Account?',
        'buttonYes' : 'modalYes',
        'buttonYesHref' : '#'
    }) }}
{% endblock %}