{% extends 'AdminBundle:Account:detail.html.twig' %}

{% block workOrdersListBlock %}

    {{ include('AdminBundle:Workorder:filter.html.twig', {"filters": filters, "allDivisions": allDivisions, "allStatuses": allStatuses, "forAccount": true }) }}

        {% if workorders.results|length %}
            <table class="table app-data__table app-notice-list app-bordered--shadow app-data__table-haveFilter">
                <thead>
                <tr class="app-color--inactive">
                    <th>ID</th>
                    <th colspan="2">Division</th>
                    <th>City</th>
                    <th>Assigned Technicians</th>
                    <th>Inspect / Repairs</th>
                    {#<th># of Testers</th>#}
                    <th>Total Price</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% for groupedWorkorders in workorders.results %}
                    <tr>
                        <td colspan="12">
                            <div class="app-display--inline-block app-proposal-workorder-table-row">
                                {% if groupedWorkorders.from %}
                                    <span class="app-color--inactive">Date Scheduled:</span>
                                    <span class="app-line--padding-left">{{ groupedWorkorders.from | date('m/d/Y') }}</span>
                                {% else %}
                                    <span class="app-color--inactive">Not Scheduled</span>
                                {% endif %}
                            </div>
                            {#<div class="app-display--inline-block">#}
                            {#<span class="app-color--inactive">Total:</span>#}
                            {#<span class="app-line--padding-left">$12000</span>#}
                            {#</div>#}
                        </td>
                    </tr>
                    {% for workorder in groupedWorkorders.list %}
                        <tr>
                            <td class="app-font--uppercase">{{ workorder.id }}</td>
                            <td class="app-no-padding--right app-notice-list__division">
                                <img src="{{ asset('bundles/admin/dist/images/'~workorder.division.icon) }}">
                            </td>
                            <td class="app-link__title app-color--active app-no-padding--left app-word-breack">
                                <a href="{{ path('admin_workorder_view', {'workorder' : workorder.id}) }}" target="_blank" class="app-link__select">
                                    {{ workorder.division.name }} {{ workorder.type.name }}
                                </a>
                            </td>
                            <td class="">{{ workorder.account.address.city }}</td>
                            {% set technicians = '-' %}

                            {% if contractorUsers[workorder.id] is defined %}
                                {% for contractorUser in contractorUsers[workorder.id] %}
                                    {% set oneTechnician = '<img src='~asset('bundles/admin/dist/images/contractor_user.svg')~' alt="f" class="app-workorder-assigned-technicians__technitian-list-icon">' ~ '<a href=' ~ path('admin_contractor_user_view', {'contractorUser':contractorUser.user.id}) ~ ' class="app-link__select " >' ~ contractorUser.user.firstName ~ ' ' ~ contractorUser.user.lastName ~ '</a>' %}
                                    {% if technicians != '-' and contractorUser is defined %}
                                        {% set technicians = technicians ~ '<span class="app-line--right-text">,</span>' ~ oneTechnician %}
                                    {% elseif contractorUser is defined %}
                                        {% set technicians = oneTechnician %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}

                            <td class="app-workorder-assigned-technicians__techinitian-list-cell">{{ technicians | raw }}</td>
                            <td>{{ workorder.totalInspectionsCount ? workorder.totalInspectionsCount : '-' }} / {{ workorder.totalRepairsCount ? workorder.totalRepairsCount : '-' }}</td>
                            {#<td>1</td>#}
                            <td>${{ (workorder.grandTotal - workorder.totalMunicAndProcFee) | money_format }}</td>
                            <td>
                                <span class="app-service-label tooltipWoTotalFee {{ workorder.status.cssClass }}" data-toggle="tooltip" data-placement="top" title="" data-workorder-id="{{ workorder.id }}">{{ (workorder.status) ? workorder.status.name : '-' }}</span>
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="app-data__not-found app-bordered--shadow">No Workorders</div>
        {% endif %}
    {% set divisions =  allDivisions %}
    <!--Modal for Create Generic WO-->
    {{ include('AdminBundle:layouts/dialogs:createGenericWOFormDialog.html.twig', {
        'modalId' : 'createCustomProposal',
        'message' : 'Creating new Generic Workorder for Account',
        'modalFormId' : 'createGenericWOForm',
        'modalFormAction' : path('admin_create_generic_workorder', { 'account': account.id }),
        'selectName' : 'admin_bundle_custom_create[division]',
        'optionsArray': contacts.responsibilities
    }) }}

{% endblock %}

{% block linkedGroupAccountBlock %}
    {% if account.type.alias == "account" %}
        {% if not account.parent %}
            <div class="app-account-main__company {{account.deleted ? 'app-deleted' : ''}}">
                <div class="app-account-main__company--text-label app-text--align-right app-line--right-text app-display--inline-block">Group Account: </div>
                <img class="app-account-main__site" src="{{ asset('bundles/admin/dist/images/group_site.svg')}}" alt="image contact">
                <div class="app-account-main__company--content-group-account">No Group Account selected</div>
            </div>
        {% endif %}
        {% if account.parent %}
            <div class="app-account-main__company">
                <div class="app-account-main__company--text-label app-text--align-right app-line--right-text">Group Account: </div>
                <img class="app-account-main__site {{account.parent.deleted ? 'app-deleted' : ''}}" src="{{ asset('bundles/admin/dist/images/group_site.svg')}}" alt="image contact">
                <div class="app-color--white app-cut-string">
                    <a href="{{ path('admin_account_get', {'accountId': account.parent.id}) }}" class="app-link__select app-line--right-text app-font--bold {{account.parent.deleted ? 'app-deleted' : ''}}">{{ account.parent.name }}</a>
                    {% if account.parent.deleted %}
                        <span class="label label-danger app-label">Deleted</span>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}