{% extends 'AdminBundle:Account:detail.html.twig' %}

{% block deviceListBlock %}
    {% include '@Admin/Device/devices_and_services_on_account.html.twig' with {'account': account} %}
{% endblock %}

{% block linkedGroupAccountBlock %}
    {% if not account.parent %}
        <div class="app-account-main__company">
            <div class="app-account-main__company--text-label app-text--align-right app-line--right-text app-display--inline-block">Group Account: </div>
            <img class="app-account-main__site" src="{{ asset('bundles/admin/dist/images/group_site.svg')}}" alt="image contact">
            <div class="app-account-main__company--content-group-account">No Group Account selected</div>
        </div>
    {% endif %}
    {% if account.parent %}
        <div class="app-account-main__company">
            <div class="app-account-main__company--text-label app-text--align-right app-line--right-text">Group Account: </div>
            <img class="app-account-main__site {{account.parent.deleted ? 'app-deleted' : ''}}" src="{{ asset('bundles/admin/dist/images/group_site.svg')}}" alt="image contact">
            <div class="app-color--white app-cut-string">
                <a href="{{ path('admin_account_get', {'accountId': account.parent.id}) }}" class="app-link__select app-line--right-text app-font--bold {{account.parent.deleted ? 'app-deleted' : ''}}">{{ account.parent.name }}</a>
                {% if account.parent.deleted %}
                    <span class="label label-danger app-label">Deleted</span>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block modalWindows %}
    {{ parent() }}
    <!-- Modal -->
    {{ include('AdminBundle:layouts/dialogs:selectDeviceDialog.html.twig', {
        'modalId' : 'addDevice',
        'message' : 'Please select Device to add:',
        'modalFormId' : 'selectDeviceForm',
        'selectName' : 'deviceName',
        'defaultSelectOption' : {'value' : '', 'text' : 'Select Device'},
        'optionsArray' : deviceNamed
    }) }}
{% endblock %}