{% extends 'AdminBundle:Account:detail.html.twig' %}

{% block opportunityListBlock %}
    <div class="app-wrapper app-filter-form app-bordered--shadow">
        <div class="app-filter-form__content-container">
            {{ include('AdminBundle:Opportunity:filter.html.twig', {"filterParams": filterParams, "filterContent": filterContent, "forAccount": true }) }}
        </div>
        <div class="app-filter-form__button-container app-filter-form__button--indent">
            {% if (contacts.primary is defined and contacts.primary | length > 0) and ((opportunities is defined) and opportunities | length) and (opportunities | length < 501) %}
                <a href="#" data-valid-filter="{{ error ? 'true' : 'false' }}" class="app-detailed__button app-opportunities-table-filter__button app-detailed__button--red btn" data-toggle="modal" data-target="" id="createNotice">
                    Quick add to RN
                </a>
            {% elseif not (contacts.primary is defined and contacts.primary | length > 0) %}
                <a href="#" class="app-detailed__button app-opportunities-table-filter__button app-detailed__button--red btn" data-toggle="modal" data-target="#confirmQuickAddToRNAuthorizerError" id="createNotice">
                    Quick add to RN
                </a>
            {% elseif opportunities | length > 500 %}
                <a href="#" class="app-detailed__button app-opportunities-table-filter__button app-detailed__button--red btn" data-toggle="modal" data-target="#confirmQuickAddToRNOpportunityLimitError" id="createNotice">
                    Quick add to RN
                </a>
            {% else %}
                <a href="#" class="app-detailed__button app-opportunities-table-filter__button app-detailed__button--red btn" data-toggle="modal" data-target="#confirmQuickAddToRNNoOpportunityError" id="createNotice">
                    Quick add to RN
                </a>
            {% endif %}
        </div>
    </div>

    {% if opportunities | length %}
        <table class="table app-data__table app-bordered--shadow app-data__table-haveFilter tableWithDataArray" data-workorders="{{ workordersByAccount }}">
            <thead>
            <tr class="app-color--inactive">
                <th></th>
                <th>Device</th>
                <th>Inspection Name</th>
                <th>Comment</th>
                <th>Fee</th>
                <th colspan="2">Company Last Tested</th>
                <th>Status</th>
                <th class="app-contractor-users-licenses-table__icons"></th>
                <th class="app-contractor-users-licenses-table__icons"></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <!--opportunity row-->
            {% for opportunity in opportunities %}
                <tr>
                    <td colspan="12">
                        <div class="app-opportunities__table-row--site-account">
                            {% if opportunity.executionServicesDate | date_difference < 0 %}
                                <span class="app-color--warning">
                                        {{ opportunity.executionServicesDate | date('m/d/Y') }}
                                    ({{ (opportunity.executionServicesDate | date_difference) * -1 }} days past)
                                    </span>
                            {% elseif opportunity.executionServicesDate | date_difference > 0 %}
                                <span>
                                        {{ opportunity.executionServicesDate | date('m/d/Y') }}
                                    ({{ opportunity.executionServicesDate | date_difference }} days ahead)
                                    </span>
                            {% else %}
                                <span>
                                        {{ opportunity.executionServicesDate | date('m/d/Y') }}
                                    (today)
                                    </span>
                            {% endif %}
                            <span class="app-line--padding-left app-line--padding-right">-</span>
                            <img class="app-account-site__name"
                                 src="{{ opportunity.account.type.alias == 'group account' ? '/bundles/admin/dist/images/group_site.svg' : '/bundles/admin/dist/images/site.svg' }}">
                            <span>
                                    <a href="{{ path("admin_account_get", {"accountId": opportunity.account.id}) }}"
                                       class="app-link__select app-line--right-text app-font--bold">{{ opportunity.account.name }}</a>
                                </span>
                        </div>
                    </td>
                </tr>
                {% for service in opportunity.services %}
                    <!--service row -->
                    <tr>
                        <td class="app-division-row__arrow-container"></td>
                        <td>
                            <img src="{{ asset('bundles/admin/dist/images/' ~ service.device.named.category.icon) }}"
                                 class="app-line--padding-right">
                            <span class="app-line--align ">
                                <a class="app-link__select app-link__title"
                                   href="{{ path('admin_device_view', {'device' : service.device.id}) }}"
                                   target="_blank">{{ service.device.title }}</a>
                                <span class="app-color--inactive">(ID {{ service.device.id }})</span>
                            </span>
                        </td>
                        <td>
                            {{ service.named.name }}
                        </td>

                        <td>
                            {{ service.comment ? service.comment : '-' }}
                        </td>
                        <td>
                            {% if service.fixedPrice %}
                                ${{ service.fixedPrice | money_format }}
                            {% elseif opportunity.account | is_message('service_no_fee') and not service.deleted %}
                                {{ opportunity.account | is_message('service_no_fee') | raw }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td class="app-no-padding--right app-link__table-icon">
                            {% if service.companyLastTested %}
                                <img class="app-link__table-icon" src="/bundles/admin/dist/images/contractor.svg" alt="image company">
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td class="app-word-breack">
                            {% if service.companyLastTested %}
                                <a href="{{ path('admin_contractor_view', {'contractor' : service.companyLastTested.id}) }}"
                                target="_blank" class="app-link__select">{{ service.companyLastTested.name }}</a>
                            {% endif %}
                        </td>
                        <td>
                            <span class="app-service-label {{ service.status.cssClass }}">{{ service.status.name ?? '' }}</span>
                        </td>
                        <td class="app-devices-table__dash-cell app-text--align-right">
                            {% if not service.deleted %}
                                <a href="{{ path('admin_service_update', {'service': service.id}) }}"
                                   data-service-canUpdate="{{ (service.status.alias == 'under_retest_notice' or  service.status.alias == 'under_workorder') ? 'false' : 'true' }}"
                                   class="checkOnUpdateService app-line--right-text">
                                    <img src="{{ asset('bundles/admin/dist/images/edit.svg') }}">
                                </a>
                            {% endif %}
                        </td>
                        <td class="app-text--align-center">
                            {% if service.status.alias in ['under_retest_opportunity'] %}
                                <a data-toggle="modal" data-target="#omitModal" data-link="{{ path('admin_omit_service', {'service': service.id}) }}" class="app-link__select app-modal-link checkOnDeleteService app-cursor--pointer app-line--right-text"
                                >Omit</a>
                            {% endif %}
                        </td>
                        <td class="app-text--align-center">
                            {% if contacts.primary is defined and contacts.primary | length > 0 %}
                                <a href="#" data-toggle="modal" data-target="#addInspectionToProposalModal" data-link="{{ path('admin_add_inspection_to_proposal', {'service': service.id}) }}" class="app-link__select app-link__select--nowrap app-modal-link"
                                >Add to PP</a>
                            {% else %}
                                <a href="#" data-toggle="modal" data-target="#confirmQuickAddInspectionToProposalAuthorizerError" class="app-link__select app-link__select--nowrap app-modal-link"
                                >Add to PP</a>
                            {% endif %}
                        </td>
                        <td>
                            {% if contacts.primary is defined and contacts.primary | length > 0 %}
                                <a href="#"
                                   data-toggle="modal"
                                   data-target="#addInspectionToWOFormFromList"
                                   data-action="{{ path('admin_add_inspection_to_workorder', {'service': service.id}) }}"
                                   data-inspection-category="{{ service.device.named.category.alias }}"
                                   class="app-link__select app-link__select--nowrap app-modal-link app-line--right-text transferAction addingOptionsInSelect"
                                > Add to WO</a>
                            {% else %}
                                <a href="#" data-toggle="modal" data-target="#confirmQuickAddInspectionToWorkorderAuthorizerError" class="app-link__select app-link__select--nowrap app-modal-link app-line--right-text"
                                >Add to WO</a>
                            {% endif %}
                        </td>
                    </tr>
                    <!-- end service row -->
                {% endfor %}
            {% endfor %}
            <!--end opportunity row-->
            </tbody>
        </table>
    {% else %}
        <div class="app-data__not-found app-bordered--shadow"> No Opportunities</div>
    {% endif %}

    <!-- Modal Omit Service -->
    {{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
        'modalId' : 'omitModal',
        'message' : 'Are you sure you want to Omit this Service?',
        'buttonYes' : 'modalYes',
        'buttonYesHref' : '#',
        'oneClick' : 'Yes'
    }) }}
    <!-- End Modal Omit Service -->

    <!-- Modal Add Service to Proposal -->
    {{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
        'modalId' : 'addInspectionToProposalModal',
        'message' : 'Are you sure you want to Add this Service to Proposal?',
        'buttonYes' : 'modalYes',
        'oneClick' : 'Yes'
    }) }}
    <!-- End Modal Add Service to Proposal -->

    <!-- Modal Add Inspection to Workorder -->
    {{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
        'modalId' : 'selectWorkorderForInspection',
        'message' : 'Are you sure you want to Add this Inspection to Workorder?',
        'buttonYes' : 'modalYes',
        'oneClick' : 'Yes'
    }) }}
    <!-- End Modal Add Inspection to Workorder -->

{% endblock %}

{% block linkedGroupAccountBlock %}
    {% if account.type.alias == "account" %}
        {% if not account.parent %}
            <div class="app-account-main__company {{ account.deleted ? 'app-deleted' : '' }}">
                <div class="app-account-main__company--text-label app-text--align-right app-line--right-text app-display--inline-block">
                    Group Account:
                </div>
                <img class="app-account-main__site" src="{{ asset('bundles/admin/dist/images/group_site.svg') }}"
                     alt="image contact">
                <div class="app-account-main__company--content-group-account">No Group Account selected</div>
            </div>
        {% endif %}
        {% if account.parent %}
            <div class="app-account-main__company">
                <div class="app-account-main__company--text-label app-text--align-right app-line--right-text">Group
                    Account:
                </div>
                <img class="app-account-main__site {{ account.parent.deleted ? 'app-deleted' : '' }}"
                     src="{{ asset('bundles/admin/dist/images/group_site.svg') }}" alt="image contact">
                <div class="app-color--white app-cut-string">
                    <a href="{{ path('admin_account_get', {'accountId': account.parent.id}) }}"
                       class="app-link__select app-line--right-text app-font--bold {{ account.parent.deleted ? 'app-deleted' : '' }}">{{ account.parent.name }}</a>
                    {% if account.parent.deleted %}
                        <span class="label label-danger app-label">Deleted</span>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}