{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}
    <div class="app-wrapper">
        <div class="app-contractor-users-profile app-contractor-users-block">
            <div class="app-detailed__wrapper app-wrapper-contractors-users">
                <div class="app-detailed__info app-view--max-height app-view--max-width app-wrapper">
                    <div class="app-contractor-users-profile__block">
                        <div class="app-wrapper app-device-styles_title-line">
                            <div class="app-detailed__info__img app-detailed__info__img--contractor-user correct-position-contractor-user-logo"
                                 style=""></div>
                            <div class="app-detailed__info__data app-wrapper app-no-padding--left">
                                <div class="app-detailed__info__data-id app-contractor-information_data-id">
                                    User ID - {{ contractorUser.id }}
                                    {% if contractorUser.active %}
                                        <span class="label label-success">
                                            Active
                                        </span>
                                    {% endif %}
                                </div>
                                <div class="app-detailed__info__data-contacts">
                                    <div class="app-detailed__info__data-title app-contractor-information_data-title app-cut-string">
                                        {{ contractorUser.user.firstName ~' '~ contractorUser.user.lastName }}
                                    </div>
                                    <div class="app-line--colored app-contractor-users-profile__colored-line">
                                        {% if contractorUser.title %}
                                            {{ contractorUser.title }}
                                        {% else %}
                                            <span class="app-color--inactive app-device-styles_table--no-data">No Title</span>
                                        {% endif %} at
                                        <span class="">
                                            <img class="app-contact-list__company-icon mCS_img_loaded"
                                               src="{{ asset('bundles/admin/dist/images/company.svg') }}"
                                               alt="image contact">
                                        </span>
                                        <a class="app-link__select app-weight--bold app-line--right-text app-word-breack"
                                           target="_blank" href="{{ path('admin_contractor_view',
                                            { 'contractor' : contractorUser.contractor.id }) }}">{{ contractorUser.contractor.name }}</a>
                                    </div>
                                    {#<div>#}
                                        {#<span class="app-color--inactive">Role:</span>#}
                                        {#<span>Tester</span>#}
                                    {#</div>#}
                                </div>
                            </div>
                        </div>
                        <div class="app-wrapper app-contractor-users-profile__table_styles">
                            <table class="app-contractor-users-profile__table app-contractor-users-profile__table_mail">
                                <tr>
                                    <td>Malling Address:</td>
                                    <td>
                                        {% if contractorUser.address %}
                                            {{ contractorUser.address | address }}
                                        {% else %}
                                            <span class="app-color--inactive app-device-styles_table--no-data">No Data</span>
                                            <img class="app-contact-list__warning app-contact-list__warning--middle" alt="warning image" src="/bundles/admin/dist/images/warning.svg">
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Work Email:</td>
                                    <td>
                                        {% if contractorUser.user.email %}
                                            <a href="{{ "mailto:" ~ contractorUser.user.email }}" class="app-link__select">{{ contractorUser.user.email }}</a>
                                        {% else %}
                                            <span class="app-color--inactive app-device-styles_table--no-data">No Data</span>
                                            <img class="app-contact-list__warning app-contact-list__warning--middle" alt="warning image" src="/bundles/admin/dist/images/warning.svg">
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Personal Email:</td>
                                    <td>
                                        {% if contractorUser.personalEmail %}
                                            <a href="{{ "mailto:" ~ contractorUser.personalEmail }}" class="app-link__select">{{ contractorUser.personalEmail }}</a>
                                        {% else %}
                                            <span class="app-color--inactive app-device-styles_table--no-data">No Data</span>
                                            <img class="app-contact-list__warning app-contact-list__warning--middle" alt="warning image" src="/bundles/admin/dist/images/warning.svg">
                                        {% endif %}
                                    </td>
                                </tr>
                            </table>
                            <table class="app-contractor-users-profile__table app-contractor-users-profile__table_cells">
                                <tr>
                                    <td>Personal Cell:</td>
                                    <td>
                                        {% if contractorUser.personalPhone %}
                                            {{ contractorUser.personalPhone | phone }}
                                        {% else %}
                                            <span class="app-color--inactive app-device-styles_table--no-data">No Data</span>
                                            <img class="app-contact-list__warning app-contact-list__warning--middle" alt="warning image" src="/bundles/admin/dist/images/warning.svg">
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Work Cell:</td>
                                    <td>
                                        {% if contractorUser.workPhone %}
                                            {{ contractorUser.workPhone | phone }}
                                        {% else %}
                                            <span class="app-color--inactive app-device-styles_table--no-data">No Data</span>
                                            <img class="app-contact-list__warning app-contact-list__warning--middle" alt="warning image" src="/bundles/admin/dist/images/warning.svg">
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Fax:</td>
                                    <td>
                                        {% if contractorUser.fax %}
                                            {{ contractorUser.fax | phone }}
                                        {% else %}
                                            <span class="app-color--inactive app-device-styles_table--no-data">No Data</span>
                                            <img class="app-contact-list__warning app-contact-list__warning--middle" alt="warning image" src="/bundles/admin/dist/images/warning.svg">
                                        {% endif %}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="app-contractor-users-profile__photos app-wrapper">
                        <div class="app-contractor-users-profile__photos-block">
                            <div class="app-contractor-users-profile__photos-title">Photo:</div>
                            <div class="app-contractor-users-profile__photos-block_image">
                                <div id="image-contractor"
                                     class="app-contractor-users-profile__photos-block-content
                                     {% if contractorUser.photo %}
                                        device-block-width_background-property app-detailed__new-tab-img-wrapper
                                     {% endif %}"
                                     {% if contractorUser.photo %}
                                        style="background-image: url({{ asset('uploads/contractor_user/photo/'~contractorUser.photo) }})"
                                     {% endif %}
                                >
                                    {% if contractorUser.photo %}
                                        <a href="{{ asset('uploads/contractor_user/photo/'~contractorUser.photo) }}" class="app-link__new-tab-img" target="_blank"></a>
                                    {% endif %}
                                    <div class="contractor-users-no-image"
                                        {{ contractorUser.photo ? 'style="display: none;"' : '' }}
                                    >
                                        <img class="app-contact-list__warning
                                            app-contractor-users__warning-icon
                                            app-contractor-users-profile__photos-block-content_no-data"
                                             alt="warning image" src="{{ asset('bundles/admin/dist/images/warning.svg') }}">
                                        <p class="app-color--inactive">No Photo</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="app-contractor-users-profile__photos-block">
                            <div class="app-contractor-users-profile__photos-title">Signature Image:</div>
                            <div class="app-contractor-users-profile__photos-block_image">
                                <div id="image-contractor" class="app-contractor-users-profile__photos-block-content
                                    {% if contractorUser.signature %}
                                        device-block-width_background-property app-detailed__new-tab-img-wrapper
                                    {% endif %}"
                                    {% if contractorUser.signature %}
                                        style="background-image: url({{ asset('uploads/contractor_user/signature/'~contractorUser.signature) }})"
                                    {% endif %}
                                >
                                    {% if contractorUser.signature %}
                                        <a href="{{ asset('uploads/contractor_user/signature/'~contractorUser.signature) }}" class="app-link__new-tab-img" target="_blank"></a>
                                    {% endif %}
                                    <div class="contractor-users-no-image"
                                        {{ contractorUser.signature ? 'style="display: none;"' : '' }}
                                    >
                                        <img class="app-contact-list__warning app-contractor-users__warning-icon
                                            app-contractor-users-profile__photos-block-content_no-data"
                                             alt="warning image" src="{{ asset('bundles/admin/dist/images/warning.svg') }}">
                                        <p class="app-color--inactive">No Image</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="app-contractor-users-profile_buttons">
                <div class="app-detailed__button-container">
                    {# <a class="app-detailed__button app-detailed__button--red app-detailed__button--shadow btn" data-toggle="modal" data-target="#deleteModal">Delete</a>
                    <a href="#" class="app-detailed__button app-detailed__button--blue app-detailed__button--shadow btn">Edit</a> #}
                </div>
            </div>
            <div class="app-contractor-users-licenses">
                <div class="app-detailed__addition__content  app-view--auto-height">
                    <div class="app-detailed__addition__container__title">Licenses</div>
                    {% if licenses is defined and licenses | length > 0 %}
                        <table class="app-contractor-users-licenses-table app-view--max-width">
                            {% for license in licenses %}
                                <tr>
                                    <td class="app-contractor-users-licenses-table__icons">
                                        {% if license.named.category is defined %}
                                            {% for icon in  license.named.category %}
                                                {% if  icon.icon is defined %}
                                                    <img src="{{ asset('bundles/admin/dist/images/'~icon.icon) }}" alt=""
                                                    class="app-contractor-users-licenses-table__icons_all">
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        <span class="app-font--regular">{{ license.named.name }}</span> <span
                                                class="app-color--inactive">- {{ license | licenseInfo }}</span></td>
                                    <td class="app-contractor-users-licenses-table__icons">
                                        {#<a href="#">#}
                                            {#<img src="{{ asset('bundles/admin/dist/images/edit.svg') }}" alt=""#}
                                                 {#class="app-contractor-users-licenses-table__icons_edit">#}
                                        {#</a>#}
                                    </td>
                                    <td class="app-contractor-users-licenses-table__icons">
                                        {#<a href="#">#}
                                            {#<img src="{{ asset('bundles/admin/dist/images/delete.svg') }}"#}
                                                 {#class="app-contractor-users-licenses-table__icons_delete">#}
                                        {#</a>#}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        <div class="app-account-addition__details__wrapper">No Licenses Yet</div>
                    {% endif %}
                </div>
                <div class="app-contractor-users-profile_buttons">
                    <div class="app-detailed__button-container">
                        {#<a href="#"#}
                           {#class="app-detailed__button app-detailed__button--blue app-detailed__button--shadow btn"#}
                           {#>Add</a>#}
                        {#<span class="app-detailed__button app-detailed__button--shadow btn link-preventDefault app-link__table-button--gray app-bordered--shadow">Add</span>#}
                    </div>
                </div>
            </div>
            <div class="app-contractor-users-gauges">
                <div class="app-detailed__addition__content app-view--auto-height">
                    <div class="app-detailed__addition__container__title">Backflow Gauges</div>
                    {% if contractorUser.equipment | length %}
                        <table class="app-contractor-users-licenses-table app-view--max-width">
                            {% for equipment in  contractorUser.equipment%}
                                <tr>
                                    <td>
                                        <img class="contractors-table__img app-font--regular app-contractor-users-gauges__icon-name" alt="" src="/bundles/admin/dist/images/equipment-white.svg">
                                        <span class="app-font--regular app-contractor-users-gauges__name">{{ equipment.make }}</span> <span
                                                class="app-color--inactive">- {{ equipment | equipmentInfo | raw }}</span>
                                    </td>
                                    <td class="app-contractor-users-licenses-table__icons">
                                        {#<a href="#">#}
                                            {#<img src="{{ asset('bundles/admin/dist/images/edit.svg') }}" alt=""#}
                                                 {#class="app-contractor-users-licenses-table__icons_edit">#}
                                        {#</a>#}
                                    </td>
                                    <td class="app-contractor-users-licenses-table__icons">
                                        {#<a href="#">#}
                                            {#<img src="{{ asset('bundles/admin/dist/images/delete.svg') }}"#}
                                                 {#class="app-contractor-users-licenses-table__icons_delete">#}
                                        {#</a>#}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        <div class="app-account-addition__details__wrapper">No Gauges Yet</div>
                    {% endif %}
                </div>
                <div class="app-contractor-users-profile_buttons">
                    <div class="app-detailed__button-container">
                        {# <a href="#" class="app-detailed__button app-detailed__button--blue app-detailed__button--shadow btn">Add</a> #}
                    </div>
                </div>
            </div>
        </div>
        <div class="app-contractor-users-block">
            <div class="app-contractor-users-comments">
                <div class="app-contractor-users-comments-block">
                    <div class="app-detailed__addition__content app-detailed__addition__content--medium app-contractor-users__addition-content">
                        <div class="app-detailed__addition__container__title">Comments</div>
                        <div class="app-account-addition__details__wrapper">No Comments Yet</div>
                    </div>
                    <div class="app-detailed__button-container app-contractor-users-comments-block__button-container">
                        {# <a href="#" class="app-detailed__button app-detailed__button--blue app-detailed__button--shadow btn">Add</a>  #}
                    </div>
                </div>
                <div class="app-contractor-users-comments-block">
                    <div class="app-detailed__addition__content app-detailed__addition__content--medium app-contractor-users__addition-content">
                        <div class="app-detailed__addition__container__title">Files</div>
                        <div class="app-account-addition__details__wrapper">No Files Yet</div>
                    </div>
                    <div class="app-detailed__button-container app-contractor-users-comments-block__button-container">
                        {# <a href="#" class="app-detailed__button app-detailed__button--blue app-detailed__button--shadow btn">Add</a> #}
                    </div>
                </div>
            </div>
            <div class="app-contractor-users-statistics">
                <div class="app-detailed__addition__content app-view--auto-height app-contractor-users-statistics">
                    <div class="app-detailed__addition__container__title">Statistics</div>
                    <div class="app-account-addition__details__wrapper">No Graphs Yet</div>
                </div>
                <div class="app-detailed__button-container">
                    {# <a href="#" class="app-detailed__button app-detailed__button--blue app-detailed__button--shadow btn">WO History</a>
                    <a href="#" class="app-detailed__button app-detailed__button--blue app-detailed__button--shadow btn">Test History</a> #}
                </div>
            </div>
        </div>
    </div>
{% endblock %}