<div id="{{ modalId }}" class="modal fade {{ modalClass is defined ? modalClass : ''}}" role="dialog">
    <div class="modal-dialog app-modal">
        <!-- Modal content-->
        <div class="app-modal__content modal-content {{uploadFile is defined ? 'app-modal__content--drag-drop' : ''}}">
            <div class="app-modal__body modal-body">
                <p {% if messageId is defined %} id="{{ messageId }}" {% endif %}>
                    {% if message is defined %}
                        {{ message }}
                    {% else %}
                        {{ 'You didn\'t change any fields. Please press "Cancel" or change some field.' }}
                    {% endif %}
                </p>
            </div>
            {% block modalForm %}
            <div class="app-modal__footer">
                {% block modalFooter %}
                {% endblock %}
            </div>
            {% endblock %}
        </div>
    </div>
</div>