{% extends 'AdminBundle:layouts/dialogs:abstractDialogRepairServiceCommentDialog.html.twig' %}
{% block modalForm %}
    <form class="app-modal__form" id="editRepairServiceCommentForm" method="post" autocomplete="off">
        <div class="form-group app-text--align-left">
            <label for="editRepairServiceCommentField">Description:</label>
            <textarea id="editRepairServiceCommentField" name="comment" class="app-form__textarea--small
            form-control" placeholder="Description"></textarea>
        </div>
        <div class="app-modal__footer--right">
            <button type="submit" id="updateDeficiencyComment" class="app-detailed__button app-detailed__button--blue btn">OK</button>
            <button type="button" class="modalCancel app-detailed__button app-detailed__button--gray btn" data-dismiss="modal">Cancel</button>
        </div>
    </form>
{% endblock %}