{% extends 'AdminBundle:layouts/dialogs:abstractDialog.html.twig' %}
{% block modalForm %}
    <form class="app-modal__form {{uploadFile is defined and validateBothInputs is defined ? 'validateCommentAndFile' : '' }}{{ uploadFile is defined and validateBothInputs is not defined ? 'validateRequiredFile' : '' }}" enctype="multipart/form-data"
            {% if modalFormId is defined %} id="{{ modalFormId }}" {% endif %}
            {% if modalFormAction is defined %} action="{{ modalFormAction }}" {% endif %}
            {% if modalFormMethod is defined %} method="{{ modalFormMethod }}" {% endif %}
          autocomplete="off">
        <div class="form-group app-text--align-left">
            {% if commentFieldTitle is defined %}<label for="leaveCommentTextArea">{{ commentFieldTitle }} {% if notRequired is not defined %}<span class="required-label">*</span>{% endif %}</label>{% endif %}
            <textarea id="leaveCommentTextArea" {% if commentFieldName is defined %} name="{{ commentFieldName }}" {% endif %} class="app-form__textarea--small form-control" placeholder="Comment"></textarea>
        </div>
        {% if uploadFile is defined %}
            <div class="form-group app-text--align-left dragandropContainer">
                <label>{% if labelAttachMessage is defined %} {{ labelAttachMessage }}{% else %}Please attach the invoice file that you created:{% endif %}<span class="required-label">*</span></label>
                <div class="app-dragandrop">
                    <div class="app-dragandrop__placeholder dragandropPlaceholder">Browse or Drag and Drop file here</div>
                    <a class="app-link__select browseFile">Browse file</a>
                    <div class="fileName app-word-breack text-center"></div>
                    <a class="app-link__select removeFile">Remove file</a>
                    <input type="file" name="form[image]" data-type="PDF or DOC file" class="inputFile app-validation-pdf" style="visibility:hidden; height:0">
                </div>
                <div class="fileError"></div>
            </div>
        {% endif %}

        {% if boolFieldTitle is defined and boolFieldName is defined %}
            <div class="form-group app-text--align-left">
                <input id="leaveCommentPopupWithBool" type="checkbox" name="{{ boolFieldName }}" class="app-checkbox-input">
                <label for="leaveCommentPopupWithBool" class="app-checkbox-label app-color--white app-color--white">{{ boolFieldTitle }}</label>
            </div>
        {% endif %}

        <div class="app-modal__footer--right">
            <button type="submit" class="app-detailed__button {{uploadFile is defined ? 'validateFile' : ''}} app-detailed__button--blue btn">OK</button>
            <button type="button" class="modalCancel refreshTextarea {{uploadFile is defined ? 'resetInputFile' : ''}} app-detailed__button app-detailed__button--gray btn" data-dismiss="modal">Cancel</button>
        </div>
    </form>
{% endblock %}