{% extends 'AdminBundle:layouts/dialogs:abstractDialog.html.twig' %}
{% block modalFooter %}
    <a href="{{ buttonYesHref is defined and newWindow is not defined ? buttonYesHref : '#' }}"
            {% if dataSubmit is defined %} data-submit="{{ dataSubmit }}" {% endif %}
            {% if oneClick is defined %} data-oneClick="{{ oneClick }}" {% endif %}
        class="app-detailed__button app-detailed__button--red btn"
        {% if buttonYesHref is not defined %} data-dismiss="modal" {% endif %}
        {% if buttonYesId is defined %} id="{{ buttonYesId }}" {% endif %}
        {% if buttonYes is defined %} data-confirm="{{ buttonYes }}" {% endif %}
        {% if newWindow is defined %} data-dismiss="modal" onclick="javascript:window.open('{{ buttonYesHref }}', '_blank')" {% endif %} >
        {% if buttonYesName is defined %} {{ buttonYesName }} {% else %}Yes{% endif %}
    </a>
    <a href="#" data-cancel="Yes" class="app-detailed__button app-detailed__button--gray btn" data-dismiss="modal">
        {% if buttonNoName is defined %} {{ buttonNoName }} {% else %}No{% endif %}
    </a>
{% endblock %}