{% extends 'AdminBundle:layouts/dialogs:abstractDialog.html.twig' %}
{% block modalForm %}
    <form class="app-modal__form" {% if modalFormId is defined %} id="{{ modalFormId }}" {% endif %} 
			{% if modalFormAction is defined %} action="{{ modalFormAction }}" {% endif %}
      {% if modalFormMethod is defined %} method="{{ modalFormMethod }}" {% endif %}
						autocomplete="off">
        <div class="form-group app-text--align-left">
            <label>{{ authorizerSelectTitle }}</label><span class="required-label">*</span>
            <select {% if selectName is defined %} name="{{ selectName }}" {% endif %} class="selectpicker form-control mozilla-input required">
                {% if defaultSelectOption is defined %}
                    <option value="{{ defaultSelectOption.value }}" selected>{{ defaultSelectOption.text }}</option>
                {% endif %}
                {% for authorizer in authorizersArray %}
                    <option value="{{ authorizer.id }}">{{ authorizer.name }}</option>
                {% endfor %}
            </select>
        </div>
        {% if not isCustomProposal %}
            <div class="form-group app-text--align-left app-detailed__select-wo">
                <label>{{ workordersSelectTitle }}</label><span class="required-label">*</span>
                <select {% if selectWorkorderName is defined %} name="{{ selectWorkorderName }}" {% endif %} class="selectpicker form-control mozilla-input">
                    <option selected value="">Add to new Workorder</option>
                    {% for workorder in workordersArray %}
                        <option value="{{ workorder.id }}">
                            {{ workorder.division.name }} Workorder #{{ workorder.id }} ({{ workorder.status.name }})
                        </option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}
				<div class="form-group app-text--align-left">
						{% if commentFieldTitle is defined %}<label for="leaveCommentTextArea">{{ commentFieldTitle }} {% if notRequired is not defined %}<span class="required-label">*</span>{% endif %}</label>{% endif %}
						<textarea id="leaveCommentTextArea" {% if commentFieldName is defined %} name="{{ commentFieldName }}" {% endif %} class="app-form__textarea--small form-control" placeholder="Comment"></textarea>
				</div>
        <div class="app-modal__footer--right">
            <button type="submit" class="app-detailed__button app-detailed__button--blue btn">Yes</button>
            <button type="button" class="refreshSelect modalCancel app-detailed__button app-detailed__button--gray btn" data-dismiss="modal">Cancel</button>
        </div>
    </form>
{% endblock %}