<div id="{{ modalId }}" class="modal fade {{ modalClass is defined ? modalClass : ''}}" role="dialog">
    <div class="modal-dialog app-modal">
        <!-- Modal content-->
        <div class="app-modal__content app-modal__content--drag-drop modal-content">
            <div class="app-modal__body modal-body">
                <p {% if messageId is defined %} id="{{ messageId }}" {% endif %}>
                    {% if message is defined %}
                        {{ message }}
                    {% else %}
                        {{ 'You didn\'t change any fields. Please press "Cancel" or change some field.' }}
                    {% endif %}
                </p>
            </div>
            {% block modalForm %}
                <form class="app-modal__form {{ dragDrop is defined ? 'validateRequiredFile' : ''}}"
                            {% if modalFormId is defined %} id="{{ modalFormId }}" {% endif %}
                            {% if modalFormAction is defined %} action="{{ modalFormAction }}" {% endif %}
                          method="post"
                          autocomplete="off"
                          enctype="multipart/form-data">
                        <div class="form-group">
                            <div class="form-group app-text--align-left">
                                <label>Please specify the result of the service completion:</label>
                                <select {% if selectName is defined %} name="{{ selectName }}" {% endif %} class="selectpicker form-control mozilla-input required">
                                    {% if defaultSelectOption is defined %}
                                        <option value="{{ defaultSelectOption.value }}" selected>{{ defaultSelectOption.text }}</option>
                                    {% endif %}
                                    {% for option in optionsArray %}
                                        <option value="{{ option.id }}">{{ option.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        {% if dragDrop is defined %}
                            <div class="form-group app-text--align-left dragandropContainer">
                                <label>Please add PDF file with scanned paper report:<span class="required-label">*</span></label>
                                <div class="app-dragandrop">
                                    <div class="app-dragandrop__placeholder dragandropPlaceholder">Browse or Drag and Drop file here</div>
                                    <a class="app-link__select browseFile">Browse file</a>
                                    <div class="fileName app-word-breack text-center"></div>
                                    <a class="app-link__select removeFile">Remove file</a>
                                    <input type="file" name="form[reportFile]" data-type="PDF or DOC file" class="inputFile" style="visibility:hidden; height:0">
                                </div>
                                <div class="fileError"></div>
                            </div>
                        {% endif %}
                        <div class="app-modal__footer--right">
                            <button type="submit" data-confirm="modalYes" class="validateFile app-detailed__button app-detailed__button--blue btn">Finish service</button>
                            <button type="button" class="resetInputFile app-detailed__button app-detailed__button--gray btn" data-dismiss="modal">Cancel</button>
                        </div>
                    </form>
            {% endblock %}
        </div>
    </div>
</div>