{% extends 'AdminBundle:layouts/dialogs:abstractDialog.html.twig' %}
{% block modalForm %}
    <form class="app-modal__form" {% if modalFormId is defined %} id="{{ modalFormId }}" {% endif %}
            {% if modalFormMethod is defined %} method="{{ modalFormMethod }}" {% endif %}
          autocomplete="off">
        <div class="form-group app-text--align-left app-detailed__select-wo retestOpportunitySelect">
            <select {% if selectName is defined %} name="{{ selectName }}" {% endif %} class="selectpicker form-control mozilla-input">
            </select>
        </div>
        <div class="app-modal__footer--right">
            <button type="submit" class="app-detailed__button app-detailed__button--blue btn" data-oneClick="Yes">Yes</button>
            <button type="button" class="modalCancel clearSelect app-detailed__button app-detailed__button--gray btn" data-dismiss="modal">Cancel</button>
        </div>
    </form>
{% endblock %}