<div id="{{ modalId }}" class="modal fade {{ modalClass is defined ? modalClass : ''}}" role="dialog">
    <div class="modal-dialog app-modal">
        <!-- Modal content-->
        <div class="app-modal__content app-modal__content--drag-drop modal-content">
            <div class="app-modal__body modal-body">
                <p {% if messageId is defined %} id="{{ messageId }}" {% endif %}>
                    {% if message is defined %}
                        {{ message }}
                    {% else %}
                        {{ 'You didn\'t change any fields. Please press "Cancel" or change some field.' }}
                    {% endif %}
                </p>
            </div>
            {% block modalForm %}
                <form class="app-modal__form validateRequiredFile"
                            {% if modalFormId is defined %} id="{{ modalFormId }}" {% endif %}
                            {% if modalFormAction is defined %} action="{{ modalFormAction }}" {% endif %}
                          method="post"
                          autocomplete="off"
                          enctype="multipart/form-data">
                        <div class="form-group">
                            <div class="form-group app-text--align-left">
                                <label>Please select Division of a new {{ app.request.get('_route') == 'admin_account_workorders_get' ? 'Generic Workorder' : 'custom Proposal' }}</label>
                                <select {% if selectName is defined %} name="{{ selectName }}" {% endif %} class="selectpicker form-control mozilla-input required">
                                    {% if defaultSelectOption is defined %}
                                        <option value="{{ defaultSelectOption.value }}" selected>{{ defaultSelectOption.text }}</option>
                                    {% endif %}
                                    {% for category in optionsArray %}
                                        <option value="{{ category.id }}">{{ category.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group app-text--align-left dragandropContainer">
                            <label>Please add the PDF file describing the {{ app.request.get('_route') == 'admin_account_workorders_get' ? 'Workorder' : 'Proposal' }} (this file will be sent to the customer):<span class="required-label">{{ app.request.get('_route') == 'admin_account_workorders_get' ? '' : '*' }}</span></label>
                            <div class="app-dragandrop">
                                <div class="app-dragandrop__placeholder dragandropPlaceholder">Browse or Drag and Drop file here</div>
                                <a class="app-link__select browseFile">Browse file</a>
                                <div class="fileName app-word-breack text-center"></div>
                                <a class="app-link__select removeFile">Remove file</a>
                                <input type="file" name="admin_bundle_custom_create[proposalFile]" class="inputFile app-word-breack text-center" data-type="PDF file" style="visibility:hidden; height:0">
                            </div>
                            <div class="fileError"></div>
                        </div>

                        {#<div class="form-group app-text--align-left dragandropContainer">
                            <label>Please add the original editable Proposal file (this file will be just stored in the system):<span class="required-label">*</span></label>
                            <div class="app-dragandrop">
                                <div class="app-dragandrop__placeholder dragandropPlaceholder">Browse or Drag and Drop file here</div>
                                <a class="app-link__select browseFile">Browse file</a>
                                <div class="fileName"></div>
                                <a class="app-link__select removeFile">Remove file</a>
                                <input type="file" name="form[proposalFile]" class="inputFile" data-type="DOC file" style="visibility:hidden; height:0">
                            </div>
                            <div class="fileError"></div>
                        </div>#}

                        <div class="app-modal__footer--right">
                            <button type="submit" data-confirm="modalYes" class="validateFile app-detailed__button app-detailed__button--blue btn">Create {{ app.request.get('_route') == 'admin_account_workorders_get' ? 'Workorder' : 'Proposal' }}</button>
                            <button type="button" class="resetInputFile app-detailed__button app-detailed__button--gray btn" data-dismiss="modal">Cancel</button>
                        </div>
                    </form>
            {% endblock %}
        </div>
    </div>
</div>