{% extends 'AdminBundle:layouts/dialogs:abstractDialog.html.twig' %}
{% block modalForm %}
    <div class="app-workorder-form__modal-warning">
        <img class="app-contact-list__warning" alt="warning image" src="/bundles/admin/dist/images/warning.svg">
        <span>Please note this will change service price on the Account Page.</span>
    </div>
    <form class="app-modal__form"
            {% if modalFormId is defined %} id="{{ modalFormId }}" {% endif %}
            {% if modalFormAction is defined %} action="{{ modalFormAction }}" {% endif %}
            {% if modalFormMethod is defined %} method="{{ modalFormMethod }}" {% endif %}
          autocomplete="off">
        <div class="form-group app-text--align-left">
            <input id="newFee" {% if commentFieldName is defined %} name="{{ commentFieldName }}" {% endif %} class="app-validation-currency form-control required" placeholder="$0"/>
        </div>
        <div id="changeFeeError" class="app-workorder-form__modal-error"></div>
        <div class="app-modal__footer--right">
            <button type="submit" class="app-detailed__button app-detailed__button--blue btn">OK</button>
            <button type="button" class="modalCancel refreshInput app-detailed__button app-detailed__button--gray btn" data-dismiss="modal">Cancel</button>
        </div>
    </form>
{% endblock %}