{% extends 'AdminBundle:layouts/dialogs:abstractDialog.html.twig' %}
{% block modalFooter %}
    <button type="button" class="app-detailed__button app-detailed__button--blue btn" data-dismiss="modal">OK</button>
{% endblock %}