{% extends 'AdminBundle:layouts/dialogs:abstractDialog.html.twig' %}
{% block modalForm %}
    <form class="app-modal__form" {% if modalFormId is defined %} id="{{ modalFormId }}" {% endif %} autocomplete="off">
        <div class="form-group">
            <select {% if selectName is defined %} name="{{ selectName }}" {% endif %} class="selectpicker form-control mozilla-input required">
                {% if defaultSelectOption is defined %}
                    <option value="{{ defaultSelectOption.value }}" selected>{{ defaultSelectOption.text }}</option>
                {% endif %}
                {% for option in optionsArray %}
                    {% if option.parent is null %}
                        <option data-link="{{ path('admin_device_create', {'account': account.id, 'deviceNamed': option.id}) }}">{{ option.name }}</option>
                    {% else %}
                        <option data-link="{{ path('admin_subdevice_create', {'parent': device.id, 'deviceNamed': option.id}) }}">{{ option.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="app-modal__footer--right">
            <button type="submit" class="app-detailed__button app-detailed__button--blue btn">Select</button>
            <button type="button" class="refreshSelect modalCancel app-detailed__button app-detailed__button--gray btn" data-dismiss="modal">Cancel</button>
        </div>
    </form>
{% endblock %}