{% extends 'AdminBundle:layouts/dialogs:abstractDialog.html.twig' %}
{% block modalForm %}
    <form class="app-modal__form" {% if modalFormId is defined %} id="{{ modalFormId }}" {% endif %} autocomplete="off">
        <div class="form-group">
            <select {% if selectName is defined %} name="{{ selectName }}" {% endif %} class="selectpicker form-control mozilla-input required">
                {% if defaultSelectOption is defined %}
                    <option value="{{ defaultSelectOption.value }}" selected>{{ defaultSelectOption.text }}</option>
                {% endif %}
                {% for option in optionsArray %}
                        <option value="{{ option.id }}">{{ option.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="app-modal__footer--right">
            <button type="submit" class="app-detailed__button app-detailed__button--blue btn" data-departmentId="" data-agentId="" data-environment="{{ app.environment }}">Select</button>
            <button type="button" class="refreshSelect modalCancel app-detailed__button app-detailed__button--gray btn" data-dismiss="modal">Cancel</button>
        </div>
    </form>
{% endblock %}