<div id="{{ modalId }}" class="modal fade {{ modalClass is defined ? modalClass : ''}}" role="dialog">
    <div class="modal-dialog app-modal">
        <!-- Modal content-->
        <div class="app-modal__content app-modal__content--image modal-content {{uploadFile is defined ? 'app-modal__content--drag-drop' : ''}}">
            <div id="modalFullImage"></div>
        </div>
    </div>
</div>