{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}
    <div class="app-form app-form--flex app-form--bordered">
        <div class="app-form-header">General Email Information</div>
        <div class="app-form--wide">
            <div class="form-group">
                <label>From:</label>
                <div class="app-service-form__text-field form-control mozilla-input">
                    {% if letter.from %}
                        {{ letter.from.personalEmail ? letter.from.personalEmail : letter.from.user.email }}
                    {% else %}
                        {{ "Sent by System" }}
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                <label>To:</label>
                <div class="app-service-form__text-field form-control">
                    {{ letter.emails ? letter.emails : letter.to.contactPerson.email }}
                </div>
            </div>
            <div class="form-group">
                <label>Email Subject:</label>
                <div class="app-service-form__text-field form-control mozilla-input">
                    {{ letter.subject }}
                </div>
            </div>
            <div class="form-group">
                <label>Email Body:</label>
                <div class="app-service-form__text-field form-control">{{ letter.body | raw }}</div>
            </div>
            <div class="form-group">
                {% if letter.attachment %}
                    <label>Attached file:</label>
                    <div>
                        <img src="{{ asset('/bundles/admin/dist/images/pdf.jpeg') }}" class="app-form__img--pdf" alt="pdf logo">
                        <a href="{{ asset('/uploads/proposals/' ~ letter.attachment) }}"
                           target="_blank"
                           class="app-link__select app-line--right-text app-font--bold">{{letter.attachment}}</a>
                    </div>
                {% endif %}
                {% if letter.attachments %}
                    <label>Attached files:</label>
                    {% for attachment in letter.attachments %}
                        <div>
                            <img src="{{ asset('/bundles/admin/dist/images/pdf.jpeg') }}" class="app-form__img--pdf app-small-pdf" alt="pdf logo">
                            <a href="{{ asset(attachment.file.file) }}"
                               target="_blank"
                               class="app-link__select app-line--right-text app-font--bold">{{attachment.file.file|get_file_name_by_path}}</a>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}