{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}
    <div class="app-main__page-title app-wrapper">
        <div class="app-main__page-title-name">
            {% if typeEmail == 'sent_via_email' %}
                Send Email
            {% elseif typeEmail == 'email_reminder_sent' %}
                Send Email Reminder
            {% endif %}
        </div>
    </div>
    <div class="app-form app-form--flex app-form--bordered">
        <div class="app-form-header">General Email Information</div>
        {{ form_start(form, {'attr': {'id':'emailForm', 'class':'app-form--wide', 'method':'post'}}) }}
        <div class="form-group">
            <label>From:<span class="required-label">*</span></label>
            {{ form_widget(form.from, {'attr': {'name':'from','class':'selectpicker form-control mozilla-input'}}) }}
        </div>
        <div class="form-group">
            <label>To:<span class="required-label">*</span></label>
            {{ form_widget(form.emails, {'attr': {'name':'addEmail','class':'form-control mozilla-input'}}) }}
        </div>
        <div class="form-group">
            <label>Email Subject:<span class="required-label">*</span></label>
            <input type="text" name="letter[subject]" class="form-control mozilla-input" placeholder="Email Subject"
                {% if typeEmail == 'sent_via_email' %}
                    value="Proposal for {{ form.vars.data.proposal.division.name }} services for {{ form.vars.data.proposal.account.address | address }} - {{ form.vars.data.proposal.referenceId }}"
                {% elseif typeEmail == 'email_reminder_sent' and form.vars.data.proposal.division.alias == 'backflow' %}
                    value="Required  Backflow Testing Reminder for {{ form.vars.data.proposal.account.address | address }} - {{ form.vars.data.proposal.referenceId }}"
                {% elseif typeEmail == 'email_reminder_sent' and form.vars.data.proposal.division.alias == 'fire' %}
                    value="Required Fire Equip. Inspection(s) Reminder for {{ form.vars.data.proposal.account.address | address }} - {{ form.vars.data.proposal.referenceId }}"
                {% endif %}
            >
        </div>
        <div class="form-group">
            <label>Email Body:<span class="required-label">*</span></label>

            <textarea id="email_editor" type="text" name="letter[body]" class="form-control app-form__textarea--email ckeditor" placeholder="Email Body">
                {% block emailBody %}{% endblock %}
            </textarea>
            <script>
            CKEDITOR.config.toolbar_MA=[ ['Font','FontSize','Bold','Italic','Underline','-','Undo','Redo','-','Link','Unlink','-','NumberedList','BulletedList'] ];
			CKEDITOR.replace( 'email_editor', {toolbar:'MA'} );
            CKEDITOR.config.removePlugins = 'About';
            CKEDITOR.config.height = 120;
		    </script>
        </div>
        {% if form.vars.data.attachment %}
            <div class="form-group">
                <label>File to be attached:</label>
                <div>
                    <img src="{{ asset('/bundles/admin/dist/images/pdf.jpeg') }}" class="app-form__img--pdf" alt="pdf logo">
                    <a href="{{ asset('/uploads/proposals/' ~ form.vars.data.attachment) }}"
                       target="_blank"
                       class="app-link__select app-line--right-text app-font--bold">{{ form.vars.data.attachment }}</a>
                </div>
            </div>
        {% endif %}
        <div class="app-form-button--right">
            <button type="submit" class="app-form-button btn ">SEND</button>
            <a href="{{ path('admin_'~ form.vars.data.proposal.type.alias ~'_proposal_view', {'proposal' : form.vars.data.proposal.id}) }}"
               class="app-form-button app-form-button--grey app-form-button--indent btn">CANCEL</a>
        </div>
        </form>
    </div>
    <div class="app-form-error{% if form_errors(form.body) %} app-submit-error {% endif %}">
        {{ form_errors(form.body) }}
    </div>

    {{ include('AdminBundle:Opportunity:flash_messages.html.twig', {"app.session": app.session}) }}

    <!-- Modal -->
    {{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
        'modalId' : 'emailModal',
        'message' : 'Are you sure you want to send this Email?',
        'dataSubmit' : 'Yes'
    }) }}
{% endblock %}

{% block footerScripts %}
    {{ parent() }}
{% endblock %}
