{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}
    <div class="app-form app-form--flex app-form--bordered">
        <div class="app-form-header">General Email Information</div>
        <div class="app-form--wide">
            {{ form_start(form, {'attr': {'id': 'sendInvoiceViaEmailForm', 'autocomplete': 'off'}}) }}
            <div class="form-group">
                {{ form_label(form.from) }}:<span class="required-label">*</span>
                {{ form_widget(form.from, {'attr': {'class': "form-control mozilla-input selectpicker"}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.to) }}:<span class="required-label">*</span>
                {{ form_widget(form.to, {'attr': {'class': "form-control mozilla-input"}}) }}
            </div>
            <div class="form-group">
                {% set subject = workorder.division.name ~ " Workorder #"~workorder.id~" Invoice - "~workorder.account.address|address %}
                {% if type == "report_to_client" %}
                    {% set subject = workorder.division.name ~ " Workorder #"~workorder.id~" Reports - "~workorder.account.address|address %}
                {% endif %}
                {% if type == "report_to_ahj" %}
                    {% set subject = workorder.division.name ~ " Reports - "~workorder.account.address|address %}
                {% endif %}
                {{ form_label(form.emailSubject) }}:<span class="required-label">*</span>
                {{ form_widget(form.emailSubject, {'attr': {'class': "form-control mozilla-input", 'value': subject}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.emailBody) }}:<span class="required-label">*</span>
                {#{{ form_widget(form.emailBody, {'attr': {'class': "app-form__textarea--big form-control"}}) }}#}
                <textarea id="admin_bundle_file_emailBody" name="admin_bundle_file[emailBody]" required="required" class="form-control app-form__textarea--email ckeditor" autocomplete="off">
                    {% block emailBody %}{% endblock %}
                </textarea>
            </div>
            {% if form.attachedFiles.vars.choices is not empty %}
                <label>Files to be attached:</label>
            {% else %}
                <label>No suggested files to be attached</label>
            {% endif %}
                {% for choice in form.attachedFiles.vars.choices %}
                    {% set filePath = '' %}
                    {% set label = '' %}
                    {% set fileName = '' %}
                    {% set choiceValue = '' %}
                    {% set fileSize = 0 %}
                    {% for key, innerChoice in choice %}
                        {% if innerChoice.label == "path" %}
                            {% set filePath = innerChoice.data %}
                            {% set choiceValue = innerChoice.value %}
                            {% set label = key %}
                            {% set fileName = innerChoice.data|get_file_name_by_path %}
                        {% endif %}
                        {% if innerChoice.label == "size" %}
                            {% set fileSize = innerChoice.data %}
                        {% endif %}
                    {% endfor %}
                    <div class="form-group app-email-composer__attached-file">
                        {#<input checked type="checkbox" id="{{ form.attachedFiles.vars.id }}_{{ label }}" name="{{ form.attachedFiles.vars.full_name }}[]" value="{{ choiceValue }}" autocomplete="off" class="app-checkbox-input attached_file_size" data-size="{{ fileSize }}">#}
                        <input checked type="checkbox" id="{{ form.attachedFiles.vars.id }}_{{ label }}" name="{{ form.attachedFiles.vars.full_name }}[]" value="{{ filePath }}" autocomplete="off" class="app-checkbox-input attached_file_size" data-size="{{ fileSize }}">
                        <label for="{{ form.attachedFiles.vars.id }}_{{ label }}" class="app-email-composer__attached-file__checkbox app-checkbox-label app-color--white app-color--white">
                            <img src="{{ asset('/bundles/admin/dist/images/pdf.jpeg') }}" class="app-form__img--pdf app-small-pdf" alt="pdf logo">
                        </label>
                        <a href="{{ asset(filePath)}}" class="app-link__select app-line--right-text" target="_blank">{{ fileName }}</a>
                        <span style="color:#77787e;">({{ fileSize }} Mb)</span>
                    </div>
                {% endfor %}
            <br>
            <label>Attach more files:</label>
            <div class="form-wrapper" id="formWrapperForInsert">
                <div class="form-group app-text--align-left multiDragandropContainer" id="multiDragandDropContainer1">
                    <div class="app-dragandrop app-multi-dragandrop multiInnerContanier">
                        <div class="app-dragandrop__placeholder multiDragandropPlaceholder" id="multiDragandropPlaceholder1">Browse or Drag and Drop file here</div>
                        <a class="app-link__select multiBrowseFile" id="multiBrowseFile1">Browse file</a>
                        <div class="multiFileSize"></div>
                        <div class="multiFileName app-word-breack text-center"></div>
                        <img src="{{ asset('/bundles/admin/dist/images/pdf.jpeg') }}" class="multiPdfFile app-form__img--pdf app-small-pdf app-display--none" alt="pdf logo">
                        <a class="app-link__select multiRemoveFile" id="multiRemoveFile1" style="display: none">
                          <img alt="image delete" src="/bundles/admin/dist/images/delete.svg">
                        </a>
                        {{ form_widget(form.file, {'attr':{'class': 'start-file-field multiInputFile', 'style': 'visibility:hidden;height:0', 'data-type' : 'PDF DOC file or Image'}}) }}
                    </div>
                    <div class="fileError" id="multiFileError"></div>
                </div>
            </div>
            <div class="form-group total-size-info">
                <span>Total files size:</span>
                <span class="total_files_size"></span>
            </div>
            <div class="app-form-button--right">
                <button type="submit" class="app-form-button btn checkSendError">SEND</button>
                <a href="{{ path('admin_workorder_view', {'workorder' : workorder.id}) }}"
                        class="app-form-button app-form-button--grey app-form-button--indent btn">CANCEL</a>
            </div>
            {{ form_end(form, {'render_rest': false}) }}
        </div>
    </div>

    <!-- Modal Check on Send Custom Email-->
		{{ include('AdminBundle:layouts/dialogs:infoDialog.html.twig', {
        'modalId' : 'sendCustomEmailError',
        'message' : 'You didn\'t attach any files.'
        }) }}
    {{ include('AdminBundle:layouts/dialogs:infoDialog.html.twig', {
        'modalId' : 'sendCustomEmailErrorForBigForm',
        'message' : 'You can send up to 25 MB in attachments. Current total size of all attached files is more than 25Mb. Please reduce number or size of attached files to send this email. Please note you can also use cloud drives to share URL links to files by copying them into email body text.'
    }) }}
    <!-- End Modal Check on Send Custom Email-->
{% endblock %}
