{% extends "AdminBundle:layouts:login.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="app-login">
        <div>
            <div class="app-login__logo">
                <img class="app-login__logo-img" alt="logo image" src="{{ asset('bundles/admin/dist/images/logo_new.png')}}">
            </div>
            <div class="app-login__form app-form--flex app-form--bordered">
                <span class="app-login__form-text">Welcome to American Backflow and Fire Prevention Admin Panel.</span>
                <form id="loginForm" action="{{ path("fos_user_security_check") }}" method="post" autocomplete="off">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    <div class="form-group app-login__form-container">
                        <label for="username">Email:</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" class="app-login__form-input form-control" placeholder="Enter Email">
                        <img class="app-login__form-icon" alt="login image" src="{{ asset('bundles/admin/dist/images/login.svg')}}">
                    </div>
                    <div class="form-group app-login__form-container">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="_password" class="app-login__form-input form-control" placeholder="Enter Password">
                        <img class="app-login__form-icon" alt="password image" src="{{ asset('bundles/admin/dist/images/password.svg')}}">
                    </div>
                    <!--<div class="checkbox">
                                        <label><input type="checkbox"> Remember me</label>
                                </div>-->
                    <div>
                        <button type="submit" class="app-form-button btn">LOGIN</button>
                    </div>
                </form>
            </div>

            {% if error %}
                <div class="app-login__error app-submit-error">
                    Error: {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            {% for flash_message in app.session.flashBag.get('error') %}
                <div class="app-login__error app-submit-error">
                    {{ flash_message }}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock body %}