<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link href="{{ asset('bundles/user/styles/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ asset('bundles/user/styles/custom.css')}}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <nav class="navbar navbar-inverse not-border-radius header-panel" role="navigation">
        <div class="container">
            <div class="navbar-header">
                {#<img class="logo" src="{{ asset('bundles/user/images/logoSmall@3x.png')}}">#}
                <a class="navbar-brand logo-text" href="#">NDA Safety App Password Reset</a>
            </div>
        </div>
    </nav>

    <div class="container">
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ asset('bundles/user/script/bootstrap.min.js')}}"></script>
</body>
</html>
