{% trans_default_domain 'FOSUserBundle' %}
<div class="form-change-pass center-block">
    {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
        <div class="form-group">
            {{ form_row(form.plainPassword.first, {'attr': {'placeholder': 'New password', 'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_row(form.plainPassword.second, {'attr': {'placeholder': 'Confirm new password', 'class': 'form-control'}, 'label': 'Confirm new password'}) }}
        </div>

        <div>
            <input type="submit" class="btn btn-primary button-color" value="{{ 'resetting.reset.submit'|trans }}" />
        </div>
    {{ form_end(form) }}
</div>