{#
## Variables ##
#}
    {% set clientSearch = [
    'admin_account_search', 'admin_account_create', 'admin_account_update', 'admin_account_get',
    'admin_account_opportunity_get', 'admin_account_reset_notices_get', 'admin_account_workorders_get', 'admin_account_repair_proposal_get',
    'admin_contact_person_create', 'admin_contact_person_get', 'admin_contact_person_update',
    'admin_company_create', 'admin_company_get', 'admin_company_update', 'admin_contact_person_search_company_for_select',
    'admin_account_search_company_for_select', 'admin_company_create_and_linked_to_contact_person',
    'admin_company_create_and_linked_to_account', 'admin_account_search_account_for_select',
    'admin_account_contact_person_manage', 'admin_account_create_and_set_parent',
    'admin_account_search_contact_person_for_select', 'admin_account_contact_person_set_roles',
    'admin_device_create', 'admin_subdevice_create', 'admin_device_update', 'admin_device_view',
    'admin_service_create', 'admin_service_update', 'admin_non_frequency_service', 'admin_create_repair_proposals',
    'admin_contact_person_proposal_list',
    ] %}

    {% set contractorList = ['admin_contractor_list', 'admin_contractor_view', 'admin_contractor_user_view'] %}
    {% set municipalitiesList = ['admin_municipality_list', 'admin_municipality_view',
    'admin_department_channel_for_agent_create', 'admin_department_channel_create'] %}
    {% set agents = ['admin_agent_list', 'admin_agent_view'] %}
    {% set opportunities = ['admin_opportunity_list', 'admin_opportunity_view'] %}
    {% set equipment = ['admin_equipment_list'] %}
    {% set retestNotices = ['admin_proposal_list', 'admin_retest_proposal_view', 'admin_letter_detail'] %}
    {% set settings = ['admin_processing_stats_list', 'admin_bad_request_storage', 'logger_log_list', 'logger_quickbooks_request_list'] %}
    {% set workOrder = ['admin_workorder_list', 'admin_workorder_view', 'admin_workorder_edit_general_info', 'admin_assign_technician_workorder', 'admin_assigning_view_map_workorder'] %}
    {% set proposals = ['admin_proposal_all_proposals', 'admin_repair_proposal_view', 'admin_custom_proposal_view'] %}
    {% set proposals = ['admin_proposal_all_proposals', 'admin_repair_proposal_view', 'admin_custom_proposal_view'] %}
    {% set opportunitiesRepairs = ['admin_opportunity_list_repairs'] %}

{#
## End ##
#}
    <nav class="app-nav">
        <div class="app-nav__group app-nav__group--border-no">
            <div class="app-nav__container {{ app.request.attributes.get('_route') == 'admin_dashboard' ? 'app-nav__container--active' : '' }}">
                <a class="app-nav__icon" href="{{ path('admin_dashboard') }}" data-toggle="tooltip" data-placement="right" title="Dashboard">
                    <svg class="app-nav__icon-img" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                         x="0px" y="0px" width="20px" height="20.666px" viewBox="0 0 20 20.666" enable-background="new 0 0 20 20.666" xml:space="preserve">
                            <path class="app-nav__icon-img--grey" d="M20,11.435h-3.077v9.231h-4.615v-6.154H7.692v6.154H3.077v-9.231H0l10.093-9.908L20,11.435z"
                            />
                        </svg>
                </a>
            </div>
        </div>
        <div class="app-nav__group">
            <div class="app-nav__container {{ app.request.attributes.get('_route') in clientSearch ? 'app-nav__container--active' : '' }}">
                <a class="app-nav__icon" href="{{ path('admin_account_search') }}" data-toggle="tooltip" data-placement="right" title="Clients">
                    <svg class="app-nav__icon-img" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                         x="0px" y="0px" width="19px" height="19px" viewBox="0 0 19 19" enable-background="new 0 0 19 19" xml:space="preserve">
                            <path class="app-nav__icon-img--grey" d="M19,16.736V19H0v-2.264l6.333-4.069v-1.583c-0.391,0-0.752-0.393-1.084-1.18
                                            C4.916,9.118,4.75,8.455,4.75,7.917V4.75c0-1.309,0.464-2.428,1.394-3.357C7.072,0.465,8.191,0,9.5,0
                                            c1.309,0,2.428,0.465,3.356,1.393c0.929,0.929,1.394,2.048,1.394,3.357v3.167c0,0.538-0.166,1.201-0.499,1.987
                                            c-0.332,0.787-0.694,1.18-1.084,1.18v1.583L19,16.736z" />
                        </svg>
                </a>
            </div>
        </div>
        <div class="app-nav__group">
            <div class="app-nav__container {{ app.request.attributes.get('_route') in opportunities ? 'app-nav__container--active' : '' }}">
                <a class="app-nav__icon app-nav__icon--large" href="{{ path('admin_opportunity_list') }}" data-toggle="tooltip" data-placement="right" title="Retest Opportunities">
                    <svg class="app-nav__icon-img" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        width="23.076px" height="18.642px" viewBox="0 0 23.076 18.642" enable-background="new 0 0 23.076 18.642" xml:space="preserve">
                    <g>
                        <g>
                            <path fill="#4F525E" d="M2.028,15.312v3.234H0V9.803h2.844c0.632,0,1.171,0.065,1.617,0.195c0.446,0.13,0.81,0.311,1.092,0.543
                                c0.282,0.232,0.487,0.506,0.615,0.822c0.128,0.316,0.192,0.66,0.192,1.032c0,0.284-0.038,0.552-0.114,0.804
                                c-0.076,0.252-0.189,0.485-0.339,0.699s-0.334,0.405-0.552,0.573c-0.218,0.168-0.469,0.306-0.753,0.414
                                c0.136,0.068,0.263,0.152,0.381,0.252c0.118,0.1,0.221,0.222,0.309,0.366l1.86,3.042H5.316c-0.34,0-0.584-0.128-0.732-0.384
                                l-1.452-2.538c-0.064-0.112-0.139-0.192-0.225-0.24c-0.086-0.048-0.207-0.072-0.363-0.072H2.028z M2.028,13.914h0.816
                                c0.276,0,0.511-0.035,0.705-0.105c0.194-0.07,0.353-0.167,0.477-0.291s0.214-0.269,0.27-0.435
                                c0.056-0.166,0.084-0.345,0.084-0.537c0-0.384-0.125-0.684-0.375-0.9c-0.25-0.216-0.637-0.324-1.161-0.324H2.028V13.914z"/>
                            <path fill="#4F525E" d="M13.968,9.803v1.608h-2.46v7.134H9.48v-7.134H7.02V9.803H13.968z"/>
                            <path fill="#4F525E" d="M23.076,14.171c0,0.632-0.109,1.22-0.327,1.764c-0.218,0.544-0.525,1.017-0.921,1.419
                                s-0.873,0.717-1.431,0.945s-1.177,0.342-1.857,0.342s-1.3-0.114-1.86-0.342s-1.039-0.543-1.437-0.945
                                c-0.398-0.402-0.706-0.875-0.924-1.419c-0.218-0.544-0.327-1.132-0.327-1.764c0-0.632,0.109-1.22,0.327-1.764
                                c0.218-0.544,0.526-1.016,0.924-1.416c0.398-0.4,0.877-0.714,1.437-0.942s1.18-0.342,1.86-0.342s1.299,0.115,1.857,0.345
                                c0.558,0.23,1.035,0.545,1.431,0.945s0.703,0.872,0.921,1.416C22.966,12.958,23.076,13.543,23.076,14.171z M21,14.171
                                c0-0.432-0.056-0.821-0.168-1.167c-0.112-0.346-0.273-0.639-0.483-0.879c-0.21-0.24-0.467-0.424-0.771-0.552
                                c-0.304-0.128-0.65-0.192-1.038-0.192c-0.392,0-0.741,0.064-1.047,0.192c-0.306,0.128-0.564,0.312-0.774,0.552
                                c-0.21,0.24-0.371,0.533-0.483,0.879c-0.112,0.346-0.168,0.735-0.168,1.167c0,0.436,0.056,0.827,0.168,1.173
                                c0.112,0.346,0.273,0.639,0.483,0.879c0.21,0.24,0.468,0.423,0.774,0.549c0.306,0.126,0.655,0.189,1.047,0.189
                                c0.388,0,0.734-0.063,1.038-0.189c0.304-0.126,0.561-0.309,0.771-0.549c0.21-0.24,0.371-0.533,0.483-0.879
                                C20.943,14.999,21,14.607,21,14.171z"/>
                        </g>
                        <g>
                            <path fill="none" d="M1.826,3.091v4.636h13.909V3.091H1.826z M4.916,6.182H3.371V4.636h1.545V6.182z M6.462,6.182V4.636h7.727
                                v1.545H6.462z"/>
                            <polygon fill="#4F525E" points="1.826,3.091 15.735,3.091 15.735,7.727 17.28,7.727 17.28,0 0.28,0 0.28,7.727 1.826,7.727 		"/>
                            <rect x="6.462" y="4.636" fill="#4F525E" width="7.727" height="1.545"/>
                            <rect x="3.371" y="4.636" fill="#4F525E" width="1.545" height="1.545"/>
                        </g>
                    </g>
                    </svg>
                </a>
            </div>

             <div class="app-nav__container {{ app.request.attributes.get('_route') in opportunitiesRepairs ? 'app-nav__container--active' : '' }}">
                <a class="app-nav__icon app-nav__icon--large" href="{{ path('admin_opportunity_list_repairs') }}" data-toggle="tooltip" data-placement="right" title="Repair Opportunities">
                    <svg class="app-nav__icon-img" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        width="24.264px" height="18.642px" viewBox="0 0 24.264 18.642" enable-background="new 0 0 24.264 18.642" xml:space="preserve">
                    <g>
                        <g>
                            <path fill="#4F525E" d="M2.028,15.312v3.234H0V9.803h2.844c0.632,0,1.171,0.065,1.617,0.195c0.446,0.13,0.81,0.311,1.092,0.543
                                c0.282,0.232,0.487,0.506,0.615,0.822c0.128,0.316,0.192,0.66,0.192,1.032c0,0.284-0.038,0.552-0.114,0.804
                                c-0.076,0.252-0.189,0.485-0.339,0.699s-0.334,0.405-0.552,0.573c-0.218,0.168-0.469,0.306-0.753,0.414
                                c0.136,0.068,0.263,0.152,0.381,0.252c0.118,0.1,0.221,0.222,0.309,0.366l1.86,3.042H5.316c-0.34,0-0.584-0.128-0.732-0.384
                                l-1.452-2.538c-0.064-0.112-0.139-0.192-0.225-0.24c-0.086-0.048-0.207-0.072-0.363-0.072H2.028z M2.028,13.914h0.816
                                c0.276,0,0.511-0.035,0.705-0.105c0.194-0.07,0.353-0.167,0.477-0.291s0.214-0.269,0.27-0.435
                                c0.056-0.166,0.084-0.345,0.084-0.537c0-0.384-0.125-0.684-0.375-0.9c-0.25-0.216-0.637-0.324-1.161-0.324H2.028V13.914z"/>
                            <path fill="#4F525E" d="M10.008,15.624v2.922H7.98V9.803h3.084c0.616,0,1.145,0.073,1.587,0.219
                                c0.442,0.146,0.806,0.347,1.092,0.603s0.497,0.558,0.633,0.906c0.136,0.348,0.204,0.724,0.204,1.128c0,0.436-0.07,0.836-0.21,1.2
                                c-0.14,0.364-0.354,0.676-0.642,0.936c-0.288,0.26-0.653,0.463-1.095,0.609s-0.965,0.219-1.569,0.219H10.008z M10.008,14.093
                                h1.056c0.528,0,0.908-0.126,1.14-0.378s0.348-0.604,0.348-1.056c0-0.2-0.03-0.382-0.09-0.546s-0.151-0.305-0.273-0.423
                                c-0.122-0.118-0.276-0.209-0.462-0.273s-0.407-0.096-0.663-0.096h-1.056V14.093z"/>
                            <path fill="#4F525E" d="M24.264,14.171c0,0.632-0.109,1.22-0.327,1.764c-0.218,0.544-0.525,1.017-0.921,1.419
                                s-0.873,0.717-1.431,0.945s-1.177,0.342-1.857,0.342s-1.3-0.114-1.86-0.342s-1.039-0.543-1.437-0.945
                                c-0.398-0.402-0.706-0.875-0.924-1.419c-0.218-0.544-0.327-1.132-0.327-1.764c0-0.632,0.109-1.22,0.327-1.764
                                c0.218-0.544,0.526-1.016,0.924-1.416c0.398-0.4,0.877-0.714,1.437-0.942s1.18-0.342,1.86-0.342s1.299,0.115,1.857,0.345
                                c0.558,0.23,1.035,0.545,1.431,0.945s0.703,0.872,0.921,1.416C24.154,12.958,24.264,13.543,24.264,14.171z M22.188,14.171
                                c0-0.432-0.056-0.821-0.168-1.167c-0.112-0.346-0.273-0.639-0.483-0.879c-0.21-0.24-0.467-0.424-0.771-0.552
                                c-0.304-0.128-0.65-0.192-1.038-0.192c-0.392,0-0.741,0.064-1.047,0.192c-0.306,0.128-0.564,0.312-0.774,0.552
                                c-0.21,0.24-0.371,0.533-0.483,0.879c-0.112,0.346-0.168,0.735-0.168,1.167c0,0.436,0.056,0.827,0.168,1.173
                                c0.112,0.346,0.273,0.639,0.483,0.879c0.21,0.24,0.468,0.423,0.774,0.549c0.306,0.126,0.655,0.189,1.047,0.189
                                c0.388,0,0.734-0.063,1.038-0.189c0.304-0.126,0.561-0.309,0.771-0.549c0.21-0.24,0.371-0.533,0.483-0.879
                                C22.131,14.999,22.188,14.607,22.188,14.171z"/>
                        </g>
                        <g>
                            <path fill="none" d="M1.826,3.091v4.636h13.909V3.091H1.826z M4.916,6.182H3.371V4.636h1.545V6.182z M6.462,6.182V4.636h7.727
                                v1.545H6.462z"/>
                            <polygon fill="#4F525E" points="1.826,3.091 15.735,3.091 15.735,7.727 17.28,7.727 17.28,0 0.28,0 0.28,7.727 1.826,7.727 		"/>
                            <rect x="6.462" y="4.636" fill="#4F525E" width="7.727" height="1.545"/>
                            <rect x="3.371" y="4.636" fill="#4F525E" width="1.545" height="1.545"/>
                        </g>
                    </g>
                    </svg>
                </a>
            </div>
            <div class="app-nav__container {{ app.request.attributes.get('_route') in retestNotices ? 'app-nav__container--active' : '' }}">
                <a class="app-nav__icon" href="{{ path('admin_proposal_list') }}" data-toggle="tooltip" data-placement="right" title="Retest Notices">
                   <svg version="1.1" class="app-nav__icon-img" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        width="17px" height="18.545px" viewBox="0 0 17 18.545" enable-background="new 0 0 17 18.545" xml:space="preserve">
                    <g>
                        <g>
                            <path fill="#4F525E" d="M2.748,15.312v3.234H0.72V9.803h2.844c0.632,0,1.171,0.065,1.617,0.195c0.446,0.13,0.81,0.311,1.092,0.543
                                c0.282,0.232,0.487,0.506,0.615,0.822c0.128,0.316,0.192,0.66,0.192,1.032c0,0.284-0.038,0.552-0.114,0.804
                                c-0.076,0.252-0.189,0.485-0.339,0.699s-0.334,0.405-0.552,0.573c-0.218,0.168-0.469,0.306-0.753,0.414
                                c0.136,0.068,0.263,0.152,0.381,0.252c0.118,0.1,0.221,0.222,0.309,0.366l1.86,3.042H6.036c-0.34,0-0.584-0.128-0.732-0.384
                                l-1.452-2.538c-0.064-0.112-0.139-0.192-0.225-0.24c-0.086-0.048-0.207-0.072-0.363-0.072H2.748z M2.748,13.914h0.816
                                c0.276,0,0.511-0.035,0.705-0.105c0.194-0.07,0.353-0.167,0.477-0.291s0.214-0.269,0.27-0.435C5.072,12.917,5.1,12.737,5.1,12.545
                                c0-0.384-0.125-0.684-0.375-0.9c-0.25-0.216-0.637-0.324-1.161-0.324H2.748V13.914z"/>
                            <path fill="#4F525E" d="M9.99,9.815c0.06,0.008,0.114,0.023,0.162,0.045c0.048,0.022,0.094,0.053,0.138,0.093
                                s0.094,0.094,0.15,0.162l4.152,5.25c-0.016-0.168-0.028-0.331-0.036-0.489c-0.008-0.158-0.012-0.307-0.012-0.447V9.803h1.788
                                v8.742h-1.056c-0.156,0-0.288-0.024-0.396-0.072c-0.108-0.048-0.212-0.136-0.312-0.264l-4.122-5.208
                                c0.012,0.152,0.022,0.301,0.03,0.447c0.008,0.146,0.012,0.283,0.012,0.411v4.686H8.7V9.803h1.068
                                C9.856,9.803,9.93,9.808,9.99,9.815z"/>
                        </g>
                        <g>
                            <path fill="none" d="M1.545,3.091v4.636h13.909V3.091H1.545z M4.636,6.182H3.091V4.636h1.545V6.182z M6.182,6.182V4.636h7.727
                                v1.545H6.182z"/>
                            <polygon fill="#4F525E" points="1.545,3.091 15.455,3.091 15.455,7.727 17,7.727 17,0 0,0 0,7.727 1.545,7.727 		"/>
                            <rect x="6.182" y="4.636" fill="#4F525E" width="7.727" height="1.545"/>
                            <rect x="3.091" y="4.636" fill="#4F525E" width="1.545" height="1.545"/>
                        </g>
                    </g>
                    </svg>
                </a>
            </div>
            <div class="app-nav__container {{ app.request.attributes.get('_route') in proposals ? 'app-nav__container--active' : '' }}">
                <a class="app-nav__icon" href="{{ path('admin_proposal_all_proposals') }}" data-toggle="tooltip" data-placement="right" title="Proposals">
                    <svg class="app-nav__icon-img" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        width="17px" height="18.545px" viewBox="0 0 17 18.545" enable-background="new 0 0 17 18.545" xml:space="preserve">
                    <g>
                        <g>
                            <path fill="#4F525E" d="M2.748,15.624v2.922H0.72V9.803h3.084c0.616,0,1.145,0.073,1.587,0.219
                                c0.442,0.146,0.806,0.347,1.092,0.603s0.497,0.558,0.633,0.906c0.136,0.348,0.204,0.724,0.204,1.128c0,0.436-0.07,0.836-0.21,1.2
                                c-0.14,0.364-0.354,0.676-0.642,0.936c-0.288,0.26-0.653,0.463-1.095,0.609s-0.965,0.219-1.569,0.219H2.748z M2.748,14.093h1.056
                                c0.528,0,0.908-0.126,1.14-0.378s0.348-0.604,0.348-1.056c0-0.2-0.03-0.382-0.09-0.546s-0.151-0.305-0.273-0.423
                                c-0.122-0.118-0.276-0.209-0.462-0.273s-0.407-0.096-0.663-0.096H2.748V14.093z"/>
                            <path fill="#4F525E" d="M10.404,15.624v2.922H8.376V9.803h3.084c0.616,0,1.145,0.073,1.587,0.219
                                c0.442,0.146,0.806,0.347,1.092,0.603s0.497,0.558,0.633,0.906c0.136,0.348,0.204,0.724,0.204,1.128c0,0.436-0.07,0.836-0.21,1.2
                                c-0.14,0.364-0.354,0.676-0.642,0.936c-0.288,0.26-0.653,0.463-1.095,0.609s-0.965,0.219-1.569,0.219H10.404z M10.404,14.093
                                h1.056c0.528,0,0.908-0.126,1.14-0.378s0.348-0.604,0.348-1.056c0-0.2-0.03-0.382-0.09-0.546s-0.151-0.305-0.273-0.423
                                c-0.122-0.118-0.276-0.209-0.462-0.273s-0.407-0.096-0.663-0.096h-1.056V14.093z"/>
                        </g>
                        <g>
                            <path fill="none" d="M1.545,3.091v4.636h13.909V3.091H1.545z M4.636,6.182H3.091V4.636h1.545V6.182z M6.182,6.182V4.636h7.727
                                v1.545H6.182z"/>
                            <polygon fill="#4F525E" points="1.545,3.091 15.455,3.091 15.455,7.727 17,7.727 17,0 0,0 0,7.727 1.545,7.727 		"/>
                            <rect x="6.182" y="4.636" fill="#4F525E" width="7.727" height="1.545"/>
                            <rect x="3.091" y="4.636" fill="#4F525E" width="1.545" height="1.545"/>
                        </g>
                    </g>
                    </svg>
                </a>
            </div>
            <div class="app-nav__container {{ app.request.attributes.get('_route') in workOrder ? 'app-nav__container--active' : '' }}">
                <a class="app-nav__icon app-nav__icon--large" href="{{ path('admin_workorder_list') }}" data-toggle="tooltip" data-placement="right" title="Workorders">
                    <svg version="1.1" class="app-nav__icon-img" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        width="22.2px" height="18.642px" viewBox="0 0 22.2 18.642" enable-background="new 0 0 22.2 18.642" xml:space="preserve">
                    <g>
                        <g>
                            <path fill="#4F525E" d="M0.06,9.803h1.704c0.176,0,0.323,0.04,0.441,0.12c0.118,0.08,0.195,0.186,0.231,0.318l1.2,4.56
                                c0.04,0.148,0.08,0.306,0.12,0.474s0.07,0.344,0.09,0.528c0.04-0.188,0.084-0.365,0.132-0.531s0.094-0.323,0.138-0.471l1.416-4.56
                                c0.036-0.112,0.113-0.213,0.231-0.303c0.118-0.09,0.261-0.135,0.429-0.135h0.6c0.176,0,0.321,0.039,0.435,0.117
                                c0.114,0.078,0.193,0.185,0.237,0.321l1.404,4.56c0.044,0.14,0.09,0.289,0.138,0.447c0.048,0.158,0.09,0.327,0.126,0.507
                                c0.032-0.176,0.065-0.344,0.099-0.504s0.069-0.31,0.105-0.45l1.2-4.56c0.032-0.116,0.108-0.218,0.228-0.306
                                c0.12-0.088,0.264-0.132,0.432-0.132h1.596l-2.7,8.742H8.256l-1.644-5.418c-0.028-0.084-0.057-0.176-0.087-0.276
                                c-0.03-0.1-0.059-0.206-0.087-0.318c-0.028,0.112-0.057,0.218-0.087,0.318c-0.03,0.1-0.059,0.192-0.087,0.276l-1.668,5.418H2.76
                                L0.06,9.803z"/>
                            <path fill="#4F525E" d="M22.2,14.171c0,0.632-0.109,1.22-0.327,1.764c-0.218,0.544-0.525,1.017-0.921,1.419
                                s-0.873,0.717-1.431,0.945s-1.177,0.342-1.857,0.342s-1.3-0.114-1.86-0.342s-1.039-0.543-1.437-0.945
                                c-0.398-0.402-0.706-0.875-0.924-1.419c-0.218-0.544-0.327-1.132-0.327-1.764c0-0.632,0.109-1.22,0.327-1.764
                                c0.218-0.544,0.526-1.016,0.924-1.416c0.398-0.4,0.877-0.714,1.437-0.942s1.18-0.342,1.86-0.342s1.299,0.115,1.857,0.345
                                c0.558,0.23,1.035,0.545,1.431,0.945s0.703,0.872,0.921,1.416C22.091,12.958,22.2,13.543,22.2,14.171z M20.124,14.171
                                c0-0.432-0.056-0.821-0.168-1.167c-0.112-0.346-0.273-0.639-0.483-0.879c-0.21-0.24-0.467-0.424-0.771-0.552
                                c-0.304-0.128-0.65-0.192-1.038-0.192c-0.392,0-0.741,0.064-1.047,0.192c-0.306,0.128-0.564,0.312-0.774,0.552
                                c-0.21,0.24-0.371,0.533-0.483,0.879c-0.112,0.346-0.168,0.735-0.168,1.167c0,0.436,0.056,0.827,0.168,1.173
                                c0.112,0.346,0.273,0.639,0.483,0.879c0.21,0.24,0.468,0.423,0.774,0.549c0.306,0.126,0.655,0.189,1.047,0.189
                                c0.388,0,0.734-0.063,1.038-0.189c0.304-0.126,0.561-0.309,0.771-0.549c0.21-0.24,0.371-0.533,0.483-0.879
                                C20.068,14.999,20.124,14.607,20.124,14.171z"/>
                        </g>
                        <g>
                            <path fill="none" d="M1.545,3.091v4.636h13.909V3.091H1.545z M4.636,6.182H3.091V4.636h1.545V6.182z M6.182,6.182V4.636h7.727
                                v1.545H6.182z"/>
                            <polygon fill="#4F525E" points="1.545,3.091 15.455,3.091 15.455,7.727 17,7.727 17,0 0,0 0,7.727 1.545,7.727 		"/>
                            <rect x="6.182" y="4.636" fill="#4F525E" width="7.727" height="1.545"/>
                            <rect x="3.091" y="4.636" fill="#4F525E" width="1.545" height="1.545"/>
                        </g>
                    </g>
                    </svg>
                </a>
            </div>
        </div>
        <div class="app-nav__group">
            <div class="app-nav__container {{ app.request.attributes.get('_route') in municipalitiesList ? 'app-nav__container--active' : '' }}">
                <a class="app-nav__icon" href="{{ path('admin_municipality_list') }}" data-toggle="tooltip" data-placement="right" title="Municipalities">
                    <svg class="app-nav__icon-img" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                         x="0px" y="0px" width="17px" height="17px" viewBox="0 0 17 17" enable-background="new 0 0 17 17" xml:space="preserve">
                            <path class="app-nav__icon-img--grey" d="M17,15.455V17H0v-1.545H17z M1.159,13.909h14.682l-1.932-2.318V7.727l1.545-1.545V0h-1.545
                                        v3.091h-1.545V0H9.273v3.091H7.727V0H4.636v3.091H3.091V0H1.545v6.182l1.545,1.545v3.864L1.159,13.909z" />
                        </svg>
                </a>
            </div>
            <div class="app-nav__container {{ app.request.attributes.get('_route') in contractorList ? 'app-nav__container--active' : '' }}">
                <a class="app-nav__icon" href="{{ path('admin_contractor_list') }}" data-toggle="tooltip" data-placement="right" title="Contractors">
                    <svg class="app-nav__icon-img" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                         x="0px" y="0px" width="19px" height="17.417px" viewBox="0 0 19 17.417" enable-background="new 0 0 19 17.417" xml:space="preserve">
                            <path class="app-nav__icon-img--grey" d="M12.667,3.167h4.75c0.433,0,0.805,0.156,1.116,0.467C18.844,3.945,19,4.317,19,4.75v6.333
                                            h-7.917V9.5H7.917v1.583H0V4.75c0-0.433,0.156-0.805,0.467-1.116C0.778,3.322,1.15,3.167,1.583,3.167h4.75V1.583
                                            c0-0.433,0.156-0.805,0.467-1.116C7.112,0.156,7.484,0,7.917,0h3.167c0.433,0,0.805,0.156,1.116,0.467
                                            c0.311,0.311,0.467,0.683,0.467,1.116V3.167z M19,12.667v3.167c0,0.433-0.156,0.805-0.467,1.116
                                            c-0.311,0.311-0.683,0.467-1.116,0.467H1.583c-0.433,0-0.805-0.156-1.116-0.467C0.156,16.638,0,16.266,0,15.833v-3.167H19z
                                            M7.917,3.167h3.167V1.583H7.917V3.167z" />
                        </svg>
                </a>
            </div>
            {#Agent icon#}
            <div class="app-nav__container {{ app.request.attributes.get('_route') in agents ? 'app-nav__container--active' : '' }}">
                <a class="app-nav__icon "
                   href="{{ path('admin_agent_list') }}" style="width: 22px;" data-toggle="tooltip" data-placement="right" title="Agents">
                    <svg class="app-nav__icon-img" version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        width="21px" height="17.227px" viewBox="0 0 21 17.227" enable-background="new 0 0 21 17.227" xml:space="preserve">
                    <g>
                        <g>
                            <path fill="#4F525E" d="M4.126,14.317l0.185-0.073c0.054-0.021,0.121-0.057,0.193-0.096c0.037-0.02,0.075-0.04,0.112-0.059
                                l0.506-0.26c0.539-0.277,1.079-0.555,1.615-0.839c0.433-0.229,0.713-0.534,0.855-0.931c0.026-0.074,0.045-0.158,0.057-0.258
                                c-0.186-0.348-0.3-0.699-0.409-1.039c-0.033-0.104-0.067-0.207-0.103-0.31c-0.055-0.159-0.107-0.319-0.159-0.479
                                C6.644,9.651,6.418,9.248,6.305,8.774C6.17,8.21,6.202,7.669,6.403,7.155c0.007-0.019,0.016-0.042,0.027-0.068
                                C6.309,6.568,6.244,6.119,6.226,5.686c-0.014-0.34,0.05-0.695,0.194-1.085c0.467-1.256,1.4-2.089,2.698-2.432
                                c-0.45-1.155-1.463-2.021-2.872-2.148C5.803-0.019,5.36-0.003,4.922,0.089C3.756,0.335,2.943,0.998,2.526,2.123
                                C2.43,2.381,2.365,2.647,2.376,2.924c0.019,0.478,0.106,0.947,0.221,1.411c0.022,0.088,0.032,0.163-0.034,0.238
                                c-0.03,0.035-0.047,0.083-0.065,0.128c-0.15,0.384-0.158,0.776-0.063,1.173C2.52,6.228,2.693,6.533,2.97,6.775
                                C3.012,6.811,3.04,6.85,3.056,6.901c0.063,0.194,0.126,0.387,0.192,0.58C3.406,7.936,3.522,8.406,3.77,8.825
                                c0.032,0.054,0.043,0.109,0.039,0.172C3.797,9.194,3.768,9.388,3.701,9.574c-0.218,0.608-0.642,1.034-1.201,1.33
                                c-0.706,0.374-1.418,0.736-2.127,1.102C0.249,12.07,0.13,12.141,0,12.192c0.133,0.149,0.291,0.271,0.445,0.396
                                c0.598,0.485,1.251,0.881,1.956,1.19c0.423,0.185,0.857,0.336,1.306,0.447C3.845,14.259,3.986,14.289,4.126,14.317z"/>
                            <path fill="#4F525E" d="M17.7,12.372l0.617,1.822c0.053,0.153,0.147,0.279,0.284,0.377c0.136,0.098,0.31,0.147,0.52,0.147H21
                                L16.954,4.266h-2.482l-4.046,10.451h1.894c0.201,0,0.371-0.054,0.509-0.161c0.139-0.108,0.232-0.228,0.28-0.362l0.617-1.822
                                L17.7,12.372L17.7,12.372z M15.247,7.875c0.072-0.182,0.148-0.397,0.229-0.646c0.081-0.249,0.16-0.519,0.237-0.81
                                c0.081,0.287,0.164,0.553,0.247,0.8c0.083,0.246,0.156,0.46,0.219,0.642l0.961,2.862h-2.855L15.247,7.875z"/>
                            <g>
                                <path fill="#4F525E" d="M12.32,14.718c0.201,0,0.371-0.054,0.509-0.161c0.139-0.108,0.232-0.228,0.28-0.362l0.273-0.806
                                    c-0.071-0.056-0.141-0.114-0.207-0.178c-0.34-0.326-0.596-0.7-0.702-1.166c-0.051-0.223-0.078-0.444,0.077-0.644
                                    c0.026-0.034,0.042-0.075,0.061-0.114c0.051-0.105,0.117-0.204,0.153-0.317c0.144-0.462,0.289-0.924,0.431-1.386
                                    c0.01-0.032,0.025-0.054,0.051-0.075c0.158-0.122,0.281-0.275,0.378-0.448c0.219-0.392,0.276-0.813,0.217-1.253
                                    c-0.027-0.207-0.084-0.404-0.21-0.575c-0.02-0.028-0.015-0.053-0.008-0.081c0.097-0.391,0.173-0.786,0.219-1.187
                                    c0.003-0.029,0.004-0.058,0.006-0.087l-3.423,8.841H12.32z"/>
                                <path fill="#4F525E" d="M13.864,14.465c-0.1,0.279-0.283,0.523-0.544,0.726c-0.278,0.215-0.624,0.329-1,0.329h-1.894H9.256
                                    l0.423-1.092l3.839-9.918c-0.512-0.955-1.448-1.646-2.693-1.758c-0.15-0.014-0.3-0.02-0.449-0.02
                                    c-0.294,0-0.586,0.028-0.876,0.089C8.335,3.067,7.523,3.729,7.105,4.855c-0.096,0.257-0.161,0.525-0.15,0.801
                                    c0.019,0.478,0.106,0.947,0.221,1.411c0.022,0.088,0.032,0.163-0.034,0.238c-0.03,0.035-0.047,0.083-0.065,0.128
                                    C6.928,7.816,6.92,8.208,7.015,8.605c0.085,0.355,0.258,0.66,0.534,0.901c0.042,0.036,0.07,0.076,0.086,0.127
                                    c0.063,0.194,0.126,0.387,0.192,0.58c0.158,0.454,0.274,0.924,0.522,1.344c0.032,0.054,0.043,0.109,0.039,0.172
                                    c-0.012,0.197-0.041,0.391-0.108,0.577c-0.218,0.608-0.642,1.033-1.201,1.329c-0.706,0.374-1.418,0.736-2.127,1.102
                                    c-0.123,0.063-0.243,0.135-0.372,0.186c0.133,0.149,0.291,0.271,0.445,0.396c0.598,0.485,1.251,0.881,1.956,1.19
                                    c0.423,0.185,0.857,0.336,1.306,0.447c0.332,0.082,0.666,0.146,1.006,0.192c0.328,0.045,0.657,0.067,0.987,0.077
                                    c0.053,0.002,0.106,0.002,0.159,0.002c0.304,0,0.607-0.024,0.909-0.056c0.262-0.028,0.523-0.067,0.78-0.12
                                    c0.376-0.078,0.746-0.179,1.11-0.306c0.826-0.288,1.587-0.697,2.289-1.216c0.253-0.187,0.494-0.387,0.72-0.606
                                    c-0.72-0.37-1.439-0.741-2.161-1.108L13.864,14.465z"/>
                            </g>
                            <g>
                                <path fill="#4F525E" d="M19.775,11.553c-0.318-0.163-0.636-0.328-0.955-0.49c-0.314-0.159-0.612-0.34-0.868-0.585
                                    c-0.34-0.326-0.596-0.7-0.702-1.166c-0.051-0.223-0.078-0.444,0.077-0.644c0.026-0.034,0.042-0.075,0.061-0.114
                                    c0.051-0.105,0.117-0.204,0.153-0.317c0.142-0.454,0.283-0.907,0.423-1.361l-1.01-2.609h-2.482l-0.118,0.306
                                    c0.041,0.101,0.085,0.201,0.119,0.307c0.113,0.353,0.145,0.734,0.096,1.166c-0.038,0.339-0.097,0.681-0.178,1.039
                                    c0.087,0.185,0.145,0.392,0.176,0.626c0.083,0.622-0.02,1.196-0.304,1.705c-0.115,0.206-0.255,0.387-0.418,0.541
                                    c-0.127,0.41-0.255,0.82-0.383,1.231c-0.045,0.144-0.108,0.259-0.154,0.344c-0.013,0.024-0.026,0.048-0.045,0.086
                                    c-0.018,0.038-0.047,0.103-0.095,0.175c0.003,0.02,0.008,0.049,0.018,0.092c0.06,0.267,0.207,0.508,0.451,0.753l0.089-0.264
                                    h3.974l0.527,1.558c0.729-0.277,1.408-0.646,2.039-1.107L19.775,11.553z M14.286,10.722l0.961-2.848
                                    c0.072-0.182,0.148-0.397,0.229-0.646s0.16-0.519,0.237-0.81c0.081,0.287,0.164,0.553,0.247,0.8
                                    c0.083,0.246,0.156,0.46,0.219,0.642l0.961,2.862H14.286z"/>
                                <polygon fill="#4F525E" points="15.403,9.92 16.025,9.92 15.715,8.996 			"/>
                                <path fill="#4F525E" d="M13.846,3.663l0.077-0.199h0.549h2.482h0.549l0.198,0.512l0.812,2.098c0.12-0.319,0.15-0.654,0.104-1.001
                                    c-0.027-0.207-0.084-0.404-0.21-0.575c-0.02-0.028-0.015-0.053-0.008-0.082c0.097-0.391,0.173-0.786,0.219-1.187
                                    c0.033-0.292,0.025-0.578-0.065-0.861c-0.404-1.258-1.461-2.216-2.952-2.35c-0.444-0.04-0.887-0.024-1.325,0.068
                                    c-1.165,0.246-1.978,0.909-2.396,2.034c-0.012,0.033-0.021,0.067-0.032,0.099C12.657,2.488,13.346,2.99,13.846,3.663z"/>
                                <path fill="#4F525E" d="M17.125,13.174h-2.691c0.504,0.256,1.008,0.514,1.511,0.774l0.634,0.326l0.15,0.077
                                    c0.058-0.01,0.116-0.019,0.173-0.031c0.19-0.039,0.378-0.085,0.564-0.136L17.125,13.174z"/>
                            </g>
                        </g>
                    </g>
                    </svg>
                </a>
            </div>
            {#End Agent icon#}
            <div class="app-nav__container {{ app.request.attributes.get('_route') in equipment ? 'app-nav__container--active' : '' }}">
                <a class="app-nav__icon app-nav__icon--middle" href="{{ path("admin_equipment_list") }}" data-toggle="tooltip" data-placement="right" title="Backflow Gauges">
                    <svg class="app-nav__icon-img" version="1.1" id="Ruler" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="288.573 411.883 18.142 18.142" enable-background="new 288.573 411.883 18.142 18.142" xml:space="preserve">
                        <path class="app-nav__icon-img--grey" opacity="0.3" fill="#AFB4CD" d="M301.498,412.281L288.97,424.81c-0.53,0.53-0.53,1.395,0.002,1.927l2.889,2.891
                            c0.53,0.53,1.398,0.531,1.927,0.002l12.53-12.529c0.53-0.531,0.53-1.398,0-1.927l-2.89-2.892
                            C302.895,411.75,302.029,411.752,301.498,412.281z M292.137,425.772l-0.688,0.688l-1.72-1.721l0.688-0.688L292.137,425.772z
                            M294.891,425.772l-0.689,0.688l-3.098-3.097l0.688-0.689L294.891,425.772z M294.891,423.018l-0.689,0.688l-1.722-1.72l0.689-0.689
                            L294.891,423.018z M296.268,421.642l-0.688,0.688l-1.72-1.72l0.688-0.689L296.268,421.642z M299.021,421.642l-0.688,0.688
                            l-3.097-3.097l0.688-0.688L299.021,421.642z M299.021,418.889l-0.688,0.688l-1.72-1.72l0.689-0.688L299.021,418.889z
                            M300.398,417.513l-0.688,0.688l-1.721-1.721l0.689-0.688L300.398,417.513z M303.152,417.513l-0.689,0.688l-3.097-3.097l0.689-0.689
                            L303.152,417.513z M303.151,414.76l-0.689,0.688l-1.72-1.722l0.688-0.688L303.151,414.76z"/>
                    </svg>

                </a>
            </div>
            <div class="app-nav__container {{ app.request.attributes.get('_route') in settings ? 'app-nav__container--active' : '' }}">
                <a class="app-nav__icon" href="{{ path('admin_processing_stats_list') }}" data-toggle="tooltip" data-placement="right" title="Midnight Check Logs">
                    <svg class="app-nav__icon-img" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                         x="0px" y="0px" width="18px" height="17.984px" viewBox="0 0 18 17.984" enable-background="new 0 0 18 17.984" xml:space="preserve">
                            <path class="app-nav__icon-img--grey" d="M7.166,15.507c-0.512-0.136-1.003-0.34-1.474-0.612l-0.079-0.047l-2.085,1.27
                                            c-0.627-0.481-1.176-1.029-1.646-1.646l1.254-2.101l-0.047-0.079c-0.251-0.46-0.449-0.946-0.596-1.458L2.462,10.74l-2.368-0.596
                                            C0.032,9.716,0,9.329,0,8.984c0-0.261,0.032-0.643,0.094-1.145l2.368-0.596L2.493,7.15c0.136-0.481,0.334-0.967,0.596-1.458
                                            l0.047-0.078L1.882,3.512c0.481-0.606,1.029-1.155,1.646-1.646l2.085,1.27l0.079-0.047c0.46-0.261,0.951-0.465,1.474-0.611
                                            l0.079-0.016l0.595-2.383C8.331,0.026,8.718,0,9,0c0.355,0,0.742,0.026,1.161,0.079l0.595,2.383l0.094,0.016
                                            c0.502,0.146,0.988,0.35,1.458,0.611l0.079,0.047l2.101-1.27c0.627,0.491,1.171,1.04,1.631,1.646l-1.254,2.101l0.047,0.078
                                            c0.24,0.439,0.444,0.925,0.611,1.458l0.015,0.094l2.383,0.596C17.973,8.31,18,8.691,18,8.984c0,0.355-0.027,0.742-0.079,1.16
                                            l-2.383,0.596l-0.015,0.094c-0.157,0.512-0.361,0.998-0.611,1.458l-0.047,0.079l1.254,2.101c-0.502,0.637-1.046,1.186-1.631,1.646
                                            l-2.101-1.27l-0.079,0.047c-0.491,0.272-0.978,0.476-1.458,0.612l-0.094,0.031l-0.595,2.368C9.669,17.958,9.282,17.984,9,17.984
                                            c-0.355,0-0.742-0.026-1.161-0.078l-0.595-2.368L7.166,15.507z M5.629,8.984c0,0.93,0.329,1.725,0.988,2.383
                                            C7.275,12.026,8.07,12.355,9,12.355c0.93,0,1.725-0.329,2.383-0.988c0.658-0.658,0.988-1.453,0.988-2.383
                                            c0-0.92-0.329-1.709-0.988-2.368C10.725,5.958,9.93,5.629,9,5.629c-0.93,0-1.725,0.329-2.383,0.988
                                            C5.958,7.275,5.629,8.064,5.629,8.984z" />
                        </svg>
                </a>
            </div>
        </div>
    </nav>