{% for item in deviceCollection %}

    <tr class="table-row-border-top table-row-border-top-first-without">
        <td class="max-width-custom page-break-inside wo-device-row">
            <div class="relative">
                {% if item.level == 1 %}
                    <div class="message-table-icon-device message-table-container-device message-table-td-left message-table-position-content message-table-icon-subdevice">
                        <img src="{{ asset('bundles/admin/images/pdf/circle-orange.svg', assetsPackage)}}" alt="">
                    </div>
                {% elseif item.level == 2 %}
                    <div class="message-table-icon-device message-table-container-device message-table-td-left message-table-position-content message-table-icon-subdevice">
                        <img src="{{ asset('bundles/admin/images/pdf/circle-orange.svg', assetsPackage)}}" alt="">
                    </div>
                    <div class="message-table-icon-device message-table-container-device message-table-td-left message-table-position-content message-table-icon-subdevice">
                        <img src="{{ asset('bundles/admin/images/pdf/circle-orange.svg', assetsPackage)}}" alt="">
                    </div>
                {% endif %}

                <div class="message-table-icon-device message-table-container-device message-table-td-left message-table-position-content">
                    <img src="{{ asset('bundles/admin/images/pdf/' ~ item.device.named.category.alias ~ '-colored.svg', assetsPackage)}}" alt="">
                </div>
                <span class="message-table-name-device message-table-position-content proposal-fire-table-device-title">
                    <span class="message-table-name-device-colored-{{ item.device.named.category.alias }}">Device:</span>
                </span>
                <span class="">{{ item.device.title }} {{ item.device | deviceInfoWW | raw ? ' - '~ item.device | deviceInfoWW | raw : ''}}</span>
            </div>
        </td>
    </tr>
    <!--inspections-->
    {% if item.isInspections %}
        <tr class="display-block">
            <td class="max-width-custom">
                <table class="proposal-services-table wo-services-table max-width">
                    <thead class="color-gray">
                    <tr class="table-row-border-top proposal-fire-table-subdevice-row--first page-break-inside">
                        <th>Inspections</th>
                        <th class="included-services-table-short-cel-comment">Comments</th>
                        <th class="included-services-table-short-cel-date">Inspection Due</th>
                        <th class="included-services-table-middle-cel">Result</th>
                        <th class="included-services-table-short-cel">Report ID</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for service in item.services if service.named.frequency %}
                        <tr class="table-row-border-top">
                            <td class="pdf-cell-padding-right">{{ service.named.name }}</td>
                            <td class="deficiency">{{ service.comment ?? '-' }}</td>
                            <td>{{ service.inspectionDue ? service.inspectionDue | date('m/d/Y') : '-' }}</td>
                            <td class="result">
                                {% if service.lastReport %}
                                    <span class="app-report-status--{{ service.lastReport.status.alias | lower }}">
                                {% if service.lastReport.status.alias == 'not_testable' %}
                                    N/T
                                {% else %}
                                    {{ service.lastReport.status.name | upper }}
                                {% endif %}
                            </span>
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td class="">{{ service.lastReport.id ?? '-' }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </td>
        </tr>
    {% endif %}
    <!--repairs-->
    {% if item.isRepairs %}
        <tr class="">
            <td class="max-width-custom">
                <table class="proposal-services-table wo-services-table max-width">
                    <thead class="color-gray">
                    <tr class="table-row-border-top page-break-inside proposal-fire-table-subdevice-row {% if item.isInspections %}proposal-fire-table-subdevice-row--first{% endif %}">
                        <th class="included-services-table-short-cel-comment">Deficiency</th>
                        <th>Repairs</th>
                        <th class="included-services-table-short-cel-date">Deficiency found on</th>
                        <th class="included-services-table-middle-cel">Result</th>
                        <th class="included-services-table-short-cel">Report ID</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for service in item.services if not service.named.frequency %}
                        <tr class="table-row-border-top {% if item.isRepairs %} table-row-border-bottom-last {% endif %} page-break-inside page-break-inside">
                            <td class="deficiency">
                                {% if not service.named.deficiency and service.comment %}
                                    <p class="color-gray">{{ service.comment | ucfirst }}</p>
                                {% elseif service.named.deficiency and service.comment %}
                                    {{ service.named.deficiency }}.
                                    <p class="color-gray" style="word-break: break-word; padding-right: 5px;">{{ service.comment | ucfirst }}</p>
                                {% else %}
                                    {{ service.named.deficiency ? service.named.deficiency : '-' }}
                                {% endif %}
                            </td>
                            <td>{{ service.named.name ?? 'No name' }}</td>
                            <td>{{  service.inspectionDue is defined and service.inspectionDue is not null ? service.inspectionDue | date('m/d/Y') : '-' }}</td>
                            <td class="result">
                                {% if service.lastReport %}
                                    <span class="app-report-status--{{ service.lastReport.status.alias | lower }}">
                                {% if service.lastReport.status.alias == 'not_testable' %}
                                    N/T
                                {% else %}
                                    {{ service.lastReport.status.name | upper }}
                                {% endif %}
                            </span>
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td class="">{{ service.lastReport.id ?? '-' }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </td>
        </tr>
        <tr class="display-block page-break-inside default-border-bottom">
            <td class="max-width-custom">
                <table class="max-width">
                    <tr class="display-block">
                        <td class="proposal-repairs-services-table-container-width">
                            {% if item.isRepairs %}
                                <table class="proposal-repairs-services-table">
                                    <tbody>
                                    <tr class="">
                                        <td class="color-gray proposal-repair-wide-row">Repair Comments:</td>
                                        <td>{{ item.deviceRepairInfo.repairComments ? item.deviceRepairInfo.repairComments | raw : '-' }}</td>
                                    </tr>
                                    <tr class="">
                                        <td class="color-gray proposal-repair-wide-row">Special Repair Notifications:</td>
                                        <td>{{ item.deviceRepairInfo.repairSpecialNotification ? item.deviceRepairInfo.repairSpecialNotification.name : '-' }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            {% endif %}
                            {% if not item.device.photo and not loop.last %}
                                <br>
                            {% endif %}
                        </td>
                        <td class="" align="right" style="width: 250px; height: 170px; vertical-align: top !important;">
                            {% if item.device.photo %}
                                <div style="background: url('{{ asset(item.device.photo | fix_path, assetsPackage)}}') no-repeat center right; background-size: contain; width: 250px; height: 160px;margin-top: 5px;"></div>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    {% endif %}

    {% include '@Admin/Workorder/pdf/devicesAndServices.html.twig' with {'deviceCollection': item.subDevices} %}
{% endfor %}