{% extends 'AdminBundle:Workorder/pdf:footer.html.twig' %}

{% block list_devices_type %}
    <div class="footer-item-device footer-item-device-plumbing">
        <img src="{{ asset('bundles/admin/images/pdf/plumbing.png', assetsPackage)}}" alt="">
    </div>
    <div class="footer-item-device">
        <img src="{{ asset('bundles/admin/images/pdf/fire-prevention.png', assetsPackage)}}" alt="">
    </div>
    <div class="footer-item-device">
        <img src="{{ asset('bundles/admin/images/pdf/backflow-prevention.png', assetsPackage)}}" alt="">
    </div>
    <div class="footer-item-device footer-item-device-suppression">
        <img src="{{ asset('bundles/admin/images/pdf/fire-suppression.png', assetsPackage)}}" alt="">
    </div>
{% endblock %}