<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="{{ asset('bundles/admin/styles/email-styles/reset.css', assetsPackage)}}">
    <link rel="stylesheet" href="{{ asset('bundles/admin/styles/email-styles/main-pdf.css', assetsPackage)}}">
    <link rel="stylesheet" href="{{ asset('bundles/admin/styles/email-styles/footer.css', assetsPackage)}}">
</head>
<body>
<div class="footer">
    <div class="footer-container footer-container-border-right">
        <div class="footer-logo">
            <img src="{{ asset('bundles/admin/images/pdf/footer-logo.jpg', assetsPackage)}}" alt="">
        </div>
        <div class="footer-description">We like low prices! If you find a better deal we will beat it by 5%. Feel confident you are getting the best price and best service available with our "Don't Get Burned" policy (DGB). Please call for details.</div>
    </div>
    <div class="footer-container">
        <p class="footer-title">Check out our other services!  Please call for details.</p>
        <div class="footer-list-devices">
            {% block list_devices_type %}
                <div class="footer-item-device footer-item-device-plumbing">
                    <img src="{{ asset('bundles/admin/images/pdf/plumbing.png', assetsPackage)}}" alt="">
                </div>
                <div class="footer-item-device">
                    <img src="{{ asset('bundles/admin/images/pdf/fire-prevention.png', assetsPackage)}}" alt="">
                </div>
                <div class="footer-item-device">
                    <img src="{{ asset('bundles/admin/images/pdf/fire-alarms.png', assetsPackage)}}" alt="">
                </div>
                <div class="footer-item-device footer-item-device-suppression">
                    <img src="{{ asset('bundles/admin/images/pdf/fire-suppression.png', assetsPackage)}}" alt="">
                </div>
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>