<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="{{ asset('bundles/admin/styles/email-styles/reset.css', assetsPackage)}}">
    <link rel="stylesheet" href="{{ asset('bundles/admin/styles/email-styles/main-pdf.css', assetsPackage)}}">
    <link rel="stylesheet" href="{{ asset('bundles/admin/styles/email-styles/header.css', assetsPackage)}}">
</head>
<body>
    <div class="wo-header">
        <table class="max-width color-gray">
            <tbody>
            <tr>
                <td class="wo-header-row vertical-align-middle">
                    <table>
                        <tbody>
                        <tr>
                            <td class="vertical-align-middle">
                                <img src="{{ asset('bundles/admin/images/pdf/logo.png', assetsPackage)}}" class="wo-header-logo-letters" alt="">
                            </td>
                            <td class="wo-header-title vertical-align-middle">AMERICAN BACKFLOW <br />& <span class="logo-text-spacing">FIRE PREVENTION</span></td>
                        </tr>
                        </tbody>
                    </table>
                </td>
                <td class="wo-header-row-phones vertical-align-middle">
                    <table class="max-width font-bold">
                        <tbody>
                        <tr>
                            <td class="text-center">Tel.: (847) 540-9910</td>
                        </tr>
                        <tr>
                            <td class="text-center">Fax: (847) 540-9954</td>
                        </tr>
                        </tbody>
                    </table>
                </td>
                <td class="wo-header-row-address font-bold vertical-align-middle">
                    <table class="max-width wo-header-links">
                        <tbody>
                        <tr>
                            <td class="text-left">
                                <a href="www.americanbackflowprevention.com">www.americanbackflowprevention.com</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                <a href="mailto:info@americanbackflowprevention.com">mail@americanbackflowprevention.com</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                <a href="#" class="wo-header-cell-address">1540 N. Old Rand Rd, Wauconda, IL 60084</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>