<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('bundles/admin/styles/email-styles/reset.css', assetsPackage)}}">
    <link rel="stylesheet" href="{{ asset('bundles/admin/styles/email-styles/main-pdf.css', assetsPackage)}}">
</head>
<body>
<div class="repair-wrapper">
    <div class="container">
        <div class="wo-title">{{ parameters.division.name }} Workorder #{{ parameters.id }}</div>
    </div>
    <div class="container">
        <table class="wo-details-table max-width">
            <thead class="color-gray font-bold">
            <tr>
                <td>Workorder Details:</td>
                <td>Account {{ parameters.division.name }} Authorizer:</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="wo-details-table-right-row">
                    <table class="max-width wo-details-table-inside">
                        <tbody>
                        <tr>
                            <td class="color-gray wo-details-table-inside-title-row">Date Created:</td>
                            <td class="font-bold">{{ parameters.dateCreate | date('m/d/Y') }}</td>
                        </tr>
                        <tr>
                            <td class="color-gray">Created by:</td>
                            {% if parameters.createdBy %}
                                <td class="font-bold">{{ parameters.createdBy.firstName ~ ' ' ~ parameters.createdBy.lastName }}</td>
                            {% else %}
                                <td class="font-bold">-</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td class="color-gray">Scheduled Date(s):</td>
                            <td class="font-bold">
                                {% if (parameters.scheduledFrom and parameters.scheduledTo) and (parameters.scheduledFrom | date('m/d/Y') < parameters.scheduledTo | date('m/d/Y')) %}
                                    {{ parameters.ScheduledFrom | date('m/d/Y') ~' - '~parameters.scheduledTo | date('m/d/Y') }}
                                {% elseif (parameters.scheduledFrom and parameters.scheduledTo) %}
                                    {{ parameters.ScheduledFrom | date('m/d/Y') }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="color-gray">Assigned Technicians:</td>
                            {# groupingServices is alias for Event entity #}
                            {% set users = '-' %}

                            {% for oneDateoneDate in groupingServices %}
                                {% for event in oneDateoneDate %}
                                    {% if users != '-' %}
                                        {% set users = users~', '~event.userFName~' '~event.userLName %}
                                    {% else %}
                                        {% set users = event.userFName~' '~event.userLName %}
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}

                            <td class="font-bold">{{ users }}</td>
                        </tr>
                        <tr>
                            <td class="color-gray">Account:</td>
                            {% if parameters.account.type.alias == 'group account' %}
                                <td class="font-bold">Group Account #{{ parameters.account.id }}</td>
                            {% elseif parameters.account.type.alias == 'account' %}
                                <td class="font-bold">Site Account #{{ parameters.account.id }}</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td class="color-gray">Account Name:</td>
                            <td class="font-bold">{{ parameters.account.name }}</td>
                        </tr>
                        <tr>
                            <td class="color-gray">Address:</td>
                            <td class="font-bold">{{ parameters.account.address ? parameters.account.address | address : '-' }}</td>
                        </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table class="max-width wo-details-table-inside">
                        <tbody>
                        <tr>
                            <td class="color-gray">Name:</td>
                            {% if accountAuthorizer %}
                                <td class="font-bold">{{ accountAuthorizer.contactPerson.firstName ~ ' ' ~ accountAuthorizer.contactPerson.lastName }}</td>
                            {% else %}
                                <td class="font-bold">-</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td class="color-gray">Title and Company:</td>
                            {% if accountAuthorizer and accountAuthorizer.contactPerson.company or accountAuthorizer.contactPerson.title %}
                                <td class="font-bold">{{ accountAuthorizer.contactPerson.company ? accountAuthorizer.contactPerson.company.name : '' }} {{ accountAuthorizer.contactPerson.title ?? '' }}</td>
                            {% else %}
                                <td class="font-bold">-</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td class="color-gray">Phone:</td>
                            <td class="font-bold"> {{ (accountAuthorizer.contactPerson.phone) ? accountAuthorizer.contactPerson.phone | phone : 'No Phone' }}
                                {% if accountAuthorizer and accountAuthorizer.contactPerson.phone and accountAuthorizer.contactPerson.ext %}
                                    <span class="wo-details-ext">
                                        <span class="color-gray wo-details-table-inside-ext-indent">ext.:</span>{{ accountAuthorizer.contactPerson.ext }}
                                </span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="color-gray">Cell:</td>
                            <td class="font-bold">{{ accountAuthorizer and  (accountAuthorizer.contactPerson.cell) ? accountAuthorizer.contactPerson.cell | phone : 'No Cell' }}</td>
                        </tr>
                        <tr>
                            <td class="color-gray">Mailing Address:</td>
                            <td class="font-bold">
                                {% if accountAuthorizer.sendingAddress is defined and accountAuthorizer.sendingAddress %}
                                    {{ accountAuthorizer.sendingAddress | address }} ({{ accountAuthorizer.sendingAddress.addressType.name }})
                                {% elseif accountAuthorizer and accountAuthorizer.company.address %}
                                    {{ accountAuthorizer.company.address | address }} ({{ accountAuthorizer.company.address.addressType.name }})
                                {% else %}
                                    (No Address)
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="color-gray">Email:</td>
                            <td class="font-bold">
                                {% if accountAuthorizer and  accountAuthorizer.contactPerson.email %}
                                    <a href="{{ "mailto:" ~ accountAuthorizer.contactPerson.email }}" class="app-link__select">{{ accountAuthorizer.contactPerson.email }}</a>
                                {% else %}
                                    No Email
                                {% endif %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="container message without-border-bottom feedback-repair">
        {% if parameters.type.alias != 'generic_workorder' %}
        <div class="proposal-fire-table-title color-gray">Included Services:</div>
        {% endif %}
        <table class="display-block message-table proposal-fire-table wo-table-page-break page-break-all {{ parameters.type.alias != 'generic_workorder' ? '' : 'without-border-top' }}">
            <tbody>
            {% for accountNode in tree if parameters.type.alias != 'generic_workorder' %}
                <!--site-->
                {% if parameters.account.children | length %}
                    <tr class="page-break-inside proposal-site-row">
                        <td colspan="7" class="page-break-inside">
                            <div class="relative max-width">
                                <div class="message-table-background-row">
                                    <img src="{{ asset('bundles/admin/images/pdf/background-row.jpg', assetsPackage)}}" alt="" class="message-table-background-row-image">
                                </div>
                                <div class="message-table-icon-device message-table-container-device message-table-td-left message-table-position-content">
                                    <img src="{{ asset('bundles/admin/images/pdf/account.svg', assetsPackage)}}" alt="" class="message-table-icon-site">
                                </div>
                                <div class="message-table-container-device message-table-title-device message-table-name-device message-table-position-content message-table-name-device-colored">Site:</div>
                                <div class=" message-table-title-device message-table-description-device message-table-position-content font-bold wo-site-row">{{ accountNode.account.name }}{{ accountNode.account.address ? ' - ' ~ accountNode.account.address | address : '' }}</div>
                            </div>
                        </td>
                    </tr>
                {% endif %}
                <!--device-->
                {% include '@Admin/Workorder/pdf/devicesAndServices.html.twig' with {'deviceCollection': accountNode.devices} %}
                <!--total-->
            {% endfor %}
            <tr class="display-block message-table-grant-total-row page-break-inside">
                <td class="max-width-custom">
                    <div class="proposal-message-table-grant-total">
                        <div class="max-width float-left">
                            <table class="proposal-repairs-services-table wo-table-total">
                                <tbody>
                                <tr class="page-break-inside">
                                    <td class="color-gray wo-wide-row">WO Directions:</td>
                                    <td>{{ parameters.directions ?? '-' }}</td>
                                </tr>
                                <tr class="page-break-inside">
                                    <td class="color-gray wo-wide-row">Additional Comments:</td>
                                    <td>{{ parameters.additionalComments ?? '-'}}</td>
                                </tr>
                                {% if parameters.additionalCostComment and parameters.additionalCostComment != '' %}
                                    <tr class="page-break-inside">
                                        <td class="color-gray wo-wide-row">Additional Cost Comments:</td>
                                        <td>{{ parameters.additionalCostComment ?? '-'}}</td>
                                    </tr>
                                {% endif %}
                                <tr class="page-break-inside">
                                    <td class="color-gray">Not Included:</td>
                                    {% set notIncluded = null %}
                                    {% for notInc in parameters.notIncludedItems %}
                                        {% set notIncluded = notIncluded ? notIncluded  ~ ', ' ~  notInc.name : notInc.name %}
                                    {% endfor %}
                                    <td class="{{ notIncluded ? '' : 'app-color--inactive'}}">
                                        {{ notIncluded ? notIncluded : '-'}}
                                    </td>
                                </tr>
                                <tr class="page-break-inside">
                                    <td class="color-gray wo-wide-row">Payment Method:</td>
                                    {% if parameters.paymentMethod and parameters.paymentMethod.alias in ['cash','check','credit_card'] %}
                                        <td>{{ parameters | get_view_wo_payments_method }}</td>
                                    {% else %}
                                        <td>{{ parameters.paymentMethod.name ?? '-' }}</td>
                                    {% endif %}
                                </tr>
                                <tr class="page-break-inside">
                                    <td class="color-gray">Payment Terms:</td>
                                    <td>
                                        {{ parameters.account.paymentTerm ? parameters.account.paymentTerm.name : '-'}}
                                        {% if parameters.account.paymentTerm and parameters.account.paymentTerm.description %}
                                            <span class="non-accent-text color-gray">{{ parameters.account.paymentTerm.description }}</span>
                                        {% endif %}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="container send-form  page-break-inside without-border-bottom">
        <table class="send-form-table wo-acknowledged-table max-width">
            <tbody>
            <tr>
                <td class="wo-acknowledged">Workorder Acknowledged by:</td>
                <td>
                    <div class="wo-acknowledged-name text-center font-bold">
                        {{ parameters.signatureOwner ? parameters.signatureOwner.contactPerson.firstName ~ " " ~ parameters.signatureOwner.contactPerson.lastName : '' }}
                    </div>
                </td>
                <td class="wo-acknowledged-signature">
                <td>
                    Signature:
                </td>
                <td class="wo-acknowledged-name">
                    {% if parameters.signature %}
                        <div class=" text-center font-bold wo-acknowledged-table-signature-image" style="background: url('{{ asset(parameters.signature | fix_path, assetsPackage)}}') no-repeat;"></div>
                    {% endif %}
                </td>
                <td>
                    Date:
                </td>
                <td>
                    <div class="wo-acknowledged-date text-center font-bold">
                        {{ parameters.finishTime ? parameters.finishTime | date('m/d/Y') : '' }}
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>