{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}
    <div class="app-main__page-title app-wrapper">
        <div class="app-main__page-title-name">
            {% if app.request.attributes.get('_route') == 'admin_create_repair_proposals' %}
                Adding
            {% elseif app.request.attributes.get('_route') == 'admin_edit_repair_proposals' %}
                Editing
            {% endif %}
            <img class="app-link__icon app-line--align-text-bottom" src="{{ asset('bundles/admin/dist/images/')~device.named.category.icon }}" alt="image account">
            <a class="app-link__title" target="_blank" href="{{ path('admin_device_view', {'device' : device.id}) }}">{{ device.title }}</a>
            {% if app.request.attributes.get('_route') == 'admin_create_repair_proposals' %}
            to Proposal
            {% elseif app.request.attributes.get('_route') == 'admin_edit_repair_proposals' %}
            within Proposal
            {% endif %}
        </div>
    </div>

    {{ include('AdminBundle:Opportunity:flash_messages.html.twig', {"app.session": app.session}) }}

    <div id="creating-repair" class="app-contact-list__container--main">
        <div class="app-detailed__wrapper">
            <div class="app-wrapper app-proposal-add__device-main">
                <div class="app-detailed__info device-block-width app-proposal-add__device-container">
                    <div class="app-detailed__info__data-id app-device__info__data-id app-save-space app-device-id-indent app-color--inactive">{{ device.named.name }} ID - {{ device.id }}</div>
                    <div class="app-wrapper">
                        <div class="app-detailed__info__img app-detailed__info__img--device correct-position-site-img app-proposal-add__device-icon" style="background-image: url({{ asset('bundles/admin/dist/images/')~device.named.category.icon }});"></div>
                        <div class="app-detailed__info__data app-device__info__data app-wrapper">
                            
                            <div class="app-detailed__info__data-contacts app-no-padding--bottom">
                                <div class="app-detailed__info__data-title app-device__info__data-title app-cut-string app-device-styles_title-line ">{{ device.title }}</div>
                                <div class="app-detailed__info__data-address app-device-styles__sub-title-text app-cut-string ">
                                    <div class="app-device-styles__after-title-block">at</div>
                                    <div class="app-device-styles__after-title-block app-device-styles__ico--title app-device-styles__ico--title-small">
                                        &nbsp;
                                    </div>
                                    <div class="app-device-styles__after-title-block app-device-styles__after-title-block_styling-link">
                                        <a href="{{ path('admin_account_get', {'accountId' : device.account.id}) }}" class="app-link__select app-line--right-text">{{ device.account.name }}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="app-device-styles__sub-title-text app-device-styles__sub-title-text_address ">{{ device.account.address | address }}</div>
                            <div>
                                <table class="app-device-styles_table ">
                                    <tbody>
                                    <tr>
                                        <td>Location:</td>
                                        <td>
                                            {% if device.location %}
                                                {{ device.location }}
                                            {% else %}
                                                <span class="app-color--inactive app-device-styles_table--no-data">No Data</span>
                                                <img class="app-contact-list__warning app-contact-list__warning--middle" alt="warning image" src="{{ asset('bundles/admin/dist/images/warning.svg') }}">
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Status:</td>
                                        <td>
                                            {% if device.status %}
                                                {{ device.status.name ?? '' }}
                                            {% else %}
                                                <span class="app-color--inactive app-device-styles_table--no-data">No Data</span>
                                                <img class="app-contact-list__warning app-contact-list__warning--middle" alt="warning image" src="{{ asset('bundles/admin/dist/images/warning.svg') }}">
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Comments:</td>
                                        <td>
                                            {% if device.comments %}
                                                <div class="app-account-notes__content app-account-main__notes-text app-cut-string app-save-space notes-account-content app-view--max-width app-proposal-add__notes-container">{{ device.comments }}</div>
                                            {% else %}
                                                <span>No Comments</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="device-block-width app-proposal-add__device-container">
                    <div class="app-wrapper">
                        <div class="app-detailed__notes app-cut-string app-view--max-width device-block-width_height app-no-padding content-account app-proposal-add__device-property-container">
                            <table class="app-device-styles_table-note {{device.deleted ? ' app-deleted' : ''}}">
                                <tbody>
                                {% for row in device.fields %}
                                    <tr>
                                        <td class="app-word-breack">
                                            {{ row.field.name }}:
                                        </td>
                                        <td class="app-word-breack">
                                            {% if row.value or row.value == '0' %}
                                                {{ row.value }}
                                            {% elseif row.optionValue %}
                                                {{ row.optionValue.optionValue }}
                                            {% else %}
                                                <span class="app-color--inactive app-device-styles_table--no-data">No Data</span>
                                                <img class="app-contact-list__warning app-contact-list__warning--middle" alt="warning image" src="{{ asset('bundles/admin/dist/images/warning.svg') }}">
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div
                    {% if device.photo and device.photo | length > 5 %}
                        class="device-block-width device-block-width_img device-block-width_background-property app-proposal-add__device-container {{device.deleted ? ' app-deleted' : ''}}"
                        style="background-image: url({{ path("admin_device_image_view", {'device' : device.id }) }}?{{ device.dateUpdate | date("U") }})"
                    {% else %}
                        class="device-block-width device-block-width_img app-proposal-add__device-container {{device.deleted ? ' app-deleted' : ''}}"
                    {% endif %}
                    >
                    {% if device.photo is defined and device.photo | length > 5 %}
                        <a href="{{ path("admin_device_image_view", {'device' : device.id }) }}?{{ device.dateUpdate | date("U") }}" class="app-link__new-tab-img" target="_blank"></a>
                    {% else %}
                        <div class="app-color--inactive device-block-width__no-data">
                            <span>No Photo</span>
                            <img class="app-contact-list__warning app-contact-list__warning--large" alt="warning image" src="{{ asset('bundles/admin/dist/images/warning.svg') }}">
                        </div>
                    {% endif %}
                </div>
            </div>
            {{ form_start(form, {'attr': {'onkeypress': 'return event.keyCode != 13;', 'id' : 'repairForm', 'data-bind' : 'with: ListAdditionalRepairsModel'}}) }}
                <div class="app-wrapper">
                    <div class="app-wrapper app-view--max-width app-proposal-add__main-titles">
                        <div>Recommended Repairs:</div>
                        <div>
                            <a target="_blank" href="{{ path('admin_service_list_by_history_of_service', {'device': device.id}) }}" class="app-link__select app-line--right-text">View Reports History</a>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="prevPage" value="{{ previousPage }}">
                <div class="app-wrapper">
                    <div class="app-view--max-width app-proposal-current-deficiency__container content-account">
                        {% if form.proposal.services | length %}
                            <table class="table app-data__table app-data__table--hidden app-proposal-add__repairs-table">
                                <thead>
                                <tr class="app-color--opacity30 app-devices-table__header-service">
                                    <th>
                                        {% if isNotSelectedServiceName %}
                                        <input type="checkbox" id="repair_proposal_proposal_services_nav" class="app-checkbox-input">
                                        <label class="app-checkbox-label" for="repair_proposal_proposal_services_nav"></label>
                                        {% endif %}
                                    </th>
                                    <th>Recommended Repairs</th>
                                    <th class="app-data-table__th_width_45per">Deficiency to fix</th>
                                    <th>Deficiency found on</th>
                                    <th>Munic. and Proc. fee</th>
                                    <th>Service Status</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for key, repair in form.proposal.services %}
                                    {% set service = form.proposal.services.vars.choices[key].data %}
                                    <tr data-ismunic="{{ (service.departmentChannel | municipality_fee) and service.named.isNeedSendMunicipalityReport ? 'true' : ''}}">
                                        <td>
                                            {% if service.proposal is null and service.workorder is null %}
                                                {{ form_row(repair, {'attr': {'class': 'app-checkbox-input'}}) }}
                                                <label class="app-checkbox-label" for="{{ repair.vars.id }}"></label>
                                            {% endif %}
                                        </td>
                                        <td class="app-word-breack">
                                            {{ service.named.name }}
                                        </td>
                                        <td class="app-word-breack">
                                            {% if not service.named.deficiency and service.comment %}
                                                {{ service.comment | ucfirst }}
                                            {% elseif service.named.deficiency and service.comment %}
                                                {{ service.named.deficiency }}{{ ". " ~ service.comment | ucfirst }}
                                            {% else %}
                                                {{ service.named.deficiency ? service.named.deficiency : '-' }}
                                            {% endif %}
                                        </td>
                                        <td>{{ service.inspectionDue | date('m/d/Y') }}</td>
                                        <td>
                                            {{ service | get_municipality_fee_result_for_create_proposal_and_wo_by_service }}
                                        </td>
                                        <td>
                                            <span class="app-service-label {{ service.status.cssClass }}">{{ service.status.name ?? '' }}</span>
                                        </td>
                                        <td>
                                            {% if service | can_edit_repair_service_comment %}
                                                <a href="#" data-toggle="modal" data-target="#editRepairServiceComment" data-action="{{ path('admin_edit_repair_service_comment', {'service': service.id}) }}" data-comment="{{ service.comment }}" class="app-link__select app-link__select--nowrap app-modal-link app-line--right-text"
                                                > <img src="{{ asset('bundles/admin/dist/images/edit.svg') }}"></a>
                                            {% endif %}

                                            {% if service | blocked_edit_repair_service_comment_under_proposal %}
                                                <a href="#" class="app-link__select app-link__select--nowrap app-modal-link app-line--right-text" data-toggle="modal" data-target="#blockedEditRepairUnderProposal">
                                                    <img src="{{ asset('bundles/admin/dist/images/edit.svg') }}">
                                                </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <div class="app-color--inactive app-font--bold app-text--align-center app-font--large app-proposal-current-deficiency__placeholder">No Repairs and Deficiencies</div>
                        {% endif %}
                    </div>
                </div>
                <div class="app-wrapper">
                    <div class="app-view--max-width">
                        <div class="app-proposal-add__main-titles">Additional Repairs:</div>
                        <div class="app-proposal-current-deficiency__container content-account">
                            <table class="table app-proposal-add-deficiency__table-list app-view--max-width app-data__table app-display--none" data-bind="visible: visibleTable" data-remove="RemoveClassDisplayNone" id="additional_repairs">
                                <thead>
                                <tr class="app-color--opacity30 app-devices-table__header-service">
                                    <th></th>
                                    <th>Recommended Repairs</th>
                                    <th>Deficiency to fix</th>
                                    <th>Munic. and Proc. fee</th>
                                </tr>
                                </thead>
                                <tbody data-bind="foreach: itemsList">
                                <tr>
                                    <td class="app-proposal-add-deficiency-table-list__delete">
                                        <img alt="image delete" src="{{ asset('bundles/admin/dist/images/delete.svg') }}" data-remove="RemoveClassDisplayNone" data-bind="click: $parent.removeItem">
                                    </td>
                                    <td data-bind="text: name"></td>
                                    <td data-bind="text: deficiency"></td>
                                    <td><span data-bind="text: symbol"></span><span data-bind="text: fee"></span><span data-bind="text: star"></span></td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="app-color--inactive app-font--bold app-text--align-center app-font--large app-proposal-current-deficiency__placeholder" data-bind="visible: visiblePlaceholderText">Please add additional repairs</div>
                        </div>
                        <div class="app-proposal-current-deficiency__input">
                            <input class="form-control mozilla-input ui-autocomplete-input" id="repairs-autocomplete" placeholder="Type or select repair service or deficiency" data-bind="value: itemValue, valueUpdate: ['afterkeydown'], event: {change: enterSearch}" name="repairsInput">
                            <div data-bind="foreach: checkedInputList" class="hide">
                                <input type="checkbox" name="repair_proposal[serviceName][name][]" data-bind="value: id, attr: {checked: 'checked'}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="app-wrapper">
                    <div class="app-view--max-width">
                        <div class="app-proposal-add__main-titles">Comments:</div>
                        <div>
                            {#{{ form_widget(form.deviceInfo.comments, {'attr' : {'class' : 'app-form__textarea--small form-control mozilla-input', 'id' : 'repair_proposal_proposal_comments', 'placeholder' : 'Comment'}}) }}#}
                            <textarea id="email_editor" type="text" name="repair_proposal[deviceInfo][comments]" class="app-form__textarea--small form-control mozilla-input ckeditor" placeholder="Comment">{{ form.deviceInfo.comments.vars.value }}</textarea>
                        </div>
                        <script>
                            CKEDITOR.config.toolbar_MA=[ ['Font','FontSize','Bold','Italic','Underline','-','Undo','Redo','-','Link','Unlink','-','NumberedList','BulletedList'] ];
                            CKEDITOR.replace( 'email_editor', {toolbar:'MA'} );
                            CKEDITOR.config.removePlugins = 'About';
							CKEDITOR.config.height = 120;
                        </script>
                    </div>
                </div>
                <div class="app-wrapper">
                    <div class="app-view--max-width">
                        <div class="app-proposal-add__main-titles">Special Notification or Warnings:</div>
                        <div>
                            <!--Start dropdow-->
                            <div class="btn-group bootstrap-select form-control mozilla-input">
                                {{ form_widget(form.deviceInfo.specialNotification, {'attr' : {'class' : 'selectpicker form-control mozilla-input'}}) }}
                            </div>
                            <!--End dropdown-->
                        </div>
                    </div>
                </div>
                <div class="app-wrapper">
                        <div class="app-form-input--medium app-form-input--third form-group">
                            <div class="app-proposal-add__main-titles">Estimated time to perform repairs, work hours:<span class="app-required-label">*</span></div>
                            {{ form_widget(form.deviceInfo.estimationTime, {'attr' : { 'class' : 'form-control mozilla-input ui-autocomplete-input', 'placeholder' : 'Estimated time'}}) }}
                        </div>
                        <div class="app-form-input--medium app-form-input--third form-group">
                            <div class="app-proposal-add__main-titles">Total Munic. and Proc. fee:</div>
                            <div class="app-service-form__text-field form-control app-adding-proposal__input-indent" data-bind="text: getTotalFee"></div>
                        </div>
                        <div class="app-form-input--medium app-form-input--third form-group">
                            <div class="app-proposal-add__main-titles">Parts and labor price:<span class="app-required-label">*</span></div>
                            {{ form_widget(form.deviceInfo.price, {'attr' : { 'class' : 'form-control mozilla-input ui-autocomplete-input app-validation-currency app-adding-proposal__input-indent', 'placeholder' : '$0'}}) }}
                        </div>
                    </div>

                {% if defaultDepartmentChannelWithFeesWillVary %}
                    <div data-bind="if: totalStatus" class="app-wrapper app-color--inactive">
                        <span data-bind="text: municMessage"></span>
                    </div>
                {% endif %}

                <div class="app-wrapper">
                    <div class="app-view--max-width">
                        <div class="app-form-button--right">
                            {% if app.request.attributes.get('_route') == 'admin_create_repair_proposals' %}
                                <button id="adding_to_proposal_add" type="submit" class="app-form-button btn">ADD</button>
                            {% elseif app.request.attributes.get('_route') == 'admin_edit_repair_proposals' %}
                                <button id="adding_to_proposal_update" type="submit" class="app-form-button btn">UPDATE DEVICE</button>
                            {% endif %}
                            <a href="{{ previousPage }}" class="app-form-button app-form-button--grey app-form-button--indent btn" >CANCEL</a>
                            {#{% if app.request.attributes.get('_route') == 'admin_create_repair_proposals' %}#}
                                {#<a href="{{ path('admin_account_get', {'accountId' : device.account.id}) }}" class="app-form-button app-form-button--grey app-form-button--indent btn" >CANCEL</a>#}
                            {#{% elseif app.request.attributes.get('_route') == 'admin_edit_repair_proposals' %}#}
                                {#<a href="{{ path('admin_repair_proposal_view', {'proposal' : proposal.id}) }}" class="app-form-button app-form-button--grey app-form-button--indent btn" >CANCEL</a>#}
                            {#{% endif %}#}
                        </div>
                    </div>
                </div>
                <input type="text" class="hide" data-bind="value: checkboxesValue, valueUpdate: ['afterkeydown']" id="checkboxesValue">
            </form>
        </div>
        <span class="hide" data-additional-repairs="{{ serviceNames }}"></span>
        <span class="hide" data-fee="{{ fee }}"></span>
        <span id="defaultDepartmentChannelWithFeesWillVary" class="hide" data-departmentChannelWithFeesWillVary="{{ defaultDepartmentChannelWithFeesWillVary }}"></span>
        {% if app.request.attributes.get('_route') == 'admin_edit_repair_proposals' %}
            <span class="hide" data-total-fee="{{ totalFee ?? '0' }}"></span>
        {% endif %}
    </div>



    {% if app.request.attributes.get('_route') == 'admin_create_repair_proposals' %}
        <!-- Modal -->
        {{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
            'modalId' : 'repairModal',
            'message' : 'Are you sure you want to add this Device to Proposal?',
            'dataSubmit' : 'Yes'
        }) }}

        {{ include('AdminBundle:layouts/dialogs:infoDialog.html.twig', {
            'modalId' : 'noUpdateModal',
            'message' : 'You should add at least one Deficiency to Proposal.'
        }) }}
    {% elseif app.request.attributes.get('_route') == 'admin_edit_repair_proposals' %}
        <!-- Modal -->
        {{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
            'modalId' : 'repairModal',
            'message' : 'Are you sure you want to update this Device to Proposal?',
            'dataSubmit' : 'Yes'
        }) }}
        {{ include('AdminBundle:layouts/dialogs:infoDialog.html.twig', {
            'modalId' : 'noUpdateModal'
        }) }}
    {% endif %}

    <!-- Modal Form Change repair service comment -->
    {{ include('AdminBundle:layouts/dialogs:changeRepairServiceCommentDialog.html.twig', {
        'modalId' : 'editRepairServiceComment',
        'modalFormMethod' : 'post',
        'modalFormId' : 'createWOFromInspectionsList',
    }) }}
    <!-- End Modal Form Change repair service comment -->

    <!-- Modal Blocked Popup to edit repair service under proposal -->
    {{ include('AdminBundle:layouts/dialogs:infoDialog.html.twig', {
        'modalId' : 'blockedEditRepairUnderProposal',
        'message' : 'You can not edit this Service as Proposal as it was added to "Sent via Mail/Email"'
    }) }}
    <!-- End Modal Blocked Popup to edit repair service under proposal -->


{% endblock %}

{% block footerScripts %}
    {{ parent() }}
{% endblock %}