<form class="datepickerValidation datepickerCheckValid app-wrapper app-filter-form__content app-filter-form__content--top">
    <div class="app-wrapper app-view--max-width">
        <div class="app-opportunities-table-filter__inputs-container">
            <div class="app-opportunities-table-filter__inputs--select
            app-opportunities-table-filter__inputs--select--margin-bottom {{ forAccount ? 'app-no-margin--bottom' :
            ''}}">
                <div class="app-opportunities-table-filter__select-label">
                    <label class="app-color--inactive app-line--right-text">Show Division:</label>
                </div>
                <div class="app-opportunities-table-filter__select-container">
                    <select class="selectpicker" name="division">
                        <option value="">All</option>
                        {% for division in divisions %}
                            <option value="{{ division.id }}"
                                    {{ (filters.division is defined) and (division.id == filters.division)
                                    ? 'selected'
                                    : '' }}
                            >{{ division.name }}</option>
                        {% endfor %}
                        <option value="{{ divisions | alarm_fire_filter_ids }}"
                                {{ (filters.division is defined) and (filters.division == divisions | alarm_fire_filter_ids)
                                ? 'selected'
                                : '' }}
                        >Fire and Alarm</option>
                    </select>
                </div>
            </div>
            {% if not forAccount %}
                <div class="app-opportunities-table-filter__inputs--select app-opportunities-table-filter__inputs--select--margin-bottom {{ forAccount ? 'app-no-margin--bottom' :
                ''}}">
                    <div class="app-opportunities-table-filter__select-label">
                        <label class="app-color--inactive app-line--right-text">Show Lines:</label>
                    </div>
                    <div class="app-opportunities-table-filter__select-container">
                        <select class="selectpicker" name="pagerCount">
                            <option value="50"{{ (filters.pagerCount is not defined) or (filters.pagerCount == 50) ? 'selected': '' }}>50</option>
                            <option value="100"{{ (filters.pagerCount is defined) and (filters.pagerCount == 100) ? 'selected': '' }}>100</option>
                            <option value="300"{{ (filters.pagerCount is defined) and (filters.pagerCount == 300) ? 'selected': '' }}>300</option>
                            <option value="500"{{ (filters.pagerCount is defined) and (filters.pagerCount == 500) ? 'selected': '' }}>500</option>
                            <option value="All"{{ (filters.pagerCount is defined) and (filters.pagerCount == 'All') ? 'selected': '' }}>All</option>
                        </select>
                    </div>
                </div>
            {% endif %}

            <div class="app-opportunities-table-filter__inputs--select {{ forAccount ? 'app-no-margin--bottom' : ''}}">
                <div class="app-opportunities-table-filter__select-label">
                    <label class="app-color--inactive app-line--right-text">Ref. ID:</label>
                </div>
                <div class="app-opportunities-table-filter__select-container">
                    <input type="text" name="refId"
                           class="app-opportunities-table-filter__inputs--date form-control"
                           placeholder="Ref. ID"
                           value="{{ (filters.refId is defined) ? filters.refId : '' }}">
                    <div class="clear-input-value"></div>
                </div>
            </div>
        </div>
        <div class="app-opportunities-table-filter__inputs-container">
            <div class="app-opportunities-table-filter__inputs--select {{ forAccount ? 'app-no-margin--bottom' : ''}}">
                <div class="app-opportunities-table-filter__select-label">
                    <label class="app-color--inactive app-line--right-text">Show Statuses:</label>
                </div>
                <div class="app-opportunities-table-filter__select-container">
                    <select class="selectpicker" name="status">
                        <option value="">All</option>
                        {% for proposalStatus in proposalStatuses %}
                            <option value="{{ proposalStatus.id }}"
                                    {{ (filters.status is defined) and (proposalStatus.id == filters.status)
                                    ? 'selected'
                                    : '' }}
                            >{{ proposalStatus.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            {% if not forAccount %}
                <div class="app-opportunities-table-filter__inputs--select {{ forAccount ? 'app-no-margin--bottom' : ''}}">
                    <div class="app-opportunities-table-filter__select-label">
                        <label class="app-color--inactive app-line--right-text">Client Type:</label>
                    </div>
                    <div class="app-opportunities-table-filter__select-container">
                        <select class="selectpicker" name="clientType">
                            <option value="">All</option>
                            {% for clientType in clientTypes %}
                                <option value="{{ clientType.id }}"
                                        {{ (filters.clientType is defined) and (clientType.id == filters.clientType)
                                        ? 'selected'
                                        : '' }}
                                >{{ clientType.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="app-opportunities-table-filter__inputs-container">
            
            <div class="app-opportunities-table-filter__inputs--select {{ forAccount ? '' : ''}}">
                <div class="app-opportunities-table-filter__select-label">
                    <label class="app-color--inactive app-line--right-text">Created From:</label>
                </div>
                <div class="app-opportunities-table-filter__select-container app-opportunities-table-filter__select-container--date">
                    <input type="text" name="date[createdFrom]"
                           class="fromCreateDates app-opportunities-table-filter__inputs--date app-validation-date form-control"
                           placeholder="MM/DD/YYYY"
                           value="{{ (filters.date is defined) and (filters.date.createdFrom is defined)
                           ? filters.date.createdFrom
                           : ''
                           }}">
                    <div class="clear-input-value"></div>
                </div>
            </div>
            {#PP Created From#}
            {% if app.request.attributes.get('_route') != 'admin_proposal_all_proposals' %}
                <div class="app-opportunities-table-filter__inputs--select {{ forAccount ? '' : ''}}">
                    <div class="app-opportunities-table-filter__select-label">
                        <label class="app-color--inactive app-line--right-text">Due From:</label>
                    </div>
                    <div class="app-opportunities-table-filter__select-container app-opportunities-table-filter__select-container--date">
                        <input type="text" name="date[from]"
                               class="fromDates app-opportunities-table-filter__inputs--date app-validation-date form-control"
                               placeholder="MM/DD/YYYY"
                               value="{{ (filters.date is defined) and (filters.date.from is defined)
                               ? filters.date.from
                               : ''
                               }}">
                        <div class="clear-input-value"></div>
                    </div>
                </div>
            {% endif %}
            {#End PP Created From#}
        </div>
        <div class="app-opportunities-table-filter__inputs-container">
            <div class="app-opportunities-table-filter__inputs--select {{ forAccount ? 'app-no-margin--bottom' : ''}}">
                <div class="app-opportunities-table-filter__select-label">
                    <label class="app-color--inactive app-line--right-text">Created To:</label>
                </div>
                <div class="app-opportunities-table-filter__select-container app-opportunities-table-filter__select-container--date">
                    <input type="text" name="date[createdTo]"
                           class="toCreateDates app-opportunities-table-filter__inputs--date app-validation-date form-control"
                           placeholder="MM/DD/YYYY"
                           value="{{ (filters.date is defined) and (filters.date.createdTo is defined)
                           ? filters.date.createdTo
                           : ''
                           }}">
                    <div class="clear-input-value"></div>
                </div>
            </div>
            {#PP Created To#}
            {% if app.request.attributes.get('_route') != 'admin_proposal_all_proposals' %}
                <div class="app-opportunities-table-filter__inputs--select {{ forAccount ? 'app-no-margin--bottom' : ''}}">
                    <div class="app-opportunities-table-filter__select-label">
                        <label class="app-color--inactive app-line--right-text">Due To:</label>
                    </div>
                    <div class="app-opportunities-table-filter__select-container app-opportunities-table-filter__select-container--date">
                        <input type="text" name="date[to]"
                               class="toDates app-opportunities-table-filter__inputs--date app-validation-date form-control"
                               placeholder="MM/DD/YYYY"
                               value="{{ (filters.date is defined) and (filters.date.to is defined)
                               ? filters.date.to
                               : ''
                               }}">
                        <div class="clear-input-value"></div>
                    </div>
                </div>
            {% endif %}
            {#End PP Created To#}
        </div>
        <div class="app-opportunities-table-filter__inputs-container app-opportunities-table-filter__inputs-container--button app-wrapper--column app-filter-form__button--indent">
            <button type="submit" class="app-detailed__button app-opportunities-table-filter__button app-detailed__button--blue btn">Show</button>
        </div>
    </div>
</form>
