{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}

    <div class="app-main__page-title app-wrapper">
        <div class="app-link__header--contact-form app-main__page-title-name">Retest Notices and Proposals related to
            <img class="app-link__icon" src="/bundles/admin/dist/images/contact.svg" alt="image contact">
        </div>
        <div class="app-link__title--contact-form">
            <a href="{{ path("admin_contact_person_get", {"contactPerson": contactPerson.id}) }}" target="_blank" class="app-link__title">{{ contactPerson.firstName }}{{ contactPerson.lastName is defined ? " "~contactPerson.lastName : "" }}</a>
        </div>
    </div>

    <div class="app-data">

        <!--  filters -->
        <div class="app-wrapper app-filter-form app-filter-form--big app-bordered--shadow">
            <div class="{% if (proposalsForMerge is defined) and proposalsForMerge == true %} app-filter-form__content-container {% else %} app-view--max-width {% endif %}">
                {{ include('AdminBundle:Proposal:filterAll.html.twig', {
                    "paginatedProposalList": paginatedProposalList,
                    "divisions": divisions,
                    "proposalStatuses": proposalStatuses,
                    "clientTypes": clientTypes,
                    "filters": filters,
                    "forAccount": false
                }) }}
            </div>
            {% if (proposalsForMerge is defined) and proposalsForMerge == true %}
            <div class="app-filter-form__button-container app-filter-form__button-container--top app-filter-form__button--indent">
                    <a href="#" data-valid-filter="{{ error ? 'true' : 'false' }}" class="app-detailed__button app-opportunities-table-filter__button app-detailed__button--red btn" data-toggle="modal" data-target="" id="sendEmails">Send via Mail</a>
            </div>
            {% endif %}
        </div>
        <!--  filters -->

        {% if paginatedProposalList.results is defined and paginatedProposalList.results | length %}
            <table class="table app-data__table app-notice-list app-bordered--shadow app-data__table-haveFilter" data-selector="without-last-devider">
                <thead>
                <tr class="app-background--table-gray app-color--inactive">
                    <th>Ref. ID</th>
                    <th colspan="2">Division</th>
                    <th>Date Created</th>
                    <th>Created by</th>
                    <th>Earliest Due Date</th>
                    <th>Days Till Due</th>
                    <th>Services</th>
                    <th>Devices</th>
                    <th>Total</th>
                    <th></th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody class="app-data__table-body">
                <!--account row-->
                {% for account in paginatedProposalList.results %}
                    <tr>
                        <td colspan="13">
                            <div class="app-wrapper">
                                <div class="app-detailed__info app-wrapper">
                                    <img class="app-account-site__name {{ account.account.deleted ? 'app-deleted' : '' }}"
                                        src="{{  account.account.type.alias == 'group account'
                                            ? '/bundles/admin/dist/images/group_site.svg'
                                            : '/bundles/admin/dist/images/site.svg' }}">
                                    <div class="app-font--medium app-font--bold">
                                        <a class="app-link__select app-link__title {{ account.account.deleted ? 'app-deleted' : '' }}" href="{{ path('admin_account_get', {'accountId': account.account.id}) }}"
                                           data-original-title="" title="">{{ account.account.name }}</a>
                                        <span class="app-line--right-text {{ account.account.deleted ? 'app-deleted' : '' }}"> - {{ account.account.address | address }}</span>
                                        {% set labelClass = ' label-success' %}
                                        {% if account.account.clientType.alias == 'inactive' %}
                                            {% set labelClass = ' label-danger' %}
                                        {% elseif account.account.clientType.alias == 'special_discount'%}
                                            {% set labelClass = ' label-warning' %}
                                        {% elseif account.account.clientType.alias == 'potential'%}
                                            {% set labelClass = ' label-primary' %}
                                        {% endif %}
                                        <span class="label {{ labelClass }} app-label app-opportunities__label {{ account.account.deleted ? 'app-deleted' : '' }}">{{ account.account.clientType.name }}</span>
                                        {% if account.account.deleted %}<span class="label  label-danger app-label app-opportunities__label">Deleted</span>{% endif %}
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <!--end account row-->
                    <!--service row-->
                    {% for proposal in account.proposal %}
                        <tr class="">
                            <td class="app-font--uppercase">{{ proposal.referenceId }}</td>
                            <td class="app-no-padding--right app-notice-list__division">
                                <img src="/bundles/admin/dist/images/{{ proposal.division.icon }}">
                            </td>
                            <td class="app-link__title app-color--active app-no-padding--left app-word-breack">
                                <a href="{{ path('admin_'~ proposal.type.alias ~'_proposal_view', {'proposal' : proposal.id}) }}" target="_blank" class="app-link__select">
                                    {{ proposal.division.name }} {{ proposal.type.name }} {{ (proposal.type.alias == 'retest') ? 'Notice' : 'Proposal' }}
                                </a>
                            </td>
                            <td>{{ proposal.dateCreate | date('m/d/Y') }}</td>
                            <td>{{ proposal.creator.user.firstName }} {{ proposal.creator.user.lastName }}</td>

                            {% if proposal.type.alias == 'retest' %}
                                <td class="{{ (proposal.earliestDueDate | date_difference < 0) ? 'app-color--warning' : ((proposal.earliestDueDate | date_difference == 0) ? 'app-color--green' : '') }}">
                                    {{ proposal.earliestDueDate | date('m/d/Y') }}
                                </td>
                            {% else %}
                                <td>-</td>
                            {% endif %}

                            {% if proposal.type.alias == 'retest' %}
                                <td class="{{ (proposal.earliestDueDate | date_difference < 0) ? 'app-color--warning' : ((proposal.earliestDueDate | date_difference == 0) ? 'app-color--green' : '') }}">
                                    {{ (proposal.earliestDueDate | date_difference == 0) ? 'TODAY' : proposal.earliestDueDate | date_difference }}
                                </td>
                            {% else %}
                                <td>-</td>
                            {% endif %}

                            <td>{{ proposal.servicesCount ? proposal.servicesCount : '-' }}</td>
                            <td>{{ proposal.devicesCount ? proposal.devicesCount : '-' }}</td>
                            <td>
                                {% if proposal.type.alias == 'retest' %}
                                    ${{ proposal.serviceTotalFee ? proposal.serviceTotalFee | money_format : '0' }}
                                {% endif %}

                                {% if proposal.type.alias == 'repair' %}
                                    {% if proposal.serviceTotalFee > 0 %}
                                        ${{ (proposal.allGrandTotalPrice + proposal.serviceTotalFee)| money_format }}
                                    {% else %}
                                        ${{ proposal.allGrandTotalPrice ? proposal.allGrandTotalPrice | money_format : '0' }}
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td></td>
                            <td>
                                <span class="app-service-label {{ proposal.status.cssClass }}">{{ proposal.status.name }}</span>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr class="app-devider-row">
                        <td colspan="13"></td>
                    </tr>
                {% endfor %}
                <!--end service row-->
                
                </tbody>
            </table>

        {% else %}
            <div class="app-data__not-found app-bordered--shadow">No Retest Notices and Proposals</div>
        {% endif %}
    </div>

    {% if paginatedProposalList.results is defined and paginatedProposalList.pagesCount > 1 %}
        <div class="pagination  app-bordered--shadow">
            <a class="app-pagination-arrow{{ paginatedProposalList.currentPage == 1 ? ' disabled' : '' }}" href="{{ path('admin_contact_person_proposal_list', {
                'contact' : contactPerson.id,
                'page' : paginatedProposalList.currentPage - 1,
                'division' : filters.division is defined ? filters.division : '',
                'clientType' : filters.clientType is defined ? filters.clientType : '',
                'status' : filters.status is defined ? filters.status : '',
                'date' : filters.date is defined ? filters.date : '',
                'pagerCount' : filters.pagerCount is defined ? filters.pagerCount : '',
            }) }}">«</a>
            {% for i in range(1, paginatedProposalList.pagesCount) %}
                <a {% if paginatedProposalList.currentPage == i %} class="app-active-page" {% endif %} href="{{ path('admin_contact_person_proposal_list', {
                    'contact' : contactPerson.id,
                    'page' : i,
                    'division' : filters.division is defined ? filters.division : '',
                    'status' : filters.status is defined ? filters.status : '',
                    'clientType' : filters.clientType is defined ? filters.clientType : '',
                    'date' : filters.date is defined ? filters.date : '',
                    'pagerCount' : filters.pagerCount is defined ? filters.pagerCount : '',
                }) }}">{{ i }}</a>
            {% endfor %}
            <a class="app-pagination-arrow{{ paginatedProposalList.currentPage == paginatedProposalList.pagesCount ? ' disabled' : '' }}" href="{{ path('admin_contact_person_proposal_list', {
                'contact' : contactPerson.id,
                'page' : paginatedProposalList.currentPage + 1,
                'division' : filters.division is defined ? filters.division : '',
                'clientType' : filters.clientType is defined ? filters.clientType : '',
                'status' : filters.status is defined ? filters.status : '',
                'date' : filters.date is defined ? filters.date : '',
                'pagerCount' : filters.pagerCount is defined ? filters.pagerCount : '',
            }) }}">»</a>
        </div>
    {% endif %}

{% endblock %}