<td class="app-proposal-logs__button-container">
    {% if log.message in ['Custom Proposal was created'] and proposal.status.alias not in ['deleted','workorder_created'] %}

        {% if proposal.frozen %}
            <a href="{{ proposal.frozen.recipient.contactPerson.ownerEntity.email ? path('admin_letter_proposal', {'proposal' : proposal.id}) : '#' }}"
               data-empty-email="{{ proposal.frozen.recipient.contactPerson.ownerEntity.email ? 'false' : 'true' }}"
               class="sendEmail app-link__table-button app-proposal-logs__button--{{ log | is_use_action('email') ? 'blue' : 'red' }} app-line--align btn app-proposal-logs__button"
               data-toggle="modal" data-target="">
                Send via email
            </a>
        {% else %}
            <a href="{{ proposal.recipient.contactPerson.email ? path('admin_letter_proposal', {'proposal' : proposal.id}) : '#' }}"
               data-empty-email="{{ proposal.recipient.contactPerson.email ? 'false' : 'true' }}"
               class="sendEmail app-link__table-button app-proposal-logs__button--{{ log | is_use_action('email') ? 'blue' : 'red' }} app-line--align btn app-proposal-logs__button"
               data-toggle="modal" data-target="">
                Send via email
            </a>
        {% endif %}

        <a href="#"
           class="app-link__table-button app-proposal-logs__button--{{ log | is_use_action('mail') ? 'blue' : 'red' }} app-line--align btn link-preventDefault app-proposal-logs__button app-proposal-logs__button--align-left app-proposal-logs__button--indent"
           data-toggle="modal"
           data-target="#sentMailModal">
            Send via mail
        </a>

    {% elseif log.message == 'Proposal was sent via email.' %}

        <a href="{{ path('admin_letter_detail', {'letter' : log.letter.id}) }}" target="_blank"
           class="app-link__table-button app-line--align btn app-proposal-logs__button"
           data-toggle="modal">
            View letter
        </a>
    {% elseif log.message == 'Proposal was added to Workorder' and proposal.status.alias != 'deleted' %}
        <a href="{{ path('admin_workorder_view', {'workorder' : proposal.workorder.id}) }}" target="_blank" class="app-link__table-button app-line--align btn app-proposal-logs__button"
           data-toggle="modal">
            Go to Workorder page
        </a>

    {% elseif log.message == 'Call needed!'
        and proposal.status.alias not in ['deleted', 'reset_services_to_next_time', 'workorder_created', 'replaced'] %}

        <a href="#" data-target="#callCommentModal" data-toggle="modal"
           class="app-link__table-button app-detailed__button--red app-line--align btn link-preventDefault app-proposal-logs__button app-proposal-logs__button--{{ log | is_use_action ? 'blue' : 'red' }}">
            Client was called
        </a>

    {% endif %}
</td>