<div class="app-detailed__addition__container__title">{{ proposal.type.alias == 'retest' ? "Retest Notice Log" : "Proposal Log" }}</div>
<div class="app-proposal-logs__container content-account app-contact-list__container--tbody">
    <table class=" app-proposal-logs__table app-view--max-width">
        <tbody>
        {% for log in logs %}
            <tr>
                <td>
                    <div>
                        <span class="app-color--inactive app-proposal-logs__message-info">
                            {{ log.date | date('m/d/Y, h:i A') }}
                        </span>
                    </div>
                    <div>
                        <span>{{ log.message }}</span>
                    </div>
                    <div>
                        <span class="app-color--inactive app-proposal-logs__message-info">By
                            {% if log.author.user is defined %}
                                <a href="#" class="app-link__select">
                                    {{ log.author.user.firstName~' '~log.author.user.lastName }}
                                </a>
                            {% else %}
                                <span class="app-link__select">
                                    System
                                </span>
                            {% endif %}
                        </span>
                    </div>
                    {% if (log.message in ['Client was called', 'Rejected by client', 'Retest Notice was deleted',
                        'Services were reset to next time', 'Proposal services are discarded',
                        'Proposal was rejected by client.', 'Retest Notice was replaced',
                        'Proposal was replaced', 'Retest Notice was added to Workorder',
                        'Proposal was added to Workorder', 'This Retest Notice was created to replace another one',
                        'This Proposal was created to replace another one', 'Proposal was deleted.']) and log.comment is not empty %}
                        <div class="app-proposal-logs__message-info">
                            <span class="app-color--inactive">Comment:</span>
                            <span class="app-word-breack">{{ log.comment }}</span>
                        </div>
                    {% endif %}
                </td>

                {# Proposals buttons part start block #}
                {% if proposal.type.alias == 'retest' %}
                    {% include 'AdminBundle:Proposal:proposal_retest_btns_part_log.html.twig' %}
                {% endif %}

                {% if proposal.type.alias == 'repair' %}
                    {% include 'AdminBundle:Proposal:proposal_repair_btns_part_log.html.twig' %}
                {% endif %}

                {% if proposal.type.alias == 'custom' %}
                    {% include 'AdminBundle:Proposal:proposal_custom_btns_part_log.html.twig' %}
                {% endif %}
                {# Proposals buttons part end block #}

            </tr>
        {% endfor %}

        </tbody>
    </table>
</div>