<td class="app-proposal-logs__button-container">
    {% if log.message in ['Proposal was created', 'This Proposal was created to replace another one']
        and proposal.status.alias not in ['deleted', 'reset_services_to_next_time', 'workorder_created', 'services_discarded', 'replaced'] %}

        {% if (not proposal.isFrozen and proposal.servicesCount == 0) or (proposal.isFrozen and proposal.frozen.frozenServices | length == 0) %}
            <a href="#"
               class="app-link__table-button app-proposal-logs__button--{{ log | is_use_action('mail') ? 'blue' : 'red' }} app-line--align btn link-preventDefault app-proposal-logs__button app-proposal-logs__button--align-left"
               data-toggle="modal"
               data-target="#blockSentMailEmailModal">
                Send via email
            </a>
        {% else %}

            {% if proposal.frozen %}
                <a href="{{ proposal.frozen.recipient.contactPerson.ownerEntity.email ? path('admin_letter_proposal', {'proposal' : proposal.id}) : '#' }}"
                   data-empty-email="{{ proposal.frozen.recipient.contactPerson.ownerEntity.email ? 'false' : 'true' }}"
                   class="sendEmail app-link__table-button app-proposal-logs__button--{{ log | is_use_action('email') ? 'blue' : 'red' }} app-line--align btn app-proposal-logs__button"
                   data-toggle="modal" data-target="">
                    Send via email
                </a>
            {% else %}
                <a href="{{ proposal.recipient.contactPerson.email ? path('admin_letter_proposal', {'proposal' : proposal.id}) : '#' }}"
                   data-empty-email="{{ proposal.recipient.contactPerson.email ? 'false' : 'true' }}"
                   class="sendEmail app-link__table-button app-proposal-logs__button--{{ log | is_use_action('email') ? 'blue' : 'red' }} app-line--align btn app-proposal-logs__button"
                   data-toggle="modal" data-target="">
                    Send via email
                </a>
            {% endif %}

        {% endif %}

        <a href="#"
           class="app-link__table-button app-proposal-logs__button--{{ log | is_use_action('mail') ? 'blue' : 'red' }} app-line--align btn link-preventDefault app-proposal-logs__button app-proposal-logs__button--align-left app-proposal-logs__button--indent"
           data-toggle="modal"
           data-target="{% if proposal.servicesCount == 0 %}#blockSentMailEmailModal{% else %}#sentMailModal{% endif %}">
            Send via mail
        </a>

        {% if log.message in ['This Proposal was created to replace another one'] %}

            <a href="{{ path('admin_repair_proposal_view', {'proposal' : proposal.cloned.id}) }}"
               class="app-link__table-button app-detailed__button--red app-line--align btn app-proposal-logs__button app-proposal-logs__button--blue app-proposal-logs__button--indent">
                Go to original Proposal
            </a>

        {% endif %}

    {% elseif log.message == 'Proposal was sent via email.' %}

        <a href="{{ path('admin_letter_detail', {'letter' : log.letter.id}) }}" target="_blank"
           class="app-link__table-button app-line--align btn app-proposal-logs__button"
           data-toggle="modal">
            View letter
        </a>

    {% elseif log.message == 'Proposal was rejected by client.'
        and proposal.status.alias not in ['services_discarded', 'workorder_created', 'deleted', 'replaced']
        and proposal.frozen.frozenServices | length != 0 %}

        <a href="#" data-target="#leaveCommentModalDiscardAllRepairs" data-toggle="modal"
           class="app-link__table-button app-detailed__button--red app-line--align btn link-preventDefault app-proposal-logs__button app-proposal-logs__button--red">
            Discard all Repairs
        </a>

    {% elseif log.message == "Proposal was added to Workorder" %}

        <a href="{{ path('admin_workorder_view', {'workorder' : workorder.id}) }}" target="_blank"
           class="app-link__table-button app-line--align btn app-proposal-logs__button"
           data-toggle="modal">
            Go to Workorder page
        </a>

    {% elseif log.message in ["Proposal was replaced"] %}

        <a href="{{ path('admin_repair_proposal_view', {'proposal' : proposal.clone.id}) }}"
           class="app-link__table-button app-detailed__button--red app-line--align btn app-proposal-logs__button app-proposal-logs__button--blue">
            Go to new Proposal
        </a>

    {% elseif log.message in ['This Proposal was created to replace another one'] %}

        <a href="{{ path('admin_repair_proposal_view', {'proposal' : proposal.cloned.id}) }}"
           class="app-link__table-button app-detailed__button--red app-line--align btn app-proposal-logs__button app-proposal-logs__button--blue app-proposal-logs__button--indent">
            Go to original Proposal
        </a>

    {% elseif log.message == 'Call needed!'
        and proposal.status.alias not in ['deleted', 'reset_services_to_next_time', 'workorder_created', 'replaced'] %}

        <a href="#" data-target="#callCommentModal" data-toggle="modal"
           class="app-link__table-button app-detailed__button--red app-line--align btn link-preventDefault app-proposal-logs__button app-proposal-logs__button--{{ log | is_use_action ? 'blue' : 'red' }}">
            Client was called
        </a>

    {% endif %}
</td>