<td class="app-proposal-logs__button-container">
    {% if log.message in ['This Retest Notice was created to replace another one', 'Retest Notice was created']
        and proposal.status.alias not in ['deleted', 'reset_services_to_next_time', 'workorder_created', 'replaced'] %}

        {% if (not proposal.isFrozen and proposal.servicesCount == 0) or (proposal.isFrozen and proposal.frozen.frozenServices | length == 0) %}
            <a href="#"
               class="app-link__table-button app-proposal-logs__button--{{ log | is_use_action('mail') ? 'blue' : 'red' }} app-line--align btn app-proposal-logs__button link-preventDefault app-proposal-logs__button--align-left"
               data-toggle="modal"
               data-target="#blockSentMailEmailModal">
                Send via email
            </a>
        {% else %}
            {% if proposal.frozen %}
                <a href="{{ proposal.frozen.recipient.contactPerson.ownerEntity.email ? path('admin_letter_proposal', {'proposal' : proposal.id}) : '#' }}"
                   data-empty-email="{{ proposal.frozen.recipient.contactPerson.ownerEntity.email ? 'false' : 'true' }}"
                   class="sendEmail app-link__table-button app-proposal-logs__button--{{ log | is_use_action('email') ? 'blue' : 'red' }} app-line--align btn app-proposal-logs__button"
                   data-toggle="modal" data-target="">
                    Send via email
                </a>
            {% else %}
                <a href="{{ proposal.recipient.contactPerson.email ? path('admin_letter_proposal', {'proposal' : proposal.id}) : '#' }}"
                   data-empty-email="{{ proposal.recipient.contactPerson.email ? 'false' : 'true' }}"
                   class="sendEmail app-link__table-button app-proposal-logs__button--{{ log | is_use_action('email') ? 'blue' : 'red' }} app-line--align btn app-proposal-logs__button"
                   data-toggle="modal" data-target="">
                    Send via email
                </a>
            {% endif %}
        {% endif %}

        <a href="#"
           class="app-link__table-button app-proposal-logs__button--{{ log | is_use_action('mail') ? 'blue' : 'red' }} app-line--align btn link-preventDefault app-proposal-logs__button app-proposal-logs__button--align-left app-proposal-logs__button--indent"
           data-toggle="modal"
           data-target="{% if proposal.servicesCount == 0 %}#blockSentMailEmailModal{% else %}#sentMailModal{% endif %}">
            Notice was sent via Mail
        </a>

        {% if log.message in ['This Retest Notice was created to replace another one'] %}
            <a href="{{ path('admin_retest_proposal_view', {'proposal' : proposal.cloned.id}) }}"
               class="app-link__table-button app-detailed__button--red app-line--align btn app-proposal-logs__button app-proposal-logs__button--blue app-proposal-logs__button--indent">
                Go to original Retest Notice
            </a>
        {% endif %}

    {% elseif log.message in ['Letter was sent', 'Email reminder was sent', 'Past due email reminder was sent'] %}

        <a href="{{ path('admin_letter_detail', {'letter' : log.letter.id}) }}" target="_blank"
           class="app-link__table-button app-line--align btn app-proposal-logs__button"
           data-toggle="modal">
            View letter
        </a>

    {% elseif log.message == 'Call needed!'
        and proposal.status.alias not in ['deleted', 'reset_services_to_next_time', 'workorder_created', 'replaced'] %}

        <a href="#" data-target="#callCommentModal" data-toggle="modal"
           class="app-link__table-button app-detailed__button--red app-line--align btn link-preventDefault app-proposal-logs__button app-proposal-logs__button--{{ log | is_use_action ? 'blue' : 'red' }}">
            Client was called
        </a>

    {% elseif log.message == 'Send email reminder!'
        and proposal.status.alias not in ['deleted', 'reset_services_to_next_time', 'workorder_created', 'replaced'] %}

        {% if proposal.frozen %}
            <a href="{{ proposal.frozen.recipient.contactPerson.ownerEntity.email ? path('admin_letter_email_reminder', {'proposal' : proposal.id}) : '#'}}"
               data-empty-email="{{ proposal.frozen.recipient.contactPerson.ownerEntity.email ? 'false' : 'true' }}"
               class="sendEmail app-link__table-button app-line--align btn {{ proposal.frozen.recipient.contactPerson.ownerEntity.email ? ' ' : 'link-preventDefault' }} app-proposal-logs__button app-proposal-logs__button--{{ log | is_use_action ? 'blue' : 'red' }}"
               data-toggle="modal" data-target="">
                Send Email Reminder
            </a>
        {% endif %}

    {% elseif (log.message == 'Rejected by client' or log.message == 'No response from client')
        and proposal.status.alias not in ['reset_services_to_next_time', 'workorder_created', 'deleted', 'replaced']
        and proposal.frozen.frozenServices | length != 0 %}

        <a href="#" data-target="#resetCommentModal" data-toggle="modal"
           class="app-link__table-button app-detailed__button--red app-line--align btn link-preventDefault app-proposal-logs__button app-proposal-logs__button--red">
            Reset Services to Next Time
        </a>

    {% elseif log.message == "Retest Notice was added to Workorder" %}

        <a href="{{ path('admin_workorder_view', {'workorder' : workorder.id}) }}" target="_blank"
           class="app-link__table-button app-line--align btn app-proposal-logs__button"
           data-toggle="modal">
            Go to Workorder page
        </a>

    {% elseif log.message in ["Retest Notice was replaced"] %}

        <a href="{{ path('admin_retest_proposal_view', {'proposal' : proposal.clone.id}) }}"
           class="app-link__table-button app-detailed__button--red app-line--align btn app-proposal-logs__button app-proposal-logs__button--blue">
            Go to new Retest Notice
        </a>

    {% elseif log.message in ['This Retest Notice was created to replace another one'] %}

        <a href="{{ path('admin_retest_proposal_view', {'proposal' : proposal.cloned.id}) }}"
           class="app-link__table-button app-detailed__button--red app-line--align btn app-proposal-logs__button app-proposal-logs__button--blue app-proposal-logs__button--indent">
            Go to original Retest Notice
        </a>

    {% endif %}
</td>