{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}
    <div class="app-main__page-title app-opportunities__header app-wrapper">
        <div class="app-main__page-title-name">Retest Notices</div>
        <div class="app-wrapper">
            <div class="app-common-information__data">{{ quantitiesItems.account }}
                <span class="app-font--small">Accounts</span>
            </div>
            <div class="app-common-information__data">{{ quantitiesItems.notices }}
                <span class="app-font--small">Notices</span>
            </div>
            {#<div class="app-common-information__data">{{ quantitiesItems.services }}
                <span class="app-font--small">Services</span>
            </div>
            <div class="app-common-information__data">{{ quantitiesItems.device }}
                <span class="app-font--small">Devices</span>
            </div>#}
        </div>
    </div>

    {{ include('AdminBundle:Opportunity:flash_messages.html.twig', {"app.session": app.session}) }}

    
    <!--  filters -->
     <div class="app-wrapper app-filter-form app-filter-form--big app-bordered--shadow">
        <div class="app-filter-form__content-container">
            {{ include('AdminBundle:Proposal:filterAll.html.twig', {
                "paginatedProposalList": paginatedProposalList,
                "divisions": divisions,
                "proposalStatuses": proposalStatuses,
                "clientTypes": clientTypes,
                "filters": filters,
                "forAccount": false
            }) }}
        </div>
        <div class="app-filter-form__button-container app-filter-form__button-container--top app-filter-form__button--indent">
            <a href="#" class="app-detailed__button app-opportunities-table-filter__button app-detailed__button--red btn" data-toggle="modal" data-target="#recreateRNReports">Recreate Reports</a>
        </div>
    </div>
    <!--  filters -->

        {% if paginatedProposalList.results is defined and paginatedProposalList.results | length %}
            <table class="table app-data__table app-notice-list app-bordered--shadow app-data__table-haveFilter" data-selector="without-first-devider">
                <thead>
                <tr class="app-color--inactive">
                    <th>Ref. ID</th>
                    <th colspan="2">Division</th>
                    <th>Days Till Due</th>
                    <th>Earliest Due Date</th>
                    <th>Inspections</th>
                    <th>Devices</th>
                    <th>Sites</th>
                    <th>Total Fee</th>
                    <th></th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody >
                <!--account row-->
                {% for account in paginatedProposalList.results %}
                    <tr class="app-devider-row">
                        <td colspan="11"></td>
                    </tr>
                    <tr>
                        <td colspan="11" class="app-account-row">
                            <div class="app-detailed__info app-wrapper app-wrapper--content-start">
                                <img class="app-account-site__name {{ account.account.deleted ? 'app-deleted' : '' }}"
                                    src="{{  account.account.type.alias == 'group account'
                                        ? '/bundles/admin/dist/images/group_site.svg'
                                        : '/bundles/admin/dist/images/site.svg' }}">
                                <div class="app-font--medium app-font--bold">
                                    <a class="app-link__select app-link__title {{ account.account.deleted ? 'app-deleted' : '' }}" href="{{ path('admin_account_get', {'accountId': account.account.id}) }}"
                                        data-original-title="" title="">{{ account.account.name }}</a>
                                    <span class="app-color--inactive app-font--medium-s app-line--right-text {{ account.account.deleted ? 'app-deleted' : '' }}"> - {{ account.account.address | address }}</span>
                                    {% set labelClass = ' label-success' %}
                                    {% if account.account.clientType.alias == 'inactive' %}
                                        {% set labelClass = ' label-danger' %}
                                    {% elseif account.account.clientType.alias == 'special_discount'%}
                                        {% set labelClass = ' label-warning' %}
                                    {% elseif account.account.clientType.alias == 'potential'%}
                                        {% set labelClass = ' label-primary' %}
                                    {% endif %}
                                    <span class="label {{ labelClass }} app-label app-opportunities__label {{ account.account.deleted ? 'app-deleted' : '' }}">{{ account.account.clientType.name }}</span>
                                    {% if account.account.deleted %}<span class="label  label-danger app-label app-opportunities__label">Deleted</span>{% endif %}
                                </div>
                            </div>
                        </td>
                    </tr>
                    <!--end account row-->

                    <!--service row-->
                    {% for proposal in account.proposal %}
                        <tr class="">
                            <td class="app-font--uppercase app-notice-list__id">{{ proposal.referenceId }}</td>
                            <td class="app-no-padding--right app-notice-list__division">
                                <img src="/bundles/admin/dist/images/{{ proposal.division.icon }}">
                            </td>
                            <td class="app-link__title app-color--active app-no-padding--left app-word-breack">
                                <a href="{{ path('admin_'~ proposal.type.alias ~'_proposal_view', {'proposal' : proposal.id}) }}" target="_blank" class="app-link__select">
                                    {{ proposal.division.name }} Retest Notice
                                </a>
                            </td>
                            {% if proposal.earliestDueDate | date_difference < 0 and proposal.status.alias not in ['deleted', 'workorder_created', 'reset_services_to_next_time', 'replaced'] %}
                                <td class="app-color--warning">
                                {{ proposal.earliestDueDate | date_difference }}
                            {% elseif proposal.earliestDueDate | date_difference == 0 %}
                                <td class="app-color--green">
                                    TODAY
                            {% else %}
                                <td>
                                    {{ proposal.earliestDueDate | date_difference }}
                            {% endif %}
                            </td>

                            {% if proposal.earliestDueDate | date_difference < 0 and proposal.status.alias not in ['deleted', 'workorder_created', 'reset_services_to_next_time', 'replaced'] %}
                                <td class="app-color--warning">
                            {% elseif proposal.earliestDueDate | date_difference == 0 %}
                                <td class="app-color--green">
                            {% else %}
                                <td>
                            {% endif %}
                                {{ proposal.earliestDueDate | date('m/d/Y') }}
                            </td>
                            <td>{{ proposal.servicesCount }}</td>
                            <td>{{ proposal.devicesCount }}</td>
                            <td>{{ proposal.sitesCount }}</td>
                            <td> ${{ proposal.serviceTotalFee | money_format }}
                            </td>
                            <td></td>
                            <td>
                                <span class="app-service-label {{ proposal.status.cssClass }}">{{ proposal.status.name }}</span>
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                <!--end service row-->

                </tbody>
            </table>

        {% else %}
            <div class="app-data__not-found app-bordered--shadow">No Retest Notices</div>
        {% endif %}

    {% if paginatedProposalList.results is defined and paginatedProposalList.pagesCount > 1 %}
        <div class="pagination  app-bordered--shadow">
            <a class="app-pagination-arrow{{ paginatedProposalList.currentPage == 1 ? ' disabled' : '' }}" href="{{ path('admin_proposal_list', {
                'page' : paginatedProposalList.currentPage - 1,
                'division' : filters.division is defined ? filters.division : '',
                'clientType' : filters.clientType is defined ? filters.clientType : '',
                'status' : filters.status is defined ? filters.status : '',
                'date' : filters.date is defined ? filters.date : '',
                'pagerCount' : filters.pagerCount is defined ? filters.pagerCount : '',
            }) }}">«</a>
            {% for i in range(1, paginatedProposalList.pagesCount) %}
                <a {% if paginatedProposalList.currentPage == i %} class="app-active-page" {% endif %} href="{{ path('admin_proposal_list', {
                    'page' : i,
                    'division' : filters.division is defined ? filters.division : '',
                    'status' : filters.status is defined ? filters.status : '',
                    'clientType' : filters.clientType is defined ? filters.clientType : '',
                    'date' : filters.date is defined ? filters.date : '',
                    'pagerCount' : filters.pagerCount is defined ? filters.pagerCount : '',
                }) }}">{{ i }}</a>
            {% endfor %}
            <a class="app-pagination-arrow{{ paginatedProposalList.currentPage == paginatedProposalList.pagesCount ? ' disabled' : '' }}" href="{{ path('admin_proposal_list', {
                'page' : paginatedProposalList.currentPage + 1,
                'division' : filters.division is defined ? filters.division : '',
                'clientType' : filters.clientType is defined ? filters.clientType : '',
                'status' : filters.status is defined ? filters.status : '',
                'date' : filters.date is defined ? filters.date : '',
                'pagerCount' : filters.pagerCount is defined ? filters.pagerCount : '',
            }) }}">»</a>
        </div>
    {% endif %}

    <!-- Modal -->
		{{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
			'modalId' : 'recreateRNReports',
			'message' : 'Are you sure you would like to recreate reports?',
            'buttonYesHref' :  path('admin_recreate_retest_notices_report', {'division': filters.division is defined ? filters.division : '', 'clientType': filters.clientType is defined ? filters.clientType : '', 'status': filters.status is defined ? filters.status : '', 'date': filters.date is defined ? filters.date : '', 'pagerCount': filters.pagerCount is defined ? filters.pagerCount : ''}),
            'oneClick' : 'Yes'
		}) }}
        {{ include('AdminBundle:layouts/dialogs:infoDialog.html.twig', {
            'modalId' : 'sendMailsError',
            'message' : 'Please filter Retest Notices by due dates before using Send via Mails.'
        }) }}

{% endblock %}