{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}
    <div class="app-main__page-title app-wrapper">
        <div class="app-main__page-title-name">
            Editing General Proposal Information
        </div>
    </div>
    <div class="app-form app-form--flex app-form--bordered">
        <div class="app-form-header">General Proposal Information</div>
        {{ form_start(form, {'attr': {'class':'app-form--wide', 'autocomplete': 'off', 'id' : 'editGeneralProposalInfo'}}) }}
        {% if proposal.type.alias in ['retest', 'repair'] %}
            <div class="app-wrapper">
                <div class="app-view--max-width">
                    <div class="app-proposal-add__main-titles">Not included:</div>
                    <div class="app-proposal-current-deficiency__container content-account">
                        <table class="table app-proposal-add-deficiency__table-list app-view--max-width app-data__table">
                            <tbody>
                            {% for key, item in form.notIncludedItems %}
                                {% set notIncluded = form.notIncludedItems.vars.choices[key].data %}
                                <tr>
                                    <td>
                                        {{ form_widget(item, {'attr' : {'class' : 'app-checkbox-input', 'hidden' : 'hidden'}}) }}
                                        <label class="app-checkbox-label" for="{{ item.vars.id }}">{{ notIncluded.name }}</label>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="app-wrapper">
            <div class="app-view--max-width">
                <div class="app-proposal-add__main-titles">Payment Terms:</div>
                <div class="app-service-form__text-field form-control">{{ proposal.account.paymentTerm ? proposal.account.paymentTerm.name : '' }}</div>
            </div>
        </div>
        {% if proposal.type.alias in ['retest', 'repair'] %}
            <div class="app-wrapper">
                <div class="app-view--max-width">
                    <div class="app-proposal-add__main-titles">Additional Comments:</div>
                    <div>
                        {{ form_widget(form.additionalComment, { 'attr' : {'class' : 'app-form__textarea--small form-control mozilla-input', 'placeholder': 'Comment'}}) }}
                        {{ form_errors(form.additionalComment) }}
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="app-wrapper">
            <div class="app-view--max-width">
                <div class="app-proposal-add__main-titles">Internal Comments:</div>
                <div>
                    {{ form_widget(form.internalComments, { 'attr' : {'class' : 'app-form__textarea--small form-control mozilla-input', 'placeholder': 'Comment'}}) }}
                    {{ form_errors(form.internalComments) }}
                </div>
            </div>
        </div>
        {% if proposal.type.alias in ['retest', 'repair'] %}
            <div class="app-wrapper">
                <div class="app-view--max-width">
                    <div class="app-proposal-add__main-titles">Additional Cost Comment:</div>
                    <div>
                        {{ form_widget(form.additionalCostComment, { 'attr' : {'class' : 'app-form__textarea--small form-control mozilla-input', 'placeholder': 'Comment'}}) }}
                        {{ form_errors(form.additionalCostComment) }}
                    </div>
                </div>
            </div>
        {% endif %}
        {% if proposal.type.alias in ['retest', 'repair'] %}
            <div class="app-wrapper">
                <div class="app-form-input--medium form-group">
                    {{ form_label(form.afterHoursWorkCost, 'After Hours Work Cost:', { 'label_attr': {'class': 'app-proposal-add__main-titles'} }) }}
                    {{ form_widget(form.afterHoursWorkCost, { 'attr' : {'class' : 'form-control mozilla-input ui-autocomplete-input app-validation-currency', 'placeholder': '$0'}}) }}
                    {{ form_errors(form.afterHoursWorkCost) }}
                </div>
                <div class="app-form-input--medium form-group">
                    {{ form_label(form.discount, 'Discount:', { 'label_attr': {'class': 'app-proposal-add__main-titles'} })}}
                    {{ form_widget(form.discount, { 'attr' : {'class' : 'form-control mozilla-input ui-autocomplete-input app-validation-currency', 'placeholder': '$0'}}) }}
                    {{ form_errors(form.discount) }}
                </div>
            </div>
            <div class="app-wrapper">
                <div class="app-form-input--medium form-group">
                    {{ form_label(form.additionalCost, 'Additional Cost:', { 'label_attr': {'class': 'app-proposal-add__main-titles'} }) }}
                    {{ form_widget(form.additionalCost, { 'attr' : {'class' : 'form-control mozilla-input ui-autocomplete-input app-validation-currency', 'placeholder': '$0'}}) }}
                    {{ form_errors(form.additionalCost) }}
                </div>
            </div>
        {% endif %}
        <div class="app-form-button--right">
            <button type="submit" id="editing_general_proposal_information" class="app-form-button btn ">SAVE</button>
            {% if proposal.type.alias in ['retest', 'repair'] %}
                <a href="{{ path('admin_repair_proposal_view', {'proposal' : proposal.id}) }}" class="app-form-button app-form-button--grey app-form-button--indent btn">CANCEL</a>
            {% elseif proposal.type.alias == 'custom' %}
                <a href="{{ path('admin_custom_proposal_view', {'proposal' : proposal.id}) }}" class="app-form-button app-form-button--grey app-form-button--indent btn">CANCEL</a>
            {% endif %}
        </div>
        {{ form_end(form) }}
    </div>

    <!-- Modal -->
    {{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
        'modalId' : 'editGeneralProposalInfoModal',
        'message' : 'Are you sure you want to edit General Proposal Information?',
        'dataSubmit' : 'Yes'
    }) }}

    {{ include('AdminBundle:layouts/dialogs:infoDialog.html.twig', {
        'modalId' : 'noUpdateModal'
    }) }}
{% endblock %}