{% block body %}
    <div class="app-wrapper">
        <div class="app-proposal__main-info">
            <div class="app-detailed__wrapper heightDetector">
                <div class="app-proposal-main-info__container app-wrapper">
                    <div class="app-proposal-main-info__block-separator">
                        <div class="app-proposal-device app-detailed__info">
                            <div class="app-wrapper app-wrapper--content-start">
                                <div class="app-proposal-device-icon app-proposal-device-icon--device  app-wrapper"
                                     style="background-image: url('{{ asset('bundles/admin/dist/images/'~proposal.division.icon) }}')"></div>
                                <div class="app-proposal-device-titles">
                                    <div class="app-detailed__info__data-id app-device__info__data-id app-color--inactive">
                                       Ref. ID - {{ proposal.referenceId }}
                                    </div>
                                    <div class="app-detailed__info__data-title app-cut-string">
                                        {% if proposal.type.alias == 'custom' %}
                                            Custom {{ proposal.division.name }} Proposal
                                        {% elseif proposal.type.alias == 'retest' %}
                                            {{ proposal.division.name }} Retest Notice
                                        {% else %}
                                            {{ proposal.division.name }} Proposal
                                        {% endif %}
                                    </div>
                                    {% if proposal.type.alias == 'retest' %}
                                        <div class="app-detailed__info__data-id app-device__info__data-id app-proposal-device-titles__date--bottom-indent app-color--inactive">
                                            <span class="app-proposal-device-titles__date--width">
                                                Earliest Due Date:
                                            </span>
                                            <span class="app-color--white app-line--padding-right app-proposal-device-titles__date">{{ proposal.earliestDueDate | date('m/d/Y') }}</span>
                                        </div>
                                        <div class="app-detailed__info__data-id app-device__info__data-id app-proposal-device-titles__date--bottom-indent app-color--inactive">
                                            <span class="app-proposal-device-titles__date--width">
                                                Date Created:
                                            </span>
                                            <span class="app-color--white app-line--padding-right app-proposal-device-titles__date">{{ proposal.dateCreate | date('m/d/Y') }}</span>
                                        </div>
                                        <div class="app-detailed__info__data-id app-device__info__data-id app-proposal-device-titles__date--bottom-indent app-color--inactive">
                                            <span class="app-proposal-device-titles__date--width">
                                                Total Estimated Time:
                                            </span>
                                            <span class="app-color--white app-line--padding-right app-proposal-device-titles__date">
                                                {% if proposal.totalEstimationTime is defined and proposal.totalEstimationTime %}
                                                    {{ proposal.totalEstimationTime }} {% if proposal.totalEstimationTime <= 1 %} work hour {% else %} work hours {% endif %}
                                                {% else %}
                                                    -
                                                {% endif %}
                                            </span>
                                        </div>
                                    {% else %}
                                        <div class="app-detailed__info__data-id app-device__info__data-id app-proposal-device-titles__date--bottom-indent app-color--inactive">
                                        <span class="app-proposal-device-titles__date--width">
                                            Date Created:
                                        </span>
                                            <span class="app-color--white app-line--padding-right app-proposal-device-titles__date">{{ proposal.dateCreate | date('m/d/Y') }}</span>
                                        </div>
                                    {% endif %}
                                    {% if proposal.type.alias != 'retest' %}
                                        <div class="app-detailed__info__data-id app-device__info__data-id app-proposal-device-titles__date--bottom-indent app-color--inactive">
                                            <span class="app-proposal-device-titles__date--width">
                                                Created by:
                                            </span>
                                            <span class="app-color--white app-line--padding-right app-proposal-device-titles__date">{{ proposal.creator.user.firstName }} {{ proposal.creator.user.lastName }}</span>
                                        </div>
                                    {% endif %}
                                    <div class="app-detailed__info__data-id app-device__info__data-id app-proposal-device-titles__date--bottom-indent">
                                        <span class="app-proposal-device-titles__date--width app-color--inactive">Status:</span>
                                        <span class="app-service-label {{ proposal.status.cssClass }}">{{ proposal.status.name }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="primary-account-block">
                            <h1 class="app-proposal-main-info__title app-proposal-main-info__title--regarding app-color--inactive">Regarding property</h1>
                            <div class="app-proposal-account app-detailed__info">
                                <div class="app-wrapper app-wrapper--content-start">
                                    <div
                                            class="app-proposal-device-icon app-proposal-device-icon--account app-proposal-account__icon app-wrapper"
                                            style="background-image: url('{{ asset('bundles/admin/dist/images/'~((proposal.account.type.alias == 'account') ? 'site.svg' : 'group_site.svg')) }}')"></div>
                                    <div class="app-proposal-device-titles">
                                        <div class="app-detailed__info__data-id app-device__info__data-id app-color--inactive">
                                            {{ proposal.account.type.alias == 'group account' ? 'Group Account ID' : 'Site Account ID' }} - {{ proposal.account.id }}
                                        </div>
                                        <div class="app-proposal-account__title app-cut-string">
                                            <a href="{{ path('admin_account_get', { 'accountId': proposal.account.id }) }}"
                                               class="app-link__select app-link__title app-contact-list__contact-name app-line--right-text">{{ proposal.account.name }}</a>
                                            {% if proposal.account.specialDiscount %}<span class="label label-warning">Special Discount</span>{% endif %}
                                        </div>
                                        <div class="app-detailed__info__data-id app-device__info__data-id">
                                            {{ proposal.account.address | address }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="app-proposal-main-info__block-separator">
                        {% if proposal.recipient %}
                            <div class="primary-account-block">
                                <h1 class="app-proposal-main-info__title app-proposal-main-info__title--recipient app-color--inactive">Message Recipient (Account Authorizer)</h1>
                                <div class="primary-account-block__separator">
                                    <div class="primary-account-block__separator">
                                        <div class="primary-account-block__separator__content app-proposal-person--width">
                              <span>
                              <img class="app-contact-list__contact-icon mCS_img_loaded"
                                   src="{{ asset('bundles/admin/dist/images/contact.svg') }}"
                                   alt="image contact">
                              <a class="app-link__select app-link__title app-contact-list__contact-name app-line--right-text"
                                 target="_blank" href="{{ path('admin_contact_person_get', {'contactPerson' : proposal.recipient.contactPerson.id}) }}">{{ proposal.recipient.contactPerson.firstName~' '~proposal.recipient.contactPerson.lastName }}</a>
                                </span>
                                        </div>
                                        <div class="primary-account-block__separator__content app-proposal-person--width app-proposal-person--bottom-indent">
                                            <div class="app-line--colored">
                                                    <span class="{{ proposal.recipient.deleted is defined and proposal.recipient.deleted ? 'app-deleted' : ''}}">
                                                    {% if proposal.recipient.contactPerson.title %}
                                                        {{ proposal.recipient.contactPerson.title}} at
                                                    {% else %}
                                                        <span class="app-color--inactive"> No title at</span>
                                                    {% endif %}
                                                    </span>
                                                <span>
                                                      <img class="app-contact-list__company-icon"
                                                           src="{{ asset('bundles/admin/dist/images/company.svg') }}"
                                                           alt="image contact">
                                                    {% if proposal.recipient.contactPerson.company %}
                                                        <a class="app-link__select app-weight--bold app-line--right-text" target="_blank" href="{{ path('admin_company_get', {'company': proposal.recipient.contactPerson.company.id}) }}">
                                                            {{ proposal.recipient.contactPerson.company.name }}
                                                        </a>
                                                    {% else %}
                                                        <span class="app-color--inactive">No Company selected</span>
                                                    {% endif %}
                                                    </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="primary-account-block__separator">
                                        <div class="primary-account-block__separator__content primary-account-block__separator__content_phone app-proposal-person--width app-proposal-person--bottom-indent">
                                            <div class="app-contact-main__line{{ proposal.recipient.contactPerson.phone ? '' : ' app-color--inactive' }}">
                                                <div class="sprite sprite--phone"></div>
                                                <div class="app-contact-main__line-text">
                                                    {{ (proposal.recipient.contactPerson.phone) ? proposal.recipient.contactPerson.phone | phone : 'No Phone' }}
                                                    {% if proposal.recipient.contactPerson.phone and proposal.recipient.contactPerson.ext %}
                                                        <span class="app-line--padding-left">
                                                                <span class="app-color--inactive">Ext.:</span>
                                                            {{ proposal.recipient.contactPerson.ext }}
                                                            </span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="app-contact-main__line{{ proposal.recipient.contactPerson.cell ? '' : ' app-color--inactive' }}">
                                                <div class="sprite sprite--mobile"></div>
                                                <div class="app-contact-main__line-text 5672440987">
                                                    {{ (proposal.recipient.contactPerson.cell) ? proposal.recipient.contactPerson.cell | phone : 'No Cell' }}
                                                </div>
                                            </div>
                                            <div class="app-contact-main__line{{ proposal.recipient.contactPerson.fax ? '' : ' app-color--inactive' }}">
                                                <div class="sprite sprite--fax"></div>
                                                <div class="app-contact-main__line-text 3437774444">
                                                    {{ (proposal.recipient.contactPerson.fax) ? proposal.recipient.contactPerson.fax | phone : 'No Fax' }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="primary-account-block__separator__content app-proposal-person--width">
                                            <div class="app-contact-main__line{{ proposal.recipient.sendingAddress is defined and proposal.recipient.sendingAddress | address ? '' : ' app-color--inactive' }}">
                                                <div class="sprite sprite--mail"></div>
                                                <div class="app-contact-main__line-text app-cut-string">
                                                    {% if proposal.recipient.sendingAddress is defined and proposal.recipient.sendingAddress | address %}
                                                        {{ proposal.recipient.sendingAddress | address }} ({{ proposal.recipient.sendingAddress.addressType.name }})
                                                    {% else %}
                                                        No Address (Personal Address)
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="app-contact-main__line{{ proposal.recipient.contactPerson.email ? '' : ' app-color--inactive' }}">
                                                <div class="sprite sprite--dog"></div>
                                                <div class="app-contact-main__line-text app-cut-string ">
                                                    {% if proposal.recipient.contactPerson.email %}
                                                        <a href="{{ "mailto:" ~ proposal.recipient.contactPerson.email }}" class="app-link__select">{{ proposal.recipient.contactPerson.email }}</a>
                                                    {% else %}
                                                        No Email
                                                    {% endif %}

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <div class="primary-account-block app-proposal-person__button-container">
                            <a href="{{ path('admin_contact_person_proposal_list', {'contact': proposal.recipient.contactPerson.id}) }}" class="app-detailed__button app-detailed__button--red btn app-proposal-person__button">View other person related RN/PP</a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="app-detailed__button-container">
                {% if proposal.status.alias not in ['reset_services_to_next_time', 'workorder_created', 'deleted'] %}
                    <a href="#" data-target="#leaveCommentModalDelete" data-toggle="modal" class="app-detailed__button app-detailed__button--red app-detailed__button--shadow btn">
                        Delete
                    </a>

                    {% if proposal.type.alias != 'custom' %}
                        <a href="#" data-target="#leaveCommentModalRjected" data-toggle="modal" class="app-detailed__button app-detailed__button--shadow app-detailed__button--{{ proposal.status.alias not in ['rejected_by_client', 'services_discarded'] ? 'red' : 'blue' }} btn">
                            Rejected by client
                        </a>
                    {% else %}
                        <a href="#" data-target="#leaveCommentModalRjected" data-toggle="modal" class="app-detailed__button app-detailed__button--shadow app-detailed__button--{{ proposal.status.alias != 'rejected_by_client' ? 'red' : 'blue' }} btn">
                            Rejected by client
                        </a>
                    {% endif %}

                    {% if not proposal.workorder and proposal.servicesCount > 0 %}
                        <a href="#" data-toggle="modal" class="app-detailed__button app-detailed__button--blue app-detailed__button--shadow btn" data-target='#addProposalToWO' }}>
                            Add to Workorder
                        </a>
                    {% endif %}
                {% endif %}
                <a href="{{ proposal.isFrozen ? path('admin_view_proposal_pdf', {'name' : proposal.report}) : path('admin_view_pdf', {'proposal' : proposal.id}) }}" target="_blank" class="app-detailed__button app-detailed__button--blue app-detailed__button--shadow btn">View PDF</a>
            </div>
        </div>
        <div class="app-proposal__logs">
            <div class="app-detailed__addition__content">
                {{ include('@Admin/Proposal/proposal_log.html.twig') }}
            </div>
        </div>
    </div>

    {{ include('AdminBundle:Opportunity:flash_messages.html.twig', {"app.session": app.session}) }}

{% endblock %}