{% block body %}
    <div class="app-wrapper">
        <div class="app-proposal__main-info">
            <div class="app-detailed__wrapper heightDetector">
                <div class="app-proposal-main-info__container app-wrapper">
                    <div class="app-proposal-main-info__block-separator">
                        <div class="app-proposal-device app-detailed__info">
                            <div class="app-wrapper app-wrapper--content-start">
                                <div class="app-proposal-device-icon app-proposal-device-icon--device  app-wrapper"
                                     style="background-image: url('{{ asset('bundles/admin/dist/images/'~proposal.division.icon) }}')"></div>
                                <div class="app-proposal-device-titles">
                                    <div class="app-detailed__info__data-id app-device__info__data-id app-color--inactive">
                                        Ref. ID - {{ proposal.referenceId }}
                                    </div>
                                    <div class="app-detailed__info__data-title app-cut-string">
                                        {% if proposal.type.alias == 'custom' %}
                                            Custom {{ proposal.division.name }} Proposal
                                        {% elseif proposal.type.alias == 'retest' %}
                                            {{ proposal.division.name }} Retest Notice
                                        {% else %}
                                            {{ proposal.division.name }} Proposal
                                        {% endif %}
                                    </div>
                                    {% if proposal.type.alias == 'retest' %}
                                        <div class="app-detailed__info__data-id app-device__info__data-id app-proposal-device-titles__date--bottom-indent app-color--inactive">
                                        <span class="app-proposal-device-titles__date--width">
                                            Earliest Due Date:
                                        </span>
                                            <span class="app-color--white app-line--padding-right app-proposal-device-titles__date">{{ proposal.earliestDueDate | date('m/d/Y') }}</span>
                                        </div>
                                        <div class="app-detailed__info__data-id app-device__info__data-id app-proposal-device-titles__date--bottom-indent app-color--inactive">
                                        <span class="app-proposal-device-titles__date--width">
                                            Date Created:
                                        </span>
                                            <span class="app-color--white app-line--padding-right app-proposal-device-titles__date">{{ proposal.dateCreate | date('m/d/Y') }}</span>
                                        </div>
                                        <div class="app-detailed__info__data-id app-device__info__data-id app-proposal-device-titles__date--bottom-indent app-color--inactive">
                                            <span class="app-proposal-device-titles__date--width">
                                                Total Estimated Time:
                                            </span>
                                            <span class="app-color--white app-line--padding-right app-proposal-device-titles__date">
                                                {% if proposal.totalEstimationTime is defined and proposal.totalEstimationTime %}
                                                    {{ proposal.totalEstimationTime }} {% if proposal.totalEstimationTime <= 1 %} work hour {% else %} work hours {% endif %}
                                                {% else %}
                                                    -
                                                {% endif %}
                                            </span>
                                        </div>
                                    {% else %}
                                        <div class="app-detailed__info__data-id app-device__info__data-id app-proposal-device-titles__date--bottom-indent app-color--inactive">
                                        <span class="app-proposal-device-titles__date--width">
                                            Date Created:
                                        </span>
                                            <span class="app-color--white app-line--padding-right app-proposal-device-titles__date">{{ proposal.earliestDueDate | date('m/d/Y') }}</span>
                                        </div>
                                    {% endif %}
                                    {% if proposal.type.alias != 'retest' %}
                                        <div class="app-detailed__info__data-id app-device__info__data-id app-proposal-device-titles__date--bottom-indent app-color--inactive">
                                            <span class="app-proposal-device-titles__date--width">
                                                Created by:
                                            </span>
                                            <span class="app-color--white app-line--padding-right app-proposal-device-titles__date">{{ proposal.frozen.creator.user.firstName }} {{ proposal.frozen.creator.user.lastName }}</span>
                                        </div>
                                    {% endif %}
                                    <div class="app-detailed__info__data-id app-device__info__data-id app-proposal-device-titles__date--bottom-indent">
                                        <span class="app-proposal-device-titles__date--width app-color--inactive">Status:</span>
                                        <span class="app-service-label {{ proposal.status.cssClass }}">{{ proposal.status.name }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="primary-account-block">
                            <h1 class="app-proposal-main-info__title app-proposal-main-info__title--regarding app-color--inactive">Regarding property</h1>
                            <div class="app-proposal-account app-detailed__info">
                                <div class="app-wrapper app-wrapper--content-start">
                                    <div
                                            class="app-proposal-device-icon app-proposal-device-icon--account app-proposal-account__icon app-wrapper"
                                            style="background-image: url('{{ asset('bundles/admin/dist/images/'~((proposal.frozen.account.type.alias == 'account') ? 'site.svg' : 'group_site.svg')) }}')"></div>
                                    <div class="app-proposal-device-titles">
                                        <div class="app-detailed__info__data-id app-device__info__data-id app-color--inactive">
                                            {{ proposal.frozen.account.type.alias == 'group account' ? 'Group Account ID' : 'Site Account ID' }} - {{ proposal.frozen.account.ownerEntity.id }}
                                        </div>
                                        <div class="app-proposal-account__title app-cut-string">
                                            <a href="{{ path('admin_account_get', { 'accountId': proposal.frozen.account.ownerEntity.id }) }}"
                                               class="app-link__select app-link__title app-contact-list__contact-name app-line--right-text">{{ proposal.frozen.account.name }}</a>
                                            {% if proposal.account.specialDiscount %}<span class="label label-warning">Special Discount</span>{% endif %}
                                        </div>
                                        <div class="app-detailed__info__data-id app-device__info__data-id">
                                            {{ proposal.frozen.account.address | address }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="app-proposal-main-info__block-separator">
                        {% if proposal.frozen.recipient %}
                            <div class="primary-account-block">
                                <h1 class="app-proposal-main-info__title app-proposal-main-info__title--recipient app-color--inactive">Message Recipient (Account Authorizer)</h1>
                                <div class="primary-account-block__separator">
                                    <div class="primary-account-block__separator">
                                        <div class="primary-account-block__separator__content app-proposal-person--width">
                              <span>
                              <img class="app-contact-list__contact-icon mCS_img_loaded"
                                   src="{{ asset('bundles/admin/dist/images/contact.svg') }}"
                                   alt="image contact">
                              <a class="app-link__select app-link__title app-contact-list__contact-name app-line--right-text"
                                 target="_blank" href="{{ path('admin_contact_person_get', {'contactPerson' : proposal.frozen.recipient.contactPerson.ownerEntity.id}) }}">{{ proposal.frozen.recipient.contactPerson.ownerEntity.firstName~' '~proposal.frozen.recipient.contactPerson.ownerEntity.lastName }}</a>
                                </span>
                                        </div>
                                        <div class="primary-account-block__separator__content app-proposal-person--width app-proposal-person--bottom-indent">
                                            <div class="app-line--colored">
                                                    <span class="{{ proposal.frozen.recipient.deleted is defined and proposal.frozen.recipient.deleted ? 'app-deleted' : ''}}">
                                                    {% if proposal.frozen.recipient.contactPerson.ownerEntity.title %}
                                                        {{ proposal.frozen.recipient.contactPerson.ownerEntity.title}} at
                                                    {% else %}
                                                        <span class="app-color--inactive"> No title at</span>
                                                    {% endif %}
                                                    </span>
                                                <span>
                                                      <img class="app-contact-list__company-icon"
                                                           src="{{ asset('bundles/admin/dist/images/company.svg') }}"
                                                           alt="image contact">
                                                    {% if proposal.frozen.recipient.contactPerson.ownerEntity.company %}
                                                        <a class="app-link__select app-weight--bold app-line--right-text" target="_blank" href="{{ path('admin_company_get', {'company': proposal.frozen.recipient.contactPerson.ownerEntity.company.id}) }}">
                                                            {{ proposal.frozen.recipient.contactPerson.ownerEntity.company.name }}
                                                        </a>
                                                    {% else %}
                                                        <span class="app-color--inactive">No Company selected</span>
                                                    {% endif %}
                                                    </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="primary-account-block__separator">
                                        <div class="primary-account-block__separator__content primary-account-block__separator__content_phone app-proposal-person--width app-proposal-person--bottom-indent">
                                            <div class="app-contact-main__line{{ proposal.frozen.recipient.contactPerson.ownerEntity.phone ? '' : ' app-color--inactive' }}">
                                                <div class="sprite sprite--phone"></div>
                                                <div class="app-contact-main__line-text">
                                                    {{ (proposal.frozen.recipient.contactPerson.ownerEntity.phone) ? proposal.frozen.recipient.contactPerson.ownerEntity.phone | phone : 'No Phone' }}
                                                    {% if proposal.frozen.recipient.contactPerson.ownerEntity.phone and proposal.frozen.recipient.contactPerson.ownerEntity.ext %}
                                                        <span class="app-line--padding-left">
                                                                <span class="app-color--inactive">Ext.:</span>
                                                            {{ proposal.frozen.recipient.contactPerson.ownerEntity.ext }}
                                                            </span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="app-contact-main__line{{ proposal.frozen.recipient.contactPerson.ownerEntity.cell ? '' : ' app-color--inactive' }}">
                                                <div class="sprite sprite--mobile"></div>
                                                <div class="app-contact-main__line-text 5672440987">
                                                    {{ (proposal.frozen.recipient.contactPerson.ownerEntity.cell) ? proposal.frozen.recipient.contactPerson.ownerEntity.cell | phone : 'No Cell' }}
                                                </div>
                                            </div>
                                            <div class="app-contact-main__line{{ proposal.frozen.recipient.contactPerson.ownerEntity.fax ? '' : ' app-color--inactive' }}">
                                                <div class="sprite sprite--fax"></div>
                                                <div class="app-contact-main__line-text 3437774444">
                                                    {{ (proposal.frozen.recipient.contactPerson.ownerEntity.fax) ? proposal.frozen.recipient.contactPerson.ownerEntity.fax | phone : 'No Fax' }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="primary-account-block__separator__content app-proposal-person--width">
                                            <div class="app-contact-main__line{{ proposal.frozen.recipient.sendingAddress is defined and proposal.frozen.recipient.sendingAddress and proposal.frozen.recipient.sendingAddress.address ? '' : ' app-color--inactive' }}">
                                                <div class="sprite sprite--mail"></div>
                                                <div class="app-contact-main__line-text app-cut-string">
                                                    {% if proposal.frozen.recipient.sendingAddress is defined and proposal.frozen.recipient.sendingAddress %}
                                                        {{ proposal.frozen.recipient.sendingAddress.ownerEntity | address }} ({{ proposal.frozen.recipient.sendingAddress.addressType.name }})
                                                    {% else %}
                                                        (No Address)
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="app-contact-main__line{{ proposal.frozen.recipient.contactPerson.ownerEntity.email ? '' : ' app-color--inactive' }}">
                                                <div class="sprite sprite--dog"></div>
                                                <div class="app-contact-main__line-text app-cut-string ">
                                                    {% if proposal.frozen.recipient.contactPerson.ownerEntity.email %}
                                                        <a href="{{ "mailto:" ~ proposal.frozen.recipient.contactPerson.ownerEntity.email }}" class="app-link__select">{{ proposal.frozen.recipient.contactPerson.ownerEntity.email }}</a>
                                                    {% else %}
                                                        No Email
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="primary-account-block app-proposal-person__button-container">
                                <a href="{{ path('admin_contact_person_proposal_list', {'contact': proposal.frozen.recipient.contactPerson.ownerEntity.id}) }}" class="app-detailed__button app-detailed__button--red btn app-proposal-person__button">View other person related RN/PP</a>
                            </div>
                        {% else %}
                            <div class="app-data__not-found">No Authorizer</div>
                        {% endif %}
                    </div>

                </div>
            </div>
            <div class="app-detailed__button-container app-detailed__button-container--proposal">
                {% if (proposal.status.alias not in ['deleted', 'reset_services_to_next_time', 'workorder_created']) and (proposal.clone is null) %}
                    {% if proposal.type.alias != 'custom' and proposal.frozen.frozenServices | length != 0 and proposal.status.alias not in ['services_discarded'] %}
                        <a href="#" data-target="#leaveCommentModalReplace" data-toggle="modal" class="app-detailed__button app-detailed__button--shadow app-detailed__button--red btn">
                            Replace
                        </a>
                    {% endif %}

                    {% if proposal.status.alias != 'services_discarded' and proposal.workorder is null %}
                        <a href="#" data-target="#leaveCommentModalDelete" data-toggle="modal" class="app-detailed__button app-detailed__button--red app-detailed__button--shadow btn">
                            Delete
                        </a>
                    {% endif %}

                    {% if (proposal.status.alias not in ['deleted', 'services_discarded']) and (proposal.frozen.frozenServices | length != 0) %}
                        <a href="#" data-target="#leaveCommentModalRjected" data-toggle="modal" class="app-detailed__button app-detailed__button--shadow app-detailed__button--{{ proposal.status.alias != 'rejected_by_client' ? 'red' : 'blue' }} btn">
                            Rejected by client
                        </a>
                    {% endif %}

                    {% if proposal.frozen.frozenServices | length != 0 and proposal.status.alias not in ['services_discarded'] %}
                        <a href="#" data-toggle="modal" class="app-detailed__button app-detailed__button--blue app-detailed__button--shadow btn" data-target='#addProposalToWO'>
                            Add to Workorder
                        </a>
                    {% elseif proposal.type.alias == 'custom' and proposal.workorder is null %}
                        <a href="#" data-toggle="modal" class="app-detailed__button app-detailed__button--blue app-detailed__button--shadow btn" data-target='#addCustomProposalToWO'>
                            Add to Workorder
                        </a>
                    {% endif %}
                {% endif %}
                <a href="{{ proposal.isFrozen ? path('admin_view_proposal_pdf', {'name' : proposal.report}) : path('admin_view_pdf', {'proposal' : proposal.id}) }}" target="_blank" class="app-detailed__button app-detailed__button--blue app-detailed__button--shadow btn">View PDF</a>
            </div>
        </div>
        <div class="app-proposal__logs">
            <div class="app-detailed__addition__content">
                {{ include('@Admin/Proposal/proposal_log.html.twig') }}
            </div>
        </div>
    </div>

{% endblock %}