{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}
    {% if proposal.frozen %}
        {% include 'AdminBundle:Proposal:viewFrozenHeader.html.twig' %}
    {% else %}
        {% include 'AdminBundle:Proposal:viewHeader.html.twig' %}
    {% endif %}

    {{ include('AdminBundle:Opportunity:flash_messages.html.twig', {"app.session": app.session}) }}

    <div class="app-data">
        <div class="app-account-site__header">
            <div class="app-color--inactive app-font--bold app-font--large">Included Sites, Devices and Services</div>
        </div>
        {% if proposal.services | length == 0 and (proposal.frozen.frozenServices is not defined or proposal.frozen.frozenServices | length == 0) %}
            <div class="app-data__not-found app-repare-proposal__table app-bordered--shadow">No includes Sites, Devices and Services</div>
        {% else %}
            <table class="table app-data__table app-bordered--shadow app-notice-form__table app-proposal__table app-proposal-table__separator">
                <thead>
                <tr class="app-color--inactive">
                    <th></th>
                    <th colspan="2">Service Name</th>
                    <th>Comments</th>
                    <th>Frequency</th>
                    <th>Inspection Due</th>
                    <th>Service Fee</th>
                    <th>Munic and. Proc. Fee</th>
                    <th>Subtotal Fee</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>

                {% for accountNode in tree %}
                    <tr>
                        <td colspan="7">
                            <div class="app-wrapper">
                                <div class="app-detailed__info app-wrapper">
                                    <div class="app-detailed__info__img app-detailed__info__img--site app-notice-form__table-account-img" style="background-image: url('{{ asset('/bundles/admin/dist/images/'~((accountNode.account.type.alias == 'account') ? 'site.svg' : 'group_site.svg')) }}')"></div>
                                    <div>
                                        <a class="app-link__select app-link__title" href="{{ path('admin_account_get', {'accountId' : accountNode.account.id}) }}" data-original-title="" title="">{{ accountNode.account.name }}</a>
                                        <span class="app-color--inactive"> - {{ accountNode.account.address | address }}</span>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                    {% include '@Admin/Device/row_device_with_inspections.html.twig' with {'deviceCollection': accountNode.devices} %}
                {% endfor %}

                <tr>
                    <td colspan="4" class="app-color--inactive">
                        {% if proposal.isMunicipalityFessWillVary %}
                            * - Municipality fees will vary
                        {% endif %}
                    </td>
                    <td colspan="2" class="app-notice-form__table-total app-color--inactive app-line--align">
                        Total Service Fee:
                    </td>
                    <td class="app-notice-form__table-price app-line--align">${{ proposal.serviceTotalFee | money_format }}</td>
                    <td colspan="1" class="app-notice-form__table-total app-color--inactive app-line--align">
                        Grand Total:
                    </td>
                    <td colspan="2" class="app-notice-form__table-price app-line--align">{{ proposal | get_retest_notice_grand_total }}</td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        {% endif %}
    </div>

    {% include 'AdminBundle:Proposal:viewModals.html.twig' %}
{% endblock %}