{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}
    {% if proposal.frozen %}
        {% include 'AdminBundle:Proposal:viewFrozenHeader.html.twig' %}
    {% else %}
        {% include 'AdminBundle:Proposal:viewHeader.html.twig' %}
    {% endif %}

    <div class="app-data">
        <div class="app-account-site__header">
            <div class="app-color--inactive app-font--bold app-font--large">Included Sites, Devices and Services</div>
        </div>
        <div class="app-data__not-found app-repare-proposal__table app-bordered--shadow"> Please, see custom proposal PDF file</div>
    </div>
    <table class="table app-data__table app-bordered--shadow app-repare-proposal__table">
        <tbody>

        <tr>
            <td></td>
            <td colspan="7" class="app-font--regular">General Proposal Information</td>
            <td class="app-repare-proposal__table-icon">
                <div class="app-repare-proposal__data--indent">
                    {% if proposal.status.priority <= 1 %}
                        <a href="{{ path("admin_update_repair_proposals_info", {'proposal': proposal.id}) }}">
                            <img src="/bundles/admin/dist/images/edit.svg">
                        </a>
                    {% endif %}
                </div>
            </td>
            <td></td>
        </tr>
        <tr class="app-repare-proposal__row--info">
            <td></td>
            <td colspan="4">
                <table class="app-repare-proposal__data--table app-repare-proposal__data--info">
                    {#<tr>#}
                        {#<td>Not Included:</td>#}
                        {#{% set notIncluded = null %}#}
                        {#{% for notInc in proposal.notIncludedItems %}#}
                            {#{% set notIncluded = notIncluded ? notIncluded  ~ ', ' ~  notInc.name : notInc.name %}#}
                        {#{% endfor %}#}
                        {#<td>{{ notIncluded ? notIncluded : '-'}}</td>#}
                    {#</tr>#}
                    <tr>
                        <td>Payment Terms:</td>
                        {% if proposal.frozen %}
                            <td>{{ proposal.frozen.account.paymentTerm ? proposal.frozen.account.paymentTerm.name : '-'  }}</td>
                        {% else %}
                            <td>{{ proposal.account.paymentTerm ? proposal.account.paymentTerm.name : '-'  }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Internal Comments:</td>
                        <td class="{{ proposal.internalComments ? '' : 'app-color--inactive'}}">{{ proposal.internalComments ? proposal.internalComments : 'No Comments'}}</td>
                    </tr>
                    {#<tr>#}
                        {#<td>Additional Comments:</td>#}
                        {#<td class="{{ proposal.additionalComment ? '' : 'app-color--inactive'}}">{{ proposal.additionalComment ? proposal.additionalComment : 'No Comments'}}</td>#}
                    {#</tr>#}
                </table>
            </td>
            {#<td colspan="4">#}
                {#<div class="app-repare-proposal__data--indent">#}
                    {#<table class="app-repare-proposal__data--table app-repare-proposal__data--prices">#}
                        {#<tr>#}
                            {#<td>Total Repairs price:</td>#}
                            {#<td>${{ proposal.allTotalRepairsPrice ? proposal.allTotalRepairsPrice | money_format : '0' }}</td>#}
                        {#</tr>#}

                        {#{% if proposal.serviceTotalFee and proposal.serviceTotalFee > 0 %}#}
                            {#<tr>#}
                                {#<td>Total Inspections Fee:</td>#}
                                {#<td>${{ proposal.serviceTotalFee ? proposal.serviceTotalFee | money_format : '0' }}</td>#}
                            {#</tr>#}
                        {#{% endif %}#}

                        {#<tr>#}
                            {#<td>Total Munic. and Proc. fee:</td>#}
                            {#<td>${{ proposal.allTotalMunicAndProcFee ? proposal.allTotalMunicAndProcFee | money_format : '0' }}</td>#}
                        {#</tr>#}
                        {#<tr>#}
                            {#<td>After Hours Work Cost:</td>#}
                            {#<td>${{ proposal.afterHoursWorkCost ? proposal.afterHoursWorkCost | money_format : "0" }}</td>#}
                        {#</tr>#}
                        {#<tr>#}
                            {#<td>Additional Cost:</td>#}
                            {#<td>${{ proposal.additionalCost ? proposal.additionalCost | money_format : "0" }}</td>#}
                        {#</tr>#}
                        {#<tr class="app-repare-proposal__data--total">#}
                            {#<td>Discount:</td>#}
                            {#<td>(${{ proposal.discount ? proposal.discount | money_format : "0" }})</td>#}
                        {#</tr>#}
                        {#<tr>#}
                            {#<td>Grand Total:</td>#}
                            {#{% if proposal.serviceTotalFee > 0 %}#}
                                {#<td>${{ (proposal.allGrandTotalPrice + proposal.serviceTotalFee)| money_format }}</td>#}
                            {#{% else %}#}
                                {#<td>${{ proposal.allGrandTotalPrice ? proposal.allGrandTotalPrice| money_format : "0" }}</td>#}
                            {#{% endif %}#}
                        {#</tr>#}
                    {#</table>#}
                {#</div>#}
            {#</td>#}
            <td></td>
        </tr>
        </tbody>
    </table>
    {% include 'AdminBundle:Proposal:viewModals.html.twig' %}
{% endblock %}