<!-- Modal -->
{{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
    'modalId' : 'sentMailModal',
    'message' : proposal.type.alias == 'retest' ? 'Please confirm that this Retest Notice was sent to the client via mail.' :
        'Please confirm that this Proposal was sent to the client via mail.',
    'buttonYesHref' : path('admin_letter_mail_proposal', {'proposal' : proposal.id}),
    'oneClick': 'Yes'
}) }}

<!-- Modal Block sending mail and email -->
{{ include('AdminBundle:layouts/dialogs:infoDialog.html.twig', {
    'modalId' : 'blockSentMailEmailModal',
    'message' : proposal.type.alias == 'retest' ? 'There are no services included into this Retest Notice. Please add some services before sending the document' :
                'There are no services included into this Proposal. Please add some services before sending the document',
}) }}

<!-- Modal Add Proposal to WO -->
{{ include('AdminBundle:layouts/dialogs:createWoDialog.html.twig', {
    'modalId' : 'addProposalToWO',
    'modalFormAction' : path('admin_work_order_create', {'proposal' : proposal.id}),
    'modalFormMethod' : 'post',
    'message' : 'Are you sure you want to create a Workorder using this ' ~ (proposal.type.alias == 'retest' ? 'Retest Notice?' : 'Proposal?'),
    'modalFormId' : 'createWO',
    'authorizerSelectTitle' : 'Choose Authorizer:',
    'workordersSelectTitle' : 'Please select Workorder to add ' ~ (proposal.type.alias == 'retest' ? 'Retest Notice' : 'Proposal') ~ ' to:',
    'selectName' : 'workorder_log[authorizer]',
    'selectWorkorderName' : 'workorder_log[workorder]',
    'defaultSelectOption' : {'value' : '', 'text' : 'Select Authorizer'},
    'authorizersArray' : acp,
    'workordersArray' : suitableWOsForCreation,
    'isCustomProposal' : false,
    'notRequired' : true,    
    'commentFieldTitle' : 'Comment:',
    'commentFieldName' : 'workorder_log[comment]',
    'modalClass' : 'popupForm'
}) }}

<!-- Modal Add Custom Proposal to WO -->
{{ include('AdminBundle:layouts/dialogs:createWoDialog.html.twig', {
    'modalId' : 'addCustomProposalToWO',
    'modalFormAction' : path('admin_create_generic_workorder_by_custom_proposal', {'proposal' : proposal.id}),
    'modalFormMethod' : 'post',
    'message' : 'Are you sure you want to create a Generic Workorder using this Custom Proposal',
    'modalFormId' : 'createCustomWO',
    'authorizerSelectTitle' : 'Choose Authorizer:',
    'workordersSelectTitle' : ' ',
    'selectName' : 'workorder_log[authorizer]',
    'defaultSelectOption' : {'value' : '', 'text' : 'Select Authorizer'},
    'authorizersArray' : acp,
    'workordersArray' : false,
    'isCustomProposal' : true,
    'notRequired' : true,
    'commentFieldTitle' : 'Comment:',
    'commentFieldName' : 'workorder_log[comment]',
    'modalClass' : 'popupForm'
}) }}

<!-- Modal -->
{{ include('AdminBundle:layouts/dialogs:infoDialog.html.twig', {
    'modalId' : 'sendEmailError',
    'message' : 'The recipient has no email address, so you cannot send this notice via email.'
}) }}

<!-- Modal -->
{{ include('AdminBundle:layouts/dialogs:commentDialog.html.twig', {
    'modalId' : 'callCommentModal',
    'message' : 'This action means you did call the client. Please leave your comment about the call below.',
    'modalFormId' : 'callCommentForm',
    'modalFormAction' : path('admin_proposal_client_was_called', {'proposal' : proposal.id}),
    'modalFormMethod' : 'post',
    'commentFieldTitle' : 'Comment:',
    'commentFieldName' : 'comment'
}) }}

<!-- Modal -->
{{ include('AdminBundle:layouts/dialogs:commentDialog.html.twig', {
    'modalId' : 'leaveCommentModalRjected',
    'message' : 'Please leave below your comment and specify the reason why client rejected services.',
    'modalFormId' : 'rejectCommentForm',
    'modalFormAction' : path('admin_proposal_rejected_by_client', {'proposal' : proposal.id}),
    'modalFormMethod' : 'post',
    'commentFieldTitle' : 'Comment:',
    'commentFieldName' : 'comment'
}) }}

<!-- Modal delete retest -->
{{ include('AdminBundle:layouts/dialogs:commentDialog.html.twig', {
    'modalId' : 'leaveCommentModalDelete',
    'message' : proposal.type.alias == 'retest' ? 'This will delete Retest Notice. Please leave your comment below describing the reason
         why you would like to delete the Retest Notice and confirm the action.' :
         'This will delete Proposal. Please leave your comment below describing the reason
         why you would like to delete the Proposal and confirm the action.',
    'modalFormId' : 'deleteCommentForm',
    'modalFormAction' : path('admin_proposal_delete', {'proposal': proposal.id }),
    'modalFormMethod' : 'post',
    'commentFieldTitle' : 'Comment:',
    'commentFieldName' : 'comment'
}) }}

<!-- Modal -->
{{ include('AdminBundle:layouts/dialogs:commentDialog.html.twig', {
    'modalId' : 'resetCommentModal',
    'message' : 'This action will reset Due Dates of all services which are included into this retest
         notice one frequency ahead and will close this retest notice. Please confirm that you want to
         perform this action.',
    'modalFormId' : 'resetCommentForm',
    'modalFormAction' : path('admin_proposal_reset_services_next_time', {'proposal': proposal.id}),
    'modalFormMethod' : 'post',
    'notRequired' : 'true',
    'commentFieldTitle' : 'Comment:',
    'commentFieldName' : 'comment'
}) }}

<!-- Modal Delete Device from Proposal-->
	{{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
        'modalId' : 'deleteDevicefromProposal',
        'message' : 'Are you sure you want to delete this Device from Proposal?',
        'buttonYes' : 'modalYes',
        'buttonYesHref' : '#',
        'oneClick' : 'Yes'
	}) }}
 <!-- End Modal Delete Device-->

<!-- Modal Delete Service from Proposal-->
    {{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
        'modalId' : 'deleteServiceFromProposal',
        'message' : 'Are you sure you want to delete this Service from Proposal?',
        'buttonYes' : 'modalYes',
        'buttonYesHref' : '#',
        'oneClick' : 'Yes'
    }) }}
<!-- End Modal Delete Service-->

<!-- Modal Delete Service from Retest Notice-->
{{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
    'modalId' : 'deleteServiceFromRetestNotice',
    'message' : 'Are you sure you want to skip this Service from the ' ~ (proposal.type.alias == 'retest' ? 'Retest Notice?' : 'Proposal?'),
    'buttonYes' : 'modalYes',
    'buttonYesHref' : '#',
    'oneClick' : 'Yes'
}) }}
<!-- End Modal Delete Service from Retest Notice-->

<!-- Modal Reset Service From Retest Notice -->
{{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
    'modalId' : 'resetServiceFromTheRetestNotice',
    'message' : 'Are you sure you want to reset this service to next time? Please note you won’t be able to undo this action.',
    'buttonYes' : 'modalYes',
    'buttonYesHref' : '#'
}) }}
<!-- End Modal Reset Service From Retest Notice -->

<!-- Modal Discard All Repairs -->
{{ include('AdminBundle:layouts/dialogs:commentDialog.html.twig', {
    'modalId' : 'leaveCommentModalDiscardAllRepairs',
    'message' : 'Please leave below your comment and specify the reason why you want to perform this action.',
    'modalFormId' : 'discardServicesCommentForm',
    'modalFormAction' : path('admin_proposal_discard_all_repair_services', {'proposal' : proposal.id}),
    'modalFormMethod' : 'post',
    'commentFieldTitle' : 'Comment:',
    'commentFieldName' : 'comment'
}) }}
<!-- End Modal Discard All Repairs -->

<!-- Modal Replace Rn-->
	{{ include('AdminBundle:layouts/dialogs:commentDialog.html.twig', {
    'modalId' : 'leaveCommentModalReplace',
    'message' : proposal.type.alias == 'retest' ? 'This will replace Retest Notice. Please leave your comment below describing the reason
         why you would like to replace the Retest Notice and confirm the action.' 
         : 'This will replace Proposal. Please leave your comment below describing the reason
         why you would like to replace the Proposal and confirm the action.',
    'modalFormId' : 'replaceCommentForm',
    'modalFormAction' : path('admin_proposal_replace', {'proposal' : proposal.id}),
    'modalFormMethod' : 'post',
    'commentFieldTitle' : 'Comment:',
    'commentFieldName' : 'comment'
}) }}
<!-- End Modal Replace Rn-->

<!-- Modal Form Change repair service comment -->
{{ include('AdminBundle:layouts/dialogs:changeRepairServiceCommentDialog.html.twig', {
    'modalId' : 'editRepairServiceComment',
    'modalFormMethod' : 'post',
    'modalFormId' : 'createWOFromInspectionsList',
}) }}
<!-- End Modal Form Change repair service comment -->