{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}
    {% if proposal.frozen %}
        {% include 'AdminBundle:Proposal:viewFrozenHeader.html.twig' %}
    {% else %}
        {% include 'AdminBundle:Proposal:viewHeader.html.twig' %}
    {% endif %}

    {{ include('AdminBundle:Opportunity:flash_messages.html.twig', {"app.session": app.session}) }}

    <div class="app-data">
        <div class="app-account-site__header">
            <div class="app-color--inactive app-font--bold app-font--large">Included Sites, Devices and Services</div>
        </div>
        {% if proposal.services | length == 0 and (proposal.frozen.frozenServices is not defined or proposal.frozen.frozenServices | length == 0) %}
            <div class="app-data__not-found app-repare-proposal__table app-bordered--shadow">No includes Sites, Devices and Services</div>
        {% else %}
            <table class="table app-data__table app-bordered--shadow app-repare-proposal__table">
                <tbody>
                    {% for accountNode in tree %}
                        <tr>
                            <td></td>
                            <td colspan="8" class="app-repare-proposal__account">
                                <div class="app-wrapper">
                                    <div class="app-detailed__info app-wrapper">
                                        <div class="app-detailed__info__img app-notice-form__table-account-img app-repare-proposal__account-icon" style="background-image: url('{{ asset('/bundles/admin/dist/images/'~((accountNode.account.type.alias == 'account') ? 'site.svg' : 'group_site.svg')) }}')"></div>
                                        <div>
                                            <a class="app-link__select app-link__title" href="{{ path('admin_account_get', {'accountId' : accountNode.account.id}) }}" data-original-title="" title="">{{ accountNode.account.name }}</a>
                                            <span class="app-color--inactive"> - {{ accountNode.account.address | address }}</span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td></td>
                        </tr>

                        {#{% include '@Admin/Device/row_device_with_repairs.html.twig' with {'deviceCollection': accountNode.devices} %}#}
                        {% include '@Admin/Device/row_device_with_inspections_and_repairs.html.twig' with {'deviceCollection': accountNode.devices} %}
                    {% endfor %}

                    <tr>
                        <td></td>
                        <td colspan="7" class="app-font--regular">General Proposal Information</td>
                        <td class="app-repare-proposal__table-icon">
                            <div class="app-repare-proposal__data--indent">
                                {% if not proposal.frozen %}
                                    <a href="{{ path("admin_update_repair_proposals_info", {'proposal': proposal.id}) }}">
                                        <img src="/bundles/admin/dist/images/edit.svg">
                                    </a>
                                {% endif %}
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    <tr class="app-repare-proposal__row--info">
                        <td></td>
                        <td colspan="4">
                            <table class="app-repare-proposal__data--table app-repare-proposal__data--info">
                                <tr>
                                    <td>Not Included:</td>
                                    {% set notIncluded = null %}
                                    {% for notInc in proposal.notIncludedItems %}
                                        {% set notIncluded = notIncluded ? notIncluded  ~ ', ' ~  notInc.name : notInc.name %}
                                    {% endfor %}
                                    <td>{{ notIncluded ? notIncluded : '-'}}</td>
                                </tr>
                                <tr>
                                    <td>Payment Terms:</td>
                                    {% if proposal.frozen %}
                                        <td>{{ proposal.frozen.account.paymentTerm ? proposal.frozen.account.paymentTerm.name : '-'  }}</td>
                                    {% else %}
                                        <td>{{ proposal.account.paymentTerm ? proposal.account.paymentTerm.name : '-'  }}</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td>Additional Comments:</td>
                                    <td class="{{ proposal.additionalComment ? '' : 'app-color--inactive'}}">{{ proposal.additionalComment ? proposal.additionalComment | raw : 'No Comments'}}</td>
                                </tr>
                                <tr>
                                    <td>Internal Comments:</td>
                                    <td class="{{ proposal.internalComments ? '' : 'app-color--inactive'}}">{{ proposal.internalComments ? proposal.internalComments | raw : 'No Comments'}}</td>
                                </tr>
                                <tr>
                                    <td>Additional Cost Comment:</td>
                                    <td class="{{ proposal.additionalCostComment ? '' : 'app-color--inactive'}}">{{ proposal.additionalCostComment ? proposal.additionalCostComment | raw : 'No Comments'}}</td>
                                </tr>

                                {% if proposal.isMunicipalityFessWillVary %}
                                    <tr>
                                        <td class="app-color--inactive app-detailed__municipality-fees--table-proposal">* - Municipality fees will vary</td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                            </table>
                        </td>
                        <td colspan="4">
                            <div class="app-repare-proposal__data--indent">
                                <table class="app-repare-proposal__data--table app-repare-proposal__data--prices">
                                    <tr>
                                        <td>Total Repairs price:</td>
                                        <td>${{ proposal.allTotalRepairsPrice ? proposal.allTotalRepairsPrice | money_format : '0' }}</td>
                                    </tr>

                                    {% if proposal.serviceTotalFee and proposal.serviceTotalFee > 0 %}
                                        <tr>
                                            <td>Total Inspections Fee:</td>
                                            <td>${{ proposal.serviceTotalFee ? proposal.serviceTotalFee | money_format : '0' }}</td>
                                        </tr>
                                    {% endif %}

                                    <tr>
                                        <td>Total Munic. and Proc. fees:</td>
                                        <td>{{ proposal | get_proposal_total_munic_and_proc_fee }}</td>
                                    </tr>
                                    <tr>
                                        <td>After Hours Work Cost:</td>
                                        <td>${{ proposal.afterHoursWorkCost ? proposal.afterHoursWorkCost | money_format : "0" }}</td>
                                    </tr>
                                    <tr>
                                        <td>Additional Cost:</td>
                                        <td>${{ proposal.additionalCost ? proposal.additionalCost | money_format : "0" }}</td>
                                    </tr>
                                    <tr class="app-repare-proposal__data--total">
                                        <td>Discount:</td>
                                        <td>(${{ proposal.discount ? proposal.discount | money_format : "0" }})</td>
                                    </tr>
                                    <tr>
                                        <td>Grand Total:</td>
                                        <td>{{ proposal | get_proposal_grand_total }}</td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        {% endif %}
    </div>

    {% include 'AdminBundle:Proposal:viewModals.html.twig' %}
{% endblock %}