{% extends '@Admin/Letter/send.html.twig' %}

{% block emailBody %}
    <p>Dear Client,</p>

    <p>Our records indicate that the fire prevention device(s) located within your building(s) will be due for their inspection and certification soon. Our licensed inspector will inspect and certify your device(s) by appointment to ensure your continued compliance with state and local regulations.</p>

    <p>Please find details regarding suggested services in the attached PDF document. Municipal and processing fees if any, are also noted.</p>

    <p>Sincerely,<br />
        American Backflow & Fire Prevention Team</p> 

{% endblock %}
