{% extends '@Admin/Letter/send.html.twig' %}

{% block emailBody %}
    <p>Dear Client,</p>
    
<p>Our records indicate that the backflow prevention device(s) located within your building(s) will be due for their inspection and certification soon. Our E.P.A. licensed CCCDI inspector will inspect and certify your device(s) by appointment to ensure your continued compliance with the current E.P.A. regulations.</p>
    
<p>Please find details regarding suggested services in the attached PDF document. Municipal and
    processing fees if any, are also noted in this attachment.</p>

<p>Sincerely,<br />
    American Backflow & Fire Prevention Team</p>

{% endblock %}