.page-break {
    page-break-before: right;
}

.page-break-inside {
    page-break-inside: avoid;
}

.display-inline-block {
    display: inline-block;
}

.relative {
    position: relative;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.max-width {
    width: 100%;
}

.color-gray {
    color: #666666;
}

.font-bold {
    font-weight: 700;
}

.padding-right {
    padding-right: 10px;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.wrapper {
    background: #fff;
    font-size: 17px;
    margin: 0 auto;
    width: 980px;
}

.container {
    line-height: 1.5;
    padding: 0 5px;
    overflow: hidden;
}

/*HEADER*/

.header {
    font-weight: 400;
    padding: 10px 5px;
    border-top: 2px solid #e3702a;
    border-bottom: 2px solid #e3702a;
    overflow: hidden;
}

.header-title {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
}

.header-info {
    font-size: 17px;
    display: inline-block;
}

.header-date {
    display: inline-block;
    padding-left: 315px;
}

.header-id {
    display: inline-block;
    padding-left: 40px;
}

.header-container-logo {
    width: 40%;
    float: left;
}

.header-container-contacts {
    width: 60%;
    float: left;
}

.header-logo {
    outline: none;
    border: 0;
    display: inline-block;
    width: 40px;
}

.header-contacts {
    font-size: 12px;
    font-weight: 700;
    float: right;
    margin-top: 7px;
}

.header-contacts ul > li {
    line-height: 1.3;
}

.header-phone-fax {
    width: 145px;
}

.header-email {
    width: 215px;
}

/*CONTENT*/

.device-info {
    overflow: hidden;
    float: left;
}

.device-info-left {
    width: 400px;
}

.device-info-right {
    width: 568px;
}

.device-info-border {
    border-right: 2px solid #e3702a;
    min-height: 320px;
}

.device-info-container {
    padding-top: 20px;
    min-height: 110px;
    position: relative;
}

.device-info-container-non-indent-top {
    padding-top: 0;
}

.device-info-container-indent {
    padding-left: 15px;
}

.device-info-container-border {
    border-bottom: 1px dashed #666666;
}

.device-info-container-title {
    font-weight: 700;
    font-size: 17px;
}

.device-info-container-logo {
    outline: none;
    border: 0;
    display: inline-block;
    padding-right: 5px;
    width: 55px;
}

.device-info-container-content {
    font-size: 17px;
    line-height: 1.5;
    display: inline-block;
}

.device-info-container-content-date {
    font-size: 24px;
}

.device-info-container-content-id {
    position: absolute;
    right: 0;
    top: 0;
}

.device-info-container-content-email {
    padding-bottom: 10px;
}

.device-info-container-title-date {
    margin-top: 5px;
}

/*MESSAGE*/

.message {
    padding: 10px 0 30px 0;
    border-bottom: 1px solid #666666;
    line-height: 1.5;
}

.message-subtitle {
    padding-bottom: 15px;
}

.message-table {
    width: 100%;
    text-align: left;
    font-size: 17px;
    font-weight: 400;
    margin: 20px 0;
    border-top: 2px solid #e3702a;
    border-bottom: 2px solid #e3702a;
}

.message-table thead {
    border-bottom: 1px solid #666666;
    padding: 5px 0;
    font-size: 14px;
}

.message-table th {
    padding: 9px 5px;
    vertical-align: top;
    font-weight: 400;
}

.message-table td {
    height: 50px;
    vertical-align: middle;
    font-weight: 400;
}

.message-table-td-left {
    padding-left: 5px;
}

.message-table-td-right {
    padding-right: 5px;
}

.message-table tr {
    border-bottom: 1px solid #666666;
}

.message-table-background-row {
    position: absolute;
    top: -12px;
    left:0;
    width: 100%;
    z-index: 1;
}

.message-table-background-row-image {
    height: 50px;
}

.message-table-container-device {
    float: left;
}

.message-table-icon-device {
    width: 23px;
    height: 20px;
    line-height: 0;
}

.message-table-position-content {
    position: relative;
    z-index: 2;
}

.message-table-name-device {
    padding: 0 5px;
}

.message-table-name-device-non-indent-left {
    padding-left: 0;
}

.message-table-description-device {
}

.message-table-icon-service {
    padding-left: 20px;
}

.message-table-align-right {
    text-align: right;
}

tr.message-table-grant-total-row {
    border-bottom: 0;
}

.message-table-grant-title {
    font-size: 12px;
}

.message-table-grant-title-indent {
    padding-right: 10px;
}

.message-table-grant-price {
    font-size: 22px;
}

/*FEEDBACK*/

.feedback {
    padding: 10px 0 30px 0;
    border-bottom: 1px solid #666666;
    line-height: 1.5;
}

.feedback-title {
    font-weight: 700;
}

.feedback-type-title-colored {
    color: #e3702a;
    line-height: normal;
}

.feedback-table {
    width: 100%;
    margin-top: 10px;
}

.feedback-table td {
    vertical-align: bottom;
    padding-left: 0;
    padding-right: 0;
}

.feedback-container {
    width: 269px;
}

.feedback-container > table td {
    vertical-align: top;
    padding-top: 0;
}

.feedback-container-right {
    float: right;
}

.feedback-container-center {
    margin: 0 auto;
}

.feedback-type > p {
    float: left;
}

.feedback-type-icon {
    width: 38px;
    vertical-align: bottom;
}

.feedback-type-title {
    font-size: 15px;
    padding-left: 10px !important;
}

.feedback-number {
    font-size: 22px;
}

/*LIST*/
ul.fire-list {
    padding-left: 25px;
    padding-bottom: 30px;
}

ul.fire-list li {
    line-height: 1.7;
}


.form-list-last-indent {
    padding-bottom: 20px;
}

/*SEND FORM*/
.send-form {
    padding: 10px 0 15px 0;
    border-bottom: 1px solid #666666;
    line-height: 1.5;
}

.send-form-table td {
    padding-top: 10px;
    padding-bottom: 10px;
}

.send-form-title-width {
    min-width: 170px;
}

.send-form-content {
    padding-bottom: 15px;
}

.company {
    padding: 10px 0 40px 0;
}