@font-face {
    font-family: Lato;
    src: url("/var/www/erp/src/AdminBundle/Resources/public/fonts/email/Lato-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: Lato;
    src: url("/var/www/erp/src/AdminBundle/Resources/public/fonts/email/Lato-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: Lato;
    src: url("/var/www/erp/src/AdminBundle/Resources/public/fonts/email/Lato-Black.ttf");
    font-weight: 900;
}