/* FOOTER */

.footer {
    font-size: 14px;
    font-weight: 400;
    border-top: 2px solid #e3702a;
    overflow: hidden;
}

.footer-container {
    width: 49.5%;
    float: left;
}

.footer-container-border-right {
    border-right: 1px solid #666666;
}

.footer-logo {
    width: 90px;
    padding-right: 10px;
    padding-top: 7px;
    float: left;
}

.footer-description {
    line-height: 1.3;
    padding: 10px 10px 0 0;
}

.footer-title {
    padding: 10px 0 0 20px;
}

.footer-title_text-align_center {
    text-align: center;
}

.footer-item-device {
    width: 102px;
    display: inline-block;
    padding: 20px 0 0 8px;
}

.footer-item-device-alarms {
    width: 83px;
}

.footer-item-backflow-prevention {
    width: 108px;
}

.footer-item-device-suppression {
    width: 120px;
}

.footer-item-device-plumbing {
    width: 98px;
}

.footer-list-devices_text-align_center {
    text-align: center;
}
