/*HEADER*/

.header {
    font-weight: 400;
    padding: 10px 5px;
    border-top: 2px solid #e3702a;
    border-bottom: 2px solid #e3702a;
    overflow: hidden;
}

.header-title {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    min-width: 450px;
    float: left;
}

.header-info {
    font-size: 17px;
    padding-top: 5px;
    float: right;
}

.header-date {
    display: inline-block;
}

.header-id {
    display: inline-block;
    padding-left: 40px;
}

.header-container-logo {
    width: 40%;
    float: left;
}

.header-container-contacts {
    width: 60%;
    float: left;
}

.header-logo {
    outline: none;
    border: 0;
    display: inline-block;
    width: 40px;
}

.header-contacts {
    font-size: 12px;
    font-weight: 700;
    float: right;
    margin-top: 7px;
}

.header-contacts ul > li {
    line-height: 1.3;
}

.header-phone-fax {
    width: 145px;
}

.header-email {
    width: 215px;
}

/*WORKORDER*/

.wo-header {
    font-weight: 400;
    border-bottom: 2px solid #e3702a;
    overflow: hidden;
    line-height: 20px;
}

.wo-header-row {
    width: 33.33333%;
}

.wo-header-row-phones {
    width: 32.33333%;
}

.wo-header-row-address {
    width: 34.33333%;
}

.wo-header-logo  {
    width: 250px;
}

.wo-header-logo-letters  {
    width: 50px;
}

.logo-text-spacing {
    letter-spacing: .14rem;
}

.wo-header-cell-address {
    font-size: 15px !important;
}

.wo-header-title {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 10px;
}

.wo-header-links {
    margin-left: 5px;
}

.wo-header-links a {
    color: #666666;
    text-decoration: none;
    font-size: 16px;
}

