@import "reset.css";

img {
    width: 100%;
}

.color-gray {
    color: #666666;
}

.font-bold {
    font-weight: 700;
}

.padding-right {
    padding-right: 10px;
}

.wrapper {
    background: #fff;
    font-family: Lato,sans-serif;
    font-size: 13px;
    margin: 0 auto;
    padding: 20px 10px;
    height: 297mm; 
    width: 210mm;
}

.container {
    line-height: 1.5;
    padding: 0 5px;
    overflow: hidden;
}

/*HEADER*/

.header {
    font-size: 16px;
    font-weight: 400;
    padding: 10px 5px;
    border-top: 2px solid #e3702a;
    border-bottom: 2px solid #e3702a;
    overflow: hidden;
}

.header-title {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
}

.header-info {
    font-size: 18px;
    display: inline-block;
}

.header-date {
    display: inline-block;
    font-size: 13px;
    padding-left: 90px;
}

.header-id {
    display: inline-block;
    font-size: 13px;
    padding-left: 40px;
}

.header-container-logo {
    width: 40%;
    float: left;
}

.header-container-contacts {
    width: 60%;
    float: left;
}

.header-logo {
    outline: none;
    border: 0;
    display: inline-block;
    width: 40px;
}

.header-contacts {
    font-size: 12px;
    font-weight: 700;
    float: right;
    margin-top: 7px;
}

.header-contacts ul > li {
    line-height: 1.3;
}

.header-phone-fax {
    width: 145px;
}

.header-email {
    width: 215px;
}

/*CONTENT*/

.device-info {
    overflow: hidden;
    float: left;
}

.device-info-left {
    width: 325px;
}

.device-info-right {
    width: 423px;
}

.device-info-border {
    border-right: 2px solid #e3702a;
    min-height: 280px;
}

.device-info-container {
    padding-top: 20px;
    min-height: 100px;
    position: relative;
}

.device-info-container-non-indent-top {
    padding-top: 0;
}

.device-info-container-indent {
    padding-left: 15px;
}

.device-info-container-border {
    border-bottom: 1px dashed #cccccc;
}

.device-info-container-title {
    font-weight: 700;
    font-size: 13px;
}

.device-info-container-logo {
    outline: none;
    border: 0;
    display: inline-block;
    padding-right: 5px;
    width: 40px;
}

.device-info-container-content {
    font-size: 13px;
    line-height: 1.5;
    display: inline-block;
}

.device-info-container-content-date {
    font-size: 24px;
}

.device-info-container-content-id {
    position: absolute;
    right: 0;
    top: 20px;
}

.device-info-container-content-email {
    padding-bottom: 5px;
}

.device-info-container-title-date {
    margin-top: 5px;
}

/*MESSAGE*/

.message {
    padding: 10px 0;
    border-bottom: 1px solid #cccccc;
    line-height: 1.5;
}

.message-subtitle {
    padding-bottom: 15px;
}

.message-table {
    width: 100%;
    text-align: left;
    font-size: 13px;
    font-weight: 400;
    margin: 25px 0;
    border-top: 2px solid #e3702a;
    border-bottom: 2px solid #e3702a;
}

.message-table thead {
    border-bottom: 1px solid #cccccc;
    padding: 5px 0;
    font-size: 10px;
}

.message-table th,td {
    padding: 10px 5px;
    vertical-align: middle;
}

.message-table tr {
    border-bottom: 1px solid #cccccc;
}

.message-table-background-row {
    background-color: #f7f7f7;
}

.message-table-container-device {
    float: left;
}

.message-table-icon-device {
    width: 20px;
    height: 19px;
}

.message-table-name-device {
    padding: 0 5px;
}

.message-table-name-device-non-indent-left {
    padding-left: 0;
}

.message-table-description-device {
}

.message-table-icon-service {
    padding-left: 20px;
}

.message-table-align-right {
    text-align: right;
}

tr.message-table-grant-total-row {
    border-bottom: 0;
}

.message-table-grant-title {
    padding-top: 10px;
}

.message-table-grant-price {
    font-size: 18px;
}

/*FEEDBACK*/

.feedback {
    padding: 10px 0;
    border-bottom: 1px solid #cccccc;
    line-height: 1.5;
}

.feedback-title {
    font-weight: 700;
}

.feedback-type-title-colored {
    color: #e3702a;
    line-height: normal;
}

.feedback-table {
    width: 100%;
    margin-top: 20px;
}

.feedback-table td {
    vertical-align: bottom;
    padding-left: 0;
    padding-right: 0;
}

.feedback-container {
    width: 198px;
}

.feedback-container > table td {
    vertical-align: top;
    padding-top: 0;
}

.feedback-container-right {
    float: right;
}

.feedback-container-center {
    margin: 0 auto;
}

.feedback-type > p {
    float: left;
}

.feedback-type-icon {
    width: 30px;
    vertical-align: bottom;
}

.feedback-type-title {
    font-size: 15px;
    padding-left: 10px !important;
}

.feedback-number {
    background-color: #f7f7f7;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

/*SEND FORM*/
 .send-form {
     padding: 20px 0 40px 0;
     border-bottom: 1px solid #cccccc;
     line-height: 1.5;
 }
 
 .send-form-content {
     padding-bottom: 15px;
 }
 
 .company {
     padding: 10px 0 60px 0;
 }
 
 /* FOOTER */

.footer {
    font-size: 11px;
    font-weight: 400;
    border-top: 2px solid #e3702a;
    overflow: hidden;
}

.footer-container {
    width: 49.5%;
    float: left;
}

.footer-container-border-right {
    border-right: 1px solid #cccccc;
}

.footer-logo {
    width: 87px;
    padding-right: 10px;
    float: left;
}

.footer-description {
    line-height: 1.3;
    padding: 10px 10px 0 0;
}

.footer-title {
    padding: 10px 0 0 10px;
}

.footer-item-device {
    width: 84px;
    display: inline-block;
    padding: 10px 0 0 10px;
}

.footer-item-device-alarms {
    width: 65px;
}

.footer-item-device-suppression {
    width: 90px;
}

.footer-item-device-plumbing {
    width: 78px;
}