.default-border-bottom {
    /*border-bottom: 0 !important;*/
}

.page-break {
    page-break-before: right;
}

.page-break-inside {
    page-break-inside: avoid;
}

.display-inline-block {
    display: inline-block;
}

.relative {
    position: relative;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.max-width {
    width: 100%;
}

.without-border-bottom {
    /*border-bottom: 0 !important;*/
}

.without-border-top {
    /*border-top: 0 !important;*/
}

.color-gray {
    color: #666666;
}

.color-light-gray {
    color: #999a99;
}

.font-bold {
    font-weight: 700 !important;
}

.padding-right {
    padding-right: 5px;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.without-padding-top {
    padding-top: 0 !important;
}

.text-center {
    text-align: center;
}

.vertical-align-middle {
    vertical-align: middle;
}

.wrapper {
    background: #fff;
    font-size: 17px;
    font-family: 'Lato', sans-serif !important;
}

.repair-wrapper {
    background: #fff;
    font-size: 17px;
    font-family: 'Lato', sans-serif !important;
}

.container {
    line-height: 1.5;
    padding: 0 5px;
    overflow: hidden;
}

/*CONTENT*/

.address-container {
    margin-bottom: 25px;
}

.device-info {
    overflow: hidden;
    float: left;
}

.device-info-left {
    width: 400px;
}

.device-info-invoice-right {
  width: 628px;
}

.device-info-right {
    width: 568px;
}

.device-info-border {
    border-right: 2px solid #e3702a;
    height: 280px;
}

.device-info-container {
    height: 115px;
    position: relative;
}

.device-info-container-new {
    height: 170px;
    position: relative;
}

.device-info-container-non-indent-top {
    padding-top: 0;
}

.device-info-container-indent {
    padding-left: 15px;
}

.device-info-container-border {
    /*border-bottom: 1px dashed #666666;*/
}

.device-info-container-title {
    font-weight: 700;
    font-size: 17px;
}

.device-info-container-title-new {
    height: 166px;
    line-height: 1.5;
    vertical-align:  bottom;
    width: 350px;
}

.device-info-container-logo {
    outline: none;
    border: 0;
    display: inline-block;
    padding-right: 5px;
    width: 55px;
}

.device-info-container-content {
    font-size: 17px;
    line-height: 1.5;
    display: inline-block;
}

.device-info-container-content-new {
    font-size: 17px;
    height: 164px;
    vertical-align: bottom;
}

.device-info-container-content-date {
    font-size: 24px;
}

.device-info-container-content-id {
    position: absolute;
    right: 0;
    top: 0;
}

.device-info-container-content-id-new {
    vertical-align:  bottom;
    height: 148px;
}

.device-info-container-content-email {
    padding-bottom: 10px;
}

.device-info-container-content-email-rapair {
    padding-bottom: 10px;
    margin-left: 37px;
}

.device-info-container-title-date {
    margin-top: 5px;
}

.device-info_margin-top {
    margin-top: 60px;
}

/*MESSAGE*/

.message {
    padding: 10px 0 0 0;
    line-height: 1.5;
}

.message-subtitle {
    padding-bottom: 20px;
}

.message-table {
    width: 100%;
    text-align: left;
    font-size: 17px;
    font-weight: 400;
    margin: 10px 0;
    border-top: 2px solid #e3702a;
    border-bottom: 2px solid #e3702a;
}

.display-block {
    display: block;
}

.max-width-custom {
    width: 942px;
}

.message-table-thead {
    /*border-bottom: 1px solid #666666;*/
    padding: 5px 0;
    font-size: 14px !important;
}

.message-table-th {
    padding: 9px 5px;
    vertical-align: top !important;
    font-weight: 400;
}

.message-table-th--width {
    width: 300px;
}

.message-table td {
    height: 40px;
    vertical-align: middle;
    font-weight: 400;
}

.message-table-td-left {
    padding-left: 5px;
}

.message-table-td-right {
    padding-right: 5px;
}

.pp-device-row {
    /*border-top: 1px solid #666666;*/
}

.message-table > tr {
    /*border-top: 1px solid #666666;*/
}

.message-table tr:last-child {
    /*border-bottom: 0;*/
}

.message-table tr:first-child>td {
    /*border-top: 0 !important;*/
}

.message-table tr:first-child {
    /*border-top: 0 !important;*/
}

.message-table-background-row {
    position: absolute;
    top: -7px;
    left:0;
    width: 100%;
    z-index: 1;
}

.message-table-background-row-image {
    height: 40px;
}

.message-table-container-device {
    float: left;
}

.message-table-icon-device {
    width: 23px;
    height: 20px;
    line-height: 0;
    margin-top: 2px;
}

.message-table-position-content {
    position: relative;
    z-index: 2;
}

.message-table-name-device {
    padding: 0 5px;
}

.message-table-name-device-non-indent-left {
    padding-left: 0;
}

.message-table-description-device {
}

.message-table-icon-service {
    padding-left: 20px;
}

.message-table-align-right {
    text-align: right;
}

tr.message-table-grant-total-row {
    /*border-bottom: 0;*/
}

span.non-accent-text {
    font-size: 12px;
}

.message-table-grant-title {
    font-size: 12px;
}

.message-table-grant-title-indent {
    padding-right: 10px;
}

.message-table-grant-price {
    font-size: 22px;
}

.message-table-repairs {
    margin-top: 10px;
}

.rn-inspection-due-right-indent {
    padding-right: 20px;
}

/*LIST*/
ul.fire-list {
    padding-left: 25px;
    padding-bottom: 10px;
}

ul.fire-list li {
    line-height: 1.7;
    list-style: disc;
}

.form-list-last-indent {
    padding-bottom: 20px;
}

/*FEEDBACK*/

.feedback {
    padding: 10px 0 0 0;
    line-height: 1.5;
}

.feedback-repair {
    padding-bottom: 10px !important;
}

.feedback-title {
    font-weight: 700;
}

.feedback-type-title-colored {
    color: #e3702a;
    line-height: normal;
}

.feedback-table {
    width: 100%;
    margin-top: 10px;
}

.feedback-table td {
    vertical-align: bottom;
    padding-left: 0;
    padding-right: 0;
}

.feedback-container {
    width: 297px;
}

.feedback-container > table td {
    vertical-align: top;
    padding-top: 0;
    height: 50px;
}


.feedback-container-right {
    float: right;
}

.feedback-container-center {
    margin: 0 auto;
}

.feedback-type > p {
    float: left;
}

.feedback-type-icon {
    width: 38px;
    vertical-align: bottom;
}

.feedback-type-title {
    font-size: 15px;
    padding-left: 10px !important;
}

.feedback-number {
    font-size: 22px;
}

/*SEND FORM*/
.send-form {
    padding: 5px 0 0 0;
    line-height: 1.5;
}

.send-form-table td {
    padding-top: 10px;
    padding-bottom: 10px;
}

.send-form-title-width {
    min-width: 100px;
}

.send-form-content {
    padding-bottom: 10px;
}

.company {
    padding: 5px 0 0 0;
}

.company-title {
    vertical-align: middle;
    padding-right: 50px;
}

/*PROPOSAL BACKFLOW*/

/*table*/
.proposal-services-table {
    width: 100%;
}

.proposal-services-table tr {
    /*border-bottom: 1px solid #666666;*/
}

.proposal-services-table thead tr th {
    vertical-align: middle;
    font-weight: normal;
    font-size: 14px;
    padding: 2px 0;
    /*border-bottom: 1px solid #666666;*/
}

.proposal-repairs-services-table {
    margin-top: 10px;
    width: 100%;
}

.proposal-repairs-services-table-munic-cell {
    width: 70px;
}

.proposal-repairs-services-table td {
    vertical-align: text-bottom;
}

.proposal-repairs-services-table td {
    height: 30px;
}

.proposal-repairs-services-table td:nth-child(2) {
    padding-left: 10px;
    padding-right: 20px;
}

.proposal-repairs-services-table td:nth-child(odd) {
    font-size: 15px;
}

.proposal-repair-wide-row {
    width: 210px;
}
.proposal-repair-backflow-wide-row {
    width: 190px;
}

.proposal-comments-wide-row {
    width: 147px;
}

.proposal-repairs-services-table tr {
    /*border-bottom: 0;*/
}

.proposal-repairs-services-table-container {
    width: 67%;
    vertical-align: top !important;
}

.proposal-repairs-services-table-container-width {
    width: 700px !important;
    vertical-align: top !important;
}

.proposal-repairs-services-info-table {
    margin-top: 5px;
    margin-left: 18px;
}

.proposal-repairs-services-info-table td {
    height: 30px;
}

.proposal-repairs-services-info-table tr {
    /*border-bottom: 0;*/
}

.proposal-repairs-services-info-table td:nth-child(2) {
    text-align: right;
}

.proposal-repairs-services-info-table td:nth-child(odd) {
    font-size: 15px;
}

.proposal-repairs-device-photo-container {
    vertical-align: top !important;
    width: 250px;
    height: 160px;
}

.proposal-repairs-device-photo {
    float: right;
    background-size: contain;
}

.proposal-grand-total-price-title {
    font-size: 14px;
    font-weight: 600;
}

td.proposal-grand-total-price-title {
    font-size: 14px;
    font-weight: 600;
}

.proposal-repairs-right-container {
    width: 294px;
}

.message-table-icon-site {
    margin-top: 2px;
}

.message-table-icon-subdevice {
    width: 12px;
    margin-top: 3px;
}

.message-table-name-device-colored {
    color: #486ab0;
}

.message-table-name-device-colored-backflow, .message-table-name-device-colored-plumbing {
    color: #486ab0;
}

.message-table-name-device-colored-alarm, .message-table-name-device-colored-fire {
    color: #e3702a;
}

.proposal-main-title {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0 15px 0;
    text-transform: uppercase;
}

.proposal-site-row:not(:first-child) {
    border-top: 2px solid #e3702a;
}

.proposal-message-table-grant-total {
    padding-bottom: 10px;
    border-top: 2px solid #e3702a;
}

.proposal-message-table-grant-total-without-border {
    border-top: none;
}

.deficiency {
    max-width: 200px;
    padding-right: 20px;
}

.signature {
    vertical-align: top !important;
    width: 500px;
    height: 70px;
    padding-top: 5px;
    background-size: contain;
}

.pdf-cell-padding-right {
    padding-right: 5px;
}

/*PROPOSAL FIRE*/

.proposal-fire-table-title {
    margin-top: 20px;
    margin-bottom: 5px;
}

.proposal-fire-table {
    margin-top: 0;
}

.proposal-fire-table-device-title {
    color: #e3702a;
}

.proposal-fire-table-subdevice-row {
    /*border-top: none;*/
}

.proposal-fire-table-subdevice-row--first:first-child {
    /*border-top: 1px solid #666666;*/
}

.proposal-table-info-indent {
    margin-bottom: 30px;
}

.proposal-inspections-name-cell {
    width: 350px;
}

/*WORKORDER*/

.wo-title {
    padding-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
}

.wo-details-table td:first-child {
    width: 50%;
}

.wo-details-table-right-row {
    width: 55% !important;
    padding-right: 15px;
}

.wo-details-table td {
    padding: 3px 0;
    font-size: 16px;
}

.wo-details-table-inside tr td:first-child {
    width: 161px;
    padding-right: 10px;
}

.wo-details-table-inside-title-row {
    width: 150px !important;
}

.wo-details-ext {
    font-size: 15px;
}

.included-services-table-short-cel {
     width: 70px;
 }

.included-services-table-middle-cel {
    width: 115px;
}

.included-services-table-short-cel-date {
    width: 200px;
}

.included-services-table-short-cel-comment {
    width: 300px;
}

.wo-details-table-inside-ext-indent {
    padding-left: 20px;
    padding-right: 5px;
}

.result {
    text-transform: uppercase;
}

.result-success {
    color: #3c922f;
}

.result-nt {
    color: #eecd42;
}

.wo-wide-row {
    width: 164px;
}

.wo-proposal-fire-table {
    margin-bottom: 0 !important;   
}

.wo-services-table th {
    height: 37px;
    vertical-align: middle;
    font-weight: 400;
}

.wo-repairs-device-photo {
    vertical-align: top !important;
    padding: 5px 0;
}

.wo-repairs-device-photo img {
    width: 280px;
    max-height: 400px;
}

.wo-device-row {
    /*border-top: 1px solid #666666;*/
}

.wo-acknowledged {
    width: 225px;
}

.wo-acknowledged-table {
    height: 80px;
}

.wo-acknowledged-table td {
    padding-bottom: 0;
    vertical-align: bottom;
    line-height: 1.2;
}

.wo-acknowledged-table-signature-image {
    background-size: contain;
    height: 75px;
    margin-left: 5px;
    background-position: center;
}

.wo-acknowledged-table-border-bottom {
    border-bottom: 1px solid #000000;
    padding-bottom: 0;
}

.wo-acknowledged-name {
    width: 230px;
    font-size: 20px;
    line-height: .9;
}

.wo-acknowledged-name::after {
    content: '';
    border-bottom: 1px solid #000000;
    display: block;
    height: 1px;
    width: 230px;
}

.wo-acknowledged-date {
    width: 140px;
    line-height: .9;
}

.wo-acknowledged-date::after {
    content: '';
    border-bottom: 1px solid #000000;
    display: block;
    height: 1px;
    width: 140px;
}

.app-report-status--pass {
     color: #67BD5E;
}

.app-report-status--not_testable {
    color: #EDCB3A;
}

.app-report-status--fail {
    color: #FF5757;
}

.app-report-status--completed {
    color: #67BD5E;
}

.wo-table-total {
    margin: 20px 0;
}

.table-row-border-top {
    border-top: 1px solid #666666;
}

.table-row-border-top-first-without:first-child {
    border-top: none;
}

.table-row-border-bottom-last:last-child {
    border-bottom: 1px solid #666666;
}

.table-row-border-bottom {
    border-bottom: 1px solid #666666;
}

/* INVOICE */
.invoice-pdf__tel {
    width: 170px;
}

.invoice-pdf__top:after {
    content: "";
    display: table;
    clear: both;
}

.invoice-pdf_margins {
    margin: 25px 0;
}

.invoice-pdf_width {
    width: 40px !important;
}

.invoice-pdf__thead {
    border-bottom: 1px solid #cecece;
}

.invoice-pdf__discount {
    /*border-top: 1px solid #cecece;*/
    border-bottom: 1px solid #cecece;
}

.invoice-pdf__item {
    border-bottom: 1px solid #cecece;
}

.invoice-pdf-item_width_10per {
    width: 10%;
}

.invoice-pdf-item_width_20per {
    width: 20%;
}

.invoice-pdf-item_width_50per {
    width: 50%;
}

.invoice-pdf-item_padding-right {
    padding-right: 20px;
}

.invoice-pdf__total {
    margin: 15px 0;
}
.invoice-pdf__total:after {
    content: "";
    display: table;
    clear: both;
}

.invoice-pdf__total tr td {
    height: 20px;
}

.invoice-pdf__total tr td:first-child {
    font-size: 14px;
}

.invoice-pdf-background {
  width: 120%;
  height: 600px;
  position: absolute;
  top: 320px;
  opacity: .4;
  left: -10%;
}

.invoice-pdf-background-relative {
  position: relative;
}


