{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}
    {#{{ dump(invoice) }}#}
    {#{{ dump(terms) }}#}
    <div id="invoice-block" data-access-token="{{ accessToken }}" data-terms="{{ terms }}" data-invoice="{{ invoice }}">
      <!-- app-invoice -->

      <!-- /app-invoice-->
    </div>
{% endblock %}