{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}
    {#{{ dump(invoice) }}#}
    <div id="invoice-view-block" data-invoice-view="{{ invoice }}">
        <!-- app-invoice -->

        <!-- /app-invoice-->
    </div>

{% endblock %}