{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}
    <div class="app-main__page-title app-wrapper">
            New User Registration
    </div>

    <div class="app-form app-form--flex app-form--bordered">
        <div class="app-form-header">General User Information</div>
        {{ form_start(form, {'attr': {'id': 'userForm', 'class':'app-form--wide', 'autocomplete': 'off'}}) }}
        <div class="app-wrapper">
            <div class="app-form-input--medium form-group">
                <label>First Name:<span class="app-required-label">*</span></label>
                {{ form_widget(form.user.firstName, {'attr': {'placeholder': 'First Name', 'class': 'app-capitalize form-control mozilla-input'}}) }}
            </div>
            <div class="app-form-input--medium form-group">
                <label>Last Name:<span class="app-required-label">*</span></label>
                {{ form_widget(form.user.lastName, {'attr': {'placeholder': 'Last Name', 'class': 'app-capitalize form-control mozilla-input'}}) }}
            </div>
        </div>
        <div class="app-wrapper">
            <div class="app-form-input--medium form-group">
                <label>E-mail:<span class="app-required-label">*</span></label>
                {{ form_widget(form.user.email, {'attr': {'placeholder': 'email@email.com', 'class': 'form-control mozilla-input'}}) }}
            </div>
            <div class="app-form-input--medium form-group">
                <label>Password:<span class="app-required-label">*</span></label>
                {{ form_widget(form.user.plainPassword, {'attr': {'placeholder': '*******', 'class': 'form-control mozilla-input', 'type': 'password'}}) }}
            </div>
        </div>

        <div class="form-group">
            <label>Select Contractor:<span class="app-required-label">*</span></label>
            {{ form_widget(form.contractor, {'attr': {'name': 'contractor', 'class': 'selectpicker form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_widget(form.user.enabled, {'attr': {'class': 'app-checkbox-input'}}) }}
            <label class="app-checkbox-label app-color--white app-color--white" for="contractor_user_user_enabled">Enabled</label>
        </div>

        {% if form_errors(form) %}
            <div class="alert alert-danger app-flash-message--danger">
                <a href="#" class="close app-flash-message__closed--danger" data-dismiss="alert" aria-label="close">&times;</a>
                {{ form_errors(form) }}
            </div>
        {% endif %}


        <div class="app-form-button--right">
                <button type="submit" class="app-form-button btn ">CREATE</button>
                <a href="{{ path('admin_user_list') }}" class="app-form-button app-form-button--grey app-form-button--indent btn">CANCEL</a>
        </div>
        {{ form_end(form) }}
    </div>
    <!-- Modal -->
    {{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
        'modalId' : 'userModal',
        'message' : 'Are you sure you want to create this User?',
        'dataSubmit' : 'Yes'
    }) }}
{% endblock %}