{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}
    <div class="app-main__page-title app-wrapper">
        <div class="app-main__page-title-name">Users</div>
        <div class="app-wrapper">
            <div class="app-common-information__data">{{ users | length }}
                <span class="app-common-information__data-name">Users</span>
                <div class="app-common-information__plus-container">
                    <a href="{{ path('admin_user_create') }}" class="btn app-common-information__plus">
                        <div class="app-common-information__plus--horizontal"></div>
                        <div class="app-common-information__plus--vertical"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    {{ include('AdminBundle:Opportunity:flash_messages.html.twig', {"app.session": app.session}) }}

    {% if users | length %}
        <table class="table app-data__table app-notice-list app-bordered--shadow app-data__table-haveFilter" data-selector="without-first-devider">
            <thead>
            <tr class="app-color--inactive">
                <th>Ref. ID</th>
                <th colspan="2">First name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Enabled</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody >
            <!--user row-->
            {% for user in users %}
                <tr class="">
                    <td>{{ user.id }}</td>
                    <td colspan="2">{{ user.firstName }}</td>
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.email }}</td>
                    <td>{% if user.enabled %}Yes{% else %}No{% endif %}</td>
                    <td class="app-devices-table__dash-cell app-text--align-right">
                        <a href="{{ path('admin_user_update', {'user': user.id}) }}">
                            <img src="{{ asset('bundles/admin/dist/images/edit.svg') }}">
                        </a>
                    </td>
                    <td class="app-devices-table__nav-icons app-text--align-center">
                        <a href="#" data-link="{{ path('admin_user_delete', {'user': user.id}) }}" class="app-modal-link" data-toggle="modal" data-target="#deleteUserModal">
                            <img alt="image delete" src="{{ asset('bundles/admin/dist/images/delete.svg') }}">
                        </a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>

    {% else %}
        <div class="app-data__not-found app-bordered--shadow">Users</div>
    {% endif %}

    <!-- Modal Delete Service-->
    {{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
        'modalId' : 'deleteUserModal',
        'message' : 'Are you sure you want to delete this User?',
        'buttonYes' : 'modalYes',
        'buttonYesHref' : '#',
        'oneClick' : 'Yes'
    }) }}
    <!-- End Modal Delete Service-->

{% endblock %}