{% extends 'AdminBundle:User:form.html.twig' %}

{% block formHead %}
    <div class="app-link__header--site-form app-main__page-title-name">
        Update User
    </div>
{% endblock %}

{% block formButton %}
    <button id="user_update" data-update="Yes" type="submit" class="app-form-button btn ">UPDATE</button>
    <!-- Modal -->
    {{ include('AdminBundle:layouts/dialogs:infoDialog.html.twig', {
        'modalId' : 'noUpdateModal',
        'messageId' : 'test-device'
    }) }}
{% endblock %}

{% block backButton %}
    <a href="{{ path('admin_user_list') }}" class="app-form-button app-form-button--grey app-form-button--indent btn">CANCEL</a>
{% endblock %}