<template src="./templates/edit_payment_override_popup.html"></template>

<script>
import { numeric, integer, maxLength, decimal } from "vuelidate/lib/validators";

export default {
  props: ['paymentOverride'],
  data: function() {
    return {
      overridePayment: '$' + this.paymentOverride
    }
  },
  methods: {
    inputOverridePayment: function(val) {
      if (val === '') {
        this.overridePayment = '$0';
      } else {
        let newVal = val.replace('$', '');
        let reg = /[0-9.]+/g;
        let afterReg = reg.exec(newVal);
        if (!afterReg) {
          this.overridePayment = '$';
        } else {
          let result = afterReg[0];
          if (result[0] === '0' && result[1] !== '.' || result[0] === '.') {
            this.overridePayment = '$0';
          } else {
            if (result.indexOf('.') !== -1) {
              let checkDots = result.split('.');
              if (checkDots.length > 2) {
                let afterCheckDots = checkDots.slice(0, 2).join('.');
                this.overridePayment = '$' + afterCheckDots;
              } else {
                this.overridePayment = '$' + result;
              }
            } else {
              this.overridePayment = '$' + result;
            }
          }
        }
      }
    }
  }
}
</script>

<style src="./assets/edit_payment_override_popup.scss" scoped lang="scss"></style>