<template src="./templates/form_info_jobsite.html"></template>

<script>
export default {
  props: ['account'],
  computed: {
    accountType: function() {
      if (this.account.accountType === 'account') {
        return 'Site Account'
      } else {
        return 'Group Account'
      }
    }
  }
}
</script>

<style src="./assets/form_info_jobsite.scss" scoped lang="scss"></style>

