<template src="./templates/form_info_customer.html"></template>

<script>
export default {
  props: ['accountContactPerson']
}
</script>

<style src="./assets/form_info_customer.scss" scoped lang="scss"></style>
