<template src="./templates/group_of_fields.html"></template>

<script>
export default {
  props: ['invoiceData'],
  data: function() {
    return {
      workorder: {
        poNo: this.invoiceData.workorder.poNo || ''
      },
      memo: this.invoiceData.memo,
      inspector: this.invoiceData.inspector,
      paymentTerms: {
        name: this.invoiceData.paymentTerm.name,
        alias: this.invoiceData.paymentTerm.alias
      }
    }
  },
  computed: {
    fullAuthoraizerName: function() {
      if (this.invoiceData.workorder.authorizer) {
        if (this.invoiceData.workorder.authorizer.contactPerson.firstName && !this.invoiceData.workorder.authorizer.contactPerson.lastName) {
          return this.invoiceData.workorder.authorizer.contactPerson.firstName;
        } else if (!this.invoiceData.workorder.authorizer.contactPerson.firstName && this.invoiceData.workorder.authorizer.contactPerson.lastName) {
          return this.invoiceData.workorder.authorizer.contactPerson.lastName;
        } else {
          return this.invoiceData.workorder.authorizer.contactPerson.firstName + ' ' + this.invoiceData.workorder.authorizer.contactPerson.lastName;
        }
      } else {
        return '';
      }
    }
  },
  methods: {
    passInvoiceTerms: function() {
      this.$emit('invoiceTerms', this.workorder, this.memo, this.inspector, this.paymentTerms)
    }
  }
}
</script>

<style src="./assets/group_of_fields.scss" scoped lang="scss"></style>
