<template src="./templates/input_invoice_no.html"></template>

<script>
export default {
  props: ['status', 'invoiceNo'],
  data: function() {
    return {

    }
  },
  computed: {
    isVoided: function() {
      return this.status && this.status.name === 'Voided' ? true : false;
    }
  }
}
</script>

<style src="./assets/input_invoice_no.scss" scoped lang="scss"></style>
