<template src="./templates/input_date.html"></template>

<script>
export default {
  props: ['invoiceDate'],
  data: function() {
    return {
      
    }
  },
  methods: {
    passInvoiceDate: function() {
      this.$emit('invoiceDate', this.invoiceDate);
    }
  }
}
</script>

<style src="./assets/input_date.scss" scoped lang="scss"></style>
