<template src="./templates/invoice_table.html"></template>

<script>
import invoiceItem from "./invoice_item.vue";

export default {
  name: "invoiceTable",
  components: {
    invoiceItem
  },
  props: ['invoiceData'],
  data: function() {
    return {
      invoiceItemsList: [],
      invoiceTotal: '0.00',
      editIndex: null,
      deleteIndex: null
    };
  },
  created: function() {
    if (this.invoiceData.lines.length >= 0) {
      for (let i = 0; i < this.invoiceData.lines.length; i++) {
        let lineItem = {
          id: this.invoiceData.lines[i].id,
          description: this.invoiceData.lines[i].description,
          qty: this.invoiceData.lines[i].quantity,
          amount: this.invoiceData.lines[i].amount,
          rate: this.invoiceData.lines[i].rate,
          name: this.invoiceData.lines[i].item.name,
          rateType: this.invoiceData.lines[i].item.rateType,
          type: this.invoiceData.lines[i].item.type,
          qbId: this.invoiceData.lines[i].item.qbId
        }
        if (lineItem.type.name === 'discount' && lineItem.rate !== '-') {
          lineItem.rate = '-' + lineItem.rate;
          lineItem.amount = '-' + lineItem.amount;
        }
        if (lineItem.name === 'Address') {
          lineItem.qty = '';
          lineItem.rate = '';
          lineItem.amount = '';
        }
        this.invoiceItemsList.push(lineItem);
      }
    }
  },
  computed: {
    showTable: function() {
      return this.invoiceItemsList.length === 0;
    }
  },
  methods: {
    passInvoiceItems: function() {
      this.$emit('invoiceItemsSend', this.invoiceItemsList);
    }
  }
};
</script>

<style src="./assets/invoice_table.scss" scoped lang="scss"></style>
