<template src="./templates/invoice_popup.html"></template>

<script>
import { numeric, required, integer, maxLength, decimal } from "vuelidate/lib/validators";

export default {
  name: "popup",
  props: ["selectedPopupItem"],
  data: function() {
    return {
      invoiceItemOnCreate: this.selectedPopupItem
    };
  },
  validations: {
    invoiceItemOnCreate: {
      rate: {
        decimal,
        required
      },
      qty: {
        numeric,
        required
      },
      description: {
        maxLength: maxLength(255)
      }
    },
    validationGroup: [
      "invoiceItemOnCreate.qty",
      "invoiceItemOnCreate.rate",
      "invoiceItemOnCreate.description"
    ]
  },
  methods: {
    invoiceAddNewItem: function(event) {
      if (this.$v.validationGroup.$invalid) {
        this.$v.validationGroup.$touch();
        return;
      }
      $("#addItemToInvoiceForm").modal("hide");
      this.generatedRate();
      this.generatedQty();
      // this.$emit("invoice-popup-item", this.invoiceItemOnCreate);
      this.$parent.$refs.invoiceTable.addInvoiceItem(this.invoiceItemOnCreate);
    },
    generatedRate: function(event) {
      let rateArr = String(this.invoiceItemOnCreate.rate).split('');
      if (this.invoiceItemOnCreate.type.name === "discount") {
        if (rateArr[0] === '-') {
          this.invoiceItemOnCreate.rate = this.invoiceItemOnCreate.rate;
        } else {
          this.invoiceItemOnCreate.rate = `-${this.invoiceItemOnCreate.rate}`;
        }
      } else if (rateArr[0] === '-' && rateArr.length <= 1) {
        this.invoiceItemOnCreate.rate = '-1';
      } 
    },
    generatedQty: function() {
      if (this.invoiceItemOnCreate.type.name === "discount") {
        this.invoiceItemOnCreate.qty = 1;
      }
    }
  }
};
</script>

<style src="./assets/invoice_popup.scss" lang="scss" scoped></style>
