<template src="./templates/invoice_use_custom_pdf.html"></template>

<script>
  export default {
    props: ['workorder']

  }
</script>

<style src="./assets/invoice_use_custom_pdf.scss" scoped lang="scss"></style>
