<template src="./templates/invoice_item.html"></template>

<script>
// @click="$emit('itemBeforeEdite', this.item, this.index)"
import Vue from "Vue";
import Vuelidate from "vuelidate";
import { numeric, integer, maxLength } from "vuelidate/lib/validators";
Vue.use(Vuelidate);
export default {
  name: "item",
  props: ["invoiceItem", "index"],
  data: function() {
    return {
      // amount: this.invoiceItem.amount,
      // description: this.invoiceItem.description,
      // id: this.invoiceItem.id,
      // name: this.invoiceItem.name,
      // qty: this.invoiceItem.qty,
      // rate: this.invoiceItem.rate,
      // rateType: {
      //   name: this.invoiceItem.rateType.name
      // },
      // type: {
      //   name: this.invoiceItem.type.name
      // }
    };
  },
  computed: {
    amount: function() {
      // if (this.type.name === 'discount') {
      //   return this.invoiceItem.rate;
      // } else {
      //   return this.invoiceItem.qty * this.invoiceItem.rate;
      // }
      return this.invoiceItem.amount !== '' ? parseFloat(this.invoiceItem.amount).toFixed(2) : '';
    },
    description: function() {
      return this.invoiceItem.description;
    },
    id: function() {
      return this.invoiceItem.id;
    },
    name: function() {
      return this.invoiceItem.name;
    },
    qty: function() {
      return this.invoiceItem.qty;
    },
    rate: function() {
      return this.invoiceItem.rate !== '' ? parseFloat(this.invoiceItem.rate).toFixed(2) : '';
    },
    rateType: function() {
      return {name: this.invoiceItem.rateType.name};
    },
    type: function() {
      return {name: this.invoiceItem.type.name};
    }
  },
  methods: {
    showEditModal: function() {
      this.$emit("itemBeforeEdit", 
      {
        amount: this.amount,
        description: this.description,
        id: this.id,
        name: this.name,
        qty: this.qty,
        rate: this.rate,
        rateType: this.rateType,
        type: this.type
      }, this.index);
      $("#editItem").modal("show");

    },
    inputEditable: function(event) {
      $(event.target).addClass(
        "app-detailed_input--focused form-control mozilla-input ui-autocomplete-input"
      );
      $(event.target).removeClass("app-detailed_input--disabled");
    },
    inputUneditable: function(event) {
      $(event.target).addClass("app-detailed_input--disabled");
      $(event.target).removeClass(
        "app-detailed_input--focused form-control mozilla-input ui-autocomplete-input"
      );
    }
  }
};
</script>

<style src="./assets/invoice_item.scss" scoped lang="scss"></style>
