<template src="./templates/invoice_total_info.html"></template>

<script>
import editPaymentOverridePopup from './edit_payment_override_popup.vue';
import axios from 'axios';

export default {
  components: {
    editPaymentOverridePopup
  },
  props: ['invoiceData'],
  data: function() {
    return {
      overridePayment: this.invoiceData.overridePayment ? this.invoiceData.overridePayment.toFixed(2) : '0.00',
      sendingOverrideProcess: false
    }
  },
  methods: {
    passInvoiceTotalInfo: function() {
      this.$emit('invoiceTotalInfo', this.overridePayment, this.paymentApplied, this.balanceDue);
    },
    sendNewPaymentOverride: function(newPaymentBefore) {
      this.sendingOverrideProcess = true;
      let newPayment = newPaymentBefore.replace('$', '');
      axios.post('/admin/invoice/payments-override/edit/' + this.invoiceData.id, {newPayment}).then((data) => {
            this.sendingOverrideProcess = false;
            this.overridePayment = parseFloat(newPayment).toFixed(2);
          });
    }
  },
  computed: {
    workorderTotal: function() {
      return this.invoiceData.workorder.grandTotal ? this.invoiceData.workorder.grandTotal.toFixed(2) : '0.00';
    },
    balanceDueABFP: function() {
      let override = this.overridePayment.toString().replace('$', '');
      return (this.invoiceData.total - override).toFixed(2);
    },
    total: function() {
      return this.invoiceData.total.toFixed(2);
    },
    paymentApplied: function() {
      return this.invoiceData.paymentApplied.toFixed(2);
    },
    balanceDueQb: function() {
      return this.invoiceData.balanceDue.toFixed(2);
    }
  }
}
</script>

<style src="./assets/invoice_total_info.scss" lang="scss" scoped></style>
