<template src="./templates/invoice_edit_popup.html"></template>

<script>
import { numeric, required, integer, maxLength, decimal } from "vuelidate/lib/validators";

export default {
  name: "edit-popup",
  props: ["itemBeforeEdit", "indexItemBeforeEdit"],
  data: function() {
    return {
      itemAfterEdit: {
        id: null,
        name: "",
        description: "",
        rate: null,
        type: {
          name: ""
        },
        rateType: {
          name: ""
        },
        amount: null,
        qty: null
      }
    };
  },
  watch: {
    itemBeforeEdit: function(val) {
      this.itemAfterEdit = Object.assign({}, val);
    }
  },
  validations: {
    itemAfterEdit: {
      rate: {
        decimal,
        required
      },
      qty: {
        numeric,
        required
      },
      description: {
        maxLength: maxLength(255)
      }
    },
    validationGroup: [
      "itemAfterEdit.qty",
      "itemAfterEdit.rate",
      "itemAfterEdit.description"
    ]
  },
  methods: {
    submitEditedItem: function() {
      if (this.$v.validationGroup.$invalid) {
        this.$v.validationGroup.$touch();
        return;
      }
      $("#editItem").modal("hide");
      this.generatedRate();
      this.generatedQty();
      this.generateAmount();
      this.$emit('itemAfterEdit', this.itemAfterEdit)
    },
    generateAmount: function() {
      if (this.itemAfterEdit.type.name === "discount") {
        this.itemAfterEdit.amount = this.itemAfterEdit.rate;
      } else {
        this.itemAfterEdit.amount = this.itemAfterEdit.rate * this.itemAfterEdit.qty;
      }
    },
    generatedRate: function(event) {
      let rateArr = this.itemAfterEdit.rate.split('');
      if (this.itemAfterEdit.type.name === "discount") {
        if (rateArr[0] === '-') {
          this.itemAfterEdit.rate = this.itemAfterEdit.rate;
        } else {
          this.itemAfterEdit.rate = `-${this.itemAfterEdit.rate}`;
        }
      } else if (rateArr[0] === '-' && rateArr.length <= 1) {
        this.itemAfterEdit.rate = '-1';
      } 
    },
    generatedQty: function() {
      if (this.itemAfterEdit.type.name === "discount") {
        this.itemAfterEdit.qty = 1;
      }
    }
  }
};
</script>

<style src="./assets/invoice_edit_popup.scss" scoped lang="scss"></style>
