<template src="./templates/page_header.html"></template>

<script>
export default {
  created: function() {
    this.invoiceData = JSON.parse($('#invoice-view-block').attr('data-invoice-view'));
  },
  data: function() {
    return {
      invoiceData: {}
    }
  }
}
</script>

<style src="./assets/page_header.scss" scoped lang="scss"></style>
