<template src="./templates/page_body.html"></template>

<script>
  import invoiceSearch from "./search_field.vue";
  import invoiceTable from "./invoice_table.vue";
  import invoicePopup from "./invoice_popup.vue";
  import invoiceEditPopup from "./invoice_edit_popup.vue";
  import inputInvoiceNo from "./input_invoice_no.vue";
  import inputDate from './input_date.vue';
  import formInfoJobsite from "./form_info_jobsite.vue";
  import formQbjob from "./form_qbjob.vue";
  import formInfoCustomer from "./form_info_customer.vue";
  import formBillingAddress from "./form_billing_address.vue";
  import invoiceTerms from './group_of_fields.vue';
  import invoiceTotalInfo from './invoice_total_info.vue';
  import invoiceButtons from './invoice_buttons.vue';
  import invoiceUseCustomPdf from './invoice_use_custom_pdf.vue';
  import axios from 'axios';

  export default {
    name: "page-body",
    components: {
      inputInvoiceNo,
      inputDate,
      formBillingAddress,
      formInfoCustomer,
      formInfoJobsite,
      formQbjob,
      invoiceSearch,
      invoiceTable,
      invoicePopup,
      invoiceEditPopup,
      invoiceTerms,
      invoiceButtons,
      invoiceTotalInfo,
      invoiceUseCustomPdf
    },

    data: function() {
      return {
        invoiceItemOnSelect: {
          id: null,
          name: "",
          description: "",
          rate: null,
          type: {
            name: ""
          },
          rateType: {
            name: ""
          },
          amount: null,
          qty: null,
          qbId: ''
        },
        itemBeforeEdit: {},
        indexItemBeforeEdit: null,
        invoiceItemsAvailable: [],
        showItems: false,
        invoiceData: Object,
        termsData: Array,
        itemAfterEdit: Object,
        invoiceTotal: 0,
        Invoice: {
          billToAddress: {
            address: '',
            city: '',
            state: {
              shortname: ''
            },
            zip: ''
          },
          workorder: {
            poNo: ''
          },
          paymentTerm: {
            alias: ''
          },
          memo: '',
          total: '',
          paymentApplied: '',
          overridePayment: '',
          balanceDue: '',
          inspector: '',
          lines: [],
          invoiceDate: ''
        }
      };
    },
    created: function() {
      this.invoiceData = JSON.parse($('#invoice-view-block').attr('data-invoice-view'));
    },
    methods: {
      getInvoiceDate: function(date) {
        this.Invoice.invoiceDate = date;
      },
      getInvoiceBillAddress: function(address) {
        this.Invoice.billToAddress.address = address.address;
        this.Invoice.billToAddress.city = address.city;
        this.Invoice.billToAddress.state.shortname = address.state.shortname;
        this.Invoice.billToAddress.zip = address.zip;
      },
      getInvoiceTerms: function(workorder, memo, inspector, paymentTerm) {
        this.Invoice.workorder.poNo = workorder.poNo;
        this.Invoice.memo = memo;
        this.Invoice.inspector = inspector;
        this.Invoice.paymentTerm.alias = paymentTerm.alias;
      },
      getInvoiceItems: function(items) {
        for (let i = 0; i < items.length; i++) {
          let invoiceItem = {
            description: items[i].description,
            quantity: items[i].qty,
            rate: items[i].rate,
            amount: items[i].amount,
            item: {
              name: items[i].name
            },
            serialNumber: i
          }
          this.Invoice.lines.push(invoiceItem);
        }
      },
      getInvoiceTotalInfo: function(paymentsOverride, paymentApplied, balanceDue) {
        this.Invoice.overridePayment = paymentsOverride;
        this.Invoice.paymentApplied = paymentApplied;
        this.Invoice.balanceDue = balanceDue;
        this.Invoice.total = this.invoiceTotal;
      },
      saveInvoice: function() {
        this.collectData();
        if (!this.invoiceData.accountContactPerson) {
          $('#noQbCustomer').modal('show');
          return;
        } else if (this.Invoice.lines.length <= 0) {
          $('#noItemAdded').modal('show');
          return;
        } else if ($('#invoiceCreate').valid()) {
          $('.invoiceSendButton').attr('disabled', true);
          axios.post('/admin/invoice/create/' + this.invoiceData.workorder.id, this.Invoice).then((data) => {
            this.clearInvoiceObject();
            window.location.href = 'https://' + data.data;
          });
        } else {
          $(document).scrollTop(300);
        }
      },
      sendInvoiceToQB: function() {
        this.collectData();
        if (!this.invoiceData.accountContactPerson) {
          $('#noQbCustomer').modal('show');
          return;
        } else if (this.Invoice.lines.length <= 0) {
          $('#noItemAdded').modal('show');
          return;
        } else if ($('#invoiceCreate').valid()) {
          $('.invoiceSendButton').attr('disabled', true);
          axios.post('/admin/invoice/save-send-to-quickbooks/' + this.invoiceData.workorder.id, this.Invoice).then((data) => {
            this.clearInvoiceObject();
            window.location.href = 'https://' + data.data;
          });
        } else {
          $(document).scrollTop(300);
        }
      },
      clearInvoiceObject: function() {
        this.Invoice.billToAddress.address = '';
        this.Invoice.billToAddress.city = '';
        this.Invoice.billToAddress.state.shortname = '';
        this.Invoice.billToAddress.zip = '';
        this.Invoice.workorder.poNo = '';
        this.Invoice.memo = '';
        this.Invoice.inspector = '';
        this.Invoice.paymentTerm.alias = '';
        this.Invoice.lines = [];
        this.Invoice.overridePayment = '';
        this.Invoice.paymentApplied = '';
        this.Invoice.balanceDue = '';
        this.Invoice.total = '';
        this.Invoice.invoiceDate = '';
      },
      collectData: function() {
        this.$refs.invoiceDate.passInvoiceDate();
        this.$refs.invoiceBillAddress.passInvoiceBillAddress();
        this.$refs.invoiceTerms.passInvoiceTerms();
        this.$refs.invoiceTable.passInvoiceItems();
        this.$refs.invoiceTotalInfo.passInvoiceTotalInfo();
      }
    }
  };
</script>

<style src="./assets/page_body.scss" scoped lang="scss"></style>
