{% extends 'AdminBundle:Municipality:form_create.html.twig' %}

{% block formHead %}<div class="app-main__page-title-name">Create new Municipality</div>{% endblock %}

{% block formButton %}
    <button type="submit" class="app-form-button btn ">CREATE</button>
{% endblock %}

