{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}
    <div class="municipalities-styles__main-info app-wrapper">
        <div class="municipalities-name-block">
            <div class="municipalities-styles_min-height app-detailed__wrapper heightDetector">
                <div class="app-wrapper app-wrapper--content-start">
                        <div>
                            <div class="municipalities-logo"></div>
                        </div>
                        <div>
                            <div class="app-contractor-information_data-id app-color--inactive">Municipality ID - {{ municipality.id }} {% if municipality.oldMunicipalityId %}(Old {{ municipality.oldMunicipalityId }}){% endif %}</div>
                            <div class="municipalities-title">{{ municipality.name }}</div>
                            <div class="app-detailed__info__data-address municipalities-address app-cut-string {{ (municipality.address is defined and  municipality.address | address) ? '' : 'app-color--inactive' }}">
                                {{ (municipality.address is defined and  municipality.address | address) ?  municipality.address | address : "No Address"}}
                            </div>
                            <div class="app-contact-main__line {{ municipality.municipalityPhone ? '' : 'app-color--inactive' }}">
                                <div class="sprite sprite--phone"></div>
                                <div class="app-contact-main__line-text">{{ municipality.municipalityPhone ? municipality.municipalityPhone : 'No Phone' }}</div>
                            </div>
                            <div class="app-contact-main__line {{ municipality.municipalityFax ? '' : 'app-color--inactive' }}">
                                <div class="sprite sprite--fax"></div>
                                <div class="app-contact-main__line-text">{{ municipality.municipalityFax ? municipality.municipalityFax : 'No Fax' }}</div>
                            </div>
                            {% if municipality.website %}
                                <div class="municipalities-site-link">
                                    <a href="{{ municipality.website | url_format }}" target="_blank" class="app-link__select">{{ municipality.website }}</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
            </div>
            {#<div class="app-detailed__button-container">
                <a class="app-detailed__button app-detailed__button--red app-detailed__button--shadow btn" data-toggle="modal" data-target="#deleteModal" >Delete</a>
                <a href="#" class="app-detailed__button app-detailed__button--blue app-detailed__button--shadow btn">Edit</a>
            </div>#}
        </div>
        <div class="municipalities-contacts-block">
            <div class="municipalities-styles_min-height municipalities-contacts-block__wrapper app-detailed__addition__content">
                <div class="app-detailed__addition__container__title">Administration</div>
                {% if municipality.contacts | length %}
                    <div class="app-contact-list__container--tbody municipalities-contacts-block__list municipalities-contacts-block_scroll-height content-account">
                        {{ include('AdminBundle:Contacts:list.html.twig', {"contacts": municipality.contacts }) }}
                    </div>
                {% else %}
                    <div class="app-account-addition__details__wrapper">No Contacts</div>
                {% endif %}
            </div>
            <div class="app-detailed__button-container">
                {#<a href="#" class="app-detailed__button app-detailed__button--blue app-detailed__button--shadow btn">Add</a>#}
            </div>
        </div>
        <div class="municipalities-other-block">
            <div class="app-detailed__addition__content municipalities-styles_min-height">
                <div class="app-detailed__addition__container__title">Comments</div>
                <div class="app-account-addition__details__wrapper">No Comments</div>
            </div>
            <div class="app-detailed__button-container">
                {#<a href="#" class="app-detailed__button app-detailed__button--blue app-detailed__button--shadow btn">Add</a>#}
            </div>
        </div>
        <div class="municipalities-other-block">
            <div class="app-detailed__addition__content municipalities-styles_min-height">
                <div class="app-detailed__addition__container__title">Files</div>
                <div class="app-account-addition__details__wrapper">No Files</div>
            </div>
            {#<div class="app-detailed__button-container">
                <a href="#" class="app-detailed__button app-detailed__button--blue app-detailed__button--shadow btn">Add</a>
            </div>#}
        </div>
    </div>
    <div class="app-wrapper app-account-site__header">
        <div class="app-color--inactive app-font--bold app-font--large">
            Departments
        </div>
        {#<div>#}
            {#<a href="#" class="app-detailed__button app-detailed__button--blue app-detailed__button--shadow btn" data-target="#addDevice" data-toggle="modal">Add Department</a>#}
        {#</div>#}
    </div>
    {#<div class="municipalities-devices app-detailed__wrapper">#}
        {#<div class="app-devices-table__device-type municipalities-devices__title-radius">#}
            {#<div class="app-wrapper municipalities-devices__title">#}
                {#<div>#}
                    {#<img class="app-line--right-text" src="{{ asset('bundles/admin/dist/images/backflow.svg') }}">#}
                    {#<span class="app-color--inactive app-devices-table__device-title app-line--align">Backflow Devices and Services</span>#}
                    {#<span class="municipalities-styles__contacts-nav municipalities-department-nav">#}
                    {#<span>#}
                        {#<a href="#"><img src="{{ asset('bundles/admin/dist/images/edit.svg') }}" alt="" class="app-contractor-users-licenses-table__icons_edit"></a>#}
                    {#</span>#}
                    {#<span>#}
                        {#<a href="#"><img src="{{ asset('bundles/admin/dist/images/delete.svg') }}" class="app-contractor-users-licenses-table__icons_delete"></a>#}
                    {#</span>#}
                {#</span>#}
                {#</div>#}
                {#<div>#}
                    {#<a href="#" class="app-detailed__button app-detailed__button--blue app-line--align btn add-agent" data-departmentId="1" data-target="#addAgent" data-toggle="modal">Add Agent</a>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        {#<div class="app-wrapper municipalities-devices__content">#}
            {#<div class="municipalities-department-channels">#}
                {#<div class="app-wrapper">#}
                    {#<div class="municipalities-department-channels__title app-color--inactive">#}
                        {#Department Compliance Channels:#}
                    {#</div>#}
                    {#<div>#}
                        {#<a href="#" class="app-detailed__button app-detailed__button--blue app-account-site__button btn" data-target="#addDevice" data-toggle="modal">Add Compliance Channel</a>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="municipalities-department-channels__content">#}
                    {#<div class="app-color--inactive department-channels-is-agent">#}
                        {#Please, see agent compliance channels below#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
            {#<div class="municipalities-department-contacts">#}
                {#<div class="app-wrapper">#}
                    {#<div class="municipalities-department-channels__title app-color--inactive">#}
                        {#Department Contacts:#}
                    {#</div>#}
                    {#<div>#}
                        {#<a href="#" class="app-detailed__button app-detailed__button--blue app-account-site__button btn" data-target="#addDevice" data-toggle="modal">Add Contact</a>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="municipalities-department-contacts__content content-account">#}
                    {#<div class="municipalities-contacts-block__list-element">#}
                        {#<div class="primary-account-block__separator">#}
                            {#<div class="municipalities-contacts-block__separator">#}
                                {#<span>#}
                                    {#<img class="app-contact-list__contact-icon municipalities-styles_icons" src="/bundles/admin/dist/images/municipality_contact.svg" alt="image contact">#}
                                     {#<a class="app-link__select app-link__title app-contact-list__contact-name app-line--right-text" target="_blank" href="#" >Test Viktorovich</a>#}
                                {#</span>#}
                                {#<span class="municipalities-styles__contacts-nav">#}
                                    {#<span>#}
                                        {#<a href="#"><img src="{{ asset('bundles/admin/dist/images/edit.svg') }}" alt="" class="app-contractor-users-licenses-table__icons_edit"></a>#}
                                    {#</span>#}
                                    {#<span>#}
                                        {#<a href="#"><img src="{{ asset('bundles/admin/dist/images/delete.svg') }}" class="app-contractor-users-licenses-table__icons_delete"></a>#}
                                    {#</span>#}
                                {#</span>#}
                            {#</div>#}
                            {#<div class="municipalities-contacts-block__separator">#}
                                {#<div class="app-line--colored municipalities-styles__colored-line municipalities-department-contacts__colored-line">#}
                                    {#<span class="">#}
                                        {#<span class="app-color--inactive">City Major</span>#}
                                                                                                                                                                        {#</span>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div>#}
                            {#<div class="primary-account-block__separator">#}
                                {#<div class="municipalities-contacts-block__separator">#}
                                    {#<div class="app-contact-main__line">#}
                                        {#<div class="sprite sprite--phone"></div>#}
                                        {#<div class="app-contact-main__line-text">#}
                                            {#(454) 776-5555#}
                                            {#<span style="padding-left: 15px;">#}
                                                {#<span class="app-color--inactive">Ext.:</span> 123#}
                                            {#</span>#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<div class="app-contact-main__line">#}
                                        {#<div class="sprite sprite--mobile"></div>#}
                                        {#<div class="app-contact-main__line-text">#}
                                            {#(343) 434-6767#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<div class="app-contact-main__line">#}
                                        {#<div class="sprite sprite--fax"></div>#}
                                        {#<div class="app-contact-main__line-text">#}
                                            {#(564) 343-3423#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                                {#<div class="municipalities-contacts-block__separator">#}
                                    {#<div class="app-contact-main__line ">#}
                                        {#<div class="sprite sprite--mail"></div>#}
                                        {#<div class="app-contact-main__line-text">#}
                                            {#Street and Building and other info, Lviv#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<div class="app-contact-main__line ">#}
                                        {#<div class="sprite sprite--address"></div>#}
                                        {#<div class="app-contact-main__line-text">#}
                                            {#AK#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<div class="app-contact-main__line ">#}
                                        {#<div class="sprite sprite--dog"></div>#}
                                        {#<div class="app-contact-main__line-text">#}
                                            {#contact2@gmail.com#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="municipalities-contacts-block__list-element">#}
                        {#<div class="primary-account-block__separator">#}
                            {#<div class="municipalities-contacts-block__separator">#}
                                {#<span>#}
                                    {#<img class="app-contact-list__contact-icon municipalities-styles_icons" src="/bundles/admin/dist/images/municipality_contact.svg" alt="image contact">#}
                                     {#<a class="app-link__select app-link__title app-contact-list__contact-name app-line--right-text" target="_blank" href="#" >Test Viktorovich</a>#}
                                {#</span>#}
                                {#<span class="municipalities-styles__contacts-nav">#}
                                    {#<span>#}
                                        {#<a href="#"><img src="{{ asset('bundles/admin/dist/images/edit.svg') }}" alt="" class="app-contractor-users-licenses-table__icons_edit"></a>#}
                                    {#</span>#}
                                    {#<span>#}
                                        {#<a href="#"><img src="{{ asset('bundles/admin/dist/images/delete.svg') }}" class="app-contractor-users-licenses-table__icons_delete"></a>#}
                                    {#</span>#}
                                {#</span>#}
                            {#</div>#}
                            {#<div class="municipalities-contacts-block__separator">#}
                                {#<div class="app-line--colored municipalities-styles__colored-line municipalities-department-contacts__colored-line">#}
                                    {#<span class="">#}
                                        {#<span class="app-color--inactive">City Major</span>#}
                                                                                                                                                                        {#</span>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div>#}
                            {#<div class="primary-account-block__separator">#}
                                {#<div class="municipalities-contacts-block__separator">#}
                                    {#<div class="app-contact-main__line">#}
                                        {#<div class="sprite sprite--phone"></div>#}
                                        {#<div class="app-contact-main__line-text">#}
                                            {#(454) 776-5555#}
                                            {#<span style="padding-left: 15px;">#}
                                                {#<span class="app-color--inactive">Ext.:</span> 123#}
                                            {#</span>#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<div class="app-contact-main__line">#}
                                        {#<div class="sprite sprite--mobile"></div>#}
                                        {#<div class="app-contact-main__line-text">#}
                                            {#(343) 434-6767#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<div class="app-contact-main__line">#}
                                        {#<div class="sprite sprite--fax"></div>#}
                                        {#<div class="app-contact-main__line-text">#}
                                            {#(564) 343-3423#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                                {#<div class="municipalities-contacts-block__separator">#}
                                    {#<div class="app-contact-main__line ">#}
                                        {#<div class="sprite sprite--mail"></div>#}
                                        {#<div class="app-contact-main__line-text">#}
                                            {#Street and Building and other info, Lviv#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<div class="app-contact-main__line ">#}
                                        {#<div class="sprite sprite--address"></div>#}
                                        {#<div class="app-contact-main__line-text">#}
                                            {#AK#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<div class="app-contact-main__line ">#}
                                        {#<div class="sprite sprite--dog"></div>#}
                                        {#<div class="app-contact-main__line-text">#}
                                            {#contact2@gmail.com#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="municipalities-contacts-block__list-element">#}
                        {#<div class="primary-account-block__separator">#}
                            {#<div class="municipalities-contacts-block__separator">#}
                                {#<span>#}
                                    {#<img class="app-contact-list__contact-icon municipalities-styles_icons" src="/bundles/admin/dist/images/municipality_contact.svg" alt="image contact">#}
                                     {#<a class="app-link__select app-link__title app-contact-list__contact-name app-line--right-text" target="_blank" href="#" >Test Viktorovich</a>#}
                                {#</span>#}
                                {#<span class="municipalities-styles__contacts-nav">#}
                                    {#<span>#}
                                        {#<a href="#"><img src="{{ asset('bundles/admin/dist/images/edit.svg') }}" alt="" class="app-contractor-users-licenses-table__icons_edit"></a>#}
                                    {#</span>#}
                                    {#<span>#}
                                        {#<a href="#"><img src="{{ asset('bundles/admin/dist/images/delete.svg') }}" class="app-contractor-users-licenses-table__icons_delete"></a>#}
                                    {#</span>#}
                                {#</span>#}
                            {#</div>#}
                            {#<div class="municipalities-contacts-block__separator">#}
                                {#<div class="app-line--colored municipalities-styles__colored-line municipalities-department-contacts__colored-line">#}
                                    {#<span class="">#}
                                        {#<span class="app-color--inactive">City Major</span>#}
                                                                                                                                                                        {#</span>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div>#}
                            {#<div class="primary-account-block__separator">#}
                                {#<div class="municipalities-contacts-block__separator">#}
                                    {#<div class="app-contact-main__line">#}
                                        {#<div class="sprite sprite--phone"></div>#}
                                        {#<div class="app-contact-main__line-text">#}
                                            {#(454) 776-5555#}
                                            {#<span style="padding-left: 15px;">#}
                                                {#<span class="app-color--inactive">Ext.:</span> 123#}
                                            {#</span>#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<div class="app-contact-main__line">#}
                                        {#<div class="sprite sprite--mobile"></div>#}
                                        {#<div class="app-contact-main__line-text">#}
                                            {#(343) 434-6767#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<div class="app-contact-main__line">#}
                                        {#<div class="sprite sprite--fax"></div>#}
                                        {#<div class="app-contact-main__line-text">#}
                                            {#(564) 343-3423#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                                {#<div class="municipalities-contacts-block__separator">#}
                                    {#<div class="app-contact-main__line ">#}
                                        {#<div class="sprite sprite--mail"></div>#}
                                        {#<div class="app-contact-main__line-text">#}
                                            {#Street and Building and other info, Lviv#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<div class="app-contact-main__line ">#}
                                        {#<div class="sprite sprite--address"></div>#}
                                        {#<div class="app-contact-main__line-text">#}
                                            {#AK#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<div class="app-contact-main__line ">#}
                                        {#<div class="sprite sprite--dog"></div>#}
                                        {#<div class="app-contact-main__line-text">#}
                                            {#contact2@gmail.com#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="municipalities-contacts-block__list-element">#}
                        {#<div class="primary-account-block__separator">#}
                            {#<div class="municipalities-contacts-block__separator">#}
                                {#<span>#}
                                    {#<img class="app-contact-list__contact-icon municipalities-styles_icons" src="/bundles/admin/dist/images/municipality_contact.svg" alt="image contact">#}
                                     {#<a class="app-link__select app-link__title app-contact-list__contact-name app-line--right-text" target="_blank" href="#" >Test Viktorovich</a>#}
                                {#</span>#}
                                {#<span class="municipalities-styles__contacts-nav">#}
                                    {#<span>#}
                                        {#<a href="#"><img src="{{ asset('bundles/admin/dist/images/edit.svg') }}" alt="" class="app-contractor-users-licenses-table__icons_edit"></a>#}
                                    {#</span>#}
                                    {#<span>#}
                                        {#<a href="#"><img src="{{ asset('bundles/admin/dist/images/delete.svg') }}" class="app-contractor-users-licenses-table__icons_delete"></a>#}
                                    {#</span>#}
                                {#</span>#}
                            {#</div>#}
                            {#<div class="municipalities-contacts-block__separator">#}
                                {#<div class="app-line--colored municipalities-styles__colored-line municipalities-department-contacts__colored-line">#}
                                    {#<span class="">#}
                                        {#<span class="app-color--inactive">City Major</span>#}
                                                                                                                                                                        {#</span>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div>#}
                            {#<div class="primary-account-block__separator">#}
                                {#<div class="municipalities-contacts-block__separator">#}
                                    {#<div class="app-contact-main__line">#}
                                        {#<div class="sprite sprite--phone"></div>#}
                                        {#<div class="app-contact-main__line-text">#}
                                            {#(454) 776-5555#}
                                            {#<span style="padding-left: 15px;">#}
                                                {#<span class="app-color--inactive">Ext.:</span> 123#}
                                            {#</span>#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<div class="app-contact-main__line">#}
                                        {#<div class="sprite sprite--mobile"></div>#}
                                        {#<div class="app-contact-main__line-text">#}
                                            {#(343) 434-6767#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<div class="app-contact-main__line">#}
                                        {#<div class="sprite sprite--fax"></div>#}
                                        {#<div class="app-contact-main__line-text">#}
                                            {#(564) 343-3423#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                                {#<div class="municipalities-contacts-block__separator">#}
                                    {#<div class="app-contact-main__line ">#}
                                        {#<div class="sprite sprite--mail"></div>#}
                                        {#<div class="app-contact-main__line-text">#}
                                            {#Street and Building and other info, Lviv#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<div class="app-contact-main__line ">#}
                                        {#<div class="sprite sprite--address"></div>#}
                                        {#<div class="app-contact-main__line-text">#}
                                            {#AK#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<div class="app-contact-main__line ">#}
                                        {#<div class="sprite sprite--dog"></div>#}
                                        {#<div class="app-contact-main__line-text">#}
                                            {#contact2@gmail.com#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        {#<div class="municipalities-department-agent-title-line app-color--inactive">#}
            {#Agent#}
        {#</div>#}
        {#<div class="municipalities-devices__content">#}
            {#<div class="municipalities-department-agent-title">#}
                {#<span>#}
                    {#<img class="app-contact-list__contact-icon municipalities-department-agent-title_icon-size" src="/bundles/admin/dist/images/agent.svg" alt="image contact">#}
                    {#<a class="app-link__select app-link__title app-contact-list__contact-name app-line--right-text" target="_blank" href="#" >Test Viktorovich</a>#}
                {#</span>#}
                {#<span class="municipalities-styles__contacts-nav">#}
                    {#<span>#}
                        {#<a href="#"><img src="{{ asset('bundles/admin/dist/images/edit.svg') }}" alt="" class="app-contractor-users-licenses-table__icons_edit"></a>#}
                    {#</span>#}
                    {#<span>#}
                        {#<a href="#"><img src="{{ asset('bundles/admin/dist/images/delete.svg') }}" class="app-contractor-users-licenses-table__icons_delete"></a>#}
                    {#</span>#}
                {#</span>#}
            {#</div>#}
            {#<div class="app-wrapper">#}
                {#<div class="municipalities-department-channels">#}
                    {#<div class="app-wrapper">#}
                        {#<div class="municipalities-department-channels__title app-color--inactive">#}
                            {#Department Contacts:#}
                        {#</div>#}
                        {#<div>#}
                            {#<a href="#" class="app-detailed__button app-detailed__button--blue app-account-site__button btn" data-target="#addDevice" data-toggle="modal">Add Contact</a>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="municipalities-department-channels__content">#}
                        {#<div class="municipalities-channel-table">#}
                            {#<table class="app-contractor-users-licenses-table app-view--max-width">#}
                                {#<tbody>#}
                                {#<tr class="app-color--inactive">#}
                                    {#<th>Channel</th>#}
                                    {#<th>Send to</th>#}
                                    {#<th>Upload Fee</th>#}
                                    {#<th>Processing Fee</th>#}
                                    {#<th>Fees Basis</th>#}
                                    {#<th></th>#}
                                    {#<th></th>#}
                                {#</tr>#}
                                {#<tr>#}
                                    {#<td>Email</td>#}
                                    {#<td>mail@mail.com</td>#}
                                    {#<td>-</td>#}
                                    {#<td>-</td>#}
                                    {#<td>-</td>#}
                                    {#<td class="app-contractor-users-licenses-table__icons">#}
                                        {#<a href="#">#}
                                            {#<img src="/bundles/admin/dist/images/edit.svg" alt="" class="app-contractor-users-licenses-table__icons_edit">#}
                                        {#</a>#}
                                    {#</td>#}
                                    {#<td class="app-contractor-users-licenses-table__icons">#}
                                        {#<a href="#">#}
                                            {#<img src="/bundles/admin/dist/images/delete.svg" class="app-contractor-users-licenses-table__icons_delete">#}
                                        {#</a>#}
                                    {#</td>#}
                                {#</tr>#}
                                {#<tr>#}
                                    {#<td>Mail</td>#}
                                    {#<td>38 N. Apple, Chicago, IL 60052</td>#}
                                    {#<td>-</td>#}
                                    {#<td>-</td>#}
                                    {#<td>-</td>#}
                                    {#<td class="app-contractor-users-licenses-table__icons">#}
                                        {#<a href="#">#}
                                            {#<img src="/bundles/admin/dist/images/edit.svg" alt="" class="app-contractor-users-licenses-table__icons_edit">#}
                                        {#</a>#}
                                    {#</td>#}
                                    {#<td class="app-contractor-users-licenses-table__icons">#}
                                        {#<a href="#">#}
                                            {#<img src="/bundles/admin/dist/images/delete.svg" class="app-contractor-users-licenses-table__icons_delete">#}
                                        {#</a>#}
                                    {#</td>#}
                                {#</tr>#}
                                {#<tr>#}
                                    {#<td>Fax</td>#}
                                    {#<td>(111) 111-11-11</td>#}
                                    {#<td>-</td>#}
                                    {#<td>-</td>#}
                                    {#<td>-</td>#}
                                    {#<td class="app-contractor-users-licenses-table__icons">#}
                                        {#<a href="#">#}
                                            {#<img src="/bundles/admin/dist/images/edit.svg" alt="" class="app-contractor-users-licenses-table__icons_edit">#}
                                        {#</a>#}
                                    {#</td>#}
                                    {#<td class="app-contractor-users-licenses-table__icons">#}
                                        {#<a href="#">#}
                                            {#<img src="/bundles/admin/dist/images/delete.svg" class="app-contractor-users-licenses-table__icons_delete">#}
                                        {#</a>#}
                                    {#</td>#}
                                {#</tr>#}
                                {#<tr>#}
                                    {#<td>#}
                                        {#<span class="app-line--right-text">#}
                                           {#Upload#}
                                        {#</span>#}
                                        {#<span class="label label-success app-label">Default</span>#}
                                    {#</td>#}
                                    {#<td>http://web.cc.us/upload</td>#}
                                    {#<td>$12</td>#}
                                    {#<td>$3</td>#}
                                    {#<td>per Device</td>#}
                                    {#<td class="app-contractor-users-licenses-table__icons">#}
                                        {#<a href="#">#}
                                            {#<img src="/bundles/admin/dist/images/edit.svg" alt="" class="app-contractor-users-licenses-table__icons_edit">#}
                                        {#</a>#}
                                    {#</td>#}
                                    {#<td class="app-contractor-users-licenses-table__icons">#}
                                        {#<a href="#">#}
                                            {#<img src="/bundles/admin/dist/images/delete.svg" class="app-contractor-users-licenses-table__icons_delete">#}
                                        {#</a>#}
                                    {#</td>#}
                                {#</tr>#}
                                {#</tr>#}
                                {#</tbody>#}
                            {#</table>#}
                        {#</div>#}

                    {#</div>#}
                {#</div>#}
                {#<div class="municipalities-department-contacts">#}
                    {#<div class="app-wrapper">#}
                        {#<div class="municipalities-department-channels__title app-color--inactive">#}
                            {#Department Contacts:#}
                        {#</div>#}
                        {#<div>#}
                            {#<a href="#" class="app-detailed__button app-detailed__button--blue app-account-site__button btn" data-target="#addDevice" data-toggle="modal">Add Contact</a>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="municipalities-department-contacts__content content-account">#}
                        {#<div class="municipalities-contacts-block__list-element">#}
                            {#<div class="primary-account-block__separator">#}
                                {#<div class="municipalities-contacts-block__separator">#}
                                    {#<span>#}
                                        {#<img class="app-contact-list__contact-icon municipalities-styles_icons" src="/bundles/admin/dist/images/agent_contact.svg" alt="image contact">#}
                                         {#<a class="app-link__select app-link__title app-contact-list__contact-name app-line--right-text" target="_blank" href="#" >Test Viktorovich</a>#}
                                    {#</span>#}
                                    {#<span class="municipalities-styles__contacts-nav">#}
                                        {#<span>#}
                                            {#<a href="#"><img src="{{ asset('bundles/admin/dist/images/edit.svg') }}" alt="" class="app-contractor-users-licenses-table__icons_edit"></a>#}
                                        {#</span>#}
                                        {#<span>#}
                                            {#<a href="#"><img src="{{ asset('bundles/admin/dist/images/delete.svg') }}" class="app-contractor-users-licenses-table__icons_delete"></a>#}
                                        {#</span>#}
                                    {#</span>#}
                                {#</div>#}
                                {#<div class="municipalities-contacts-block__separator">#}
                                    {#<div class="app-line--colored municipalities-styles__colored-line municipalities-department-contacts__colored-line">#}
                                        {#<span class="">#}
                                            {#<span class="app-color--inactive">City Major</span>#}
                                                                                                                                                                            {#</span>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div>#}
                                {#<div class="primary-account-block__separator">#}
                                    {#<div class="municipalities-contacts-block__separator">#}
                                        {#<div class="app-contact-main__line">#}
                                            {#<div class="sprite sprite--phone"></div>#}
                                            {#<div class="app-contact-main__line-text">#}
                                                {#(454) 776-5555#}
                                                {#<span style="padding-left: 15px;">#}
                                                    {#<span class="app-color--inactive">Ext.:</span> 123#}
                                                {#</span>#}
                                            {#</div>#}
                                        {#</div>#}
                                        {#<div class="app-contact-main__line">#}
                                            {#<div class="sprite sprite--mobile"></div>#}
                                            {#<div class="app-contact-main__line-text">#}
                                                {#(343) 434-6767#}
                                            {#</div>#}
                                        {#</div>#}
                                        {#<div class="app-contact-main__line">#}
                                            {#<div class="sprite sprite--fax"></div>#}
                                            {#<div class="app-contact-main__line-text">#}
                                                {#(564) 343-3423#}
                                            {#</div>#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<div class="municipalities-contacts-block__separator">#}
                                        {#<div class="app-contact-main__line ">#}
                                            {#<div class="sprite sprite--mail"></div>#}
                                            {#<div class="app-contact-main__line-text">#}
                                                {#Street and Building and other info, Lviv#}
                                            {#</div>#}
                                        {#</div>#}
                                        {#<div class="app-contact-main__line ">#}
                                            {#<div class="sprite sprite--address"></div>#}
                                            {#<div class="app-contact-main__line-text">#}
                                                {#AK#}
                                            {#</div>#}
                                        {#</div>#}
                                        {#<div class="app-contact-main__line ">#}
                                            {#<div class="sprite sprite--dog"></div>#}
                                            {#<div class="app-contact-main__line-text">#}
                                                {#contact2@gmail.com#}
                                            {#</div>#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="municipalities-contacts-block__list-element">#}
                            {#<div class="primary-account-block__separator">#}
                                {#<div class="municipalities-contacts-block__separator">#}
                                    {#<span>#}
                                        {#<img class="app-contact-list__contact-icon municipalities-styles_icons" src="/bundles/admin/dist/images/agent_contact.svg" alt="image contact">#}
                                         {#<a class="app-link__select app-link__title app-contact-list__contact-name app-line--right-text" target="_blank" href="#" >Test Viktorovich</a>#}
                                    {#</span>#}
                                    {#<span class="municipalities-styles__contacts-nav">#}
                                        {#<span>#}
                                            {#<a href="#"><img src="{{ asset('bundles/admin/dist/images/edit.svg') }}" alt="" class="app-contractor-users-licenses-table__icons_edit"></a>#}
                                        {#</span>#}
                                        {#<span>#}
                                            {#<a href="#"><img src="{{ asset('bundles/admin/dist/images/delete.svg') }}" class="app-contractor-users-licenses-table__icons_delete"></a>#}
                                        {#</span>#}
                                    {#</span>#}
                                {#</div>#}
                                {#<div class="municipalities-contacts-block__separator">#}
                                    {#<div class="app-line--colored municipalities-styles__colored-line municipalities-department-contacts__colored-line">#}
                                        {#<span class="">#}
                                            {#<span class="app-color--inactive">City Major</span>#}
                                                                                                                                                                            {#</span>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div>#}
                                {#<div class="primary-account-block__separator">#}
                                    {#<div class="municipalities-contacts-block__separator">#}
                                        {#<div class="app-contact-main__line">#}
                                            {#<div class="sprite sprite--phone"></div>#}
                                            {#<div class="app-contact-main__line-text">#}
                                                {#(454) 776-5555#}
                                                {#<span style="padding-left: 15px;">#}
                                                    {#<span class="app-color--inactive">Ext.:</span> 123#}
                                                {#</span>#}
                                            {#</div>#}
                                        {#</div>#}
                                        {#<div class="app-contact-main__line">#}
                                            {#<div class="sprite sprite--mobile"></div>#}
                                            {#<div class="app-contact-main__line-text">#}
                                                {#(343) 434-6767#}
                                            {#</div>#}
                                        {#</div>#}
                                        {#<div class="app-contact-main__line">#}
                                            {#<div class="sprite sprite--fax"></div>#}
                                            {#<div class="app-contact-main__line-text">#}
                                                {#(564) 343-3423#}
                                            {#</div>#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<div class="municipalities-contacts-block__separator">#}
                                        {#<div class="app-contact-main__line ">#}
                                            {#<div class="sprite sprite--mail"></div>#}
                                            {#<div class="app-contact-main__line-text">#}
                                                {#Street and Building and other info, Lviv#}
                                            {#</div>#}
                                        {#</div>#}
                                        {#<div class="app-contact-main__line ">#}
                                            {#<div class="sprite sprite--address"></div>#}
                                            {#<div class="app-contact-main__line-text">#}
                                                {#AK#}
                                            {#</div>#}
                                        {#</div>#}
                                        {#<div class="app-contact-main__line ">#}
                                            {#<div class="sprite sprite--dog"></div>#}
                                            {#<div class="app-contact-main__line-text">#}
                                                {#contact2@gmail.com#}
                                            {#</div>#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
    {#<div class="municipalities-devices app-detailed__wrapper">#}
        {#<div class="app-devices-table__device-type municipalities-devices__title-radius">#}
            {#<div class="app-wrapper municipalities-devices__title">#}
                {#<div>#}
                    {#<img class="app-line--right-text" src="{{ asset('bundles/admin/dist/images/fire.svg') }}">#}
                    {#<span class="app-color--inactive app-devices-table__device-title app-line--align">Fire Devices and Services</span>#}
                    {#<span class="municipalities-styles__contacts-nav municipalities-department-nav">#}
                    {#<span>#}
                        {#<a href="#"><img src="{{ asset('bundles/admin/dist/images/edit.svg') }}" alt="" class="app-contractor-users-licenses-table__icons_edit"></a>#}
                    {#</span>#}
                    {#<span>#}
                        {#<a href="#"><img src="{{ asset('bundles/admin/dist/images/delete.svg') }}" class="app-contractor-users-licenses-table__icons_delete"></a>#}
                    {#</span>#}
                {#</span>#}
                {#</div>#}
                {#<div>#}
                    {#<a href="#" class="app-detailed__button app-detailed__button--blue app-line--align btn add-agent" data-departmentId="2" data-target="#addAgent" data-toggle="modal">Add Agent</a>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        {#<div class="municipalities-devices__content">#}
            {#<div class="app-wrapper">#}
                {#<div class="municipalities-department-channels">#}
                    {#<div class="app-wrapper">#}
                        {#<div class="municipalities-department-channels__title app-color--inactive">#}
                            {#Department Contacts:#}
                        {#</div>#}
                        {#<div>#}
                            {#<a href="#" class="app-detailed__button app-detailed__button--blue app-account-site__button btn" data-target="#addDevice" data-toggle="modal">Add Contact</a>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="municipalities-department-channels__content">#}
                        {#<div class="municipalities-channel-table">#}
                            {#<table class="app-contractor-users-licenses-table app-view--max-width">#}
                                {#<tbody>#}
                                {#<tr class="app-color--inactive">#}
                                    {#<th>Channel</th>#}
                                    {#<th>Send to</th>#}
                                    {#<th>Upload Fee</th>#}
                                    {#<th>Processing Fee</th>#}
                                    {#<th>Fees Basis</th>#}
                                    {#<th></th>#}
                                    {#<th></th>#}
                                {#</tr>#}
                                {#<tr>#}
                                    {#<td>Email</td>#}
                                    {#<td>mail@mail.com</td>#}
                                    {#<td>-</td>#}
                                    {#<td>-</td>#}
                                    {#<td>-</td>#}
                                    {#<td class="app-contractor-users-licenses-table__icons">#}
                                        {#<a href="#">#}
                                            {#<img src="/bundles/admin/dist/images/edit.svg" alt="" class="app-contractor-users-licenses-table__icons_edit">#}
                                        {#</a>#}
                                    {#</td>#}
                                    {#<td class="app-contractor-users-licenses-table__icons">#}
                                        {#<a href="#">#}
                                            {#<img src="/bundles/admin/dist/images/delete.svg" class="app-contractor-users-licenses-table__icons_delete">#}
                                        {#</a>#}
                                    {#</td>#}
                                {#</tr>#}
                                {#<tr>#}
                                    {#<td>Mail</td>#}
                                    {#<td>38 N. Apple, Chicago, IL 60052</td>#}
                                    {#<td>-</td>#}
                                    {#<td>-</td>#}
                                    {#<td>-</td>#}
                                    {#<td class="app-contractor-users-licenses-table__icons">#}
                                        {#<a href="#">#}
                                            {#<img src="/bundles/admin/dist/images/edit.svg" alt="" class="app-contractor-users-licenses-table__icons_edit">#}
                                        {#</a>#}
                                    {#</td>#}
                                    {#<td class="app-contractor-users-licenses-table__icons">#}
                                        {#<a href="#">#}
                                            {#<img src="/bundles/admin/dist/images/delete.svg" class="app-contractor-users-licenses-table__icons_delete">#}
                                        {#</a>#}
                                    {#</td>#}
                                {#</tr>#}
                                {#<tr>#}
                                    {#<td>#}
                                        {#<span class="app-line--right-text">#}
                                           {#Fax#}
                                        {#</span>#}
                                        {#<span class="label label-success app-label">Default</span>#}
                                    {#</td>#}
                                    {#<td>http://web.cc.us/upload</td>#}
                                    {#<td>$12</td>#}
                                    {#<td>$3</td>#}
                                    {#<td>per Device</td>#}
                                    {#<td class="app-contractor-users-licenses-table__icons">#}
                                        {#<a href="#">#}
                                            {#<img src="/bundles/admin/dist/images/edit.svg" alt="" class="app-contractor-users-licenses-table__icons_edit">#}
                                        {#</a>#}
                                    {#</td>#}
                                    {#<td class="app-contractor-users-licenses-table__icons">#}
                                        {#<a href="#">#}
                                            {#<img src="/bundles/admin/dist/images/delete.svg" class="app-contractor-users-licenses-table__icons_delete">#}
                                        {#</a>#}
                                    {#</td>#}
                                {#</tr>#}
                                {#</tbody>#}
                            {#</table>#}
                        {#</div>#}

                    {#</div>#}
                {#</div>#}
                {#<div class="municipalities-department-contacts">#}
                    {#<div class="app-wrapper">#}
                        {#<div class="municipalities-department-channels__title app-color--inactive">#}
                            {#Department Contacts:#}
                        {#</div>#}
                        {#<div>#}
                            {#<a href="#" class="app-detailed__button app-detailed__button--blue app-account-site__button btn" data-target="#addDevice" data-toggle="modal">Add Contact</a>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="municipalities-department-contacts__content content-account">#}
                        {#<div class="municipalities-contacts-block__list-element">#}
                            {#<div class="primary-account-block__separator">#}
                                {#<div class="municipalities-contacts-block__separator">#}
                                    {#<span>#}
                                        {#<img class="app-contact-list__contact-icon municipalities-styles_icons" src="/bundles/admin/dist/images/municipality_contact.svg" alt="image contact">#}
                                         {#<a class="app-link__select app-link__title app-contact-list__contact-name app-line--right-text" target="_blank" href="#" >Test Viktorovich</a>#}
                                    {#</span>#}
                                    {#<span class="municipalities-styles__contacts-nav">#}
                                        {#<span>#}
                                            {#<a href="#"><img src="{{ asset('bundles/admin/dist/images/edit.svg') }}" alt="" class="app-contractor-users-licenses-table__icons_edit"></a>#}
                                        {#</span>#}
                                        {#<span>#}
                                            {#<a href="#"><img src="{{ asset('bundles/admin/dist/images/delete.svg') }}" class="app-contractor-users-licenses-table__icons_delete"></a>#}
                                        {#</span>#}
                                    {#</span>#}
                                {#</div>#}
                                {#<div class="municipalities-contacts-block__separator">#}
                                    {#<div class="app-line--colored municipalities-styles__colored-line municipalities-department-contacts__colored-line">#}
                                        {#<span class="">#}
                                            {#<span class="app-color--inactive">City Major</span>#}
                                                                                                                                                                            {#</span>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div>#}
                                {#<div class="primary-account-block__separator">#}
                                    {#<div class="municipalities-contacts-block__separator">#}
                                        {#<div class="app-contact-main__line">#}
                                            {#<div class="sprite sprite--phone"></div>#}
                                            {#<div class="app-contact-main__line-text">#}
                                                {#(454) 776-5555#}
                                                {#<span style="padding-left: 15px;">#}
                                                    {#<span class="app-color--inactive">Ext.:</span> 123#}
                                                {#</span>#}
                                            {#</div>#}
                                        {#</div>#}
                                        {#<div class="app-contact-main__line">#}
                                            {#<div class="sprite sprite--mobile"></div>#}
                                            {#<div class="app-contact-main__line-text">#}
                                                {#(343) 434-6767#}
                                            {#</div>#}
                                        {#</div>#}
                                        {#<div class="app-contact-main__line">#}
                                            {#<div class="sprite sprite--fax"></div>#}
                                            {#<div class="app-contact-main__line-text">#}
                                                {#(564) 343-3423#}
                                            {#</div>#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<div class="municipalities-contacts-block__separator">#}
                                        {#<div class="app-contact-main__line ">#}
                                            {#<div class="sprite sprite--mail"></div>#}
                                            {#<div class="app-contact-main__line-text">#}
                                                {#Street and Building and other info, Lviv#}
                                            {#</div>#}
                                        {#</div>#}
                                        {#<div class="app-contact-main__line ">#}
                                            {#<div class="sprite sprite--address"></div>#}
                                            {#<div class="app-contact-main__line-text">#}
                                                {#AK#}
                                            {#</div>#}
                                        {#</div>#}
                                        {#<div class="app-contact-main__line ">#}
                                            {#<div class="sprite sprite--dog"></div>#}
                                            {#<div class="app-contact-main__line-text">#}
                                                {#contact2@gmail.com#}
                                            {#</div>#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
    {% for department in municipalityDepartments %}
        <div class="municipalities-devices app-detailed__wrapper">
            <div class="app-wrapper municipalities-devices__title municipalities-devices__title-radius">
                <div>
                    <img class="app-line--right-text" src="{{ asset('bundles/admin/dist/images/'~department.division.icon) }}">
                    <span class="app-color--inactive app-devices-table__device-title app-line--align">{{ department.name }}</span>
                    {#<span class="municipalities-styles__contacts-nav municipalities-department-nav">#}
                        {#<span>#}
                            {#<a href="#"><img src="{{ asset('bundles/admin/dist/images/edit.svg') }}" alt="" class="app-contractor-users-licenses-table__icons_edit"></a>#}
                        {#</span>#}
                        {#<span>#}
                            {#<a href="#"><img src="{{ asset('bundles/admin/dist/images/delete.svg') }}" class="app-contractor-users-licenses-table__icons_delete"></a>#}
                        {#</span>#}
                    {#</span>#}
                </div>
                {% if not department.agent %}
                    <div>
                        <a href="#" class="app-detailed__button app-detailed__button--blue app-line--align btn get-municipalityData" data-departmentId="{{ department.id }}" data-target="#addAgent" data-toggle="modal">Add Agent</a>
                    </div>
                {% endif %}
            </div>
            <div class="app-wrapper municipalities-devices__content app-position--relative">
                <div class="municipalities-department-channels">
                    <div class="app-wrapper">
                        <div class="municipalities-department-channels__title app-color--inactive">
                            Department Compliance Channels:
                        </div>
                        {% if not department.agent %}
                            <div>
                                <a href="#" class="app-detailed__button app-detailed__button--blue btn get-municipalityData" data-departmentId="{{ department.id }}" data-target="#addChannel" data-toggle="modal">Add Compliance Channel</a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="municipalities-department-channels__content">
                        {% if not department.agent %}
                            {{ include('AdminBundle:Channel:list.html.twig', {"channels": department | get_department_channels }) }}
                        {% else %}
                            <div class="app-color--inactive department-channels-is-agent">
                                Please, see agent compliance channels below
                            </div>
                        {% endif %}

                        {% if not department.agent and departmentChannelWithFeesWillVary[department.id] %}
                            <p class="app-detailed__municipality-fees app-color--inactive">* - Municipality fees will vary</p>
                        {% endif %}
                    </div>
                </div>
                <div class="municipalities-department-contacts">
                    <div class="app-wrapper">
                        <div class="municipalities-department-channels__title app-color--inactive">
                            Department Contacts:
                        </div>
                        {#<div>#}
                            {#<a href="#" class="app-detailed__button app-detailed__button--blue btn" data-target="#addDevice" data-toggle="modal">Add Contact</a>#}
                        {#</div>#}
                    </div>
                    {% if department.contacts | length %}
                        <div class="municipalities-department-contacts__content content-account">
                            {{ include('AdminBundle:Contacts:list.html.twig', {"contacts": department.contacts }) }}
                        </div>
                    {% else %}
                        <div class="municipalities-department-no-content app-color--inactive">No Contacts Yet</div>
                    {% endif %}
                </div>
            </div>
            {% if department.agent %}
                <div class="municipalities-department-agent-title-line app-color--inactive">
                    Department Agent
                </div>
                <div class="municipalities-devices__content municipalities-devices__content-agent app-position--relative">
                <div class="municipalities-department-agent-title">
                <span>
                    <img class="app-contact-list__contact-icon municipalities-department-agent-title_icon-size" src="/bundles/admin/dist/images/agent.svg" alt="image contact">
                    <a class="app-link__select app-link__title app-contact-list__contact-name app-line--right-text" target="_blank" href="{{ path('admin_agent_view', {'agent' : department.agent.id}) }}" >{{ department.agent.name }}</a>
                </span>
                    <span class="municipalities-styles__contacts-nav">
                    {#<span>#}
                        {#<a href="#"><img src="{{ asset('bundles/admin/dist/images/edit.svg') }}" alt="" class="app-contractor-users-licenses-table__icons_edit"></a>#}
                    {#</span>#}
                    <span>
                        <a href="#" data-link="{{ path('admin_municipality_detach_agent',{'department':department.id}) }}" class="app-modal-link" data-toggle="modal" data-target="#unlinkAgentModal"><img src="{{ asset('bundles/admin/dist/images/delete.svg') }}" class="app-contractor-users-licenses-table__icons_delete"></a>
                    </span>
                </span>
                </div>
                <div class="app-wrapper">
                    <div class="municipalities-department-channels">
                        <div class="app-wrapper">
                            <div class="municipalities-department-channels__title app-color--inactive">
                                Department Agent Compliance Channels:
                            </div>
                            <div>
                                <a href="#" class="app-detailed__button app-detailed__button--blue btn get-municipalityData" data-departmentId="{{ department.id }}" data-agentId="{{department.agent.id}}" data-target="#addChannel" data-toggle="modal">Add Compliance Channel</a>
                            </div>
                        </div>

                            <div class="municipalities-department-channels__content">
                                {{ include('AdminBundle:Channel:list.html.twig', {"channels": agentChannels[department.id]}) }}

                                {% if departmentChannelWithFeesWillVary[department.id] %}
                                    <p class="app-detailed__municipality-fees app-color--inactive">* - Municipality fees will vary</p>
                                {% endif %}
                            </div>
                    </div>
                    <div class="municipalities-department-contacts">
                        <div class="app-wrapper">
                            <div class="municipalities-department-channels__title app-color--inactive">
                                Department Agent Contacts:
                            </div>
                            {#<div>#}
                                {#<a href="#" class="app-detailed__button app-detailed__button--blue btn" data-target="#addDevice" data-toggle="modal">Add Contact</a>#}
                            {#</div>#}
                        </div>
                        {% if department.agentContacts | length %}
                            <div class="municipalities-department-contacts__content content-account">
                                {{ include('AdminBundle:Contacts:list.html.twig', {"contacts": department.agentContacts }) }}
                            </div>
                        {% else %}
                            <div class="municipalities-department-no-content app-color--inactive">No Contacts Yet</div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    {% endfor %}

    {% if not municipalityDepartments %}
        <div class="app-account-site__container">
            <div class="app-data__not-found app-bordered--shadow">No Departments</div>
        </div>
    {% endif %}
    <div class="app-data">
        <div class="app-account-site__header">
            <div class="app-color--inactive app-font--bold app-font--large">Related Accounts</div>
        </div>
        {% if accountsResults.results|length %}
            <div class="municipalities-related-accounts">
                <table class="table app-data__table app-bordered--shadow app-table-radius">
                    <thead class="app-data__table-header">
                    <tr>
                        <th colspan="2"></th>
                        <th>ID</th>
                        <th>Account Name</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Zip</th>
                        <th colspan="2">Link to</th>
                        <th class="app-data__table-cell--min">Client Type</th>
                    </tr>
                    </thead>
                    <tbody >
                    {% for account in accountsResults.results %}
                        <tr class="app-data__table-row--close">
                            <td></td>
                            <td class="app-data__table-data {{account.deleted ? 'app-deleted' : ''}}">
                                <img src="/bundles/admin/dist/images/{{ account.type.alias == 'account' ? 'site.svg' : 'group_site.svg'}}" class="app-data__table-data--icon">
                            </td>
                            <td class="{{account.deleted ? 'app-deleted' : ''}}">{{ account.id }}</td>
                            <td class="app-word-breack">
                                <a class="app-link__select app-line--right-text {{account.deleted ? 'app-deleted' : ''}}" href="{{ path('admin_account_get', {'accountId':account.id}) }}">
                                    {{ account.name ?? '-' }}
                                </a>
                                {% if account.deleted %}
                                        <span class="label label-danger app-label">Deleted</span>
                                {% endif %}
                            </td>
                            <td class="app-word-breack {{account.deleted ? 'app-deleted' : ''}}">{{ account.address.address ?? '-' }}</td>
                            <td class="{{account.deleted ? 'app-deleted' : ''}}">{{ account.address.city ?? '-' }}</td>
                            <td class="{{account.deleted ? 'app-deleted' : ''}}">{{ account.address.state.0 ?? '-' }}</td>
                            <td class="{{account.deleted ? 'app-deleted' : ''}}">{{ account.address.zip ?? '-' }}</td>
                            <td class="app-link__icon--company {{account.deleted or (account.parent|length and account.parent.deleted) ? 'app-deleted' : ''}}">
                                {% if account.parent %}
                                    <img src="/bundles/admin/dist/images/group_site.svg" alt="image account" class="app-data__table-data--icon">
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td class="app-no-padding--left {{account.deleted ? 'app-deleted' : ''}}">
                                {% if account.parent %}
                                    <a class="app-link__select app-line--right-text
                                        {{account.parent.deleted ? 'app-deleted' : ''}}"
                                        href="{{ path('admin_account_get', {'accountId': account.parent.id}) }}"
                                       target="_blank">
                                        {{ account.parent.name }}
                                    </a>
                                    {% if account.parent.deleted %}
                                        <span class="label label-danger app-label">Deleted</span>
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td class="{{account.deleted ? 'app-deleted' : ''}}">{{ account.clientType.name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            {% if accountsResults.pagesCount is defined and accountsResults.pagesCount > 1 %}

                <div class="pagination app-bordered--shadow">
                    <a class="app-pagination-arrow{{ accountsResults.currentPage == 1 ? ' disabled' : '' }}" href="{{ path('admin_municipality_view', {
                        'municipality' : municipality.id,
                        'page' : accountsResults.currentPage - 1
                    }) }}">«</a>

                    {% for i in range(1, accountsResults.pagesCount) %}
                        <a {% if accountsResults.currentPage == i %} class="app-active-page" {% endif %} href="{{ path('admin_municipality_view', {
                            'municipality' : municipality.id,
                            'page' : i
                        }) }}">{{ i }}</a>
                    {% endfor %}

                    <a class="app-pagination-arrow{{ accountsResults.currentPage == accountsResults.pagesCount ? ' disabled' : '' }}" href="{{ path('admin_municipality_view', {
                        'municipality' : municipality.id,
                        'page' : accountsResults.currentPage + 1
                    }) }}">»</a>
                </div>
            {% endif %}
        {% else %}
            <div class="app-data__not-found app-bordered--shadow app-detailed__addition__container">No related accounts</div>
        {% endif %}
    </div>


    <!--Modal for adding Agents-->
    {{ include('AdminBundle:layouts/dialogs:selectDataDialog.html.twig', {
        'modalId' : 'addAgent',
        'message' : 'Please select Agent to add:',
        'modalFormId' : 'selectAgentForm',
        'selectName' : 'agentName',
        'defaultSelectOption' : {'value' : '', 'text' : 'Select Agent'},
        'optionsArray' : agents,
        'modalClass' : 'popupForm'
    }) }}

    <!-- Modal Delete Agents-->
    {{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
        'modalId' : 'unlinkAgentModal',
        'message' : 'Are you sure you want to unlink this Agent from the Department?',
        'buttonYes' : 'modalYes',
        'buttonYesHref' : '#'
    }) }}

    <!--Modal for adding Channel-->
    {{ include('AdminBundle:layouts/dialogs:selectDataDialog.html.twig', {
        'modalId' : 'addChannel',
        'message' : 'Please select Compliance Channel type:',
        'modalFormId' : 'selectChannelForm',
        'selectName' : 'channelName',
        'defaultSelectOption' : {'value' : '', 'text' : 'Select Compliance Channel type'},
        'optionsArray' : channelNamed,
        'modalClass' : 'popupForm'
    }) }}

    <!-- Modal Delete Channel-->
	{{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
        'modalId' : 'deleteChannelModal',
        'message' : 'Are you sure you want to delete this Compliance Channel?',
        'buttonYes' : 'modalYes',
        'buttonYesHref' : '#',
        'oneClick' : 'Yes'
	}) }}

{% endblock %}