{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}
    <div class="app-main__page-title app-wrapper">
        {% block formHead %}{% endblock %}
    </div>


    <div class="app-form app-form--flex app-form--bordered">
        <div class="app-form-header">General Municipality Information</div>
        {{ form_start(form, {'attr': {'id': 'municipalityCreateForm', 'class':'app-form--wide', 'novalidate': 'novalidate', 'autocomplete': 'off'}}) }}
        <div class="app-wrapper">
            <div class="app-form-input--medium form-group">
                <label>Municipality Name:<span class="app-required-label">*</span></label>
                {{ form_widget(form.name, {'attr': {'placeholder': 'Municipality Name', 'class': 'app-capitalize form-control mozilla-input'}}) }}
            </div>
            <div class="app-form-input--medium form-group">
                <label>Municipality Address:</label>
                {{ form_widget(form.address.address, {'attr': {'placeholder': 'Municipality Address', 'class': 'app-capitalize form-control mozilla-input'}}) }}
            </div>
        </div>
        <div class="app-wrapper app-account-addition-form__group">
            <div class="app-form-input--medium form-group">
                <label>City:</label>
                {{ form_widget(form.address.city, {'attr': {'placeholder': 'City', 'class': 'app-capitalize form-control mozilla-input'}}) }}
            </div>
            <div class="app-wrapper app-wrapper--half">
                <div class="app-form-input--big form-group">
                    <label>State:</label>
                    {{ form_widget(form.address.state, {'attr': {'class': 'selectpicker form-control mozilla-input'}}) }}
                </div>
                <div class="app-form-input--small form-group">
                    <label>Zip:</label>
                    {{ form_widget(form.address.zip, {'attr': {'placeholder': 'Zip', 'class': 'form-control mozilla-input'}}) }}
                </div>
            </div>
        </div>

        <div class="app-wrapper app-account-addition-form__group">
            <div class="app-form-input--medium form-group">
                <label>Municipality Phone Number:</label>
                {{ form_widget(form.municipalityPhone, {'attr': {'placeholder': '(XXX) XXX-XXXX', 'class': 'app-validation-phone form-control mozilla-input'}}) }}
            </div>

            <div class="app-form-input--medium form-group">
                <label>Municipality Fax:</label>
                {{ form_widget(form.municipalityFax, {'attr': {'placeholder': '(XXX) XXX-XXXX', 'class': 'app-validation-phone form-control mozilla-input'}}) }}
            </div>
        </div>


        <div class="app-form-input--medium form-group">
            <label>Website:</label>
            {{ form_widget(form.website, {'attr': {'placeholder': 'Website', 'class': 'form-control mozilla-input'}}) }}
        </div>

        <div class="app-form-button--right">
            {% block buttonSubmit %}
                <button type="submit" class="app-form-button btn ">CREATE</button>
            {% endblock %}
            {% block buttonCancel %}
                <a href="{{ path('admin_municipality_list') }}" class="app-form-button app-form-button--grey app-form-button--indent btn">CANCEL</a>
            {% endblock %}
        </div>
        {{ form_end(form) }}
    </div>
    <!-- Modal -->
    {{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
        'modalId' : 'municipalityCreateModal',
        'message' : 'Are you sure you want to create this Municipality?',
        'dataSubmit' : 'Yes'
    }) }}
{% endblock %}
