{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}
            <div class="app-main__page-title app-wrapper">
                <div class="app-main__page-title-name">Municipalities</div>
                <div class="app-wrapper">

                    <div class="app-common-information__data">{{ quantity }}
                        <span class="app-common-information__data-name">Municipalities</span>
                        <div class="app-common-information__plus-container">
                            <a href="{{ path('admin_municipality_create') }}" class="btn app-common-information__plus">
                                <div class="app-common-information__plus--horizontal"></div>
                                <div class="app-common-information__plus--vertical"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <form id="searchForm" method="get">
                <div class="app-search-panel app-wrapper app-wrapper--wide">
                    <div class="app-search-panel__container">
                        <i class="glyphicon glyphicon-search app-search-panel__icon-search"></i>
                        <input name="searchPhrase" value="{{ app.request.query.get('searchPhrase') }}" type="search" class="form-control app-search-panel__input app-bordered--shadow" placeholder="Search">
                        {#<input name="advanced" class="form-control" type="hidden" value="0">#}
                        {#<svg class="app-search-panel__icon-settings" version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="18px" height="18px" viewBox="0 0 18 18" enable-background="new 0 0 18 18" xml:space="preserve">#}
						{#<path d="M17.4,4C17.953,4,18,3.552,18,3c0-0.553-0.047-1-0.6-1H9v2H17.4z M0.6,2C0.049,2,0,2.447,0,3#}
						{#c0,0.552,0.049,1,0.6,1H4V2H0.6z M8,5.399v-4.8C8,0.046,7.552,0,7,0L6,0C5.447,0,5,0.046,5,0.599V5.4C5,5.95,5.447,6,6,6h1#}
						{#C7.552,6,8,5.95,8,5.399z M7,17.399v-4.801C7,12.046,6.552,12,6,12H5c-0.553,0-1,0.046-1,0.599V17.4C4,17.95,4.447,18,5,18h1#}
						{#C6.552,18,7,17.95,7,17.399z M12,12c0.552,0,1-0.05,1-0.601v-4.8C13,6.046,12.552,6,12,6h-1c-0.553,0-1,0.046-1,0.599V11.4#}
						{#c0,0.55,0.447,0.6,1,0.6H12z M17.4,10c0.553,0,0.6-0.448,0.6-1c0-0.553-0.047-1-0.6-1H14v2H17.4z M0.6,8C0.049,8,0,8.447,0,9#}
						{#c0,0.552,0.049,1,0.6,1H9V8H0.6z M17.4,16c0.553,0,0.6-0.448,0.6-1c0-0.553-0.047-1-0.6-1H8v2H17.4z M0.6,14C0.049,14,0,14.447,0,15#}
						{#c0,0.552,0.049,1,0.6,1H3v-2H0.6z"></path>#}
					{#</svg>#}
                    </div>
                    <button type="submit" class="btn app-search-panel__button app-bordered--shadow">SEARCH</button>
                </div>
                {#<div id="app-toggle-block" class="app-wrapper--wide app-toggle-block--inactive">#}
                    {#<div class="app-search-options app-contractors-search-options app-wrapper--middle">#}
                        {#<div class="app-search-options__wrapper app-contractors-search-options__wrapper">#}
                            {#<div class="app-search-options__title">Advanced search options</div>#}
                            {#<div class="app-checkbox">#}
                                {#<input class="app-checkbox-input" checked="" type="checkbox" id="options-1" name="check">#}
                                {#<label class="app-checkbox-label" for="options-1">Search options 1</label>#}
                            {#</div>#}
                            {#<div class="app-checkbox">#}
                                {#<input class="app-checkbox-input" checked="" type="checkbox" id="options-2" name="check">#}
                                {#<label class="app-checkbox-label" for="options-2">Search options 2</label>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            </form>
            <div class="app-data">
                {% if searchResult and searchResult.results %}
                    <table class="table app-data__table app-bordered--shadow">
                        <thead>
                        <tr class="app-color--inactive">
                            <th></th>
                            <th>ID</th>
                            <th>Municipality Name</th>
                            <th>Website</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for municipality in searchResult.results %}
                                <tr>
                                    <td class="contractors-table__icon-block">
                                        <div>
                                            <img src="{{ asset('bundles/admin/dist/images/municipalities.svg') }}" alt="" class="contractors-table__img municipalities-table__img">
                                        </div>
                                    </td>
                                    <td class="municipalities-table__id-section">{{ municipality.id }}</td>
                                    <td>
                                        <a href="{{ path('admin_municipality_view', {'municipality' : municipality.id}) }}" class="app-link__select">{{ municipality.name }}</a>
                                    </td>
                                    <td class="municipalities-table__website-section">
                                        {% if municipality.website %}
                                            <a href="{{ municipality.website | url_format }}" target="_blank" class="app-link__select">{{ municipality.website }}</a>
                                        {% else %}
                                            {{ '-' }}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% elseif searchResult %}
                    <div class="app-data__not-found app-color--inactive">{{ searchResult.message }}</div>
                {% endif %}
            </div>
            {% if searchResult.pagesCount is defined and searchResult.pagesCount > 1 %}

                <div class="pagination app-bordered--shadow">
                    <a class="app-pagination-arrow{{ searchResult.currentPage == 1 ? ' disabled' : '' }}" href="{{ path('admin_municipality_list', {
                        'page' : searchResult.currentPage - 1,
                        'searchPhrase': app.request.query.get('searchPhrase')
                    }) }}">«</a>

                    {% for i in range(1, searchResult.pagesCount) %}
                        <a {% if searchResult.currentPage == i %} class="app-active-page" {% endif %} href="{{ path('admin_municipality_list', {
                            'page' : i,
                            'searchPhrase': app.request.query.get('searchPhrase')
                        }) }}">{{ i }}</a>
                    {% endfor %}

                    <a class="app-pagination-arrow{{ searchResult.currentPage == searchResult.pagesCount ? ' disabled' : '' }}" href="{{ path('admin_municipality_list', {
                        'page' : searchResult.currentPage + 1,
                        'searchPhrase': app.request.query.get('searchPhrase')
                    }) }}">»</a>
                </div>
            {% endif %}
{% endblock %}