.additional-input {
  display: flex;
  align-items: flex-start;

  &__label {
    font-size: 16px;
    margin: 4px 10px 9px 0px;
  }
  &__input {
    max-width: 151px;
    font-family: Lato, sans-serif;
    font-weight: 300;

    &--disabled {
      max-width: 151px;
      border: none;
      background-color: #30323a;
      box-shadow: none;
    }
  }
}

.app-invoice__invoice-date {
  width: 212px;
  flex-wrap: wrap;
}
