.additional-input {
  display: flex;
  align-items: center;

  &__label {
    font-size: 16px;
    margin-right: 10px;
  }
  &__input {
    max-width: 151px;
    color: #2cb41f;

    &--gray {
      color: rgba(255, 255, 255, 0.6);
    }

    &--disabled {
      max-width: 151px;
      border: none;
      background-color: #30323a;
      box-shadow: none;
    }
  }
}