.invoice-create-item-form {
  &__line {
    margin-bottom: 25px;
    text-align: left;

    &_last {
      margin-bottom: 10px;
    }
  }

  &__title {
    display: block;
    text-align: left;
  }

  &__col {
    width: 47%;
    text-align: left;
  }
}