.app-invoice {
  &__total-info {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
  }
  &__total-line {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;

    &__name {
      width: 170px;
    }
    &__value {
      text-align: left;
      color: #fff;
      display: flex;
      align-items: center;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__edit-button {
    margin-left: 10px;
  }
}
@keyframes donut-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.donut {
  display: inline-block;
  border: 4px solid rgba(0, 0, 0, 0.25);
  border-left-color: #00B4FA;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: donut-spin 1.2s linear infinite;
}