{% for contact in contacts %}
    <div class="municipalities-contacts-block__list-element">
        <div class="primary-account-block__separator">
            <div class="municipalities-contacts-block__separator">
            <span>
                <img class="app-contact-list__contact-icon municipalities-styles_icons" src="{{ asset('bundles/admin/dist/images/' ~ contact.type.icon) }}" alt="image contact">
                <span class="app-color--active app-link__title app-contact-list__contact-name app-line--right-text app-link__title--no-decoration">{{ contact.firstName ~ ' ' ~ contact.lastname }}</span>
            </span>
                {#<span class="municipalities-styles__contacts-nav">#}
                {#<span>#}
                {#<a href="#"><img src="{{ asset('bundles/admin/dist/images/edit.svg') }}" alt="" class="app-contractor-users-licenses-table__icons_edit"></a>#}
                {#</span>#}
                {#<span>#}
                {#<a href="#"><img src="{{ asset('bundles/admin/dist/images/delete.svg') }}" class="app-contractor-users-licenses-table__icons_delete"></a>#}
                {#</span>#}
                {#</span>#}
            </div>
            <div class="municipalities-contacts-block__separator app-proposal-person--bottom-indent">
                <div class="app-line--colored municipalities-styles__colored-line municipalities-department-contacts__colored-line">
                    <span class="">
                        <span class="app-color--inactive">{{ contact.title ?? 'No Data' }}</span>
                    </span>
                </div>
            </div>
        </div>
        <div>
            <div class="primary-account-block__separator">
                <div class="municipalities-contacts-block__separator">
                    <div class="app-proposal-person--bottom-indent">
                        <div class="app-contact-main__line">
                            <div class="sprite sprite--phone"></div>
                            <div class="app-contact-main__line-text {{ contact.cell ? '' : 'app-color--inactive' }}">
                                {{ contact.cell ? contact.cell | phone : 'No Data' }}
                                {% if contact.ext and contact.cell %}
                                    <span class="app-line--padding-left app-color--inactive">Ext.:</span> {{ contact.ext }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="app-contact-main__line">
                            <div class="sprite sprite--mobile"></div>
                            <div class="app-contact-main__line-text {{ contact.phone ? '' : 'app-color--inactive' }}">
                                {{ contact.phone ? contact.phone | phone : 'No Data' }}
                            </div>
                        </div>
                        <div class="app-contact-main__line">
                            <div class="sprite sprite--fax"></div>
                            <div class="app-contact-main__line-text {{ contact.fax ? '' : 'app-color--inactive' }}">
                                {{ contact.fax ? contact.fax | phone : 'No Data' }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="municipalities-contacts-block__separator">
                    <div class="app-contact-main__line ">
                        <div class="sprite sprite--mail"></div>
                        <div class="app-contact-main__line-text {{ contact.address ? '' : 'app-color--inactive' }}">
                            {{ contact.address ? contact.address | address : 'No Data' }}
                        </div>
                    </div>
                    <div class="app-contact-main__line ">
                        <div class="sprite sprite--dog"></div>
                        <div class="app-contact-main__line-text {{ contact.email ? '' : 'app-color--inactive' }}">
                            {% if contact.email %}
                                <a href="{{ "mailto:" ~ contact.email }}" class="app-link__select">{{ contact.email }}</a>
                            {% else %}
                                No Data
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}