{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}
    <div class="app-main__page-title app-wrapper">
        <div class="app-main__page-title-name">
            Adding Repair Service and Deficiency to
            <img class="app-link__icon" src="{{ asset('bundles/admin/dist/images/')~device.named.category.icon }}" alt="image account">
            <a class="app-link__title" target="_blank" data-device-name="{{ device.named.alias }}" href="{{ path('admin_device_view', {'device' : device.id}) }}">{{ device.title }}</a>
        </div>
    </div>

    {{ include('AdminBundle:Opportunity:flash_messages.html.twig', {"app.session": app.session}) }}

    <form action="{{ path('admin_non_frequency_service', {'device' : device.id}) }}" method="post" onkeypress="return event.keyCode != 13;" id="frequencyForm">
        <input type="hidden" name="isSubmit" value="true">
        <div class="app-contact-list__container--main">
            <div class="app-detailed__wrapper">
                <div class="app-wrapper">
                    <div class="app-proposal-add__main-titles">Current Device Repair and Deficiency:</div>
                </div>
                <div class="app-wrapper">
                    <div class="app-view--max-width app-proposal-current-deficiency__container content-account">
                        {% if deviceNonFrequencyServices |length %}
                        <table class="table app-proposal-add-deficiency__table-list app-view--max-width app-data__table">
                            <thead>
                            <tr class="app-color--opacity30 app-devices-table__header-service">
                                <th>Recommended Repairs</th>
                                <th class="app-data-table__th_width_45per">Deficiency to fix</th>
                                <th class="app-proposal-current-deficiency__table--found-on-row">Deficiency found on</th>
                                {#<th>Munic. and Proc. fee</th>#}
                                <th>Service Status</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for service in deviceNonFrequencyServices %}
                                <tr>
                                    <td class="app-word-breack app-font--regular ">
                                        {{ service.named.name }}
                                    </td>
                                    <td class="app-font--regular app-word-breack">
                                        {% if not service.named.deficiency and service.comment %}
                                            {{ service.comment | ucfirst }}
                                        {% elseif service.named.deficiency and service.comment %}
                                            {{ service.named.deficiency }}{{ ". " ~ service.comment | ucfirst }}
                                        {% else %}
                                            {{ service.named.deficiency ? service.named.deficiency : '-' }}
                                        {% endif %}
                                    </td>
                                    <td class="app-proposal-add__service-table--report-row">{{ service.inspectionDue | date('m/d/Y') }}</td>
                                    {#<td class="app-proposal-add__service-table--post-fail-row">{{ (service.departmentChannel | municipality_fee) and service.named.isNeedSendMunicipalityReport ? '$' ~ (service.departmentChannel | municipality_fee) : '-'}}</td>#}
                                    <td class="app-word-breack app-font--regular">
                                        <span class="app-service-label {{ service.status.cssClass }}">{{ service.status.name ?? '' }}</span>
                                    </td>
                                    <td>
                                        {% if service | can_edit_repair_service_comment %}
                                            <a href="#" data-toggle="modal" data-target="#editRepairServiceComment" data-action="{{ path('admin_edit_repair_service_comment', {'service': service.id}) }}" data-comment="{{ service.comment }}" class="app-link__select app-link__select--nowrap app-modal-link app-line--right-text"
                                            > <img src="{{ asset('bundles/admin/dist/images/edit.svg') }}"></a>
                                        {% endif %}

                                        {% if service | blocked_edit_repair_service_comment_under_proposal %}
                                            <a href="#" class="app-link__select app-link__select--nowrap app-modal-link app-line--right-text" data-toggle="modal" data-target="#blockedEditRepairUnderProposal">
                                                <img src="{{ asset('bundles/admin/dist/images/edit.svg') }}">
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                        <div class="app-color--inactive app-font--bold app-text--align-center app-font--large app-proposal-current-deficiency__placeholder">No Repairs and Deficiencies</div>
                        {% endif %}
                    </div>
                </div>
                <div class="app-wrapper" data-bind="with: ListConditionsModel">
                    <div class="app-view--max-width">
                        <div class="app-proposal-add__main-titles">Repairs and Deficiencies to be added:</div>
                        <div class="app-proposal-current-deficiency__container content-account">
                            <table class="table app-proposal-add-deficiency__table-list app-view--max-width app-data__table app-display--none" data-bind="visible: visibleTable"  data-remove="RemoveClassDisplayNone">
                                <thead>
                                <tr class="app-color--opacity30 app-devices-table__header-service">
                                    <th></th>
                                    <th>Recommended Repairs</th>
                                    <th>Deficiency to fix</th>
                                </tr>
                                </thead>
                                <tbody data-bind="foreach: itemsList">
                                <tr>
                                    <td class="app-proposal-add-deficiency-table-list__delete">
                                        <img alt="image delete" src="/bundles/admin/dist/images/delete.svg" data-remove="removeClass" data-bind="click: $parent.removeItem">
                                    </td>
                                    <td data-bind="text: name"></td>
                                    <td data-bind="text: deficiency"></td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="app-color--inactive app-font--bold app-text--align-center app-font--large app-proposal-current-deficiency__placeholder" data-bind="visible: visiblePlaceholderText">Please add Repairs and Deficiencies to device</div>
                        </div>
                        <div>
                            <input id="condition-autocomplete" class="form-control mozilla-input ui-autocomplete-input app-proposal-current-deficiency__input" placeholder="Type or select repair service or deficiency" data-bind="value: itemValue, valueUpdate: ['afterkeydown'], event: {change: enterSearch}" name="repairsInput">
                            <div data-bind="foreach: checkedInputList" class="hide">
                                <input type="checkbox" name="service_name[name][]" data-bind="value: id, attr: {checked: 'checked'}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="app-wrapper">
                    <div class="app-view--max-width">
                        <div class="app-form-button--right">
                            <button type="submit" class="app-form-button btn">ADD</button>
                            <a href="{{ path('admin_device_view', {'device' : device.id}) }}" class="app-form-button app-form-button--grey app-form-button--indent btn" >CANCEL</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <span class="hide" data-current-conditions="{{ serviceNames }}"></span>
    </form>

    {{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
        'modalId' : 'frequencyModal',
        'message' : 'Are you sure you want to add selected Deficiencies to this Device?',
        'dataSubmit' : 'Yes'
    }) }}

    <!-- Modal Form Change repair service comment -->
    {{ include('AdminBundle:layouts/dialogs:changeRepairServiceCommentDialog.html.twig', {
        'modalId' : 'editRepairServiceComment',
        'modalFormMethod' : 'post',
        'modalFormId' : 'editRepairServiceCommentForm',
    }) }}
    <!-- End Modal Form Change repair service comment -->

    <!-- Modal Blocked Popup to edit repair service under proposal -->
    {{ include('AdminBundle:layouts/dialogs:infoDialog.html.twig', {
        'modalId' : 'blockedEditRepairUnderProposal',
        'message' : 'You can not edit this Service as Proposal as it was added to "Sent via Mail/Email"'
    }) }}
    <!-- End Modal Blocked Popup to edit repair service under proposal -->

{% endblock %}