{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}

    <div class="app-main__page-title app-wrapper">
        <div class="app-main__page-title-name">
            {% block title %}Change Inspections information at{% endblock %}
            <img class="app-service-form__header-icon" src="{{ account.type.alias == 'group account' ? '/bundles/admin/dist/images/group_site.svg' : '/bundles/admin/dist/images/site.svg' }}">
            <a class="app-link__select app-link__title app-font--medium"
               href="{{ path("admin_account_get", {"accountId": account.id}) }}"
            >{{ account.name }}</a>
        </div>
    </div>

    <div class="app-form app-form--roles app-form--flex app-form--bordered">
        <div class="app-form-header">Inspections Information Editing</div>
        {{ form_start(form, {'attr' : { 'id' : 'servicesChangeInformationsForm', 'class' : 'app-form--full' }}) }}

        {% block serviceNamedfield %}
            <div class="form-group">
                <label>Inspections you would like to change on Account:<span class="app-required-label">*</span></label>
                {{ form_widget( form.named, { 'attr' : {'class' : 'selectpicker form-control mozilla-input'}}) }}
                {{ form_errors(form.named) }}
            </div>
        {% endblock %}
        <div class="app-wrapper">
            <div class="app-form-input--medium form-group">
                {{ form_label(form.fixedPrice) }}
                {{ form_widget( form.fixedPrice, { 'attr' : {
                    'class' : 'app-validation-currency form-control mozilla-input',
                    'placeholder' : 'Please enter fee here',
                    'name' : 'price'
                }}) }}
                {{ form_errors(form.fixedPrice) }}
            </div>
            <div class="app-form-input--medium form-group">
                {{ form_label(form.lastTested) }}
                {{ form_widget( form.lastTested, { 'attr' : {
                    'name' : 'lastTested',
                    'class' : 'app-validation-date form-control mozilla-input',
                    'placeholder' : 'MM/DD/YYYY'
                }}) }}
                {{ form_errors(form.lastTested) }}
            </div>
        </div>
        <div class="app-wrapper">
            <div></div>
            <div class="app-form-input--medium form-group">
                {{ form_label(form.inspectionDue) }}
                {{ form_widget( form.inspectionDue, { 'attr' : {
                    'name' : 'inspectionDue',
                    'class' : 'app-validation-date form-control mozilla-input',
                    'placeholder' : 'MM/DD/YYYY'
                }}) }}
                {{ form_errors(form.inspectionDue) }}
            </div>
        </div>
        <div class="form-group" id="contractor-autocomplete-container">
            <label>Change Company Last Tested to:</label>
            <input id="change-company-last-tested-autocomplete" class="form-control mozilla-input" placeholder="Please start entering Contractor's name"/>
            {{ form_widget( form.companyLastTested, { 'attr' : {'class' : 'selectAutocomplete hidden'}}) }}
            {{ form_errors(form.companyLastTested) }}
        </div>
        <div class="app-form-button--right">
            <button type="submit" id="change_inspection_information" class="app-form-button btn app-workorder-scheduling-button">CHANGE INSPECTIONS</button>
            <a href="{{ path('admin_account_get', {'accountId': account.id}) }}" class="app-form-button app-form-button--grey app-form-button--indent btn">CANCEL</a>
        </div>

        </form>
    </div>

    <div class="app-form-error">{{ form_errors(form) }}</div>
    {% block formPopup %}
        {{ include('AdminBundle:layouts/dialogs:infoDialog.html.twig', {
            'modalId' : 'noUpdateModal'
        }) }}
    {% endblock %}
    <!-- Modal -->
    {{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
        'modalId' : 'changeInspectionInfoModal',
        'message' : 'Are you sure you want to change this Inspections?',
        'dataSubmit' : 'Yes'
    }) }}
{% endblock %}