{% extends 'AdminBundle:Service:form.html.twig' %}

{% block title %}Adding Inspection to{% endblock %}

{% block formButtons %}
    <div class="app-form-button--right">
        <button type="submit" class="app-form-button btn ">CREATE</button>
        <a href="{{ path('admin_device_view', {'device': form.vars.value.device.id}) }}" class="app-form-button app-form-button--grey app-form-button--indent btn">CANCEL</a>
    </div>
{% endblock %}


