{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}

    <div class="app-main__page-title app-wrapper">
        <div class="app-main__page-title-name">
            {% block title %}Adding Inspection to{% endblock %}
            <img class="app-service-form__header-icon" src="{{ asset('bundles/admin/dist/images/' ~ form.vars.value.device.named.category.icon) }}"> {{ form.vars.value.device.title }}
        </div>
    </div>


    <div class="app-form app-form--roles app-form--flex app-form--bordered">
        <div class="app-form-header">Inspection Information</div>
        {{ form_start(form, {'attr' : { 'id' : 'serviceForm', 'class' : 'app-form--full' }}) }}
        {% block prevPage %}{% endblock %}

        {% block serviceNamedfield %}
        <div class="form-group">
            <label>Inspection Name:<span class="app-required-label">*</span></label>
            {{ form_widget( form.named, { 'attr' : {'class' : 'selectpicker form-control mozilla-input'}}) }}
            {{ form_errors(form.named) }}
        </div>
        {% endblock %}
        <div class="app-wrapper">
            <div class="app-form-input--medium form-group">
                <label>Inspection Fixed Fee:</label>
                {{ form_widget( form.fixedPrice, { 'attr' : {
                    'class' : 'app-validation-currency form-control mozilla-input',
                    'placeholder' : 'Please enter fee here',
                    'name' : 'price'
                }}) }}
                {{ form_errors(form.fixedPrice) }}
            </div>
            {#<div class="app-form-input--medium form-group">
                <label>Hourly Price:</label>
                {{ form_widget( form.hourlyPrice, { 'attr' : {
                    'name' : 'price',
                    'class' : 'app-validation-currency form-control',
                    'placeholder' : "$100"
                }}) }}
            </div>#}
            <div class="app-form-input--medium form-group">
                <label>ABFP Default Test Fee:</label>
                <div id="priceABFP" data-ABFP="{{ mainCompany.id }}" class="app-service-form__text-field form-control">-</div>
            </div>
        </div>
        <div class="form-group">
            <label>Frequency:</label>
            <div id="serviceFrequency" class="app-service-form__text-field form-control">-</div>
        </div>
        <div class="form-group">
            <label>Last Tested Date:</label>
            {{ form_widget( form.lastTested, { 'attr' : {
                'name' : 'lastTested',
                'class' : 'app-validation-date form-control mozilla-input',
                'placeholder' : 'MM/DD/YYYY'
            }}) }}
            {{ form_errors(form.lastTested) }}
        </div>
        <div class="form-group">
            <label>Inspection Due Date:<span class="app-required-label">*</span></label>
            {{ form_widget( form.inspectionDue, { 'attr' : {
                'name' : 'inspectionDue',
                'class' : 'app-validation-date form-control mozilla-input',
                'placeholder' : 'MM/DD/YYYY'
            }}) }}
            {{ form_errors(form.inspectionDue) }}
        </div>
        <div class="form-group" id="contractor-autocomplete-container">
            <label>Company Last Tested:</label>
            <input id="contractor-autocomplete" class="form-control mozilla-input" placeholder="Please start entering Contractor's name"/>
            {{ form_widget( form.companyLastTested, { 'attr' : {'class' : 'selectAutocomplete hidden'}}) }}
            {{ form_errors(form.companyLastTested) }}
        </div>
        <div class="form-group">
            <label>Probable Contractor's Test Fee:</label>
            <div id="priceContractor" class="app-service-form__text-field form-control">-</div>
        </div>
        <div class="form-group">
            <label>Link Inspection to Device:</label>
            <div class="app-service-form__devices notes-account-content">
                <table class="table app-data__table app-data__table--dark app-no-margin">
                    <tbody>
                        {% for deviceItem in form.device %}
                            {% set index = deviceItem.vars.value %}{# get array index #}
                            {% set deviceEntity = form.device.vars.choices[index].data %}{# get entity object #}

                            <tr>
                                {% if deviceEntity.deviceLevel is defined and deviceEntity.deviceLevel >= 1 %}
                                    <td class="app-devices-table__dash-cell">
                                        <div class="app-devices-table__dash"></div>
                                    </td>
                                {% endif %}
                                {% if deviceEntity.deviceLevel is defined and deviceEntity.deviceLevel == 2 %}
                                    <td class="app-devices-table__dash-cell">
                                        <div class="app-devices-table__dash"></div>
                                    </td>
                                {% endif %}
                                <td colspan="{{ deviceEntity.deviceLevel is defined ? 4 - deviceEntity.deviceLevel : 4 }}">
                                    <div class="app-wrapper">
                                        <div>
                                            <img class="app-line--right-text" src="{{ asset('bundles/admin/dist/images/' ~ deviceEntity.named.category.icon) }}">
                                            <a href="{{ path('admin_device_view', {'device': deviceEntity.id}) }}" target="_blank" class="app-link__select app-font--bold app-line--align ">{{ deviceEntity.title is defined ? deviceEntity.title : '' }}</a>
                                            <span class="app-devices-table__device-info app-line--align ">- {{ deviceEntity | deviceInfo | raw }}</span>
                                        </div>
                                        <div>
                                            {{ form_widget(deviceItem, {'attr': {'class': 'app-radio'}}) }}
                                            <label class="app-radio-label app-line--right-text" for="{{ deviceItem.vars.id }}"></label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-group">
            <label>Comments (max. 20 symbols):</label>
            {{ form_widget(form.comment, { 'attr' : {'class': 'app-form__textarea--small form-control mozilla-input', 'placeholder': 'Comments'}}) }}
            {{ form_errors(form.comment) }}
        </div>
        {% block formButtons %}

        {% endblock %}
        </form>
    </div>

    <div class="app-form-error">{{ form_errors(form) }}</div>
    {% block formPopup %}
        {{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
            'modalId' : 'serviceModal',
            'message' : 'Are you sure you want to add this Inspection to the Device?',
            'dataSubmit' : 'Yes'
        }) }}
    {% endblock %}
{% endblock %}


