  {% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}

     <div class="app-main__page-title app-wrapper">
         <div class="app-main__page-title-name">
           History of Device Inspections and Repairs
         </div>
     </div>
    <div class="app-link__container app-form--bordered">
        <div class="app-link__wrapper">
            <div class="app-data">
                {% if inspections | length %}
                    <table class="table app-data__table app-bordered">
                        <thead class="app-data__table-header">
                        <tr>
                            <th></th>
                            <th>Date</th>
                            <th class="app-data-table__th_width_45per" >Service</th>
                            <th>Workorder ID</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for inspection in inspections %}
                        <tr>
                            <td></td>
                            <td>{{ inspection.lastTested | date("m/d/Y") }}</td>
                            {#<td>{{ inspection.named.name }}</td>#}
                            <td class="app-word-breack">
                                {% if not inspection.named.frequency %}
                                    {{ inspection.named.name ~ " - " ~ inspection.named.deficiency }}{{ inspection.comment ? ". " ~ inspection.comment | ucfirst : '' }}
                                {% else %}
                                    {{ inspection.named.name }}
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('admin_workorder_view', {'workorder': inspection.workorder.id }) }}" target="_blank" class="app-link__select app-line--right-text">{{ inspection.workorder.id }}</a>
                            </td>
                            <td>
                                {% if inspection.lastReport %}
                                    <span class="app-report-status--{{ inspection.lastReport.status.alias | lower }}">{{ inspection.lastReport.status.name | upper }}</span>
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td>
                                {% if inspection.lastReport and inspection.lastReport.fileReport is defined and inspection.lastReport.fileReport %}
                                    <a href="{{ inspection.lastReport.fileReport }}" target="_blank" class="app-link__select app-line--right-text">Report</a>
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="app-data__not-found"> No History of Device Inspections or Repairs</div>
                {% endif %}
                <div class="app-wrapper">
                    <div></div>
                    <a href="{{ previousPage }}" class="app-form-button app-link__button app-form-button--indent btn">CLOSE</a>
                </div>
            </div>
        </div>
    </div>
    

{% endblock %}



