{% extends 'AdminBundle:Service:form.html.twig' %}

{% block title %}Reset Service for{% endblock %}

{% block prevPage %}<input type="hidden" name="prevPage" value="{{ prevPage }}">{% endblock %}

{% block serviceNamedfield %}
    <div class="form-group">
        <label>Service Name:</label>
        <div class="app-service-form__text-field form-control">{{ form.vars.value.named.name }}</div>
        {{ form_widget( form.named, { 'attr' : {'hidden':true}}) }}
    </div>
{% endblock %}

{% block formButtons %}
    <div class="app-form-button--right">
        <button type="submit" class="app-form-button btn ">RESET</button>
        <a href="{{ prevPage }}" class="app-form-button app-form-button--grey app-form-button--indent btn">CANCEL</a>
    </div>
{% endblock %}

{% block formPopup %}
    {{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
        'modalId' : 'serviceModal',
        'message' : 'Are you sure you want reset this Service?',
        'dataSubmit' : 'Yes'
    }) }}
{% endblock %}
