<!--service row-->
<tr device-type="show{{ device.named.category.alias | capitalize }}" device="device-{{ device.named.category.alias }}{{ account.id }}" service="service-{{ device.named.category.alias }}{{ account.id }}" type="service" child="parent-device{{ device.id }}" device-account="account-device{{ account.id }}" service-account="account-service{{ account.id }}" row-close="{{ serviceRowClose is defined ? serviceRowClose : 'true'  }}" header-devision="header{{ device.named.category.alias | capitalize }}{{ account.id }}" class="row-show">
    <td class="app-devices-table__service-empty {{service.deleted ? 'app-deleted' : ''}}"></td>
    <td class="app-devices-table__service-empty {{service.deleted ? 'app-deleted' : ''}}"></td>
    <td class="app-devices-table__service-empty {{service.deleted ? 'app-deleted' : ''}}"></td>
    <td></td>
    <td class="app-font--regular {{service.deleted ? 'app-deleted' : ''}}">
       {{ service.named.name ?? '' }}
    </td>
    <td class="app-word-breack app-font--regular {{service.deleted ? 'app-deleted' : ''}}">{{ service.comment ? service.comment : '-' }}</td>
    <td class="app-font--regular {{service.deleted ? 'app-deleted' : ''}}">
        {% if service.fixedPrice %}
            ${{ service.fixedPrice | money_format }}
        {% elseif account | is_message('service_no_fee') and not service.deleted %}
            {{ account | is_message('service_no_fee') | raw  }}
        {% else %}
            -
        {% endif %}
    </td>
    <td class="app-font--regular {{service.deleted ? 'app-deleted' : ''}}">{{ service.named and service.named.frequency ? service.named.frequency.name : '-' }}</td>
    <td class="app-font--regular {{service.deleted ? 'app-deleted' : ''}}">{{ service.lastTested ? service.lastTested | date("m/d/Y") : '-' }}</td>
    <td class="app-font--regular {{service.deleted ? 'app-deleted' : ''}} {{ service.inspectionDue|date('Y-m-d') < date()|date('Y-m-d') ? 'app-color--warning' : '' }}"
    >
        {{ service.inspectionDue | date("m/d/Y") }}
    </td>
    <td class="app-font--regular app-devices-table__service-img_company {{service.deleted ? 'app-deleted' : ''}}">
        {% if service.companyLastTested %}
            <img class="app-devices-table__service-img_company-icon" src="/bundles/admin/dist/images/contractor.svg">
        {% else %}
            -
        {% endif %}
    </td>
    <td class="app-font--regular {{service.deleted ? 'app-deleted' : ''}}">
        {% if service.companyLastTested %}
            <a href="{{ path('admin_contractor_view', {'contractor' : service.companyLastTested.id}) }}" target="_blank" class="app-link__select">{{ service.companyLastTested.name }}</a>
        {% endif %}
    </td>
    <td class="app-font--regular {{service.deleted ? 'app-deleted' : ''}}">
        {{ service.probableFee ? '$' ~ service.probableFee : '-' }}
    </td>
    <td class="app-devices-table__label">
        <span class="app-service-label {{ service.status.cssClass }}">{{ service.status.name ?? '' }}</span>
    </td>
    {# <td class="app-data__table-cell--center">
         <a href="#" class="app-link__table-button btn">Service History</a>
    </td> #}
        <td class="app-devices-table__dash-cell app-text--align-right">
            {% if not service.deleted and service.status.alias not in ['omitted', 'discarded'] %}
                <a href="{{ path('admin_service_update', {'service': service.id}) }}"
                   data-service-canUpdate="{{ service.status.alias in ['under_retest_notice', 'under_workorder', 'under_proposal'] ? 'false' : 'true' }}"
                   class="checkOnUpdateService">
                    <img src="{{ asset('bundles/admin/dist/images/edit.svg') }}">
                </a>
            {% endif %}
        </td>
        <td class="app-devices-table__nav-icons app-text--align-center">
            {% if not service.deleted and service.status.alias not in ['omitted', 'discarded'] %}
                <a href="#" data-link="{{ path('admin_service_delete', {'service': service.id}) }}"
                   class="app-modal-link checkOnDeleteService"
                   {% if service.status.alias in ['under_retest_notice', 'under_workorder', 'under_proposal'] %}
                       data-service-canDelete="false"
                   {% else %}
                       data-toggle="modal"
                       data-target="#deleteServiceModal"
                   {% endif %}
                >
                    <img alt="image delete" src="{{ asset('bundles/admin/dist/images/delete.svg') }}">
                </a>
            {% endif %}
        </td>
        <td class="app-devices-table__nav-icons app-text--align-center">
            {% if service.status.alias in ['under_retest_opportunity'] %}
                <a href="#" data-toggle="modal" data-target="#omitModal" data-link="{{ path('admin_omit_service', {'service': service.id}) }}" class="app-link__select app-modal-link app-line--right-text"
                >Omit</a>
            {% elseif service.status.alias in ['omitted', 'discarded'] %}
                <a href="#" data-toggle="modal" data-target="#restoreModal" data-link="{{ path('admin_restore_service', {'service': service.id}) }}" class="app-link__select app-modal-link app-line--right-text"
                >Restore</a>
            {% endif %}
        </td>
        <td class="app-devices-table__nav-icons app-text--align-center">
            {% if service.status.alias in ['under_retest_opportunity'] %}
                {% if contacts.primary is defined and contacts.primary | length > 0 %}
                    <a href="#" data-toggle="modal" data-target="#addInspectionToProposalModal" data-link="{{ path('admin_add_inspection_to_proposal', {'service': service.id}) }}" class="app-link__select app-link__select--nowrap app-modal-link"
                    >Add to PP</a>
                {% else %}
                    <a href="#" data-toggle="modal" data-target="#confirmQuickAddInspectionToProposalAuthorizerError" class="app-link__select app-link__select--nowrap app-modal-link"
                    >Add to PP</a>
                {% endif %}
            {% endif %}
        </td>

        <td class="app-devices-table__nav-icons app-text--align-center">
            {% if service.status.alias in ['under_retest_opportunity'] %}
                {% if contacts.primary is defined and contacts.primary | length > 0 %}
                    <a href="#"
                       data-toggle="modal"
                       data-target="#addInspectionToWOFormFromList"
                       data-action="{{ path('admin_add_inspection_to_workorder', {'service': service.id}) }}"
                       data-inspection-category="{{ service.device.named.category.alias }}"
                       class="app-link__select app-link__select--nowrap app-modal-link app-line--right-text transferAction addingOptionsInSelect"
                    > Add to WO</a>
                {% else %}
                    <a href="#" data-toggle="modal" data-target="#confirmQuickAddInspectionToWorkorderAuthorizerError" class="app-link__select app-link__select--nowrap app-modal-link app-line--right-text"
                    >Add to WO</a>
                {% endif %}
            {% endif %}
        </td>
</tr>
<!--end service row-->