{% extends 'AdminBundle:Service:form.html.twig' %}

{% block title %}Editing Service for{% endblock %}

{% block prevPage %}<input type="hidden" name="prevPage" value="{{ prevPage }}">{% endblock %}

{% block serviceNamedfield %}
    <div class="form-group">
        <label>Service Name:</label>
        <div class="app-service-form__text-field form-control">{{ form.vars.value.named.name }}</div>
        {{ form_widget( form.named, { 'attr' : {'hidden':true}}) }}
    </div>
{% endblock %}

{% block formButtons %}
    <div class="app-form-button--right">
        <button id="service_update" type="submit" data-update="Yes" class="app-form-button btn ">UPDATE</button>
        <a href="{{ prevPage }}" class="app-form-button app-form-button--grey app-form-button--indent btn">CANCEL</a>
    </div>

    <!-- Modal -->
    {{ include('AdminBundle:layouts/dialogs:infoDialog.html.twig', {
        'modalId' : 'noUpdateModal'
    }) }}
{% endblock %}
