.layout-container {
    margin-top: 20px;
}

.alert-error {
    margin-top: 6px;
    padding: 8px;
}

.alert-error ul {
    padding-left: 20px;
}

.milestone-thumbnail {
    max-width: 500px;
    display: block;
}

.milestone-list-thumbnail {
    padding: 1px;
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 25px;
}

.advert-list-thumbnail {
    padding: 1px;
}

.milestone-bottom-button {
    margin: 20px 0
}

.milestone-table-sort-link {
    font-size: 10px;
}

.milestone-export-button {
    margin-right: 10px;
}

table.milestone-list-table tbody td{
    vertical-align: middle;
}

.milestone-status-checkbox {
    margin-top: 30px;
}

.hidden {
    display: none;
}

.relate-resources-checkbox {
    margin: 0;
}

.go-to-back-button {
    margin-top: 8px;
    margin-bottom: 10px;
}

.button-save-change {
    margin-bottom: 10px;
}

.login-form-input {
    margin-bottom: 10px;
}

.login-form-welcome-label {
    font-weight: 400;
    line-height: 1;
    color: #777;
}

.login-form-title {
    margin-top: 0;
    text-align: center;
    margin-bottom: 15px;
}

.amsat-nav-panel {
    background-color: #3c3c3c;
    border-color: #3c3c3c;
    color: #7c8b95;
    border-radius: 0;
}

.amsat-nav-panel .navbar-brand {
    color: #3f3f41;
    margin-left: -10px!important;
}

.logo {
    height: 40px;
    float: left;
    margin-top: 5px;
}

.amsat-nav-panel .navbar-link {
    color: #fff;
}

.login-form-forgot-password-link {
    margin-bottom: 15px;
}

.icon-button {
    padding: 2px 4px 0 5px;
    font-size: 15px;
    margin-right: 1px;
}

.icon-button:last-child {
    margin-right: 0;
}

.table-actions {
    width: 75px;
}

.main-header-menu {
    margin-left: 50px;
}
.main-header-menu li a {
    color: #fff;
}
.main-header-menu li a:focus,
.main-header-menu li a:hover {
    background: #337ab7;
}
.main-header-menu li a:active {
    background: #286090;
}
.main-header-menu .active {
    background: #286090;
}

.log-out-button {
    background: #3c3c3c;
    border-color: #ea7f1e;
    color: #ea7f1e;
}
.log-out-button:visited {
    background: #3c3c3c;
    border-color: #ea7f1e;
    color: #ea7f1e;
}
.log-out-button:hover {
    background: #3c3c3c;
    border-color: #fff;
    color: #fff;
}
.log-out-button:active {
    background: #3c3c3c!important;
    border-color: #7c8b95!important;
    color: #7c8b95!important;
}

.btn-nda {
    background-color: #ea7f1e;
    border-color: #ea7f1e;
    color: #3c3c3c;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    color: #fff;
    background-color: #3c3c3c;
    border-color: #3c3c3c;
}

.pagination>li>a, .pagination>li>span {
    color: #ea7f1e;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    color: #3c3c3c;
}