{% extends 'AdminBundle:ServiceNamed:form_repair.html.twig' %}

{% block title %}Add New Repair Service to Contractor{% endblock %}

{% block formButtons %}
    <div class="app-form-button--right">
        <button type="submit" class="app-form-button btn app-font--uppercase">Add Service</button>
        <a href="{{ path('admin_contractor_view', {'contractor': form.vars.value.contractor.id}) }}" class="app-form-button app-form-button--grey app-form-button--indent btn">CANCEL</a>
    </div>
{% endblock %}


