{% extends 'AdminBundle:ServiceNamed:form_inspection.html.twig' %}

{% block title %}Add Inspection to Contractor{% endblock %}

{% block formButtons %}
    <div class="app-form-button--right">
        <button type="submit" class="app-form-button btn app-font--uppercase">Add Service</button>
        <a href="{{ path('admin_account_search') }}" class="app-form-button app-form-button--grey app-form-button--indent btn">CANCEL</a>
    </div>
{% endblock %}


