{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}

    <div class="app-main__page-title app-wrapper">
        <div class="app-main__page-title-name">
            {% block title %}{% endblock %}
            <img class="app-service-form__header-icon" src="{{ asset('bundles/admin/dist/images/contractor.svg') }}">
            <a href="{{ path('admin_contractor_view', {'contractor': form.vars.value.contractor.id}) }}" class="app-link__title" target="_blank">{{ form.vars.value.contractor.name }}</a>
        </div>
    </div>

    {{ include('AdminBundle:Opportunity:flash_messages.html.twig', {"app.session": app.session}) }}

    <div class="app-form app-form--roles app-form--flex app-form--bordered">
        <div class="app-form-header">New Repair Service Information</div>
        {{ form_start(form, {'attr' : { 'id' : 'serviceNamedForm', 'class' : 'app-form--full' }}) }}
        {% block prevPage %}{% endblock %}

        {% block serviceNamedfield %}
            <div class="form-group">
                <label>Select Device:<span class="app-required-label">*</span></label>
                {{ form_widget( form.deviceNamed, { 'attr' : {'class' : 'selectpicker form-control mozilla-input', 'placeholder': 'Select Device'}}) }}
                {{ form_errors(form.deviceNamed) }}
            </div>

            <div class="form-group">
                <label>Specify Repair Name:<span class="app-required-label">*</span></label>
                {{ form_widget( form.name, { 'attr' : {'class' : 'form-control mozilla-input', 'placeholder': 'Specify Repair Name'}}) }}
                {{ form_errors(form.name) }}
            </div>
            
            <div class="form-group">
                <label>Specify Deficiency:<span class="app-required-label">*</span></label>
                {{ form_widget( form.deficiency, { 'attr' : {'class' : 'form-control mozilla-input', 'placeholder': 'Specify Deficiency'}}) }}
                {{ form_errors(form.deficiency) }}
            </div>

            <div class="form-group">
                <label>Contractor:</label>
                <div class="app-service-form__text-field form-control">{{ form.vars.value.contractor.name }}
                </div>
            </div>

            <div class="form-group">
                {{ form_widget(form.isNeedSendMunicipalityReport, {'attr': {'class': 'app-checkbox-input'}}) }}
                <label class="app-checkbox-label app-color--white app-color--white" for="admin_bundle_repair_service_named_with_contractor_isNeedSendMunicipalityReport">Does require composing report and sending it to Municipality</label>
            </div>

            <div class="form-group">
                {{ form_widget(form.isNeedMunicipalityFee, {'attr': {'class': 'app-checkbox-input'}}) }}
                <label class="app-checkbox-label app-color--white" for="admin_bundle_repair_service_named_with_contractor_isNeedMunicipalityFee">Does require payment to Municipality</label>
            </div>

            {{ form_widget( form.contractor, { 'attr' : {'class' : 'selectpicker form-control mozilla-input', 'placeholder': 'Select Contractor'}}) }}

        {% endblock %}
        {% block formButtons %}

        {% endblock %}
        </form>
    </div>

    <div class="app-form-error">{{ form_errors(form) }}</div>
    {% block formPopup %}
        
        <!-- Modal -->
        {{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
            'modalId' : 'serviceNamedFormModal',
            'message' : 'Are you sure you want to add this Repair Service to the Contractor?',
            'dataSubmit' : 'Yes'
        }) }}
    {% endblock %}
{% endblock %}


