{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}

    <div class="app-main__page-title app-wrapper">
        <div class="app-main__page-title-name">
            {% block title %}{% endblock %}
            <img class="app-service-form__header-icon" src="{{ asset('bundles/admin/dist/images/contractor.svg') }}">
            <a href="{{ path('admin_contractor_view', {'contractor': form.contractorService.vars.data.contractor.id }) }}" class="app-link__title" target="_blank">{{ form.contractorService.vars.data.contractor.name }}</a>
        </div>
    </div>

    {{ include('AdminBundle:Opportunity:flash_messages.html.twig', {"app.session": app.session}) }}

    <div class="app-form app-form--roles app-form--flex app-form--bordered">
        <div class="app-form-header">Inspection Information</div>
        {{ form_start(form, {'attr' : { 'id' : 'freequencyServiceNamedForm', 'class' : 'app-form--full' }}) }}
        {% block prevPage %}{% endblock %}

        {% block serviceNamedfield %}
            <div class="form-group">
                <label>Inspection Name:<span class="app-required-label">*</span></label>
                {{ form_widget( form.serviceNamed.name, { 'attr' : {'class' : 'form-control mozilla-input', 'placeholder': 'Inspection Name'}}) }}
                {{ form_errors(form.serviceNamed.name) }}
            </div>

            <div class="form-group">
                <label>Select Device:<span class="app-required-label">*</span></label>
                {{ form_widget( form.deviceNamed, { 'attr' : {'class' : 'selectpicker form-control mozilla-input', 'placeholder': 'Select Device'}}) }}
                {{ form_errors(form.deviceNamed) }}
            </div>

            <div class="form-group">
                <label>Frequency, months:<span class="app-required-label">*</span></label>
                {{ form_widget( form.serviceNamed.frequency, { 'attr' : {'class' : 'selectpicker form-control mozilla-input', 'placeholder': 'Frequency, months'}}) }}
                {{ form_errors(form.serviceNamed.frequency) }}
            </div>

            <div class="form-group">
                {{ form_widget(form.serviceNamed.isNeedSendMunicipalityReport, {'attr': {'class': 'app-checkbox-input', 'checked': 'checked'}}) }}
                <label class="app-checkbox-label app-color--white app-color--white" for="admin_bundle_inspection_named_with_contractor_serviceNamed_isNeedSendMunicipalityReport">Does require composing report and sending it to Municipality</label>
            </div>

            <div class="form-group">
                {{ form_widget(form.serviceNamed.isNeedMunicipalityFee, {'attr': {'class': 'app-checkbox-input', 'checked': 'checked'}}) }}
                <label class="app-checkbox-label app-color--white app-color--white" for="admin_bundle_inspection_named_with_contractor_serviceNamed_isNeedMunicipalityFee">Does require payment to Municipality</label>
            </div>

            <div class="form-group">
                <label>State:<span class="app-required-label">*</span></label>
                {{ form_widget( form.contractorService.state, { 'attr' : {'class' : 'selectpicker form-control mozilla-input', 'placeholder': 'State'}}) }}
                {{ form_errors(form.contractorService.state) }}
            </div>

            <div class="form-group">
                <label>Default Price, USD:</label>
                {{ form_widget( form.contractorService.fixedPrice, { 'attr' : {
                    'class' : 'app-validation-currency form-control mozilla-input',
                    'placeholder' : 'Default Price, USD'
                }}) }}
                {{ form_errors(form.contractorService.fixedPrice) }}
            </div>

            <div class="form-group">
                <label>Regulatory Reference:</label>
                {{ form_widget( form.contractorService.reference, { 'attr' : {'class' : 'form-control mozilla-input', 'placeholder': 'Regulatory Reference'}}) }}
                {{ form_errors(form.contractorService.reference) }}
            </div>

            <div class="form-group">
                <label>Estimation time, tech hours:<span class="app-required-label">*</span></label>
                {{ form_widget( form.contractorService.estimationTime, { 'attr' : {'class' : 'form-control mozilla-input', 'placeholder': 'Estimation time, tech hours'}}) }}
                {{ form_errors(form.contractorService.estimationTime) }}
            </div>

        {% endblock %}
        {% block formButtons %}

        {% endblock %}
        </form>
    </div>

    <div class="app-form-error">{{ form_errors(form) }}</div>
    {% block formPopup %}
        {{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
            'modalId' : 'serviceModal',
            'message' : 'Are you sure you want to add this Inspection to the Device?',
            'dataSubmit' : 'Yes'
        }) }}
    {% endblock %}
{% endblock %}


