
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <style>
        a {
            color: #666 !important;
        }

        img {
            border: 0 !important;
        }

        @media screen and (max-device-width: 767px),
        screen and (max-width: 767px),
        screen and (orientation:portrait) {
            #main-table {
                width: 800px;
            }
        }
    </style>
</head>
<body style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #000000;">
<table cellpadding="0" cellspacing="0" align="center" style="max-width: 800px;" id="main-table">
    <tbody>
    <tr>
        <td>
            <table align="center" style="margin-top: 20px; margin-bottom: 20px;">
                <tr>
                    <td style="text-align: right;"><img src="https://abfp-staging.idap.pro/bundles/admin/dist/images/email/email_logo_header.png"></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="padding-top: 15px;">
            <table width="100%" style="border-bottom: 3px solid #e3702a; border-top: 3px solid #e3702a; padding: 15px 0;">
                <tr>
                    <td style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; text-transform: uppercase; text-align: center;">
                        <h1 style="padding: 0; margin: 0;font-size: 26px; font-weight: 700;">
                            {% if proposal.division.alias == 'backflow' or  proposal.division.alias == 'plumbing'%}
                                Past Due Notification of Required Backflow Inspection - {{ proposal.referenceId }}
                            {% elseif proposal.division.alias == 'fire' or proposal.division.alias == 'alarm' %}
                                Past Due Notification of Required Fire And Like Safety Inspection(s) - {{ proposal.referenceId }}
                            {% endif %}
                        </h1>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #000000; font-weight: 400; font-size: 18px; padding: 30px 0; border-bottom: 3px solid #e3702a;">
            {{ body | raw }}
        </td>
    </tr>
    <tr>
        <td>
            <table align="center" style="color: #666666; padding: 20px 0 40px 0">
                <tr>
                    <td style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 18px; padding-right: 10px;"><span style="padding-right: 2px">Tel.:</span> (847) 540-9910</td>
                    <td style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 18px;">www.americanbackflowprevention.com</td>
                </tr>
                <tr>
                    <td style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 18px; padding-right: 10px;">Fax: (847) 540-9954</td>
                    <td style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 18px">mail@americanbackflowprevention.com</td>
                </tr>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>