<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="/var/www/erp/src/AdminBundle/Resources/public/styles/email-styles/reset.css">
    <link rel="stylesheet" href="/var/www/erp/src/AdminBundle/Resources/public/styles/email-styles/main-pdf.css">
    <link rel="stylesheet" href="/var/www/erp/src/AdminBundle/Resources/public/styles/email-styles/footer.css">
</head>
<body>
<div class="footer">
    <div class="footer-container footer-container-border-right">
        <div class="footer-logo">
            <img src="/var/www/erp/src/AdminBundle/Resources/public/images/pdf/footer-logo.jpg" alt="">
        </div>
        <div class="footer-description">We like low prices! If you find a better deal we will beat it by 5%. Feel confident you are getting the best price and best service available with our "Don't Get Burned" policy (DGB). Please call for details.</div>
    </div>
    <div class="footer-container">
        <p class="footer-title">Check out our other services!  Please call for details.</p>
        <div class="footer-list-devices">
            <div class="footer-item-device footer-item-device-plumbing">
                <img src="/var/www/erp/src/AdminBundle/Resources/public/images/pdf/plumbing.png" alt="">
            </div>
            <div class="footer-item-device">
                <img src="/var/www/erp/src/AdminBundle/Resources/public/images/pdf/{% if proposal.division.alias == 'fire' %}backflow-prevention.png{% else %}fire-prevention.png{% endif %}">
            </div>
            {% if proposal.division.alias == 'alarm' %}
                <div class="footer-item-device">
                    <img src="/var/www/erp/src/AdminBundle/Resources/public/images/pdf/backflow-prevention.png">
                </div>
            {% else %}
                <div class="footer-item-device footer-item-device-alarms">
                    <img src="/var/www/erp/src/AdminBundle/Resources/public/images/pdf/fire-alarms.png" alt="">
                </div>
            {% endif %}
            <div class="footer-item-device footer-item-device-suppression">
                <img src="/var/www/erp/src/AdminBundle/Resources/public/images/pdf/fire-suppression.png" alt="">
            </div>
        </div>
    </div>
</div>
</body>
</html>