<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="/var/www/erp/src/AdminBundle/Resources/public/styles/email-styles/reset.css">
    <link rel="stylesheet" href="/var/www/erp/src/AdminBundle/Resources/public/styles/email-styles/main-pdf.css">
    <link rel="stylesheet" href="/var/www/erp/src/AdminBundle/Resources/public/styles/email-styles/header.css">
</head>
<body>
    <div class="header">
        <h1 class="header-title">
            {% if proposal.division.alias in ['fire', 'alarm'] %}
                {% if proposal.type.alias == 'retest' %}
                    Fire equipment inspection notice
                {% elseif proposal.type.alias == 'repair' %}
                    FIRE PROPOSAL
                {% endif %}
            {% elseif proposal.division.alias in ['backflow', 'plumbing'] %}
                {% if proposal.type.alias == 'retest' %}
                    Notice of required  backflow testing
                {% elseif proposal.type.alias == 'repair' %}
                    BACKFLOW PROPOSAL
                {% endif %}
            {% endif %}
        </h1>
    <div class="header-info font-bold">
        <div class="header-date">
            <span class="color-gray padding-right">Date:</span>
            <span>{{ proposal.dateOfProposal | date('m/d/Y') }}</span>
        </div>
        <div class="header-id">
            <span class="color-gray padding-right">Letter ID:</span>
            <span>{{ proposal.referenceId }}</span>
        </div>
    </div>
</div>
</body>
</html>