<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    {#<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">#}
    <link rel="stylesheet" href="/var/www/erp/src/AdminBundle/Resources/public/styles/email-styles/reset.css">
    <link rel="stylesheet" href="/var/www/erp/src/AdminBundle/Resources/public/styles/email-styles/main-pdf.css">
</head>
<body>
    <div class="wrapper">
        <div class="container address-container">
            <div class="device-info device-info-left device-info-border">
                <table>
                    <tbody>
                    <tr>
                        <td class="device-info-container">
                            <table>
                                <tbody>
                                <tr>
                                    <td class="device-info-container-logo">
                                        <img src="/var/www/erp/src/AdminBundle/Resources/public/images/pdf/logo.png" alt="">
                                    </td>
                                    <td class="device-info-container-content color-gray">
                                        <p>American Backflow & Fire Prevention</p>
                                        <p>1540 N Old Rand Rd</p>
                                        <p>Wauconda IL 60084</p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="device-info-container-new">
                            <table>
                                <tbody>
                                <tr>
                                    <td class="device-info-container-content-new font-bold">
                                        <p>{{ parameters.frozen.recipient.contactPerson.ownerEntity.firstName~' '~parameters.frozen.recipient.contactPerson.ownerEntity.lastName  }}{{ parameters.frozen.recipient.contactPerson.ownerEntity.title ? ', '~parameters.frozen.recipient.contactPerson.ownerEntity.title : ''  }}</p>
                                        {% if parameters.frozen.recipient.sendingAddress.addressType.alias == 'site address' %}
                                            <p>{{ parameters.frozen.account.name }}</p>
                                        {% elseif parameters.frozen.recipient.sendingAddress.addressType.alias == 'company address' %}
                                            <p>{{ parameters.frozen.recipient.contactPerson.company.name }}</p>
                                        {% endif %}
                                        <p>{{ parameters.frozen.recipient.sendingAddress.address }}</p>
                                        <p>{{ parameters.frozen.recipient.sendingAddress.city }}, {{ parameters.frozen.recipient.sendingAddress.state.code }} {{ parameters.frozen.recipient.sendingAddress.zip }}</p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="device-info">
                <div class="device-info-container device-info-container-indent">
                    <div class="device-info-container-content max-width color-gray">
                        <div class="float-left">
                            <p>Tel.: (847) 540-9910</p>
                            <p>Fax: (847) 540-9954</p>
                        </div>
                        <div class="float-right device-info-container-content-email device-info-container-content-email-rapair">
                            <p>www.americanbackflowprevention.com</p>
                            <p>mail@americanbackflowprevention.com</p>
                        </div>
                    </div>
                </div>
                <div class="device-info-container-new device-info-container-indent device-info-container-non-indent-top">
                    <table class="max-width">
                        <tbody>
                        <tr>
                            <td class="device-info-container-title-new">
                                <p class="font-bold color-gray">Regarding Property:</p>
                                <p>{{ parameters.frozen.account.name }}</p>
                                <p>{{ parameters.frozen.account.address.address }}</p>
                                <p>
                                    <span>{{ parameters.frozen.account.address.city }}</span>,
                                    <span>{{ parameters.frozen.account.address.state.code }}</span>
                                    <span>{{ parameters.frozen.account.address.zip }}</span>
                                </p>
                            </td>
                            <td class="font-bold text-right device-info-container-content-id-new">
                                <span class="color-gray">Account ID:</span>
                                <span>{{ parameters.frozen.account.ownerEntity is defined ? parameters.frozen.account.ownerEntity.id : parameters.frozen.account.id }}</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="container message">
            <p class="message-subtitle">Dear Client,</p>
            <p>
                According to our records, your fire prevention device(s) located within your building(s) will be due for their inspection and certification on or before <span class="font-bold">{{ parameters.earliestDueDate | date('m/d/Y') }}</span>.
                The inspection(s) at the frequencies below helps ensure the safety and protection of your occupants, is required by the State Fire Marshall, the local fire prevention bureau and your insurance company. American Backflow and Fire Prevention Inc. works diligently to make sure all life safety equipment is working within the standards set forth from the above entities and you are in compliance with proper documentation.
            </p>
            <p class="message-table-repairs">Below you will find the fire protection equipment due to be tested and inspected along with municipal/processing fees, if any.</p>
            <table class="message-table">
                <thead class="message-table-thead color-gray">
                <tr class="message-table-thead">
                    <th class="message-table-th message-table-th--width">Device and Service Name</th>
                    <th class="message-table-th rn-inspection-due-right-indent">Inspection <br /> Due</th>
                    <th class="message-table-th">Regulatory Reference</th>
                    <th class="message-table-th">Service <br /> Fee</th>
                    <th class="message-table-th">Munic. and <br /> Proc. fees</th>
                    <th class="text-right message-table-th">Total Cost</th>
                </tr>
                </thead>
                <tbody>
                    {% for accountNode in tree %}
                        {% if parameters.account.type.alias == 'group account' %}
                            <tr class="page-break-inside proposal-site-row">
                                <td colspan="7" class="page-break-inside">
                                    <div class="relative">
                                        <div class="message-table-background-row">
                                            <img src="/var/www/erp/src/AdminBundle/Resources/public/images/pdf/background-row.jpg" alt="" class="message-table-background-row-image">
                                        </div>
                                        <div class="message-table-icon-device message-table-container-device message-table-td-left message-table-position-content">
                                            <img src="/var/www/erp/src/AdminBundle/Resources/public/images/pdf/account.svg" alt="" class="message-table-icon-site">
                                        </div>
                                        <div class="message-table-container-device message-table-title-device message-table-name-device message-table-position-content message-table-name-device-colored">Site:</div>
                                        <div class="message-table-container-device message-table-title-device message-table-description-device message-table-position-content font-bold">{{ accountNode.account.name }} - {{ accountNode.account.address | address }}</div>
                                    </div>
                                </td>
                            </tr>
                        {% endif %}

                        {% include '@Admin/Proposal/pdf/row_device_with_inspections.html.twig' with {'deviceCollection': accountNode.devices} %}
                    {% endfor %}

                    <tr class="message-table-grant-total-row page-break-inside">
                        <td colspan="2">
                            {% if parameters.isMunicipalityFessWillVary %}
                                <span class="text-left message-table-grant-title-indent color-gray proposal-grand-total-price-title">* Municipality fees will vary. Please call for pricing.</span>
                            {% endif %}
                        </td>

                        <td class="message-table-align-right message-table-description-device message-table-grant-title text-right message-table-td-right" colspan="7">
                            <span class="text-left message-table-grant-title-indent color-gray proposal-grand-total-price-title">Grand Total:</span>
                            <span class="message-table-grant-price text-right font-bold">{{ parameters | get_retest_notice_grand_total }}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p class="message-table-repairs">
                Repairs, if any, will be billed at time and material rates. Repairs are done with your prior approval. This includes all necessary paperwork with copies of reports sent to you and the municipal representative.
            </p>
            <p class="font-bold">Clarifications and Qualifications:</p>
            <ul class="fire-list">
                <li>Customer is responsible for access to sprinkler room and all applicable passcodes.</li>
                <li>Access to all areas of the building(s) required and is customer’s responsibility.</li>
                <li>ABFP can not guarantee alarm silence during the duration of the inspection.</li>
                <li>Tenants shall be notified that the fire inspection is scheduled and alarm may sound.</li>
                <li>Any additional systems, sectional valves or inspections not noted above will be charged accordingly.</li>
                <li>Any deficiencies found will be noted and repair proposal presented.</li>
                <li>Any work done outside the scope of work above will be approved and charged accordingly.</li>
                <li>ABFP is not responsible for leaks due to exercising OS&Y valves.</li>
                <li>Permit fees will be added to the proposed cost of work to be completed.</li>
                <li>Work is to be performed during standard working hours (Monday through Friday 7:00am to 3:30pm).</li>
                <li>Prices valid for 30 days.</li>
                <li>Payment terms net 15 days.</li>
            </ul>
        </div>
        <div class="container feedback page-break-inside">
            <p class="font-bold">Please call our office to arrange to have your device(s) inspected and certified. All calls are recorded for quality assurance and training purposes. Or please use form below to send us your acceptance via fax or email.</p>
            <table class="feedback-table">
                <tbody>
                <tr>
                    <td>
                        <div class="feedback-container">
                            <table>
                                <tr class="">
                                    <td class="feedback-type-icon"><img src="/var/www/erp/src/AdminBundle/Resources/public/images/pdf/scheduling.svg" alt=""></td>
                                    <td class="feedback-type-title">
                                        <p class="feedback-type-title-colored">Scheduling by phone:</p>
                                        <p class="font-bold feedback-number">(847) 540-9910 Ext. 820</p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                    <td>
                        <div class="feedback-container feedback-container-center">
                            <table>
                                <tr>
                                    <td class="feedback-type-icon"><img src="/var/www/erp/src/AdminBundle/Resources/public/images/pdf/technical.svg" alt=""></td>
                                    <td class="feedback-type-title">
                                        <p class="feedback-type-title-colored">Technical questions:</p>
                                        <p class="font-bold feedback-number">(847) 540-9910 Ext. 212</p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                    <td>
                        <div class="feedback-container feedback-container-right">
                            <table>
                                <tr>
                                    <td class="feedback-type-icon"><img src="/var/www/erp/src/AdminBundle/Resources/public/images/pdf/billing.svg" alt=""></td>
                                    <td class="feedback-type-title">
                                        <p class="feedback-type-title-colored">Billing Questions:</p>
                                        <p class="font-bold feedback-number">(847) 540-9910  Ext. 209</p>
                                    </td>
                                    <td class="feedback-type-title"></td>
                                </tr>
                            </table>
                            <div class="feedback-number">

                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="container send-form page-break-inside">
            <table class="send-form-table">
                <tbody>
                <tr>
                    <td class="send-form-title-width">
                        Accepted by:
                    </td>
                    <td>
                            <span>
                                ___________________ Title: ________________ Date: ______________ Signature: _____________________
                            </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="container company font-bold page-break-inside">
            <table>
                <tbody>
                <tr>
                    <td class="company-title">
                        <p>Sincerely,</p>
                        <p>American Backflow & Fire Prevention Team</p>
                    </td>
                    <td class="signature" style="background: url('') no-repeat;">

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>