<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/var/www/erp/src/AdminBundle/Resources/views/Proposal/pdf/styles/main.css">
    <link rel="stylesheet" media="print" href="/var/www/erp/src/AdminBundle/Resources/views/Proposal/pdf/styles/print.css" />
</head>
<body>
    <div class="wrapper">
    <div class="header">
        <h1 class="header-title">Notice of Required Backflow Testing</h1>
        <div class="header-info font-bold">
            <div class="header-date">
                <span class="color-gray padding-right">Date:</span>
                <span>8/21/2017</span>
            </div>
            <div class="header-id">
                <span class="color-gray padding-right">Letter ID:</span>
                <span>AUG17235</span>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="device-info device-info-left device-info-border">
            <div class="device-info-container">
                <div class="device-info-container-logo">
                    <img src="/var/www/erp/src/AdminBundle/Resources/public/images/pdf/logo.png" alt="">
                </div>
                <div class="device-info-container-content">
                    <p>American Backflow Prevention</p>
                    <p>1540 N Old Rand Rd</p>
                    <p>Wauconda, IL 60084</p>
                </div>
            </div>
            <div class="device-info-container device-info-container-non-indent-top">
                <div class="device-info-container-content">
                    <p>Dan Harbut, President </p>
                    <p>American Backflow Prevention</p>
                    <p>1540 N Old Rand Rd</p>
                    <p>Wauconda, IL 60084</p>
                </div>
            </div>
        </div>
        <div class="device-info device-info-right">
            <div class="device-info-container device-info-container-indent">
                <div class="device-info-container-title color-gray">Regarding Property:</div>
                <div class="device-info-container-content">
                    <p>American Backflow Prevention</p>
                    <p>1540 N. Old Rand Rd, Wauconda IL 60084</p>
                </div>
                <p class="device-info-container-content-id font-bold">
                    <span class="color-gray">Account ID:</span>
                    <span>137520</span>
                </p>
            </div>
            <div class="device-info-container device-info-container-indent device-info-container-non-indent-top">

                <div class="device-info-container-content">
                    <div class="font-bold color-gray device-info-container-content-email">
                        <p>www.americanbackflowprevention.com</p>
                        <p>info@americanbackflowprevention.com</p>
                    </div>
                    <div class="font-bold color-gray">
                        <p>Tel.: 847-540-9910</p>
                        <p>Fax: 847-540-9954</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container message">
        <p class="message-subtitle">Dear Client,</p>
        <p>Our records indicate that the backflow prevention device(s) located within your building will be due for their annual inspection and certification on or before <span class="font-bold">07/29/2017</span>. </p>
        <p>Our E.P.A. licensed CCCDI inspector will inspect and certify your device(s) by appointment to ensure your continued compliance with the current E.P.A. Regulation. Please find details regarding suggested services below.</p>
        <table class="message-table">
            <thead>
            <tr>
                <th>Service Name</th>
                <th>Inspection <br /> Due</th>
                <th>Frequency</th>
                <th>Regulatory <br /> Reference</th>
                <th>Regulatory <br /> Code</th>
                <th>Service <br /> Fee</th>
                <th>Municipality and <br /> Processing Fee</th>
                <th>Total Service  <br /> Fee</th>
            </tr>
            </thead>
            <tbody>
            <tr class="message-table-background-row">
                <td colspan="6">
                    <div class="message-table-icon-device message-table-container-device">
                        <img src="/var/www/erp/src/AdminBundle/Resources/public/images/pdf/backflow-colored.svg" alt="">
                    </div>
                    <div class="message-table-container-device message-table-title-device message-table-name-device">RPZ</div>
                    <div class="message-table-container-device message-table-title-device message-table-description-device">- 6”, Watts, 909, 123456789, Fire Protection</div>
                </td>
                <td>2</td>
                <td>3</td>
            </tr>
            <tr>
                <td>
                    <div class="message-table-container-device message-table-title-device message-table-name-device message-table-name-device-non-indent-left">Backflow Annual Inspection</div>
                </td>
                <td>12/12/2023</td>
                <td>Annual</td>
                <td>NFPA25</td>
                <td>153.000</td>
                <td>$150</td>
                <td>$13</td>
                <td>$165</td>
            </tr>
            <tr class="message-table-background-row">
                <td colspan="6">
                    <div class="message-table-icon-device message-table-container-device">
                        <img src="/var/www/erp/src/AdminBundle/Resources/public/images/pdf/backflow-colored.svg" alt="">
                    </div>
                    <div class="message-table-container-device message-table-title-device message-table-name-device">RPDA</div>
                    <div class="message-table-container-device message-table-title-device message-table-description-device">- 6”, Watts, 909, 123456789, Fire Protection</div>
                </td>
                <td>2</td>
                <td>3</td>
            </tr>
            <tr>
                <td>
                    <div class="message-table-container-device message-table-title-device message-table-name-device message-table-name-device-non-indent-left">Backflow Annual Inspection</div>
                </td>
                <td>12/12/2023</td>
                <td>Annual</td>
                <td>NFPA25</td>
                <td>153.000</td>
                <td>$150</td>
                <td>$13</td>
                <td>$165</td>
            </tr>
            <tr class="message-table-grant-total-row">
                <td class="message-table-align-right message-table-description-device message-table-grant-title" colspan="7">Grand Total:</td>
                <td class="message-table-grant-price">$580</td>
            </tr>
            </tbody>
        </table>
        <p>Repairs, if any, will be billed at time and material rates. Repairs are done with your prior approval. This includes all necessary paperwork with copies of reports sent to you.</p>
    </div>
    <div class="container feedback">
        <p class="font-bold">Please call our office to arrange to have your device(s) inspected and certified. All calls are recorded for quality assurance and training purposes.</p>
        <table class="feedback-table">
            <tbody>
            <tr>
                <td>
                    <div class="feedback-container">
                        <table>
                            <tr>
                                <td class="feedback-type-icon"><img src="/var/www/erp/src/AdminBundle/Resources/public/images/pdf/scheduling.svg" alt=""></td>
                                <td class="feedback-type-title">
                                    <p class="feedback-type-title-colored">Scheduling by phone:</p>
                                    <p class="font-bold">(847)-540-9910 Ext. 1</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td>
                    <div class="feedback-container feedback-container-center">
                        <table>
                            <tr>
                                <td class="feedback-type-icon"><img src="/var/www/erp/src/AdminBundle/Resources/public/images/pdf/technical.svg" alt=""></td>
                                <td class="feedback-type-title">
                                    <p class="feedback-type-title-colored">Technical questions:</p>
                                    <p class="font-bold">(847)-540-9910 Ext. 2</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td>
                    <div class="feedback-container feedback-container-right">
                        <table>
                            <tr>
                                <td class="feedback-type-icon"><img src="/var/www/erp/src/AdminBundle/Resources/public/images/pdf/billing.svg" alt=""></td>
                                <td class="feedback-type-title">
                                    <p class="feedback-type-title-colored">Billing Questions:</p>
                                    <p class="font-bold">(847)-540-9910  Ext. 3</p>
                                </td>
                                <td class="feedback-type-title"></td>
                            </tr>
                        </table>
                        <div class="feedback-number">

                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="container send-form">
        <p class="send-form-content font-bold">Or please use form below to send us your acceptance via fax or email:</p>
        <table>
            <tbody>
            <tr>
                <td>Proposal Accepted by:</td>
                <td></td>
                <td>Title:</td>
                <td>Date:</td>
            </tr>
            <tr>
                <td>Please print name:</td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="container company font-bold">
        <p>Sincerely,</p>
        <p>American Backflow & Fire Prevention Team</p>
    </div>
    <div class="line"></div>
    <div class="footer">
        <div class="footer-container footer-container-border-right">
            <div class="footer-logo">
                <img src="/var/www/erp/src/AdminBundle/Resources/public/images/pdf/footer-logo.png" alt="">
            </div>
            <div class="footer-description">We like low prices! If you find a better deal we will beat it by 5%. Feel confident you are getting the best price and best service available with our "Don't Get Burned" policy (DGB). Please call for details.</div>
        </div>
        <div class="footer-container">
            <h2 class="footer-title">Check out our other services!  Please call for details.</h2>
            <div class="footer-list-devices">
                <div class="footer-item-device footer-item-device-plumbing">
                    <img src="/var/www/erp/src/AdminBundle/Resources/public/images/pdf/plumbing.png" alt="">
                </div>
                <div class="footer-item-device">
                    <img src="/var/www/erp/src/AdminBundle/Resources/public/images/pdf/fire-prevention.png" alt="">
                </div>
                <div class="footer-item-device footer-item-device-alarms">
                    <img src="/var/www/erp/src/AdminBundle/Resources/public/images/pdf/fire-alarms.png" alt="">
                </div>
                <div class="footer-item-device footer-item-device-suppression">
                    <img src="/var/www/erp/src/AdminBundle/Resources/public/images/pdf/fire-suppression.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>