<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
        <link rel="stylesheet" href="/var/www/erp/src/AdminBundle/Resources/public/styles/email-styles/reset.css">
    <link rel="stylesheet" href="/var/www/erp/src/AdminBundle/Resources/public/styles/email-styles/main-pdf.css">
</head>
<body>
    <div class="repair-wrapper">
        <div class="container">
            <div class="device-info device-info-left device-info-border">
                <table>
                    <tbody>
                    <tr>
                        <td class="device-info-container">
                            <table>
                                <tbody>
                                <tr>
                                    <td class="device-info-container-logo">
                                        <img src="/var/www/erp/src/AdminBundle/Resources/public/images/pdf/logo.png" alt="">
                                    </td>
                                    <td class="device-info-container-content color-gray">
                                        <p>American Backflow & Fire Prevention</p>
                                        <p>1540 N Old Rand Rd</p>
                                        <p>Wauconda IL 60084</p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="device-info-container-new">
                            <table>
                                <tbody>
                                <tr>
                                    <td class="device-info-container-content-new font-bold">
                                        <p>{{ parameters.recipient.contactPerson.firstName~' '~parameters.recipient.contactPerson.lastName  }}{{ parameters.recipient.contactPerson.title ? ', '~parameters.recipient.contactPerson.title : ''  }}</p>
                                        {% if parameters.recipient.sendingAddress.addressType.alias == 'site address' %}
                                            <p>{{ parameters.account.name }}</p>
                                        {% elseif parameters.recipient.sendingAddress.addressType.alias == 'company address' %}
                                            <p>{{ parameters.recipient.contactPerson.company.name }}</p>
                                        {% endif %}
                                        <p>{{ parameters.recipient.sendingAddress.address }}</p>
                                        <p>{{ parameters.recipient.sendingAddress.city }}, {{ parameters.recipient.sendingAddress.state.code }} {{ parameters.recipient.sendingAddress.zip }}</p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="device-info">
                <div class="device-info-container device-info-container-indent">
                    <div class="device-info-container-content max-width color-gray">
                        <div class="float-left">
                            <p>Tel.: (847) 540-9910</p>
                            <p>Fax: (847) 540-9954</p>
                        </div>
                        <div class="float-right device-info-container-content-email device-info-container-content-email-rapair">
                            <p>www.americanbackflowprevention.com</p>
                            <p>mail@americanbackflowprevention.com</p>
                        </div>
                    </div>
                </div>
                <div class="device-info-container-new device-info-container-indent device-info-container-non-indent-top">
                    <table class="max-width">
                        <tbody>
                        <tr>
                            <td class="device-info-container-title-new">
                                <p class="font-bold color-gray">Regarding Property:</p>
                                <p>{{ parameters.account.name }}</p>
                                <p>{{ parameters.account.address.address }}</p>
                                <p>
                                    <span>{{ parameters.account.address.city }}</span>,
                                    <span>{{ parameters.account.address.state.code }}</span>
                                    <span>{{ parameters.account.address.zip }}</span>
                                </p>
                            </td>
                            <td class="font-bold text-right device-info-container-content-id-new">
                                <span class="color-gray">Account ID:</span>
                                <span>{{ parameters.account.id }}</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="container message without-border-bottom">
            <div class="max-width proposal-main-title">{{ parameters.division.alias }} EQUIPMENT DEFICIENCY CORRECTION PROPOSAL</div>
            <div class="proposal-fire-table-title color-gray">Included Services:</div>
            <table class="message-table proposal-fire-table page-break-all">
                <tbody>
                {% for accountNode in tree %}
                    {% if parameters.account.type.alias == 'group account' %}
                        <tr class="page-break-inside proposal-site-row">
                            <td colspan="7" class="page-break-inside">
                                <div class="relative">
                                    <div class="message-table-background-row">
                                        <img src="/var/www/erp/src/AdminBundle/Resources/public/images/pdf/background-row.jpg" alt="" class="message-table-background-row-image">
                                    </div>
                                    <div class="message-table-icon-device message-table-container-device message-table-td-left message-table-position-content">
                                        <img src="/var/www/erp/src/AdminBundle/Resources/public/images/pdf/account.svg" alt="" class="message-table-icon-site">
                                    </div>
                                    <div class="message-table-container-device message-table-title-device message-table-name-device message-table-position-content message-table-name-device-colored">Site:</div>
                                    <div class="message-table-container-device message-table-title-device message-table-description-device message-table-position-content font-bold">{{ accountNode.account.name }} - {{ accountNode.account.address | address }}</div>
                                </div>
                            </td>
                        </tr>
                    {% endif %}

                    {#{% include '@Admin/Proposal/pdf/row_device_with_repairs.html.twig' with {'deviceCollection': accountNode.devices} %}#}
                    {% include '@Admin/Proposal/pdf/row_device_with_repairs_and_inspections.html.twig' with {'deviceCollection': accountNode.devices} %}
                {% endfor %}


                <!--total-->
                <tr class="message-table-grant-total-row page-break-inside">
                    <td colspan="7">
                        <div class="proposal-message-table-grant-total">
                            <div class="proposal-repairs-services-table-container float-left">
                                <table class="proposal-repairs-services-table">
                                    <tbody>
                                    <tr class="page-break-inside">
                                        <td class="color-gray">Not Included:</td>
                                        {% set notIncluded = null %}
                                        {% for notInc in parameters.notIncludedItems %}
                                            {% set notIncluded = notIncluded ? notIncluded  ~ ', ' ~  notInc.name : notInc.name %}
                                        {% endfor %}
                                        <td>{{ notIncluded ? notIncluded : '-'}}</td>
                                    </tr>
                                    <tr class="page-break-inside">
                                        <td class="color-gray">Payment Terms:</td>
                                        <td>
                                            {{  parameters.account.paymentTerm ? parameters.account.paymentTerm.name : '-' }}
                                            {% if parameters.account.paymentTerm and parameters.account.paymentTerm.description %}
                                                <span class="non-accent-text color-gray">{{ parameters.account.paymentTerm
                                                    .description }}</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr class="page-break-inside">
                                        <td class="color-gray proposal-comments-wide-row">Additional Comments:</td>
                                        <td>{{ parameters.additionalComment ?? '-' }}</td>
                                    </tr>

                                    {% if parameters.additionalCostComment and parameters.additionalCostComment != '' %}
                                        <tr class="page-break-inside">
                                            <td class="color-gray proposal-comments-wide-row">Additional Cost Comments:</td>
                                            <td>{{ parameters.additionalCostComment ?? '-' }}</td>
                                        </tr>
                                    {% endif %}

                                    <tr class="page-break-inside">
                                        {% if parameters.isMunicipalityFessWillVary %}
                                            <td colspan="2" class="color-gray proposal-grand-total-price-title">* Municipality fees will vary. Please call for pricing.</td>
                                        {% endif %}
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="float-left">
                                <table class="proposal-repairs-services-info-table proposal-repairs-right-container">
                                    <tbody>
                                    {% if parameters.allTotalRepairsPrice %}
                                        <tr class="page-break-inside">
                                            <td class="color-gray">Total Repairs price:</td>
                                            <td>{{ parameters.allTotalRepairsPrice ? '$' ~ parameters.allTotalRepairsPrice | money_format : '$0' }}</td>
                                        </tr>
                                    {% endif %}

                                    {% if parameters.serviceTotalFee and parameters.serviceTotalFee > 0 %}
                                        <tr>
                                            <td class="color-gray">Total Inspections Fee:</td>
                                            <td>${{ parameters.serviceTotalFee ? parameters.serviceTotalFee | money_format : '0' }}</td>
                                        </tr>
                                    {% endif %}

                                    {% if parameters.allTotalMunicAndProcFee or parameters.isMunicipalityFessWillVary %}
                                        <tr class="page-break-inside">
                                            <td class="color-gray">Total Munic. and Proc. fees:</td>
                                            <td>{{ parameters | get_proposal_total_munic_and_proc_fee }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if parameters.afterHoursWorkCost and not parameters.afterHoursWorkCost == 0 %}
                                        <tr class="page-break-inside">
                                            <td class="color-gray">After Hours Work Cost:</td>
                                            <td>{{ '$' ~ parameters.afterHoursWorkCost | money_format }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if parameters.additionalCost %}
                                        <tr class="page-break-inside">
                                            <td class="color-gray">Additional Cost:</td>
                                            <td>{{ parameters.additionalCost ? '$' ~ parameters.additionalCost | money_format : '$0' }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if parameters.discount %}
                                        <tr class="page-break-inside">
                                            <td class="color-gray">Discount:</td>
                                            <td>({{ parameters.discount ? '$' ~ parameters.discount | money_format : '$0' }})</td>
                                        </tr>
                                    {% endif %}
                                    {% if parameters.allGrandTotalPrice or parameters.serviceTotalFee %}
                                        <tr class="page-break-inside">
                                            <td class="color-gray">Grand Total:</td>
                                            <td class="message-table-grant-price font-bold">{{ parameters | get_proposal_grand_total }}</td>
                                        </tr>
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
        <div class="container feedback page-break-inside without-padding-top">
            <p class="font-bold">Please call our office to arrange to have your equipment repaired. All calls are recorded for quality and training purposes. Or please use form below to send us your acceptance via fax or email.</p>
            <table class="feedback-table">
                <tbody>
                <tr>
                    <td>
                        <div class="feedback-container">
                            <table>
                                <tr class="">
                                    <td class="feedback-type-icon"><img src="/var/www/erp/src/AdminBundle/Resources/public/images/pdf/scheduling.svg" alt=""></td>
                                    <td class="feedback-type-title">
                                        <p class="feedback-type-title-colored">Scheduling by phone:</p>
                                        <p class="font-bold feedback-number">(847) 540-9910 Ext. 820</p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                    <td>
                        <div class="feedback-container feedback-container-center">
                            <table>
                                <tr>
                                    <td class="feedback-type-icon"><img src="/var/www/erp/src/AdminBundle/Resources/public/images/pdf/technical.svg" alt=""></td>
                                    <td class="feedback-type-title">
                                        <p class="feedback-type-title-colored">Technical questions:</p>
                                        <p class="font-bold feedback-number">(847) 540-9910 Ext. 212</p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                    <td>
                        <div class="feedback-container feedback-container-right">
                            <table>
                                <tr>
                                    <td class="feedback-type-icon"><img src="/var/www/erp/src/AdminBundle/Resources/public/images/pdf/billing.svg" alt=""></td>
                                    <td class="feedback-type-title">
                                        <p class="feedback-type-title-colored">Billing Questions:</p>
                                        <p class="font-bold feedback-number">(847) 540-9910  Ext. 209</p>
                                    </td>
                                    <td class="feedback-type-title"></td>
                                </tr>
                            </table>
                            <div class="feedback-number">

                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="container send-form page-break-inside without-padding-top">
            <table class="send-form-table">
                <tbody>
                <tr>
                    <td class="send-form-title-width">
                        Accepted by:
                    </td>
                    <td>
                            <span>
                                ___________________ Title: ________________ Date: ______________ Signature: _____________________
                            </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="container company font-bold page-break-inside">
            <table>
                <tbody>
                <tr>
                    <td class="company-title">
                        <p>Sincerely,</p>
                        <p>American Backflow & Fire Prevention Team</p>
                    </td>
                    <td class="signature" style="background: url('') no-repeat; height: 55px;">

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>