{% for item in deviceCollection %}
    <tr class="page-break-inside table-row-border-top">
        <td colspan="7" class="page-break-inside">
            <div class="relative">
                {% if item.level == 1 %}
                    <div class="message-table-icon-device message-table-container-device message-table-td-left message-table-position-content message-table-icon-subdevice">
                        <img src="/var/www/erp/src/AdminBundle/Resources/public/images/pdf/circle-orange.svg" alt="">
                    </div>
                {% elseif item.level == 2 %}
                    <div class="message-table-icon-device message-table-container-device message-table-td-left message-table-position-content message-table-icon-subdevice">
                        <img src="/var/www/erp/src/AdminBundle/Resources/public/images/pdf/circle-orange.svg" alt="">
                    </div>
                    <div class="message-table-icon-device message-table-container-device message-table-td-left message-table-position-content message-table-icon-subdevice">
                        <img src="/var/www/erp/src/AdminBundle/Resources/public/images/pdf/circle-orange.svg" alt="">
                    </div>
                {% endif %}
                <div class="message-table-icon-device message-table-container-device message-table-td-left message-table-position-content">
                    <img src="/var/www/erp/src/AdminBundle/Resources/public/images/pdf/{{ item.device.named.category.alias }}-colored.svg" alt="">
                </div>
                <div class="message-table-container-device message-table-title-device message-table-name-device message-table-position-content"><span class="message-table-name-device-colored-{{ item.device.named.category.alias }}">Device:</span> {{ item.device.title }}</div>
                <div class="message-table-container-device message-table-title-device message-table-description-device message-table-position-content">{{ item.device | deviceInfoWW | raw ? ' - '~ item.device | deviceInfoWW | raw : ''}}</div>
            </div>
        </td>
    </tr>

    {% if item.services | length %}
        {% for service in item.services %}
            <tr class="table-row-border-bottom table-row-border-top page-break-inside">
                <td>
                    <div class="message-table-container-device message-table-title-device message-table-name-device message-table-td-left">{{ service.named.name }}</div>
                </td>
                <td>{{ service.inspectionDue | date('m/d/Y') }}</td>
                <td>{{ (service.contractorService.reference is defined and service.contractorService.reference) ? service.contractorService.reference : '-' }}</td>
                <td>{{ service.fixedPrice ? '$' ~ service.fixedPrice | money_format : '-'}}</td>
                <td class="text-center">
                    {{ service | get_view_result_for_service_municipality_fee(item.deviceRepairInfo) }}
                </td>
                <td class="text-right message-table-td-right">{{ service | get_subtotal_fee(item.deviceRepairInfo) }}</td>
            </tr>
        {% endfor %}
    {% endif %}

    {% if item.subDevices | length %}
        {% include '@Admin/Proposal/pdf/row_device_with_inspections.html.twig' with {'deviceCollection': item.subDevices} %}
    {% endif %}
{% endfor %}