{% for item in deviceCollection %}
    <tr class="page-break-inside table-row-border-top table-row-border-top-first-without">
        <td colspan="7" class="page-break-inside" >
            <div class="relative">
                {% if item.level == 1 %}
                    <div class="message-table-icon-device message-table-container-device message-table-td-left message-table-position-content message-table-icon-subdevice">
                        <img src="/var/www/erp/src/AdminBundle/Resources/public/images/pdf/circle-orange.svg" alt="">
                    </div>
                {% elseif item.level == 2 %}
                    <div class="message-table-icon-device message-table-container-device message-table-td-left message-table-position-content message-table-icon-subdevice">
                        <img src="/var/www/erp/src/AdminBundle/Resources/public/images/pdf/circle-orange.svg" alt="">
                    </div>
                    <div class="message-table-icon-device message-table-container-device message-table-td-left message-table-position-content message-table-icon-subdevice">
                        <img src="/var/www/erp/src/AdminBundle/Resources/public/images/pdf/circle-orange.svg" alt="">
                    </div>
                {% endif %}
                <div class="message-table-icon-device message-table-container-device message-table-td-left message-table-position-content">
                    <img src="/var/www/erp/src/AdminBundle/Resources/public/images/pdf/{{ item.device.named.category.alias }}-colored.svg" alt="">
                </div>
                <div class="message-table-container-device message-table-title-device message-table-name-device message-table-position-content"><span class="message-table-name-device-colored-{{ item.device.named.category.alias }}">Device:</span></div>
                <div class="message-table-container-device message-table-title-device message-table-description-device message-table-position-content">{% if item.device | deviceInfoWW %}{{ item.device.title ? item.device.title~' - ' : '' }}{{ item.device | deviceInfoWW | raw }}{% else %}{{ item.device.title ?? '' }}{% endif %}</div>
            </div>
        </td>
    </tr>

    {% if item.services | length %}
        {% if item.isInspections %}
            <tr>
                <td colspan="7">
                    <table class="proposal-services-table">
                        <thead class="color-gray">
                        <tr class="table-row-border-top page-break-inside">
                            <th class="proposal-inspections-name-cell">Inspections</th>
                            <th>Regulatory Reference</th>
                            <th>Inspection Due</th>
                            <th>Service Fee</th>
                            <th class="proposal-repairs-services-table-munic-cell">Munic. and <br /> Proc. Fee</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for service in item.services if service.named.frequency %}
                            <tr class="table-row-border-top {% if not item.isRepairs %} table-row-border-bottom-last {% endif %} page-break-inside">
                                <td>{{ service.named.name ?? '-' }}</td>
                                <td>{{ (service.contractorService.reference is defined and service.contractorService.reference) ? service.contractorService.reference : '-' }}</td>
                                <td>{{ service.inspectionDue | date('m/d/Y') }}</td>
                                <td>{{ service.fixedPrice ? '$' ~ service.fixedPrice | money_format : '-'}}</td>
                                <td>{{ service | get_view_result_for_service_municipality_fee(item.deviceRepairInfo) }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
        {% endif %}

        {% if item.isRepairs %}
            <tr>
                <td colspan="7">
                    <table class="proposal-services-table">
                        <thead class="color-gray">
                        <tr class="table-row-border-top page-break-inside proposal-fire-table-subdevice-row {% if item.isInspections %}proposal-fire-table-subdevice-row--first{% endif %}">
                            <th>Deficiency to fix</th>
                            <th>Suggested Service</th>
                            <th>Deficiency found on</th>
                            <th></th>
                            <th class="proposal-repairs-services-table-munic-cell">Munic. and <br /> Proc. Fee</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for service in item.services if not service.named.frequency %}
                            <tr class="table-row-border-top {% if item.isRepairs %} table-row-border-bottom-last {% endif %} page-break-inside">
                                <td class="deficiency">
                                    {% if not service.named.deficiency and service.comment %}
                                        <p class="color-gray">{{ service.comment | ucfirst }}</p>
                                    {% elseif service.named.deficiency and service.comment %}
                                        {{ service.named.deficiency }}.
                                        <p class="color-gray" style="word-break: break-word; padding-right: 5px;">
                                            {{ service.comment | ucfirst }}</p>
                                    {% else %}
                                        {{ service.named.deficiency }}
                                    {% endif %}
                                </td>
                                <td>{{ service.named.name }}</td>
                                <td>{{ service.inspectionDue | date('m/d/Y') }}</td>
                                <td></td>
                                <td>{{ service | get_view_result_for_service_municipality_fee(item.deviceRepairInfo) }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
        {% endif %}

        <tr class="display-block page-break-inside default-border-bottom">
            <td class="proposal-repairs-services-table-container-width">
                <table class="proposal-repairs-services-table proposal-table-info-indent">
                    <tbody>
                        {% if item.isRepairs %}
                            <tr class="">
                                <td class="color-gray proposal-repair-wide-row">Repair Comments:</td>
                                <td>{{ item.deviceRepairInfo.comments ? item.deviceRepairInfo.comments | raw : '-' }}</td>
                            </tr>
                            <tr class="">
                                <td class="color-gray proposal-repair-wide-row">Special Repair Notifications:</td>
                                <td>{{ item.deviceRepairInfo.specialNotification.name ?? '-' }}</td>
                            </tr>
                        {% endif %}

                        {% if item.isRepairs and item.deviceRepairInfo.price != '0.0' %}
                            <tr class="">
                                <td class="color-gray proposal-repair-wide-row">Repair parts and labor price:</td>
                                <td>{{ item.deviceRepairInfo ? '$' ~ item.deviceRepairInfo.price | money_format : '$0' }}</td>
                                {% set repairPartsAndLabourPriceSum = repairPartsAndLabourPriceSum + item.deviceRepairInfo.price %}
                            </tr>
                        {% endif %}

                        {% if item.isInspections %}
                            <tr>
                                <td class="color-gray proposal-repair-wide-row">Subtotal Inspections Fee:</td>
                                <td>{{ item.deviceRepairInfo.inspectionPrice ? '$' ~ item.deviceRepairInfo.inspectionPrice | money_format : '$0' }}</td>
                            </tr>
                        {% endif %}

                        {% if item.deviceRepairInfo.subtotalMunicAndProcFee != '0.0' or item.deviceRepairInfo.departmentChannelWithFeesWillVary %}
                            <tr class="">
                                <td class="color-gray proposal-repair-wide-row">Subtotal Munic. and Proc. fees:</td>
                                <td>{{ item.deviceRepairInfo | get_view_result_for_device_info_sub_total_mun_and_proc_fee }}</td>
                            </tr>
                        {% endif %}

                        {% if item.deviceRepairInfo.deviceTotal != '0.0' %}
                            <tr class="">
                                <td class="color-gray proposal-repair-wide-row">Device Total:</td>
                                <td>{{ item.deviceRepairInfo | get_device_total }}</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </td>

            <td class="proposal-repairs-device-photo-container">
                {% if item.device.photo %}
                <div class="proposal-repairs-device-photo-container proposal-repairs-device-photo" style="background: url('/var/www/erp/web/{{ item.device.photo }}') no-repeat top right; margin-top: 5px;"></div>{% endif %}
            </td>

        </tr>
    {% endif %}

    {% if item.subDevices | length %}
        {% include '@Admin/Proposal/pdf/row_device_with_repairs_and_inspections.html.twig' with {'deviceCollection': item.subDevices} %}
    {% endif %}
{% endfor %}