{% for item in deviceCollection %}
    <tr class="page-break-inside">
        <td colspan="7" class="page-break-inside">
            <div class="relative">
                {% if item.level == 1 %}
                    <div class="message-table-icon-device message-table-container-device message-table-td-left message-table-position-content message-table-icon-subdevice">
                        <img src="/var/www/erp/src/AdminBundle/Resources/public/images/pdf/circle-orange.svg" alt="">
                    </div>
                {% elseif item.level == 2 %}
                    <div class="message-table-icon-device message-table-container-device message-table-td-left message-table-position-content message-table-icon-subdevice">
                        <img src="/var/www/erp/src/AdminBundle/Resources/public/images/pdf/circle-orange.svg" alt="">
                    </div>
                    <div class="message-table-icon-device message-table-container-device message-table-td-left message-table-position-content message-table-icon-subdevice">
                        <img src="/var/www/erp/src/AdminBundle/Resources/public/images/pdf/circle-orange.svg" alt="">
                    </div>
                {% endif %}
                <div class="message-table-icon-device message-table-container-device message-table-td-left message-table-position-content">
                    <img src="/var/www/erp/src/AdminBundle/Resources/public/images/pdf/{{ item.device.named.category.alias }}-colored.svg" alt="">
                </div>
                <div class="message-table-container-device message-table-title-device message-table-name-device message-table-position-content"><span class="message-table-name-device-colored-{{ item.device.named.category.alias }}">Device:</span></div>
                <div class="message-table-container-device message-table-title-device message-table-description-device message-table-position-content">{% if item.device | deviceInfoWW %}{{ item.device.title ? item.device.title~' - ' : '' }}{{ item.device | deviceInfoWW | raw }}{% else %}{{ item.device.title ?? '' }}{% endif %}</div>
            </div>
        </td>
    </tr>
    {% if item.services | length %}
        <tr>
            <td colspan="7">
                <table class="proposal-services-table">
                    <thead class="color-gray">
                    <tr class="page-break-inside">
                        <th>Deficiency to fix</th>
                        <th>Suggested Service</th>
                        <th>Deficiency found on</th>
                        <th>Munic. and <br /> Proc. Fee</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for service in item.services %}
                        <tr class="page-break-inside">
                            <td class="deficiency">{{ service.named.deficiency }}</td>
                            <td>{{ service.named.name }}</td>
                            <td>{{ service.inspectionDue | date('m/d/Y') }}</td>
                            <td>{{ (service.departmentChannel | municipality_fee) and service.named.isNeedMunicipalityFee ? '$' ~ (service.departmentChannel | municipality_fee) | money_format : '-'}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </td>
        </tr>
        <tr class="page-break-inside default-border-bottom">
            <td class="proposal-repairs-services-table-container-width">
                <table class="proposal-repairs-services-table proposal-table-info-indent">
                    <tbody>
                    <tr class="">
                        <td class="color-gray proposal-repair-wide-row">Repair Comments:</td>
                        <td>{{ item.deviceRepairInfo.comments ? item.deviceRepairInfo.comments | raw : '-' }}</td>
                    </tr>
                    <tr class="">
                        <td class="color-gray proposal-repair-wide-row">Special Repair Notifications:</td>
                        <td>{{ item.deviceRepairInfo.specialNotification.name ?? '-' }}</td>
                    </tr>
                    {% if item.deviceRepairInfo.price != '0.0' %}
                    <tr class="">
                        <td class="color-gray proposal-repair-wide-row">Repair parts and labor price:</td>
                        <td>{{ item.deviceRepairInfo ? '$' ~ item.deviceRepairInfo.price | money_format : '$0' }}</td>
                        {% set repairPartsAndLabourPriceSum = repairPartsAndLabourPriceSum + item.deviceRepairInfo.price %}
                    </tr>
                    {% endif %}
                    {% if item.deviceRepairInfo.subtotalMunicAndProcFee != '0.0' %}
                    <tr class="">
                        <td class="color-gray proposal-repair-wide-row">Subtotal Munic. and Proc. fees:</td>
                        <td>{{ item.deviceRepairInfo ? '$' ~ item.deviceRepairInfo.subtotalMunicAndProcFee | money_format : '$0' }}</td>
                        {% set subtotalMunicAndProcFeeSum = subtotalMunicAndProcFeeSum + item.deviceRepairInfo.subtotalMunicAndProcFee %}
                    </tr>
                    {% endif %}
                    {% if item.deviceRepairInfo.deviceTotal != '0.0' %}
                    <tr class="">
                        <td class="color-gray proposal-repair-wide-row">Device Total:</td>
                        <td>{{ item.deviceRepairInfo ? '$' ~ item.deviceRepairInfo.deviceTotal | money_format : '$0' }}</td>
                    </tr>
                    {% endif %}
                    </tbody>
                </table>
            </td>
            
                <td class="proposal-repairs-device-photo-container">
                    {% if item.device.photo %}
                    <div class="proposal-repairs-device-photo-container proposal-repairs-device-photo" style="background: url('/var/www/erp/web/{{ item.device.photo }}') no-repeat top right; margin-top: 5px;"></div>{% endif %}
                </td>
            
        </tr>
    {% endif %}

    {% if item.subDevices | length %}
        {% include '@Admin/Proposal/pdf/row_device_with_repairs.html.twig' with {'deviceCollection': item.subDevices} %}
    {% endif %}
{% endfor %}