{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}
    <div class="app-main__page-title app-wrapper">
        <div class="app-main__page-title-name">Logs Storage</div>
    </div>

    <form id="filter-opportunities-form">
        <div class="app-wrapper app-filter-form app-filter-form--big app-bordered--shadow">
            <div class="app-opportunities-table-filter__inputs-container">
                <div class="app-opportunities-table-filter__inputs--select">
                    <div class="app-opportunities-table-filter__select-label">
                        <label class="app-color--inactive app-line--right-text">Show Logs:</label>
                    </div>
                    <div class="app-opportunities-table-filter__select-container">
                        <div class="btn-group bootstrap-select">
                            <select class="selectpicker" name="pagerCount" tabindex="-98">
                                <option value="50"{{ (filters.pagerCount is defined) and (filters.pagerCount == 50) ? 'selected': '' }}>50</option>
                                <option value="100"{{ (filters.pagerCount is not defined) or (filters.pagerCount == 100) ? 'selected': '' }}>100</option>
                                <option value="300"{{ (filters.pagerCount is defined) and (filters.pagerCount == 300) ? 'selected': '' }}>300</option>
                                <option value="500"{{ (filters.pagerCount is defined) and (filters.pagerCount == 500) ? 'selected': '' }}>500</option>
                                <option value="all"{{ (filters.pagerCount is defined) and (filters.pagerCount == 'all') ? 'selected': '' }}>All</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="app-opportunities-table-filter__inputs-container app-wrapper--content-start app-filter-form__button--indent">
                <button type="submit" class="app-detailed__button app-opportunities-table-filter__button app-detailed__button--blue btn">Show</button>
            </div>
        </div>
    </form>

    {% if logResults.results | length %}
        <table class="table app-data__table app-bordered--shadow">
            <thead>
            <tr class="app-color--inactive">
                <th>ID</th>
                <th>Date</th>
                <th>User</th>
                <th>Workorder id</th>
                <th>Message</th>
                <th>Request</th>
                <th>Response</th>
                <th>Result</th>
                <th>Full Params</th>
            </tr>
            </thead>
            <tbody >
            {% for log in logResults.results %}
                <tr>
                    <td class="trash-id">{{ log.id }}</td>
                    <td class="trash-id">{{ log.dateCreate | date("m/d/Y H:i:s") }}</td>
                    <td class="trash-message">
                        {{ log.context['user_info'] }}
                    </td>
                    <td class="trash-id">
                        {% if log.context['wo_id'] is defined %}
                            {{ log.context['wo_id'] }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td class="trash-message">{{ log.message }}</td>
                    <td class="trash-message">{{ log.context['request'] }}</td>
                    <td class="trash-message">{{ log.context['response'] }}</td>
                    <td class="trash-message">
                        {% if log.context['negative_result'] is defined %}
                            {{ log.context['negative_result'] }}
                        {% endif %}
                        {% if log.context['positive_result'] is defined %}
                            {{ log.context['positive_result'] }}
                        {% endif %}
                    </td>
                    <td class="trash-message">
                        {% for key, context in log.context %}
                            {{ key }}: {{ context }};
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="app-data__not-found app-bordered--shadow">No Items</div>
    {% endif %}

    {% if logResults.pagesCount is defined and logResults.pagesCount > 1 %}
        <div class="pagination  app-bordered--shadow">
            <a class="app-pagination-arrow{{ logResults.currentPage == 1 ? ' disabled' : '' }}"
               href="{{ path('logger_quickbooks_request_list', {
                   'page' : logResults.currentPage - 1,
                   'pagerCount' : filters.pagerCount is defined ? filters.pagerCount : '',
                   'entityName' : filters.entityName is defined ? filters.entityName : '',
               }) }}">«</a>
            {% for i in range(1, logResults.pagesCount) %}
                <a {% if logResults.currentPage == i %} class="app-active-page" {% endif %}
                        href="{{ path('logger_quickbooks_request_list', {
                            'page' : i,
                            'pagerCount' : filters.pagerCount is defined ? filters.pagerCount : '',
                            'entityName' : filters.entityName is defined ? filters.entityName : '',
                        }) }}">{{ i }}</a>
            {% endfor %}
            <a class="app-pagination-arrow{{ logResults.currentPage == logResults.pagesCount ? ' disabled' : '' }}"
               href="{{ path('logger_quickbooks_request_list', {
                   'page' : logResults.currentPage + 1,
                   'pagerCount' : filters.pagerCount is defined ? filters.pagerCount : '',
                   'entityName' : filters.entityName is defined ? filters.entityName : '',
               }) }}">»</a>
        </div>
    {% endif %}

{% endblock %}
