{% if address.Addr1 is defined and address.Addr1 != '' %}
    <p>
        <span>{{ address.Addr1 }}</span>
    </p>
{% endif %}
{% if address.Addr2 is defined and address.Addr2 != '' %}
    <p>
        <span>{{ address.Addr2 }}</span>
    </p>
{% endif %}
{% if address.Addr3 is defined and address.Addr3 != '' %}
    <p>
        <span>{{ address.Addr3 }}</span>
        ,<span>{{ address.State }}</span>
        <span>{{ address.PostalCode }}</span>
    </p>
{% endif %}
<p>
    <span>{{ address.City ~ ',' }}</span>
    <span>{{ ' ' ~ address.State }}</span>
    <span>{{ address.PostalCode }}</span>
</p>