{% extends 'AdminBundle:Invoice:pdf/index.html.twig' %}

{% block body %}
    <!-- repair-wrapper -->
    <div class="repair-wrapper">

        <!-- container -->
        <div class="container">

            <div class="invoice-pdf__top">

                <!-- device-ibfo -->
                <div class="device-info device-info-left device-info-border">
                    <table>
                        <tbody>
                            <tr>
                                <td class="device-info-container">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <!-- logo -->
                                                <td class="device-info-container-logo">
                                                    <img src="{{ asset('bundles/admin/images/pdf/logo.png', assetsPackage) }}" alt="">
                                                </td>

                                                <!-- address -->
                                                <td class="device-info-container-content">
                                                    <p>American Backflow & Fire Prevention</p>
                                                    <p>1540 N Old Rand Rd</p>
                                                    <p>Wauconda IL 60084</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="device-info-container-new">
                                    <table class="max-width">
                                        <tbody>
                                        <tr>
                                            <!-- Bill to -->
                                            <td class="device-info-container-content-new">
                                                <p class="font-bold color-gray">Bill To:</p>
                                                {{ include("@Admin/Invoice/pdf/address.html.twig", { "address" : billToAddress}) }}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /device-info -->

                <!-- device-info -->
                <div class="device-info device-info-invoice-right">
                    <div class="device-info-container device-info-container-indent">
                        <div class="device-info-container-content max-width color-gray">
                            <div class="float-left invoice-pdf__tel">
                                <p>Tel.: (847) 540-9910</p>
                                <p>Fax: (847) 540-9954</p>
                            </div>
                            <div class="float-right device-info-container-content-email device-info-container-content-email-rapair">
                                <p>www.backflowandfire.com</p>
                                <p>mail@backflowandfire.com</p>
                            </div>
                        </div>
                    </div>

                    <div class="device-info-container-new device-info-container-indent device-info-container-non-indent-top">
                        <table class="max-width">
                            <tbody>
                            <tr>
                                <td class="device-info-container-title-new">
                                    <p class="font-bold color-gray">Regarding Property:</p>
                                    {{ include("@Admin/Invoice/pdf/address.html.twig", { "address" : shipToAddress}) }}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /device-info -->

            </div>

            <!-- device-info -->
            <div class="device-info_margin-top max-width">
                {{ include('@Admin/Invoice/pdf/info.html.twig', {
                    "invoice" : invoice
                }) }}
            </div>
            <!-- /device-info -->

            <!-- message-table -->
            <div class="message-table proposal-fire-table wo-table-page-break page-break-all
            invoice-pdf_margins">
                {{ include('@Admin/Invoice/pdf/invoice-lines.html.twig', {
                    "lines" : lines
                }) }}

                {{ include('@Admin/Invoice/pdf/financial-info.html.twig', {
                    "invoice" : invoice
                }) }}
                <!-- /invoice-pdf-total -->

            </div>
            <!-- /message-table -->

            <div>Thank you for your business.</div>

        </div>
        <!-- /container -->

    </div>
    <!-- /repair-wrapper -->
{% endblock %}