{% set balanceDue = invoice.balanceDue %}
<div class="invoice-pdf__total">
    <table class="float-right">
        <tbody>
        <tr>
            <td class="color-gray wo-details-table-inside-title-row">Total:</td>
            <td class="font-bold">${{ invoice.total | money_format }}</td>
        </tr>
        {% if invoice.overridePayment is defined and invoice.overridePayment > 0 %}
            <tr>
                <td class="color-gray">Payments override:</td>
                <td class="font-bold">${{ invoice.overridePayment | money_format }}</td>
            </tr>
            {% set balanceDue = invoice.total - invoice.overridePayment %}
        {% else %}
            <tr>
                <td class="color-gray">Payments applied:</td>
                <td class="font-bold">${{ invoice.paymentApplied | money_format }}</td>
            </tr>
        {% endif %}
        <tr>
            <td class="color-gray">Balanced due:</td>
            <td class="font-bold">${{ balanceDue | money_format }}</td>
        </tr>
        </tbody>
    </table>
</div>