<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="{{ asset('bundles/admin/styles/email-styles/reset.css', assetsPackage)}}">
    <link rel="stylesheet" href="{{ asset('bundles/admin/styles/email-styles/main-pdf.css', assetsPackage)}}">
    <link rel="stylesheet" href="{{ asset('bundles/admin/styles/email-styles/footer.css', assetsPackage)}}">
</head>
<body>
    <!-- footer -->
    <div class="footer">
            <p class="footer-title footer-title_text-align_center">Check out our other services!  Please call for details.</p>

            <!-- list-devices -->
            <div class="footer-list-devices footer-list-devices_text-align_center">

                <div class="footer-item-device footer-item-backflow-prevention">
                    <img src="/var/www/erp/src/AdminBundle/Resources/public/images/pdf/backflow-prevention.png" alt="">
                </div>

                <div class="footer-item-device footer-item-device-plumbing">
                    <img src="/var/www/erp/src/AdminBundle/Resources/public/images/pdf/plumbing.png" alt="">
                </div>

                <div class="footer-item-device">
                    <img src="/var/www/erp/src/AdminBundle/Resources/public/images/pdf/fire-prevention.png" alt="">
                </div>

                <div class="footer-item-device footer-item-device-alarms">
                    <img src="/var/www/erp/src/AdminBundle/Resources/public/images/pdf/fire-alarms.png" alt="">
                </div>

                <div class="footer-item-device footer-item-device-suppression">
                    <img src="/var/www/erp/src/AdminBundle/Resources/public/images/pdf/fire-suppression.png" alt="">
                </div>

            </div>
            <!-- /list-devices -->

    </div>
    <!-- /footer -->
</body>
</html>