<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('bundles/admin/styles/email-styles/reset.css', assetsPackage)}}">
    <link rel="stylesheet" href="{{ asset('bundles/admin/styles/email-styles/main-pdf.css', assetsPackage)}}">
</head>
<body>
{% block body %}

{% endblock %}
</body>
</html>