<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('bundles/admin/styles/email-styles/reset.css', assetsPackage)}}">
    <link rel="stylesheet" href="{{ asset('bundles/admin/styles/email-styles/main-pdf.css', assetsPackage)}}">
</head>
<body>
    <!-- repair-wrapper -->
    <div class="repair-wrapper">

        <!-- container -->
        <div class="container">

            <div class="invoice-pdf__top">

                <!-- device-info -->
                <div class="device-info device-info-left device-info-border">
                    <table>
                        <tbody>
                            <tr>
                                <td class="device-info-container">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <!-- logo -->
                                                <td class="device-info-container-logo">
                                                    <img src="{{ asset('bundles/admin/images/pdf/logo.png', assetsPackage) }}" alt="">
                                                </td>

                                                <!-- address -->
                                                <td class="device-info-container-content">
                                                    <p>American Backflow & Fire Prevention</p>
                                                    <p>1540 N Old Rand Rd</p>
                                                    <p>Wauconda IL 60084</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="device-info-container-new">
                                    <table class="max-width">
                                        <tbody>
                                        <tr>
                                            <!-- Bill to -->
                                            <td class="device-info-container-content-new">
                                                <p class="font-bold color-gray">Bill To:</p>
                                                <p>
                                                    {#{{ parameters.recipient.contactPerson.firstName~' '~parameters.recipient.contactPerson.lastName  }}{{ parameters.recipient.contactPerson.title ? ', '~parameters.recipient.contactPerson.title : ''  }}#}
                                                    Diana Triveti
                                                </p>
                                                {#{% if parameters.recipient.sendingAddress.addressType.alias == 'site address' %}#}
                                                    <p>
                                                        {#{{ parameters.account.name }}#}
                                                        1570 Maureen Dr.
                                                    </p>
                                                {#{% elseif parameters.recipient.sendingAddress.addressType.alias == 'company address' %}#}
                                                    <p>
                                                        {#{{ parameters.recipient.contactPerson.company.name }}#}
                                                        Hoffman Estates, IL 601930
                                                    </p>
                                                {#{% endif %}#}
                                                {#<p>#}
                                                    {#{{ parameters.recipient.sendingAddress.address }}#}
                                                {#</p>#}
                                                {#<p>#}
                                                    {#{{ parameters.recipient.sendingAddress.city }}, {{ parameters.recipient.sendingAddress.state.code }} {{ parameters.recipient.sendingAddress.zip }}#}
                                                {#</p>#}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /device-info -->

                <!-- device-info -->
                <div class="device-info device-info-invoice-right">
                    <div class="device-info-container device-info-container-indent">
                        <div class="device-info-container-content max-width color-gray">
                            <div class="float-left invoice-pdf__tel">
                                <p>Tel.: (847) 540-9910</p>
                                <p>Fax: (847) 540-9954</p>
                            </div>
                            <div class="float-right device-info-container-content-email device-info-container-content-email-rapair">
                                <p>www.backflowandfire.com</p>
                                <p>mail@backflowandfire.com</p>
                            </div>
                        </div>
                    </div>

                    <div class="device-info-container-new device-info-container-indent device-info-container-non-indent-top">
                        <table class="max-width">
                            <tbody>
                            <tr>
                                <td class="device-info-container-title-new">
                                    <p class="font-bold color-gray">Regarding Property:</p>
                                    <p>
                                        {#{{ parameters.account.name }}#}
                                        Triveti Residence
                                    </p>
                                    <p>
                                        {#{{ parameters.account.address.address }}#}
                                        1570 Maureen Dr.
                                    </p>
                                    <p>
                                        <span>
                                            {#{{ parameters.account.address.city }}#}
                                            Hoffman Estates
                                        </span>,
                                        <span>
                                            {#{{ parameters.account.address.state.code }}#}
                                            IL
                                        </span>
                                        <span>
                                            {#{{ parameters.account.address.zip }}#}
                                            601930
                                        </span>
                                    </p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /device-info -->

            </div>

            <!-- device-info -->
            <div class="device-info_margin-top max-width">
                <table class="max-width">
                    <tbody>
                        <tr>
                            <td class="color-gray wo-details-table-inside-title-row">P.O. No.:</td>
                            <td class="font-bold">Dina</td>
                        </tr>
                        <tr>
                            <td class="color-gray">Terms:</td>
                            <td class="font-bold">COD</td>
                        </tr>
                        <tr>
                            <td class="color-gray">Workorder:</td>
                            <td class="font-bold">3408 - Backflow Division</td>
                        </tr>
                        <tr>
                            <td class="color-gray">Authorized by:</td>
                            <td class="font-bold">Kate Smith</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /device-info -->

            <!-- message-table -->
            <div class="message-table proposal-fire-table wo-table-page-break page-break-all
            invoice-pdf_margins">
                <table class="proposal-services-table wo-services-table max-width">
                    <thead class="color-gray invoice-pdf__thead">
                        <tr class="proposal-fire-table-subdevice-row--first page-break-inside">
                            <th class="invoice-pdf-item_width_20per">Item</th>
                            <th class="invoice-pdf-item_width_50per">Description</th>
                            <th class="invoice-pdf-item_width_10per">QTY</th>
                            <th class="invoice-pdf-item_width_10per">Rate</th>
                            <th class="invoice-pdf-item_width_10per">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- invoice-pdf-item -->
                        <tr class="invoice-pdf__item">
                             <td class="invoice-pdf-item_padding-right">Lorem ipsum dolor sit amet</td>
                             <td class="invoice-pdf-item_padding-right">Lorem ipsum dolor sit amet, consectetuer
                                 adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis,</td>
                             <td>2</td>
                             <td>1 700.25</td>
                             <td>2 400.50</td>
                        </tr>
                        <!-- /invoice-pdf-item -->
                        
                        <!-- invoice-pdf-discount -->
                        <tr class="invoice-pdf__discount">
                           <td>Discount</td>
                           <td></td>
                           <td></td>
                           <td>-40.00</td>
                           <td>-40.00</td>
                        </tr>
                        <!-- /invoice-pdf-discount -->

                    </tbody>
                </table>
                <img class="invoice-pdf-background" src="/bundles/admin/images/pdf/logo_bg.svg" alt="">

                <!-- invoice-pdf-total -->
                <div class="invoice-pdf__total">
                    <table class="float-right">
                        <tbody>
                        <tr>
                            <td class="color-gray wo-details-table-inside-title-row">Total:</td>
                            <td class="font-bold">$2 360.50</td>
                        </tr>
                        <tr>
                            <td class="color-gray">Payments applied:</td>
                            <td class="font-bold">$0</td>
                        </tr>
                        <tr>
                            <td class="color-gray">Balanced due:</td>
                            <td class="font-bold">$2 360.50</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /invoice-pdf-total -->

            </div>
            <!-- /message-table -->

            <div>Thank you for your business.</div>

        </div>
        <!-- /container -->

    </div>
    <!-- /repair-wrapper -->
</body>
</html>