<table class="max-width">
    <tbody>
    <tr>
        <td class="color-gray wo-details-table-inside-title-row">P.O. No.:</td>
        <td class="font-bold">{{ invoice.workorder.poNo and invoice.workorder.poNo != ''  ? invoice.workorder.poNo : '-' }}</td>
    </tr>
    <tr>
        <td class="color-gray">Terms:</td>
        <td class="font-bold">{{ invoice.paymentTerm.name }}</td>
    </tr>
    <tr>
        <td class="color-gray">Workorder:</td>
        <td class="font-bold">{{ invoice.workorder.id }} - {{ invoice.workorder.division.name |capitalize }} Division</td>
    </tr>
    <tr>
        <td class="color-gray">Authorized by:</td>
        {% if invoice.workorder.authorizer is defined and invoice.workorder.authorizer is not null %}
            <td class="font-bold">{{ invoice.workorder.authorizer.contactPerson.firstName ~ ' ' ~ invoice.workorder.authorizer.contactPerson.lastName }}</td>
        {% else %}
            <td class="font-bold">-</td>
        {% endif %}
    </tr>
    </tbody>
</table>