<table class="proposal-services-table wo-services-table max-width">
    <thead class="color-gray invoice-pdf__thead">
    <tr class="proposal-fire-table-subdevice-row--first page-break-inside">
        <th class="invoice-pdf-item_width_20per">Item</th>
        <th class="invoice-pdf-item_width_50per">Description</th>
        <th class="invoice-pdf-item_width_10per">QTY</th>
        <th class="invoice-pdf-item_width_10per">Rate</th>
        <th class="invoice-pdf-item_width_10per message-table-align-right">Amount</th>
    </tr>
    </thead>
    <tbody>
    {% for line in lines %}
        <!-- invoice-pdf-item -->
        <tr class="invoice-pdf__item">
            <td class="invoice-pdf-item_padding-right">{{ line.name }}</td>
            <td class="invoice-pdf-item_padding-right">{{ line.description }}</td>
            <td>{{ (line.item.type.alias not in ['discount'] and line.item.name not in ['Address']) ? line.quantity : '' }}</td>
            <td>{{ line.item.name not in ['Address'] ? line.rate | money_format : '' }}</td>
            <td>{{ line.item.name not in ['Address'] ? line.amount | money_format : '' }}</td>
        </tr>
        <!-- /invoice-pdf-item -->
    {% endfor %}
    </tbody>
</table>
<img class="invoice-pdf-background" src="{{ asset('bundles/admin/images/pdf/logo_bg.svg', assetsPackage) }}" alt="">