{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}
    <div class="app-main__page-title app-wrapper">
        <div class="app-main__page-title-name">Bad Request Storage</div>
    </div>

    {% if trashResults.results | length %}
        <table class="table app-data__table app-bordered--shadow">
            <thead>
            <tr class="app-color--inactive">
                <th class="trash-id">ID</th>
                <th class="trash-date">Date</th>
                <th class="trash-route">Route</th>
                <th class="trash-user">User</th>
                <th class="trash-message">Message</th>
                <th class="trash-params">Params</th>
                <th class="trash-file">File</th>
            </tr>
            </thead>
            <tbody >
            {% for item in trashResults.results %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.dateCreate | date("m/d/Y H:i:s") }}</td>
                    <td class="trash-route">{{ item.route }}</td>
                    <td>
                        {% if item.author %}
                            {{ item.author.firstName }} {{ item.author.lastName }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>{{ item.message | raw }}</td>
                    <td class="trash-params">{{ item.params }}</td>
                    <td><a class="app-link__select trash-file" href="{{ asset(item.file) }}" target="_blank">{{ item.file
                            }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="app-data__not-found app-bordered--shadow">No Items</div>
    {% endif %}

    {% if trashResults.pagesCount is defined and trashResults.pagesCount > 1 %}
        <div class="pagination  app-bordered--shadow">
            <a class="app-pagination-arrow{{ trashResults.currentPage == 1 ? ' disabled' : '' }}"
               href="{{ path('admin_bad_request_storage', {
                   'page' : trashResults.currentPage - 1,
                   'pagerCount' : filterParams.pagerCount is defined ? filterParams.pagerCount : '',
               }) }}">«</a>
            {% for i in range(1, trashResults.pagesCount) %}
                <a {% if trashResults.currentPage == i %} class="app-active-page" {% endif %}
                        href="{{ path('admin_bad_request_storage', {
                            'page' : i,
                            'pagerCount' : filterParams.pagerCount is defined ? filterParams.pagerCount : '',
                        }) }}">{{ i }}</a>
            {% endfor %}
            <a class="app-pagination-arrow{{ trashResults.currentPage == trashResults.pagesCount ? ' disabled' : '' }}"
               href="{{ path('admin_bad_request_storage', {
                   'page' : trashResults.currentPage + 1,
                   'pagerCount' : filterParams.pagerCount is defined ? filterParams.pagerCount : '',
               }) }}">»</a>
        </div>
    {% endif %}

{% endblock %}
