<tr class="{{ hasParent ? 'app-data-company-table__row' : 'app-data__table-row--close' }}">
    <td class="app-data__table-data"></td>
    <td class="app-data__table-data {{ account.deleted ? 'app-deleted' : '' }}">
        {% if not hasParent %}
            <img src="/bundles/admin/dist/images/{{ account.type.alias == 'account' ? 'site.svg' : 'group_site.svg'}}" class="app-data__table-data--icon">
        {% endif %}
    </td>
    <td class="{{ account.deleted ? 'app-deleted' : '' }}">
        {% if hasParent %}
            <img src="/bundles/admin/dist/images/{{ account.type.alias == 'account' ? 'site.svg' : 'group_site.svg'}}" class="app-data__table-data--icon">
        {% endif %}
        <a class="app-link__select app-line--right-text {{ hasParent ? 'app-data-company-table__sub-row--indext-left' : '' }} {{ account.deleted ? 'app-deleted' : '' }}" href="{{ path('admin_account_get', {'accountId': account.id}) }}">{{ account.name }}</a>
        {% if account.deleted %}<span class="label label-danger app-label">Deleted</span>{% endif %}
    </td>
    <td class="app-word-breack">
        {{ account.id }}
    </td>
    <td class="app-word-breack {{ account.deleted ? 'app-deleted' : '' }}">{{ account.address ? account.address.address : "-" }}</td>
    <td class="{{ account.deleted ? 'app-deleted' : ''}}">{{ account.address.city ? account.address.city : "-"}}</td>
    <td class="{{ account.deleted ? 'app-deleted' : ''}}">{{ account.address.state.code ? account.address.state.code : "-"}}</td>
    <td class="{{ account.deleted ? 'app-deleted' : ''}}">{{ account.address.zip ? account.address.zip : "-" }}</td>
    <td class="app-no-padding--right app-link__icon--company {{ account.deleted or (account.parent and account.parent.deleted) ? 'app-deleted' : ''}}">
        {%  if account.parent %}
            <img src="/bundles/admin/dist/images/{{ account.parent.type.alias == 'account' ? 'site.svg' : 'group_site.svg' }}" alt="image account" class="app-data__table-data--icon">
        {% else %}
            -
        {% endif %}
    </td>
    <td class="app-no-padding--left {{ account.deleted ? 'app-deleted' : '' }}">
        {%  if account.parent %}
            <a class="app-link__select app-line--right-text {{ account.parent.deleted ? 'app-deleted' : '' }}" href="{{ path('admin_account_get', {'accountId': account.parent.id}) }}" target="_blank">{{ account.parent.name }}</a>
            {% if account.parent.deleted %}<span class="label label-danger app-label">Deleted</span>{% endif %}
        {% endif %}
    </td>
    <td class="{{ account.deleted ? 'app-deleted' : ''}}">{{ account.clientType.name ? account.clientType.name : "-" }}</td>
    <td></td>
</tr>