{% extends 'AdminBundle:Company:form.html.twig' %}

{% block formHead %}
    <div class="app-main__page-title-name">
		New Company Registration
	</div>
{% endblock %}

{% block formButton %}
    <button type="submit" class="app-form-button btn ">CREATE</button>
{% endblock %}

