{% extends 'AdminBundle:Company:form.html.twig' %}

{% block formHead %}
    <div class="app-link__header--company-form app-main__page-title-name">Create New Company and Link it to
        <img class="app-link__icon" src="{{ asset('bundles/admin/dist/images/contact.svg')}}" alt="image contact">
    </div>
    <div class="app-link__title--company-form">
        <a href="{{ path('admin_contact_person_get', {'contactPerson': contactPerson.id}) }}" target="_blank" class="app-link__title">{{ contactPerson.firstName }} {{ contactPerson.lastName }}</a>
    </div>
{% endblock %}

{% block buttonSubmit %}
    <button data-link="Contact Person" type="submit" class="app-form-button btn ">CREATE</button>
{% endblock %}

{% block buttonCancel %}
    <a href="{{ path('admin_contact_person_search_company_for_select', {'contactPerson': contactPerson.id}) }}" class="app-form-button app-form-button--grey app-form-button--indent btn">CANCEL</a>
{% endblock %}

