{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}
    {{ include('AdminBundle:Opportunity:flash_messages.html.twig', {"app.session": app.session}) }}
<div class="app-wrapper">
	<div class="app-account-main">
		<div class="app-detailed__wrapper">
			<div class="app-detailed__info app-account-separator app-account-max-width">
				<div class="app-account-main__company">
					<div class="app-account-main__company--text-label app-text--align-right app-line--right-text"></div>
					<div class="app-display--inline-block app-line--padding-left app-color--inactive {{ company.deleted ? 'app-deleted' : ''}}">
						<span class="{{company.deleted ? 'app-deleted' : ''}}">Company ID - {{company.id}} {% if company.oldCompanyId %}(Old {{ company.oldCompanyId }}{% if company.sourceEntity %}, Source: {{ company.sourceEntity }}{% endif %}){% endif %}</span>
					</div>
				</div>
				<div class="app-account-main__company app-no-padding--top">
					<div class="app-account-main__company--text-label app-text--align-right app-line--right-text ">
						<img src="{{ asset('bundles/admin/dist/images/company.svg')}}" class="app-account-icon--size">
					</div>
					<div class="app-display--inline-block app-detailed__info__data-title app-cut-string app-line--padding-left {{company.deleted ? 'app-deleted' : ''}}">
                        {{company.name}}
					</div>
				</div>
				<div class="app-account-main__company app-no-padding--top">
					<div class="app-account-main__company--text-label app-text--align-right app-line--right-text">
					</div>
					<div class="app-detailed__info__data-address app-cut-string app-line--padding-left {{ company.address | address  ? '' : 'app-color--inactive' }}">
                        {{ company.address | address ? company.address | address : "No Address" }}
					</div>
				</div>
				<div class="app-account-main__company app-line--padding-top">
					<div class="app-account-main__company--text-label app-text--align-right app-line--right-text">
					</div>
					<div class="app-detailed__info__data-id">
                        {% if company.deleted %}<span class="label label-danger">Deleted</span>{% endif %}
					</div>
				</div>
			</div>
			<div class="app-detailed__info__data app-wrapper app-account-max-width ">
				<div class="app-account-main__company">
					<div class="app-account-main__company--text-label app-text--align-right app-line--right-text">Website: </div>
					<div class="app-display--inline-block {{company.website ? 'app-color--active' : 'app-color--inactive' }} {{ company.deleted ? 'app-deleted' : ''}}">
                        {% if company.website %}
							<a class="app-link__select app-cut-string" href="{{ company.website | url_format }}" target="_blank">{{company.website}}</a>
                        {% else %}
							No Website
                        {% endif %}
					</div>
				</div>
				<div class="app-account-main__company">
					<div class="app-account-main__company--text-label app-text--align-right app-line--right-text">Managing Company: </div>
					<div class="sprite sprite--company "></div>
                    {% if company.parent %}
						<a href="{{ path('admin_company_get', {'company': company.parent.id}) }}" class="app-link__select app-line--right-text app-font--bold {{ company.parent.deleted ? 'app-deleted' : '' }}">{{ company.parent.name }}</a>
                        {% if company.parent.deleted %}<span class="label label-danger app-label">Deleted</span>{% endif %}
                        {#<a href="#" data-toggle="modal" class="app-link__delete app-display--inline-block" data-target=""><img alt="image delete" src="/bundles/admin/dist/images/delete.svg"></a>#}
                    {% else %}
						<span class="app-line--right-text">Not selected</span>
                        {#<a class="app-link__select" href="#">Select</a>#}
                    {% endif %}
				</div>
				<div class="app-account-main__company">
					<div class="app-account-main__company--text-label app-text--align-right app-line--right-text">Billing Address: </div>
					<div class="billing-address">
						<div class="billing-address__line {{ customer.billingAddress | billingAddress ? 'app-color--white' : '' }}">{{ customer.billingAddress | billingAddress | raw }}</div>
					</div>
				</div>
				<div class="app-account-main__company app-account-notes">
					<div class="app-account-main__company--text-label app-text--align-right app-line--right-text">Notes: </div>
					<div class="app-account-notes__content app-account-main__notes-text app-cut-string app-save-space notes-account-content"><div class="app-display--none{{ company.notes ? '' : 'app-color--inactive' }} " data-remove>{{ company.notes ? company.notes : 'No Notes' }}</div></div>
				</div>
			</div>
		</div>
    	{% if not company.deleted %}
			<div class="app-detailed__button-container">
				<a class="app-detailed__button app-detailed__button--red app-detailed__button--shadow btn" data-toggle="modal" data-target="#deleteModal">Delete</a>
				<a class="app-detailed__button app-detailed__button--blue app-detailed__button--shadow btn" href="{{ path('admin_company_update', {'company': company.id}) }}">Edit</a>
			</div>
		{% endif %}
	</div>
	<div class="app-account-addition">
		<div class="app-wrapper app-wrapper--content-start">
			<div class="app-detailed__addition__container--medium app-detailed__addition__container--right-indent">
				<div class="app-detailed__addition__content app-detailed__addition__content--medium">
					<div class="app-detailed__addition__container__title">Comments</div>
					<div class="app-account-addition__details__wrapper">No Comments</div>
				</div>
			</div>
			<div class="app-detailed__addition__container--medium app-detailed__addition__container--right-indent">
				<div class="app-detailed__addition__content app-detailed__addition__content--medium">
					<div class="app-detailed__addition__container__title">Files</div>
					<div class="app-account-addition__details__wrapper">No Files</div>
				</div>
			</div>
		</div>
	</div>
</div>
	<div class="app-data">
		<ul class="nav nav-tabs">
			<li id="tab1" class="{{ (app.request.query.get("tab") == null or app.request.query.get("tab") == '1') ? 'active' : '' }}"><a data-toggle="tab" href="#panel1">Accounts ({{ accountsCount }})</a></li>
			<li id="tab2" class="{{ (app.request.query.get("tab") is defined and app.request.query.get("tab") == '2') ? 'active' : '' }}"><a data-toggle="tab" href="#panel2">Contacts ({{ contacts.count is defined ? contacts.count : 0 }})</a></li>
			<li id="tab3" class="{{ (app.request.query.get("tab") is defined and app.request.query.get("tab") == '3') ? 'active' : '' }}"><a data-toggle="tab" href="#panel3">Subcompanies ({{ contacts.count is defined ? children.count : 0 }})</a></li>
		</ul>
		<div class="tab-content">
			<div id="panel1" class="tab-pane fade {{ (app.request.query.get("tab") == null or app.request.query.get("tab") == '1') ? 'in active' : '' }}">
                {% if accounts is defined and accounts | length > 0 %}
					<table class="table app-data__table app-bordered--shadow app-table-radius">
						<thead class="app-data__table-header">
						<tr>
							<th></th>
							<th></th>
							<th>Site Name</th>
							<th>ID</th>
							<th>Address</th>
							<th>City</th>
							<th>State</th>
							<th>Zip</th>
							<th colspan="2">Link to</th>
							<th class="app-data__table-cell--min">Client Type</th>
							<th></th>
						</tr>
						</thead>
						<tbody >
							{% for accountNode in accounts %}
								{% include '@Admin/Company/account_row.html.twig' with {'account': accountNode.account, 'hasParent': false} %}

								{% if accountNode.children is defined %}
									{% for account in accountNode.children %}
										{% include '@Admin/Company/account_row.html.twig' with {'account': account, 'hasParent': true} %}
									{% endfor %}
								{% endif %}
							{% endfor %}
						</tbody>
					</table>
                {% endif %}

                {#{% if accounts.pagesCount is defined and accounts.pagesCount > 1 %}
					<div class="pagination app-bordered--shadow">
						<a class="app-pagination-arrow {{ accounts.currentPage == 1 ? 'disabled' : '' }}" href="{{ path('admin_company_get', {
                            'company': company.id,
							'a_page': accounts.currentPage - 1,
                            'c_page': app.request.query.get('c_page'),
                            "tab": '1'
                        }) }}">&laquo;</a>

                        {% for i in range(1, accounts.pagesCount) %}
							<a class="{{ accounts.currentPage == i ? 'app-active-page' : '' }}"
							   href="{{ path('admin_company_get', {
                                   'company': company.id,
                                   'a_page': i,
                                   'c_page': app.request.query.get('c_page'),
                                   "tab": '1'
                               }) }}">{{ i }}</a>
                        {% endfor %}

						<a class="app-pagination-arrow {{ accounts.currentPage >= accounts.pagesCount ? 'disabled' : '' }}" href="{{ path('admin_company_get', {
                            'company': company.id,
							'a_page': accounts.currentPage + 1,
                            'c_page': app.request.query.get('c_page'),
                            "tab": '1'
                        }) }}">&raquo;</a>
					</div>
                {% endif %}#}

                {% if not accounts %}
					<div class="app-data__not-found app-bordered--shadow">No linked Accounts</div>
                {% endif %}
			</div>
			<div id="panel2" class="tab-pane fade {{ app.request.query.get("tab") == '2' ? 'in active' : '' }}">
                {% if contacts.results is defined and contacts.count > 0 %}
					<table class="table app-data__table app-bordered--shadow app-table-radius">
						<thead class="app-data__table-header">
						<tr>
							<th></th>
							<th>ID</th>
							<th>Name</th>
							<th>Title</th>
							<th>Email</th>
							<th>Phone</th>
							<th>Cell</th>
							<th>Fax</th>
							<th>COD only</th>
						</tr>
						</thead>
						<tbody >
                        {% for contact in contacts.results %}
							<tr class="app-data__table-row--close app-word-breack">
								<td class="app-data__table-data app-data__table-data--contact {{contact.deleted ? 'app-deleted' : ''}}"></td>
								<td class="{{contact.deleted ? 'app-deleted' : ''}}">{{ contact.id }}</td>
								<td class="app-word-breack">
									<a class="app-link__select app-line--right-text {{contact.deleted ? 'app-deleted' : ''}}" href="{{ path('admin_contact_person_get', {'contactPerson': contact.id}) }}">{{ contact.firstName }} {{ contact.lastName }}</a>
                                    {% if contact.deleted %}<span class="label label-danger app-label">Deleted</span>{% endif %}
								</td>
								<td class="app-word-breack {{contact.deleted ? 'app-deleted' : ''}}">{{ contact.title ? contact.title : "-"}}</td>
								<td class="app-word-breack {{contact.deleted ? 'app-deleted' : ''}}">
                                    {% if contact.email %}
										<a href="{{ "mailto:" ~ contact.email }}" class="app-link__select">{{ contact.email }}</a>
                                    {% else %}
										-
                                    {% endif %}
								</td>
								<td class="{{contact.deleted ? 'app-deleted' : ''}}">{{ contact.phone ?  contact.phone | phone : "-" }} {{ contact.phone and contact.ext ? 'Ext.: ' ~ contact.ext : '' }}</td>
								<td class="{{contact.deleted ? 'app-deleted' : ''}}">{{ contact.cell ? contact.cell | phone : "-" }}</td>
								<td class="{{contact.deleted ? 'app-deleted' : ''}}">{{ contact.fax ? contact.fax | phone : "-" }}</td>
								<td class="{{contact.deleted ? 'app-deleted' : ''}}">{{ contact.cod ? 'YES' : '-' }}</td>
							</tr>
                        {%endfor%}
						</tbody>
					</table>
                {% endif %}

                {% if contacts.pagesCount is defined and contacts.pagesCount > 1 %}
					<div class="pagination app-bordered--shadow">
						<a class="app-pagination-arrow {{ contacts.currentPage == 1 ? 'disabled' : '' }}" href="{{ path('admin_company_get', {
                            'company': company.id,
							'c_page': contacts.currentPage - 1,
                            'a_page': app.request.query.get('a_page'),
                            "tab": '2'
                        }) }}">&laquo;</a>

                        {% for i in range(1, contacts.pagesCount) %}
							<a class="{{ contacts.currentPage == i ? 'app-active-page' : '' }}"
							   href="{{ path('admin_company_get', {
                                   'company': company.id,
								   'c_page': i,
                                   'a_page': app.request.query.get('a_page'),
                                   "tab": '2'
                               }) }}">{{ i }}</a>
                        {% endfor %}

						<a class="app-pagination-arrow {{ contacts.currentPage >= contacts.pagesCount ? 'disabled' : '' }}" href="{{ path('admin_company_get', {
                            'company': company.id,
							'c_page': contacts.currentPage + 1,
                            'a_page': app.request.query.get('a_page'),
                            "tab": '2'
                        }) }}">&raquo;</a>
					</div>
                {% endif %}

                {% if not contacts.count %}
					<div class="app-data__not-found app-bordered--shadow">No linked Contacts</div>
                {% endif %}
			</div>
			<div id="panel3" class="tab-pane fade {{ app.request.query.get("tab") == '3' ? 'in active' : '' }}">
                {% if children.results is defined and children.count > 0 %}
					<table class="table app-data__table app-bordered--shadow app-table-radius">
						<thead class="app-data__table-header">
						<tr>
							<th></th>
							<th>ID</th>
							<th>Company Name</th>
							<th>Address</th>
							<th>City</th>
							<th>State</th>
							<th>Zip</th>
							<th colspan="2">Website</th>
						</tr>
						</thead>
						<tbody >
                        {% for contact in children.results %}
							<tr class="app-data__table-row--close app-word-breack">
								<td class="app-data__table-data app-data__table-data--company {{contact.deleted ? 'app-deleted' : ''}}"></td>
								<td class="{{contact.deleted ? 'app-deleted' : ''}}">{{ contact.id }}</td>
								<td class="app-word-breack">
									<a class="app-link__select app-line--right-text {{contact.deleted ? 'app-deleted' : ''}}" href="{{ path('admin_company_get', {'company': contact.id}) }}">{{ contact.name }}</a>
                                    {% if contact.deleted %}<span class="label label-danger app-label">Deleted</span>{% endif %}
								</td>
								<td class="app-word-breack {{contact.deleted ? 'app-deleted' : ''}}">{{ contact.address and contact.address.address ? contact.address.address : "-"}}</td>
								<td class="app-word-breack {{contact.deleted ? 'app-deleted' : ''}}">{{ contact.address and contact.address.city ? contact.address.city : "-" }}</td>
								<td class="{{contact.deleted ? 'app-deleted' : ''}}">{{ contact.address and contact.address.state ?  contact.address.state.code : "-" }}</td>
								<td class="{{contact.deleted ? 'app-deleted' : ''}}">{{ contact.address and contact.address.zip ? contact.address.zip : "-" }}</td>
								<td class="{{contact.deleted ? 'app-deleted' : ''}}">{{ contact.website ? contact.website : "-" }}</td>
							</tr>
                        {% endfor %}
						</tbody>
					</table>
                {% endif %}

                {% if children.pagesCount is defined and children.pagesCount > 1 %}
					<div class="pagination app-bordered--shadow">
						<a class="app-pagination-arrow {{ children.currentPage == 1 ? 'disabled' : '' }}" href="{{ path('admin_company_get', {
                            'company': company.id,
                            'ch_page': children.currentPage - 1,
                            'c_page': app.request.query.get('a_page'),
                            "tab": '3'
                        }) }}">&laquo;</a>

                        {% for i in range(1, children.pagesCount) %}
							<a class="{{ children.currentPage == i ? 'app-active-page' : '' }}"
							   href="{{ path('admin_company_get', {
                                   'company': company.id,
                                   'ch_page': i,
                                   'c_page': app.request.query.get('a_page'),
                                   "tab": '3'
                               }) }}">{{ i }}</a>
                        {% endfor %}

						<a class="app-pagination-arrow {{ children.currentPage >= children.pagesCount ? 'disabled' : '' }}" href="{{ path('admin_company_get', {
                            'company': company.id,
                            'ch_page': children.currentPage + 1,
                            'c_page': app.request.query.get('c_page'),
                            "tab": '3'
                        }) }}">&raquo;</a>
					</div>
                {% endif %}

                {% if not children.count %}
					<div class="app-data__not-found app-bordered--shadow">No company children's</div>
                {% endif %}
			</div>
		</div>
	</div>

    <!-- Modal -->
    {{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
        'modalId' : 'deleteModal',
        'message' : 'Are you sure you want to delete this Company?',
        'buttonYesHref' : path('admin_company_delete', {'company': company.id}),
		'oneClick' : 'Yes'
    }) }}
{% endblock %}