{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}

	<div class="app-main__page-title app-wrapper">
		{% block formHead %}
			<div class="app-main__page-title-name">
					New Company Registration
			</div>
		{% endblock %}
	</div>
	
	<div class="app-form app-form--flex app-form--bordered">
		<div class="app-form-header">General Company Information</div>
    {{ form_start(form, {'attr': {'id': 'companyForm', 'class':'app-form--wide', 'novalidate': 'novalidate', 'autocomplete': 'off'}}) }}
			<div class="form-group">
				<label>Company Name:<span class="app-required-label">*</span></label>
				{{ form_widget(form.company.name, {'attr': {'name': 'companyName', 'placeholder': 'Company Name', 'class': 'app-capitalize form-control mozilla-input'}}) }}
			</div>
			<div class="form-group">
				<label>Company Address:</label>
				{{ form_widget(form.company.address.address, {'attr': {'name': 'addressLine1', 'placeholder': 'Company Address', 'class': 'app-capitalize form-control mozilla-input'}}) }}
			</div>
			<div class="app-wrapper">
				<div class="app-form-input--medium  form-group">
					{{ form_widget(form.company.address.city, {'attr': {'name': 'city', 'placeholder': 'City', 'class': 'app-capitalize form-control mozilla-input'}}) }}
				</div>
				<div class="app-wrapper app-wrapper--half">
					<div class="app-form-input--big form-group">
						{{ form_widget(form.company.address.state, {'attr': {'name': 'state', 'class': 'selectpicker form-control mozilla-input', "tabindex": "-98"}}) }}

					</div>
					<div class="app-form-input--small form-group">
						{{ form_widget(form.company.address.zip, {'attr': {'name': 'zip', 'placeholder': 'Zip', 'class': 'form-control mozilla-input'}}) }}
					</div>
				</div>
			</div>
			<div class="form-group">
				<label>Website:</label>
				{{ form_widget(form.company.website, {'attr': {'name': 'website', 'placeholder': 'Company Website', 'class': 'form-control mozilla-input'}}) }}
			</div>
			<div class="form-group">
				<label>Notes:</label>
				{{ form_widget(form.company.notes, {'attr': {'name': 'notes', 'placeholder': 'Notes', 'class': 'app-form__textarea--small form-control mozilla-input'}}) }}
			</div>
		<div class="form-group app-contacts-form__group">
			<a id="copyToBillAddress" class="app-link__select app-link__select_float-right" href="#"
			   data-original-title="" title="">Copy from Company Address</a>
			<label>Billing Address for sending invoices:</label>
            {{ form_widget(form.billingAddress.address, {'attr': {'name': 'addressLine1', 'placeholder':
                'Address (up to 3 lines)', 'class': 'app-form__textarea--medium form-control', 'rows': '3',
                'wrap': 'off'}}) }}
		</div>
		<div class="app-wrapper">
			<div class="app-form-input--medium  form-group">
                {{ form_widget(form.billingAddress.city, {'attr': {'name': 'city', 'placeholder': 'City', 'class': 'app-capitalize form-control mozilla-input'}}) }}
			</div>
			<div class="app-wrapper app-wrapper--half">
				<div class="app-form-input--big form-group">
                    {{ form_widget(form.billingAddress.state, {'attr': {'name': 'state', 'class': 'selectpicker form-control mozilla-input', "tabindex": "-98"}}) }}

				</div>
				<div class="app-form-input--small form-group">
                    {{ form_widget(form.billingAddress.zip, {'attr': {'name': 'zip', 'placeholder': 'Zip', 'class': 'form-control mozilla-input'}}) }}
				</div>
			</div>
		</div>
			<div class="app-form-button--right">
				{% block buttonSubmit %}
					<button type="submit" class="app-form-button btn ">CREATE</button>
				{% endblock %}
				{% block buttonCancel %}
					<a href="{{ path('admin_account_search') }}" class="app-form-button app-form-button--grey app-form-button--indent btn">CANCEL</a>
				{% endblock %}
			</div>
    {{ form_end(form) }}
	</div>
	<div class="app-form-error"></div>

	<!-- Modal -->
    {{ include('AdminBundle:layouts/dialogs:confirmDialog.html.twig', {
        'modalId' : 'companyModal',
        'message' : 'Are you sure you want to create this Company?',
        'dataSubmit' : 'Yes'
    }) }}
{% endblock %}
