{% extends 'AdminBundle:Company:form.html.twig' %}

{% block formHead %}
	<div class="app-link__header--site-form app-main__page-title-name">
    	Update Company
	</div>
{% endblock %}

{% block buttonSubmit %}
    <button id="company_update" data-update="Yes" type="submit" class="app-form-button btn ">UPDATE</button>
     <!-- Modal -->
	{{ include('AdminBundle:layouts/dialogs:infoDialog.html.twig', {
		'modalId' : 'noUpdateModal'
	}) }}
{% endblock %}

{% block buttonCancel %}
	<a href="{{ path('admin_company_get', {'company':  form.vars.value.company.id}) }}" class="app-form-button app-form-button--grey app-form-button--indent btn">CANCEL</a>
{% endblock %}

